<div class="d-flex justify-content-between mt-3">
  <div class="task-header-class">
    <span class="h2-strong">Tasks</span>
    <span class="spaninline">
      <!-- <p class="m-0">SW</p> -->
      <img _ngcontent-c5="" src="./assets/img/tiny-brainlitz.svg" />
    </span>
    <br />
    <span class="body-l">{{ tasks.length }}</span>
    <span class="body-l" *ngIf="tasks.length > 1">Tasks</span>
    <span class="body-l" *ngIf="tasks.length <= 1">Task</span>
  </div>
  <div>
    <button
      [ngClass]="true ? 'btn-create' : 'btn-normal'"
      class="btn body-m"
      (click)="goToAssignTask()"
    >
      Assign task
    </button>
  </div>
</div>

<div
  *ngIf="loading == false"
  class="d-flex justify-content-center pt-4 mt-4 task"
>
  <span *ngIf="tasks.length == 0">
    There is no task in this course. Assign tasks to this course.</span
  >
</div>
<!-- <div *ngIf="tasks.length == 0" class="no-task">
  <p>
    There is no task in this course. Assign tasks to this course.
  </p>
</div> -->
<!-- <div class="card-column" *ngIf="tasks.length > 0">
  <div class="task-holder" *ngFor="let task of tasks">
    <div class="cardhead mb-3">
      <span class="custom-or-schedule">{{ task.distributionMode }} -</span>
      <span class="custom-or-schedule" *ngIf="task.taskType == 'CUSTOM'"
        >custom</span
      >
      <br />
      <span class="title-text">{{ task.name }}</span>
    </div>
    <div class="cardbody d-flex justify-content-between">
      <div class="masteries-count d-flex flex-column">
        <span class="count-text" *ngIf="task.taskType == 'CUSTOM'"
          >{{ task.overview.count }} masteries</span
        >
      </div>
      <div class="">
        <span class="count-text">
          {{ task.taskStartDate | utcDate }} - {{ task.taskEndDate | utcDate }}
        </span>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="row">
  <div class="col-md-6">
    <div class="task-holder ">
      <div
        class="image"
        style="background-image: url('https://i.pinimg.com/736x/f9/e2/e9/f9e2e9031f8d8aa69d57239ec39f4025.jpg');width: 100%;border-radius: 8px 8px 0px 0px;"
      >
        <div class="cardhead mb-3">
          <span class="custom-or-schedule">Dignosis - custom task</span>
        </div>
        <div class="cardbody">
          <h3 class="title-text">Living and Non-Living Things</h3>
          <p class="body-text">
            Living things and Non-livings things may share similar
            characteristics however those characteristics may not only determine
            whether it is a living thing or non-living thing...
          </p>
        </div>
      </div>
      <div class="cardfooter d-flex justify-content-between">
        <div class="masteries-count d-flex flex-column">
          <span class="count-text">5 masteries</span>
        </div>
        <div class="">
          <span class="count-text">
            1 Nov 2018 - 30 Dec 2018
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="task-holder ">
      <div
        class="image"
        style="background-image: url('https://image.shutterstock.com/image-photo/maine-coon-kitten-toy-black-260nw-201766829.jpg');width: 100%;border-radius: 8px 8px 0px 0px;"
      >
        <div class="cardhead mb-3">
          <span class="custom-or-schedule">Dignosis - custom task</span>
        </div>
        <div class="cardbody">
          <h3 class="title-text">Living and Non-Living Things</h3>
          <p class="body-text">
            Living things and Non-livings things may share similar
            characteristics however those characteristics may not only determine
            whether it is a living thing or non-living thing...
          </p>
        </div>
      </div>
      <div class="cardfooter d-flex justify-content-between">
        <div class="masteries-count d-flex flex-column">
          <span class="count-text">5 masteries</span>
        </div>
        <div class="">
          <span class="count-text">
            1 Nov 2018 - 30 Dec 2018
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="task-holder ">
      <div
        class="image"
        style="background-image: url('https://image.shutterstock.com/image-photo/high-angle-view-small-cat-260nw-176044520.jpg');width: 100%;border-radius: 8px 8px 0px 0px;"
      >
        <div class="cardhead mb-3">
          <span class="custom-or-schedule">Dignosis - custom task</span>
        </div>
        <div class="cardbody">
          <h3 class="title-text">Living and Non-Living Things</h3>
          <p class="body-text">
            Living things and Non-livings things may share similar
            characteristics however those characteristics may not only determine
            whether it is a living thing or non-living thing...
          </p>
        </div>
      </div>
      <div class="cardfooter d-flex justify-content-between">
        <div class="masteries-count d-flex flex-column">
          <span class="count-text">5 masteries</span>
        </div>
        <div class="">
          <span class="count-text">
            1 Nov 2018 - 30 Dec 2018
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="task-holder ">
      <div
        class="image"
        style="background-image: url('https://image.shutterstock.com/image-photo/norwegian-forest-cat-kitten-wearing-260nw-426890062.jpg');width: 100%;border-radius: 8px 8px 0px 0px;"
      >
        <div class="cardhead mb-3">
          <span class="custom-or-schedule">Dignosis - custom task</span>
        </div>
        <div class="cardbody">
          <h3 class="title-text">Living and Non-Living Things</h3>
          <p class="body-text">
            Living things and Non-livings things may share similar
            characteristics however those characteristics may not only determine
            whether it is a living thing or non-living thing ...
          </p>
        </div>
      </div>
      <div class="cardfooter d-flex justify-content-between">
        <div class="masteries-count d-flex flex-column">
          <span class="count-text">5 masteries</span>
        </div>
        <div class="">
          <span class="count-text">
            1 Nov 2018 - 30 Dec 2018
          </span>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- API Integration -->
<div class="row" *ngIf="loading == false">
  <div class="col-md-6" *ngFor="let task of tasks">
    <div class="task-holder">
      <div
        class="image"
        style="border-radius: 8px 8px 0px 0px;background-size: 100%;"
        [ngStyle]="{ 'background-image': 'url(' + task.posterImageUrl + ')' }"
      >
        <div class="cardhead mb-3">
          <span class="light-body-m custom-or-schedule"
            >{{ task.distributionMode | titlecase }} -
            {{ task.taskType | lowercase }} task</span
          >
        </div>
        <div class="cardbody">
          <h3 class="h3-strong">{{ task.name }}</h3>
          <p class="body-text light-body-m">
            {{
              task.description.length > 110
                ? (task.description | slice: 0:110) + ' ...'
                : task.description
            }}
          </p>
        </div>
      </div>
      <div class="cardfooter d-flex justify-content-between">
        <div class="masteries-count d-flex flex-column">
          <span class="count-text body-l"
            >{{ task.overview.count }} {{ task.overview.type }}</span
          >
        </div>
        <div class="d-flex justify-content-end align-items-end">
          <span class="count-text small">
            {{ task.taskStartDate | utcDate }} -
            {{ task.taskEndDate | utcDate }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="loading == true">
  <div class="col-md-6">
    <div class="task-holder">
      <content-loader>
        <svg:rect x="10" y="50" rx="0" ry="0" width="90%" height="2px" />
        <svg:rect x="10" y="55" rx="0" ry="0" width="80%" height="2px" />
        <svg:rect x="10" y="60" rx="0" ry="0" width="80%" height="2px" />
        <svg:rect x="10" y="75" rx="0" ry="0" width="80%" height="2px" />
        <svg:rect x="10" y="80" rx="0" ry="0" width="80%" height="2px" />
        <svg:rect x="10" y="95" rx="0" ry="0" width="50%" height="2px" />
      </content-loader>
    </div>
  </div>
  <div class="col-md-6">
    <div class="task-holder">
      <content-loader>
        <svg:rect x="10" y="50" rx="0" ry="0" width="90%" height="2px" />
        <svg:rect x="10" y="55" rx="0" ry="0" width="80%" height="2px" />
        <svg:rect x="10" y="60" rx="0" ry="0" width="80%" height="2px" />
        <svg:rect x="10" y="75" rx="0" ry="0" width="80%" height="2px" />
        <svg:rect x="10" y="80" rx="0" ry="0" width="80%" height="2px" />
        <svg:rect x="10" y="95" rx="0" ry="0" width="50%" height="2px" />
      </content-loader>
    </div>
  </div>
</div>
<!-- API Integration -->
