ul {
  list-style: none;
}

a.nav-link.active {
  color: #fff;
  background-color: #0065f2;
  border-radius: 4px;
  fill: #ffffff !important;
}

a.nav-link {
  fill: #475466;
  padding: 10px 26px;
  margin-bottom: 12px;
}
