<div>
  <div class="create-term-wrapper">
    <div class="d-flex align-items-center pb-1" (click)="onClickCancel()">
      <i class="fa fa-angle-left text-c200"></i>
      <div class="light-body-l pl-1 back-to">Back</div>
    </div>
    <div class="h1-strong text-c300 pb-2">
      {{ modalType == 'create' ? 'Create Term' : 'Edit Term' }}
    </div>
    <div class="label-l text-c500 pb-3">
      Choose Lesson
    </div>
    <div>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <button
            class="date-btn"
            (click)="d.toggle(); $event.stopPropagation()"
          >
            <span *ngIf="dateFormat.fromDate == null">Start Date</span>
            <span *ngIf="dateFormat.fromDate != null">{{
              dateFormat.fromDate
            }}</span>
            <img src="./assets/icons/calender.svg" />
          </button>
          <button
            class="date-btn ml-2"
            (click)="d.toggle(); $event.stopPropagation()"
          >
            <span *ngIf="dateFormat.toDate == null">End Date</span>
            <span *ngIf="dateFormat.toDate != null">{{
              dateFormat.toDate
            }}</span>
            <img src="./assets/icons/calender.svg" />
          </button>
        </div>
        <div
          class="d-flex justify-content-center align-items-center lesson-count"
        >
          Selected lessons: {{ listDate?.length }}
        </div>
      </div>
      <div>
        <input
          #myRangeInput
          class="datepickerInput"
          placeholder="mm/dd/yyyy - mm/dd/yyyy"
          name="dp"
          ngbDatepicker
          [dayTemplate]="t"
          [autoClose]="false"
          [displayMonths]="1"
          [maxDate]="maxDate"
          [minDate]="minDate"
          outsideDays="hidden"
          #d="ngbDatepicker"
          (document:click)="closeDatepicker(d, $event)"
        />

        <ng-template #t let-date="date" let-focused="focused">
          <span
            class="custom-day"
            [class.range]="
              isFrom(date) || isTo(date) || isInside(date) || isHovered(date)
            "
            [class.faded]="isHovered(date) || isInside(date)"
            (click)="onDateSelection(date)"
            (mouseenter)="hoveredDate = date"
            (mouseleave)="hoveredDate = null"
          >
            {{ date.day }}
          </span>
        </ng-template>
      </div>
    </div>
    <div class="d-flex w-100 lessons-wrapper">
      <div
        class="date-slot text-center"
        *ngFor="let date of listDate"
        [ngStyle]="{
          'background-color':
            selectedColor == null ? '#007FFF' : selectedColor.background,
          color: selectedColor == null ? '#FFFFFF' : selectedColor.text
        }"
      >
        <div class="caption-s">{{ date | date: 'd' }}</div>
        <div class="small">{{ date | date: 'MMM' }}</div>
      </div>
    </div>
    <div class="pt-2">
      <label for="name" class="input-label">Label</label>
      <input
        type="text"
        class="form-control create-input"
        placeholder="Type makeup pass name here"
        name="label"
        [(ngModel)]="termLabel"
        required
        #term_label="ngModel"
      />
    </div>
    <div class="pt-4">
      <label>Choose color</label>
      <div class="d-flex color-palette">
        <div
          class="color"
          *ngFor="let item of colorPaletteArr"
          [ngStyle]="{
            'background-color': item.background,
            border:
              selectedColor?.background == item.background &&
              selectedColor?.text == item.text
                ? '2px solid #007FFF'
                : unset
          }"
          (click)="selectedColor = item"
        ></div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end create-term-footer">
    <button class="btn" (click)="onClickCancel()">
      Cancel
    </button>
    <button
      *ngIf="modalType == 'create'"
      class="btn bg-b100 text-s0 ml-3"
      (click)="createTerm()"
      [disabled]="
        !fromDate || !toDate || termLabel == '' || selectedColor == null
      "
    >
      Confirm
    </button>
    <button
      *ngIf="modalType == 'edit'"
      class="btn bg-b100 text-s0 ml-3"
      (click)="editTerm()"
      [disabled]="
        !fromDate || !toDate || termLabel == '' || selectedColor == null
      "
    >
      Confirm
    </button>
  </div>
</div>
