.create-term-wrapper {
  padding: 20px 32px;
}

.create-term-footer {
  padding: 16px 32px;
  box-shadow: 0px -1px 0px #e3e4e5;
}

.back-to {
  color: #2e3d4d;
  cursor: pointer;
}

.date-btn {
  width: 158px;
  height: 64px;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #eeecf1;
  background: #0080f8;
  padding: 16px 10px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.48), 0px 0px 4px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  cursor: pointer;
}

.color-palette .color {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 20px;
}

/****** Date picker ******/
.datepickerInput {
  visibility: hidden;
  height: 0px;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
/****** Date picker ******/
