<app-header class="hide"></app-header>

<div class="sticky-back-user" [ngClass]="{ 'sticky-bar': isCreateFix == true }">
  <button
    type="button"
    class="back-button display-flex align-items-center"
    (click)="back()"
  >
    <i class="fa fa-angle-left left-arrow"></i>
    <p class="back-staff-txt text-c300 body-l">Staff</p>
  </button>
</div>

<div class="d-flex justify-content-center">
  <div class="inner-wrapper-detail">
    <button
      type="button"
      class="back-button display-flex align-items-center"
      (click)="back()"
    >
      <i class="fa fa-angle-left left-arrow"></i>
      <p class="back-staff-txt text-c300 body-l">Staff</p>
    </button>
    <div class="col-md-12 p-0 mr-bt-top">
      <h3 *ngIf="isupdate == false" class="h3-strong text-c300">
        Create staff account
      </h3>
      <h3 *ngIf="isupdate == true" class="h3-strong text-c300">
        Update staff account
      </h3>
    </div>
    <form class="form-wrap" novalidate #createForm="ngForm">
      <div class="row display-flex">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7">
          <div class="form-group form-divider">
            <div class="d-flex justify-content-between">
              <label for="" class="label-txt h3-strong text-c300">
                Display name
              </label>
              <div class="limit-wordcount body-m text-b100">
                <span>{{ wordLength }}/unlimited</span>
              </div>
            </div>
            <input
              type="text"
              class="form-control light-body-l text-c300"
              placeholder="Type preferred name here"
              name="preferredName"
              [(ngModel)]="formFields.preferredName"
              #preferredName="ngModel"
              (focus)="focusMethod($event, 'name', $event.target.value)"
              (blur)="blurMethod($event, 'name')"
              (input)="changeMethod($event.target.value)"
              required
            />
            <div
              *ngIf="
                preferredName.invalid &&
                (preferredName.dirty || preferredName.touched)
              "
              class="alert alert-danger"
            >
              <div [hidden]="!preferredName.errors.required">
                Display name is required!
              </div>
            </div>
          </div>
          <div class="form-group form-divider">
            <div class="d-flex justify-content-between">
              <label for="firstname" class="label-txt h3-strong text-c300"
                >Full name</label
              >
              <div class="limit-wordcount2 body-m text-b100">
                <span>{{ wordLength }}/60characters</span>
              </div>
            </div>
            <input
              type="text"
              class="form-control light-body-l text-c300"
              placeholder="Type full name here"
              name="fullName"
              [(ngModel)]="formFields.fullName"
              #fullName="ngModel"
              (focus)="focusMethod($event, 'fullname', $event.target.value)"
              (blur)="blurMethod($event, 'fullname')"
              maxlength="60"
              (input)="changeMethod($event.target.value)"
              required
            />
            <div
              *ngIf="fullName.errors && (fullName.dirty || fullName.touched)"
              class="alert alert-danger"
            >
              <div [hidden]="!fullName.errors.required">
                Full name is required!
              </div>
            </div>
          </div>
          <div class="form-group form-divider">
            <label for="" class="label-txt h3-strong text-c300"
              >Email address</label
            >
            <input
              type="email"
              class="form-control light-body-l text-c300"
              placeholder="Type email address here"
              (keyup)="validateEmail(formFields.email)"
              (input)="validateEmail(formFields.email)"
              name="email"
              [(ngModel)]="formFields.email"
              #email="ngModel"
              required
            />
            <div
              *ngIf="email.errors && (email.dirty || email.touched)"
              class="alert alert-danger"
            >
              <div [hidden]="!email.errors.required">
                Email is required!
              </div>
            </div>
            <div *ngIf="emailAlert" class="alert alert-danger">
              Please provide a valid email
            </div>
          </div>
          <div *ngIf="isupdate" class="form-group form-divider">
            <div class="d-flex flex-row">
              <label for="" class="label-txt h3-strong text-c300"
                >Change password</label
              >
              <div class="toggle-wrap">
                <label class="switch">
                  <input
                    type="checkbox"
                    (change)="changePassword(isPasswordChange)"
                    [checked]="false"
                  />
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
            <div *ngIf="isPasswordChange">
              <input
                type="password"
                class="form-control light-body-l text-c300"
                placeholder="Type password here"
                name="password"
                [(ngModel)]="formFields.password"
                #password="ngModel"
                required
              />
              <div
                *ngIf="password.errors && (password.dirty || password.touched)"
                class="alert alert-danger"
              >
                <div [hidden]="!password.errors.required">
                  Password is required!
                </div>
              </div>
            </div>
          </div>

          <div class="form-group form-divider">
            <div class="d-flex justify-content-between">
              <label for="about" class="label-txt h3-strong text-c300"
                >About</label
              >
              <div class="limit-wordcount1 body-m text-b100">
                <span>{{ wordLength }}/280characters</span>
              </div>
            </div>
            <textarea
              class="form-control light-body-l text-c300"
              rows="3"
              placeholder="Type about here"
              name="about"
              (focus)="focusMethod($event, 'about', $event.target.value)"
              (blur)="blurMethod($event, 'about')"
              maxlength="280"
              (input)="changeMethod($event.target.value)"
              [(ngModel)]="formFields.about"
              #about="ngModel"
            ></textarea>
          </div>

          <div
            class="form-group form-divider"
            *ngFor="let field of customFields; let i = index"
          >
            <label for="guardmail" class="label-txt h3-strong text-c300">{{
              field.name
            }}</label>
            <div *ngIf="field.controlType == 'Textarea'">
              <input
                *ngIf="field.dataType == 'Number'"
                type="number"
                placeholder="{{ field.description }}"
                name="{{ field.name }}"
                [(ngModel)]="field.value"
                class="date-field"
                (keypress)="numberOnly($event)"
              />
              <textarea
                *ngIf="field.dataType === 'String'"
                class="form-control light-body-l text-c300"
                rows="3"
                placeholder="{{ field.description }}"
                name="{{ field.name }}"
                [(ngModel)]="field.value"
              ></textarea>
            </div>

            <div *ngIf="field.controlType === 'Datepicker'">
              <div class="input-wrap">
                <div class="customField-dp">
                  <input
                    type="text"
                    placeholder="{{ field.description }}"
                    class="input-day dropD startInput"
                    name="{{ 'date' + i }}"
                    (click)="date.toggle()"
                    ngbDatepicker
                    [(ngModel)]="field.value"
                    (document:click)="closeDropdown($event, 'start', date)"
                    #date="ngbDatepicker"
                    readonly
                  />
                </div>
              </div>
            </div>

            <div *ngIf="field.controlType === 'Radio'">
              <div
                class="d-flex pb-3"
                *ngFor="let item of field.inputValues; let j = index"
                style="padding-bottom: 24px;"
              >
                <label
                  for="{{ 'radio' + i + j }}"
                  class="m-0 p-0 d-flex align-items-center"
                >
                  <input
                    checked="checked"
                    type="radio"
                    id="{{ 'radio' + i + j }}"
                    (click)="radioCheck(item, field.inputValues, i, j)"
                    name="{{ 'radio' + i + j }}"
                    class="d-none"
                  />
                  <div *ngIf="!item.isCheck" class="rounded-box"></div>
                  <div *ngIf="item.isCheck" class="rounded-checked">
                    <span class="radio-checked bg-b100"></span>
                  </div>
                  <div
                    class="box-label body-l"
                    [ngClass]="{ 'checkedDate text-b100': item.isCheck }"
                  >
                    {{ item.name }}
                  </div>
                </label>
              </div>
            </div>

            <div *ngIf="field.controlType === 'Checkbox'">
              <div
                class="d-flex"
                *ngFor="let item of field.inputValues; let j = index"
                style="padding-bottom: 24px;"
              >
                <label class="d-flex m-0 p-0 align-items-center">
                  <div *ngIf="!item.isCheck" class="square-box"></div>
                  <div *ngIf="item.isCheck" class="square-checked bg-b100">
                    <i class="fa fa-check"></i>
                  </div>

                  <input
                    type="checkbox"
                    id="{{ 'checkBox' + i + j }}"
                    (click)="checkBoxCheck(item)"
                    name="{{ 'checkBox' + i + j }}"
                    class="regular-checkbox"
                    [checked]="item.isCheck"
                  />
                  <div
                    class="box-label body-l"
                    [ngClass]="{ 'checkedDate text-b100': item.isCheck }"
                  >
                    {{ item.name }}
                  </div>
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-12 pad-bottom">
            <div
              style="border-bottom: 1px solid #e3e4e6;"
              class="form-group"
              ngFor="let user of permissionLists"
            >
              <label
                class="label-txt radio h3-strong text-c300"
                style="padding-bottom: 10px"
                >Permission as</label
              >
              <div class="d-flex flex-wrap">
                <div
                  class="permission-width1"
                  *ngFor="let user of permissionLists; let i = index"
                >
                  <label
                    for="{{ user._id }}"
                    style="cursor: pointer; position: relative;"
                    [ngClass]="
                      formFields.permission == user._id
                        ? 'radio-bg-active bg-b100 text-s0'
                        : 'text-c300'
                    "
                  >
                    <div class="permission-box">
                      <input
                        type="radio"
                        id="{{ user._id }}"
                        value="{{ user._id }}"
                        name="role"
                        [(ngModel)]="formFields.permission"
                        #permission="ngModel"
                        (click)="checkUser(user._id, $event)"
                      /><br />
                      <span class="capitalize body-l">{{
                        user.name | lowercase
                      }}</span>
                      <span class="check"></span>
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-xs-12 col-sm-6 col-md-6 col-lg-5"
          style="display: block;"
        >
          <label for="upload">
            <div
              *ngIf="!imgDemoSlider"
              class="profile-box h3-strong text-c300 bg-s0"
            >
              <div class="form-group">
                <label for="upload" class="profile-label">Profile</label><br />
                <div class="circular-wrap">
                  <div class="circular-profile">
                    <img *ngIf="isupdate == false" src="assets/img/user.svg" />
                    <img *ngIf="isupdate == true" src="{{ returnProfile }}" />
                  </div>
                </div>
                <div class="demo-wrap upload-demo">
                  <div class="container">
                    <div class="grid">
                      <div class="col-1-2">
                        <div class="actions">
                          <a class="btn file-btn">
                            <input
                              type="file"
                              class="upload-jpg form-control light-body-l text-c300"
                              id="upload"
                              #cropper
                              (change)="uploadCropImg($event)"
                              value="Choose a file"
                              accept="image/*"
                              style="display:none"
                            />
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="body-l text-b100">Update photo</p>
              </div>
            </div>
          </label>
          <div class="frame-upload">
            <div class="upload-demo-wrap">
              <div id="upload-demo"></div>
            </div>
            <div class="row mr-button">
              <div
                class="col-md-6 crop-box bg-s20"
                style="border-bottom-left-radius: 10px;"
              >
                <div class="br-right">
                  <button
                    *ngIf="blankCrop"
                    class=" text-c200 body-l"
                    (click)="backToUpload()"
                  >
                    Cancel
                  </button>
                </div>
              </div>
              <div
                class="col-md-6 crop-box bg-s20"
                style="border-bottom-right-radius: 10px;"
              >
                <button
                  *ngIf="blankCrop"
                  class="text-b100 body-l"
                  id="sizeDisable"
                  (click)="cropResult()"
                  [value]="blankCrop"
                >
                  Crop
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="!imgDemoSlider && isupdate == true" class="pwd-container">
            <span
              class="sent-randon-psw body-l text-b100"
              (click)="setRandomPwd()"
            >
              Send random password
            </span>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end button-group">
        <button
          *ngIf="isupdate == false"
          type="button"
          class="bt cancel-button"
          (click)="back()"
        >
          Cancel
        </button>
        <button
          *ngIf="isupdate == true"
          type="button"
          class="bt cancel-button"
          (click)="backToDetails()"
        >
          Cancel
        </button>
        <button
          *ngIf="isupdate == false"
          type="submit"
          (click)="createUser(formFields, 'create')"
          class="btn create-button body-l text-s0 bg-b100"
          [disabled]="
            !createForm.form.valid ||
            permissionCount == false ||
            emailAlert ||
            imgDemoSlider
          "
        >
          Create
        </button>
        <button
          *ngIf="isupdate == true"
          type="submit"
          (click)="createUser(formFields, 'edit')"
          class="btn create-button body-l text-s0 bg-b100"
          [disabled]="!createForm.form.valid || emailAlert || imgDemoSlider"
        >
          Update
        </button>
      </div>
    </form>
  </div>
</div>

<block-ui message="Deafult Message"></block-ui>
