.mr-top-menu {
  margin-top: 23px;
}

.inner-wrapper {
  padding-top: 0;
  /*padding-top: 147px;*/
  -ms-transition: padding-top 300ms linear;
  transition: padding-top 300ms linear;
}

@media only screen and (min-width: 1366px) {
  .inner-wrapper {
    width: 1080px !important;
  }
}

@media only screen and (min-width: 1366px) {
  .inner-wrapper {
    width: 1080px !important;
  }
}

h3,
h5 {
  word-wrap: break-word;
}

.location-name {
  position: relative;
  /* margin-top: 7px; */
  background: #cce6ff;
  margin-left: 5px;
  /* padding: 9px; */
  margin-bottom: 0;
  border-radius: 25px;
  /* display: table;
    white-space: nowrap; */
  word-break: break-all;
  max-width: 320px;
  max-height: 45px;
  overflow: overlay;
  padding: 3px 8px;
}

.create-button-pos {
  word-wrap: break-word;
  cursor: pointer;
  float: right;
  padding: 9px 13px !important;
  letter-spacing: 0.5px;
}

.input-search-bg {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 12px 0 12px 12px !important;
  background: #f2f4f5;
  border: none;
  z-index: auto !important;
}

.input-search-bg:focus,
.create-button-pos:focus {
  box-shadow: none;
}

.input-search-bg:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}
.input-search-bg::-webkit-input-placeholder {
  color: #788796 !important;
}

.btn-design {
  padding: 12px;
  background: #f2f4f5;
  border: none;
}

.btn-design.btn-outline-secondary,
.btn-design.btn-outline-secondary:hover {
  color: #788796;
  cursor: pointer;
}

.btn-design:focus,
.btn-design.btn-outline-secondary:focus,
.btn-design.btn-outline-secondary:active {
  outline: none;
  box-shadow: none;
  background: #f2f4f5;
}

.user-group {
  margin-bottom: 70px;
}

.mr-box {
  margin-top: 20px;
}

.display-block {
  display: block;
}

.box-design {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 15px 15px;
  min-height: 140px;
  max-height: 140px;
  -ms-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.box-design:hover {
  -webkit-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1) !important;
  -ms-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1) !important;
}

.box-design:hover .right-arrow i {
  color: #0080ff;
}

.box-design:hover {
  cursor: pointer;
}

.profileimg-wrap {
  display: flex;
}

.circular-image {
  width: 52px;
  height: 52px;
}

.circular-image {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background: #ddd;
}

.circular-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.user-grade {
  margin-left: -10px;
  margin-top: 32px;
  position: relative;
}

.test-circle {
  border-radius: 50%;
  min-width: 20px;
  min-height: 20px;
  width: 20px;
  height: 20px;
  text-align: center !important;
  align-items: center;
}

.circle {
  display: flex;
  align-items: center;
  height: 20px !important;
  /* border: 1.5px solid #ffffff; */
  border-radius: 12px;
  padding-top: 20px;
  text-align: center !important;
  padding: 0px 15px;
  width: 28px !important;
  justify-content: center;
}

.info-side {
  display: flex;
  justify-content: center;
  flex-direction: column;
  word-break: break-all;
  padding-left: 15px;
}

.info-mail {
  word-wrap: break-word;
}

.info-about {
  word-wrap: break-word;
  margin-bottom: 0 !important;
}

.right-arrow {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  cursor: pointer;
  -webkit-transition: 0.6s all ease-out;
  -ms-transition: 0.6s all ease-out;
  transition: 0.6s all ease-out;
}

.input-recommend {
  padding-top: 15px;
}

.search-size {
  padding-right: 10px;
  vertical-align: middle;
}

.load-more {
  position: fixed;
  z-index: 99;
  bottom: 0;
  width: 100%;
  /* background: #fff; */
  border-top: 1px solid #eee;
  padding: 10px;
}

.load-more button {
  /* background: #fff; */
  /* color: #0080ff; */
  outline: none;
  border: none;
}
.load-more button:active,
.load-more button:focus {
  outline: none;
  border: none;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-export {
  margin: 5px;
  border-radius: 4px;
  position: relative;
  width: 50%;
}
