<app-header [ngClass]="{ stick: isSticky == true }"></app-header>

<div class="d-flex flex-column justify-content-center align-items-center">
  <div *ngIf="customerPermission.length > 0" class="inner-wrapper ">
    <div class="d-flex mr-top-menu">
      <div class="col-md-10 p-0">
        <div class="d-flex flex-row">
          <h3>Customers</h3>
          <div class="mt-2">
            <div
              class="location-name"
              [ngStyle]="{
                color: gtxtColor,
                background: gbgColor
              }"
            >
              {{ locationName }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 p-0">
        <button
          *ngIf="customerDemo.createCustomer != ''"
          type="button"
          class="btn btn-primary create-button-pos"
          routerLinkActive="active"
          routerLink="../customercreate/create/0"
        >
          Add new customer
        </button>
      </div>
    </div>
    <p class="input-recommend col-md-9 pl-0 col-lg-9 col-xl-9 col-sm-9">
      See the list of all your customers. ‘Customers’ include students or
      parents whose email ID has been registered. Click on a ‘customer’ to see
      their profile details, classes enrolled, progress, activity etc.
    </p>
    <div
      *ngIf="customerDemo.viewCustomer != ''"
      class="col-md-12 p-0"
      style="margin-top: 35px;"
    >
      <div class="input-group col-md-12 p-0">
        <input
          class="form-control py-2 input-search-bg"
          type="search"
          placeholder="Search customer here"
          id="customer-search-input"
          (input)="userSearch_input($event.target.value)"
          (keyup.enter)="userSearch($event.target.value, 'customer', '', '')"
          autocomplete="off"
        />
        <span class="btn-design btn-outline-secondary">
          <i class="fa fa-search search-size"></i>
        </span>
      </div>
    </div>
    <div class="row display-flex user-group">
      <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 mr-box display-block"
        *ngFor="let customer of customerLists; let i = index"
      >
        <div
          class="box-design d-flex flex-row align-items-center"
          (click)="showDetails(customer.userId, 'class')"
        >
          <div class="profileimg-wrap">
            <div class="circular-image">
              <img
                *ngIf="customer.profilePic == 'undefined'"
                src="assets/img/user.svg"
              />
              <img
                *ngIf="customer.profilePic != 'undefined'"
                src="{{ customer.profilePic }}"
              />
            </div>
            <div
              class="user-grade"
              *ngIf="(customer.userGrading.grade | json) != '{}'"
            >
              <div
                *ngIf="
                  customer.userGrading.grade.point != undefined &&
                  customer.userGrading != undefined &&
                  customer.userGrading.grade.point != null
                "
                class="b-white justify-content-center d-flex"
                [style.background]="customer.userGrading.sepalColor.background"
                [ngClass]="{
                  'test-circle': customer.userGrading.grade.point.length == 1,
                  circle: customer.userGrading.grade.point.length > 1
                }"
              >
                <span [style.color]="customer.userGrading.sepalColor.text">
                  {{ customer.userGrading.grade.point }}
                </span>
              </div>
            </div>
          </div>
          <div class="info-side d-flex flex-column justify-content-center">
            <h5 *ngIf="customer.preferredName" style="margin-bottom: 0px">
              {{
                customer.preferredName.length > 20
                  ? (customer.preferredName | slice: 0:20) + '...'
                  : customer.preferredName
              }}
            </h5>
            <p class="info-mail mb-0">
              {{ customer.email }}
            </p>
            <p class="info-about" *ngIf="customer.about == 'undefined'">-</p>
            <p class="info-about" *ngIf="customer.about != 'undefined'">
              {{
                customer.about.length > 25
                  ? (customer.about | slice: 0:25) + '...'
                  : customer.about
              }}
            </p>
          </div>
          <div
            *ngIf="customerDemo.viewCustomer != ''"
            class="ml-auto right-arrow"
          >
            <i class="fa fa-angle-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="customerLists.length >= 20 && result?.length > 0"
  class="d-flex justify-content-center load-more"
>
  <button
    type="button"
    class="btn"
    (click)="showMore('customer', customerLists.length)"
  >
    load more
  </button>
</div>

<block-ui message="Deafult Message"></block-ui>
