.mr-top-menu {
  margin-top: 23px;
}

.inner-wrapper {
  padding-top: 0;
  /*padding-top: 147px;*/
  -ms-transition: padding-top 300ms linear;
  transition: padding-top 300ms linear;
}

@media only screen and (min-width: 1366px) {
  .inner-wrapper {
    width: 1080px !important;
  }
}

@media only screen and (min-width: 1366px) {
  .inner-wrapper {
    width: 1080px !important;
  }
}

.Export-btn {
  width: 40px;
  height: 40px;
  margin-left: 16px;
  background: #ffffff;
  border: 1px solid #edeef0;
  box-shadow: 1px 2px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  cursor: pointer;
}

.option-dp {
  padding: 10px;
  /* position: absolute; */
  z-index: 99;
  cursor: pointer;
  min-width: 100px;
  text-align: center;
  top: 55px;
  right: -20px;
  border: none;
}
.export-wrap {
  border-radius: 8px;
  box-shadow: 0px 2px 30px 1px rgba(1, 0, 0, 0.2);
  position: absolute;
  width: 200px;
  left: 64px;
  top: 60px;
  z-index: 99;
}

.option-dp:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 35px;
  top: -6px;
  border-width: 0 6px 6px 6px;
  border-style: solid;
  border-color: #fff transparent;
}

h3,
h5 {
  word-wrap: break-word;
}

.location-name {
  position: relative;
  /* margin-top: 7px; */
  background: #cce6ff;
  margin-left: 5px;
  /* padding: 9px; */
  margin-bottom: 0;
  border-radius: 25px;
  /* display: table;
    white-space: nowrap; */
  word-break: break-all;
  max-width: 320px;
  max-height: 45px;
  overflow: overlay;
  padding: 3px 8px;
}

.create-button-pos {
  word-wrap: break-word;
  width: 185px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  float: right;
  letter-spacing: 0.5px;
}

.input-search-bg {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 12px 0 12px 12px !important;
  background: #fff;
  border: none;
  z-index: auto !important;
}

.input-search-bg:focus,
.create-button-pos:focus {
  box-shadow: none;
}

.input-search-bg:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}
.input-search-bg::-webkit-input-placeholder {
  color: #788796 !important;
}

.btn-design {
  padding: 10px 0 10px 24px;
  background: #fff;
  border: none;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.btn-design.btn-outline-secondary,
.btn-design.btn-outline-secondary:hover {
  color: #788796;
  cursor: pointer;
}

.btn-design:focus,
.btn-design.btn-outline-secondary:focus,
.btn-design.btn-outline-secondary:active {
  outline: none;
  box-shadow: none;
  background: #f2f4f5;
}

.user-group {
  margin-bottom: 70px;
}

.mr-box {
  margin-top: 20px;
}

.display-block {
  display: block;
}

.box-design {
  box-shadow: 1px 2px 4px rgb(0 0 0 / 8%);
  border-radius: 16px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 15px 15px;
  min-height: 104px;
  max-height: 140px;
  -ms-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  background: #fff;
}

.box-design:hover {
  -webkit-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1) !important;
  -ms-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1) !important;
}
.cus-name {
  color: #363f4d;
}
.box-design:hover .cus-name {
  color: #0065f2;
}

.box-design:hover .right-arrow i {
  color: #0065f2;
}

.box-design:hover {
  cursor: pointer;
}

.profileimg-wrap {
  display: flex;
}

.circular-image {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background: #ddd;
  width: 72px;
  height: 72px;
}

.circular-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.list-circular-image {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background: #ddd;
  width: 48px;
  height: 48px;
}

.list-circular-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.user-grade {
  margin-left: -10px;
  margin-top: 32px;
  position: relative;
}

.test-circle {
  border-radius: 50%;
  min-width: 20px;
  min-height: 20px;
  width: 20px;
  height: 20px;
  text-align: center !important;
  align-items: center;
}

.circle {
  display: flex;
  align-items: center;
  height: 20px !important;
  /* border: 1.5px solid #ffffff; */
  border-radius: 12px;
  padding-top: 20px;
  text-align: center !important;
  padding: 0px 15px;
  width: 28px !important;
  justify-content: center;
}

.info-side {
  display: flex;
  justify-content: center;
  flex-direction: column;
  word-break: break-all;
  padding-left: 15px;
}

.info-mail {
  word-wrap: break-word;
}

.info-about {
  word-wrap: break-word;
  margin-bottom: 0 !important;
}

.right-arrow {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  cursor: pointer;
  -webkit-transition: 0.6s all ease-out;
  -ms-transition: 0.6s all ease-out;
  transition: 0.6s all ease-out;
}

.input-recommend {
  padding-top: 15px;
}

.search-size {
  /* padding-right: 10px; */
  vertical-align: middle;
}

.load-more {
  width: 420px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #edeef0;
  box-shadow: 1px 2px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.load-more button {
  /* background: #fff; */
  /* color: #0080ff; */
  outline: none;
  border: none;
}
.load-more button:active,
.load-more button:focus {
  outline: none;
  border: none;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-export {
  margin: 5px;
  border-radius: 4px;
  position: relative;
  width: 50%;
}

.list-box {
  background: #ffffff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  /* padding: 0 24px; */
  margin-top: 24px;
}
.title-bar {
  height: 48px;
  align-items: center;
  margin: 0 24px;
}

.user-row {
  border-top: 1px solid #f2f4f5;
  padding: 16px 24px;
}
.w-35 {
  width: 35%;
}
.w-25 {
  width: 25%;
}
.arrow-btn {
  background: #f2f3f5;
  border: 1px solid #e8e9eb;
  border-radius: 8px;
  width: 40px;
  height: 40px;
}
.arrow-icon-g,
.arrow-icon-w,
.arrow-icon-b {
  margin: 13px 11px;
}
.arrow-icon-w,
.arrow-icon-b {
  display: none;
}

.user-row:hover {
  background: #f7f9fa;
}
.user-row:hover .arrow-icon-g {
  display: none;
}
.user-row:hover .arrow-icon-b {
  display: block;
}
.user-row:hover .arrow-btn {
  background: #fff;
}
.arrow-div:hover .arrow-btn {
  background: #0065f2;
}
.arrow-div:hover .arrow-icon-w {
  display: block;
}
.arrow-div:hover .arrow-icon-g {
  display: none;
}
.arrow-div:hover .arrow-icon-b {
  display: none;
}
.search-group {
  width: 90%;
  height: 48px;
  background: #ffffff;
  box-shadow: 0px 0px 0px 1px #edeef0, 1px 2px 16px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}
.change-view {
  width: 88px;
  height: 48px;
  background: #e8e9eb;
  border-radius: 12px;
  padding: 4px;
  margin-left: 24px;
}
#grid-toggle,
#list-toggle {
  width: 40px;
  height: 40px;
  /* background: #FFFFFF; */
  /* box-shadow: 0px 0px 0px 1px #edeef0, 1px 2px 16px rgb(0 0 0 / 8%); */
  border-radius: 9px;
  cursor: pointer;
}
.active {
  background: #ffffff;
  box-shadow: 0px 0px 0px 1px #edeef0, 1px 2px 16px rgb(0 0 0 / 8%);
  outline: none;
}
.view-pd {
  padding: 13px;
}
