#courseWrapper {
  height: 100vh;
}

.header-font {
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
  color: #2e3e4d;
}

.location-name {
  font-family: 'Inter-UI-Medium', Arial, sans-serif;
  position: relative;
  font-size: 12px;
  margin-left: 5px;
  margin-bottom: 0;
  border-radius: 25px;
  word-break: break-all;
  max-width: 125px;
  min-width: 80px;
  padding: 3px 8px;
  max-height: 45px;
  overflow: overlay;
}

.location-wrapper {
  margin-left: 10px;
}

/*.sidebar {
  width: 380px;
}*/
/*@media (min-width: 768px) and (max-width: 1024px) {
  .sidebar {
    width: 32%;
  }

  .content-wrapper {
    width: 68%;
  }
}
*/
.cplan-wrapper {
  box-shadow: 1px 0px 0px #e3e4e5;
  overflow: overlay;
  height: 80vh;
}
.cplan-item {
  width: 100%;
  padding: 16px 24px;
}
.cplan-item-selected {
  background: #0065f2;
  color: #fff;
}
.cplan-small-txt {
  font-family: 'Inter-UI-Medium', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
}
.cplan-title {
  font-family: 'Inter-UI-Medium', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 28px;
  width: 220px;
  height: 32px;
  overflow: overlay;
  word-break: break-all;
}
.cplan-duration {
  font-family: 'Inter-UI-Medium', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}
.cplan-edit {
  font-weight: normal;
  cursor: pointer;
}
.cplan-title1 {
  font-family: 'Inter-UI-Medium', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #363f4d;
  width: 300px;
  height: 32px;
  overflow: overlay;
  word-break: break-all;
}
@media (max-width: 768px) {
  .cplan-title1 {
    width: 300px;
  }
}
@media (min-width: 1024px) {
  .cplan-title1 {
    width: 100%;
  }
  .class-label-12 {
    max-width: 90% !important;
  }
}

@media only screen and (min-width: 1366px) {
  .course-list-wrapper {
    width: 1000px;
    margin: 0 auto;
  }
}

.light-color {
  color: #5c6773;
}
.dark-color {
  color: #363f4d;
}
.addCourse-btn {
  background: #0065f2;
  border-radius: 8px;
  padding: 8px 16px;
  text-align: center;
  color: #ffffff;
  min-width: 160px;
  /* width: 250px;
  height: 40px; */
}
.plan-title {
  padding: 0px 24px 17px 24px;
  box-shadow: 0px 1px 0px #e3e4e5;
  background: #fff;
}

@-moz-document url-prefix() {
  *:required {
    box-shadow: none;
  }
  .cplan-title1,
  .cplan-title,
  .cplan-wrapper,
  .location-name,
  .course-container,
  .student-wrap {
    overflow: auto;
  }
}

.course-wrap {
  background: #ffffff;
  box-shadow: 1px 2px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}
.cinfo-firstwrap {
  /* height: 188px; */
}
.cinfo-wrap {
  width: 70%;
  border-right: 1px dotted;
}
.ctime-wrap {
  width: 30%;
}
.time-box {
  padding-bottom: 32px;
}
.cinfo-secwrap {
  background: #f7f9fa;
  border-radius: 0px 0px 8px 8px;
  height: 80px;
}
.enroll-btn {
  background: #ffffff;
  box-shadow: 1px 2px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}
.font-15 {
  font-family: 'Inter-UI-Medium', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}
.class-label-12 {
  border-radius: 2px;
  word-break: break-all;
  font-size: 15px;
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
  color: #64707d;
  max-width: 280px;
  padding: 0px 9px;
}
.no-cust {
  color: #7a8a99;
  padding: 30px 0px 20px 0px;
}

.student-profile-wrapper {
  width: 50px;
  /* margin-right: 15px; */
  height: 50px;
  background: #c8e2f4;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.student_profilePic {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.user-grade {
  margin-top: 30px;
  margin-left: -15px;
  position: relative;
}
.test-circle {
  border-radius: 50%;
  font-size: 12px;
  min-width: 20px;
  min-height: 20px;
  width: 20px;
  height: 20px;
  text-align: center !important;
  font-family: 'IBM-Plex-Bold', Arial, sans-serif;
  align-items: center;
}
.circle {
  display: flex;
  align-items: center;
  height: 20px !important;
  /* border: 1.5px solid #ffffff; */
  border-radius: 12px;
  padding-top: 20px;
  text-align: center !important;
  font-family: 'IBM-Plex-Bold', Arial, sans-serif;
  font-size: 12px;
  padding: 0px 15px;
  width: 28px !important;
  justify-content: center;
}
.student-wrap {
  width: 90%;
  overflow: overlay;
  padding-top: 20px;
}
.btn-cplan {
  background: #f2f3f5;
  border-radius: 8px;
  color: #0065f2;
  width: 100%;
}
.input-csearch {
  background: #f2f3f5;
  border-radius: 8px;
  width: 60%;
  text-align: left;
}
.csearch-wrap {
  background: #ffffff;
  padding: 10px 25px;
  position: relative;
}
.course-search-input:focus {
  box-shadow: none;
}
.course-search-input {
  border: none;
  background: url(../../../../assets/img/search-ico@2x.png) no-repeat #f2f3f5;
  background-size: 16px;
  background-position-y: center;
  background-position-x: 16px;
  padding: 16px 16px 16px 40px !important;
  font-size: 16px;
  line-height: 20px;
}
.category-content {
  animation: 0.6s ease-in 0s 1 slideInFromLeft;
}

.cursor-on {
  cursor: pointer;
}

.courses-title-wrap {
  height: 45px;
}

.close-search {
  position: absolute;
  left: 56%;
  top: 42px;
  width: 16px;
  height: 16px;
  background: #8fa1b3;
  border-radius: 50%;
  z-index: 99;
  -ms-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  cursor: pointer;
}

.close-search:hover,
.close-search:focus {
  box-shadow: 0 0 0 11px #f2f4f5 !important;
}

.close-search:before,
.close-search:after {
  position: absolute;
  left: 7px;
  content: ' ';
  height: 9px;
  width: 2px;
  background-color: #fff;
  top: 3px;
}

.close-search:before {
  transform: rotate(45deg);
}

.close-search:after {
  transform: rotate(-45deg);
}

/*test*/
.content-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 0;
  -ms-transition: padding-top 300ms linear;
  transition: padding-top 300ms linear;
}

.sidenav.p-top {
  top: 70px;
  padding-top: 45px;
}
.sidenav.mid-top {
  top: 80px;
}

.sidenav {
  position: fixed;
  width: 320px;
  height: 100%;
}

.sidenav-scroll {
  overflow-y: scroll;
  height: 100%;
  box-shadow: 1px 0px 0px #e3e4e5;
}

.cplan:last-child {
  margin-bottom: 300px;
}

.main-content {
  flex: 1;
  background: #f2f4f5;
  overflow-y: scroll;
  margin-left: 320px;
}
