.invoice-container {
  padding-top: 80px;
}
.inv-payment-container {
  padding: 40px;
}
.inv-margin {
  margin: 0px 40px;
}
.inv-all-amt {
  margin: 0px 56px;
}
.addIcn-wrap {
  width: 20px;
}
.addIcn-wrap img {
  width: 100%;
}
.cfee-wrapper {
  border-bottom: 1px solid #edeff0;
  margin: 20px 56px 0px 56px;
  padding-bottom: 20px;
}
.item-row {
  border-bottom: 1px solid #edeff0;
  padding-bottom: 20px;
}
.container-height {
  overflow: overlay;
}
.logo-wrapper {
  height: 50px;
}

.inv-address {
  white-space: pre-line;
  margin-top: -25px;
}
.alignRight {
  text-align: right;
}
.logo-wrapper img {
  height: 100%;
  object-fit: contain;
}

h3 {
  word-wrap: break-word;
}

.fees-header {
  padding: 10px 16px;
}

.bg-label {
  background: #f2f4f5;
}

.tax-status {
  font-size: 12px;
  color: #64707d;
}

.amount-result {
  margin-right: -16px;
}

.pad-10 {
  padding: 10px 0px;
}

.modal-footer {
  padding: 24px 32px;
}

.invModal-cancel {
  padding: 0;
  margin-right: 30px;
  background: none;
}

/*.inv-Cname {
  margin: 15px 35px 0px 35px;
}*/

.cFee-w {
  width: 20px;
}

.mlr-15 {
  margin: 0px 16px;
}

.invModal-cancel .row-icon img,
.cFee-w {
  width: 20px;
}

.inv-bordered div:first-child.inv-row .b-bottom {
  border-top: 1px solid #edeff0;
}

.inv-bordered div.inv-row .b-bottom {
  border-bottom: 1px solid #edeff0;
}

.inv-row {
  line-height: 60px;
}

.b-bottom {
  border-bottom: 1px solid #edeff0;
}

.inv-bordered div:last-child.inv-row .b-bottom {
  border-bottom: 1px solid transparent;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.invModal-cancel {
  padding: 0;
  margin-right: 30px;
}

.l-border {
  border-left: 1px solid #edeff0;
}

.btn-print {
  line-height: 28px;
  text-align: center;
  width: 44px;
  height: 44px;
  background: #edeff0;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 30px;
  border: none;
  outline: none;
}

.send-btn {
  height: 44px;
  border: none;
  border-radius: 3px;
  padding: 0px 10px;
}
.send-btn:focus {
  outline: none;
}

.btn-print img {
  width: 20px;
}

.popup-box {
  background: #fff;
  -webkit-box-shadow: 0px 4px 31px 1px rgba(1, 0, 0, 0.3);
  box-shadow: 0px 4px 31px 1px rgba(1, 0, 0, 0.3);
  width: 240px;
  position: absolute;
  z-index: 9;
  right: 30px;
  top: -40px;
  border-radius: 3px;
}

.popup-box.discount-fee {
  /* right: -140px; */
  top: -60px;
}

.btns-wrap .btn:first-child {
  margin-right: 13px;
}

.input-txt,
.cash-input {
  color: #788796;
  background: #f2f4f5;
  border: none;
  margin-left: 5px;
  outline: none;
  line-height: 1.6;
}

#rectangle::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 17px solid #fff;
  border-bottom: 8px solid transparent;
  left: 240px;
  top: 60px;
}

.btns-wrap {
  position: absolute;
  z-index: 9;
  top: 90px;
}

.overlayInv {
  background-color: rgba(46, 61, 77, 0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
}

.closemark {
  display: inline-block;
  width: 11px;
  height: 15px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkmark_stem {
  position: absolute;
  width: 2px;
  height: 13px;
  background-color: #425568;
  left: 6px;
  top: 1px;
}

.checkmark_kick {
  position: absolute;
  width: 6px;
  height: 2px;
  background-color: #425568;
  left: 2px;
  top: 12px;
}

.closemark_stem,
.closemark_kick {
  position: absolute;
  width: 2px;
  height: 13px;
  background-color: #425568;
  left: 5px;
  top: 3px;
}

.closemark_kick {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.checkmark {
  display: inline-block;
  width: 11px;
  height: 15px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-input {
  background: #f2f4f5;
  padding: 5px;
  border-radius: 3px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  outline: none;
}

.paid-header {
  text-align: center;
  padding: 5px 0px;
  position: fixed;
  width: 100%;
  border-radius: 8px 8px 0px 0px;
  height: 48px;

  align-items: center;
  display: flex;
  justify-content: center;
}

.cash-input {
  margin-left: 0px;
  padding: 8px;
}

.payment-item input[type='radio'] {
  display: none;
}

.selectedItem {
  pointer-events: none;
  border-radius: 4px;
}
.payment-footer {
  padding: 20px 32px;
}
.payment-item {
  /*width: 117px;
  height: 98px;*/
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-right: 32px;
}

.payment-item label {
  width: 117px;
  height: 98px;
  padding: 16px;
}

.back-inv {
  border: none;
  outline: none;
}

.back-inv i {
  padding-right: 5px;
}
.btn-submit {
  border: none;
  height: 45px;
  border-radius: 3px;
  width: 100px;
  margin-left: 15px;
  box-shadow: none;
}
.address {
  padding-left: 0px;
}
.invnote-readonly {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  white-space: pre-line;
  padding: 0px 40px;
  margin-top: -15px;
}
@media (max-width: 1024px) {
  .invModal-cancel {
    padding: 0px 20px;
  }
}

.newItem-btn {
  margin-left: -40px;
  border: none;
  /*padding-left: 15px;*/
  cursor: pointer;
  /*padding-top: 20px;*/
  outline: none;
  margin-top: 10px;
}

.newItem-btn-txt {
  line-height: 1.8;
}

.down-icon.fa {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 20px;
}

span.fa.fa-angle-down.down-icon.taxDownOpt {
  position: absolute;
  top: 40%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 20px;
}

.dropdown-wrap {
  position: absolute;
  z-index: 99;
  right: 0px;
  top: 72px;
  /* margin-top: 6px; */
}

.dropdown-wrap ul li {
  border-bottom: 1px solid #e3e4e6;
  /*padding: 10px 0px;*/
  height: 45px;
  line-height: 2.7;
  cursor: pointer;
}
.taxOpt-dropdown ul li:last-child {
  border-bottom: none;
}
.dropdown-wrap .duration-dropdown {
  box-shadow: 0px 2px 30px 1px rgba(1, 0, 0, 0.2);
  border: none;
}
ul.taxOpt-dropdown {
  box-shadow: 0px 2px 30px 1px rgba(1, 0, 0, 0.2);
  border: none;
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
  position: absolute;
  z-index: 99;
  padding: 0px 10px;
  top: 80%;
  /* right: 0px; */
  max-height: 250px;
  overflow: overlay;
  right: 10px;
  text-align: center;
}

ul.taxOpt-dropdown li div {
  border-bottom: 1px solid #e3e4e6;
  height: 45px;
  cursor: pointer;
  line-height: inherit;
}
.tax-txt {
  padding: 0px 10px 0px 20px;
}

.d-flex.new-item-box {
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
  /*padding: 20px 0px 20px 0px;*/
  padding: 20px 40px 0px 20px;
}
.paid-item-box {
  margin: 20px 56px 0px 56px;
}

button.taxOpt-wrap {
  border: none;
  outline: none;
  opacity: 1;
  border-radius: 4px;
  cursor: pointer;
  width: 113px;
  height: 36px;
}

i.fa.fa-chevron-down.downIcon {
  top: 70%;
  font-size: 12px;
  position: absolute;
  transform: translateY(-50%);
  right: 5px;
}
.itemName {
  border: none;
  box-shadow: none;
}
.itemName:focus {
  box-shadow: 0 1px 5px 1px rgba(221, 221, 221, 0.6);
  background: #1a000000 !important;
}
.row-icon {
  width: 20px;
}

.row-icon img {
  width: 100%;
}

.addType {
  /* padding: 0 !important; */
  text-align: right !important;
  display: unset !important;
}
/*
.new-item{
  padding-top: 15px;
}
.d-flex.new-item-box.w-100.mlr-15 {
  border-bottom: 1px solid rgba(0,0,0,.1);
} */

/*.id-label {
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
}*/

button.newdiscount-btn {
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
}
.dis-courseFee {
  margin-top: 12px;
}

.btns-wrap-dis {
  left: 180px;
  top: 72px;
}

#rectangle-discount::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-right: 17px solid #fff;
  border-bottom: 8px solid transparent;
  left: -17px;
  top: 60px;
}

.discount-name {
  display: flex;
}

.discount-number {
  color: #64707d;
  font-size: 16px;
}
/*
.discount-name-txt {
  color: #007fff;
  font-size: 16px;
  font-family: 'Inter-UI-SemiBold', Arial, sans-serif;
} */

span.removeDis {
  color: #ff3d33;
  padding-left: 14px;
  cursor: pointer;
}

.addPointer {
  cursor: pointer;
}

.tax-txt.noTax {
  opacity: 0;
}
.modal-title {
  margin-bottom: 6px;
}
.popup-btn,
.addPointer,
.newdiscount-btn {
  background: #fff;
}

@-moz-document url-prefix() {
  .container-height,
  ul.taxOpt-dropdown {
    overflow: auto;
  }
}
.close-btn {
  position: absolute;
  right: 12px;
  cursor: pointer;
}
.action {
  box-shadow: 1px 2px 16px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  width: 114px;
  height: 44px;
  width: 114px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 32px;
  cursor: pointer;
}
.action-dropdown {
  width: 148px;
  height: 96px;
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: -50px;
  left: 120px;
  padding: 16px;
  box-shadow: 1px 2px 16px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cursor {
  cursor: pointer;
}
.invoice-delete-modal {
  width: 320px;
  height: 212px;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.modal-title {
  margin-bottom: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.enroll_title {
  padding: 24px 24px 0px 24px;
}
.autoEnroll-body {
  padding: 20px 24px 0px 24px;
}
.autoEnroll-footer {
  border: none;
}
.invoice-delete-modal {
  width: 320px;
  height: 212px;
  background: #ffffff;
  border-radius: 4px;
}
