section.carousel-wrapper {
  overflow: unset !important;
}

li.carousel-item {
  display: block !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 6000px;
}

.carousel-wrapper {
  overflow: hidden;
}

.carousel-inner {
  display: flex;
}

.carousel-footer {
  border-top: 1px solid #edeff0;
  padding: 0px 10px;
}
button.btn.btn-default {
  font-family: 'Inter-UI-Medium', Arial, sans-serif;
  font-size: 14px;
  outline: 0;
  box-shadow: none !important;
}
