<div class="d-flex flex-row lesson-list mt-2" *ngIf="loading == false">
  <div *ngIf="LASD != null" class="d-flex timeline">
    <!-- <div
      [ngStyle]="{
        left: i * 80 + 'px',
        'background-color':
          timeline.color == undefined ? '#ffffff' : timeline?.color?.background
      }"
      class="single-date"
      *ngFor="let timeline of attendanceList?.lessons; let i = index"
      [ngClass]="{
        today:
          (timeline.startDate | timelineDate) == (todayDate | timelineDate),
        'disable-add': timeline.startDate > todayDate,
        'disable-cursor': isRescheduleLesson || isNewLesson,
        'day-highlight':
          lastSelectedObj != null &&
          lastSelectedObj._id == timeline._id &&
          lastSelectedObj.startDate == timeline.startDate
      }"
    >
      <div *ngIf="timeline.startDate < todayDate">
        <div
          *ngIf="
            (timeline.startDate | timelineDate) != (todayDate | timelineDate)
          "
          (click)="onClickLesson(timeline.startDate, timeline, cancelUI, i)"
        >
          <b
            class="body-m"
            [ngStyle]="{
              color:
                timeline.color == undefined ? '#363f4d' : timeline?.color?.text
            }"
          >
            {{ timeline.startDate | timelineDate }}
          </b>
          <p
            class="small mb-0"
            [ngStyle]="{
              color:
                timeline.color == undefined ? '#5c6773' : timeline?.color?.text
            }"
          >
            {{ timeline.startDate | timelineDay }}
            <span *ngIf="timeline.cancel == true" class="makeup-icon">C</span>
            <span
              *ngIf="timeline.rescheduledLesson == true"
              class="makeup-icon"
            >
              R
            </span>
          </p>
        </div>
      </div>
      <div
        *ngIf="
          (timeline.startDate | timelineDate) == (todayDate | timelineDate)
        "
        (click)="onClickLesson(timeline.startDate, timeline, cancelUI, i)"
      >
        <div>
          <b
            class="body-m"
            [ngStyle]="{
              color:
                timeline.color == undefined ? '#363f4d' : timeline?.color?.text
            }"
          >
            {{ timeline.startDate | timelineDate }}
          </b>
          <p
            class="small mb-0"
            [ngStyle]="{
              color:
                timeline.color == undefined ? '#5c6773' : timeline?.color?.text
            }"
          >
            {{ timeline.startDate | timelineDay }}
            <span *ngIf="timeline.cancel == true" class="makeup-icon">C</span>
            <span
              *ngIf="timeline.rescheduledLesson == true"
              class="makeup-icon"
            >
              R
            </span>
          </p>
        </div>
      </div>
      <div *ngIf="timeline.startDate > todayDate">
        <div
          *ngIf="
            (timeline.startDate | timelineDate) != (todayDate | timelineDate)
          "
          (click)="onClickLesson(timeline.startDate, timeline, cancelUI, i)"
        >
          <b
            class="body-m"
            [ngStyle]="{
              color:
                timeline.color == undefined ? '#363f4d' : timeline?.color?.text
            }"
          >
            {{ timeline.startDate | timelineDate }}
          </b>
          <p
            class="small mb-0"
            [ngStyle]="{
              color:
                timeline.color == undefined ? '#5c6773' : timeline?.color?.text
            }"
          >
            {{ timeline.startDate | timelineDay }}
            <span *ngIf="timeline.cancel == true" class="makeup-icon">C</span>
            <span
              *ngIf="timeline.rescheduledLesson == true"
              class="makeup-icon"
            >
              R
            </span>
          </p>
        </div>
      </div>
    </div> -->
    <div *ngFor="let term of termLessons; let termIdx = index">
      <div class="term-name-wrap">
        <div
          class="caption-s term-name"
          *ngIf="term?.name != undefined"
          [ngStyle]="{ color: term?.color.text }"
          (click)="onClickEditBatch(term?._id)"
        >
          {{ term?.name }}
          <span class="pl-2">
            <img
              src="assets/term-pencil/{{
                term?.color.text.substring(1, 7)
              }}.svg"
            />
          </span>
        </div>
      </div>
      <div
        *ngIf="term?.lessons == undefined"
        [ngClass]="{ 'disable-cursor': isRescheduleLesson || isNewLesson }"
      >
        <div
          class="timeline-slot"
          [ngStyle]="{
            'border-top': '1px solid #E8E9EB',
            'border-bottom': '1px solid #E8E9EB',
            'border-left': termIdx == 0 ? '1px solid #E8E9EB' : null
          }"
          [ngClass]="{
            today:
              (term.startDate | timelineDate) == (todayDate | timelineDate),
            'disable-add': term.startDate > todayDate,
            'pointer-events-none': isRescheduleLesson || isNewLesson,
            'day-highlight':
              lastSelectedObj != null &&
              lastSelectedObj._id == term._id &&
              lastSelectedObj.startDate == term.startDate
          }"
          (click)="onClickLesson(term.startDate, term, cancelUI, i)"
        >
          <b
            class="body-m"
            [ngStyle]="{
              color: term.color == undefined ? '#363f4d' : term?.color?.text
            }"
          >
            {{ term.startDate | timelineDate }}
          </b>
          <p
            class="small mb-0"
            [ngStyle]="{
              color: term.color == undefined ? '#5c6773' : term?.color?.text
            }"
          >
            {{ term.startDate | timelineDay }}
            <span *ngIf="term.cancel == true" class="makeup-icon">C</span>
            <span *ngIf="term.rescheduledLesson == true" class="makeup-icon">
              R
            </span>
          </p>
        </div>
      </div>
      <div
        class="d-flex"
        *ngIf="term?.lessons != undefined"
        [ngStyle]="{
          'background-color':
            term?.color == undefined ? '#ffffff' : term?.color.background
        }"
        [ngClass]="{ 'disable-cursor': isRescheduleLesson || isNewLesson }"
      >
        <div
          class="timeline-slot"
          *ngFor="let lesson of term?.lessons"
          [ngClass]="{
            today:
              (lesson.startDate | timelineDate) == (todayDate | timelineDate),
            'disable-add': lesson.startDate > todayDate,
            'pointer-events-none': isRescheduleLesson || isNewLesson,
            'day-highlight':
              lastSelectedObj != null &&
              lastSelectedObj._id == lesson._id &&
              lastSelectedObj.startDate == lesson.startDate
          }"
          (click)="onClickLesson(lesson.startDate, lesson, cancelUI, i)"
        >
          <b
            class="body-m"
            [ngStyle]="{
              color: lesson.color == undefined ? '#363f4d' : lesson?.color?.text
            }"
          >
            {{ lesson.startDate | timelineDate }}
          </b>
          <p
            class="small mb-0"
            [ngStyle]="{
              color: lesson.color == undefined ? '#5c6773' : lesson?.color?.text
            }"
          >
            {{ lesson.startDate | timelineDay }}
            <span *ngIf="lesson.cancel == true" class="makeup-icon">C</span>
            <span *ngIf="lesson.rescheduledLesson == true" class="makeup-icon">
              R
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex align-items-end">
    <div class="d-flex align-items-center pl-3 pr-3 bg-s0 button-wrapper">
      <button
        *ngIf="courseType == 'FLEXY'"
        class="btn btn-newLesson"
        (click)="onClickAddNewLesson()"
        [disabled]="isRescheduleLesson"
      >
        Add new lesson
      </button>
      <button
        *ngIf="courseType == 'FLEXY'"
        class="btn btn-newLesson"
        (click)="onClickCreateTerm()"
        [disabled]="isRescheduleLesson"
      >
        Create Term
      </button>
    </div>
  </div>
</div>
