@keyframes slideInFromLeft {
  100% {
    transform: translateX(0);
  }
  0% {
    transform: translateX(100%);
  }
}

.form-container {
    animation: 0.5s ease-in 0s 1 slideInFromLeft;
}

.form-group span {
	margin-left: 15px;
	font-size: 15px;
}

.form-group label {
	font-weight: bold;
}

.inner-wrapper {
	padding-top: 50px;
}

.btn-style {
	float: right; 
	margin-right: 20px; 
	margin-top: -15px; 
    padding: 5px 10px;
}

.divide-line {
	border-bottom: 1px solid rgba(0,0,0,.125);
	padding-top: 15px;
}

.mr-group {
	font-size: 15px; 
	margin-left: 40px;
}

.txt-color-center {
	text-align: center;
	padding: 100px;
}

ul li {
	list-style: none;
}