@keyframes slideInFromLeft {
  100% {
    transform: translateX(0);
  }
  0% {
    transform: translateX(100%);
  }
}

.form-container {
    animation: 0.5s ease-in 0s 1 slideInFromLeft;
}

.form-group span {
	margin-left: 15px;
}

.form-group label {
	font-weight: bold;
}