<div class="min-scroll">
  <div *ngIf="iscreate == false">
    <div class="d-flex justify-content-between heading-margin">
      <div class="mr-auto">
        <div class="d-flex flex-row">
          <h2 class="title-heading">QuizWerkz</h2>
        </div>
      </div>
      <button type="button" class="btn btn-create" (click)="creatnew()">Add new QuizWerkz</button>
    </div>  
    <div class="row quizwerkz-group">
      <div class="col-sm-6 col-md-6 col-lg-6" *ngFor="let pdf of pdfList">
        <div class="d-flex single-quizwerkz">
            <div class="coverq">
              <img src="{{pdf.cover}}" class="book-cover-img">
            </div>
            <div style="flex: 1;">
              <div class="d-flex flex-column h-100">
                  <div class="book-title">              
                    <h4>{{pdf.name}}</h4>
                  </div>
                  <div class="btn-section d-flex justify-content-end">
                    <button class="btn-action" (click)="onclickUpdate(pdf._id)">Edit</button> | <button class="btn-action" (click)="onclickDelete(pdf._id)">Delete</button>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="iscreate == true">
    <div class="back-wrap">
      <a class="back-to" (click)="cancel()">< QuizWerkz</a>
    </div>
    <div class="quizwerkz-form-wrap">
      <h3 class="title-heading">Create QuizWerkz</h3>
      <div class="quizwerkz-form">
        <form novalidate #createqwForm="ngForm">
          <div class="form-group">
            <label class="input-label" for="name">Name</label>   
            <input type="text" class="form-control create-input" placeholder="quizwerkz name" name="name" [(ngModel)]="formField.name" required #name="ngModel">
          </div>
          <div class="form-group">
            <label class="input-label" for="name">Book Url</label>   
            <input type="url" class="form-control create-input" placeholder="https://bookurl.jpg" pattern="https?://.+" name="url" [(ngModel)]="formField.url" required #url="ngModel" required>
            <div *ngIf="url.errors && (url.dirty || url.touched)" class="alert alert-danger">
              <div [hidden]="!url.errors.required">
                URL is required!
              </div>
              <div [hidden]="!url.errors.pattern">
                Must be a valid URL!
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="input-label" for="name">Book Cover Url</label>   
            <input type="url" class="form-control create-input" placeholder="enter cover URl link" name="cover" [(ngModel)]="formField.cover" required #cover="ngModel" required placeholder="https://bookcover.jpg" pattern="https?://.+" >
            <div *ngIf="cover.errors && (cover.dirty || cover.touched)" class="alert alert-danger">
              <div [hidden]="!cover.errors.required">
                URL is required!
              </div>
              <div [hidden]="!cover.errors.pattern">
                Must be a valid URL!
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-cancel" (click)="cancel()">Close</button>
            <button *ngIf="!isEdit" type="submit" [disabled]="!createqwForm.valid" class="btn btn-submit" (click)="createQuizWerkz(formField, isEdit)">Create</button>
            <button *ngIf="isEdit" type="submit" [disabled]="!createqwForm.valid" class="btn btn-submit" (click)="updateQuizWerkz(formField)">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
