<div class="mb-30">
	<button type="button" class="btn btn-primary" (click)="open(content)">+ Create Quizwerkz</button>
</div>

<div class="scrollable container">
  <ul class="list-group-flush">
    <li class="list-group-item" *ngFor="let pdf of pdfList">
      <span style="margin-right: 20px;">{{pdf.name}}</span><!-- {{course.name}} -->
      <!-- <button type="button" class="btn btn-secondary float-right btn-sm margin-left" data-toggle="modal" data-target="#locationModal" (click)="courseDetail(course)">Create</button> -->
      <button type="button" class="btn btn-secondary float-right btn-sm margin-left" data-toggle="modal" data-target="#locationModal" (click)="onClickDelete(pdf,comfirm)">Delete</button>
    </li>
  </ul>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Create Quizwerkz</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form novalidate #pdfForm="ngForm">
  	<div class="modal-body">
	  	<div class="form-group">
	      <label for="name">Name</label>   
	      <input type="text" class="form-control" placeholder="quizwerkz name" name="name" [(ngModel)]="item.name" required #name="ngModel">
	    </div>
	    <div class="form-group">
	      <label for="name">Book Url</label>   
	      <input type="url" class="form-control" placeholder="enter URl link" name="url" [(ngModel)]="item.url" required #url="ngModel" required>
	    </div>
  	</div>
  	<div class="modal-footer">
  	  <button type="submit" class="btn btn-light1" (click)="c('Close click')">Close</button>
  	  <button *ngIf="!isEdit" type="submit" class="btn btn-primary" (click)="createPdf(item, isEdit)">Create</button>
      <button *ngIf="isEdit" type="submit" class="btn btn-primary" (click)="updatePdf(item, isEdit, currentID)">Update</button>
  	</div>
  </form>
</ng-template>

<ng-template #comfirm let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4>Are You sure you want to delete?</h4>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-cancel" (click)="c('Close click')">Cancel</button>
    <button type="submit" class="btn btn-danger" (click)="comfirmDelete(selectQw,content1)">Delete</button>
  </div>
</ng-template>

<ng-template #content1 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4>We are going to delete <span style="color: red">"{{deleteQw.name}}"</span></h4>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-cancel" (click)="c('Close click')">Cancel</button>
    <button type="submit" class="btn btn-danger" (click)="quizwerkzDelete(deleteQw._id)">Comfirm</button>
  </div>
</ng-template>
