<!-- <div class="sticky-menu" [ngClass]="{'stickywrap' : navIsFixed == true}">
  <div class="d-flex justify-content-between">
    <div class="mr-auto">
      <div class="d-flex flex-row">
        <h2 class="title-heading">Resources</h2>
      </div>
    </div>
    <button type="button" class="btn btn-create" (click)="creatnew()">Add new Resources</button>
  </div>
</div> -->
<div class="min-scroll main-wrapper">
  <div *ngIf="iscreate == false && pdfPermission.length > 0">
    <div class="d-flex justify-content-between heading-margin">
      <div class="mr-auto">
        <div class="d-flex flex-row">
          <h2 class="title-heading">Resources</h2>
        </div>
      </div>
      <button
        *ngIf="pdfDemo.addPdf != ''"
        type="button"
        class="btn btn-create"
        (click)="creatnew()"
      >
        Add new resources
      </button>
    </div>
    <div *ngIf="pdfDemo.viewPdf != ''" class="row quizwerkz-group">
      <div
        class="col-sm-6 col-md-6 col-lg-6 col-xl-6"
        *ngFor="let pdf of pdfList"
      >
        <div class="d-flex single-quizwerkz">
          <div class="coverq">
            <img src="{{ pdf.cover }}" class="book-cover-img" />
          </div>
          <div style="flex: 1;">
            <div class="d-flex flex-column h-100">
              <div class="book-title">
                <h4>{{ pdf.name }}</h4>
              </div>
              <div class="btn-section d-flex justify-content-end">
                <button
                  *ngIf="pdfDemo.editPdf != ''"
                  class="btn-action remove-outline"
                  (click)="onclickUpdate(pdf._id)"
                >
                  Edit
                </button>
                <span class="line-between"></span>
                <button
                  *ngIf="pdfDemo.deletePdf != ''"
                  class="btn-action remove-outline"
                  (click)="onClickDelete(pdf._id, deletemodal)"
                >
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="iscreate == true">
    <div class="d-flex back-wrap">
      <!-- <a class="back-to" (click)="cancel()">< QuizWerkz</a> -->
      <div class="back-to" (click)="cancel()">
        <i class="fa fa-angle-left"></i>
        <p>Resources</p>
      </div>
    </div>
    <div class="quizwerkz-form-wrap">
      <h3 *ngIf="!isEdit" class="title-heading">Create resources</h3>
      <h3 *ngIf="isEdit" class="title-heading">Update resources</h3>
      <p class="input-recommend">
        Resources is like a library to upload and keep all your resources. Pair
        the resources to its relevant Course Plan and this will be visible to
        the users in their device under ‘Resources’ tab.
      </p>
      <div class="quizwerkz-form">
        <form novalidate #createqwForm="ngForm">
          <div class="col-md-8 input-wrap">
            <div class="form-group">
              <div class="d-flex justify-content-between">
                <label class="input-label" for="name">Name</label>
                <div class="limit-wordcount">
                  <span>{{ wordLength }}/80characters</span>
                </div>
              </div>
              <input
                type="text"
                class="form-control create-input"
                placeholder="quizwerkz name"
                name="name"
                [(ngModel)]="formField.name"
                (focus)="focusMethod($event)"
                (blur)="blurMethod($event)"
                maxlength="80"
                (input)="changeMethod($event.target.value)"
                required
                #name="ngModel"
              />

              <div
                *ngIf="name.errors && (name.dirty || name.touched)"
                class="alert alert-danger"
              >
                <div [hidden]="!name.errors.required">
                  Name is required!
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="input-label" for="name">Book Url</label>
              <input
                type="url"
                class="form-control create-input"
                placeholder="https://bookurl.jpg"
                pattern="https?://.+"
                name="url"
                [(ngModel)]="formField.url"
                required
                #url="ngModel"
                required
              />
              <div
                *ngIf="url.errors && (url.dirty || url.touched)"
                class="alert alert-danger"
              >
                <div [hidden]="!url.errors.required">
                  URL is required!
                </div>
                <div [hidden]="!url.errors.pattern">
                  Must be a valid URL!
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="input-label" for="name">Book Cover Url</label>
              <input
                type="url"
                class="form-control create-input"
                placeholder="enter cover URl link"
                name="cover"
                [(ngModel)]="formField.cover"
                required
                #cover="ngModel"
                required
                placeholder="https://bookcover.jpg"
                pattern="https?://.+"
              />
              <div
                *ngIf="cover.errors && (cover.dirty || cover.touched)"
                class="alert alert-danger"
              >
                <div [hidden]="!cover.errors.required">
                  URL is required!
                </div>
                <div [hidden]="!cover.errors.pattern">
                  Must be a valid URL!
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end form-footer">
            <button type="button" class="btn btn-cancel" (click)="cancel()">
              Cancel
            </button>
            <button
              type="button"
              *ngIf="!isEdit"
              [disabled]="!createqwForm.valid"
              class="btn btn-submit"
              (click)="createQuizWerkz(formField, isEdit)"
            >
              Create
            </button>
            <button
              type="button"
              *ngIf="isEdit"
              [disabled]="!createqwForm.valid"
              class="btn btn-submit"
              (click)="updateQuizWerkz(formField)"
            >
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div
  *ngIf="
    pdfList.length >= 20 &&
    iscreate == false &&
    result.length != 0 &&
    pdfDemo.viewPdf != ''
  "
  class="d-flex justify-content-center load-more"
>
  <button class="btn remove-outline" (click)="showMore(pdfList.length)">
    load more
  </button>
</div>
<ng-template #deletemodal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title">Confirm delete?</h3>
    <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body pdf-confirm">
    <p>
      Are You sure you want to delete
      <span class="target">"{{ selectQw }}"</span>?
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="submit"
      class="btn modal-cancel-btn"
      (click)="c('Close click')"
    >
      Cancel
    </button>
    <button
      type="submit"
      class="btn modal-delete-btn"
      (click)="quizwerkzDelete(currentID)"
    >
      Delete
    </button>
  </div>
</ng-template>
