<div class="d-flex justify-content-center">
  <div class="main-wrapper">
    <div class="back-wrap">
      <!-- <a class="back-to" *ngIf="ismodule == true || isUpdate == true" (click)="goToBack('type')">< APG</a> -->
      <!-- <a class="back-to" *ngIf="isshare == true && isUpdate == false" (click)="goToBack('create')">< Pick APG type</a> -->

      <div
        class="d-flex justify-content-between"
        *ngIf="iscreate == true && isUpdate == false"
      >
        <div class="back-to" (click)="goToBack('share')">
          <i class="fa fa-angle-left"></i>
          <p class="body-l text-c300">
            Creating Data tracking module
          </p>
        </div>
        <!-- <a class="back-to" (click)="goToBack('share')">< Creating progress APG</a> -->
        <a class="cancel-back body-l text-c300" (click)="cancelapg()">Cancel</a>
      </div>

      <div class="d-flex justify-content-between">
        <div class="back-to" (click)="goToBack('share')">
          <i class="fa fa-angle-left"></i>
          <p class="body-l text-c300">
            Creating Data tracking module
          </p>
        </div>
        <!-- <a class="back-to" (click)="goToBack('share')">< Creating progress APG</a> -->
        <a class="cancel-back body-l text-c300" (click)="cancelapg()">Cancel</a>
      </div>
    </div>

    <div class="apg-form">
      <form novalidate #createapgForm="ngForm">
        <div>
          <div class="input-group w-100">
            <input
              class="form-control py-2 input-search-bg bg-s20"
              type="search"
              placeholder="Search tracking module"
              id="template-search-input"
              (input)="sharedApgSearch2($event.target.value, '', '')"
              (keyup.enter)="sharedApgSearch($event.target.value, '', '')"
              autocomplete="off"
            />
            <span class="input-group-append">
              <button
                class="btn btn-design btn-outline-secondary"
                type="button"
                (click)="sharedApgSearch(keyword, '', '')"
              >
                <i class="fa fa-search search-size"></i>
              </button>
            </span>
          </div>
          <!-- Here data -->
          <div class="apg-share-content">
            <div class="col1">
              <div
                *ngFor="let temp of templateList | slice: 0:half; let i = index"
                class="assement-shared-apg share-input body-xl text-c300"
              >
                <label
                  class="form-check-label"
                  [ngClass]="{ selected: sharechecked == temp._id }"
                >
                  <div class="d-flex justify-content-between apgBoxHead">
                    <span
                      class="textapgType small text-c100"
                      [ngClass]="{ selected: sharechecked == temp._id }"
                      >Data</span
                    >
                    <div class="label-checked"></div>
                  </div>

                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="temp._id"
                    value="{{ temp.name }}"
                    (click)="chooseShareAPG(temp._id, temp.name)"
                  />
                  <span
                    class="textTempName body-xl text-c300"
                    [ngClass]="{ selected: sharechecked == temp._id }"
                    >{{ temp.name }}</span
                  >
                  <div
                    class="apgBoxFooter"
                    *ngFor="let tobj of temp.accessPoints"
                  >
                    <!-- {{tobj.data.inputType}} -->
                    <div
                      class="d-flex justify-content-between numberType"
                      *ngIf="tobj.data.inputType == 'NUMBER'"
                    >
                      <div class="body-l">
                        <span
                          class="textUnitName text-c100"
                          [ngClass]="{ selected: sharechecked == temp._id }"
                          >Unit:</span
                        ><span
                          class="textUnit text-c300"
                          [ngClass]="{ selected: sharechecked == temp._id }"
                        >
                          {{ tobj.data.unit }}</span
                        >
                      </div>
                      <div
                        class="showType"
                        *ngIf="
                          tobj.data.inputTypeProperties.min == null &&
                          tobj.data.inputTypeProperties.max == null
                        "
                      >
                        <img
                          src="../../../assets/img/input-icon.png"
                          class="inputIcon"
                        />
                        <span
                          class="inputText body-m text-c100"
                          [ngClass]="{ selected: sharechecked == temp._id }"
                        >
                          Input box
                        </span>
                      </div>
                    </div>

                    <div
                      class="d-flex justify-content-between rangeType"
                      *ngIf="tobj.data.inputType == 'RANGE'"
                    >
                      <div class="body-l">
                        <span
                          class="textUnitName text-c100"
                          [ngClass]="{ selected: sharechecked == temp._id }"
                          >Unit:</span
                        ><span
                          class="textUnit text-c300"
                          [ngClass]="{ selected: sharechecked == temp._id }"
                        >
                          {{ tobj.data.unit }}</span
                        >
                      </div>

                      <div
                        class="showType"
                        *ngIf="
                          tobj.data.inputTypeProperties.min != null &&
                          tobj.data.inputTypeProperties.max != null
                        "
                      >
                        <img
                          src="../../../assets/img/slider-icon.png"
                          class="inputIcon"
                        />
                        <span
                          class="inputText body-m text-c100"
                          [ngClass]="{ selected: sharechecked == temp._id }"
                        >
                          Slider
                        </span>
                      </div>
                    </div>

                    <div
                      class="radioType"
                      *ngIf="tobj.data.inputType == 'RADIO'"
                    >
                      <div
                        class="d-flex flex-row listGroup"
                        *ngFor="
                          let option of tobj.data.inputTypeProperties.options;
                          let j = index
                        "
                        [ngClass]="{ selected: sharechecked == temp._id }"
                      >
                        <span class="detail-dot"></span>
                        <div
                          class="mb-0 list-dot-wrap detail-line apg-desc w-100 optionlist body-m text-c100"
                          [ngClass]="{
                            'hide-border':
                              tobj.data.inputTypeProperties.options.length ==
                              j + 1,
                            selected: sharechecked == temp._id
                          }"
                        >
                          {{ option }}
                        </div>

                        <!-- <div class="mb-0 list-dot-wrap detail-line apg-desc w-100 optionlistnoBorder" *ngIf="tobj.data.inputTypeProperties.options.length-1==j"> <span class="detail-dot"></span>
                            {{option}}
                          </div> -->
                      </div>
                    </div>
                  </div>
                  <!-- </div> -->
                </label>
              </div>
            </div>
            <div class="col2">
              <div
                *ngFor="let temp of templateList | slice: half; let i2 = index"
                class="assement-shared-apg share-input share-input"
              >
                <label
                  class="form-check-label"
                  [ngClass]="{ selected: sharechecked == temp._id }"
                >
                  <div class="d-flex justify-content-between apgBoxHead">
                    <span
                      class="textapgType small text-c100"
                      [ngClass]="{ selected: sharechecked == temp._id }"
                      >Data</span
                    >
                    <div class="label-checked"></div>
                  </div>

                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="temp._id"
                    value="{{ temp.name }}"
                    (click)="chooseShareAPG(temp._id, temp.name)"
                  />
                  <span
                    class="textTempName body-xl text-c300"
                    [ngClass]="{ selected: sharechecked == temp._id }"
                    >{{ temp.name }}</span
                  >
                  <div
                    class="apgBoxFooter"
                    *ngFor="let tobj of temp.accessPoints"
                  >
                    <!-- {{tobj.data.inputType}} -->
                    <div
                      class="d-flex justify-content-between numberType"
                      *ngIf="tobj.data.inputType == 'NUMBER'"
                    >
                      <div class="body-l">
                        <span
                          class="textUnitName text-c100"
                          [ngClass]="{ selected: sharechecked == temp._id }"
                          >Unit:</span
                        ><span
                          class="textUnit text-c300"
                          [ngClass]="{ selected: sharechecked == temp._id }"
                        >
                          {{ tobj.data.unit }}</span
                        >
                      </div>
                      <div
                        class="showType"
                        *ngIf="
                          tobj.data.inputTypeProperties.min == null &&
                          tobj.data.inputTypeProperties.max == null
                        "
                      >
                        <img
                          src="../../../assets/img/input-icon.png"
                          class="inputIcon"
                        />
                        <span
                          class="inputText body-m text-c100"
                          [ngClass]="{ selected: sharechecked == temp._id }"
                        >
                          Input box
                        </span>
                      </div>
                    </div>

                    <div
                      class="d-flex justify-content-between rangeType"
                      *ngIf="tobj.data.inputType == 'RANGE'"
                    >
                      <div class="body-l">
                        <span
                          class="textUnitName text-c100"
                          [ngClass]="{ selected: sharechecked == temp._id }"
                          >Unit:</span
                        ><span
                          class="textUnit text-c300"
                          [ngClass]="{ selected: sharechecked == temp._id }"
                        >
                          {{ tobj.data.unit }}</span
                        >
                      </div>

                      <div
                        class="showType bg-s20"
                        *ngIf="
                          tobj.data.inputTypeProperties.min != null &&
                          tobj.data.inputTypeProperties.max != null
                        "
                      >
                        <img
                          src="../../../assets/img/slider-icon.png"
                          class="inputIcon"
                        />
                        <span
                          class="inputText body-m text-c100"
                          [ngClass]="{ selected: sharechecked == temp._id }"
                        >
                          Slider
                        </span>
                      </div>
                    </div>

                    <div
                      class="radioType"
                      *ngIf="tobj.data.inputType == 'RADIO'"
                    >
                      <div
                        class="d-flex flex-row listGroup"
                        *ngFor="
                          let option of tobj.data.inputTypeProperties.options;
                          let j = index
                        "
                        [ngClass]="{ selected: sharechecked == temp._id }"
                      >
                        <span class="detail-dot"></span>
                        <div
                          class="mb-0 list-dot-wrap detail-line apg-desc w-100 optionlist body-m text-c100"
                          [ngClass]="{
                            'hide-border':
                              tobj.data.inputTypeProperties.options.length ==
                              j + 1,
                            selected: sharechecked == temp._id
                          }"
                        >
                          {{ option }}
                        </div>

                        <!-- <div class="mb-0 list-dot-wrap detail-line apg-desc w-100 optionlistnoBorder" *ngIf="tobj.data.inputTypeProperties.options.length-1==j"> <span class="detail-dot"></span>
                            {{option}}
                          </div> -->
                      </div>
                    </div>
                  </div>
                  <!-- </div> -->
                </label>
              </div>
            </div>

            <!-- </label> -->
          </div>

          <div class="d-flex justify-content-end apg-share-bottom">
            <div class=" align-self-end ">
              <button
                [disabled]="
                  sharechecked == null ||
                  sharechecked == '' ||
                  sharechecked == undefined
                "
                type="button"
                class="btn btn-submit bg-b100 text-s0"
                (click)="setShareAPG(temp)"
              >
                Create
              </button>
            </div>
          </div>
          <div class="d-flex justify-content-center shareApgLoadMore loadMore1">
            <div
              *ngIf="templateList.length >= 20 && result.length == 20"
              class="load-more1 bg-s0"
            >
              <button
                class="btn remove-outline body-m text-b100 "
                (click)="showMoreShareApg(templateList.length)"
              >
                load more
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
