.pl-zero{
  padding-left: 0;
  padding-right: 0;
}
.content-wrapper.p-top{
  padding-top: 63px;
}
.content-wrapper{
  padding-top: 150px;
  -ms-transition: padding-top 300ms linear;
  transition: padding-top 300ms linear;
}
.select2-container .select2-selection--single{
	height: 38px !important;
}

.tab-wrap{
    padding: 9px 0px;
    position: relative;
    outline: none;
}

.noti-sidebar {
    padding-top: 20px;
    padding-right: 0;
    padding-left: 0;
    border-right: 1px solid #dedede;
}

.active .noti-tab::after,
.active .noti-tab::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
}
.active .noti-tab::before {    
    border-bottom: 5px solid #4292f1;
    border-right: 3px solid transparent;
    top: 5px;
}
.active .noti-tab::after {  
    border-top: 5px solid #4292f1;
    border-right: 3px solid transparent;
    bottom: 5px;
}
.active{
  background: #e6ecf2;
}
.active .noti-tab{
  background: #e6ecf2;
  color: #4292f1;
  border-left: 3px solid #4292f1;
}
.noti-tab{
  padding: 7px 12px;
  border-radius: 0;
  outline: none;
  border-left: 3px solid transparent;
  font-family: 'Montserrat-Medium','Arial', sans-serif !important;
}
.noti-tab:focus{
  outline: none;
  box-shadow: none;
}

.min-scroll {
    min-height: 350px; 
    overflow: scroll;
    border-left: 1px solid #dedede; 
}