<div class="container--fluid">
    <div class="d-flex align-items-stretch navbar sticky-top navbar-light" style="background: rgb(70, 65, 65)">
          <div class="col-sm-12">
              
                  <button class="btn btn-secondary dropdown-toggle float-right" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Admin
                  </button> 
                  <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                  </div>    
                 
        </div>
    </div> 
 
   
    <div class="container-fluid" style="height: 100vh;">     
      <div class="row h-100">
       <div class="col-md-2 clearfix h-100" style= "background:grey;"> 
         <ul>
           <li>user</li>
           <li>course</li>
         </ul>
    
       </div>
       <div class="col-md-10 clearfix h-100"> 
        <app-location></app-location>
       </div>
    </div>
  
    </div>
</div>
<!-- <app-location></app-location> -->
<!-- <app-users></app-users> -->