<app-header [ngClass]="{'stick' : navIsFixed == true}"></app-header>
<div class="d-flex flex-row h-100 w-100 content-wrapper" [ngClass]="{'p-top' : navIsFixed == true}">
    <div class="noti-sidebar h-100">
      <div class="side-bar-wrap" [ngClass]="{'p-top' : navIsFixed == true, 'mid-top' : isMidStick == true}">
        <div *ngIf="generalSidebar.length > 0" [ngClass]="{'active': menuType == 'general'}" class="tab-wrap">     
          <button class="btn noti-tab w-100" (click)="clickTab('general')">
            <span class="btnSpan">
              <img *ngIf="menuType == 'general'" class="setting-icon" src="./assets/images/sidebar-general_a@2x.png">
              <img *ngIf="menuType != 'general'" class="setting-icon" src="./assets/images/sidebar-general@2x.png">
              <span>General</span>
            </span>
          </button>
        </div>
        <div *ngIf="locationSidebar.length > 0" [ngClass]="{'active': menuType == 'location'}" class="tab-wrap">      
          <button class="btn noti-tab w-100" (click)="clickTab('location')">
            <span class="btnSpan">
              <img *ngIf="menuType == 'location'" class="setting-icon" src="./assets/images/sidebar-location_a@2x.png">
              <img *ngIf="menuType != 'location'" class="setting-icon" src="./assets/images/sidebar-location@2x.png">
              <span>Locations</span>
            </span>
          </button>
        </div>
        <div *ngIf="customSidebar.length > 0" [ngClass]="{'active': menuType == 'customfield'}" class="tab-wrap">      
          <button class="btn noti-tab w-100" (click)="clickTab('customfield')">
            <span class="btnSpan">
              <img *ngIf="menuType == 'customfield'" class="setting-icon" src="./assets/images/profile@2x_a.png">
              <img *ngIf="menuType != 'customfield'" class="setting-icon" src="./assets/images/profile@2x.png">
              <span>Custom Field</span>
            </span>
          </button>
        </div>
        <!-- <div [ngClass]="{'active': menuType == 'email'}" class="tab-wrap">      
          <button class="btn noti-tab w-100" (click)="clickTab('email')">
            <span class="btnSpan">
              <img *ngIf="menuType == 'email'" class="setting-icon" src="./assets/images/modify-template_a@2x.png">
              <img *ngIf="menuType != 'email'" class="setting-icon" src="./assets/images/modify-template@2x.png">
              <span>Modify template</span>
            </span>
          </button>
        </div> -->
      </div>
    </div>
    <div *ngIf="menuType == 'general'" class="pl-zero large-col" >
      <div class="d-flex flex-column w-100 h-100 setting-wrapper">
        <div>
          <div *ngIf="generalSidebar.length > 0" class="header-wrap">
            <h3 class="general">General</h3>
          </div>
          <div class="card-columns">
            <div *ngIf="generalDemo.appsetting != ''" class="card card-wrap region-wrap">
              <div class="title">
                Regional Settings
              </div>
              <div class="region-info">
                <div>
                  <div class="title-wrap">
                    <div id="parent">
                        <img src="./assets/images/map.png">
                    </div>
                    <label class="labelTitle">Region name</label>
                  </div>
                  <label class="labelName">{{item.name}}</label>
                </div>
                <div class="timezone-wrap ease" *ngIf="!isEdit">
                  <div>
                    <div class="title-wrap">
                      <div id="parent">
                          <img src="./assets/images/time_zone.png">
                      </div>
                      <label class="labelTitle">Time zone</label>
                    </div>
                  </div>
                  <div class="picker-wrap">
                    <ng2-timezone-picker class="newpick"
                    [(timezone)]="item.timezone" 
                    showOffset="true">
                    </ng2-timezone-picker>
                  </div>
                </div>
                <div class="timezone-wrap" *ngIf="isEdit">
                  <div>
                    <label class="labelTitle">Time zone</label>
                  </div>
                  <div>
                    <ng2-timezone-picker class="editTimezone"
                    [(timezone)]="item.timezone" 
                    showOffset="true">
                    </ng2-timezone-picker>
                  </div>
                </div>
              </div>
              <div *ngIf="!isEdit">
                <a class="link-btn" (click)="editRegion()">Edit</a>
              </div>
              <div class="editBtns" *ngIf="isEdit">
                <a class="cancel" (click)="cancelUpdate()">Cancel</a>
                <a (click)="updateRegionalInfo(item,'timezone')">Done</a>
              </div>
            </div>  
            <div *ngIf="generalDemo.regional != ''" class="card card-wrap">
              <div class="title">
                App Settings
              </div>
              <div class="setting-container">
                <div class="setting-info" [ngClass]="{'blur': isUrlEdit}">
                  <div class="link-wrap">
                    <div class="title-wrap">
                      <div id="parent">
                          <img src="./assets/images/home.png">
                      </div>
                      <label class="labelTitle">Home page URL</label>
                      <div class="urlEdit"><a (click)="editUrl()">Edit</a></div>
                    </div>
                    <label class="labelName">{{item.url}}</label>
                  </div>
                  <div class="timezone-wrap">
                    <div>
                      <div class="title-wrap">
                        <div id="parent">
                            <img src="./assets/images/filter.png">
                        </div>
                        <label class="labelTitle">Widget type visibility</label>
                      </div>
                    </div>
                    <div class="module-container">
                      <app-module></app-module>
                    </div>
                  </div>
                </div>
                <div class="overlay" *ngIf="isUrlEdit">
                  <div class="text">
                    <form novalidate #dashboradForm="ngForm">
                      <div class="form-group url-edit">
                        <label class="labelTitle">Home Page Url</label>   
                        <input type="url" class="form-control" placeholder="enter URl link" name="url" [(ngModel)]="item.url" #url="ngModel" required pattern="https?://.+">
                        <div *ngIf="url.errors && (url.dirty || url.touched)" class="alert alert-danger">
                          <div [hidden]="!url.errors.required">
                            URL is required!
                          </div>
                          <div [hidden]="!url.errors.pattern">
                            Must be a valid URL!
                          </div>
                        </div>
                      </div>
                      <div class="overlayBtns">
                        <button type="submit" class="btn" (click)="closeEdit()">
                          <span class="closemark">
                              <div class="closemark_stem"></div>
                              <div class="closemark_kick"></div>
                          </span>
                        </button>
                        <button type="submit" class="btn" (click)="updateRegionalInfo(item,'url')" [disabled]="!dashboradForm.valid">
                          <span class="checkmark">
                              <div [ngClass]="{'colorD': !dashboradForm.valid}" class="checkmark_stem"></div>
                              <div [ngClass]="{'colorD': !dashboradForm.valid}" class="checkmark_kick"></div>
                          </span>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="menuType == 'location'" class="large-col pl-zero">
      <app-location></app-location>
    </div> 
    <div *ngIf="menuType == 'customfield'" class="large-col pl-zero">
      <app-customfield></app-customfield>
    </div> 
    <div *ngIf="menuType == 'email'" class="large-col pl-zero">
      <app-emailtemplate></app-emailtemplate>
    </div>
</div>
<block-ui message="Deafult Message"></block-ui>