.mainOverlay {
  background: rgba(217, 217, 217, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.showZindex {
  z-index: 1;
}
/*invoice*/
.dot,
.currency {
  color: #788796;
  font-family: 'Inter-UI-Medium', 'Arial', sans-serif;
  padding: 0;
  margin: 0;
  letter-spacing: 2px;
  font-size: 16px;
}
.dot {
  line-height: 1.35;
}
.currency {
  line-height: 1.9;
}
.sectionWrap {
  border-top: 1px solid #edeff0;
  padding-top: 20px;
  margin-top: 24px;
}
.back-to {
  font-family: 'Inter-UI-Medium', Arial, sans-serif;
  color: #2e3d4d !important;
  padding-left: 0 !important;
  cursor: pointer;
  font-size: 16px;
}
.back-to i {
  float: left;
  font-size: 23px;
}
.back-to p {
  float: left;
  margin-bottom: 0;
  line-height: 1.6;
  margin-left: 4px;
}
.setting-edit-wrap {
  padding-top: 16px;
  margin-bottom: 70px;
}
.heading-h3 {
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
  color: #2f3d4c;
}
.form-wrap {
  margin-top: 36px;
}
.input-wrap {
  padding-left: 0;
}
.input-wrap .form-group,
.req-field {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.input-wrap .form-group:last-child {
  border-bottom: 0;
}
.no-border {
  border-bottom: none !important;
}
.input-label {
  font-size: 18px;
  color: #2e3e4d;
  margin-bottom: 0;
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
}
.create-textarea {
  background: #f2f4f5;
  font-family: 'Inter-UI-Regular', 'Arial', sans-serif !important;
  border-radius: 0.25rem;
  border: none;
  margin-bottom: 15px;
  padding: 0.6rem 0.75rem;
  margin-top: 4px;
}
.create-input {
  font-family: 'Inter-UI-Regular', 'Arial', sans-serif !important;
  border-radius: 0.25rem;
  border: none;
  margin-bottom: 15px;
  padding: 0.6rem 0.75rem;
  margin-left: -0.75rem;
  width: 103%;
  margin-top: 4px;
}
.create-input:focus,
.create-textarea:focus {
  box-shadow: none;
}
.form-footer {
  position: fixed;
  z-index: 9;
  width: 100%;
  bottom: 0;
  padding: 20px;
  left: 0;
  background: #fff;
}
.btn-submit,
.btn-cancel {
  font-family: 'Inter-UI-Medium', 'Arial', sans-serif;
  border: none;
  height: 45px;
  border-radius: 3px;
  width: 100px;
}
.remove-bg {
  background: none;
}
.btn-cancel {
  background-color: #f2f4f5;
}
.btn-submit {
  color: #fff;
  background-color: #1682fb;
  margin-left: 15px;
}
.currency-dropdown {
  padding: 10px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  border: none;
  position: absolute;
  z-index: 9;
  width: 100%;
  left: 0;
  top: 90px;
  background: #fff;
  overflow: overlay;
}
.currency-list .flag-wrap,
.provider-listing div {
  margin-bottom: 10px;
}
.currency-list {
  height: 250px;
  overflow: overflow;
  margin-top: 10px;
}
.provider-listing {
  overflow: overflow;
}
.currency-wrap,
.provider-wrap {
  position: relative;
}

.current-currency {
  padding: 12px;
  background: #f2f4f5;
  border-radius: 4px;
  margin-bottom: 24px;
  margin-top: 16px;
}
.current-currency input {
  border: none;
  background-color: transparent !important;
  padding: 0;
}
.c-sign {
  line-height: 1;
  padding-left: 5px;
}
.mt-02 {
  margin-top: 2px;
}
.mb-45 {
  margin-bottom: 45%;
}
.flag-wrap {
  margin-top: 4px;
  margin-right: 5px;
}
.c-input:focus,
.current-currency input {
  box-shadow: none;
}
.c-input {
  color: #2e3e4d;
  font-family: 'Inter-UI-SemiBold', 'Arial', sans-serif;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 900;
  word-break: break-word;
  border: none;
  background: none;
  padding: 0;
  line-height: 1.5;
}

/*payment*/
.disabled-provider {
  pointer-events: none;
  opacity: 0.6;
}
.provider-group {
  margin-bottom: 30px;
  border-bottom: 2px dashed #dedede;
  padding-bottom: 20px;
}
.single-provider {
  border-radius: 16px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin-right: 10px;
  font-size: 12px;
  padding: 8px 16px;
  color: #64707d;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-family: 'Inter-UI-Medium', Arial, sans-serif;
}
.remove-data {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  border: 2px solid #ff3d33;
  border-radius: 100%;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.remove-data::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff3d33;
  margin: auto 2px;
  height: 2px;
}
.provider-list {
  color: #2e3d4d;
  font-family: 'Inter-UI-SemiBold', 'Arial', sans-serif;
  font-size: 12px;
}
.online-wrap {
  margin-left: 45px;
}
.tax-input {
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  border: none;
  margin-bottom: 32px;
  margin-top: 16px;
  padding: 10px;
}
.tax-option {
  background: #788796;
  display: table;
  margin-top: 16px;
  padding: 10px 16px;
  border-radius: 0 4px 4px 0;
  color: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  font-family: 'Inter-UI-Medium', Arial, sans-serif;
}
input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/*==== toggle button ====*/
.switch {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 20px;
  margin-top: 8px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '\2012';
  color: #d8dbde;
  height: 14px;
  width: 14px;
  left: 1px;
  top: 1px;
  background-color: #64707d;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-align: center;
  vertical-align: middle;
  background-position: center;
  line-height: 1;
  font-size: 14px;
  font-weight: 900;
}

input:checked + .slider {
  border: 2px solid #0080ff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
  background: #0080ff;
  content: '';
  background-image: url(/assets/img/tick.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
}

/* Rounded sliders */
.switch-label {
  line-height: 1.8;
  margin-left: 16px;
  font-family: 'Inter-UI-Medium', Arial, sans-serif;
  font-size: 18px;
  color: #2e3e4d;
  margin-bottom: 0;
}
.cre-email {
  line-height: 2.5;
  font-size: 15px;
  margin-left: 8px;
}
.nocur {
  cursor: no-drop;
}
.slider.round {
  border-radius: 34px;
  border: 2px solid #64707d;
}

.slider.round:before {
  border-radius: 50%;
}

.side-bar-wrap.b-top {
  top: 95px;
}
.side-bar-wrap.p-top {
  top: 114px;
}
.side-bar-wrap.mid-top {
  top: 80px;
}
.alert-danger {
  font-size: 14px;
}
.tab-wrap:first-child {
  margin-top: 14px;
}
.pl-zero {
  padding-left: 0;
  padding-right: 0;
}
.content-wrapper.p-top {
  /*padding-top: 63px;*/
}
.content-wrapper {
  padding-top: 0;
  -ms-transition: padding-top 300ms linear;
  transition: padding-top 300ms linear;
}
.select2-container .select2-selection--single {
  height: 38px !important;
}

.tab-wrap {
  /*padding: 9px 0px;*/
  margin-bottom: 10px;
  margin-left: 8px;
  margin-right: 8px;
  position: relative;
  outline: none;
}

.noti-sidebar {
  /*padding-top: 20px;*/
  padding-right: 0;
  padding-left: 0;
  border-right: 1px solid #dedede;
  -ms-transition: 300ms linear;
  transition: 300ms linear;
  width: 25%;
  background: #f2f4f5;
}
.large-col {
  width: 75%;
}

/*.active .noti-tab::after,
.active .noti-tab::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
}
.active .noti-tab::before {
    border-bottom: 5px solid #4292f1;
    border-right: 3px solid transparent;
    top: 5px;
}
.active .noti-tab::after {
    border-top: 5px solid #4292f1;
    border-right: 3px solid transparent;
    bottom: 5px;
}
.active{
  background: #e6ecf2;
}
*/
.active .noti-tab {
  /*background: #e6ecf2;*/
  color: #fff;
  background: #007fff;
  border-radius: 4px;
  /*border-left: 3px solid #4292f1;*/
}
.noti-tab {
  padding: 10px 26px;
  border-radius: 0;
  outline: none;
  background: transparent;
  /*border-left: 3px solid transparent;*/
  font-family: 'Inter-UI-Semibold', 'Arial', sans-serif !important;
  color: #2e3e4d;
  font-size: 16px;
}
.noti-tab:focus {
  outline: none;
  box-shadow: none;
}

.min-scroll {
  min-height: 350px;
  overflow: overflow;
  border-left: 1px solid #dedede;
}

/*===comfirm UI===*/
.setting-icon {
  width: 25px;
}
.btnSpan {
  float: left;
  /*margin-left: 10px;*/
}
.btnSpan span {
  margin-left: 5px;
}
.setting-wrapper {
  padding: 23px 30px 0px 30px;
  margin: 0 auto;
}
.header-wrap {
  margin-bottom: 30px;
}
.general {
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
  color: #2e3d4d;
}
.card-columns {
  column-count: 2;
}
.card-wrap {
  font-size: 14px;
  border-radius: 9px;
  margin: 10px 0px 10px 0px;
  border: 1px solid #f0f0f0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.region-wrap {
  /*height: 309px;*/
}
.title {
  color: #ffffff;
  padding: 1rem;
  background: #64707d;
  border-radius: 8px 8px 0px 0px;
  font-size: 1.15rem;
  font-family: 'Inter-UI-Regular', 'Arial', sans-serif;
}
.region-info {
  border-bottom: 1px solid #edeff0;
  padding: 1rem;
  /*height: 195px;*/
}
.link-btn {
  color: #0080ff !important;
  font-family: 'Inter-UI-Medium', 'Arial', sans-serif;
  padding: 0.8rem;
  float: right;
  cursor: pointer;
}
.labelTitle {
  color: #64707d;
  font-family: 'Inter-UI-Medium', 'Arial', sans-serif;
  font-size: 15px;
  padding-top: 6px;
  width: 70%;
}
.labelName,
.sectionTitle {
  color: #2e3e4d;
  font-family: 'Inter-UI-SemiBold', 'Arial', sans-serif;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 900;
  word-break: break-word;
}
.labelName {
  margin-left: 47px;
}
.readonly-note {
  width: 20%;
  background: none;
  border: none;
  outline: none;
  resize: none;
}
.inv-note {
  white-space: pre-line;
  margin-top: -15px;
}
.timezone-wrap {
  padding-top: 1.5rem;
}
/*.social-links{
  float: left;
  text-align: center;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  margin-right: 12px;
  background: #f2f4f5;
}
.social-links a img{
    margin-top: 8px;
}*/
.title-wrap {
  display: flex;
}
#parent {
  line-height: 28px;
  text-align: center;
  width: 30px;
  height: 30px;
  background: #edeff0;
  border-radius: 50%;
  margin-right: 15px;
}
#parent img {
  vertical-align: middle;
}

.picker-wrap {
  pointer-events: none;
  margin-left: 40px;
}

.urlEdit {
  float: right;
  padding-top: 6px;
  color: #0080ff !important;
  font-family: 'Inter-UI-Medium', 'Arial', sans-serif;
  margin-left: auto;
}
.urlEdit a {
  cursor: pointer;
}
.editBtns a:hover {
  cursor: pointer;
}
.editBtns {
  /* padding: 1rem; */
  /* float: right; */
  border-top: 1px solid #8080802b;
  font-family: 'Inter-UI-Medium', 'Arial', sans-serif;
}

.cancel {
  padding: 0px 15px 0px 4px;
  font-size: 14px;
  color: #2e3d4d !important;
}
.time-picker:focus,
.cancel:focus,
.updateButton:focus {
  outline: none !important;
  box-shadow: none !important;
}
.updateButton {
  color: #0080ff !important;
  padding-right: 0px;
  padding-left: 8px;
  font-family: 'Inter-UI-Medium', 'Arial', sans-serif;
  font-size: 14px;
}
/*===App info setting===*/
.setting-info {
  padding: 1rem;
  position: relative;
  /*transition: all 0.3s ease-in-out;*/
}
.link-wrap {
  /*border-bottom: 1px dashed #eaeaeb;*/
  /*border-bottom: 1.5px dashed #ecedee;*/
  padding-bottom: 20px;
}
.module-container {
  margin-left: 40px;
}

/*Overlay Testing*/
.setting-container {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}
.ease {
  transition: all 0.3s ease-in-out;
}
.overlay {
  background: rgba(217, 217, 217, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  width: 100%;
  padding: 1rem;
}
.blur {
  filter: blur(8px);
}
.url-edit {
  margin-bottom: 12px;
}

.overlayBtns {
  float: right;
}
.overlayBtns button {
  background: #fff;
  border-radius: 2px;
  -ms-box-shadow: 0 0 9px 4px rgba(195, 195, 195, 0.3);
  -webkit-box-shadow: 0 0 9px 4px rgba(195, 195, 195, 0.3);
  box-shadow: 0 0 9px 4px rgba(195, 195, 195, 0.3);
}
.overlayBtns button:first-child {
  margin-right: 12px;
}
.closemark {
  display: inline-block;
  width: 11px;
  height: 15px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}
.closemark_stem,
.closemark_kick {
  position: absolute;
  width: 2px;
  height: 13px;
  background-color: #425568;
  left: 5px;
  top: 3px;
}

.closemark_kick {
  transform: rotate(90deg);
}
.checkmark {
  display: inline-block;
  width: 11px;
  height: 15px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.checkmark_stem {
  position: absolute;
  width: 2px;
  height: 13px;
  background-color: #425568;
  left: 6px;
  top: 1px;
}

.checkmark_kick {
  position: absolute;
  width: 6px;
  height: 2px;
  background-color: #425568;
  left: 2px;
  top: 12px;
}
.colorD {
  background-color: #c5cacf;
}

.input-recommend {
  font-size: 14px;
  color: #64707d;
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
  margin-left: 47px;
}

.operatingTime {
  font-family: 'Inter-UI-SemiBold', Arial, sans-serif;
  font-size: 16px;
  color: #2e3d4d;
  line-height: 20px;
  margin-left: 47px;
}
.operatingTime1 {
  font-family: 'Inter-UI-SemiBold', Arial, sans-serif;
  font-size: 16px;
  color: #2e3d4d;
  line-height: 20px;
}
.timedash {
  display: inline-block;
  width: 4px;
  height: 2px;
  color: #3d5266;
  background: #3d5266;
  margin: 0px 8px 4px 8px;
}
.time-picker {
  display: block;
}

.side-bar-wrap {
  z-index: 1;
}
/*//Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
  .s-time-box-wrap {
    margin-left: 0px !important;
  }
  .time-box-wrap {
    padding: 0px !important;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
  .s-time-box-wrap {
    margin-left: 0px !important;
  }
  .time-box-wrap {
    padding: 0px !important;
  }
  .xxx {
    left: -14%;
  }
  .noti-tab {
    padding: 15px 2px;
  }
  .srectangle::after {
    left: 45%;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
  .srectangle::after {
    left: 35%;
  }
  .xxx {
    left: -14%;
  }
  .noti-sidebar {
    width: 25%;
  }
  .large-col {
    width: 75%;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1999px) {
  .srectangle::after {
    left: 30%;
  }
  .xxx {
    left: -16%;
  }
  .noti-sidebar {
    width: 18%;
  }
  .large-col {
    width: 82%;
  }
}
@media (min-width: 2000px) {
  .noti-sidebar {
    width: 15%;
  }
  .large-col {
    width: 85%;
  }
  .card-columns {
    column-count: 2;
  }
}

@media only screen and (min-width: 1366px) {
  .setting-wrapper {
    width: 960px;
  }
}

@media (max-width: 1365px) {
  .setting-wrapper {
    width: 100%;
  }
}

/* @media only screen and  (max-width:1024px){
  .setting-wrapper{
    width: 960px;
  }
} */

.min-range {
  position: absolute;
  left: 10px;
  bottom: 20px;
}
.max-range {
  position: absolute;
  left: 10px;
}

.e-bg-box {
  right: 0% !important;
}
.bg-box {
  background: #fff;
  box-shadow: 0px 4px 31px 1px rgba(1, 0, 0, 0.3);
  width: 362px;
  /* display: none; */
  position: absolute;
  right: -100%;
  /*bottom: -95px;*/
  z-index: 9;
}
.gap-box {
  padding: 15px 0;
}
.time-wrapper {
  padding: 15px 30px;
  text-align: center;
  background-color: #f2f4f5;
}
.showTime {
  padding: 0px 10px;
  color: #0080ff;
  font-size: 20px;
}

.time-box {
  display: table;
  border: 2px solid #0080ff;
  border-radius: 4px;
  margin: 0px 10px;
}

.time-box input {
  display: none;
}

.time-box label {
  width: 45px;
  padding: 5px 0px;
  text-align: center;
  font-size: 14px;
  color: #0080ff;
}
.time-box label {
  width: 45px;
  padding: 5px 0px;
  text-align: center;
  font-size: 14px;
  color: #0080ff;
}
.selected {
  background: #0080ff;
  color: #fff !important;
}
.duration-progress {
  margin-top: 10px;
}
.duration-progress input {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 60px;
  overflow: hidden;
  width: 240px;
  cursor: pointer;
}
.time-box input {
  display: none;
}
input[type='range' i] {
  -webkit-appearance: slider-horizontal;
  color: rgb(144, 144, 144);
  cursor: default;
  padding: initial;
  border: initial;
  /* margin: 2px; */
}
.min-range-box {
  position: absolute;
  bottom: 3px;
  left: 100px;
}

.max-range-box {
  position: absolute;
  bottom: 52px;
  left: 100px;
}

.max-range-box:hover,
.min-range-box:hover {
  background: none;
}

.gap-range-min {
  margin-top: 10px;
  padding: 15px 0;
}
.max-range {
  position: absolute;
  left: 10px;
}
.duration-progress input:focus {
  box-shadow: none;
  outline: none;
}

.duration-progress input::-webkit-slider-runnable-track {
  background: #0080ff;
  content: '';
  height: 2px;
}

.duration-progress input::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  -webkit-appearance: none;
  appearance: none;
  background: #0080ff;
  border-radius: 50%;
  box-shadow: 5px 0 0 -6px #e3e4e6, 6px 0 0 -6px #e3e4e6, 7px 0 0 -6px #e3e4e6,
    8px 0 0 -6px #e3e4e6, 9px 0 0 -6px #e3e4e6, 10px 0 0 -6px #e3e4e6,
    11px 0 0 -6px #e3e4e6, 12px 0 0 -6px #e3e4e6, 13px 0 0 -6px #e3e4e6,
    14px 0 0 -6px #e3e4e6, 15px 0 0 -6px #e3e4e6, 16px 0 0 -6px #e3e4e6,
    17px 0 0 -6px #e3e4e6, 18px 0 0 -6px #e3e4e6, 19px 0 0 -6px #e3e4e6,
    20px 0 0 -6px #e3e4e6, 21px 0 0 -6px #e3e4e6, 22px 0 0 -6px #e3e4e6,
    23px 0 0 -6px #e3e4e6, 24px 0 0 -6px #e3e4e6, 25px 0 0 -6px #e3e4e6,
    26px 0 0 -6px #e3e4e6, 27px 0 0 -6px #e3e4e6, 28px 0 0 -6px #e3e4e6,
    29px 0 0 -6px #e3e4e6, 30px 0 0 -6px #e3e4e6, 31px 0 0 -6px #e3e4e6,
    32px 0 0 -6px #e3e4e6, 33px 0 0 -6px #e3e4e6, 34px 0 0 -6px #e3e4e6,
    35px 0 0 -6px #e3e4e6, 36px 0 0 -6px #e3e4e6, 37px 0 0 -6px #e3e4e6,
    38px 0 0 -6px #e3e4e6, 39px 0 0 -6px #e3e4e6, 40px 0 0 -6px #e3e4e6,
    41px 0 0 -6px #e3e4e6, 42px 0 0 -6px #e3e4e6, 43px 0 0 -6px #e3e4e6,
    44px 0 0 -6px #e3e4e6, 45px 0 0 -6px #e3e4e6, 46px 0 0 -6px #e3e4e6,
    47px 0 0 -6px #e3e4e6, 48px 0 0 -6px #e3e4e6, 49px 0 0 -6px #e3e4e6,
    50px 0 0 -6px #e3e4e6, 51px 0 0 -6px #e3e4e6, 52px 0 0 -6px #e3e4e6,
    53px 0 0 -6px #e3e4e6, 54px 0 0 -6px #e3e4e6, 55px 0 0 -6px #e3e4e6,
    56px 0 0 -6px #e3e4e6, 57px 0 0 -6px #e3e4e6, 58px 0 0 -6px #e3e4e6,
    59px 0 0 -6px #e3e4e6, 60px 0 0 -6px #e3e4e6, 61px 0 0 -6px #e3e4e6,
    62px 0 0 -6px #e3e4e6, 63px 0 0 -6px #e3e4e6, 64px 0 0 -6px #e3e4e6,
    65px 0 0 -6px #e3e4e6, 66px 0 0 -6px #e3e4e6, 67px 0 0 -6px #e3e4e6,
    68px 0 0 -6px #e3e4e6, 69px 0 0 -6px #e3e4e6, 70px 0 0 -6px #e3e4e6,
    71px 0 0 -6px #e3e4e6, 72px 0 0 -6px #e3e4e6, 73px 0 0 -6px #e3e4e6,
    74px 0 0 -6px #e3e4e6, 75px 0 0 -6px #e3e4e6, 76px 0 0 -6px #e3e4e6,
    77px 0 0 -6px #e3e4e6, 78px 0 0 -6px #e3e4e6, 79px 0 0 -6px #e3e4e6,
    80px 0 0 -6px #e3e4e6, 81px 0 0 -6px #e3e4e6, 82px 0 0 -6px #e3e4e6,
    83px 0 0 -6px #e3e4e6, 84px 0 0 -6px #e3e4e6, 85px 0 0 -6px #e3e4e6,
    86px 0 0 -6px #e3e4e6, 87px 0 0 -6px #e3e4e6, 88px 0 0 -6px #e3e4e6,
    89px 0 0 -6px #e3e4e6, 90px 0 0 -6px #e3e4e6, 91px 0 0 -6px #e3e4e6,
    92px 0 0 -6px #e3e4e6, 93px 0 0 -6px #e3e4e6, 94px 0 0 -6px #e3e4e6,
    95px 0 0 -6px #e3e4e6, 96px 0 0 -6px #e3e4e6, 97px 0 0 -6px #e3e4e6,
    98px 0 0 -6px #e3e4e6, 99px 0 0 -6px #e3e4e6, 100px 0 0 -6px #e3e4e6,
    101px 0 0 -6px #e3e4e6, 102px 0 0 -6px #e3e4e6, 103px 0 0 -6px #e3e4e6,
    104px 0 0 -6px #e3e4e6, 105px 0 0 -6px #e3e4e6, 106px 0 0 -6px #e3e4e6,
    107px 0 0 -6px #e3e4e6, 108px 0 0 -6px #e3e4e6, 109px 0 0 -6px #e3e4e6,
    110px 0 0 -6px #e3e4e6, 111px 0 0 -6px #e3e4e6, 112px 0 0 -6px #e3e4e6,
    113px 0 0 -6px #e3e4e6, 114px 0 0 -6px #e3e4e6, 115px 0 0 -6px #e3e4e6,
    116px 0 0 -6px #e3e4e6, 117px 0 0 -6px #e3e4e6, 118px 0 0 -6px #e3e4e6,
    119px 0 0 -6px #e3e4e6, 120px 0 0 -6px #e3e4e6, 121px 0 0 -6px #e3e4e6,
    122px 0 0 -6px #e3e4e6, 123px 0 0 -6px #e3e4e6, 124px 0 0 -6px #e3e4e6,
    125px 0 0 -6px #e3e4e6, 126px 0 0 -6px #e3e4e6, 127px 0 0 -6px #e3e4e6,
    128px 0 0 -6px #e3e4e6, 129px 0 0 -6px #e3e4e6, 130px 0 0 -6px #e3e4e6,
    131px 0 0 -6px #e3e4e6, 132px 0 0 -6px #e3e4e6, 133px 0 0 -6px #e3e4e6,
    134px 0 0 -6px #e3e4e6, 135px 0 0 -6px #e3e4e6, 136px 0 0 -6px #e3e4e6,
    137px 0 0 -6px #e3e4e6, 138px 0 0 -6px #e3e4e6, 139px 0 0 -6px #e3e4e6,
    140px 0 0 -6px #e3e4e6, 141px 0 0 -6px #e3e4e6, 142px 0 0 -6px #e3e4e6,
    143px 0 0 -6px #e3e4e6, 144px 0 0 -6px #e3e4e6, 145px 0 0 -6px #e3e4e6,
    146px 0 0 -6px #e3e4e6, 147px 0 0 -6px #e3e4e6, 148px 0 0 -6px #e3e4e6,
    149px 0 0 -6px #e3e4e6, 150px 0 0 -6px #e3e4e6, 151px 0 0 -6px #e3e4e6,
    152px 0 0 -6px #e3e4e6, 153px 0 0 -6px #e3e4e6, 154px 0 0 -6px #e3e4e6,
    155px 0 0 -6px #e3e4e6, 156px 0 0 -6px #e3e4e6, 157px 0 0 -6px #e3e4e6,
    158px 0 0 -6px #e3e4e6, 159px 0 0 -6px #e3e4e6, 160px 0 0 -6px #e3e4e6,
    161px 0 0 -6px #e3e4e6, 162px 0 0 -6px #e3e4e6, 163px 0 0 -6px #e3e4e6,
    164px 0 0 -6px #e3e4e6, 165px 0 0 -6px #e3e4e6, 166px 0 0 -6px #e3e4e6,
    167px 0 0 -6px #e3e4e6, 168px 0 0 -6px #e3e4e6, 169px 0 0 -6px #e3e4e6,
    170px 0 0 -6px #e3e4e6, 171px 0 0 -6px #e3e4e6, 172px 0 0 -6px #e3e4e6,
    173px 0 0 -6px #e3e4e6, 174px 0 0 -6px #e3e4e6, 175px 0 0 -6px #e3e4e6,
    176px 0 0 -6px #e3e4e6, 177px 0 0 -6px #e3e4e6, 178px 0 0 -6px #e3e4e6,
    179px 0 0 -6px #e3e4e6, 180px 0 0 -6px #e3e4e6, 181px 0 0 -6px #e3e4e6,
    182px 0 0 -6px #e3e4e6, 183px 0 0 -6px #e3e4e6, 184px 0 0 -6px #e3e4e6,
    185px 0 0 -6px #e3e4e6, 186px 0 0 -6px #e3e4e6, 187px 0 0 -6px #e3e4e6,
    188px 0 0 -6px #e3e4e6, 189px 0 0 -6px #e3e4e6, 190px 0 0 -6px #e3e4e6,
    191px 0 0 -6px #e3e4e6, 192px 0 0 -6px #e3e4e6, 193px 0 0 -6px #e3e4e6,
    194px 0 0 -6px #e3e4e6, 195px 0 0 -6px #e3e4e6, 196px 0 0 -6px #e3e4e6,
    197px 0 0 -6px #e3e4e6, 198px 0 0 -6px #e3e4e6, 199px 0 0 -6px #e3e4e6,
    200px 0 0 -6px #e3e4e6, 201px 0 0 -6px #e3e4e6, 202px 0 0 -6px #e3e4e6,
    203px 0 0 -6px #e3e4e6, 204px 0 0 -6px #e3e4e6, 205px 0 0 -6px #e3e4e6,
    206px 0 0 -6px #e3e4e6, 207px 0 0 -6px #e3e4e6, 208px 0 0 -6px #e3e4e6,
    209px 0 0 -6px #e3e4e6, 210px 0 0 -6px #e3e4e6, 211px 0 0 -6px #e3e4e6,
    212px 0 0 -6px #e3e4e6, 213px 0 0 -6px #e3e4e6, 214px 0 0 -6px #e3e4e6,
    215px 0 0 -6px #e3e4e6, 216px 0 0 -6px #e3e4e6, 217px 0 0 -6px #e3e4e6,
    218px 0 0 -6px #e3e4e6, 219px 0 0 -6px #e3e4e6, 220px 0 0 -6px #e3e4e6,
    221px 0 0 -6px #e3e4e6, 222px 0 0 -6px #e3e4e6, 223px 0 0 -6px #e3e4e6,
    224px 0 0 -6px #e3e4e6, 225px 0 0 -6px #e3e4e6, 226px 0 0 -6px #e3e4e6,
    227px 0 0 -6px #e3e4e6, 228px 0 0 -6px #e3e4e6, 229px 0 0 -6px #e3e4e6,
    230px 0 0 -6px #e3e4e6, 231px 0 0 -6px #e3e4e6, 232px 0 0 -6px #e3e4e6,
    233px 0 0 -6px #e3e4e6, 234px 0 0 -6px #e3e4e6, 235px 0 0 -6px #e3e4e6,
    236px 0 0 -6px #e3e4e6, 237px 0 0 -6px #e3e4e6, 238px 0 0 -6px #e3e4e6,
    239px 0 0 -6px #e3e4e6, 240px 0 0 -6px #e3e4e6;
  margin-top: -6px;
}
#rectangle::after {
  content: '';
  position: absolute;
  -webkit-transform: translate(30px, 20px) rotate(180deg);
  transform: translate(30px, 20px) rotate(180deg);
  top: -40px;
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.erectangle::after {
  right: 20%;
}
/* .duration-dropdown{
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
  position: absolute;
  z-index: 99;
  padding: 0px 15px;

  top: 0px;
  right: 10px;
  background: #fff;
  color: #2e3d4d !important;
} */
/* .duration-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;
} */

/* Organisation Logo in Setting */
.preview {
  width: 80%;
  max-height: 340px;
  padding-top: 10px;
}

.custom-file-label {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.error-message {
  padding-top: 5px;
  color: rgb(233, 48, 48);
}

.upload-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.inner-img {
  height: 100% !important;
}
.outter-img {
  max-height: 340px;
}
.schedule-setting {
  padding: 1rem;
  position: relative;
  border-bottom: 1px solid #edeff0;
}
.due-input {
  width: 50%;
}
.due-input:hover {
  background: #f2f4f5;
  font-family: 'Inter-UI-Regular', 'Arial', sans-serif !important;
  border-radius: 0.25rem;
  border: none;
}
.day-color {
  color: #000 !important;
}
.schedule-img {
  margin-top: 10px;
}
