.class-block {
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
  position: relative;
  width: 476px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 24px;
  margin-left: 24px;
  height: 120px;
  padding: 20px;
}

.course-block {
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 24px;
  padding: 20px;
}

.course-title {
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
  position: relative;
  width: 100%;
  height: 41px;
  /* padding: 44px; */
}

.location {
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #64707d;
}

.title {
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #0080ff;
  cursor: pointer;
}

.title-space {
  padding: 20px 20px 0 10px;
  font-family: 'Inter-UI-SemiBold', Arial, sans-serif;
}

.overview-shedule {
  width: 100%;
  padding-top: 25px;
}

.shedule-text {
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #64707d;
  min-width: 87px;
  padding-bottom: 4px;
}

.v-line {
  width: 2px;
  height: 38px;
  background: #edeff0;
}

.btn-wrap.no-item {
  padding-top: 10px;
  padding-left: 10px;
  font-family: 'Inter-UI-Medium', Arial, sans-serif !important;
  color: #64707d;
  font-size: 15px;
}

.lessons {
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
  font-size: 14px;
}

/* Final Class Modal */
.final-class-wrapper {
  width: 100%;
  padding: 32px 32px 0px 32px;
}

.final-class-modal-title {
  font-size: 28px;
  color: #2e3d4d;
  font-family: 'Inter-UI-Bold', Arial, sans-serif;
  margin-bottom: 36px;
}

.class-list-box {
  border: 1px solid #edeff0;
  border-radius: 8px;
  height: 520px;
  margin-bottom: 32px;
  padding-left: 0px;
  padding-right: 0px;
}

.class-list-box-title {
  height: 84px;
  background: #f2f4f5;
}

.leavedays-box {
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  height: 102px;
  margin-left: 15px;
}

.footer-shadow {
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.08);
}
::ng-deep .row {
  margin-bottom: 20px !important;
}
