.class-block {
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
  position: relative;
  width: 476px;
  height: 144px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 24px;
  margin-left: 24px;
}

.course-title {
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
  position: relative;
  width: 100%;
  height: 41px;
  /* padding: 44px; */
  padding-top: 20px;
  padding-left: 40px;
  padding-bottom: 60px;
}

.location {
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #64707d;
}

.title {
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #0080ff;
  cursor: pointer;
}

.title-space {
  padding: 20px 20px 0 10px;
  font-family: 'Inter-UI-SemiBold', Arial, sans-serif;
}

.overview-shedule {
  width: 100%;
  padding-left: 40px;
}

.shedule-text {
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #64707d;
  min-width: 87px;
  padding-bottom: 4px;
}

.v-line {
  width: 2px;
  height: 38px;
  background: #edeff0;
}

.btn-wrap.no-item {
  padding-top: 10px;
  padding-left: 10px;
  font-family: 'Inter-UI-Medium', Arial, sans-serif !important;
  color: #64707d;
  font-size: 15px;
}

.lessons {
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
  font-size: 14px;
}
