<div class="row">
  <div class="class-block">
    <div class="row">
      <div class="course-title">
        <!-- <span>Bedok centre</span>
        <span>Beginner Piano Course</span> -->
        <div class="col-md-10">.col-6 .col-sm-3</div>
        <div class="col-md-10">.col-6 .col-sm-3</div>
      </div>
    </div>
    <div class="row">
      <div class="overview-shedule">
        <div class="col-md-4">
          ggwp
        </div>
        <div class="v-line"></div>
        <div class="col-md-8">
          ggwp
        </div>
      </div>
    </div>
  </div>
  <div class="class-block">Class 2</div>
  <div class="class-block">Class 3</div>
  <div class="class-block">Class 4</div>
</div>
