<div class="exactCenter" *ngIf="isHideSelected">
  Some User is selected
</div>
<div
  class="d-flex justify-content-between mt-3 customer-nav align-items-center "
>
  <div class="back-to" routerLink="/coursedetail/customer/customers">
    <i class="fa fa-angle-left"></i>
    <p>Back to {{ detailLists.name }}</p>
  </div>
  <div class="back-to" routerLink="/coursedetail/customer/overview">
    <p>Cancel</p>
  </div>
</div>
<div class="d-flex lfex-column justify-content-center align-items-center">
  <div class="inner-wrapper w-100" *ngIf="!showSelectedUserView">
    <!-- 
      enroll UI
     -->
    <form novalidate #cfees="ngForm">
      <div class="d-flex flex-column mt-37" style="position: relative;">
        <div class="d-flex">
          <input
            *ngIf="userType == 'customer'"
            class="form-control py-2 input-search-bg"
            type="search"
            placeholder="Search customer here"
            id="example-search-input"
            name="search"
            #search="ngModel"
            [(ngModel)]="formData.searchText"
            (focus)="focusMethod($event, userType)"
            (focusout)="hideFocus($event)"
            (blur)="hideFocus($event)"
            (input)="changeMethod($event.target.value, userType)"
            autocomplete="off"
          />
          <input
            *ngIf="userType == 'staff' || userType == 'teacher'"
            class="form-control py-2 input-search-bg"
            type="search"
            placeholder="Search teachers"
            id="example-search-input"
            name="search"
            #search="ngModel"
            [(ngModel)]="formData.searchText"
            (focus)="focusMethod($event, userType)"
            (focusout)="hideFocus($event)"
            (blur)="hideFocus($event)"
            (input)="changeMethod($event.target.value, userType)"
            autocomplete="off"
          />
          <span class="input-group-append">
            <button class="bt btn-design btn-outline-secondary" type="button">
              <i class="fa fa-search search-size"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="mt-20 user-row-wrap">
        <div *ngIf="userType != 'teacher'">
          <div class="row single-user-wrap" *ngIf="userLists.length > 0">
            <div
              *ngFor="let user of userLists"
              class="col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3"
            >
              <div
                class="d-flex flex-row single-user justify-content-center align-items-center"
              >
                <div class="img-wrap">
                  <img src="{{ user.profilePic }}" />
                </div>
                <div
                  class="single-user-info d-flex flex-column justify-content-center"
                >
                  <h4>{{ user.preferredName }}</h4>
                </div>
                <div class="ml-auto remover-wrap">
                  <div
                    class="add-user d-flex justify-content-end"
                    [ngClass]="user.addOrRemove"
                    (click)="chooseUser(user)"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="userType == 'teacher'">
          <div class="row single-user-wrap" *ngIf="selectedTeacherLists != ''">
            <div
              *ngFor="let teacher of selectedTeacherLists"
              class="col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3"
            >
              <div class="d-flex flex-row single-user">
                <div class="img-wrap">
                  <img src="{{ teacher.profilePic }}" />
                </div>
                <div
                  class="single-user-info d-flex flex-column justify-content-center"
                >
                  <h4>{{ teacher.preferredName }}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        *ngIf="isSeatAvailable == false && userType == 'customer'"
        class="seat-taken"
      >
        All seat taken. Can't add user anymore.
      </div>
      <div
        *ngIf="noSetting == true && userType != 'teacher'"
        class="seat-taken"
      >
        You should set invoice setting and payment setting first.
      </div>

      <div class="d-flex justify-content-end">
        <button
          *ngIf="userType != 'teacher' && userLists.length !== 0"
          type="submit"
          class="btn btn-submit"
          [disabled]="enrollUserList.length == 0 || noSetting == true"
          (click)="showSelectedUserViewFunc()"
        >
          Next
        </button>
        <button
          *ngIf="userType == 'teacher'"
          type="submit"
          class="btn btn-submit"
          [disabled]="selectedTeacherLists.length == 0"
          (click)="
            swapTeacherToCourse(detailLists._id, selectedTeacherLists[0].userId)
          "
        >
          Confirm
        </button>
      </div>
    </form>

    <!-- 
      enroll UI
     -->
  </div>
  <div class="inner-wrapper w-100" *ngIf="showSelectedUserView">
    <!-- 
      enroll UI
     -->
    <div class="d-flex mt-3">
      <h3 *ngIf="userType == 'staff'" class="modal-title d-flex mr-auto">
        Confirm teacher
      </h3>
      <div *ngIf="userType == 'customer'">
        <h3 class="modal-title d-flex mr-auto">
          Confirm customer
        </h3>
        <span *ngIf="userLists.length <= 1"
          >{{ enrollUserList.length }} customer
        </span>
        <span *ngIf="userLists.length >= 1"
          >{{ enrollUserList.length }} customers
        </span>
        <span>selected</span>
      </div>

      <h3 *ngIf="userType == 'teacher'" class="modal-title d-flex mr-auto">
        Confirm teacher
      </h3>
    </div>
    <form novalidate #cfees="ngForm">
      <div class="d-flex flex-column mt-37" style="position: relative;">
        <div class="d-flex">
          <input
            *ngIf="userType == 'customer'"
            class="form-control py-2 input-search-bg"
            type="search"
            placeholder="Search customer here"
            id="example-search-input"
            name="search"
            #search="ngModel"
            [(ngModel)]="formData.searchText"
            (focus)="focusMethod($event, userType)"
            (focusout)="hideFocus($event)"
            (blur)="hideFocus($event)"
            (input)="changeMethod($event.target.value, userType)"
            autocomplete="off"
          />
          <input
            *ngIf="userType == 'staff' || userType == 'teacher'"
            class="form-control py-2 input-search-bg"
            type="search"
            placeholder="Search teachers"
            id="example-search-input"
            name="search"
            #search="ngModel"
            [(ngModel)]="formData.searchText"
            (focus)="focusMethod($event, userType)"
            (focusout)="hideFocus($event)"
            (blur)="hideFocus($event)"
            (input)="changeMethod($event.target.value, userType)"
            autocomplete="off"
          />
          <span class="input-group-append">
            <button class="bt btn-design btn-outline-secondary" type="button">
              <i class="fa fa-search search-size"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="mt-20 user-row-wrap">
        <div *ngIf="userType != 'teacher'">
          <div class="row single-user-wrap" *ngIf="enrollUserList.length > 0">
            <div
              *ngFor="let user of enrollUserList"
              class="col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3"
            >
              <div
                class="d-flex flex-row single-user justify-content-center align-items-center"
              >
                <div class="img-wrap">
                  <img src="{{ user.profilePic }}" />
                </div>
                <div
                  class="single-user-info d-flex flex-column justify-content-center"
                >
                  <h4>{{ user.preferredName }}</h4>
                </div>
                <div class="ml-auto remover-wrap">
                  <div
                    class="add-user d-flex justify-content-end"
                    [ngClass]="user.addOrRemove"
                    (click)="chooseUser(user)"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="userType == 'teacher'">
          <div class="row single-user-wrap" *ngIf="selectedTeacherLists != ''">
            <div
              *ngFor="let teacher of selectedTeacherLists"
              class="col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3"
            >
              <div class="d-flex flex-row single-user">
                <div class="img-wrap">
                  <img src="{{ teacher.profilePic }}" />
                </div>
                <div
                  class="single-user-info d-flex flex-column justify-content-center"
                >
                  <h4>{{ teacher.preferredName }}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        *ngIf="isSeatAvailable == false && userType == 'customer'"
        class="seat-taken"
      >
        All seat taken. Can't add user anymore.
      </div>
      <div
        *ngIf="noSetting == true && userType != 'teacher'"
        class="seat-taken"
      >
        You should set invoice setting and payment setting first.
      </div>

      <div class="d-flex justify-content-end">
        <button
          *ngIf="userType != 'teacher' && userLists.length !== 0"
          type="submit"
          class="btn btn-submit"
          [disabled]="enrollUserList.length == 0 || noSetting == true"
          (click)="enrollUserToCourse(courseId, userType)"
        >
          Enroll
        </button>
        <button
          *ngIf="userType == 'teacher'"
          type="submit"
          class="btn btn-submit"
          [disabled]="selectedTeacherLists.length == 0"
          (click)="
            swapTeacherToCourse(detailLists._id, selectedTeacherLists[0].userId)
          "
        >
          Confirm
        </button>
      </div>
    </form>

    <!-- 
      enroll UI
     -->
  </div>
</div>
