
  <div class="" style="margin:0px 40px 0px 32px;">
    <p class="flexititle">Enroll lesson</p>
    <div class="d-flex">
      <div class="col-md-4 p-0">
        <div class="d-flex">
          <div class="flexi-img-div">
            <div class="flexi-img-wrap">
              <img src="{{selectedCustomer.profilePic}}">
            </div>
          </div>
          <div class="flexi-name-div">
            <p class="flexi-name">{{selectedCustomer.preferredName}}</p>
            <label class="flexi-email">{{selectedCustomer.email}}</label>
          </div>
        </div>
      </div>
      <div class="col-md-4 modal-cfees">
        <h5 class="mt-03">
          <i class="fa fa-map-marker" style="font-size:15px"></i>
          Bedok Centre 
        </h5>
        <b>Beginner Piano cours</b>
      </div>
      <div class="col-md-4 modal-cfees">
        <!-- <h5 *ngFor="let day of detailLists.repeatDays | weekDays">
          {{ day }}
        </h5> -->
        <h5 class="flexi-day">SUN & MON</h5>
        <!-- <div class="modal-duration">{{ detailLists.duration.startDate | utcTime }} - {{ detailLists.duration.endDate
          | utcTime }}</div> -->
        <div class="flexi-modal-duration">11:00 AM - 12:00 AM</div>
      </div>
    </div>
    <div class="d-flex teacher-gp">
      <div class="flexi-img-div teacherImg">
        <div class="flexi-img-wrap teacherImg-wrap">
          <img src="https://brainlitz.s3.amazonaws.com/default/default_profile_pic.png">
        </div>
      </div>
      <div class="flexi-teacher-div">
        <p class="flexi-teacher-position">Senior Teacher</p>
        <label class="flexi-teacher-name">Arron Wamsley</label>
      </div>
    </div>
    <div class="d-flex">
      <div class="flexiCircle">
        <i class="fa fa-plus circlePlus"></i>
      </div>
      <p class="previousDate">Load previous dates</p>
    </div>
    <div class="row lessonBoxgp">
      <div class="col-md-2 lessonbox" *ngFor="let obj of flexyObj" [ngStyle]="clickId==obj.id ? {'z-index': '100'} : {'z-index': '0'}">
        <div class="lessonbox-inner" (click)="lessonCheck(obj.id)" *ngIf="obj.status =='normal'" [ngStyle]="lessionIdArr.indexOf(obj.id) != -1  ? {'background': ' #007FFF'} : {'background': '#FFFFFF'}">
          <div class="d-flex">
            <div class="checkBox" *ngIf="lessionIdArr.indexOf(obj.id) != -1">
                <i class="fa fa-check checkIcon"></i>
            </div>
            <div class="uncheckBox" *ngIf="lessionIdArr.indexOf(obj.id) == -1"> 
            </div>
            <div class="showDate" >
              <p class="date" [ngClass]="{'checkedDate':lessionIdArr.indexOf(obj.id) != -1}">8 May</p>
              <p class="day" [ngClass]="{'checkedDext':lessionIdArr.indexOf(obj.id) != -1}">Monday</p>
            </div>
          </div>
          <div class="statusBox" [ngClass]="{'checkStudent':lessionIdArr.indexOf(obj.id) != -1}">
            <p class="statusText">20 students</p>
          </div>
        </div>
        <div class="lessonbox-conflict" id="lessonbox-conflict" *ngIf="obj.status=='conflict'">
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <div class="exIcon">
                <i class="fa fa-exclamation-circle exclamationIcon"></i>
              </div>
              <div class="showDate" >
                <p class="date" [ngClass]="{'checkedDate':lessionIdArr.indexOf(obj.id) != -1}">8 May</p>
                <p class="day" [ngClass]="{'checkedDext':lessionIdArr.indexOf(obj.id) != -1}">Monday</p>
              </div>
            </div>
            <div class="downArrow" (click)="showConflictBox($event,obj.id)">
                <i class="fa fa-angle-down downIcon"></i>
            </div>
          </div>
        
          <div class="statusBox">
            <p class="statusText">Skip: {{obj.status}}</p>
          </div>
        </div>
      
        <div class="lessonbox-skipped"  *ngIf="obj.status=='skipped'">
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <div class="skippedIcon minus">
              </div>
              <div class="showDate skippedDate" >
                <p class="date" [ngClass]="{'checkedDate':lessionIdArr.indexOf(obj.id) != -1}">8 May</p>
                <p class="day" [ngClass]="{'checkedDext':lessionIdArr.indexOf(obj.id) != -1}">Monday</p>
              </div>
            </div>
            <div class="downArrow" (click)="showConflictBox($event,obj.id)">
                <i class="fa fa-angle-down downIcon"></i>
            </div>
          </div>
            
          <div class="statusBox">
            <p class="statusText">Skip: {{obj.status}}</p>
          </div>
        </div>
        <div class="lessonbox-holiday"  *ngIf="obj.status== 'holiday'">
          <div class="d-flex">
            <div class="circleMinus minus">
            </div>
            <div class="showDate holidayDate" >
              <p class="date" [ngClass]="{'checkedDate':lessionIdArr.indexOf(obj.id) != -1}">8 May</p>
              <p class="day" [ngClass]="{'checkedDext':lessionIdArr.indexOf(obj.id) != -1}">Monday</p>
            </div>
          </div>
          <div class="statusBox">
            <p class="statusText">Skip: {{obj.status}}</p>
          </div>
        </div>
        <div class="lessonbox-leave"  *ngIf="obj.status== 'leave'">
          <div class="d-flex">
            <div class="circleMinus minus">
            </div>
            <div class="showDate leaveDate" >
              <p class="date" [ngClass]="{'checkedDate':lessionIdArr.indexOf(obj.id) != -1}">8 May</p>
              <p class="day" [ngClass]="{'checkedDext':lessionIdArr.indexOf(obj.id) != -1}">Monday</p>
            </div>
          </div>
          <div class="statusBox">
            <p class="statusText">Skip: {{obj.status}}</p>
          </div>
        </div>
        <div class="lessonbox-enroll"  *ngIf="obj.status== 'enroll'">
          <div class="d-flex">
            <div class="skippedIcon minus">
            </div>
            <div class="showDate skippedDate" >
              <p class="date">8 May</p>
              <p class="day">Monday</p>
            </div>
          </div>
          <div class="d-flex statusBox">
            <i class="fa fa-check statusCheckIcon"></i>
            <p class="statusText">{{obj.status}}</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="d-flex">
      <div class="flexiCircle">
        <i class="fa fa-plus circlePlus"></i>
      </div>
      <p class="previousDate">Load More</p>
    </div>
  </div>
  
  <div class="conflictPopUp"  [ngStyle]="styleArr" *ngIf="conflictBoxShow">
    <div [ngStyle]="{'top': arrTop + 'px','left': arrLeft + 'px'}" class="arr-box arr-up" [ngClass]="arrClasses"></div>
    <div class="innner-conflictPopUp">
      <div class="d-flex teacher-gp">
          <div class="flexi-img-div teacherImg">
            <div class="flexi-img-wrap teacherImg-wrap">
              <img src="https://brainlitz.s3.amazonaws.com/default/default_profile_pic.png">
            </div>
          </div>
          <div class="flexi-teacher-div">
            <p class="flexi-teacher-position">Senior Teacher</p>
            <label class="flexi-teacher-name">Arron Wamsley</label>
          </div>
      </div>
      <div class="conflictBoxGp">
        <div class="d-flex conflictTxt">
            <div class="circleExclamation">
                <i class="fa fa-exclamation"></i>
            </div>
            <p class="txtConflict">
                conflicts on the following lessons
            </p>
        </div>
        <div class="conflictBox">
          <div class="d-flex" style="border-bottom: solid 2px #E3E4E6;">
            <div class="col-md-3" style="padding-bottom: 15px;padding-left: 0;">
              <div class="boxDiv">
                <h5 class="flexi-day">25 May 2018</h5>
                <div class="conflict-duration">11:00 AM - 12:00 AM</div>
              </div>
            </div>
            <div class="col-md-4" style="padding-bottom: 15px;padding-left: 0">
              <div class="boxDiv">
                <h5 class="ctitle">Lesson</h5>
                <div class="cText">Pre School Music Aca</div>
              </div>
            </div>
            <div class="col-md-3" style="padding-bottom: 15px;padding-bottom: 15px;padding-left: 0">
              <div class="boxDiv">
                <h5 class="ctitle">Location</h5>
                <div class="cText">Bedok Point </div>
              </div>
            </div>
            <div class="col-md-2" style="padding-left: 8px;" >
              <div class="">
                <h5 class="ctitle">Number of students </h5>
                <div class="ctext">5</div>
              </div>
            </div>
          </div>
          <div class="conflictBoxFotter">
            <button class="btn-action remove-outline">Skip</button> 
            <span class="small-line"></span> 
            <button class="btn-action remove-outline">Ignore</button>
          </div>
        </div>
        <div class="fixconflictBoxFotter">
          <button class="btn-action remove-outline">Skip All</button> 
          <span class="small-line"></span> 
          <button class="btn-action remove-outline">Ignore All</button>
        </div>
      </div>
    </div>  
  </div>

