<div class="" style="margin:0px 40px 0px 32px;">
  <p class="flexititle">Enroll lesson</p>
  <div class="d-flex">
    <div class="col-md-4 p-0">
      <div class="d-flex">
        <div class="flexi-img-div">
          <div class="flexi-img-wrap">
            <img src="{{ selectedCustomer.profilePic }}" />
          </div>
        </div>
        <div class="flexi-name-div">
          <p class="flexi-name">{{ selectedCustomer.preferredName }}</p>
          <label class="flexi-email">{{ selectedCustomer.email }}</label>
        </div>
      </div>
    </div>
    <div class="col-md-4 modal-cfees">
      <h5 class="mt-03 flexi-modal-duration">
        <i class="fa fa-map-marker" style="font-size:15px"></i>
        {{ course.location.name }}
      </h5>
      <b class="flexi-name">{{ course.name }}</b>
    </div>
    <div class="col-md-4 modal-cfees">
      <!-- <h5 *ngFor="let day of detailLists.repeatDays | weekDays">
          {{ day }}
        </h5> -->
      <h5 class="flexi-day" *ngFor="let day of course.repeatDays | weekDays">
        {{ day }}
      </h5>
      <!-- <div class="modal-duration">{{ detailLists.duration.startDate | utcTime }} - {{ detailLists.duration.endDate
          | utcTime }}</div> -->
      <div class="flexi-modal-duration" *ngIf="course.duration != undefined">
        {{ course.duration.startDate | utcTime }} -
        {{ course.duration.endDate | utcTime }}
      </div>
    </div>
  </div>
  <div class="d-flex teacher-gp">
    <div class="flexi-img-div teacherImg">
      <div class="flexi-img-wrap teacherImg-wrap">
        <img src="{{ teacherDetail.profilePic }}" />
      </div>
    </div>
    <div class="flexi-teacher-div">
      <!-- <p class="flexi-teacher-position">Senior Teacher</p> -->
      <label class="flexi-teacher-name">{{ teacherDetail.fullName }}</label>
    </div>
  </div>
  <div class="d-flex">
    <div class="flexiCircle" (click)="getPreLessons()">
      <i class="fa fa-plus circlePlus"></i>
    </div>
    <p class="previousDate">Load previous dates</p>
  </div>
</div>
<!-- [ngStyle]="
    conflictBoxShow ? { 'overflow-y': 'hidden' } : { 'overflow-y': 'overlay' }
  " -->
<div
  class="flexiMid"
  id="flexiMid"
  [ngClass]="{
    addheight: ctype == 'schedule',
    'set-overflow': !conflictBoxShow
  }"
>
  <div class="row lessonBoxgp">
    <div
      class="col-md-2 lessonbox"
      *ngFor="let obj of lessonsObj"
      [ngStyle]="clickId == obj.id ? { 'z-index': '100' } : { 'z-index': '0' }"
    >
      <div
        class="lessonbox-inner"
        (click)="lessonCheck(obj.id, obj)"
        *ngIf="obj.hasConflict == false && obj.isEnrolled == false"
        [ngStyle]="
          lessionIdArr.indexOf(obj.id) != -1
            ? { background: ' #007FFF' }
            : { background: '#FFFFFF' }
        "
      >
        <div class="d-flex">
          <div class="checkBox" *ngIf="lessionIdArr.indexOf(obj.id) != -1">
            <i class="fa fa-check checkIcon"></i>
          </div>
          <div
            class="uncheckBox"
            *ngIf="lessionIdArr.indexOf(obj.id) == -1"
          ></div>
          <div class="showDate">
            <p
              class="date"
              [ngClass]="{ checkedDate: lessionIdArr.indexOf(obj.id) != -1 }"
            >
              {{ obj.startDate | utcShortDate }}
            </p>
            <p
              class="day"
              [ngClass]="{ checkedDext: lessionIdArr.indexOf(obj.id) != -1 }"
            >
              {{ obj.startDate | utcFullDay }}
            </p>
          </div>
        </div>
        <div
          class="statusBox"
          [ngClass]="{ checkStudent: lessionIdArr.indexOf(obj.id) != -1 }"
        >
          <p class="statusText">{{ obj.enrolledStudentCount }} students</p>
        </div>
      </div>
      <div
        class="lessonbox-conflict"
        id="lessonbox-conflict"
        *ngIf="obj.hasConflict && !obj.isEnrolled"
      >
        <div class="d-flex justify-content-between">
          <div class="d-flex">
            <div class="exIcon">
              <i class="fa fa-exclamation-circle exclamationIcon"></i>
            </div>
            <div class="showDate">
              <p class="date">{{ obj.startDate | utcShortDate }}</p>
              <p class="day">{{ obj.startDate | utcFullDay }}</p>
            </div>
          </div>
          <div class="downArrow" (click)="showConflictBox($event, obj)">
            <i class="fa fa-angle-down downIcon"></i>
          </div>
        </div>

        <div class="statusBox">
          <p class="statusText">Skip: Conflict</p>
        </div>
      </div>

      <div class="lessonbox-skipped" *ngIf="obj.status == 'skipped'">
        <div class="d-flex justify-content-between">
          <div class="d-flex">
            <div class="skippedIcon minus"></div>
            <div class="showDate skippedDate">
              <p
                class="date"
                [ngClass]="{ checkedDate: lessionIdArr.indexOf(obj.id) != -1 }"
              >
                8 May
              </p>
              <p
                class="day"
                [ngClass]="{ checkedDext: lessionIdArr.indexOf(obj.id) != -1 }"
              >
                Monday
              </p>
            </div>
          </div>
          <div class="downArrow" (click)="showConflictBox($event, obj.id)">
            <i class="fa fa-angle-down downIcon"></i>
          </div>
        </div>

        <div class="statusBox">
          <p class="statusText">Skip: {{ obj.status }}</p>
        </div>
      </div>
      <div class="lessonbox-holiday" *ngIf="obj.status == 'holiday'">
        <div class="d-flex">
          <div class="circleMinus minus"></div>
          <div class="showDate holidayDate">
            <p
              class="date"
              [ngClass]="{ checkedDate: lessionIdArr.indexOf(obj.id) != -1 }"
            >
              8 May
            </p>
            <p
              class="day"
              [ngClass]="{ checkedDext: lessionIdArr.indexOf(obj.id) != -1 }"
            >
              Monday
            </p>
          </div>
        </div>
        <div class="statusBox">
          <p class="statusText">Skip: {{ obj.status }}</p>
        </div>
      </div>
      <div class="lessonbox-leave" *ngIf="obj.status == 'leave'">
        <div class="d-flex">
          <div class="circleMinus minus"></div>
          <div class="showDate leaveDate">
            <p
              class="date"
              [ngClass]="{ checkedDate: lessionIdArr.indexOf(obj.id) != -1 }"
            >
              8 May
            </p>
            <p
              class="day"
              [ngClass]="{ checkedDext: lessionIdArr.indexOf(obj.id) != -1 }"
            >
              Monday
            </p>
          </div>
        </div>
        <div class="statusBox">
          <p class="statusText">Skip: {{ obj.status }}</p>
        </div>
      </div>
      <div class="lessonbox-enroll" *ngIf="obj.isEnrolled">
        <div class="d-flex">
          <div class="skippedIcon minus"></div>
          <div class="showDate skippedDate">
            <p class="date">{{ obj.startDate | utcShortDate }}</p>
            <p class="day">{{ obj.startDate | utcFullDay }}</p>
          </div>
        </div>
        <div class="d-flex enrolled-statusBox">
          <i class="fa fa-check statusCheckIcon"></i>
          <p class="statusText">Enrolled</p>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="flexiCircle" (click)="loadmoreLessons()">
      <i class="fa fa-plus circlePlus"></i>
    </div>
    <p class="previousDate">Load More</p>
  </div>
</div>

<div class="conflictPopUp" [ngStyle]="styleArr" *ngIf="conflictBoxShow" id="">
  <div
    [ngStyle]="{ top: arrTop + 'px', left: arrLeft + 'px' }"
    class="arr-box arr-up"
    [ngClass]="arrClasses"
  ></div>
  <div class="innner-conflictPopUp">
    <div *ngFor="let cobj of conflictObj.conflictWith; let i = index">
      <div class="d-flex teacher-gp">
        <div class="flexi-img-div teacherImg">
          <div class="flexi-img-wrap teacherImg-wrap">
            <img
              src="https://brainlitz.s3.amazonaws.com/default/default_profile_pic.png"
            />
          </div>
        </div>
        <div class="flexi-teacher-div">
          <p class="flexi-teacher-position">{{ cobj.position }}</p>
          <label class="flexi-teacher-name">{{ cobj.preferredName }}</label>
        </div>
      </div>
      <div class="conflictBoxGp">
        <div class="d-flex conflictTxt">
          <div class="circleExclamation">
            <i class="fa fa-exclamation"></i>
          </div>
          <p class="txtConflict">
            conflicts on the following lessons
          </p>
        </div>
        <div
          class="conflictBox"
          *ngFor="let lesson of cobj.lessons; let j = index"
        >
          <div class="d-flex" style="border-bottom: solid 2px #E3E4E6;">
            <div class="col-md-3" style="padding-bottom: 15px;padding-left: 0;">
              <div class="boxDiv">
                <h5 class="flexi-day">{{ lesson.startDate | dateFormat }}</h5>
                <div class="conflict-duration">
                  {{ lesson.startDate | utcTime }} -
                  {{ lesson.endDate | utcTime }}
                </div>
              </div>
            </div>
            <div class="col-md-4" style="padding-bottom: 15px;padding-left: 0">
              <div class="boxDiv">
                <h5 class="ctitle">Lesson</h5>
                <div class="cText">{{ lesson.name }}</div>
              </div>
            </div>
            <div
              class="col-md-3"
              style="padding-bottom: 15px;padding-bottom: 15px;padding-left: 0"
            >
              <div class="boxDiv">
                <h5 class="ctitle">Location</h5>
                <div class="cText">{{ lesson.location }}</div>
              </div>
            </div>
            <div class="col-md-2" style="padding-left: 8px;">
              <div class="">
                <h5 class="ctitle">Number of students</h5>
                <div class="ctext">{{ lesson.no_of_student }}</div>
              </div>
            </div>
          </div>
          <div class="conflictBoxFotter">
            <button
              class="btn-action remove-outline"
              (click)="onClickSkandAg(i, j, 'skip')"
            >
              Skip
            </button>
            <span class="small-line"></span>
            <button
              class="btn-action remove-outline"
              (click)="onClickSkandAg(i, j, 'ignore')"
            >
              Ignore
            </button>
          </div>
        </div>
        <div class="fixconflictBoxFotter">
          <button
            class="btn-action remove-outline"
            (click)="onClickSkandAgall(i, 'skip')"
          >
            Skip All
          </button>
          <span class="small-line"></span>
          <button
            class="btn-action remove-outline"
            (click)="onClickSkandAgall(i, 'ignore')"
          >
            Ignore All
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
