/*.timeline::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.timeline::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

.timeline::-webkit-scrollbar-thumb
{
  background-color: #0080ff;
}*/
.timeline::-webkit-scrollbar-track{
  /*-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.1);*/
  /*border-radius: 10px;*/
  background-color: #F5F5F5;
}

.timeline::-webkit-scrollbar{
  height: 5px;
  background-color: #F5F5F5;
}

.timeline::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #0080ff;
}

.pl-60{
  padding-left: 60px;
}
.pd-zero{
  padding: 0;
}
.draft-sign {
    position: absolute;
    padding: 3px 10px;
    font-size: 10px;
    background: #fff0e6;
    color: #e66000;
    font-family: 'Montserrat-Medium',Arial,sans-serif;
}
.single-user-wrap{
  max-height: 305px;
  overflow-y: auto;
}
.user-row-wrap{
  min-height: 305px;
  height: 305px;
  margin-bottom: 20px;
}
.disable-add{
  pointer-events: none;
  opacity: 0.7;
  cursor: none;
}
.seat-taken{
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  color: red;
  font-size: 14px;
  font-family: 'Montserrat-Semibold', Arial,sans-serif;
}
.modal-close:focus{
    outline: none;
}
.modal-close{
    opacity: 1;
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}
.closemark {
    display:inline-block;
    width: 30px;
    height: 16px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
.closemark_stem ,
.closemark_kick {
    position: absolute;
    width: 2px;
    height: 24px;
    background-color: #3d5266;
    left: 16px;
    top: -2px;
}
.closemark_kick {
    transform: rotate(90deg);
}

.load-more{
    position: fixed;
    z-index: 99;
    bottom: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #eee;
    padding: 10px;
}
.load-more button{
  background: #fff;
  color: #0080ff;
  font-size: 14px;
  font-family: 'Montserrat-Semibold', Arial,sans-serif;
}
.inner-wrapper.active{
  /*padding-top: 90px;*/
}
.inner-wrapper{
  padding-top: 0;
  -ms-transition: padding-top 300ms linear;
  transition: padding-top 300ms linear;
}
@keyframes slideInFromLeft {
  100% {
    transform: translateX(0);
  }
  0% {
    transform: translateX(100%);
  }
}
.category-content{
  animation: 0.6s ease-in 0s 1 slideInFromLeft;
}

/*body {
    position: relative; 
}*/
li button{
    margin-left: 20px !important;
}

.scrollable
{
      overflow-y: scroll;
      min-height: 0;
      /*height: 100vh;*/
 }
 .margin-left{
    margin-left: 20px !important;
}
.title{
  margin: 23px 0px 35px 0px;
}
.back-wrap{
  margin-bottom: 10px;
  margin-top: 20px;
}
.header-font{
  font-family: 'Montserrat-Semibold',Arial,sans-serif;
  color: #2e3e4d;
}
.btn-large{
  width: 100%;
  height: 60px;
  background: #f2f4f5;
  color: #64707d;
}
.btn-largeLabel{
  font-family: 'Montserrat-Medium',Arial,sans-serif;
  font-size: 18px;
  margin-bottom: 0;
}
.btn-cancel{
	background: #a9a9a9;
}
.detail-label{
	font-weight: bold;
}
.repeatday{
	/*margin: 5px;*/
	margin-left: 5px;
}
.child{
	font-size: 14px;
}
.course-view{
	min-height: 600px;
    max-height: 600px;
    overflow-y: auto;
}

.card-columns {
    -webkit-column-count:3;
    -moz-column-count:3;
    column-count:2;
    margin-bottom: 70px;
}
.card-body{
  padding: 1.05rem;
}
.header{
  color: #ffffff;
  padding: 1.05rem;
  background: #64707c;
  min-height: 110px;
  height: 110px;
  border-radius: 8px 8px 0px 0px;
  font-size: 14px;
}

.card-wrap{
  font-size: 14px;
  border-radius: 9px;
  margin: 10px 0px 10px 0px;    
  border: 1px solid #F0F0F0;
  -ms-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}
.header span{
  padding-left: 20px;
}
.header h5{
  margin-bottom: .7rem;
  font-size: 1.1rem;
}
.category{
  margin-bottom: .1rem;
  font-size: 12px;
}
.item-width{
  width: 65%;
}
.header-info{
  font-size: 16px;
  color: #ffffff;
}
.addCourseBtn{
  font-size: 25px;
  font-family: 'Montserrat-Light',Arial,sans-serif;
  padding: 0px 10px 0px 10px;
  margin-bottom: 0;
}
.course-wrap{
  padding: 1.05rem;
  border-bottom: 1px solid #f0f2f3;
  color: #8a939d;
  position: relative;
}
.absolute {
  position: absolute;
  top: 10px;
  right: 0;
  padding: 0px 4px 0px 4px;
  height: 20px;
  background: #007fff;
  color: #ffffff;
  text-align: center;
  font-size: 0.8rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: 'Montserrat-Medium',Arial,sans-serif;
}
.no-seat{
  position: absolute;
  top: 10px;
  right: 0;
  padding: 0px 4px 0px 4px;
  height: 20px;
  background: #f2f4f5;
  color: #64707d;
  text-align: center;
  font-size: 0.8rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: 'Montserrat-Medium',Arial,sans-serif;
}
.date-wrap{
  width: 30%;
  border-right: 2px solid #f4f5f6;
  color: #7a848f;
}
.startDate-wrap{
  margin-bottom: 20px;
}
.light-font{
  font-family: 'Montserrat-Light',Arial,sans-serif;
}
.medium-font{
  font-family: 'Montserrat-Medium',Arial,sans-serif;
}
.regular-font{
  font-family: 'Montserrat-Regular',Arial,sans-serif;
}
.semibold{
  font-family: 'Montserrat-SemiBold',Arial,sans-serif;
}
.course-info{
  width: 100%;
  padding-left: 1rem;
}
.course-label{
  color: #2e3e4d;
  font-family: 'Montserrat-Semibold',Arial,sans-serif;
}
.btn-card{
  border: 0;
  margin: 10px 0px 10px 0px;
}
.course-detail{
  border-bottom: 1.5px dashed #ecedee;
  padding-bottom: 10px;
}
.course-detail h5{
  cursor: pointer;
}
.second-info{
  display: flex;
  padding-top: 10px;
}
.time-wrap{
  width: 60%;
}
.btnCustomer-wrap{
  width: 50%;
  padding: 5px;
  /*padding: 5px 0px 5px 0px;*/
  /*font-family: Montserrat-Regular;*/
}
.btn-addC p{
  margin-bottom: 0;
}
.btn-addC{
  background: #f2f4f5;
  border: 0;
  width: 100%;
  border-radius: 4px;
  font-family: 'Montserrat-Medium',Arial,sans-serif;
  color: #2e3d4d;
  cursor: pointer;
}
.btn-plusicon{
  font-size: 22px;
  font-family: 'Montserrat-light',Arial,sans-serif;
}
.btn-label{
  font-size: 15px;
  font-family: 'Montserrat-Regular',Arial,sans-serif;
}
.link-wrap{
  text-align: center;
  padding: 15px;
  font-family: 'Montserrat-Medium',Arial,sans-serif;
}
.link-btn{
  text-decoration: none;
  color: #64707d;
  cursor: pointer;
}
.time-color{
  color: #97a0a8;
}
.staff-info{
  display: flex;
  height: 25px;
}

.btn-assign{
  background: #f2f4f5;
  position: relative;
  height: 40px;
  width: 100%;
  font-size: 14px;
  color: #415567;
  font-family: Montserrat-Regular;
}
.plusicon{
  position: absolute;
  left: 7px;
  top: 0px;
  font-size: 24px;
  font-family: Montserrat-Light;
}
.toggle {
  color: #415567;
  background: #f2f4f5;
  width: 100%;
  height: 40px;
  border: 0;
  font-size: 1em;
  -webkit-transition: all .75s ease-in-out;
  transition: all .75s ease-in-out;
}


/*Course detail*/
.back-to,
.edit-course-btn,
.detail-info label,
.course-tab,
.single-user-info p,
.btn-submit,
.modal-ctime p,
.modal-dfees h5,.modal-duration{
  font-family: 'Montserrat-Medium', Arial,sans-serif;
}
.back-to,
.edit-course-btn,
.course-time h5,
.cdetail h5,
.room-name{
    color: #2e3d4d !important;
    font-size: 16px;
}

.cdetail h5,
.course-time h5,
.room-name,
.detail-info h4,
.detail-fees b,
.single-user-info h4,
.room-label,
.title-heading,
.seat,
.target,
.modal-title,
.modal-cfees,
.modal-ctime h5,
.modal-dfees b{
  font-family: 'Montserrat-Semibold',Arial,sans-serif;
}

.back-to{
    padding-left: 0 !important;
    cursor: pointer;
}
.back-to i,
.back-to p{
  float: left;
}
.back-to i{
  float: left;
  font-size: 23px;
}
.back-to p{
  float: left;
  margin-bottom: 0;
  line-height: 1.6;
  margin-left: 4px;
}
.edit-course-btn{
  padding: 7px 10px;
  background: transparent; 
}
.edit-course-btn:hover{
  background: #f2f4f5;
}
.detail-info label,
.single-user-info p,
.modal-ctime p,
.modal-dfees h5,.modal-duration{
  color: #64707d;
  font-size: 14px;
}
.detail-info label{
  margin-bottom: 0;
}
.detail-info h4{
  color: #2e3e4d;
  font-size: 24px;
  margin-bottom: 16px;
}
.detail-info span{
  color: #0080ff;
  font-size: 12px;
  background: #cce6ff;
  padding: 8px;
  border-radius: 25px;
  margin-left: 10px;
}
.detail-info p{
  min-height: 80px;
  height: 80px;
  overflow: scroll;
  color: #64707d;
  font-family: 'Montserrat-Regular',Arial,sans-serif;
  line-height: 1.7;
  margin-bottom: 0;
  font-size: 16px;
  text-align: justify;
}
.detail-fees b,
.single-user-info h4,
.modal-cfees b{
  color: #2e3e4d;
  font-size: 18px;
}
.detail-fees sup{
    font-size: 12px;
    color: #2e3d4d;
    font-family: 'Montserrat-Semibold', Arial,sans-serif;
}
.detail-fees h5{
  color: #64707d;
  font-size: 16px;
  font-family: 'Montserrat-Regular', Arial,sans-serif;
}
.detail-box {
  border-radius: 8px;
  background-color: #f2f4f5;
  padding: 32px;
  margin-top: 24px;
  margin-bottom: 32px;
}
.course-date,
.course-time{
  border-left: 2px solid #fff;
}
.course-time {
    padding: 9px 30px;
}
.course-time h5{
  margin-bottom: .45rem;
}
.mt-03{
  margin-top: .3rem;
}
.cdetail {
  padding: 40px 24px 24px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
  /*background: url(../../../../assets/src/img/wave-1@3x.png) no-repeat top;*/
  background-size: contain;
  background-repeat: no-repeat;
}
.course-bg:nth-child(1) .cdetail{
  background-image: url("../../../assets/img/wave-1@3x.png");
}
.course-bg:nth-child(2) .cdetail{
  background-image: url("../../../assets/img/wave-2@3x.png");
}
.course-bg:nth-child(3) .cdetail{
  background-image: url("../../../assets/img/wave-3@3x.png");
}
.course-bg:nth-child(4) .cdetail{
  background-image: url("../../../assets/img/wave-4@3x.png");
}
.cdetail h5 {
  line-height: 1.5;
  margin-bottom: 0;
}
.cdetail p,
.course-time p{
  color: #64707d;
  font-family: 'Montserrat-Regular',Arial,sans-serif;
  line-height: 1.7;
  margin-bottom: 0;
  font-size: 14px;
}
.mt-32{
  margin-top: 32px;
}
.course-tab {
    border-radius: 0;
    border-bottom: 2px solid transparent;
    padding: 11px 18px;    
    font-size: 16px;
    color: #2e3e4d;
    background: transparent;
}
.course-tab:focus{
  outline: none;
  box-shadow: none;
}
.course-tab.active {
    color: #0080ff;
    border-bottom: 2px solid #0080ff;
}
.c-border{
  border-bottom: 1px solid #e3e4e6;
}
.activeTab-content {
    margin-top: 20px;
}
.activeTab-header {
    min-height: 50px;
    padding: 12px;
    background: #f2f4f5;
    border-radius: 4px 4px 0 0;
    border: 1px solid transparent;
}
.activeTab-body {
    padding: 16px 20px;
    border-radius: 0 0 4px 4px;
    border: 1px solid #edeff0;
}

.class-room{
  text-align: center;
}
.room-label{
  font-size: 12px;
  padding-right: 10px;
  color: #64707d;  
}
.room-label,
.room-name{
  margin-bottom: 0;
}
.room-name{
  margin-left: 10px;
  position: relative;
  min-height: 24px;
}
label.room-name::before {
  content: '';
  padding: 2px;
  background: #788796;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  position: absolute;
  left: -11px;
  top: 9px;
}
.btn-create{
  font-family: 'Montserrat-Light','Arial', sans-serif;
  color: #fff;
  background-color: #1682fb;
  border: none;
  padding: 8px 20px;
  border-radius: 3px;
  min-width: 137px;
}
.title-heading{
  font-size: 20px;
  color: #2e3e4d;
}
.teacher-section{
  border-bottom: 1px solid #edeff0;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.single-user{
  /*cursor: pointer;*/
  -ms-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 16px;
  margin-left: 0;
  margin-right: 0;
  -ms-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.single-user:hover {
  -webkit-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1) !important;
  -ms-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1) !important;
}
.img-wrap{
  width: 48px;
  height: 48px;
}
.std-img-wrap{
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
}
.std-img-wrap,
.img-wrap{
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background: #ddd;
}
.img-wrap img,
.std-img-wrap img{
  width: 100%;
  height: 100%;
  object-fit: contain
}
.single-user-info{
  margin-left: 12px;
}
.single-user-info p{
  margin-bottom: 0;
  text-transform: lowercase;  
}
.single-user-info h4{
  margin-bottom: 0;
}
.remover-wrap{
  padding: 15px 0 15px 15px;
  cursor: pointer;
}
.add-user{
  border: 2px solid #007fff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  float: left;
}
.add-user:before, 
.add-user:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #007fff;
}
.add-user:before{
  width: 2px;
  margin: 2px auto;
}
.add-user:after{
  margin: auto 2px;
  height: 2px;
}
.remove-user{
  border: 2px solid #ff3d33;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.remove-user::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff3d33;
  margin: auto 2px;
  height: 2px;
}
.user-header{
  margin-bottom: 16px;
}
.pl-zero{
  padding-left: 0;
}
.pr-zero{
  padding-right: 0;
}
.seat{
  margin-bottom: 0;
  color: #0080ff;
  background: #cce6ff;
  border-radius: 2px 0 0 2px;
  font-size: 14px;
  padding: 4px 8px;
  margin-left: 12px;
  position: relative;
  line-height: 1.3;
}
.seat::before {
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-left: 12px solid #cce6ff;
  border-bottom: 12px solid transparent;
  content: '';
  position: absolute;
  top: 0;
  right: -12px;
}
.modal-title{
    font-size: 20px;
    color: #2e3d4d;
}
.confirm-text p{
    color: #64707d;
}
.modal-cancel-btn,
.modal-delete-btn{
    font-size: 16px;
    font-family: 'Montserrat-Regular',Arial,sans-serif;
    border-radius: 3px;
    height: 44px;
    min-width: 90px;
}
.modal-delete-btn{
    background: #ff3d33;
    color: #fff;
}
.modal-cancel-btn{
    color: #2e3d4d;
}
.modal-cancel-btn:hover{
  background: #f2f4f5;
}
.modal-header{
  border-bottom: none;
  padding-bottom: 0;
  padding-top: 24px;
}
.modal-footer{
  padding: 24px 32px;
  border-top: 1px solid #edeff0;
}
.target{
    color: #ff3d33;
}
.mt-15{
  margin-top: 32px;
}
.mt-20{
  margin-top: 20px;
}
.mt-37{
  margin-top: 37px;
}
.input-search-bg:focus{
  outline: none;
  box-shadow: none;
}
.input-search-bg{
  padding: 10px 0 10px 12px !important;
  background: #f2f4f5;
  border: none;
  z-index: auto !important;
  border-radius: 4px 0 0 4px;
}
.btn-design{
  padding: 12px;
  background: #f2f4f5;
  border: none;
  border-radius: 4px !important;
  color: #788796;
  cursor: pointer;
}
.btn-submit{    
    border: none;
    height: 45px;
    border-radius: 3px;
    width: 100px;
    color: #fff;
    background-color: #1682fb;
    margin-left: 15px;
}
.modal-cfees h5 {
  color: #64707d;
  font-size: 12px;
}
.modal-ctime h5,
.modal-dfees b{
  color: #2e3d4d;
  font-size: 14px;
}
.modal-dfees h5,
.modal-cfees h5{
  margin-bottom: 3px;
  margin-top: 0;
}
.modal-dfees h5{
  min-height: 16px;
}
.modal-ctime h5{
  margin-bottom: 5px;
}
.modal-ctime p{
  margin-bottom: 0;
}
.modal-ctime, 
.modal-cdate{
  border-left: 2px solid #edeff0;
}
.search-user{
  cursor: pointer;
  padding: 16px 0;
  border-bottom: 1px solid #e3e4e6;
}
.user-list-box{
  height: 300px;
  overflow: auto;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  padding: 0 16px;
  border-radius: 0 0 4px 4px;
  position: absolute;
  width: 100%;
  top: 49px;
  background: #fff;
  z-index: 9;
}
.customer-row{
  max-height: 280px;
  overflow: scroll;
}

button:disabled{
  cursor: no-drop;
}

.l-height{
  line-height: 1;
}



/*class timeline*/

.timeline {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 16px 20px;
  /*width: 200px;*/
  white-space: nowrap;
  overflow-x: scroll;
  position: relative;
  height: 75px;
}
.single-date {
    display: inline-block;
    padding: 0 10px;
    width: 50px;
    position: absolute;
}
.student-lists{
  margin-top: 20px;
}
.single-student{
  border-radius: 28px;
  background-color: #f2f4f5;
  padding: 8px;
  margin-bottom: 10px;
}
.single-student p{
  margin-bottom: 0;
  font-size: 16px;
  font-family: 'Montserrat-SemiBold',Arial,sans-serif;
  color: #2e3d4d;
  padding-left: 12px;
}
.btn-class-cancel {
  background: #fff;
  border: solid 2px #007fff;
  color: #0080ff;
  font-family: 'Montserrat-SemiBold',Arial,sans-serif;
  font-size: 14px;
  padding: 9px 12px;
  line-height: 1;
  max-height: 36px;
}
.class-day{
  font-family: 'Montserrat-SemiBold',Arial,sans-serif;
  color: #64707d;
  font-size: 14px;
  margin-bottom: 0;
}
.class-date{
  font-family: 'Montserrat-SemiBold',Arial,sans-serif;
  color: #2e3d4d;
  font-size: 20px;
  margin-bottom: 0;
}
.present,
.absent,
.no-data,
.no-data-alert,
.present-alert,
.absent-alert
{
  font-size: 16px;
  font-family: 'Montserrat-Medium',Arial,sans-serif;
  position: relative;
}

.single-student.no-data-alert{

}
.single-student.present-alert{
  background: #c2f2d6;
}
.single-student.absent-alert{
  background: #ffdbd9;
}
.single-student.present-alert p{
  color: #004d20 !important;
}
.single-student.absent-alert p{
  color: #7d1e19 !important;
}
.absent::before,
.no-data::before {
    content: '';
    padding: 2px;
    background: #e3e4e6;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    position: absolute;
    left: -12px;
    top: 9px;
}
.present{
  color: #009940;
}
.absent{
  color: #f23a30;
  margin-left: 12px;
}
.no-data{
  color: #64707d;
  margin-left: 12px;
}
.single-date b{
  color: #2e3d4d;
  font-size: 14px;
  font-family: 'Montserrat-SemiBold',Arial,sans-serif;
}
.single-date p{
  margin-bottom: 0;
  color: #64707d;
  font-size: 12px;
  font-family: 'Montserrat-Medium',Arial,sans-serif;
}
.today p,
.today b{
  color: #0080ff !important;
}
.today{
  pointer-events: visible;
  opacity: 1 !important;
  cursor: pointer !important;
}

/*for modal box empty ui*/
.empty-ui-wrapper{
  height: 100%;
}
.empty-wrapper{
  width: 285px;
  float: right;
  margin-top: 50px;
}
.empty-wrapper img {
  width: 100%;
}

.arrow-pos {
  float: right; 
  width: 46%;
}

.arrow-pos img {
  float: right;
  width: 100%;
}

.txt-default{
  width: 300px;
  margin-top: 140px;
  color: #64707d;
  font-size: 28px;
  font-family: 'Montserrat-SemiBold',Arial,sans-serif;
}

/*For 1024px*/
@media (max-width: 575px) { 
  .card-columns {
    column-count: 2;
  }
}

/*Large devices (1025px t0 1999px)*/
@media (min-width: 1025px) and (max-width: 1999px) { 
  .card-columns {
    column-count: 3;
  }
}

/*Extra large devices (large desktops, 2000px and up)*/
@media (min-width: 2000px) { 
  .card-columns {
    column-count: 3;
  }
  .inner-wrapper{
    width: 1900px;
    margin: 0 auto;
  }
}

