<!-- <app-coursecreate></app-coursecreate> -->

<div class="inner-wrapper">
  <div class="mb-30">
    <button class="btn btn-primary" (click)="changeRoute()">+ Course Create</button>
  </div>
  <!-- <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
  <hr>
  <pre>Selected time: {{time | json}}</pre> -->
  <block-ui message="Deafult Message"></block-ui>
  <div class="scrollable">
    <ul class="list-group-flush">
      <li class="list-group-item" *ngFor="let course of courseList">
        <span style="margin-right: 20px;">{{course.name}}</span>
        <button type="button" class="btn btn-secondary float-right btn-sm margin-left" data-toggle="modal" data-target="#locationModal" (click)="onclickDelete(course,content)">Delete</button>
        <button type="button" class="btn btn-secondary float-right btn-sm margin-left" data-toggle="modal" data-target="#locationModal" (click)="edit(course)">Edit</button>
        <button type="button" class="btn btn-secondary float-right btn-sm margin-left" data-toggle="modal" data-target="#locationModal" (click)="courseView(course)">Assign User</button>
        <button type="button" class="btn btn-secondary float-right btn-sm margin-left" data-toggle="modal" data-target="#locationModal" (click)="courseDetail(course,detail)">View</button>
      </li>
    </ul>
  </div>
 </div> 


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4>Are You sure you want to delete?</h4>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light1" (click)="c('Close click')">Cancel</button>
    <button type="submit" class="btn btn-danger" (click)="comfirmDelete(selectCourse,content1)">Delete</button>
  </div>
</ng-template>

<ng-template #content1 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4>We are going to delete <span style="color: red;">"{{deleteCourse.name}}"</span></h4>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light1" (click)="c('Close click')">Cancel</button>
    <button type="submit" class="btn btn-danger" (click)="courseDelete(deleteCourse._id)">Comfirm</button>
  </div>
</ng-template>

<ng-template #detail let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4>Course Detail</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <label class="detail-label">Course Plan Name:</label> 
      <span>{{coursePlanName}}</span>
    </div>
    <div>
      <label class="detail-label">Course Name:</label> 
      <span>{{detailCourse.name}}</span>
    </div>
    <div>
      <label class="detail-label">Course Code:</label> 
      <span>{{detailCourse.courseCode}}</span>
    </div>
    <div>
      <label class="detail-label">Description:</label> 
      <span>{{detailCourse.description}}</span>
    </div>
    <div>
      <label class="detail-label">Start Date:</label> 
      <span>{{detailCourse.startDate}}</span>
    </div>
    <div>
      <label class="detail-label">End Date:</label> 
      <span>{{detailCourse.endDate}}</span>
    </div>
    <div>
      <label class="detail-label">Duration:</label> 
      <span>{{detailCourse.durationTimes}}</span>
    </div>
    <div>
      <label class="detail-label">Repeated Days:</label> 
        <label *ngFor="let day of repeatDay" class="repeatday">
          {{day}}
        </label>
    </div>
    <div>
      <label class="detail-label">Lesson Count:</label> 
      <span>{{detailCourse.lessonCount}}</span>
    </div>
    <div>
      <label class="detail-label">Payment Policy</label> 
    </div>
    <div>
      <label>Allow Prorated:</label> 
      <span>{{detailCourse.paymentPolicy.allowProrated}}</span>
    </div>
    <div>
      <label>Course Fee:</label> 
      <span>{{detailCourse.paymentPolicy.courseFee}}</span>
    </div>
    <div>
      <label>Deposit</label> 
      <span>{{detailCourse.paymentPolicy.deposit}}</span>
    </div>
    <div>
      <label>Misc Fee:</label> 
      <span>{{detailCourse.paymentPolicy.miscFee}}</span>
    </div>
    <div>
      <label>Prorated Lesson Fee:</label> 
      <span>{{detailCourse.paymentPolicy.proratedLessonFee}}</span>
    </div>
    <div>
      <label class="detail-label">Reserved Number of Seat:</label> 
      <span>{{detailCourse.reservedNumberofSeat}}</span>
    </div>
    <div>
      <label class="detail-label">Room:</label> 
      <span>{{detailCourse.room}}</span>
    </div>
    <div>
      <label class="detail-label">Teacher Name:</label> 
      <span>{{teacherName}}</span>
    </div>
    <div>
      <label class="detail-label">Quizwerkz:</label> 
      <label *ngFor="let pdf of quizwerkz" class="repeatday">
        {{pdf}}
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-cancel" (click)="c('Close click')">Cancel</button>
  </div>
</ng-template>

<!-- <ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4>{{code}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <button type="button" class="btn btn-primary" ()>+ Add User</button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template> -->

<!-- <button class="btn btn-lg btn-outline-primary" (click)="changeRoute()">Course Create</button> -->
<!-- <app-courseplan></app-courseplan> -->

<!-- <ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" href="#category" role="tab" data-toggle="tab">Category</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#courseplan" role="tab" data-toggle="tab">Courseplan</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#course" role="tab" data-toggle="tab">Course</a>
  </li>
</ul> -->

<!-- Tab panes -->
<!-- <div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="category">
      <div class="scrollable container">
          <ul class="list-group-flush">  
            <li class="list-group-item">
              Swimming
              <button type="button" class="btn btn-secondary float-right btn-sm margin-left" data-toggle="modal" data-target="#locationModal" (click)="editLocationInfo(location._id)">Edit</button>
              <button type="button" class="btn btn-secondary float-right btn-sm margin-left" (click)="deleteLocation(location._id)">Delete</button>
            </li>
           
          </ul>
          
        </div> 
  </div>
  <div role="tabpanel" class="tab-pane fade" id="courseplan">
      <div class="scrollable container">
          <ul class="list-group-flush">  
            <li class="list-group-item">
              Piano
              <button type="button" class="btn btn-secondary float-right btn-sm margin-left" data-toggle="modal" data-target="#locationModal" (click)="editLocationInfo(location._id)">Edit</button>
              <button type="button" class="btn btn-secondary float-right btn-sm margin-left" (click)="deleteLocation(location._id)">Delete</button>
            </li>
          
          </ul>
        </div> 
  </div>
  <div role="tabpanel" class="tab-pane fade" id="course">
      <div class="scrollable container">
          <ul class="list-group-flush">  
            <li class="list-group-item">
              Guiter
              <button type="button" class="btn btn-secondary float-right btn-sm margin-left" data-toggle="modal" data-target="#locationModal" (click)="editLocationInfo(location._id)">Edit</button>
              <button type="button" class="btn btn-secondary float-right btn-sm margin-left" (click)="deleteLocation(location._id)">Delete</button>
            </li>
            
          </ul>
        </div> 
  </div>
</div>
 -->




