body {
    position: relative; 
}
li button{
    margin-left: 20px !important;
}

.scrollable
{
      overflow-y: scroll;
      min-height: 0;
      /*height: 100vh;*/
 }
 .margin-left{
    margin-left: 20px !important;
}
.btn-cancel{
	background: #a9a9a9;
}
.detail-label{
	font-weight: bold;
}
.repeatday{
	/*margin: 5px;*/
	margin-left: 5px;
}
.child{
	font-size: 14px;
}
.course-view{
	min-height: 600px;
    max-height: 600px;
    overflow-y: auto;
}