
<!-- <app-coursecreate></app-coursecreate> -->
<button class="btn btn-lg btn-outline-primary" (click)="changeRoute()">Course Create</button>
<app-courseplan></app-courseplan>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" href="#category" role="tab" data-toggle="tab">Category</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#courseplan" role="tab" data-toggle="tab">Courseplan</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#course" role="tab" data-toggle="tab">Course</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="category">
      <div class="scrollable container">
          <ul class="list-group-flush">  
            <li class="list-group-item">
              Swimming
              <button type="button" class="btn btn-secondary float-right btn-sm margin-left" data-toggle="modal" data-target="#locationModal" (click)="editLocationInfo(location._id)">Edit</button>
              <button type="button" class="btn btn-secondary float-right btn-sm margin-left" (click)="deleteLocation(location._id)">Delete</button>
            </li>
           
          </ul>
          
        </div> 
  </div>
  <div role="tabpanel" class="tab-pane fade" id="courseplan">
      <div class="scrollable container">
          <ul class="list-group-flush">  
            <li class="list-group-item">
              Piano
              <button type="button" class="btn btn-secondary float-right btn-sm margin-left" data-toggle="modal" data-target="#locationModal" (click)="editLocationInfo(location._id)">Edit</button>
              <button type="button" class="btn btn-secondary float-right btn-sm margin-left" (click)="deleteLocation(location._id)">Delete</button>
            </li>
          
          </ul>
        </div> 
  </div>
  <div role="tabpanel" class="tab-pane fade" id="course">
      <div class="scrollable container">
          <ul class="list-group-flush">  
            <li class="list-group-item">
              Guiter
              <button type="button" class="btn btn-secondary float-right btn-sm margin-left" data-toggle="modal" data-target="#locationModal" (click)="editLocationInfo(location._id)">Edit</button>
              <button type="button" class="btn btn-secondary float-right btn-sm margin-left" (click)="deleteLocation(location._id)">Delete</button>
            </li>
            
          </ul>
        </div> 
  </div>
</div>





