.locbox{
  max-width: 140px; 
  width: 140px; 
  float: left; 
  overflow-y: hidden;
  height: 24px;
}
.logo-wrap{
  height: 50px;
  width: auto;
}
.logo-wrap img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.stick #header{
  -ms-transform: translateY(-95);
  transform: translateY(-95);
  opacity: 1;
}
header#header2 {
    position: fixed;
    top: 0;
    z-index: 999;
}
#header{
  z-index: 999;
  position: relative;
}
#header,
#header2{

  width: 100%;
  background: #fff;
  font-family: Montserrat-Regular;
  /*z-index: 99;
  position: fixed;
  top: 0;*/
  /*transition: height 300ms linear, transform 300ms linear;*/
  /*transition: 0.4s all ease-out;
  -ms-transform: translateY(0);
  transform: translateY(0);
  margin-top: 0;*/
}
#inputState {
	border: none;
	/*font-weight: bold;*/
	width: 200px;
	height: auto;
	margin: -12px;
  color: #465360;
  font-size: 18px;
  font-family: 'Montserrat-Regular', Arial,sans-serif !important;
}

#inputState:focus {
	box-shadow: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

.chevron-down {
  	border: solid #888;
 	border-width: 0 2px 2px 0;
  	display: inline-block;
  	padding: 3px;
    position: absolute;
    left: 170px;
    top: 31px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.location-label{
  color: #76818b;
  font-family: 'Montserrat-Medium', Arial,sans-serif !important;
}

.first-row{
  padding: 17px 30px;
}

.sidebar-wrap{
  padding: 5px 30px;
  border-top: 1px solid #e3e4e6;
  border-bottom: 1px solid #e3e4e6;
  min-height: 71px;
}
.m-bottom{
  margin-bottom: 2px;
}

.btn-design {
  /*background: #0080ff;*/
  /*color: #fff;*/
  color: #2e3d4d;
  border-radius: 3px;
  cursor: pointer;
}
.btn-design:focus{
  box-shadow: none;
}

.dropdown-wrap{
  font-family: 'Montserrat-Medium',Arial,sans-serif;
  color: #2e3d4d;
}
.dropdown-arrow {
  font-size: 12px;
  padding-left: 10px;
  color: #3d5266;
}

.dropdown-box{
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
  position: absolute;
  z-index: 99;
  padding: 0px 15px;
  top: 55px;
  right: 15px;
  /*display: none;*/
  background: #fff;
  color: #2e3d4d !important;
  cursor: pointer;
}
.dropdown-box:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;
}

.location-dp{
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
  position: absolute;
  z-index: 99;
  /*padding: 0px 15px;*/
  top: 70px;
  left: 30px;
  /*display: none;*/
  background: #fff;
  color: #2e3d4d !important;
  cursor: pointer;
  max-height: 250px;
  overflow: auto;
}
.location-dp:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;
}

/*.location-dp ul li{
  padding-left: 15px!important;
  padding-right: 15px!important;
}*/
.location-dp li{
  padding: 10px 15px; 
}

.dropdown-box li{
  padding: 10px 0px;
}

.dropdown-wrap ul li,
.dropdown-wrap1 ul li{
  border-bottom: 1px solid #e3e4e6;
  /*padding: 10px 0px;*/
  cursor: pointer;
}

.dropdown-wrap ul li:last-child,
.dropdown-wrap1 ul li:last-child {
  border-bottom: none;
}

.dropdown-wrap .dropdown-box,
.dropdown-wrap1 .dropdown-box1,
.dropdown-wrap .location-dp,
.dropdown-wrap1 .location-dp1 {
  box-shadow: 0px 2px 30px 1px rgba(1,0,0,0.2);
  border: none;
}

.cursor-on{
  cursor: pointer;
}


ul.nav-style{
  padding: 0;
  margin: 0;
  display: inline-block;
}
ul.nav-style li:first-child{
  padding-left: 0
}
ul.nav-style li:last-child{
  padding-right: 0
}
ul.nav-style li,
ul.nav-style li a{
  transition: 0.4s all ease-out;
}

ul.nav-style li:hover{
  /*background: #8a48c0;*/
}
ul.nav-style li a{
  color: #2e3d4d;
  padding-bottom: 0;
  border-bottom: 2px solid transparent;
  font-family: 'Montserrat-Medium','Arial', sans-serif !important;
  font-size: 18px;
}
ul.nav-style li:hover a{
  color: #535353;
}
li.nav-item {
    padding: 5px 15px 10px;
    float: left;
}
a.nav-link.active {
  /*border-bottom: 2px solid #4392f1 !important;*/
  /*color: #4392f1 !important;*/
  color: #0080ff!important;
}

.selected{
  background: #007fff;
  color: #fff;
}
