<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	<form *ngIf="showHeader" novalidate #chooseLocationForm="ngForm">
		<div class="form-group col-md-4">
		  <label for="inputState">Location</label>
		  <select id="inputState" class="form-control" name="location" (change)="selectLocation($event)">
		    <span class="glyphicon glyphicon-menu-down"></span>
		    <option>Choose Location</option>
		    <option [selected]="location.selected" *ngFor="let location of locationLists; let i = index" value="{{location._id}}">{{ location.name }}</option>
		  </select>
		</div>
	</form> 
</div>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 d-flex justify-content-end">
	<button class="btn dropdown-toggle amd-btn" type="button" (click)="logoff()">
	  Admin
	</button>	
</div>


