<header id="header">
  <div class="d-flex first-row">
    <div class="mr-auto">
    	<form  novalidate #chooseLocationForm="ngForm">
    		<div class="form-group m-bottom">
    		  <label for="inputState" class="location-label">Location</label>
    		  <i class="chevron-down"></i>
    		  <select id="inputState" class="form-control" name="location" (change)="selectLocation($event)">
    		    <option [selected]="location.selected" *ngFor="let location of headerlocationLists; let i = index" value="{{location._id}}">{{ location.name }}</option>
    		  </select>
    		</div>
    	</form> 
    </div>
    <div class="mr-auto">
      <div class="logo-wrap">
        <img src="./assets/img/classWerkz_word@2x.png" class="img-fluid">
      </div>
    </div>
    <div class="cursor-on d-flex flex-column justify-content-center dropdown-wrap">
        <div (click)="dropDown()">
          Admin <i class="fa fa-chevron-down dropdown-arrow"></i>
        <span class="caret"></span></div>
        <div>
          <ul class="dropdown-box">
            <!-- <li>Profile</li> -->
            <li (click)="logoff()">Sign Out</li>
          </ul>
        </div>
    </div>
    <!-- <div>
      <button class="btn dropdown-toggle" type="button" (click)="logoff()">
        Admin
      </button> 
    </div> -->
  </div>
  <div id="menu" class="sidebar-wrap">
    <app-sidebar class="d-flex"></app-sidebar>
  </div>
</header>
<header id="header2">
<div id="onscroll" class="sidebar-wrap">
    <app-sidebar class="d-flex"></app-sidebar>
  </div>
</header>



<!-- <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 d-flex justify-content-end">
	<button class="btn dropdown-toggle amd-btn" type="button" (click)="logoff()">
	  Admin
	</button>	
</div> -->


