<div class="d-flex justify-content-center main-wrapper">
  <div class="d-flex flex-column w-100 h-100 ">
    <!-- <div class="d-flex flex-column">
          <div class="d-flex flex-row">
          <h2 class="title-heading margin-heading">Send notification</h2>
          <span class="location-name">{{locationName}}</span>
        </div>
        </div> -->
    <div class="d-flex mt-3">
      <h2
        style="margin-right: 5px;"
        class="title-heading h1-strong text-c300 pull-left"
      >
        Send notification
      </h2>
      <div class="mt-2">
        <label
          class="location-name small"
          [ngStyle]="{
            color: gtxtColor,
            background: gbgColor
          }"
          >{{ locationName }}</label
        >
      </div>

      <!-- [ngStyle]="{
      color: gtxtColor,
      background: gbgColor
    }" -->
    </div>
    <div>
      <p class="input-recommend body-m text-c100">
        Send custom notifications to your users either as email or push
        notification via the app.
      </p>
    </div>
    <div class="d-flex flex-row">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        <form novalidate #notiForm="ngForm" class="notif">
          <div class="form-group">
            <label for="address" class="sub-title body-xl text-c300"
              >Send to</label
            >
            <div class="d-flex tool-box">
              <div
                class="form-check form-check-inline tool-checked bg-s0"
                [ngClass]="{ selected: isChecked == 'allcustomer' }"
              >
                <label class="form-check-label light-body-l text-b100">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="type"
                    id="type1"
                    value="allcustomer"
                    [(ngModel)]="item.type"
                    #type="ngModel"
                    [checked]="true"
                    (click)="somethingChanged('allcustomer')"
                  />
                  Customers
                </label>
              </div>
              <div
                [ngClass]="{ selected: isChecked == 'allstaff' }"
                class="form-check form-check-inline tool-checked light-body-l text-b100 bg-s0"
              >
                <label class="form-check-label">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="type"
                    id="type2"
                    value="allstaff"
                    [(ngModel)]="item.type"
                    #type="ngModel"
                    (click)="somethingChanged('allstaff')"
                  />
                  Staffs
                </label>
              </div>
              <div
                [ngClass]="{ selected: isChecked == 'category' }"
                class="form-check form-check-inline tool-checked light-body-l text-b100 bg-s0"
              >
                <label class="form-check-label">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="type"
                    id="type3"
                    value="category"
                    [(ngModel)]="item.type"
                    #type="ngModel"
                    (click)="somethingChanged('category')"
                  />
                  Category
                </label>
              </div>
              <div
                [ngClass]="{ selected: isChecked == 'course' }"
                class="form-check form-check-inline tool-checked light-body-l text-b100 bg-s0"
              >
                <label class="form-check-label ">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="type"
                    id="type4"
                    value="course"
                    [(ngModel)]="item.type"
                    #type="ngModel"
                    (click)="somethingChanged('course')"
                  />
                  Selected course
                </label>
              </div>
              <div
                class="form-check form-check-inline tool-checked light-body-l text-b100 bg-s0"
              >
                <label
                  [ngClass]="{ selected: isChecked == 'user' }"
                  class="form-check-label"
                >
                  <input
                    class="form-check-input"
                    type="radio"
                    name="type"
                    id="type5"
                    value="user"
                    [(ngModel)]="item.type"
                    #type="ngModel"
                    (click)="somethingChanged('user')"
                  />
                  Selected user
                </label>
              </div>
            </div>
          </div>

          <div *ngIf="isChecked == 'category'" class="form-group choose-cat">
            <label for="typeahead-focus">Search for a category:</label>
            <input
              id="typeahead-focus"
              type="text"
              class="form-control remove-outline"
              name="itemID"
              [(ngModel)]="item.itemID"
              #itemID="ngModel"
              (focus)="focusSearch($event, 'category')"
              (focusout)="hideSearch($event)"
              (input)="changeSearch($event.target.value, 'category')"
              (keyup)="searchStart($event, 'category')"
              autocomplete="off"
            />
            <!-- <input
                id="typeahead-focus"
                type="text"
                class="form-control"
                name="itemID"
                [(ngModel)]="item.itemID"
                #itemID="ngModel"
                (focus)="focus$.next($event.target.value)"
                (click)="click$.next($event.target.value)"
                [ngbTypeahead]="search"
                #instance="ngbTypeahead"
                (ngModelChange)="valuechange($event, 'category')"
                [disabled]="categoryLists == undefined"
              /> -->
          </div>
          <div
            style="top: 225px;"
            class="search-result-box"
            *ngIf="isFousCategory == true"
          >
            <div
              class="single-result"
              (click)="selectData(category._id, category.name, 'category')"
              *ngFor="let category of categoryLists"
            >
              {{ category.name }}
            </div>
          </div>
          <div *ngIf="isChecked == 'course'" class="form-group">
            <label for="typeahead-focus">Search for a course:</label>
            <input
              id="typeahead-focus"
              type="text"
              class="form-control remove-outline"
              name="itemID"
              [(ngModel)]="item.itemID"
              #itemID="ngModel"
              (focus)="focusSearch($event, 'course')"
              (focusout)="hideSearch($event)"
              (input)="changeSearch($event.target.value, 'course')"
              (keyup)="searchStart($event, 'course')"
              autocomplete="off"
            />
            <!-- <input
                id="typeahead-focus"
                type="text"
                class="form-control"
                name="itemID"
                [(ngModel)]="item.itemID"
                #itemID="ngModel"
                (focus)="focus$.next($event.target.value)"
                (click)="click$.next($event.target.value)"
                [ngbTypeahead]="search"
                #instance="ngbTypeahead"
                (ngModelChange)="valuechange($event, 'course')"
                [disabled]="courseLists == undefined"
              /> -->
          </div>
          <div
            class="search-result-box"
            style="top: 225px;"
            *ngIf="isFousCourse == true"
          >
            <div
              class="single-result"
              (click)="selectData(course._id, course.name, 'course')"
              *ngFor="let course of courseLists"
            >
              {{ course.name }}
            </div>
          </div>

          <div *ngIf="isChecked == 'user'" class="form-group">
            <label for="typeahead-focus">Search for a user:</label>
            <input
              id="typeahead-focus"
              type="text"
              class="form-control remove-outline"
              name="itemID"
              [(ngModel)]="item.itemID"
              #itemID="ngModel"
              (focus)="focusSearch($event, 'user')"
              (focusout)="hideSearch($event)"
              (input)="changeSearch($event.target.value, 'user')"
              (keyup)="searchStart($event, 'user')"
              autocomplete="off"
            />
            <!-- <input
                id="typeahead-focus"
                type="text"
                class="form-control"
                name="itemID"
                [(ngModel)]="item.itemID"
                #itemID="ngModel"
                (focus)="focus$.next($event.target.value)"
                (click)="click$.next($event.target.value)"
                [ngbTypeahead]="search"
                #instance="ngbTypeahead"
                (ngModelChange)="valuechange($event, 'user')"
                [disabled]="userLists == undefined"
              /> -->
          </div>
          <div class="search-result-box" *ngIf="isFous == true">
            <div
              class="single-result"
              (click)="selectData(user.userId, user.preferredName, 'user')"
              *ngFor="let user of userLists"
            >
              {{ user.preferredName }}
            </div>
          </div>

          <div *ngIf="isChecked != 'user'" class="form-group">
            <div
              *ngIf="isChecked == 'allcustomer'"
              class="form-check  body-l text-c300"
            >
              <label class="form-check-label">
                <input
                  type="checkbox"
                  class="form-check-input"
                  name="active"
                  [checked]="!checkActive"
                  (change)="checkedActive($event, 'active')"
                />
                Includes inactive customers
              </label>
            </div>
            <div
              *ngIf="isChecked == 'allstaff'"
              class="form-check body-l text-c300"
            >
              <label class="form-check-label">
                <input
                  type="checkbox"
                  class="form-check-input"
                  name="activestaff"
                  [checked]="!checkActive"
                  (change)="checkedActive($event, 'active')"
                />
                <!-- "All user" with "Includes non-teaching staffs" -->
                Includes inactive staffs
              </label>
            </div>
            <div
              *ngIf="isChecked == 'category'"
              class="form-check body-l text-c300"
            >
              <label class="form-check-label">
                <input
                  type="checkbox"
                  class="form-check-input"
                  name="activecategory"
                  [checked]="!checkActive"
                  (change)="checkedActive($event, 'active')"
                />
                <!-- "All user" with "Includes withdrawn students" -->
                Includes inactive customers
              </label>
            </div>
            <div
              *ngIf="isChecked == 'course'"
              class="form-check body-l text-c300"
            >
              <label class="form-check-label">
                <input
                  type="checkbox"
                  class="form-check-input"
                  name="activecourse"
                  [checked]="!checkActive"
                  (change)="checkedActive($event, 'active')"
                />
                <!-- "All user" with "Includes withdrawn students" -->
                Includes inactive customers
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <label for="address" class="body-xl text-c300">Subject</label>
              <div class="limit-word">
                <span>{{ wordLength }}/60characters</span>
              </div>
            </div>
            <input
              type="text"
              class="form-control input-create text-c300 bg-s0 body-m"
              placeholder="Type subject line here..."
              name="subject"
              [(ngModel)]="item.subject"
              #subject="ngModel"
              (focus)="focusMethod($event, 'subject', $event.target.value)"
              (blur)="blurMethod($event, 'subject')"
              (input)="changeMethod($event.target.value)"
              maxlength="60"
              required
            />
            <div
              *ngIf="subject.errors && (subject.dirty || subject.touched)"
              class="alert alert-danger"
            >
              <div [hidden]="!subject.errors.required">
                Subject is required!
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <label for="address" class="body-xl text-c300">Message</label>
              <!-- <div class="limit-word1">
            <span>{{ wordLength }}/280characters</span>
          </div> -->
            </div>
            <textarea
              class="form-control input-create text-c300 bg-s0 body-m"
              rows="5"
              placeholder="Write message"
              name="message"
              [(ngModel)]="item.message"
              #message="ngModel"
              (focus)="focusMethod($event, 'msg', $event.target.value)"
              (blur)="blurMethod($event, 'msg')"
              (input)="changeMethod($event.target.value)"
              required
            ></textarea>
            <div
              *ngIf="message.errors && (message.dirty || message.touched)"
              class="alert alert-danger"
            >
              <div [hidden]="!message.errors.required">
                Message is required!
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="address" class="body-xl text-c300">Message type</label>
            <div class="d-flex flex-row">
              <div
                class="col-md-6 d-flex flex-row switch-col "
                *ngFor="let notiType of notiTypes; let i = index"
              >
                <label class="text-c300 body-l">{{ notiType.name }}</label>
                <div class="toggle-wrap">
                  <label class="radio-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      name="notiType"
                      value="{{ notiType.name }}"
                      [checked]="notiType.checked"
                      (change)="checkedOptions(notiType, $event)"
                      required
                    />
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div>
              <div class="info-message bg-s20 body-m text-c300">
                The message will be sent to ({{ userCount }}) of
                <span *ngIf="isChecked == 'allcustomer'">Customers</span>
                <span *ngIf="isChecked == 'allstaff'">Staffs</span>
                <span *ngIf="isChecked == 'category'">Category</span>
                <span *ngIf="isChecked == 'course'">Selected course</span>
                <span *ngIf="isChecked == 'user'">Selecte user</span>
              </div>
            </div>
            <button
              type="submit"
              (click)="sendNoti(item)"
              class="btn btn-create bg-b100 text-s0 "
              [disabled]="
                !notiForm.valid || userCount === 0 || checkedType.length == 0
              "
            >
              Send
            </button>
          </div>
        </form>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div
          class="user-count bg-g25 text-g100"
          [ngClass]="userCount == 0 ? 'no-user' : ''"
        >
          <h4 class="h1-strong">{{ userCount }}</h4>
          <label class="body-m">users</label>
        </div>
      </div>
    </div>
  </div>
</div>
