.cre-search {
  margin-bottom: 24px;
  width: 100%;
  height: 48px;
  background: #ffffff;
  border: 2px solid #e8e9eb;
  box-sizing: border-box;
  border-radius: 12px;
  padding-left: 48px;
}
.header {
  width: auto;
  height: 48px;
  background: white;
  border: solid 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
  border-radius: 12px 12px 0 0;
}
.body {
  width: auto;
  height: 64px;
  background: white;
  box-shadow: 0px -1px 0px #e3e4e5;
}
.body:hover {
  background: #f7f9fa;
}
.pro-pic {
  width: 40px;
  height: 40px;
  background: #f2f3f5;
  border-radius: 100px;
  overflow: hidden;
  margin: 0 16px;
}
.cb {
  width: 20px;
  height: 20px;
  pointer-events: none;
}
.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px 0px;
  background: #fff;
  box-shadow: 0px -1px 0px #e3e4e5;
}
.wrapper {
  padding-top: 48px;
  position: relative;
  height: 100%;
}
.btn-submit {
  /* font-family: 'Inter-UI-Medium', 'Arial', sans-serif; */
  border: none;
  height: 45px;
  border-radius: 3px;
  width: 100px;
  cursor: pointer;
}
.btn-submit {
  color: #fff;
  background-color: #1682fb;
  margin-left: 15px;
}
.search {
  left: 16px;
  position: absolute;
  top: 12px;
}
