<div class="wrapper">
  <div class="h1-strong text-c300" style="margin-bottom: 8px;">
    Login credentials
  </div>
  <div class="light-body-l text-c100" style="margin-bottom: 40px;">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna ut accumsan
    ac, senectus scelerisque odio lectus sed purus.
  </div>
  <div style="position: relative;">
    <input
      [(ngModel)]="cusName"
      (keyup.enter)="searchCus()"
      type="text"
      placeholder="Search student"
      class="cre-search"
    />
    <img class="search" src="./assets/icons/search_l.svg" />
  </div>
  <div class="header d-flex caption-u text-c100 align-items-center">
    <div
      class="cursor d-flex"
      style="width: 50%;margin-left: 20px;"
      class="d-flex align-items-center"
    >
      <input class="cb" type="checkbox" [(ngModel)]="selectAllFlag" /><span
        style="margin-left: 16px;"
        (click)="selectAll()"
        >Customers</span
      ><img
        class="cursor"
        (click)="sortByCus()"
        style="margin-left: 8px;"
        src="./assets/icons/sorting.svg"
      />
    </div>
    <div style="width: 50%;">
      <span>Last sent date</span
      ><img
        class="cursor"
        (click)="sortByDate()"
        style="margin-left: 8px;"
        src="./assets/icons/sorting.svg"
      />
    </div>
  </div>
  <div style="height: 500px; overflow: auto;margin-bottom: 40px;">
    <div
      (click)="checkLesson(i)"
      *ngFor="let user of userList; let i = index"
      class="cursor body d-flex caption-u text-c100 align-items-center"
    >
      <div
        class="d-flex align-items-center"
        style="width: 50%;margin-left: 20px;"
      >
        <input class="cb" type="checkbox" [(ngModel)]="checkboxFlag[i]" />
        <div class="pro-pic">
          <img style="width: 40px; height: 40px;" src="{{ user.profilePic }}" />
        </div>
        <span>{{ user.preferredName }}</span>
      </div>
      <div style="width: 50%;" *ngIf="user.sendRandomPasswordAt != ''">
        {{ user.sendRandomPasswordAt | date: 'd LLL yyyy'
        }}<span style="margin-left:8px;" class="light-body-m text-c100">{{
          user.sendRandomPasswordAt | date: 'h:mm a'
        }}</span>
      </div>
      <div style="width: 50%;" *ngIf="user.sendRandomPasswordAt == ''">-</div>
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-center footer">
    <div
      style="margin-left: 20px;"
      class="cursor d-flex align-items-center"
      (click)="selectAll()"
    >
      <input class="cb" type="checkbox" [(ngModel)]="selectAllFlag" />
      <span style="margin-left: 16px;">Select all</span>
    </div>
    <button (click)="resend()" class="btn btn-submit">
      Resend
    </button>
  </div>
</div>
