<div class="wrapper">
  <div class="h1-strong text-c300" style="margin-bottom: 8px;">
    Login credentials
  </div>
  <div class="light-body-l text-c100" style="margin-bottom: 40px;">
    Please select the customer and send a random password to the registered
    email address.
  </div>
  <div class="d-flex">
    <div class="login-slider d-flex">
      <div
        (click)="switchLogin('new')"
        [ngClass]="{ 'login-active': currentSwitch == 'new' }"
        class="light-body-m text-c300 login-boxes d-flex justify-content-center align-items-center"
      >
        New to log in
      </div>
      <div
        (click)="switchLogin('old')"
        [ngClass]="{ 'login-active': currentSwitch == 'old' }"
        class="light-body-m text-c300 login-boxes d-flex justify-content-center align-items-center"
      >
        Already logged in
      </div>
    </div>
    <div style="position: relative;margin-left: 16px; width: 100%;">
      <input
        [(ngModel)]="cusName"
        (keyup.enter)="searchCus()"
        type="text"
        placeholder="Search student"
        class="cre-search"
      />
      <img class="search" src="./assets/icons/search_l.svg" />
    </div>
  </div>
  <div class="cursor header d-flex caption-u text-c100 align-items-center">
    <div
      style="width: 50%;margin-left: 20px;"
      class="d-flex align-items-center"
    >
      <input
        class="cursor"
        (click)="selectAll()"
        type="checkbox"
        [(ngModel)]="selectAllFlag"
        style=" width: 20px;
      height: 20px;"
      /><span style="margin-left: 16px;" (click)="sortByCus()">Customers</span
      ><img
        (click)="sortByCus()"
        class="cursor"
        style="margin-left: 8px;"
        src="./assets/icons/sorting.svg"
      />
    </div>
    <div
      style="width: 50%;"
      class="d-flex justify-content-between align-items-center"
    >
      <div (click)="sortByDate()">
        <span *ngIf="currentSwitch == 'new'">Last sent date</span>
        <span *ngIf="currentSwitch == 'old'">Last log in</span
        ><img
          class="cursor"
          style="margin-left: 8px;"
          src="./assets/icons/sorting.svg"
        />
      </div>
      <div
        [ngStyle]="{ 'margin-right': currentSwitch == 'new' ? '24px' : '54px' }"
        style=" width: 87px;"
        class="d-flex justify-content-center"
      >
        Action
      </div>
    </div>
  </div>
  <div style="height: 500px; overflow: auto;padding-bottom: 80px;">
    <div
      (click)="checkLesson(i)"
      *ngFor="let user of userList | filter: cusName; let i = index"
      class="cursor body d-flex caption-u text-c100 align-items-center"
    >
      <div
        class="d-flex align-items-center"
        style="width: 50%;margin-left: 20px;"
      >
        <input class="cb" type="checkbox" [(ngModel)]="checkboxFlag[i]" />
        <div class="pro-pic">
          <img style="width: 40px; height: 40px;" src="{{ user.profilePic }}" />
        </div>
        <span class="preferred-name">{{ user.preferredName }}</span>
      </div>
      <div
        style="width: 50%;"
        class="d-flex justify-content-between align-items-center"
      >
        <div *ngIf="user.sendRandomPasswordAt != '' && currentSwitch == 'new'">
          {{ user.sendRandomPasswordAt | date: 'd LLL yyyy'
          }}<span style="margin-left:8px;" class="light-body-m text-c100">{{
            user.sendRandomPasswordAt | date: 'h:mm a'
          }}</span>
        </div>
        <div
          style="width: 50%;"
          *ngIf="user.sendRandomPasswordAt == '' && currentSwitch == 'new'"
        >
          -
        </div>

        <div *ngIf="user.lastLoginDate != '' && currentSwitch == 'old'">
          {{ user.lastLoginDate | date: 'd LLL yyyy'
          }}<span style="margin-left:8px;" class="light-body-m text-c100">{{
            user.lastLoginDate | date: 'h:mm a'
          }}</span>
        </div>
        <div
          style="width: 50%;"
          *ngIf="user.lastLoginDate == '' && currentSwitch == 'old'"
        >
          -
        </div>

        <div style="margin-right: 24px;">
          <button
            (click)="singleResend(user.customerId, $event, confirmBox)"
            class="btn resend caption-u text-b100"
          >
            <span
              *ngIf="
                (!resendLoading && !sentDone) ||
                (resendLoading && currentId != user.customerId) ||
                (sentDone && currentId != user.customerId)
              "
              >{{ currentSwitch == 'new' ? 'Resend' : 'reset password' }}</span
            >
            <span *ngIf="resendLoading && currentId == user.customerId"
              ><img src="./assets/icons/loading.png"
            /></span>
            <span *ngIf="sentDone && currentId == user.customerId"
              ><img src="./assets/icons/resend_tick.svg"
            /></span>
          </button>
        </div>
      </div>
    </div>
    <div
      style="margin-top: 120px;"
      *ngIf="(userList | filter: cusName)?.length === 0"
      class="d-flex justify-content-center align-items-center"
    >
      <div class="d-flex flex-column align-items-center">
        <img
          style="width: 103px; height:135px;"
          src="../../../assets/images/no_result.png"
        />
        <div style="margin-top: 16px;" class="light-body-m text-c300">
          No search results found!
        </div>
      </div>
    </div>
    <content-loader *ngIf="loader">
      <svg:rect x="0" y="10" rx="3" ry="3" width="450" height="30" />
      <svg:rect x="0" y="50" rx="3" ry="3" width="450" height="30" />
      <svg:rect x="0" y="90" rx="3" ry="3" width="450" height="30" />
    </content-loader>
  </div>
  <div class="d-flex justify-content-between align-items-center footer">
    <div
      style="margin-left: 20px;"
      class="cursor d-flex align-items-center"
      (click)="selectAll()"
    >
      <input class="cb" type="checkbox" [(ngModel)]="selectAllFlag" />
      <span style="margin-left: 16px;">Select all</span>
    </div>
    <button
      (click)="resend(confirmBox)"
      class="btn btn-submit"
      [ngStyle]="{ 'margin-right': currentSwitch == 'new' ? '' : '44px' }"
    >
      Resend
    </button>
  </div>
</div>
<ng-template #confirmBox let-c="close" let-d="dismiss">
  <div class="modal-wraper">
    <div
      class="d-flex justify-content-between h2-strong text-c300"
      style="margin-bottom: 24px;"
    >
      <span>Confirm</span>
      <img
        (click)="closeModal()"
        class="close-x cursor"
        src="../../../assets/icons/crossClose.svg"
      />
    </div>
    <div class="light-body-l text-c300" style="margin-bottom: 32px;">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. At tellus enim
      ullamcorper et gravida quam scelerisque consequat.
    </div>
    <div class="box-footer d-flex">
      <div class="d-flex" style="position: absolute; right: 32px;">
        <button
          class="body-m text-b100 btn-close"
          (click)="closeModal()"
          style="margin-right: 24px;"
        >
          Cancel
        </button>
        <button class="btn btn-submit body-m text-s0" (click)="confirmResend()">
          Reset anyway
        </button>
      </div>
    </div>
  </div>
</ng-template>
