<div class="h-100" style="overflow: hidden;">
  <div class="d-flex justify-content-center p-2 addBg">
    <div class="inner-wrapper1 pt-0">
      <header>
        <div
          class="d-flex d-wrapper medium"
          [ngClass]="{ stickywrap: navIsFixed == true }"
        >
          <div class="mr-auto p-2 pl-0 pb-0">
            <div class="back-modal" (click)="backCourseDetail()">
              <i class="fa fa-angle-left"></i>
              <p>{{ courseDetail?.name }}</p>
            </div>
          </div>
          <div class="ml-auto">
            <button
              type="button"
              class="btn sticky-cancel"
              (click)="backCourseDetail()"
            >
              Cancel
            </button>
          </div>
        </div>
      </header>
    </div>
  </div>
  <div class="d-flex-jusitfy-content-center h-100 addborderTop">
    <div class="progress-box-wrap">
      <ol class="progress" data-steps="4">
        <li id="step1">
          <a
            class="step"
            id="astep1"
            [class.adisabled]="!clickableSteps.includes('1')"
            (click)="stepClick($event, '1')"
          >
            <span>1</span>
          </a>
        </li>
        <li id="step2">
          <a
            class="step"
            id="astep2"
            [class.adisabled]="!clickableSteps.includes('2')"
            (click)="stepClick($event, '2')"
          >
            <span>2</span>
          </a>
        </li>
        <li id="step3">
          <a
            class="step"
            id="astep3"
            [class.adisabled]="!clickableSteps.includes('3')"
            (click)="stepClick($event, '3')"
          >
            <span>3</span>
          </a>
        </li>
        <li id="step4">
          <a
            class="step"
            id="astep4"
            [class.adisabled]="!clickableSteps.includes('4')"
            (click)="stepClick($event, '4')"
          >
            <span>4</span>
          </a>
        </li>
      </ol>
    </div>
    <div *ngIf="activeStep == '1'" class="div_step">
      <div class="inner-wrapper h-100">
        <p class="name-header bold">
          Assigning tasks - getting started
        </p>

        <div
          class="col-md-6 mx-auto d-flex justify-content-center align-items-center h-50"
        >
          <div class="choice-block">
            <p class="choice-title bold">{{ customObj.title }}</p>
            <p class="choice-description medium">
              {{ customObj.description }}
            </p>
          </div>
        </div>

        <div class="button-wrapper">
          <div
            class="d-flex justify-content-between inner-wrapper1 footer-wrapper"
          >
            <div class="back-modal medium" (click)="backtoassignTask()">
              <i class="fa fa-angle-left"></i>
              <p>Back</p>
            </div>
            <button
              class="btn btn-comfirm medium"
              (click)="goToStep2($event, '2')"
            >
              Continue
            </button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="activeStep == '2'" class="div_step">
      step2
    </div>
    <div *ngIf="activeStep == '3'" class="div_step">
      step3
    </div>
    <div *ngIf="activeStep == '4'" class="div_step">
      step4
    </div>
  </div>
</div>
