span.mastery-count {
  top: 0;
  background: #5c6773;
  border-radius: 4px;
  color: #ffffff;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 13px;
}

.img-block {
  height: 132px;
  width: 100%;
}

.img-block img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.task-block {
  background: #ffffff !important;
  width: 235px;
  height: 172px;
  margin-left: 0 !important;
  border-radius: 4px !important;
  box-shadow: unset !important;
}

p.task-name {
  font-size: 15px;
  color: #363f4d;
  padding: 8px;
}

.selectedBorder {
  border: solid 2px rgb(0, 128, 255);
}
