<div class="detail-container">
  <div
    (click)="backClicked()"
    class="body-l text-c300 cursor"
    style="margin-bottom: 16px;"
  >
    <i class="fa fa-angle-left" style="font-size: 23px;"></i>
    <span>Back</span>
  </div>
  <div class="d-flex justify-content-between" style="margin-bottom: 40px;">
    <div class="h2-strong text-c300">{{ planInfo.subscription.name }}</div>
    <div>
      <button
        class="btn bg-b100 body-m text-s0"
        (click)="enrollLesson(enrollModal)"
      >
        Enroll lesson
      </button>
      <button type="button" class="Export-btn">
        <img
          src="assets/images/Customer_CSV.svg"
          style="width: auto; height: auto;"
        />
      </button>
    </div>
  </div>
  <div class="detail-info" style="margin-bottom: 32px;">
    <div style="width: 50%;">
      <div class="light-body-m text-c100">
        <span class="h2-strong text-c300">{{
          planInfo.subscribedLessonCount
        }}</span
        >/ <b>{{ planInfo.subscription.lessonCount }}</b> lessons enrolled
      </div>
      <div class="light-body-m text-c100">
        Valid until
        <span class="h5-strong text-c300">{{
          planInfo.expireDate | date: 'dd LLL yyyy'
        }}</span>
      </div>
    </div>
    <div style="width: 50%;">
      <div class="small text-r200 fat-arrow bg-r25">
        <img
          class="arrow-head"
          src="../../assets/img/arrow_head_red.svg"
        />Unpaid
      </div>
      <div class="h4-strong text-r100">
        S$ {{ planInfo.invoice.courseFee.amount }}
        <span style="margin-left: 16px;" class="light-body-m text-b100 cursor"
          >View invoice</span
        >
      </div>
    </div>
  </div>
  <div *ngIf="lessonList.length == 0" class="empty-lesson">
    <img
      style="margin-bottom: 24px;"
      src="../../../assets/img/empty_folder.png"
    />
    <div class="h4-strong text-c100" style="margin-bottom: 8px;">
      No lessons yet.
    </div>
    <div class="light-body-m text-c100" style="margin-bottom: 24px;">
      Please enroll new lessons to start
    </div>
    <button
      class="btn bg-b100 body-m text-s0"
      (click)="enrollLesson(enrollModal)"
    >
      Enroll lesson
    </button>
  </div>
  <div *ngIf="lessonList.length > 0">
    <div class="subplan">
      <div class="caption-u text-c100" style="width: 40%;">ENROLLED LESSON</div>
      <div class="caption-u text-c100" style="width: 30%;">Teacher</div>
      <div class="caption-u text-c100" style="width: 15%;">attendance</div>
      <div class="caption-u text-c100" style="width: 15%;">location</div>
    </div>
    <div class="subscriptions">
      <div style="width: 40%;">
        <div class="h5-strong text-c300">
          Mon, 3 Jan 2020
          <div class="dot"></div>
          <span class="light-body-m text-s70">1:30 PM - 2:30 PM</span>
        </div>
        <div class="body-l text-b100">Math Werkz Subtraction 3</div>
      </div>
      <div style="width: 30%;" class="d-flex align-item-center">
        <div class="profile">RF</div>
        <div class="body-l text-b100" style="margin-left: 3.25px;">
          Robert Fox
        </div>
      </div>
      <div style="width: 15%;" class="body-m text-c100">
        <div class="absent body-m text-s0">Absent</div>
      </div>
      <div class="d-flex" style="width: 15%;">
        <img src="../../../assets/img/location_small.svg" />
        <div class="light-body-m text-c100" style="margin-left: 12px;">
          Naperville
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #enrollModal let-c="close" let-d="dismiss">
  <div class="lesson-container">
    <div class="d-flex justify-content-between" style="margin-bottom: 40px;">
      <div class="h1-strong text-c300">Enroll lesson</div>
      <div class="light-body-m text-c300 enroll-profile">
        <div class="profile"></div>
        Statman Dave
      </div>
      <img
        class="cursor"
        (click)="d()"
        style="width: 16px;height: 16px;"
        src="../../../assets/img/removeIcon.png"
      />
    </div>

    <div *ngIf="!lessonFlag">
      <div class="d-flex justify-content-between" style="margin-bottom: 48px;">
        <div
          class="date body-m text-c300 justify-content-between"
          style="margin-right: 20px;"
        >
          Wed, 31 Jan 2020
          <img src="../../../assets/img/course-dp.png" />
        </div>
        <div class="simple-search input-group pd-zero">
          <input
            class="form-control input-csearch course-search-input body-l"
            type="search"
            placeholder="Search courses to enroll ..."
            id="course-search"
            (focus)="focusCourseSearch($event)"
            autocomplete="off"
            name="keyword"
            (input)="searchCourse($event.target.value)"
            (keyup)="searchStart($event, 10, 0)"
            [(ngModel)]="searchVal"
          />
        </div>
        <div
          class="plan-filter body-m text-c300 justify-content-between"
          style="margin-left: 20px;"
        >
          All course plan
          <i class="fa fa-chevron-down dropdown-arrow"></i>
        </div>
      </div>
      <div class="caption-u text-c100" style="margin-bottom: 16px;">
        today’s lessons
      </div>
      <div class="course-container">
        <div
          (click)="selectCourse(course)"
          class="course-list d-flex justify-content-between align-item-center cursor"
          *ngFor="let course of todayCourse.courses"
          [ngClass]="{ 'bg-s20': selectedCourse == course }"
        >
          <div class="d-flex align-item-center" style="width: 50%;">
            <div
              class="enroll-radio d-flex justify-content-center align-item-center"
            >
              <div
                *ngIf="selectedCourse == course"
                class="radio-selected"
              ></div>
            </div>
            <div>
              <div class="body-l text-c300">
                {{ course.name }}
              </div>
              <div class="light-body-m text-c100">
                8:30 AM - 9:00 AM
                <img src="../../../assets/img/location_small.svg" />
                <span>Austin</span>
              </div>
            </div>
          </div>
          <div style="width: 25%;">
            <div
              class="avail-les light-body-m text-y300 d-flex align-item-center"
            >
              5 lessons available
            </div>
          </div>
          <div class="d-flex align-item-center" style="width: 25%;">
            <img
              class="profile"
              style="margin-right: 12px;"
              src="{{ course.teacher.profilePic }}"
            />
            <div class="light-body-m text-c100" style="margin-left: 3.25px;">
              {{ course.teacher.preferredName }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="lessonFlag" class="lesson-picker">
      <app-lesson-picker
        (flag)="lessonbackClicked()"
        [selectedCourse]="selectedCourse"
      ></app-lesson-picker>
    </div>
  </div>
  <div class="enroll-footer d-flex justify-content-between align-item-center">
    <div class="light-body-m text-c100">
      <span class="h2-strong text-c100">{{
        planInfo.subscribedLessonCount
      }}</span>
      / {{ planInfo.subscription.lessonCount }} lessons left to enroll
    </div>
    <div class="d-flex">
      <div
        class="enroll-cancel d-flex justify-content-center align-item-center cursor"
        style="margin-right: 20px;"
        (click)="d()"
      >
        Cancel
      </div>
      <button
        class="btn enroll-btn bg-b100 body-m text-s0"
        (click)="continue()"
        [disabled]="selectedCourse == null"
      >
        Continue
      </button>
    </div>
  </div>
</ng-template>
