<div class="detail-container">
  <div
    (click)="backClicked()"
    class="body-l text-c300 cursor"
    style="margin-bottom: 16px;"
  >
    <i class="fa fa-angle-left" style="font-size: 23px;"></i>
    <span>Back</span>
  </div>
  <div class="d-flex justify-content-between" style="margin-bottom: 40px;">
    <div class="h2-strong text-c300">Play Haux Semi Plan</div>
    <div>
      <button class="btn bg-b100 body-m text-s0">
        Enroll lesson
      </button>
      <button type="button" class="Export-btn">
        <img
          src="assets/images/Customer_CSV.svg"
          style="width: auto; height: auto;"
        />
      </button>
    </div>
  </div>
  <div class="detail-info" style="margin-bottom: 32px;">
    <div style="width: 50%;">
      <div class="light-body-m text-c100">
        <span class="h2-strong text-c300">5 </span>/ <b>50</b> lessons enrolled
      </div>
      <div class="light-body-m text-c100">
        Valid until <span class="h5-strong text-c300">25 May 2020</span>
      </div>
    </div>
    <div style="width: 50%;">
      <div class="small text-r200 fat-arrow bg-r25">
        <img
          class="arrow-head"
          src="../../assets/img/arrow_head_red.svg"
        />Unpaid
      </div>
      <div class="h4-strong text-r100">
        S$ 79.99
        <span style="margin-left: 16px;" class="light-body-m text-b100 cursor"
          >View invoice</span
        >
      </div>
    </div>
  </div>
  <div class="empty-lesson">
    <img
      style="margin-bottom: 24px;"
      src="../../../assets/img/empty_folder.png"
    />
    <div class="h4-strong text-c100" style="margin-bottom: 8px;">
      No lessons yet.
    </div>
    <div class="light-body-m text-c100" style="margin-bottom: 24px;">
      Please enroll new lessons to start
    </div>
    <button class="btn bg-b100 body-m text-s0">
      Enroll lesson
    </button>
  </div>
  <div class="subplan">
    <div class="caption-u text-c100" style="width: 40%;">ENROLLED LESSON</div>
    <div class="caption-u text-c100" style="width: 30%;">Teacher</div>
    <div class="caption-u text-c100" style="width: 15%;">attendance</div>
    <div class="caption-u text-c100" style="width: 15%;">location</div>
  </div>
  <div class="subscriptions">
    <div style="width: 40%;">
      <div class="h5-strong text-c300">
        Mon, 3 Jan 2020
        <div class="dot"></div>
        <span class="light-body-m text-s70">1:30 PM - 2:30 PM</span>
      </div>
      <div class="body-l text-b100">Math Werkz Subtraction 3</div>
    </div>
    <div style="width: 30%;" class="d-flex align-item-center">
      <div class="profile">RF</div>
      <div class="body-l text-b100" style="margin-left: 3.25px;">
        Robert Fox
      </div>
    </div>
    <div style="width: 15%;" class="body-m text-c100">
      <div class="absent body-m text-s0">Absent</div>
    </div>
    <div class="d-flex" style="width: 15%;">
      <img src="../../../assets/img/location_small.svg" />
      <div class="light-body-m text-c100" style="margin-left: 12px;">
        Naperville
      </div>
    </div>
  </div>
</div>
