<div class="customer-tab pt-3">
  <div class="teacher-section">
    <div class="d-flex justify-content-between user-header">
      <h2 class="title-heading">Teachers</h2>
      <button
        *ngIf="courseDemo.assignTeacher != ''"
        type="button"
        class="btn btn-create"
        (click)="
          addUserModal('teacher', userModal, 'inside', '', detailLists.type)
        "
      >
        Change teacher
      </button>
    </div>
    <div *ngIf="loading == true" class="row ">
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4  col-xxl-3 ">
        <div class="person-card">
          <content-loader>
            <svg:rect
              x="0"
              y="0.5"
              rx="30"
              ry="30"
              width="48px"
              height="48px"
            />
            <svg:rect x="60" y="14" rx="0" ry="0" width="80%" height="20px" />
          </content-loader>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="loading == false">
      <div
        *ngFor="let user of pplLists.TEACHER"
        class="col-sm-6 col-md-6 col-lg-6 col-xl-4  col-xxl-3"
      >
        <div class="d-flex flex-row single-user align-items-center">
          <div class="d-flex align-self-center">
            <div class="img-wrap align-self-center">
              <img src="{{ user.profilePic }}" />
            </div>
          </div>
          <div
            class="single-user-info d-flex flex-wrap flex-column justify-content-center"
          >
            <p>{{ user.userType }}</p>
            <h4>
              {{
                user.preferredName.length > 20
                  ? (user.preferredName | slice: 0:20) + '...'
                  : user.preferredName
              }}
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="teacher-section">
    <div class="d-flex justify-content-between user-header">
      <h2 class="title-heading">Assistant teachers</h2>
      <button
        *ngIf="courseDemo.assignTeacher != ''"
        type="button"
        class="btn btn-create"
        (click)="
          addUserModal('staff', userModal, 'inside', '', detailLists.type)
        "
      >
        Add teacher
      </button>
    </div>
    <div *ngIf="loading == true" class="row ">
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4  col-xxl-3 ">
        <div class="person-card">
          <content-loader>
            <svg:rect
              x="0"
              y="0.5"
              rx="30"
              ry="30"
              width="48px"
              height="48px"
            />
            <svg:rect x="60" y="14" rx="0" ry="0" width="80%" height="20px" />
          </content-loader>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4  col-xxl-3 ">
        <div class="person-card">
          <content-loader>
            <svg:rect
              x="0"
              y="0.5"
              rx="30"
              ry="30"
              width="48px"
              height="48px"
            />
            <svg:rect x="60" y="14" rx="0" ry="0" width="80%" height="20px" />
          </content-loader>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4  col-xxl-3 ">
        <div class="person-card">
          <content-loader>
            <svg:rect
              x="0"
              y="0.5"
              rx="30"
              ry="30"
              width="48px"
              height="48px"
            />
            <svg:rect x="60" y="14" rx="0" ry="0" width="80%" height="20px" />
          </content-loader>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="loading == false">
      <div
        *ngFor="let user of pplLists.STAFF"
        class="col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3"
      >
        <div class="d-flex flex-row  single-user align-items-center">
          <div class="img-wrap">
            <img src="{{ user.profilePic }}" />
          </div>
          <div
            class="single-user-info d-flex flex-column justify-content-center"
          >
            <p>{{ user.userType }}</p>
            <h4 *ngIf="user.preferredName">
              {{
                user.preferredName.length > 20
                  ? (user.preferredName | slice: 0:20) + '...'
                  : user.preferredName
              }}
            </h4>
          </div>
          <div class="ml-auto remover-wrap">
            <div
              class="remove-user d-flex justify-content-end"
              (click)="
                openRemoveModal(user.userId, deleteModal, user.preferredName)
              "
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="student-section ">
    <div class="d-flex justify-content-between user-header">
      <div class="d-flex flex-column">
        <div
          class="d-flex"
          *ngIf="
            pplLists?.CUSTOMER?.length < 1 && detailLists.seat_left !== null
          "
        >
          <p>0/{{ detailLists?.coursePlan?.seats }} Customer</p>
        </div>
        <div
          class="d-flex"
          *ngIf="
            pplLists?.CUSTOMER?.length < 1 && detailLists?.seat_left == null
          "
        >
          <p>0/unlimited Customer</p>
        </div>
        <div class="d-flex" *ngIf="pplLists?.CUSTOMER?.length > 0">
          <p class="seat-text-wrapper">
            Total:
            <span *ngIf="detailLists?.seat_left !== null">
              {{ pplLists?.CUSTOMER?.length }}/{{
                detailLists?.coursePlan?.seats
              }}
            </span>
            <span *ngIf="detailLists.seat_left == null">
              {{ pplLists?.CUSTOMER?.length }}/unlimited
            </span>
            <span *ngIf="pplLists?.CUSTOMER?.length <= 1">customer</span>
            <span *ngIf="pplLists?.CUSTOMER?.length > 1">customers</span>
          </p>
        </div>
      </div>
      <button
        *ngIf="courseDemo.assignStudent != ''"
        type="button"
        class="btn"
        [ngClass]="pplLists.CUSTOMER.length < 1 ? 'btn-create' : 'btn-normal'"
        (click)="
          addUserModal(
            'customer',
            customerModal,
            'inside',
            '',
            detailLists.type
          )
        "
        style="height:40px;"
        [disabled]="detailLists.seat_left == 0 && this.courseType !== 'FLEXY'"
      >
        Enroll class
      </button>
    </div>
    <div *ngIf="loading == true" class="row ">
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4  col-xxl-3 ">
        <div class="person-card">
          <content-loader>
            <svg:rect
              x="0"
              y="0.5"
              rx="30"
              ry="30"
              width="48px"
              height="48px"
            />
            <svg:rect x="60" y="14" rx="0" ry="0" width="80%" height="20px" />
          </content-loader>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4  col-xxl-3 ">
        <div class="person-card">
          <content-loader>
            <svg:rect
              x="0"
              y="0.5"
              rx="30"
              ry="30"
              width="48px"
              height="48px"
            />
            <svg:rect x="60" y="14" rx="0" ry="0" width="80%" height="20px" />
          </content-loader>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4  col-xxl-3 ">
        <div class="person-card">
          <content-loader>
            <svg:rect
              x="0"
              y="0.5"
              rx="30"
              ry="30"
              width="48px"
              height="48px"
            />
            <svg:rect x="60" y="14" rx="0" ry="0" width="80%" height="20px" />
          </content-loader>
        </div>
      </div>
    </div>
    <div
      class="row customer-row"
      *ngIf="pplLists.CUSTOMER.length > 0 && loading == false"
    >
      <div
        *ngFor="let user of pplLists.CUSTOMER; let i = index"
        class="option-wrap col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3"
      >
        <div
          class="d-flex flex-row  single-user justify-content-center align-items-center"
        >
          <div *ngIf="user.invoice != null">
            <div class="img-wrap">
              <img src="{{ user.profilePic }}" />
            </div>

            <div
              style="margin-left: 35px;margin-top: -20px;position: relative;"
              class="user-grade"
            >
              <div
                *ngIf="
                  user.grade &&
                  user.grade.recentGrade != undefined &&
                  user.grade.recentGrade.grade != undefined
                "
                [ngClass]="{
                  'test-circle': user.grade.recentGrade.grade.point.length == 1,
                  circle: user.grade.recentGrade.grade.point.length > 1
                }"
                class="justify-content-center d-flex"
                [style.background]="user.grade.sepalColor.background"
              >
                <span [style.color]="user.grade.sepalColor.text">
                  {{ user.grade.recentGrade.grade.point }}
                </span>
              </div>
            </div>
          </div>

          <div *ngIf="user.invoice == null">
            <div class="img-wrap">
              <img src="{{ user.profilePic }}" />
            </div>
            <div
              style="margin-left: 35px;margin-top: -20px;position: relative;"
              class="user-grade"
            >
              <div
                *ngIf="
                  user.grade &&
                  user.grade.recentGrade != undefined &&
                  user.grade.recentGrade.grade != undefined
                "
                [ngClass]="{
                  'test-circle': user.grade.recentGrade.grade.point.length == 1,
                  circle: user.grade.recentGrade.grade.point.length > 1
                }"
                class="justify-content-center d-flex"
                [style.background]="user.grade.sepalColor.background"
              >
                <span [style.color]="user.grade.sepalColor.text">
                  {{ user.grade.recentGrade.grade.point }}
                </span>
              </div>
            </div>
          </div>
          <div
            class="single-user-info d-flex flex-column justify-content-center"
          >
            <h4
              *ngIf="user.preferredName"
              (click)="onClickCustomer(user.userId)"
              class="clickable-user"
            >
              {{
                user.preferredName.length > 20
                  ? (user.preferredName | slice: 0:20) + '...'
                  : user.preferredName
              }}
            </h4>
          </div>
          <div
            class="single-user-info d-flex flex-column justify-content-center"
          >
            <h4
              *ngIf="user.preferredName == ''"
              (click)="onClickCustomer(user.userId)"
              class="clickable-user"
            >
              {{
                user.email.length > 20
                  ? (user.email | slice: 0:20) + '...'
                  : user.email
              }}
            </h4>
          </div>
          <div class="ml-auto remover-wrap">
            <span
              class="fa fa-angle-down d-flex justify-content-center flex-column icon user-down"
              (click)="showOptionsBox(user.userId, $event)"
            ></span>
          </div>

          <ul
            id="user.userId"
            [ngStyle]="{ top: yPosition + 'px' }"
            *ngIf="optionBox == true && xxxhello == user.userId"
            class="options-box"
          >
            <div class="carret-box"></div>
            <li (click)="showTabsModal(tabsModal, 'makeup', user)">
              Issue makeup pass
            </li>
            <li
              [ngClass]="{ 'hide-invoice': user.invoice == null }"
              (click)="showTabsModal(tabsModal, 'invoice', user)"
              class="view-li"
            >
              <button class="cursor-on">
                View invoice
              </button>
            </li>
            <li
              (click)="
                openRemoveModal(user.userId, deleteModal, user.preferredName)
              "
            >
              Withdraw user
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      class="no-customer"
      *ngIf="pplLists?.CUSTOMER?.length <= 0 && loading == false"
    >
      <span class="">
        There is no customer in this course. Must enroll customers to this
        course.
      </span>
    </div>
  </div>
  <ng-template #tabsModal let-c="close" let-d="dismiss">
    <div class="d-flex modal-header flex-column header-shadow">
      <div class="d-flex justify-content-between w-100 modal-headone">
        <div class="d-flex flex-row align-items-center">
          <div class="img-wrap current-user">
            <img src="{{ singleUserData.profilePic }}" />
          </div>
          <div
            class="single-user-info d-flex flex-column justify-content-center"
          >
            <h4>{{ singleUserData.preferredName }}</h4>
            <p *ngIf="singleUserData.email">{{ singleUserData.email }}</p>
            <p *ngIf="!singleUserData.email">-</p>
          </div>
        </div>
        <div class="custom-close-button" (click)="cancelInvoiceModal()"></div>
      </div>
      <div class="d-flex tab-section">
        <button
          [ngClass]="{ active: activeUserTab == 'makeup' }"
          class="btn course-tab active"
          (click)="clickTab('makeup', 'user')"
        >
          Issue makeup
        </button>
        <button
          [ngClass]="{ active: activeUserTab == 'invoice' }"
          class="btn course-tab active"
          (click)="clickTab('invoice', 'user')"
          [disabled]="singleUserData.invoice == null"
        >
          View invoice
        </button>
      </div>
    </div>
    <div
      *ngIf="activeUserTab == 'makeup' && isFlexyInvoice == false"
      class="d-flex w-100"
      style="  min-height: 70vh; height: 70vh;"
    >
      <form
        class="form-wrap"
        novalidate
        #makeupF="ngForm"
        style="width:80%"
        (click)="(hideFocus)"
      >
        <div class="modal-body">
          <div class="col-md-12 input-wrap">
            <div class="form-group">
              <label for="name" class="input-label">Name</label>
              <input
                type="text"
                class="form-control create-input"
                placeholder="Type makeup pass name here"
                name="name"
                [(ngModel)]="makeupForm.name"
                required
                #name="ngModel"
              />
            </div>
            <div class="form-group">
              <label for="reason" class="input-label">Reason</label>
              <textarea
                class="form-control create-input"
                rows="4"
                placeholder="Got any reasons?"
                name="reason"
                [(ngModel)]="makeupForm.reason"
                #reason="ngModel"
                required
              ></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer fixed-bottom">
          <button
            type="button"
            class="btn modal-cancel-btn"
            (click)="cancelInvoiceModal()"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="btn btn-submit"
            [disabled]="!makeupF.valid"
            (click)="issuePass(makeupForm, singleUserData.userId)"
          >
            Confirm
          </button>
        </div>
      </form>
      <div
        *ngIf="makeupLists.length > 0"
        class="d-flex flex-column makeup-sidebar"
        style="width:50%;"
      >
        <h1 class="release-text container">Released makeup passes</h1>
        <div class="" *ngFor="let makeup of makeupLists">
          <!--for valid start-->
          <div class="col-md-12 av-block claimed-height">
            <!-- [ngClass]="{'claimed-height': makeup.passType === 'claimed'}" -->
            <div class="single-makeup claimed-height">
              <div
                class="makeup-head"
                [ngClass]="{
                  'claimed-header': makeup.passType === 'claimed',
                  'expired-header': makeup.passType === 'expired'
                }"
              >
                <p>
                  <span *ngIf="makeup.passType === 'available'">
                    Valid until
                    <span class="valid-date"
                      >{{ makeup.expirationDate.day }}
                      {{ makeup.expirationDate.month - 1 | TTmonth }}
                      {{ makeup.expirationDate.year }}</span
                    >
                  </span>
                  <span *ngIf="makeup.passType === 'claimed'">
                    <span>
                      <img src="../../../assets/icons/badge_tick.svg" alt="" />
                    </span>
                    Claimed pass
                  </span>
                  <span *ngIf="makeup.passType === 'expired'">
                    <span>
                      <img src="../../../assets/icons/badge_minus.svg" alt="" />
                    </span>
                    Expired pass
                  </span>
                </p>
              </div>
              <div class="makeup-body">
                <h5 class="makeup-title">{{ makeup.name }}</h5>
                <p class="makeup-desc">{{ makeup.reason }}</p>
                <div class="makeup-box">
                  <p>
                    Issued on {{ makeup.issueDate.day }}
                    {{ makeup.issueDate.month - 1 | TTmonth }}
                    {{ makeup.issueDate.year }}
                  </p>
                  <div class="issue-box d-flex flex-column">
                    <strong class="makeup-course-name"
                      >{{ makeup.course.name }}
                    </strong>
                    <label *ngIf="makeup.course.type !== 'ONLINE'">
                      <span
                        >{{ makeup.course.startTime.hr | timeFormat }} :
                        {{ makeup.course.startTime.min | timeFormat }}
                        {{ makeup.course.startTime.meridiem }}</span
                      >
                      -
                      <span
                        >{{ makeup.course.endTime.hr | timeFormat }} :
                        {{ makeup.course.endTime.min | timeFormat }}
                        {{ makeup.course.endTime.meridiem }}</span
                      ></label
                    >
                  </div>
                  <div *ngIf="makeup.passType === 'claimed'">
                    <p>
                      Issued on {{ makeup.claimedDateFor.day }}
                      {{ makeup.claimedDateFor.month - 1 | TTmonth }}
                      {{ makeup.claimedDateFor.year }}
                    </p>
                    <div class="issue-box d-flex flex-column">
                      <strong class="makeup-course-name">{{
                        makeup.makeupCourse.name
                      }}</strong>
                      <label *ngIf="makeup.course.type !== 'ONLINE'">
                        <span
                          >{{ makeup.makeupCourse.startTime.hr | timeFormat }} :
                          {{ makeup.makeupCourse.startTime.min | timeFormat }}
                          {{ makeup.makeupCourse.startTime.meridiem }}</span
                        >
                        -
                        <span
                          >{{ makeup.makeupCourse.endTime.hr | timeFormat }} :
                          {{ makeup.makeupCourse.endTime.min | timeFormat }}
                          {{ makeup.makeupCourse.endTime.meridiem }}</span
                        ></label
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="left-scoope"></div>
              <div class="right-scoope"></div>
            </div>
          </div>
          <!--for valid end-->
        </div>
      </div>
    </div>

    <div *ngIf="activeUserTab == 'transfer'">
      <div class="modal-body">
        <div class="d-flex"></div>
        <form novalidate #cfees="ngForm">
          <div>
            <div class="d-flex flex-column mt-37" style="position: relative;">
              <div class="d-flex">
                <input
                  class="form-control py-2 input-search-bg"
                  type="search"
                  placeholder="Search class"
                  id="example-search-input"
                  name="search"
                  #search="ngModel"
                  [(ngModel)]="searchData.searchText"
                  (input)="
                    changeSearch(
                      $event.target.value,
                      singleUserData.userId,
                      '',
                      ''
                    )
                  "
                />
                <span class="input-group-append">
                  <button
                    class="bt btn-design btn-outline-secondary btn-right-radius"
                    type="button"
                  >
                    <i class="fa fa-search search-size"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="mt-20 class-group">
              <div class="card-columns p-0">
                <div
                  class="card"
                  *ngFor="let course of availableCourses; let i = index"
                >
                  <div class="single-class">
                    <!-- <div class="no-seat" *ngIf="course.seat_left == 0">All seat taken</div>
                <div class="absolute" *ngIf="course.seat_left != 0 && course.seat_left != null">{{course.seat_left}} seats left</div> -->
                    <div class="class-info-head">
                      <h5 class="mt-03">
                        <i class="fa fa-map-marker" style="font-size:15px"></i>
                        {{ course.location.name }}
                      </h5>
                      <b>{{ course.name }}</b>
                    </div>
                    <div class="class-info-body">
                      <div
                        [hidden]="
                          !course.paymentPolicy.courseFee &&
                          !course.paymentPolicy.deposit &&
                          !course.paymentPolicy.miscFee &&
                          !course.paymentPolicy.proratedLessonFee
                        "
                        class="class-body-one row"
                      >
                        <div
                          class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"
                        >
                          <div *ngIf="course.paymentPolicy.courseFee != null">
                            <h5>Course fee</h5>
                            <sup>{{ currency.invCurrencySign }}</sup
                            ><b>{{ course.paymentPolicy.courseFee }}</b>
                          </div>
                          <div
                            *ngIf="
                              course.paymentPolicy.proratedLessonFee != null
                            "
                            class="mt-16"
                          >
                            <h5>Prorate class fee</h5>
                            <sup>{{ currency.invCurrencySign }}</sup
                            ><b>{{ course.paymentPolicy.proratedLessonFee }}</b>
                          </div>
                        </div>
                        <div
                          class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 pl-0"
                        >
                          <div>
                            <div *ngIf="course.paymentPolicy.deposit">
                              <h5>Deposit</h5>
                              <sup>{{ currency.invCurrencySign }}</sup
                              ><b>{{ course.paymentPolicy.deposit.amount }}</b>
                            </div>
                          </div>
                          <div
                            class="mt-16"
                            *ngIf="course.paymentPolicy.miscFee != null"
                          >
                            <h5>Miscellaneous fee</h5>
                            <sup>{{ currency.invCurrencySign }}</sup
                            ><b>{{ course.paymentPolicy.miscFee }}</b>
                          </div>
                        </div>
                      </div>
                      <div class="class-body-two row">
                        <div
                          class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"
                        >
                          <b *ngFor="let day of course.repeatDays | weekDays">{{
                            day
                          }}</b>
                          <h5>
                            {{ course.duration.startDate | utcTime }} -
                            {{ course.duration.endDate | utcTime }}
                          </h5>
                        </div>
                        <div
                          class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 pl-zero"
                        >
                          <div class="d-flex detail-fees">
                            <div
                              class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 pl-zero pr-03"
                            >
                              <h5>From</h5>
                              <b>{{ course.startDate | utcDate }}</b>
                            </div>
                            <div
                              class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 pl-zero pr-zero"
                            >
                              <h5 *ngIf="course.endDate != null" class="mt-03">
                                To
                              </h5>
                              <h5
                                *ngIf="course.endDate == null"
                                class="pt-13"
                              ></h5>
                              <b *ngIf="course.endDate">{{
                                course.endDate | utcDate
                              }}</b>

                              <b *ngIf="course.endDate == null"
                                >{{ course.lessonCount }} Lessons</b
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="row d-flex justify-content-center class-info-footer"
                    >
                      <button
                        type="button"
                        class="btn"
                        (click)="transferClass(course, singleUserData.userId)"
                        [disabled]="course.seat_left == 0"
                      >
                        Enroll on this course
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div
                *ngIf="availableCourses.length >= 20 && acResult?.length > 0"
                class="load-more1 d-flex justify-content-center"
              >
                <button
                  type="button"
                  class="btn"
                  (click)="
                    showMoreAC(availableCourses.length, singleUserData.userId)
                  "
                >
                  load more
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- for view invoice -->
    <div class="show-invoice" *ngIf="isFlexyInvoice">
      <div class="scrollbar">
        <div class="d-flex invoice-change align-items-center ml-3">
          <label class="invoice-label">Invoice</label>
          <span class="invoiceOflength" *ngIf="invoicesOfCourse != undefined">{{
            invoicesOfCourse.length
          }}</span>
        </div>
        <div class="row ml-1 invoice-main">
          <div
            class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 invoice-list"
            *ngFor="let invoice of invoicesOfCourse"
          >
            <div class="invoice-box">
              <div class="first-one d-flex flex-column">
                <p class="lesson" *ngIf="invoice.studentLessons != undefined">
                  {{ invoice.studentLessons.length }} lessons
                </p>
                <span
                  class="date pt-2"
                  *ngIf="
                    invoice.studentLessons != undefined &&
                    invoice.studentLessons[0]?.startDate != undefined &&
                    invoice.studentLessons[invoice.studentLessons?.length - 1]
                      .endDate != undefined
                  "
                >
                  {{ invoice.studentLessons[0].startDate | utcDate }} -
                  {{
                    invoice.studentLessons[invoice.studentLessons?.length - 1]
                      .endDate | utcDate
                  }}
                </span>
                <label class="payment-courseinvoice">Payment date</label>
                <p class="date1">
                  {{ invoice.updatedDate | utcDate }}
                </p>
              </div>
              <div class="second-one" style="padding-left: 10px">
                <div class="d-flex" style="margin-top: 14px">
                  <div
                    class="paybill"
                    [ngClass]="{
                      'paid-status-invoice': invoice.status == 'PAID',
                      'unpaid-status-invoice': invoice.status == 'UNPAID',
                      'partially-paid-status-invoice':
                        invoice.status == 'PAID[PARTIAL]'
                    }"
                  >
                    <p>
                      {{
                        invoice.status == 'PAID[PARTIAL]'
                          ? 'Partially paid'
                          : invoice.status == 'PAID'
                          ? 'Paid'
                          : 'Unpaid'
                      }}
                    </p>
                  </div>
                  <span class="right-arrow"></span>
                </div>
                <div class="date pt-2" *ngIf="invoice != null; currency">
                  <span class="currency date">{{ invoice.currency.sign }}</span>
                  {{ invoice.total }}
                </div>
                <!-- (click)="viewInvoice(classEnrollModal, course)"
    [disabled]="course.invoice == null" -->
                <button
                  class="btn view-invoice"
                  (click)="viewSingleInvoice(invoice._id)"
                >
                  View invoice
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="invoice-wrap"
      *ngIf="activeUserTab == 'invoice' && isFlexyInvoice == false"
      id="print-section"
    >
      <div
        class="d-flex back ml-5 mt-2"
        *ngIf="courseType == 'FLEXY'"
        (click)="backToInvoiceList()"
      >
        <i class="fa fa-angle-left flexiBackicon" style="cursor: pointer"></i>
        <p class="mb-0 font-medium " style="cursor: pointer">Invoices list</p>
      </div>
      <app-invoice
        [custDetail]="custDetail"
        [course]="courseInfo"
        [invoiceId]="invoiceID2"
        (closed)="cancelInvoiceModal()"
      ></app-invoice>
    </div>
  </ng-template>
  <ng-template #deleteModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h3 class="modal-title">Withdraw user?</h3>
    </div>
    <div class="modal-body confirm-text">
      <p>
        Are You sure you want to remove
        <span class="target">"{{ removeUser }}"</span> from this course?
      </p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn modal-cancel-btn"
        (click)="cancelModal('Close click')"
      >
        Cancel
      </button>
      <button
        type="submit"
        class="btn modal-delete-btn"
        (click)="withdrawUser(deleteId)"
      >
        Withdraw
      </button>
    </div>
  </ng-template>
  <ng-template #userModal let-c="close" let-d="dismiss">
    <div class="d-flex modal-header">
      <h3 *ngIf="userType == 'staff'" class="modal-title d-flex mr-auto">
        Add teacher
      </h3>
      <h3 *ngIf="userType == 'customer'" class="modal-title d-flex mr-auto">
        Add customer
      </h3>
      <h3 *ngIf="userType == 'teacher'" class="modal-title d-flex mr-auto">
        Change teacher
      </h3>
      <button
        (click)="cancelModal()"
        aria-label="Close"
        class="modal-close ml-auto"
        type="button"
      >
        <span class="closemark">
          <div class="closemark_stem"></div>
          <div class="closemark_kick"></div>
        </span>
        <!-- <span aria-hidden="true" >×</span> -->
      </button>
    </div>
    <form novalidate #cfees="ngForm">
      <div class="modal-body confirm-text customer-modal-body">
        <div class="d-flex">
          <div class="col-md-4 col-lg-4 modal-cfees pl-zero libr2">
            <h5 class="mt-03 lname">
              <i class="fa fa-map-marker" style="font-size:15px"></i>
              {{ detailLists.location.name }}
            </h5>
            <p class="course-name">{{ detailLists.name }}</p>
          </div>
          <div
            class="col-md-4 col-lg-4 modal-ctime pr-zero"
            *ngIf="detailLists.type != 'ONLINE'"
          >
            <h5 *ngFor="let day of detailLists.repeatDays | weekDays">
              {{ day }}
            </h5>
            <!-- <p>11:00 AM - 12:00 AM</p> -->
            <div class="modal-duration">
              <span *ngIf="detailLists.duration.endDate != undefined">
                {{ detailLists.duration.startDate | utcTime }} -
                {{ detailLists.duration.endDate | utcTime }}
              </span>
            </div>
          </div>
          <div class="col-md-4 col-lg-4 modal-cdate">
            <div class="d-flex">
              <div class="col-md-6 pr-zero modal-dfees">
                <h5 class="mt-03">From</h5>
                <b>{{ detailLists.startDate | utcDate }}</b>
              </div>
              <div class="col-md-6 pr-zero modal-dfees">
                <h5 *ngIf="detailLists.endDate != null" class="mt-03">To</h5>
                <h5 *ngIf="detailLists.endDate == null" class="mt-03"></h5>
                <b *ngIf="detailLists.endDate != null">{{
                  detailLists.endDate | utcDate
                }}</b>
                <div *ngIf="detailLists.endDate == null">
                  <b>{{ detailLists.actualLessonCount }} Lessons</b>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column mt-37" style="position: relative;">
          <div class="d-flex">
            <input
              *ngIf="userType == 'customer'"
              class="form-control py-2 input-search-bg"
              type="search"
              placeholder="Search customers"
              id="example-search-input"
              name="search"
              #search="ngModel"
              [(ngModel)]="formData.searchText"
              (focus)="focusMethod($event, userType)"
              (focusout)="hideFocus($event)"
              (blur)="hideFocus($event)"
              (input)="changeMethod($event.target.value, userType)"
              autocomplete="off"
            />
            <input
              *ngIf="userType == 'staff' || userType == 'teacher'"
              class="form-control py-2 input-search-bg"
              type="search"
              placeholder="Search teachers"
              id="example-search-input"
              name="search"
              #search="ngModel"
              [(ngModel)]="formData.searchText"
              (focus)="focusMethod($event, userType)"
              (focusout)="hideFocus($event)"
              (blur)="hideFocus($event)"
              (input)="changeMethod($event.target.value, userType)"
              autocomplete="off"
            />
            <span class="input-group-append">
              <button class="bt btn-design btn-outline-secondary" type="button">
                <i class="fa fa-search search-size"></i>
              </button>
            </span>
          </div>
          <div class="user-list-box" *ngIf="showList == true">
            <div *ngIf="userType != 'teacher'">
              <div
                [ngClass]="[
                  trArrayLists.indexOf(user.userId) > -1 ? 'hide-user' : '',
                  !isSeatAvailable && userType == 'customer'
                    ? 'disable-add1'
                    : ''
                ]"
                (click)="selectUser('user', user.userId, 'user')"
                *ngFor="let user of userLists"
                class="d-flex flex-row search-user justify-content-center align-items-center"
              >
                <div class="img-wrap">
                  <img src="{{ user.profilePic }}" />
                </div>
                <div
                  class="single-user-info d-flex flex-column justify-content-center"
                >
                  <h4>
                    {{
                      user.preferredName == '' ? user.email : user.preferredName
                    }}
                  </h4>
                </div>
                <div class="ml-auto remover-wrap">
                  <div class="add-user d-flex justify-content-end"></div>
                </div>
              </div>
            </div>

            <div *ngIf="userType == 'teacher'">
              <div
                [ngClass]="[
                  trArrayLists.indexOf(user.userId) > -1 ? 'hide-user' : '',
                  !isSeatAvailable && userType == 'customer'
                    ? 'disable-add1'
                    : ''
                ]"
                (click)="selectUser('teacher', user.userId, 'user')"
                *ngFor="let user of userLists"
                class="d-flex flex-row search-user justify-content-center align-items-center"
              >
                <div class="img-wrap">
                  <img src="{{ user.profilePic }}" />
                </div>
                <div
                  class="single-user-info d-flex flex-column justify-content-center"
                >
                  <h4>{{ user.preferredName }}</h4>
                </div>
                <div class="ml-auto remover-wrap">
                  <div class="add-user d-flex justify-content-end"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-20 user-row-wrap">
          <div *ngIf="userType != 'teacher'">
            <div
              class="row single-user-wrap"
              *ngIf="selectedUserLists.length > 0"
            >
              <div
                *ngFor="let user of selectedUserLists"
                class="col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3"
              >
                <div
                  class="d-flex flex-row single-user justify-content-center align-items-center"
                >
                  <div class="img-wrap">
                    <img src="{{ user.profilePic }}" />
                  </div>
                  <div
                    class="single-user-info d-flex flex-column justify-content-center"
                  >
                    <h4>{{ user.preferredName }}</h4>
                  </div>
                  <div class="ml-auto remover-wrap">
                    <div
                      class="remove-user d-flex justify-content-end"
                      (click)="removeSelectedUser(user.userId)"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="userType == 'teacher'">
            <div
              class="row single-user-wrap"
              *ngIf="selectedTeacherLists != ''"
            >
              <div
                *ngFor="let teacher of selectedTeacherLists"
                class="col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3"
              >
                <div class="d-flex flex-row single-user">
                  <div class="img-wrap">
                    <img src="{{ teacher.profilePic }}" />
                  </div>
                  <div
                    class="single-user-info d-flex flex-column justify-content-center"
                  >
                    <h4>{{ teacher.preferredName }}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            *ngIf="selectedUserLists.length <= 0 && selectedTeacherLists == ''"
            class="d-flex col-md-12 empty-ui-wrapper"
          >
            <div class="col-md-6 img-pos">
              <div class="empty-wrapper">
                <img src="assets/images/add-customer-illustration@2x.png" />
              </div>
            </div>
            <div class="d-flex col-md-6">
              <div class="txt-default">
                <h3 *ngIf="userType == 'staff'">Add Teacher to this Course</h3>
                <h3 *ngIf="userType == 'customer'">
                  Add Customer to this Course
                </h3>
                <h3 *ngIf="userType == 'teacher'">
                  Change Teacher to this Course
                </h3>
              </div>
              <div class="arrow-pos">
                <img src="assets/img/arrow.png" />
              </div>
            </div>
          </div>
        </div>
        <div
          *ngIf="isSeatAvailable == false && userType == 'customer'"
          class="seat-taken"
        >
          All seat taken. Can't add user anymore.
        </div>
        <div
          *ngIf="noSetting == true && userType != 'teacher'"
          class="seat-taken"
        >
          You should set invoice setting and payment setting first.
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn modal-cancel-btn"
          (click)="cancelModal()"
        >
          Cancel
        </button>
        <button
          *ngIf="userType != 'teacher'"
          type="submit"
          class="btn btn-submit"
          [disabled]="selectedUserLists.length == 0 || noSetting == true"
          (click)="enrollUserToCourse(detailLists._id, userType)"
        >
          Confirm
        </button>
        <button
          *ngIf="userType == 'teacher'"
          type="submit"
          class="btn btn-submit"
          [disabled]="selectedTeacherLists.length == 0"
          (click)="
            swapTeacherToCourse(detailLists._id, selectedTeacherLists[0].userId)
          "
        >
          Confirm
        </button>
      </div>
    </form>
  </ng-template>
</div>

<!-- aa -->
