.header-div h2,
.header-wrapper div {
  font-family: 'Inter-UI-Regular', Arial, sans-serif;
}

.title-div {
  padding: 0px 15px;
  margin-top: 28px;
}

.header-div h2 {
  color: #2e3d4d;
  font-size: 28px;
  font-weight: 600;
}

.table-wrap {
  padding: 0px 15px;
}

.header-wrapper div {
  color: #2e3d4d;
  font-size: 14px;
}
