.title-div h2,
.header-wrapper,
.view-inv-btn,
.invList {
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
}

.btn-export,
.option-dp {
  font-family: 'Inter-UI-Medium', Arial, sans-serif;
}

.title-div {
  padding: 0px 15px;
  margin-top: 28px;
  margin-bottom: 36px;
}

.title-div h2 {
  color: #2e3d4d;
  font-size: 28px;
}

.table-wrapper {
  display: block;
  overflow-x: auto;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 0px 15px;
  margin-bottom: 60px;
}

.inv-table {
  padding: 0px 15px;
  /*display: table;*/
  table-layout: fixed;
  width: 100%;
}

.header-wrapper {
  border-bottom: 1px solid #edeff0;
}

.invList {
  border-bottom: 1px solid #edeff0;
}

.header-wrappe,
.invList {
  color: #2e3d4d;
  font-size: 14px;
  /*display: table-cell;*/
}

.view-inv-btn {
  background: none;
  border: none;
  color: #007fff;
  cursor: pointer;
  padding: 0;
  outline: none;
}

table td {
  border-top: none;
}

table td {
  padding: 12px;
  word-break: break-all;
}

.load-more {
  position: fixed;
  z-index: 1;
  width: 85%;
  background: #fff;
  border-top: 1px solid #eee;
  padding: 10px;
  bottom: 0;
  right: 0;
}
.load-more button {
  color: #0080ff;
  font-size: 14px;
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
  cursor: pointer;
}

.remove-outline:focus {
  outline: none;
  box-shadow: none;
  background: none;
}
.remove-outline {
  background: none;
}

.app-inv-wrap {
  height: 80vh;
  overflow: auto;
}

.btn-export {
  background: #007fff;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.downIcon {
  color: #fff;
  font-size: 12px;
  margin-left: 8px;
}

.option-dp {
  position: absolute;
  z-index: 99;
  background: #fff;
  color: #2e3d4d !important;
  cursor: pointer;
  min-width: 100px;
  text-align: center;
  top: 47px;
  box-shadow: 0px 2px 30px 1px rgba(1, 0, 0, 0.2);
  border: none;
  cursor: pointer;
}

.option-dp:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 15px;
  border-width: 0 6px 6px 6px;
  border-style: solid;
  border-color: #fff transparent;
}

.inv-opt {
  padding: 8px 15px;
}

.bottom-border {
  border-bottom: 1px solid #e3e4e6;
}

@media only screen and (max-width: 768px) {
  .inv-table {
    width: 728px;
  }
}
