.title-div {
  padding: 0px 15px;
  margin-top: 28px;
  margin-bottom: 36px;
}

.table-wrapper {
  display: block;
  overflow-x: auto;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 0px 15px;
  margin-bottom: 20px;
}

.inv-table {
  padding: 0px 15px;
  /*display: table;*/
  table-layout: fixed;
  width: 100%;
}

.header-wrapper {
  border-bottom: 1px solid #edeff0;
}

.invList {
  border-bottom: 1px solid #edeff0;
}

.view-inv-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
}

table td {
  border-top: none;
}

table td {
  padding: 12px;
  word-break: break-word;
}

.load-more {
  width: 420px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #edeef0;
  box-shadow: 1px 2px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}
.load-more button {
  cursor: pointer;
}

.remove-outline:focus {
  outline: none;
  box-shadow: none;
  background: none;
}
.remove-outline {
  background: none;
}

.app-inv-wrap {
  height: 80vh;
  overflow: auto;
}

.btn-export {
  border: none;
  outline: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.downIcon {
  margin-left: 8px;
}

.option-dp {
  position: absolute;
  z-index: 99;
  cursor: pointer;
  min-width: 100px;
  text-align: center;
  top: 47px;
  box-shadow: 0px 2px 30px 1px rgba(1, 0, 0, 0.2);
  border: none;
  cursor: pointer;
}

.option-dp:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 15px;
  border-width: 0 6px 6px 6px;
  border-style: solid;
  border-color: #fff transparent;
}

.inv-opt {
  padding: 8px 15px;
}

.bottom-border {
  border-bottom: 1px solid #e3e4e6;
}

.text-partial {
  color: #f26500;
}

@media only screen and (max-width: 768px) {
  .inv-table {
    width: 728px;
  }
}
.filter-btn {
  width: 113px;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-right: 24px;
  align-items: center;
  cursor: pointer;
}
.invoice {
  cursor: pointer;
}
.filter-div {
  padding: 20px;
}
.filter-cb {
  width: 16px;
  height: 16px;
  margin-right: 16px;
}
.box-type {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 32px;
}
.btn-design {
  padding: 12px;
  background: #f2f4f5;
  border: none;
  border-radius: 4px !important;
  color: #788796;
  cursor: pointer;
  outline: none;
}
.btn-design:focus,
.btn-design:active {
  outline: none;
  box-shadow: none;
}
.footer {
  justify-content: flex-end;
  border-top: 1px solid #edeff0;
  padding-top: 20px;
}
.cancel-btn {
  width: 90px;
  height: 44px;
  background: #ffffff;
  border-radius: 3px;
  border: none;
  outline: none;
  margin-right: 12px;
  cursor: pointer;
}
.confirm-btn {
  width: 90px;
  height: 44px;
  background: #007fff;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
}
.dp-icon {
  position: absolute;
  top: 7px;
  right: 13px;
}
.input-day {
  border: 0;
  padding: 8px 15px;
  /*width: 90%;*/
  outline: none;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  width: 100%;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 1px 3px 2px rgba(213, 213, 213, 0.3);
}
