<div class="h-100" *ngIf="!isScheduleTask">
  <div *ngIf="!isStart">
    <div class="d-flex justify-content-center p-2 addBg">
      <div class="inner-wrapper pt-0">
        <header>
          <div
            class="d-flex d-wrapper medium"
            [ngClass]="{ stickywrap: navIsFixed == true }"
          >
            <div class="mr-auto p-2 pl-0 pb-0">
              <div class="back-modal" (click)="backCourseDetail()">
                <i class="fa fa-angle-left"></i>
                <p>{{ courseDetail.name }}</p>
              </div>
            </div>
            <div class="ml-auto">
              <button
                type="button"
                class="btn sticky-cancel"
                (click)="backCourseDetail()"
              >
                Cancel
              </button>
            </div>
          </div>
        </header>
      </div>
    </div>
    <div class="d-flex-jusitfy-content-center menuborder">
      <div class="inner-wrapper">
        <p class="name-header bold">
          Standard and class level
        </p>
      </div>
    </div>
    <div class="d-flex jusitfy-content-center main-wrapper">
      <div class="inner-wrapper pt-3">
        <p class="title bold">Standard</p>
        <div class="d-flex standard-wrapper">
          <div
            class="standard-block medium"
            *ngFor="let standard of standardList"
            (click)="checkStandard(standard._id)"
            [ngClass]="{ active: standActiveId == standard._id }"
          >
            {{ standard.name }}
          </div>
        </div>
        <p class="title bold mb-0">Class level</p>
        <div class="d-flex class-wrapper">
          <div
            class="col-md-4 ml-0 pl-0 mt-0 pt-0"
            *ngFor="let class of classList"
            (click)="choiceClass(class._id)"
          >
            <div
              class="d-flex class-block"
              [ngClass]="{ active: classActiveId == class._id }"
            >
              <div class="check-circle"></div>
              <p class="class-name">{{ class.name }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div
          class="d-flex justify-content-between inner-wrapper footer-wrapper"
        >
          <div class="back-modal medium" (click)="backCourseDetail()">
            <i class="fa fa-angle-left"></i>
            <p>Back</p>
          </div>
          <button
            class="btn btn-comfirm medium"
            (click)="goToStart()"
            [disabled]="!classActiveId"
          >
            Continue
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isStart">
    <div class="d-flex justify-content-center p-2 addBg">
      <div class="inner-wrapper pt-0">
        <header>
          <div
            class="d-flex d-wrapper medium"
            [ngClass]="{ stickywrap: navIsFixed == true }"
          >
            <div class="mr-auto p-2 pl-0 pb-0">
              <div class="back-modal" (click)="backCourseDetail()">
                <i class="fa fa-angle-left"></i>
                <p>{{ courseDetail.name }}</p>
              </div>
            </div>
            <div class="ml-auto">
              <button
                type="button"
                class="btn sticky-cancel"
                (click)="backCourseDetail()"
              >
                Cancel
              </button>
            </div>
          </div>
        </header>
      </div>
    </div>
    <div class="d-flex jusitfy-content-center start-wrapper">
      <div class="inner-wrapper">
        <p class="start-que bold">What would you like to proceed?</p>
        <div class="d-flex">
          <div
            class="col-md-6 pl-0"
            (click)="goToScheduleTask()"
            *ngFor="let assign of assignTaskList"
          >
            <div class="choice-block">
              <p class="choice-title bold">{{ assign.title }}</p>
              <p class="choice-description medium">
                {{ assign.description }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- start schedule task -->
<div class="h-100" *ngIf="isScheduleTask">
  <div class="d-flex justify-content-center p-2 addBg">
    <div class="inner-wrapper1 pt-0">
      <header>
        <div
          class="d-flex d-wrapper medium"
          [ngClass]="{ stickywrap: navIsFixed == true }"
        >
          <div class="mr-auto p-2 pl-0 pb-0">
            <div class="back-modal" (click)="backCourseDetail()">
              <i class="fa fa-angle-left"></i>
              <p>{{ courseDetail.name }}</p>
            </div>
          </div>
          <div class="ml-auto">
            <button
              type="button"
              class="btn sticky-cancel"
              (click)="backCourseDetail()"
            >
              Cancel
            </button>
          </div>
        </div>
      </header>
    </div>
  </div>
  <div class="d-flex-jusitfy-content-center menuborder">
    <div class="progress-box-wrap">
      <ol class="progress" data-steps="4">
        <li id="step1">
          <a
            class="step"
            [class.adisabled]="!clickableSteps.includes('1')"
            (click)="stepClick($event, '1')"
          >
            <span>1</span>
          </a>
        </li>
        <li id="step2">
          <a
            class="step"
            [class.adisabled]="!clickableSteps.includes('2')"
            (click)="stepClick($event, '2')"
          >
            <span>2</span>
          </a>
        </li>
        <li id="step3">
          <a
            class="step"
            [class.adisabled]="!clickableSteps.includes('3')"
            (click)="stepClick($event, '3')"
          >
            <span>3</span>
          </a>
        </li>
        <li id="step4">
          <a
            class="step"
            [class.adisabled]="!clickableSteps.includes('4')"
            (click)="stepClick($event, '4')"
          >
            <span>4</span>
          </a>
        </li>
      </ol>
    </div>
    <div *ngIf="activeStep == '1'" class="div_step">
      <div class="d-flex justify-content-center">
        <div class="inside-data-wrapper">
          <p class="step-title bold">
            Choose a template to assign scheduled tasks.
          </p>
          <div class="simple-search input-group">
            <input
              class="form-control py-2 task-search-input bold data-name"
              type="search"
              placeholder="Search template"
              autocomplete="off"
              name="keyword"
            />
          </div>
          <p class="title bold">All templates</p>
          <div class="scrollable-wrapper">
            <div class="d-flex flex-wrap template-wrapper">
              <div
                class="col-md-6 pl-0"
                *ngFor="let template of scheduletemplateList"
                (click)="checkTemplate(template)"
                [ngClass]="{ active: templateActiveObj._id == template._id }"
              >
                <div
                  class="template-block"
                  [ngClass]="{ active: templateActiveObj._id == template._id }"
                >
                  <div
                    class="d-flex template-name bold"
                    [ngClass]="{
                      active: templateActiveObj._id == template._id
                    }"
                  >
                    <span class="pr-2">
                      <svg
                        width="18"
                        height="19"
                        viewBox="0 0 18 19"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          class="template-icon"
                          [ngClass]="{
                            active: templateActiveObj._id == template._id
                          }"
                          d="M18 17.7327C18 17.9979 17.8946 18.2523 17.7071 18.4398C17.5196 18.6273 17.2652 18.7327 17 18.7327H1C0.734784 18.7327 0.48043 18.6273 0.292893 18.4398C0.105357 18.2523 2.4071e-07 17.9979 2.4071e-07 17.7327V7.22269C-0.000105484 7.07031 0.0346172 6.91991 0.101516 6.78299C0.168415 6.64608 0.26572 6.52626 0.386 6.43269L8.386 0.210694C8.56154 0.0741392 8.7776 0 9 0C9.2224 0 9.43846 0.0741392 9.614 0.210694L17.614 6.43269C17.7343 6.52626 17.8316 6.64608 17.8985 6.78299C17.9654 6.91991 18.0001 7.07031 18 7.22269V17.7327ZM4 12.7327V14.7327H14V12.7327H4Z"
                          fill="#363F4D"
                        />
                      </svg>
                    </span>
                    <span>{{ template.name }}</span>
                  </div>
                  <p
                    class="template-description medium"
                    [ngClass]="{
                      active: templateActiveObj._id == template._id
                    }"
                  >
                    {{ template.description }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="button-wrapper">
            <div
              class="d-flex justify-content-between inner-wrapper1 footer-wrapper"
            >
              <div class="back-modal medium" (click)="backtoassignTask()">
                <i class="fa fa-angle-left"></i>
                <p>Back</p>
              </div>
              <button
                class="btn btn-comfirm medium"
                [disabled]="!templateActiveObj._id"
                (click)="goToStep2($event, '2')"
              >
                Continue
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="activeStep == '2'" class="div_step">
      <div class="d-flex justify-content-center">
        <div class="inside-data-wrapper">
          <p class="step-title bold">
            Customize template information
          </p>
          <div class="scrollable-wrapper2">
            <div class="single-template-block">
              <div class="d-flex template-name bold mb-2">
                <span class="pr-2">
                  <svg
                    width="18"
                    height="19"
                    viewBox="0 0 18 19"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      class="template-icon"
                      d="M18 17.7327C18 17.9979 17.8946 18.2523 17.7071 18.4398C17.5196 18.6273 17.2652 18.7327 17 18.7327H1C0.734784 18.7327 0.48043 18.6273 0.292893 18.4398C0.105357 18.2523 2.4071e-07 17.9979 2.4071e-07 17.7327V7.22269C-0.000105484 7.07031 0.0346172 6.91991 0.101516 6.78299C0.168415 6.64608 0.26572 6.52626 0.386 6.43269L8.386 0.210694C8.56154 0.0741392 8.7776 0 9 0C9.2224 0 9.43846 0.0741392 9.614 0.210694L17.614 6.43269C17.7343 6.52626 17.8316 6.64608 17.8985 6.78299C17.9654 6.91991 18.0001 7.07031 18 7.22269V17.7327ZM4 12.7327V14.7327H14V12.7327H4Z"
                      fill="#363F4D"
                    />
                  </svg>
                </span>
                <span>{{ templateActiveObj.name }}</span>
              </div>
              <p class="template-description2 medium">
                {{ templateActiveObj.description }}
              </p>
            </div>
            <div class="d-flex flex-wrap template-info-wrapper">
              <div class="col-md-6 pl-0">
                <p class="title bold">
                  Template information
                </p>
                <p class="template-description2 medium">
                  Lorem Ipsum is simpl.Lorem Ipsum is simpl.Lorem Ipsum is
                  simpl. Lorem Ipsum is simpl.Lorem Ipsum is simpl.Lorem Ipsum
                  is simpl.Lorem Ipsum is simpl.
                </p>
              </div>
              <div class="col-md-6">
                <p class="startDate-title bold">
                  Start Date
                </p>
                <p class="date-description medium">
                  Ut sit quis proident Lorem dolore est sint ea adipisicing
                  amet.
                </p>
                <div class="calendar-part">
                  <div class="row text-center">
                    <div class="col-md-12">
                      <div class="cal-title d-flex justify-content-between">
                        <div class="cal-month">
                          <div class="month-name">
                            {{
                              viewDate | calendarDate: view + 'ViewTitle':'en'
                            }}
                          </div>
                        </div>
                        <div class="">
                          <button
                            name="left"
                            class="btn calendarbtn"
                            mwlCalendarPreviousView
                            [view]="view"
                            [(viewDate)]="viewDate"
                          >
                            <img src="assets/images/arrow-left.svg" />
                          </button>
                          <button
                            name="right"
                            class="btn calendarbtn"
                            mwlCalendarNextView
                            [view]="view"
                            [(viewDate)]="viewDate"
                            style="padding-right:0px;"
                          >
                            <img src="assets/images/arrow-right.svg" />
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ng-template
                    #customCellTemplate
                    let-day="day"
                    let-locale="locale"
                  >
                    <div
                      class="cal-month-view"
                      id="cal-month-view{{ day.date }}"
                    >
                      <div class="cal-cell-top">
                        <span
                          class="cal-day-number"
                          id="cal-day-number{{ day.date }}"
                          >{{
                            day.date | calendarDate: 'monthViewDayNumber':locale
                          }}</span
                        >
                      </div>
                    </div>
                  </ng-template>
                  <mwl-calendar-month-view
                    [viewDate]="viewDate"
                    [events]="events"
                    [refresh]="refresh"
                    (viewDateChange)="getJournalByMonth(viewDate)"
                    (dayClicked)="dayClicked($event.day, $event.day)"
                    [cellTemplate]="customCellTemplate"
                    (beforeViewRender)="checkSelectedDate($event)"
                  >
                  </mwl-calendar-month-view>
                </div>

                <p class="title bold">
                  No: of extra tasks allowed
                </p>
                <p class="template-description2 medium">
                  Dolor veniam magna do fugiat fugiat eiusmod incididunt tempor
                  sit nostrud commodo dolor sit.
                </p>
                <div class="d-flex mb-5">
                  <button
                    class="btn btn-control bold"
                    (click)="extraDecrease()"
                  >
                    -
                  </button>
                  <span class="txt-extra medium">{{ txtextra }}</span>
                  <button
                    class="btn btn-control bold"
                    (click)="extraIncrease()"
                  >
                    +
                  </button>
                </div>
                <p class="title bold">
                  Task break
                </p>
                <p class="template-description2 medium">
                  Ut sit quis proident Lorem dolore est sint ea adipisicing
                  amet.
                </p>
                <div class="task-break-wrapper">
                  <label
                    class="btn btn-able"
                    [ngClass]="{ enable: isTaskBreakEnAble == 'Enable' }"
                    (click)="isTaskBreakEnAble = 'Enable'"
                    >Enable</label
                  >
                  <label
                    class="btn btn-able"
                    [ngClass]="{ enable: isTaskBreakEnAble == 'Disable' }"
                    (click)="isTaskBreakEnAble = 'Disable'"
                    >Disable</label
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="button-wrapper">
            <div
              class="d-flex justify-content-between inner-wrapper1 footer-wrapper"
            >
              <div class="back-modal medium">
                <i class="fa fa-angle-left"></i>
                <p>Back</p>
              </div>
              <div class="d-flex">
                <button
                  class="btn btn-edit bold"
                  (click)="goToStep2($event, '3')"
                >
                  Edit More
                </button>
                <button
                  class="btn btn-comfirm medium"
                  (click)="goToStep3($event, '3')"
                >
                  Continue
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="activeStep == '3'" class="div_step">
      <div class="d-flex justify-content-center">
        <div class="inside-data-wrapper">
          <p class="step-title bold">
            Manage tasks
          </p>
          <p class="template-description2 medium">
            Ut sit quis proident Lorem dolore est sint ea adipisicing amet. Ex
            ex culpa incididunt quis nostrud sunt incididunt veniam tempor enim
            elit cillum dolore.
          </p>
          <p class="title bold">All tasks - {{ taskLists.length }} Tasks</p>
          <div class="task-wrapper">
            <div class="col-md-6 pl-1" *ngFor="let task of taskLists">
              <div
                class="task-block"
                [ngClass]="{
                  'checked-block': selectedTaskArr.includes(task) == true
                }"
                (click)="showmasteryList(masteriesModal, task)"
              >
                <div class="d-flex justify-content-between">
                  <p class="task-title bold">{{ task.name }}</p>
                  <label class="switch">
                    <input type="button" (click)="selectedTask(task)" />

                    <span
                      class="slider round"
                      [ngClass]="{
                        'checked-slider': selectedTaskArr.includes(task) == true
                      }"
                    ></span>
                  </label>
                </div>
                <p class="task-description medium">{{ task.description }}</p>
                <div class="d-flex justify-content-between">
                  <span class="masteries-box regular"
                    >{{ task.masteryCount }} masteries</span
                  >
                  <span class="task-duration regular"
                    >{{ task.taskStartDate | date: 'dd MMM yyyy' }} -
                    {{ task.taskEndDate | date: 'dd MMM yyyy' }}</span
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="button-wrapper">
            <div
              class="d-flex justify-content-between inner-wrapper1 footer-wrapper"
            >
              <div class="back-modal medium">
                <i class="fa fa-angle-left"></i>
                <p>Back</p>
              </div>
              <button
                class="btn btn-comfirm medium"
                [disabled]="!templateActiveObj._id"
                (click)="goToStep2($event, '2')"
              >
                Continue
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="placeholder_color"></div>

<ng-template #masteriesModal let-modal>
  <div class="mastery-wrapper">
    <div class="d-flex justify-content-between">
      <p class="mastery-title bold">
        {{ singleSelectedTask.name }}
      </p>
      <span class="close-icon" (click)="closeModal()"></span>
    </div>
    <p class="template-description2 regular">
      {{ singleSelectedTask.description }}
    </p>
    <p class="anno-txt font-semi">
      Announcement information
    </p>
    <div class="d-flex duration-wrapper">
      <div class="col-md-6">
        <label for="course_name" class="input-title medium">Date</label>
        <div class="input-wrap">
          <div class="cc-start">
            <span class="dp-icon">
              <img src="./assets/img/course-dp.png" />
            </span>
            <input
              type="text"
              placeholder="{{
                singleSelectedTask.taskStartDate | date: 'dd MMM yyyy'
              }}"
              class="input-day dropD startInput"
              name="annoDate"
              required
              (click)="annoDate.toggle()"
              ngbDatepicker
              #annoDate="ngbDatepicker"
              (document:click)="closeDropdown($event, annoDate)"
              readonly
            />
          </div>
        </div>
      </div>
      <div class="col-md-6 pRight-15">
        <label for="course_name" class="input-title font-medium">Time</label>
        <div class="input-wrap start-wrap">
          <span class="dp-icon">
            <img src="./assets/img/clock.png" />
          </span>
          <input
            type="text"
            placeholder="{{
              singleSelectedTask.annoucementDate | date: 'hh: mm a'
            }}"
            class="input-day timeInput"
            name="innoTime"
            required
            readonly
            (click)="durationProgress($event)"
            style="background: none;"
            [(ngModel)]="showFormat"
          />
          <div class="bg-box duration-progress">
            <div id="rectangle"></div>
            <div class="time-wrapper d-flex justify-content-center">
              <div
                class="d-flex flex-column justify-content-center showTime medium"
              >
                {{ showFormat }}
              </div>
              <div>
                <div class="time-box">
                  <label
                    [ngClass]="{ selected: isSelectedTime == 'AM' }"
                    class="mb-0 font-semi"
                    ><input
                      type="radio"
                      name="prop"
                      (click)="chooseTimeOpt('AM')"
                    />
                    AM
                  </label>
                  <label
                    [ngClass]="{ selected: isSelectedTime == 'PM' }"
                    class="mb-0 font-semi"
                  >
                    <input
                      type="radio"
                      [(ngModel)]="model.prop"
                      name="prop"
                      (click)="chooseTimeOpt('PM')"
                    />
                    PM
                  </label>
                </div>
              </div>
            </div>
            <div class="gap-box">
              <label>
                <div class="col-md-4 max-range">Hour</div>
                <input
                  class="max-range-box"
                  type="range"
                  id="hrDuration"
                  name="pointsHr"
                  min="0"
                  max="12"
                  (input)="ChangedRangeValue($event.target.value, 'hr')"
                  [(ngModel)]="rangeHr"
                />
              </label>
            </div>
            <div class="gap-range-min">
              <label>
                <div class="col-md-4 min-range">Minute</div>
                <input
                  class="min-range-box"
                  type="range"
                  id="minDuration"
                  name="pointsMin"
                  min="0"
                  max="59"
                  step="1"
                  (input)="ChangedRangeValue($event.target.value, 'min')"
                  [(ngModel)]="rangeMin"
                />
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="anno-txt font-semi">
      Task information
    </p>
    <div class="mastery-list-wrapper">
      <div class="d-flex duration-wrapper">
        <div class="col-md-6">
          <label for="course_name" class="input-title medium">Start Date</label>
          <div class="input-wrap">
            <div class="cc-start">
              <span class="dp-icon">
                <img src="./assets/img/course-dp.png" />
              </span>
              <input
                type="text"
                placeholder="{{
                  singleSelectedTask.taskStartDate | date: 'dd MMM yyyy'
                }}"
                class="input-day dropD startInput"
                name="startDate"
                required
                (click)="startDate.toggle()"
                ngbDatepicker
                #startDate="ngbDatepicker"
                (document:click)="closeDropdown($event, startDate)"
                readonly
              />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label for="course_name" class="input-title medium">End Date</label>
          <div class="input-wrap">
            <div class="cc-start">
              <span class="dp-icon">
                <img src="./assets/img/course-dp.png" />
              </span>
              <input
                type="text"
                placeholder="{{
                  singleSelectedTask.taskEndDate | date: 'dd MMM yyyy'
                }}"
                class="input-day dropD startInput"
                name="endDate"
                required
                (click)="endDate.toggle()"
                ngbDatepicker
                #endDate="ngbDatepicker"
                (document:click)="closeDropdown($event, endDate)"
                readonly
              />
            </div>
          </div>
        </div>
      </div>
      <p class="masteries-box regular">{{ masteryList.length }} Masteries</p>
    </div>
  </div>
</ng-template>
