<div class="d-flex flex-column justify-content-center align-items-center">
  <div
    class="content-wrapper"
    *ngIf="iscreate == false && locPermission.length > 0"
  >
    <div class="d-flex justify-content-between header-wrap">
      <div class="mr-auto">
        <h3 class="location-h3 text-c300 ">Locations</h3>
      </div>
      <button
        *ngIf="locationDemo.addLocation != ''"
        type="button"
        class="btn btn-create bg-b100 text-s0 body-l"
        (click)="creatnew()"
      >
        Add new location
      </button>
    </div>
    <div class="d-flex loc-header align-items-center">
      <div class="caption-u text-c100" style="width: 15%;">name</div>
      <div class="caption-u text-c100" style="width: 20%;">
        Course plan/course
      </div>
      <div class="caption-u text-c100" style="width: 25%;">Address</div>
      <div class="caption-u text-c100" style="width: 25%;">phone</div>
      <div class="caption-u text-c100" style="width: 15%;">Actions</div>
    </div>
    <div
      style="    height: calc(100vh - 440px);
    overflow: auto;
"
    >
      <div
        *ngFor="let location of locationLists; let i = index"
        class="d-flex loc-body align-items-center"
      >
        <div class="caption-u text-c100" style="width: 15%;">
          <div
            class="loc-color d-flex justify-content-center align-items-center"
            [ngStyle]="{
              color: location.textColorHex,
              background: location.backgroundColorHex
            }"
          >
            {{ location.name }}
          </div>
        </div>
        <div class="caption-u text-c100" style="width: 20%;">
          12 / 32
        </div>
        <div class="caption-u text-c100" style="width: 25%;">
          3517 W. Gray St. Utica, Pennsylvania 57867
        </div>
        <div class="caption-u text-c100" style="width: 25%;">
          {{ location.phoneNumber.number }}
        </div>
        <div class="caption-u text-c100 d-flex" style="width: 15%;">
          <ng-template #tipContent2>Edit location</ng-template>
          <div
            (click)="getSingleLocation(location._id)"
            [ngbTooltip]="tipContent2"
            class="cursor option d-flex justify-content-center align-items-center"
            style="margin-right: 16px;"
          >
            <img src="../../../assets/images/pencil_l.svg" />
          </div>
          <ng-template #tipContent3>Delete location</ng-template>
          <div
            (click)="openMigrate(migratePopup, location)"
            [ngbTooltip]="tipContent3"
            class="cursor option d-flex justify-content-center align-items-center"
            style="margin-right: 16px;"
          >
            <img src="../../../assets/images/delete_l.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-wrapper" *ngIf="iscreate == true">
    <div class="back-wrap d-flex">
      <div class="back-to" (click)="back()">
        <i class="fa fa-angle-left"></i>
        <p class="light-body-l text-c200">Location</p>
      </div>
    </div>
    <div class="location-group">
      <h3 *ngIf="isUpdate == false" class="location-h3 text-c300">
        Create location
      </h3>
      <h3 *ngIf="isUpdate == true" class="location-h3 text-c300">
        Update location
      </h3>
      <p class="input-recommend body-m text-c100">
        Add different locations of your training centres (if any). This will
        help to retrieve data/ information from any location.
      </p>
      <form novalidate #locationForm="ngForm" class="form-wrap">
        <div class="form-group form-divider">
          <div class="d-flex justify-content-between">
            <label class="form-title location-name body-l text-c300" for="name"
              >Location name</label
            >
            <div class="limit-wordcount">
              <span>{{ wordLength }}/60characters</span>
            </div>
          </div>
          <div class="d-flex flex-row pl-2">
            <input
              type="text"
              class="form-control"
              placeholder="Type location name here"
              name="name"
              maxlength="60"
              [(ngModel)]="model.name"
              (focus)="focusMethod($event, $event.target.value)"
              (blur)="blurMethod($event)"
              (input)="changeMethod($event.target.value)"
              required
              #name="ngModel"
              [ngStyle]="{
                background: selectedLocationColor.background,
                color: selectedLocationColor.text
              }"
            />
            <div class="color-box" (click)="showColorPicker($event)">
              <span class="icon-img">
                <img src="../../../assets/img/Vector.png" />
              </span>
              <div
                *ngIf="isShowPicker"
                class="carret-box"
                [ngClass]="arrClasses"
              ></div>
              <!--      [ngStyle]="colorArrClasses" -->
            </div>
            <div
              id="colorPletteBox"
              *ngIf="isShowPicker"
              (clickOutside)="closePopUp($event)"
            >
              <!--   [ngStyle]="{ top: colorPopUpX, left: colorPopUpLeft }" -->

              <!--  [ngClass]="arrClasses"
            [ngStyle]="colorArrClasses" -->
              <p class="color-title mb-0 pb-0">Color</p>
              <div class="color-section d-flex flex-wrap">
                <div
                  class="color-circle"
                  *ngFor="let item of sepalColor; let i = index"
                  [style.background]="item.color.background"
                  (click)="selectColor(i, item)"
                  [ngClass]="{
                    addBorder:
                      item.color.background == selectedLocationColor.background
                  }"
                ></div>
              </div>
            </div>
          </div>

          <div
            *ngIf="name.errors && (name.dirty || name.touched)"
            class="alert alert-danger z-index"
          >
            <div [hidden]="!name.errors.required">
              Name is required!
            </div>
          </div>
        </div>

        <!-- <div class="row"> -->
        <div class="form-group form-divider">
          <label class="form-title body-l text-c300" for="address"
            >Address</label
          >
          <textarea
            class="form-control"
            rows="3"
            placeholder="Type address here"
            name="address"
            [(ngModel)]="model.address"
            #address="ngModel"
          ></textarea>
          <!-- <div *ngIf="address.errors && (address.dirty || address.touched)" class="alert alert-danger">
              <div [hidden]="!address.errors.required">
                Address is required!
              </div>
            </div> -->
        </div>
        <div class="form-group form-divider">
          <label class="form-title body-l text-c300" for="address"
            >Telephone</label
          >
          <div class="tel-box">
            <div class="coun-code">+{{ countrycode }}</div>
            <input
              *ngIf="isUpdate == false"
              style="width: 90%;margin-left: 100px;border-left: 1px solid #ddd; border-radius: 0; padding-left: 8px;"
              type="tel"
              class="form-control"
              name="phoneNumber"
              [(ngModel)]="model.phonenumber"
              #phoneNumber="ngModel"
              ng2TelInput
              (intlTelInputObject)="telInputObject($event)"
              (hasError)="hasError($event)"
              [ng2TelInputOptions]="{ initialCountry: 'mm' }"
              (countryChange)="onCountryChange($event)"
              (ng2TelOutput)="getNumber($event)"
              (input)="onSearchChange($event.target.value, $event)"
              (input)="charCheck($event.target.value)"
            />
            <input
              *ngIf="isUpdate == true"
              style="width: 170px;margin-left: 100px;border-left: 1px solid #ddd; border-radius: 0; padding-left: 8px;"
              type="tel"
              class="form-control"
              name="phoneNumber"
              [(ngModel)]="model.phonenumber"
              #phoneNumber="ngModel"
              ng2TelInput
              (intlTelInputObject)="telInputObject($event)"
              (hasError)="hasError($event)"
              (countryChange)="onCountryChange($event)"
              (ng2TelOutput)="getNumber($event)"
              (input)="charCheck($event.target.value)"
            />
          </div>
          <!-- {{isrequired}} -->
          <!-- <div [hidden]="isrequired == true" class="alert alert-danger">
              <div>
                Phone number is required!
              </div>
            </div> -->
          <div *ngIf="isnumber == true" class="alert alert-danger">
            <div>
              Phone number should be number!
            </div>
          </div>
        </div>

        <!-- color picker -->

        <div class="d-flex justify-content-end form-footer">
          <button
            type="button"
            class="btn body-l btn-cancel bg-s20"
            (click)="back()"
          >
            Cancel
          </button>
          <button
            *ngIf="isUpdate == false"
            type="button"
            class="btn btn-submit text-s0 bg-b100 body-l"
            (click)="createLocation(model, false)"
            [disabled]="!locationForm.valid || isnumber == true"
          >
            Create
          </button>
          <button
            *ngIf="isUpdate == true"
            type="button"
            class="btn btn-submit text-s0 bg-b100 body-l"
            [disabled]="!locationForm.valid || isnumber == true"
            (click)="createLocation(model, true, currentID)"
          >
            Update
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- <div
  id="colorPletteBox"
  *ngIf="isShowPicker"
  [ngStyle]="{ top: colorPopUpX, left: colorPopUpLeft }"
  (clickOutside)="closePopUp($event)"
>
  <div
    class="carret-box"
    [ngClass]="arrClasses"
    [ngStyle]="colorArrClasses"
  ></div>

  <p class="color-title mb-0 pb-0">Color</p>
  <div class="color-section d-flex flex-wrap">
    <div
      class="color-circle"
      *ngFor="let item of sepalColor; let i = index"
      [style.background]="item.color.background"
      [ngClass]="{
        addBorder: item.color.background == selectedLocationColor.background
      }"
      (click)="selectColor(i, item)"
    ></div>
  </div>
</div> -->
<!-- Delete Modal -->
<ng-template #deletemodal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Delete Holiday</h4>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to delete
      <span class="target">"{{ locationName }}"</span>
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="submit"
      class="btn modal-cancel-btn"
      (click)="c('Close click')"
    >
      Cancel
    </button>
    <button
      type="submit"
      class="btn modal-delete-btn"
      (click)="deleteLocation(currentID)"
    >
      Delete
    </button>
  </div>
</ng-template>
<div id="placeholder_color"></div>
<!-- <block-ui message="Deafult Message"></block-ui> -->
<ng-template #migratePopup let-c="close" let-d="dismiss">
  <div class="popup-wrap">
    <div>
      <div>Migrate location</div>
    </div>
    <div style="margin-top: 24px; margin-bottom: 40px;">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa et nihil
      commodi dolorum quisquam, laborum laboriosam ducimus magnam aspernatur
      delectus cum voluptatem facere repudiandae? Ex neque sunt hic sed
      similique.
    </div>
    <div>
      <input
        type="search"
        name=""
        class="form-control course-search-input body-l"
        placeholder="Search courses"
        (input)="searchMakeup_input($event.target.value)"
        (keyup.enter)="searchMakeup($event.target.value)"
      />
    </div>
    <div
      class="d-flex align-items-center migrate-header"
      style="margin-top: 24px;"
    >
      <div style="width: 40%;">name</div>
      <div style="width: 40%;">Course plan/course</div>
      <div style="width: 20%;">Actions</div>
    </div>
    <div>
      <div class="d-flex migrate-body">
        <div style="width: 40%;">
          <div
            class="loc-color d-flex justify-content-center align-items-center"
          >
            Orange
          </div>
        </div>
        <div style="width: 40%;">0 / 0</div>
        <div style="width: 20%;">
          <div
            class="caption-u text-b100 d-flex justify-content-center align-items-center migbtn"
          >
            Migrate
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
