.body
{
    position: fixed; 
    overflow-y: hidden;
    width: 100%;
}
.scrollable
{
      overflow-y: scroll;
      height: 100vh;
 }
 .margin-left{
    margin-left: 20px !important;
}

input:invalid+span{
  display: block;
  color: red;
}

input:valid+span:after {
  display: none;
}
