<div class="d-flex flex-column w-100 h-100 inner-wrapper">
    <div class="mb-30">
      <button type="button" class="btn btn-primary" (click)="open(locationModal)">+ create Location</button>
    </div>
    <!-- Location Modal -->
    <ng-template #locationModal let-c="close" let-d="dismiss">  
      <div class="modal-header">
        <h4 *ngIf="isUpdate == false" class="modal-title">Create Location</h4>
        <h4 *ngIf="isUpdate == true" class="modal-title">Update Location</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form novalidate #locationForm="ngForm">
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Name</label>   
            <input type="text" class="form-control" placeholder="location name" name="name" [(ngModel)]="model.name" required #name="ngModel">
          </div>
          <div class="form-group">
            <label for="address">Address</label>
            <textarea class="form-control" rows="3" placeholder="Address" name="address" [(ngModel)]="model.address" required #address="ngModel"></textarea>
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="tel" class="form-control" placeholder="Phone" name="phoneNumber" [(ngModel)]="model.phoneNumber" required #phoneNumber="ngModel">
          </div>
          <!-- <div class="form-group">
            <label for="gps">GPS Location</label>
            <textarea class="form-control" rows="3" placeholder="GPS Location" name="gps" [(ngModel)]="model.gps" #gps="ngModel"></textarea>
          </div> -->
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-light1" (click)="c('Close click')">Close</button>
          <button *ngIf="isUpdate == false" type="submit" class="btn btn-primary" (click)="createLocation(model, false)" [disabled]="!locationForm.valid">Create</button>
          <button *ngIf="isUpdate == true" type="submit" class="btn btn-primary" (click)="createLocation(model, true, currentID)">Update</button>
        </div>
      </form>
    </ng-template>    
    <block-ui message="Deafult Message"></block-ui>

    <!-- Delete Modal -->
    <ng-template #deletemodal let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Delete Holiday</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete <span class="bold-text">"{{locationName}}"</span></p>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-light1" (click)="c('Close click')">Cancel</button>
          <button type="submit" class="btn btn-primary" (click)="deleteLocation(currentID)" >Delete</button>
        </div>
    </ng-template>
    <div class="overflow container">
      <h2 *ngIf="isempty == true">No location has created yet</h2>
      <ul class="list-group-flush">  
        <li id="{{location._id}}" class="list-group-item" *ngFor="let location of locationLists; let i = index" [attr.data-index]="i">
          {{i + 1}}-{{ location.name }} 
          <button type="submit" class="btn btn-secondary float-right btn-sm margin-left" (click)="getSingleLocation(location._id, locationModal)">Edit</button>
          <button type="button" class="btn btn-secondary float-right btn-sm margin-left" (click)="deleteModal(deletemodal, location._id)">Delete</button>
        </li>
      </ul>
    </div>
</div>
   
 