<div class="d-flex justify-content-center">
  <div
    class="heading-margin d-flex flex-column align-items-center no-padding large-col h-100"
  >
    <div
      class="d-flex flex-column main-wrapper w-100 h-100"
      *ngIf="!addTrackingModule && !trackingModuleType"
    >
      <div id="mainapg">
        <div
          *ngIf="apgPermission.length > 0"
          class="d-flex justify-content-between heading-margin"
        >
          <h2 class="title-heading h1-strong text-c300">Tracking module</h2>

          <div style="position: relative;">
            <button
              class="btn-exportAll text-b100 bg-s0 body-l"
              (click)="showExportOption($event, 'exportOpt')"
            >
              Export
              <i class="fa fa-chevron-down dpIcon"></i>
            </button>
            <div *ngIf="showDp" class="option-dp">
              <div *ngFor="let module of moduleList">
                <div
                  *ngIf="
                    module.name.toLowerCase() == 'assessment' ||
                    module.name.toLowerCase() == 'evaluation'
                  "
                  class="inv-opt"
                  (click)="exportCSV('all')"
                >
                  {{ module.name }}
                </div>
              </div>
            </div>
            <button
              *ngIf="apgDemo.addAPG != ''"
              type="button"
              class="btn btn-create text-s0 bg-b100 body-l"
              (click)="addNewAPG()"
            >
              Add new tracking module
            </button>
          </div>
        </div>

        <div class="input-group col-md-12 mt-30">
          <input
            class="form-control py-2 input-search-bg bg-s20"
            type="search"
            placeholder="Search tracking module"
            id="example-search-input"
            (input)="apgListSearch2($event.target.value, 'APG', '', '')"
            (keyup.enter)="apgListSearch($event.target.value, 'APG', '', '')"
            autocomplete="off"
          />
          <span class="input-group-append">
            <button
              class="bt btn-design btn-outline-secondary bg-s20 text-c100"
              type="button"
            >
              <i class="fa fa-search search-size"></i>
            </button>
          </span>
        </div>

        <div class="d-flex tabs-wrapper tab-name">
          <button
            class="modal-tab body-m text-c300 bg-s0"
            routerLinkActive="active"
            routerLink="all"
          >
            All
          </button>
          <button
            class="modal-tab body-m text-c300 bg-s0"
            *ngFor="let module of moduleList"
            routerLinkActive="active"
            [routerLink]="['./', module.type, module._id]"
          >
            {{
              module.name.toLowerCase() == 'user grading'
                ? 'Grade'
                : module.name
            }}
          </button>
        </div>
      </div>
      <div class="h-100">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div
      class="d-flex flex-column main-wrapper w-100 h-100"
      *ngIf="addTrackingModule || trackingModuleType"
    >
      <div class="back-wrap">
        <div
          class="d-flex back-to"
          *ngIf="addTrackingModule"
          (click)="goToAll()"
        >
          <i class="fa fa-angle-left"></i>
          <p class="body-l text-c300">Tracking module</p>
        </div>
        <div
          class="d-flex back-to"
          *ngIf="trackingModuleType"
          (click)="goToAddTrackingModule()"
        >
          <i class="fa fa-angle-left"></i>
          <p class="body-l text-c300">Pick a tracking module type</p>
        </div>
        <div class="location-group">
          <h3
            class="title-heading h1-strong text-c300"
            *ngIf="addTrackingModule"
          >
            Pick tracking module type
          </h3>
          <p
            class=" body-m text-c100"
            style="padding-left: 15px"
            *ngIf="addTrackingModule"
          >
            Tracking module is where a Teacher will be able to mark the progress
            or improvement of each student. Tracking module serves as a central
            point to view the student’s progress by all parties. It can be in
            the form of Progress Bar or Badges.
          </p>
          <h3
            *ngIf="trackingModuleType"
            class="title-heading h1-strong text-c300"
          >
            Creating {{ apgType.toLowerCase() }} tracking module
          </h3>
        </div>
        <!-- apgform -->
        <form novalidate #createapgForm="ngForm">
          <div class="row" *ngIf="addTrackingModule">
            <div
              *ngFor="let module of moduleList; let i = index"
              class="module-input col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl"
              [ngClass]="{ 'disable-click': module.name == 'Badge' }"
            >
              <label
                class="form-check-label text-c300 body-l"
                [ngClass]="{ selected: ischecked == module._id }"
              >
                <div class="module-img">
                  <img
                    *ngIf="ischecked != module._id"
                    class="setting-icon"
                    src="./assets/icons/{{
                      module.name.toLowerCase() == 'assessment'
                        ? 'evaluation'
                        : module.name.toLowerCase()
                    }}-type.png"
                    class="img-fluid"
                  />
                  <img
                    *ngIf="ischecked == module._id"
                    class="setting-icon"
                    src="./assets/icons/{{
                      module.name.toLowerCase() == 'assessment'
                        ? 'evaluation'
                        : module.name.toLowerCase()
                    }}-type-a.png"
                    class="img-fluid"
                  />
                </div>
                <div class="label-checked"></div>
                <input
                  class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions"
                  id="module._id"
                  value="{{ module.name }}"
                  (click)="chooseModuleType(module._id, module.name)"
                />
                {{ module.name }}
              </label>
            </div>
          </div>
          <div *ngIf="trackingModuleType">
            <div class="d-flex flex-row">
              <div class="col-sm-4 col-md-5 col-lg-5 col-xxl">
                <div
                  (click)="createNewAPG('create', apgType)"
                  class="d-flex apg-box justify-content-center flex-column"
                >
                  <div class="d-flex flex-row">
                    <div class="stoke-wrap">
                      <div class="stoke-1"></div>
                      <div class="stoke-2"></div>
                    </div>
                    <div class="icon-apg"></div>
                  </div>
                  <label
                    class="form-title input-label  text-c300 body-l"
                    for="address"
                    >Create new {{ apgType.toLowerCase() }} tracking
                    module</label
                  >
                </div>
              </div>
              <div class="col-sm-4 col-md-5 col-lg-5 col-xxl">
                <div
                  (click)="createNewAPG('share', apgType)"
                  class="d-flex apg-box justify-content-center flex-column"
                >
                  <div class="d-flex flex-row">
                    <div class="stoke-wrap">
                      <div class="stoke-1"></div>
                      <div class="d-flex flex-row justify-content-between">
                        <span class="stoke-2-first"></span>
                        <span class="stoke-2-sec"></span>
                      </div>
                    </div>
                    <div class="icon-apg"></div>
                  </div>
                  <label
                    class="form-title input-label body-l text-c300"
                    for="address"
                    >Create using publicly shared
                    {{ apgType.toLowerCase() }} tracking module</label
                  >
                </div>
              </div>
            </div>
          </div>
        </form>
        <!-- apgform -->
      </div>
    </div>
  </div>
</div>
