<div style="padding: 48px 0px;">
  <div class="h1-strong text-c300">Makeup pass</div>
  <div class="light-body-l text-c100" style="margin-top: 8px;">
    Please select the customer and send a random password to the registered
    email address.
  </div>
  <div style="position: relative; width: 100%;margin-top: 40px;">
    <input
      [(ngModel)]="cusName"
      (keyup.enter)="searchCus()"
      type="text"
      placeholder="Search student"
      class="makeup-search"
    />
    <img class="search" src="./assets/icons/search_l.svg" />
  </div>
  <div
    class="makeup-switcher d-flex justify-content-around align-items-center"
    style="margin: 0 auto ;margin-top: 20px;"
  >
    <div
      class="makeup-options d-flex justify-content-center align-items-center cursor"
    >
      Available
    </div>
    <div
      class="makeup-options d-flex justify-content-center align-items-center cursor"
    >
      Claimed
    </div>
    <div
      class="makeup-options d-flex justify-content-center align-items-center cursor"
    >
      Expired
    </div>
  </div>
  <div
    class="makeup-header d-flex align-items-center"
    style="margin-top: 20px;"
  >
    <div class="caption-u text-c100" style="width: 30%; padding: 14px 20px;">
      Name<img
        class="cursor"
        style="margin-left: 8px;"
        src="./assets/icons/sorting.svg"
      />
    </div>
    <div class="caption-u text-c100" style="width: 20%; padding: 14px 20px;">
      Expiry date<img
        class="cursor"
        style="margin-left: 8px;"
        src="./assets/icons/sorting.svg"
      />
    </div>
    <div class="caption-u text-c100" style="width: 30%; padding: 14px 20px;">
      Issued
    </div>
    <div
      class="caption-u text-c100 d-flex justify-content-center"
      style="width: 20%; padding: 14px 20px;"
    >
      Action
    </div>
  </div>
  <div>
    <div class="makeup-body d-flex align-items-center">
      <div style="width: 30%; padding: 16px 20px;">
        <div class="h4-strong text-c300">MOEGUITAR501</div>
        <div class="light-body-m text-c100">
          for <span class="text-b100">Devon Lane</span>
          <span class="text-s70">(devonlane@gmail.com)</span>
        </div>
      </div>
      <div style="width: 20%; padding: 16px 20px;">
        <div class="h4-strong text-c300">3 Aug 2021</div>
        <div class="light-body-m text-c100">44 days left</div>
      </div>
      <div style="width: 30%; padding: 16px 20px;">
        <div class="body-l text-b100">Math Werkz Area and Perimeter 4</div>
        <div>
          <span class="body-m text-c300">15 Jun 2021</span>
          <span class="little-dot"></span>
          <span class="light-body-m text-c100">9:00 AM - 10:00 AM</span>
        </div>
      </div>
      <div class="d-flex" style="width: 20%; padding: 16px 20px;">
        <div class="option" style="margin-right: 16px;">. . .</div>
        <div
          class="claim-div caption-u text-b100 d-flex justify-content-center align-items-center"
        >
          claim
        </div>
      </div>
    </div>
  </div>
</div>
