<app-header [ngClass]="{'stick': isSticky == true , 'hide': hideMenu}" *ngIf="scheduleList"></app-header>
<div class="d-flex justify-content-center" *ngIf="scheduleList">
  <div class="d-flex flex-column align-items-start  mt-5">
    <h3 class="schedule-title ">Schedule</h3>
    <p class="pick-day-of-the-week mt-0 ">Pick day of the week</p>      
    <div class="checkboxes-wrapper">
      <span *ngFor="let d of days">
        <label class="cursor-on day" [ngClass]="{'active-label': selectedDay.indexOf(d.val) != -1,'noCursor': isEdit== true}">
          <div *ngIf="selectedDay.indexOf(d.val) == -1" class="rounded-box"></div> 
          <div *ngIf="selectedDay.indexOf(d.val) != -1" class="rounded-checked"><i  class="fa fa-check"></i></div>              
          <input type="checkbox" class="regular-checkbox" name="{{d.day}}" value={{d.val}} (change)="selectDay(d.val, $event)" [checked]="selectedDay.indexOf(d.val) != -1" [disabled]="isEdit == true">
          <div class="box-label">{{d.day}}</div>
        </label>
      </span>
    </div>
    <div class="d-flex">
      <h3 class="category-title">Pick Category</h3>
    </div>
    <div class="input-group mt-3">
      <input 
        class="form-control py-2 input-search-bg" 
        type="search" 
        placeholder="Search category" 
        name="itemID"
        [(ngModel)]="item.itemID"
        #itemID="ngModel"
        id="example-search-input"
        (focus)="focusSearch($event, 'category')"
        (focusout)="hideSearch($event)"
        (input)="searchCategoryList($event.target.value, 'category')"
      >
      <span class="input-group-append">
        <button class="btn btn-design btn-outline-secondary" type="button">
          <i class="fa fa-search search-size"></i>
        </button>
      </span> 
      <ul class="data-listing" *ngIf="isFousCategory == true">
        <li *ngFor="let category of categoryList" (click)="selectData(category._id, category.name)">{{category.name}}</li>
      </ul>
    </div>
    <button type="button" class="align-self-end btn btn-primary mt-4" (click)="gotoScheduleList()">Show</button>
  </div>
</div>

<!-- Schedule List -->
<div *ngIf="!scheduleList" >
  <div class="d-flex ml-3">
    <div class="p-2 pl-0 pb-0 ">
      <div class="back-to" (click)="backtoSchedule()">
        <i class="fa fa-angle-left"></i>
        <p>Courses</p>
      </div>
    </div>  
  </div>
  <div class="schedule-checkboxes-wrapper d-flex flex-wrap">
    <div>
      <span *ngFor="let d of days">
        <label class="cursor-on day-checkbox" [ngClass]="{'active-label': selectedDay.indexOf(d.val) != -1,'noCursor': isEdit== true}">
          <input type="checkbox" class="regular-checkbox" name="{{d.day}}" value={{d.val}} (change)="selectDay(d.val ,$event)" [checked]="selectedDay.indexOf(d.val) != -1" [disabled]="isEdit == true" >
          <div class="schedule-box-label">{{d.day}}</div>
        </label>
      </span>
    </div>
    <div class="input-group mt-3 scheduleList-dropdown  dad">
      <input 
        class="form-control py-2 input-search-dropdown-bg" 
        type="search" 
        value="{{item.itemID}}" 
        name="itemID"
        [(ngModel)]="item.itemID"
        #itemID="ngModel"
        id="example-search-input"
        (focus)="focusSearch($event, 'category')"
        (focusout)="hideSearch($event)"
        (input)="searchCategoryList($event.target.value, 'category')"
      >
      <!-- <span (click)="showAdvancedSearch()" class="fa fa-angle-down fa-2x d-flex justify-content-center flex-column icon course-search-down"></span> -->
     
        <span  class="fa fa-angle-down d-flex justify-content-center flex-column icon course-search-down"></span> 
        <ul class="scedule-data-listing" *ngIf="isFousCategory == true">
        <li *ngFor="let category of categoryList" (click)="selectData(category._id, category.name)">{{category.name}}</li>
      </ul>
    </div>
  </div>

  <div class="d-flex flex-wrap w-100  ml-3">
    <div class="teacher-list-wrapper d-flex">
      <div class="d-flex align-items-center teacher-list" *ngFor="let teacher of teachers" [class.selectedteacher]="teacher==selectedTeacher" (click)="activeTeacher(teacher)" >
        <div class="profile-img-wrap">
          <img src="https://brainlitz.s3.amazonaws.com/development/stgbl-cw1/profile/154088885512582284596_original.jpg" alt=""  class="teacher-pic">
        </div>
        <p  class="pt-3 pr-2 pl-2 text-teacher-name">{{teacher.name}}</p>
      </div>
    </div>
    <div class=" ml-2 text-center pt-1 teacher-more-view" (click)=openTeacherList(content)>View33+</div>
    <!-- <button (click)=test(content)>Click</button> -->
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
      <!-- <div class="checkboxes-wrapper ">
          <span *ngFor="let d of test">
            {{d}}
          </span>
      </div> -->
      <p *ngIf="!selectedCat" style="display:block;">{{selectedCategory}}</p>
    <p class="modal-title">Teachers</p>
    <button type="button" class="close" aria-label="Close" (click)="cancelModal()">
      <span class="closemark">
        <div class="closemark_stem"></div>
        <div class="closemark_kick"></div>
      </span>
    </button>
  </div>
  <div class="modal-body">
    <div class="input-group mt-3">
      <input 
        class="form-control py-2 input-search-bg" 
        type="search" 
        placeholder="Search teachers"      
      >
      <span class="input-group-append">
        <button class="btn btn-design btn-outline-secondary" type="button">
          <i class="fa fa-search search-size"></i>
        </button>
      </span> 
    </div>
  </div>
  <div class="d-flex flex-wrap container ml-3 modal-techerlist-wraper">
    <div *ngFor="let teacher of teachers" class="d-flex align-items-center modal-teacher-list" [class.selectedteacher]="teacher==selectedTeacher " (click)="activeTeacher(teacher)" >
      <div class="d-flex justify-content-center">
        <img src="https://brainlitz.s3.amazonaws.com/development/stgbl-cw1/profile/154088885512582284596_original.jpg" alt=""  class="modal-teacher-pic align-self-center">
        <p  class="pt-3 pr-2 pl-2 text-teacher-name">{{teacher.name}}</p>
      </div>
    </div>      
  </div>
</ng-template>