.info-label,.info-header,.tab-name,.student-name,.single-user-info h4{
  font-family: 'Montserrat-Semibold', Arial,sans-serif;    
}
.date-label{
  font-family: 'Montserrat-Medium', Arial,sans-serif;
}
.info-header{
  font-size: 20px;
  color: #2e3d4d;
}
.info-label,.date-label{
  font-size: 14px;
  color: #64707d
}
.tab-name{
  font-size: 16px;
  color: #2e3e4d;
}
.student-name{
  font-size: 14px;
  color: #2e3d4d;
}
.single-user-info h4{
  color: #2e3e4d;
  font-size: 18px;
}
.checkboxes-wrapper{
  margin: 0 0 32px 0!important;
}
.schedule-checkboxes-wrapper{
  margin-bottom: 32px;
  margin-left: 20px;
}
.schedule-title {
    width: 135px;
    height: 34px;  
    margin-bottom: 36px; 
    font-family: Montserrat-SemiBold;
    font-size: 28px;
    font-weight: 600;
    color: #2e3d4d;
  }
  .category-title{
    width: 100%;
    height: 22px;
    font-size: 18px;
    font-family: Montserrat-SemiBold;
    font-weight: 600;
    color: #2e3e4d;
  }
.pick-day-of-the-week{
  width: 193px;
  height: 22px;
  font-family: Montserrat-SemiBold;
  
  font-size: 18px;
  font-weight: 600;
  color: #2e3e4d;
}

  .day{
    width: 62px;
    height: 62px;
    padding: 2px;
    border-radius: 4px;
    margin: 16px 10px 5px 0px;
    color: #2e3e4d;
    padding: 10px;
    box-shadow: 0 1px 3px 2px rgba(213, 213, 213, 0.3);
}
  .day-checkbox{
    width: 48px;
    height: 44px;
    border-radius: 4px;
    margin: 16px 10px 5px 0px;
    color: #2e3e4d;
    padding: 10px 0px 10px 0px;
    box-shadow: 0 1px 3px 2px rgba(213, 213, 213, 0.3);
    text-align: center;
  }
.round-tick{
  width: 20px;
  height: 20px;
  border: 2px solid #788796;
  border-radius: 50%;
}
.regular-checkbox{
  display: none;
}
.rounded-box{
  line-height: 12px;
  text-align: center;
  width: 17px;
  height: 17px;
  border: 2px solid #788796;
  border-radius: 50%;
  background: #ffffff;
}

.rounded-checked{
  line-height: 15px;
  text-align: center;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #ffffff;
} 
.rounded-checked i{
  font-size: 12px;
  color: #007fff;
}
.active-label{
  background-color: #007fff;
  color: #ffffff;
}
.box-label{
  margin-top: 10px;
  font-family: Montserrat-SemiBold, Arial,sans-serif;
  /* color: #2e3d4d; */
  font-size: 14px;
}
.schedule-box-label{
  font-family: Montserrat-SemiBold, Arial,sans-serif;
  /* color: #2e3d4d; */
  font-size: 14px;
}
.checkboxes-wrapper{
 margin-bottom: 32px;
 margin-left: 20px;
}



/* Input search bg */
.input-search-bg{
    padding: 12px 0 12px 12px !important;
    background: #f2f4f5;
    border: none;
    z-index: auto !important;
}

.input-search-dropdown-bg {
  width: 280px!important;
  height: 44px;
  display: block;
  border-radius: 4px;
  border:0px;
  box-shadow: 0 1px 3px 2px rgba(213, 213, 213, 0.3);
  background-color: #ffffff;
}
.scheduleList-dropdown>.form-control {
  position: relative;
  flex: none;
  width: 280px!important;
  margin-bottom: 0;
}

.form-control[_ngcontent-c1]:focus {
  outline: 0;
  box-shadow:none!important;
}
.btn-design{
    padding: 12px;
    background: #f2f4f5;
    border: none;
    border-radius: 4px !important;
    color: #788796;
    cursor: pointer;
  }
.btn-primary{
    background: #007bff!important;
    color: white!important;
    min-width: 114px!important;
}

.form-control:focus {
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0,123,255,.25)!important;
}
.btn-outline-secondary:focus {
  box-shadow: 0 0 0 0rem rgba(108,117,125,.5)!important;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active{
  color: #6c757d!important;
  background-color: #f2f4f5!important;
  border-color: #6c757d!important;
}

ul.data-listing{
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  display: block;
  width: 100%;
  background: #fff;
  height: 300px;
  position: absolute;
  margin: 0;
  top:50px;
  padding: 0;
  z-index: 99;
  list-style: none;
  overflow: auto;
  margin-top: 3px;
  cursor: pointer;
  padding-left: 20px;
}
ul.data-listing li.disabled{
  opacity: 0.4;
  pointer-events: none;
}
.scedule-data-listing{
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  display: block;
  width: 280px;
  background: #fff;
  height: 300px;
  position: absolute;
  z-index: 99;
  margin: 0;
  top:50px;
  padding: 0;
  list-style: none;
  overflow: auto;
  margin-top: 3px;
  cursor: pointer;
  padding-left: 20px;
}
ul.scedule-data-listing li.disabled{
  opacity: 0.4;
  pointer-events: none;
}
.back-to{
	font-family: 'Montserrat-Medium', Arial,sans-serif;
	font-size: 16px;
    color: #2e3d4d !important;
	padding-left: 0 !important;
	cursor: pointer;
}
.back-to i,
.back-to p{
	float: left;
}
.back-to i{
	float: left;
    font-size: 23px;
}
.back-to p{
  float: left;
  font-size: 16px;
  color: #2e3d4d;
  font-family: Montserrat-Medium;
	margin-bottom: 0;
	line-height: 1.6;
	margin-left: 4px;
}
.course-search-down,
.search-downicon,
.user-down{
  font-size: 23px;
  cursor: pointer;
}
.course-search-down{
  height: 44px;
  position: absolute;
  left: 260px;
  /* border-radius: 4px; */
  border:0px;
  box-shadow: 0 1px 3px 2px rgba(213, 213, 213, 0.3);
  background-color: #ffffff;
  border-left: none;
}

.teacher-list{
  width: 145px!important;
  color: #64707d;
  background:#f2f4f5;
  border-radius:24px; 
  padding-left:8px 16px 8px 4px; 
  cursor: pointer;
}
.modal-teacher-list{
  width:207px; 
  height:48px;
  background:#ffffff;
  border-radius:24px; 
  margin: 0px 20px 20px 0px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  padding-left:4px; 
  cursor: pointer;
}
.tchr-img-wraper{
  width:24px;
  height:24px;
  border-radius:50%;
  position:relative;
  overflow:hidden;
  margin-left:4px;
  margin-right: 8px;
}
.teacher-pic{
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.modal-teacher-pic{
  width:100%;
  height:100%;
  object-fit:contain;
}
.modal-img-wraper{
  margin-left: 8px;
  height:32px;
  width:32px; 
  border-radius: 100%;
  position:relative;
  overflow:hidden;
}


.text-teacher-name{
  font-size:12px!important;
  word-break: break-all;
  font-size: 14px;
  font-weight: 600;
  font-family: Montserrat-SemiBold;
  margin-bottom: none!important;
  padding: 8px 16px 8px 0px;
}
.teacher-list-wrapper{
  max-width: 85%;
  position: relative;
  height: 80px;
  z-index: 88;
  overflow-y: hidden; 
  overflow-x: auto;
}
.teacher-more-view{
  width:87px;
  height:33px;
  cursor: pointer;
  border-radius: 16px; 
  box-shadow: 0 1px 3px 2px rgba(213, 213, 213, 0.3);
}
.dad{
  width: 300px;
}

.close{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #f2f4f5;
}

.closemark {
  display:inline-block;
  width: 30px;
  height: 16px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}
.closemark_stem ,
.closemark_kick {
  position: absolute;
  width: 2px;
  height: 24px;
  background-color: #3d5266;
  left: 7px;
  top: -2px;
}

.closemark_kick {
  transform: rotate(90deg);
}
.modal-title{
  font-family: Montserrat-SemiBold;
  font-size: 28px;
  font-weight: 600;
  color: #2e3d4d;
}

.form-control[_ngcontent-c1][_ngcontent-c1]:focus {
    outline: 0;
    /* -webkit-box-shadow:none!important;  */
    box-shadow: 0 1px 3px 2px rgba(213, 213, 213, 0.3)!important;
}
.modal-techerlist-wraper{
  overflow-y: auto;
  max-height: 250px!important;
}

.profile-img-wrap{
  border-radius: 50%;
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.close:focus { 
  outline: 0px auto -webkit-focus-ring-color!important;
}

.selectedteacher{
  background: #007bff;
  color: #fff!important;
  font-size: 12px;
}



/* //timeline table*/
.v-wrapper1 {
  width: 100%;
  margin-top: 50px;
  max-height: 150px;
  overflow: scroll;
  position: relative;
}

table {
  position: relative;
  border-collapse: collapse;
}

th {
  padding: 0.25em;
  min-width: 112px;
}

thead th,
.time-range .single-range {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
  background: #fff;
  color: #2e3d4d;
  font-family: 'Montserrat-Semibold', Arial,sans-serif;
  padding: 12px;
  border: 1px solid #edeff0;
  border-bottom: none;
  border-left: none;
}

thead th:first-child,
.single-range:first-child {
  left: 0;
  z-index: 1;
  border: none;
}

.single-range{
  min-width: 121px;
  display: table-cell;
}
.single-slot{
  display: table-cell;
}
.single-slot:first-child{
  min-width: 121px;
}
.single-slot p {
  margin-bottom: 0;
  font-size: 12px;
  font-family: 'Montserrat-Semibold', Arial,sans-serif;
  color: #2e3d4d;
}
.single-slot span {
  margin-bottom: 0;
  font-size: 12px;
  font-family: 'Montserrat-Medium', Arial,sans-serif;
  color: #64707d;
}
.single-slot:first-child,
tbody th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  left: 0;
  background: #FFF;
  border-right: 1px solid #edeff0;
}
tbody td{
  padding: 0.25em;
  min-width: 52px;
  width: 52px;
  max-width: 52px;
}
.slot-wrap{
  border-right: 1px solid #edeff0;
}
.one-slot {
  width: 4px;
  /*background: red;*/
  outline: 1px solid #eee;
  height: 42px;
  display: table-cell;
}
.lesson-slot {
  position: absolute;
  z-index: 99;
  /*top: 0;*/
  left: 249px;
  width: 123px;
  height: 40px;
  background: #c2f2d6;
  border-radius: 2px;
  padding: 6px 8px;
}
.lesson-slot h6{
  color: #2e3d4d;
  margin-bottom: 0;
  font-size: 12px;
  font-family: 'Montserrat-Semibold', Arial,sans-serif;
}
.lesson-slot p{
  color: #009940;
  font-size: 12px;
  font-family: 'Montserrat-Semibold', Arial,sans-serif;
}
.lessons-range{
  position: relative;
}

.cursor-on{
  cursor: pointer;
}
.modal-close:focus{
    outline: none;
}
.modal-close{
    opacity: 1;
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}
.closemark_stem1 ,
.closemark_kick1 {
    position: absolute;
    width: 2px;
    height: 24px;
    background-color: #3d5266;
    top: -28px;
    /*left: 17px;
    top: -8px;*/
}
.closemark_kick1 {
    transform: rotate(90deg);
}
.header-wrapper{
  box-shadow: 0 7px 7px -4px rgba(0, 0, 0, 0.1);
}
.info-wrapper{
  padding: 32px 32px 0 32px !important;
  border-bottom: 1px solid #edeff0;
}

.tabs-wrapper{
  padding: 0px 17px;
}

.modal-tab{
  border: none;
  outline: none;
  background: none;
  padding: 15px;
}
.active{
  color: #007fff;
  border-bottom: 2px solid #007fff;
}
.body-wrap{
  min-height: 500px;
  max-height: 500px;
  overflow-y: overlay;
}
.single-student{
  border-radius: 28px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 6px;
  margin-bottom: 10px;
  height: 48px;
}
.image-div{
  line-height: 2.1;
}
.image-wrap{
  width: 32px;
  height: 32px;
}
.image-wrap img{
  width: 100%;
  border-radius: 50%;
}
.modal-footer{
  padding: 24px 32px;
  border-top: 1px solid #edeff0;
}
.user-list-box{
  height: 300px;
  overflow: auto;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  padding: 0 16px;
  border-radius: 0 0 4px 4px;
  position: absolute;
  width: 100%;
  top: 49px;
  background: #fff;
  z-index: 9;
  /* border: 1px solid #fff; */
}
.img-wrap{
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background: #ddd;
}
.img-wrap img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}
.search-user{
  cursor: pointer;
  padding: 16px 0;
  border-bottom: 1px solid #e3e4e6;
}
.remover-wrap{
  padding: 15px 0 15px 15px;
  cursor: pointer;
}

.selected-day{
  background: #cce6ff;
  font-family: Montserrat-SemiBold;
  font-size: 12px;
  border-radius: 2px;
  padding: 4px 8px 4px 8px;
  color:#0080ff;
}

.selectedCatName{
  display:block;
  margin-top: 4px;
  margin-left: 16px;
  font-family: Montserrat-SemiBold;
  font-size: 14px;
  font-weight: 600;
  color: #64707d;
}


.todayDate{
  color:red;
  background: green;
}
p{
  margin-bottom: 0!important;
}
/* 
.form-control[_ngcontent-c1][_ngcontent-c1][_ngcontent-c1]:focus {
  outline: 0;
  -webkit-box-shadow: none!important; 
  box-shadow: none!important;
} */