<div class="back-wrap">
  <div class="d-flex justify-content-between">
    <div class="back-to" (click)="goToBack('share')">
      <i class="fa fa-angle-left"></i>
      <p class="body-l text-c300">
        <!-- Creating {{ apgType.toLowerCase() }} tracking module -->
        Creating tracking module
      </p>
    </div>
    <a class="cancel-back body-l text-c300" (click)="cancelapg()">Cancel</a>
  </div>
  <!-- <div
    class="d-flex justify-content-between"
    *ngIf="shareAPG == true && isUpdate == false"
  >
    <div class="back-to" (click)="goToBack('share')">
      <i class="fa fa-angle-left"></i>
      <p class="body-l text-c300">
        Creating {{ apgType.toLowerCase() }} tracking module
      </p>
    </div>
    <a class="cancel-back body-l text-c300" (click)="cancelapg()">Cancel</a>
  </div> -->
</div>
