<div class="d-flex justify-content-between">
  <!-- <h3 class="leave-title">Leave</h3> -->
  <h3 class="leave-title">Absent History</h3>
  <button class="btn btn-primary add-leave" (click)="openLeaveModal(openLeave)">
    Add new absent
  </button>
</div>
<div class="d-flex flex-wrap">
  <!-- <div class="leave-block" *ngFor="let leave of userLeave">
    <div class="inner-block d-flex flex-column">
      <div class="d-flex justify-content-between annual-wrapper">
        <p
          class="annual-leave mb-0 mt-1"
          *ngIf="leave.leaveType == 'Anual Leave'"
        >
          {{ leave.leaveType }}
        </p>
        <p
          class="annual-leave mb-0 medical-leave"
          *ngIf="leave.leaveType == 'Medical Leave'"
        >
          Medical Leave
        </p>
        <p
          class="annual-leave mb-0 marriage-leave"
          *ngIf="leave.leaveType == 'Marriage leave'"
        >
          Marriage Leave
        </p>
        <circle-progress
          *ngIf="leave.leaveType == 'Anual Leave'"
          [percent]="leave.percentLeave"
          [radius]="15"
          [maxPercent]="leave.maxPercentLeave"
          [space]="-5"
          [showTitle]="false"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="4"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#00CC55'"
          [innerStrokeColor]="'#EDEFF0'"
          [renderOnClick]="false"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress>
      </div>
      <p class="mb-0" *ngIf="leave.leaveType == 'Anual Leave'">
        <span class="days-left"
          >{{ leave.takenDays }}/{{ leave.leaveDays }}</span
        >
        <span class="text-days">days left</span>
      </p>
      <p class="mb-0" *ngIf="leave.leaveType != 'Anual Leave'">
        <span class="days-left">{{ leave.takenDays }}</span>
        <span class="text-days day-taken" *ngIf="leave.takenDays > 1"
          >days taken</span
        >
        <span class="text-days day-taken" *ngIf="leave.takenDays <= 1"
          >day taken</span
        >
      </p>

      <p class="leave-info mb-0" *ngIf="leave.leaveType == 'Anual Leave'">
        {{ leave.takenDays }} out of {{ leave.leaveDays }} days taken
      </p>
      <p class="leave-info mb-0" *ngIf="leave.leaveType != 'Anual Leave'">
        {{ leave.takenDays }} out of {{ leave.leaveDays }} days left
      </p>
    </div>
  </div> -->
</div>
<div class="history-wrapper">
  <!-- <h4 class="history-title">Absent History</h4> -->
  <div class="d-flex flex-column" *ngIf="leaveLogs.length >= 1">
    <div class="d-flex history-details" *ngFor="let log of leaveLogs">
      <span class="leave-info-icon" *ngIf="log.meridian == 'DAY'"
        ><img src="../../../../assets/icons/Ellipse 2.svg" alt=""
      /></span>
      <span class="leave-info-icon" *ngIf="log.meridian == 'PM'"
        ><img src="../../../../assets/icons/PM.svg" alt=""
      /></span>
      <span class="leave-info-icon" *ngIf="log.meridian == 'AM'"
        ><img src="../../../../assets/icons/am.svg" alt=""
      /></span>
      <div class="d-flex flex-column">
        <div class="d-flex">
          <p class="mb-0 leave-date">{{ log.leaveDay }}</p>
          <p class="leave-type-info mb-0" *ngIf="log.meridian == 'AM'">
            HALF - {{ log.meridian }}
          </p>
          <p class="leave-type-info mb-0" *ngIf="log.meridian == 'PM'">
            HLAF - {{ log.meridian }}
          </p>
          <p class="leave-type-info mb-0" *ngIf="log.meridian == 'DAY'">
            1 DAY
          </p>
        </div>
        <div class="d-flex align-items-center pb-3 pt-2">
          <!-- <p class="mb-0 leave-status">
            {{ log.leaveTypeDetail.leaveType }}
          </p>
          <span class="dotted-spot"></span>
          <p class="mb-0 leave-status">{{ log.leaveStatus }}</p> -->
          <p class="mb-0 leave-reason">{{ log.reason }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #cancelClass let-modal>
  <div class="cancel-class-wrapper">
    <div class="d-flex w-100 justify-content-between cancel-lesson-wrapper">
      <h1 class="cancel-class-title">Cancel Lesson</h1>
      <span class="close-icon" (click)="closeCancelClassModal()"></span>
    </div>
    <div class="d-flex">
      <div class="d-flex flex-column col-md-5 p-0">
        <div class="d-flex justify-content-between">
          <p class="makeup-text">Issue makeup pass?</p>
          <div class="toggle-wrap" (click)="this.giveMakeUp = !giveMakeUp">
            <label class="switch">
              <input
                type="checkbox"
                (click)="giveMakeUp = !this.giveMakeUp"
                [checked]="giveMakeUp"
              />
              <span class="slider round"></span>
            </label>
          </div>
        </div>
        <div class="d-flex flex-column" *ngIf="giveMakeUp">
          <label for="" class="reason-title">Reason (Optional)</label>
          <textarea
            (input)="autoResize($event)"
            rows="1"
            [(ngModel)]="cancelReason"
            class="reason-text"
            placeholder="Type reason here..."
          ></textarea>
        </div>
      </div>
      <div class="class-info-side col-md-7">
        <p class="total-student mb-0" [ngClass]="{ 'makeup-true': giveMakeUp }">
          <span class="Union-icon" *ngIf="!giveMakeUp"
            ><img src="../../../assets/icons/Union.svg" alt=""
          /></span>
          <span class="Union-icon" *ngIf="giveMakeUp"
            ><img src="../../../assets/icons/Vector.svg" alt=""
          /></span>
          <span class="total-student-text"
            >Total of {{ studentCount }} students will be affected as
            <span *ngIf="giveMakeUp">MakeUp Pass</span>
            <span *ngIf="!giveMakeUp">Cancel class</span>
          </span>
        </p>
        <!-- <p class="total-student"> <span class="Union-icon"><img src="../../../assets/icons/PM.svg" alt=""></span> <span>Total of 20 students will be affected as Cancel class </span> </p>
        <p class="total-student"> <span class="Union-icon"><img src="../../../assets/icons/am.svg" alt=""></span> <span>Total of 20 students will be affected as Cancel class </span> </p> -->
        <div class="cancel-classes-info">
          <div
            class="d-flex classes-info-block"
            *ngFor="let course of cancelClassArray"
          >
            <span class="cancelclass-leaveType">
              <img src="../../../assets/icons/Ellipse 2.svg" alt="" />
            </span>
            <div class="d-flex flex-column">
              <p class="leave-taken-date">{{ course.date }}</p>
              <div
                class="d-flex align-items-center"
                *ngFor="let courseObj of course.courses"
              >
                <p class="student-count">
                  {{ courseObj.enrolledStudentCount }} students
                </p>
                <p class="cancel-class-name">{{ courseObj.name }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn bg-white" (click)="closeCancelClassModal()">
      Cancel
    </button>
    <button
      class="btn btn-primary create-button-pos"
      (click)="confirmCancelClass()"
    >
      Confirm
    </button>
  </div>
</ng-template>

<ng-template #openLeave let-modal>
  <div *ngIf="!showRelief" class="main-openleave">
    <div class="d-flex w-100">
      <h1 class="leave-class-title">Create absent</h1>
      <div class="profileimg-wrap d-flex flex-column">
        <div class="circular-image">
          <img
            *ngIf="staffObj.profilePic == 'undefined'"
            src="assets/img/user.svg"
          />
          <img
            *ngIf="staffObj.profilePic != 'undefined'"
            src="{{ staffObj.profilePic }}"
          />
        </div>
        <div class="staffname">
          {{ staffObj.preferredName }}
        </div>
      </div>
      <span class="leave-close-icon" (click)="closeCancelClassModal()"></span>
    </div>
    <div class="d-flex calendarView">
      <div class="d-flex flex-column">
        <div class="calendar-part">
          <div class="row text-center">
            <div class="col-md-12">
              <div class="cal-title d-flex justify-content-between">
                <div class="cal-month">
                  <div class="month-name">
                    {{ viewDate | calendarDate: view + 'ViewTitle':'en' }}
                  </div>
                </div>
                <div class="">
                  <button
                    name="left"
                    class="btn calendarbtn"
                    mwlCalendarPreviousView
                    [view]="view"
                    [(viewDate)]="viewDate"
                    (viewDateChange)="showExistData($event)"
                  >
                    <img src="assets/images/arrow-left.svg" />
                  </button>
                  <button
                    name="right"
                    class="btn calendarbtn"
                    mwlCalendarNextView
                    [view]="view"
                    [(viewDate)]="viewDate"
                    (viewDateChange)="showExistData(viewDate)"
                    style="padding-right:0px;"
                  >
                    <img src="assets/images/arrow-right.svg" />
                  </button>
                </div>
              </div>
            </div>
          </div>
          <ng-template #customCellTemplate let-day="day" let-locale="locale">
            <div class="cal-month-view" id="cal-month-view{{ day.date }}">
              <div class="cal-cell-top">
                <span
                  class="cal-day-number"
                  id="cal-day-number{{ day.date }}"
                  >{{
                    day.date | calendarDate: 'monthViewDayNumber':locale
                  }}</span
                >
              </div>

              <div class="cal-event-container">
                <div
                  *ngIf="day.badgeTotal > 0"
                  style="display:flex;min-width: 30px;flex:1px"
                >
                  <div class="space"></div>
                  <div
                    class="cal-event cal-draggable ng-star-inserted"
                    dragactiveclass="cal-drag-active"
                    mwldraggable=""
                    style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); background-color:#ff9500;"
                  ></div>

                  <div
                    *ngIf="day.events[0].status == 'marked'"
                    class="cal-event cal-draggable ng-star-inserted"
                    dragactiveclass="cal-drag-active"
                    mwldraggable=""
                    style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); background-color: #D4D5D6;"
                  ></div>
                  <div
                    *ngIf="day.events[0].feedback.length > 0"
                    class="cal-event cal-draggable ng-star-inserted"
                    dragactiveclass="cal-drag-active"
                    mwldraggable=""
                    style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); background-color: #009940;"
                  ></div>
                  <div class="space"></div>
                </div>
              </div>
            </div>
          </ng-template>
          <mwl-calendar-month-view
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            (viewDateChange)="getJournalByMonth(viewDate)"
            (dayClicked)="dayClicked($event.day, $event.day)"
            [cellTemplate]="customCellTemplate"
            (beforeViewRender)="checkSelectedDate($event)"
          >
          </mwl-calendar-month-view>
        </div>
        <div
          class="d-flex flex-column leave-day-part"
          *ngIf="selectedDays.length != 0"
        >
          <div class="leave-day-title">
            Leave days
          </div>
          <div class="leave-day-list">
            <div
              class="d-flex justify-content-between leave-day-box"
              *ngFor="let sday of selectedDays; let i = index"
            >
              <div class="leave-day-date">
                {{ sday.date | utcDateAndDay }}
              </div>
              <div class="leave-day-Choosetype">
                <div class="input-group">
                  <input
                    class="form-control py-2 input-search-dropdown-bg"
                    value="{{ sday.name }}"
                    type="search"
                    autocomplete="off"
                    name="itemID"
                    id="example-search-input"
                    (clickOutside)="hideSearch($event)"
                    (input)="
                      searchCategoryList($event.target.value, 'category')
                    "
                    readonly
                  />
                  <button
                    class="fa fa-angle-down d-flex justify-content-center flex-column icon leave-search-down "
                    (clickOutside)="hideSearch($event)"
                    (click)="downleaveType($event, i, sday.date)"
                  ></button>
                </div>
                <ul
                  class="leave-type-listing"
                  *ngIf="checkId == sday.id && isFocusleavetype == true"
                >
                  <li
                    *ngFor="let list of leaveTypeList; let j = index"
                    (click)="selectLeaveType(list, i, sday.date)"
                    class="date-type-list-name"
                  >
                    {{ leaveTypeList[j].name }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="leave-day-footer">
            <span class="leave-text">You are creating</span>
            <span class="bold-txt"></span
            ><span class="leave-text">of Annual Leave for </span
            ><span class="bold-txt"> {{ staffObj.preferredName }}</span>
            <p class="left-txt">days left</p>
          </div>
        </div>
      </div>
      <div class="skip-lessons-part">
        <div class="skip-lessons-exit" *ngIf="skipCourseArr.length != 0">
          <div class="skip-header">
            {{ staffObj.preferredName }} will skip in this following days
          </div>

          <div
            class="d-flex flex-column skip-course-box"
            [ngClass]="{ removeborder: 0 == i }"
            *ngFor="let sobj of skipCourseArr; let i = index"
          >
            <div class="d-flex justify-content-between">
              <div class="">
                <span class="skip-lessons-date">{{
                  sobj.date | utcDateAndDay
                }}</span>
              </div>
              <div class="lessons-count">
                <span
                  class="txt-lessouns-count"
                  *ngIf="sobj.courses.length > 1"
                >
                  {{ sobj.courses.length }} lessons
                </span>
                <span
                  class="txt-lessouns-count"
                  *ngIf="sobj.courses.length == 1"
                >
                  {{ sobj.courses.length }} lesson
                </span>
              </div>
            </div>
            <div class="skip-lessons" *ngFor="let course of sobj.courses">
              <div class="course-name">
                {{ course.name | uppercase }}
              </div>
              <div class="d-flex course-des">
                <span>{{ sobj.enrolledStudentCount }} student</span>
                <span class="circle"></span>
                <span class="timezone"
                  >{{ course.lessons[0].startDate | utcTime }} -
                  {{ course.lessons[0].endDate | utcTime }}</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="skip-lessons-empty" *ngIf="skipCourseArr.length == 0">
          <span class="notAffectedYet"
            ><img
              src="../../../../assets/images/notAffectedYet.svg"
              class="notAffectedYet-img"
          /></span>
          <div class="empty-txt">
            Affected lessons for the selected dates will be listed here, if any.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showRelief">
    <div class="container-div">
      <div class="d-flex">
        <div class="lessons-table col-md-9 p-0">
          <div class="d-flex justify-content-end skipLessons-header">
            <div class="user-info col-md-7 p-0">
              <span class="bold-span">Suzy skuukzkySZ</span> will skip
              <span class="bold-span">20 lessons</span> in this following days.
            </div>
            <div
              class="col-md-5 p-0 header-btns d-flex justify-content-end align-items-center"
            >
              <button
                class="pr-2"
                (click)="
                  assignReliefTeacher(reliefTeacherModal, skipCourseArr, '')
                "
              >
                ASSIGN RELIEF TEACHER
              </button>
              <span class="small-line"></span>
              <button
                class="pl-2"
                (click)="
                  cancelClassModal(cancelClass, skipCourseArr, 'ALL', null)
                "
              >
                CANCEL ALL
              </button>
            </div>
          </div>
          <div class="lBlock-wrapper">
            <div
              class="lessons-block d-flex"
              *ngFor="let lessonObj of skipCourseArr; let i = index"
              [ngClass]="{
                'hide-border': skipCourseArr?.length == i + 1
              }"
            >
              <div class="circle"></div>
              <div class="w-100">
                <label class="lesson-date mb-0">
                  {{ lessonObj.date }}
                </label>
                <div *ngFor="let course of lessonObj.courses; let idx = index">
                  <div
                    class="course-block d-flex justify-content-end"
                    [ngClass]="{
                      'hide-border': lessonObj.courses?.length == idx + 1
                    }"
                  >
                    <div class="col-md-7 p-0">
                      <label class="course-name">
                        {{ course.name | uppercase }}
                      </label>
                      <div class="d-flex cInfo">
                        <div>{{ course.enrolledStudentCount }} students</div>
                        <div class="cInfo-dot-wrap">
                          <span class="cInfo-dot"></span>
                        </div>
                        <div>
                          {{ course.lessons[0].startDate | utcTime }}
                        </div>
                        <div class="cInfo-dot-wrap">
                          <span class="cInfo-dash"></span>
                        </div>
                        <div>
                          {{ course.lessons[0].endDate | utcTime }}
                        </div>
                      </div>
                    </div>
                    <div
                      class="col-md-5 p-0 lesson-btns d-flex justify-content-end align-items-center"
                    >
                      <button
                        class="pr-2"
                        (click)="
                          assignReliefTeacher(
                            reliefTeacherModal,
                            course,
                            lessonObj.date
                          )
                        "
                      >
                        Assingn Relief Teacher
                      </button>
                      <span class="small-line"></span>
                      <button
                        class="pl-2"
                        (click)="
                          cancelClassModal(
                            cancelClass,
                            lessonObj,
                            'single',
                            idx
                          )
                        "
                      >
                        Cancel ALL
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 p-0">
          <div class="leave-info">
            <div class="p20">
              <div class="lInfo pb-2">
                <span class="bold-leaveCount">5</span> days total
              </div>
              <div class="d-flex lType">
                <div>
                  Annual
                </div>
                <div class="leave-type">
                  <span class="cInfo-dot"></span>
                </div>
                <div>
                  Paid
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!showRelief" class="modal-footer">
    <button class="btn bg-white" (click)="closeCancelClassModal()">
      Cancel
    </button>
    <button
      *ngIf="skipCourseArr.length != 0 && selectedDays.length != 0"
      class="btn button-submit font-medium"
      (click)="goTonext()"
    >
      Continue
    </button>
    <button
      *ngIf="skipCourseArr.length == 0 && selectedDays.length != 0"
      class="btn button-submit font-medium"
      (click)="createLeave()"
    >
      Continue
    </button>
    <button
      *ngIf="selectedDays.length == 0"
      class="btn button-submit font-medium"
      disabled="true"
    >
      Continue
    </button>
  </div>
  <div *ngIf="showRelief" class="modal-footer">
    <button class="btn bg-white" (click)="cancelModal('relief&cancel')">
      Cancel
    </button>
    <button class="btn button-submit font-medium">
      Continue
    </button>
  </div>
</ng-template>
<ng-template #reliefTeacherModal let-c="close" let-d="dismiss">
  <div class="modal-wrap">
    <div class="assign-modal-header">
      <div class="d-flex justify-content-between w-100">
        <h4 class="assignmodal-title">Assingn Relief Teacher</h4>
        <button class="closeBtn" (click)="cancelModal('relief')">
          <img src="assets/img/removeIcon.png" />
        </button>
      </div>
      <div class="d-flex pb-2" *ngFor="let data of modalCourseData">
        <div class="date-wrap">
          {{ data.date }}
        </div>
        <div class="d-flex" *ngFor="let cData of data.courses; let idx = index">
          <div class="cName lType">
            {{ cData.name }}
          </div>
          <div *ngIf="data.courses?.length != idx + 1" class="cInfo-dot-wrap2">
            <span class="cInfo-dot2"> </span>
          </div>
        </div>
      </div>
    </div>
    <div class="assign-modal-body">
      <div class="search-wrapper">
        <span class="fa fa-search search-icon"> </span>
        <input
          type="text"
          name="searchInput"
          placeholder="Search teacher..."
          class="input-search"
          (input)="searchMethod($event.target.value, 'staff')"
          (focus)="focusSearch($event, 'focusOn')"
          (focusout)="focusSearch($event, 'focusOut')"
          [(ngModel)]="searchKeyword"
          #tsearch="ngModel"
        />
      </div>
      <div
        *ngIf="isFocusSearch && searchTeacherLists.length > 0"
        class="result-wrapper"
      >
        <div
          (click)="onSelectTeacher(teacher)"
          *ngFor="let teacher of searchTeacherLists"
        >
          <div class="d-flex search-result">
            <div class="circular-img">
              <img src="{{ teacher.profilePic }}" />
            </div>
            <div class="result-name">
              {{ teacher.preferredName }}
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!isFocusSearch && selectedTeacher != null">
        <div class="d-flex">
          <div>
            <img src="{{ selectedTeacher.profilePic }}" class="circular-img" />
          </div>
          <div class="pl-3 selected-name">
            {{ selectedTeacher.preferredName }}
          </div>
        </div>
        <div *ngFor="let conflictLesson of conflictLessonArr">
          <div
            class="d-flex justify-content-between conflict-wrapper mb-3"
            *ngFor="let course of conflictLesson.courses"
          >
            <div>
              <label>{{ course.lessons[0].startDate | utcDate }}</label>
              <div>
                {{ course.lessons[0].startDate | utcTime }} -
                {{ course.lessons[0].endDate | utcTime }}
              </div>
            </div>
            <div>
              <label>Lesson</label>
              <div>
                {{ course.name }}
              </div>
            </div>
            <div>
              <label>Location</label>
              <div>
                {{ course.location.name }}
              </div>
            </div>
            <div>
              <label>Number of students</label>
              <div>
                {{ course.enrolledStudentCount }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex modal-footer">
      <button class="btn bg-white" (click)="cancelModal('relief')">
        Cancel
      </button>
      <button class="btn button-submit font-medium" (click)="confirmRelief()">
        Confirm
      </button>
    </div>
  </div>
</ng-template>
