.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.class-block {
  position: relative;
  width: 476px;
  height: 144px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 24px;
  margin-left: 24px;
}

.course-title {
  position: relative;
  width: 197px;
  height: 41px;
  /* padding: 44px; */
  padding-top: 20px;
  padding-left: 40px;
  padding-bottom: 83px;
}

.add-leave {
  background: #007fff !important;
  color: #fff !important;
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
  font-size: 16px;
  font-weight: unset;
  letter-spacing: 0.5px;
  cursor: pointer;
}
.leave-title {
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
  font-size: 20px;
  color: #2e3d4d;
}

.leave-block {
  width: 226px;
  height: 142px;
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  margin-right: 24px;
}
.inner-block {
  padding: 20px;
}
.annual-leave {
  font-family: 'Inter-UI-Bold', Arial, sans-serif;
  font-size: 14px;
  color: #005926;
  background: #d8fee8;
  padding: 4px;
  height: 30px;
  padding-right: 8px;
  padding-left: 8px;
}
.days-left {
  font-size: 28px;
  font-family: 'Inter-UI-Bold', Arial, sans-serif;
  color: #2e3d4d;
}
.text-days {
  font-size: 14px;
  font-family: 'Inter-UI-Medium', Arial, sans-serif;
  color: #64707d;
}
.day-taken {
  font-family: 'Inter-UI-Bold', Arial, sans-serif;
}
.leave-info {
  font-size: 16px;
  font-family: 'Inter-UI-Bold', Arial, sans-serif;
  color: #64707d;
}
.medical-leave {
  color: #990066 !important;
  background: #ffe5f6 !important;
}
.marriage-leave {
  color: #594a00 !important;
  background: #fff4bf !important;
}
.annual-wrapper {
  height: 44px;
}
.history-wrapper {
  /* margin-top: 32px; */
}
.history-title {
  font-size: 20px;
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
  color: #2e3d4d;
  margin-bottom: 4px;
}
.history-details {
  border-bottom: 1px solid #edeff0;
  padding-top: 16px;
}
.dotted-spot {
  width: 5px;
  height: 5px;
  margin: 0px 8px 0px 8px;
  border-radius: 100%;
  background: #d4d5d6;
}
.leave-info-icon {
  padding-right: 16px;
}
.leave-type-info {
  background: #f2f4f5;
  padding: 3px 8px 3px 8px;
  border-radius: 11px;
  margin-left: 12px;
  color: #64707d;
  font-size: 12px;
  font-family: 'Inter-UI-Bold', Arial, sans-serif;
}
.leave-date {
  font-size: 16px;
  color: #64707d;
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
}
.leave-status {
  font-size: 14px;
  color: #64707d;
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
}

.leave-reason {
  font-size: 14px;
  color: #64707d;
  font-family: 'Inter-UI-Medium', Arial, sans-serif;
}
.cancel-class-wrapper {
  width: 100%;
  padding: 0px 32px 0px 32px;
}
.main-openleave {
  width: 100%;
  padding: 0px 32px 32px 32px;
}
.close-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: url('../../../../assets/icons/crossClose.svg');
}
.leave-close-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: url('../../../../assets/icons/crossClose.svg');
  margin-top: 32px;
  margin-left: 390px;
}
.cancel-class-title {
  font-size: 28px;
  color: #2e3d4d;
  font-family: 'Inter-UI-Bold', Arial, sans-serif;
}
.leave-class-title {
  font-size: 28px;
  color: #2e3d4d;
  font-family: 'Inter-UI-Bold', Arial, sans-serif;
  padding-top: 32px;
  margin-right: 241px;
}
.class-info-side {
  min-height: 500px;
  max-height: 500px;
  border-left: 1px solid #edeff0;
  overflow: auto;
  padding: 0;
}
.total-student {
  margin-left: 32px;
  background: #f2f4f5;
  padding: 8px 0px 8px 0px;
  border-radius: 8px;
}
.Union-icon {
  padding: 0px 12px 0px 12px;
}
.cancel-classes-info {
  margin-left: 32px;
  /* background: aliceblue; */
  height: 400px;
}
.cancelclass-leaveType {
  padding: 0px 12px 0px 12px;
}
.student-count {
  padding: 4px 12px 4px 12px;
  background: #f2f4f5;
  border-radius: 15px;
  margin-right: 12px;
  font-size: 14px;
  color: #2e3d4d;
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
}
.classes-info-block {
  border-bottom: 1px solid #edeff0;
  padding-top: 20px;
}
.total-student-text {
  font-size: 16px;
  font-family: 'Inter-UI-Medium', Arial, sans-serif;
  color: #64707d;
}
.makeup-true {
  background: #cce5ff;
}
.makeup-true span {
  color: #004080;
}
.leave-taken-date {
  font-size: 16px;
  color: #64707d;
  font-family: 'Inter-UI-Medium', Arial, sans-serif;
}
.cancel-class-name {
  font-size: 14px;
  color: #64707d;
  font-family: 'Inter-UI-Medium', Arial, sans-serif;
}
.makeup-text {
  font-size: 18px;
  color: #2e3d4d;
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
  margin-bottom: 24px;
}
.reason-title {
  color: #64707d;
  font-size: 16px;
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
  margin-bottom: 16px;
}
.reason-text {
  resize: none;
  border: none;
  overflow: hidden;
  resize: none;
  height: 97px;
}
.reason-text:focus {
  outline: none !important;
  box-shadow: none !important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 20px;
  margin-top: 8px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '\2012';
  color: #d8dbde;
  height: 14px;
  width: 14px;
  left: 1px;
  top: 1px;
  background-color: #64707d;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-align: center;
  vertical-align: middle;
  background-position: center;
  line-height: 1;
  font-size: 14px;
  font-weight: 900;
}

input:checked + .slider {
  border: 2px solid #0080ff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3 !important;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
  background: #0080ff;
  content: '';
  background-image: url(/assets/img/tick.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
}

/* Rounded sliders */
.switch-label {
  line-height: 1.8;
  margin-left: 16px;
  font-family: 'Inter-UI-Medium', Arial, sans-serif;
  font-size: 18px;
  color: #2e3e4d;
  margin-bottom: 0;
}
.slider.round {
  border-radius: 34px;
  border: 2px solid #64707d;
}

.slider.round:before {
  border-radius: 50%;
}

/*==== toggle button ====*/
.switch {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 20px;
  margin-top: 4px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '\2012';
  color: #d8dbde;
  height: 14px;
  width: 14px;
  left: 1px;
  top: 1px;
  background-color: #64707d;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-align: center;
  vertical-align: middle;
  background-position: center;
  line-height: 1;
  font-size: 14px;
  font-weight: 900;
}

input:checked + .slider {
  border: 2px solid #0080ff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
  background: #0080ff;
  content: '';
  background-image: url(../../../../assets/img/tick.png);
  /* background-image: url('../assets/img/tick.png'); */
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  border: 2px solid #64707d;
}

.slider.round:before {
  border-radius: 50%;
}
.toggle-wrap {
  display: flex;
  margin-right: 32px;
}
.create-button-pos {
  font-family: 'Inter-UI-Regular', Arial, sans-serif;
  color: #2e3d4d;
  word-wrap: break-word;
}
.create-button-pos {
  float: right;
  background: #007fff !important;
  color: #fff !important;
  padding: 9px 13px !important;
  font-weight: unset;
  letter-spacing: 0.5px;
  cursor: pointer;
}

/* for angular calendar css */
.cal-month-view .cal-header .cal-cell {
  /* color: #788796; */
  font: size 15px;
}

.cal-month-view .cal-header {
  font-weight: normal;
}
.cal-cell.cal-today {
  color: #2e3d4d;
  font-family: 'Inter-UI-SemiBold', Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.cal-month-view .cal-days {
  border: none;
}

.cal-month-view .cal-days .cal-cell-row {
  border: none;
}

.cal-month-view .cal-day-number {
  color: #2e3d4d;
  opacity: initial;
  margin-top: 0px !important;
  margin-right: 0px !important;
  float: none !important;
  margin-bottom: 0px !important;
  font-family: 'Inter-UI-SemiBold', Arial, sans-serif !important;
  font-size: 16px !important;
  line-height: 20px !important;
}

.cal-month-view .cal-day-cell.cal-today .cal-day-number {
  font-size: 1.2em;
  color: #0080ff;
}

.cal-month-view .cal-day-cell.cal-weekend .cal-day-number {
  color: #2e3d4d;
}

.cal-month-view .cal-day-cell.cal-past .cal-day-number {
  color: #b0b1b3 !important;
  font-family: 'Inter-UI-SemiBold', Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .cal-month-view .cal-header .cal-cell {
    min-width: 40px;
  }
  .cal-cell.cal-past.cal-weeken {
    font-size: 15px;
  }
  .cal-cell.cal-today {
    font-size: 15px;
  }
  .cal-cell.cal-future {
    font-size: 15px;
  }
  .cal-month-view .cal-day-number {
    font-size: 15px;
  }

  .cal-month-view .cal-day-cell.cal-today .cal-day-number {
    font-size: 1em;
  }
  .cal-month-view .cal-event {
    width: 6px;
    height: 6px;
  }
  .cal-month-view .cal-cell-top {
    min-height: 70%;
  }
}

/* .cal-month-view .cal-day-cell {
min-height: 40px;
min-width: 40px;
}
*/
.cal-month-view .cal-days {
  border: none;
}

.cal-month-view .cal-days .cal-cell-row {
  border: none;
  background: white;
}

.cal-month-view .cal-day-cell:not(:last-child) {
  border-right: none;
}

.cal-day-number-selected {
  color: white !important;
}
.cal-day-borderNone {
  border: 1px thin white;
}

/*   
.cal-month-view .cal-day-cell {
min-height: 40px;
min-width: 40px;

} */

.cal-month-view .cal-cell-top {
  min-height: 27px !important;
  /* flex: 1; */
  padding-top: 10px !important;
  text-align: center !important;
}
/* end angular calendar */

/* for leave days in absent modal */
.calendar-part {
  padding: 20px 20px 20px 20px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* for leave type in abasent modal */
.input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
.input-search-dropdown-bg {
  width: 196px !important;
  height: 40px;
  display: block;
  border-radius: 4px;
  border: 0px;
  -webkit-box-shadow: 0 1px 3px 2px rgba(213, 213, 213, 0.3);
  box-shadow: 0 1px 3px 2px rgba(213, 213, 213, 0.3);
  background-color: #ffffff;
  font-family: 'Inter-UI-SemiBold', Arial, sans-serif;
  font-size: 16px;
  color: #2e3d4d;
}

.leave-search-down {
  height: 40px;
  position: absolute;
  left: 170px;
  overflow: hidden;
  z-index: 3;
  border: 0px;
  -webkit-box-shadow: 1px 2px 3px 0px rgba(213, 213, 213, 0.3);
  box-shadow: 1px 2px 3px 0px rgba(213, 213, 213, 0.3);
  background-color: #ffffff;
  border-left: none;
}

.leave-type-listing {
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  display: block;
  width: 196px;
  background: #fff;
  /* height: 300px; */
  position: absolute;
  z-index: 10;
  margin: 0;
  /* top: 100px; */
  padding: 0;
  list-style: none;
  overflow: overlay;
  margin-top: 3px;
  cursor: pointer;
  padding-left: 20px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
li.date-type-list-name {
  height: 52px;
  padding-top: 16px;
  border-bottom: solid 2px #edeff3;
  margin-right: 16px;
  font-size: 16px;
  line-height: 20px;
  color: #2e3d4d;
}

.leave-day-title {
  color: #2e3d4d;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
  margin-bottom: 15px;
}

.d-flex.flex-column.leave-day-part {
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  max-height: 434px;
}
.leave-day-date {
  color: #64707d;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
  padding-top: 11px;
}

.d-flex.justify-content-between.leave-day-box {
  min-height: 60px;
  border-bottom: solid 1px #edeff0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.notAffectedYet-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
span.notAffectedYet {
  width: 296px;
  height: 321px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.skip-lessons-empty {
  margin-left: 124px;
}

.empty-txt {
  font-size: 16px;
  line-height: 24px;
  color: #64707d;
  text-align: center;
  max-width: 254px;
  margin: 20px;
}

.circular-image {
  display: inline-block;
  position: relative;
  width: 52px;
  height: 52px;
  overflow: hidden;
  border-radius: 50%;
  background: #ddd;
  margin-top: 17px;
}

.circular-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.staffname {
  color: #64707d;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.skip-lessons-exit {
  border: 1px solid #edeff0;
  width: 408px;
  max-height: 640px;
  overflow: overlay;
  margin-left: 64px;
  border-radius: 8px;
}

.skip-header {
  height: 84px;
  border-bottom: solid 1px #788796;
  background: #788796;
  color: #ffff;
  font-weight: bold;
  text-align: center;
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
}

.course-name {
  color: #64707d;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
  padding-top: 16px;
  padding-bottom: 8px;
}
span.skip-lessons-date {
  color: #2e3d4d;
  font-weight: 600;
  font-size: 16px;
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
}

span.txt-lessouns-count {
  background: #f2f4f5;
  border-radius: 15px;
  padding: 2px 12px 2px 12px;
  font-weight: 600;
  color: #64707d;
  font-size: 12px;
  text-align: center;
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
}

.d-flex.course-des {
  color: #64707d;
  font-size: 14px;
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
}
.circle {
  width: 4px;
  height: 4px;
  background: #d4d5d6;
  border-radius: 50px;
  margin: 8px 8px 8px 8px;
}
.d-flex.flex-column.skip-course-box {
  margin: 0px 20px 20px 20px;
  border-top: solid 2px #edeff0;
  padding-top: 24px;
}
.removeborder {
  border-top: none !important;
}
.button-submit {
  border: none;
  height: 45px;
  border-radius: 3px;
  width: 100px;
  background-color: #1682fb;
  color: #ffffff;
}

.leave-day-list {
  max-height: 318px;
  overflow: overlay;
}

.container-div {
  height: 700px;
  padding: 32px;
}

.modal-wrap {
  height: 700px;
}

.skipLessons-header {
  background: #f2f4f5;
  padding: 20px;
}

.header-btns,
.bold-span,
.lesson-date,
.course-name,
.bold-leaveCount,
.assignmodal-title,
.result-name {
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
}

.user-info,
.lInfo {
  font-family: 'Inter-UI-Regular', Arial, sans-serif;
}

.lesson-btns,
.cInfo,
.lType,
.date-wrap {
  font-family: 'Inter-UI-Medium', Arial, sans-serif;
}

.user-info {
  font-size: 16px;
  color: #64707d;
}

.header-btns {
  font-size: 12px;
  color: #64707d;
  text-align: right;
}

.lessons-table {
  border: 1px solid #edeff0;
  border-radius: 8px;
}

.lesson-date {
  color: #2e3d4d;
  font-size: 18px;
}

.course-name {
  color: #2e3d4d;
  font-size: 16px;
}

.cInfo,
.lInfo,
.lType {
  color: #64707d;
  font-size: 14px;
}

.cInfo-dot-wrap {
  position: relative;
  padding: 0px 15px 0px 10px;
}

.cInfo-dot-wrap2 {
  position: relative;
}

.cInfo-dot,
.cInfo-dash,
.cInfo-dot2 {
  background: #d4d5d6;
  position: absolute;
  top: 10px;
}

.cInfo-dot,
.cInfo-dot2 {
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

.cInfo-dash {
  width: 4px;
  height: 2px;
}

.cInfo-dot2 {
  top: 14px;
}

.lesson-btns {
  font-size: 14px;
  text-align: right;
  /*line-height: 4;*/
}

.lesson-btns button {
  color: #007fff;
}

.lesson-btns button,
.header-btns button,
.closeBtn {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

.small-line {
  border-left: 1px solid #d4d5d6;
  height: 14px;
}

.lessons-block,
.course-block {
  border-bottom: 1px solid #edeff0;
}

.hide-border {
  border-bottom: none;
}

.lessons-block {
  margin: 21px 20px 0px 20px;
}

.course-block {
  padding: 16px 0px;
}

.circle {
  width: 12px;
  height: 12px;
  background: linear-gradient(90deg, #ffd500 0%, #ffaa00 100%);
  border-radius: 50%;
  margin-top: 7px;
  margin-right: 16px;
}

.lBlock-wrapper {
  max-height: 435px;
  overflow: auto;
}

.leave-info {
  margin-left: 24px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.leave-type {
  position: relative;
  padding-left: 8px;
  padding-right: 10px;
}

.bold-leaveCount {
  font-size: 28px;
  color: #2e3d4d;
}

.p20 {
  padding: 20px;
}

.assign-modal-body {
  height: 530px;
}

.assign-modal-header,
.assign-modal-body {
  padding: 16px 32px 6px 32px !important;
}

.assignmodal-title {
  font-size: 28px;
  color: #2e3d4d;
}

.date-wrap {
  background: #cce5ff;
  border-radius: 50px;
  padding: 2px 10px;
  color: #004080;
  font-size: 14px;
  line-height: 1.8;
}

.cName {
  padding: 0px 12px;
  line-height: 2;
}

.search-wrapper {
  display: flex;
  background: #f2f4f5;
  padding: 12px 0px;
  color: #788796;
}

.search-icon {
  padding: 0px 14px;
  line-height: 1.5;
}

.input-search {
  width: 100%;
  border: none;
  background: none;
  outline: none;
}

.circular-img {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  background: #ddd;
}

.circular-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.search-result {
  padding: 15px 0px;
  border-bottom: 1px solid #edeff0;
}

.result-wrapper {
  height: 350px;
  overflow: overlay;
  padding: 0px 15px;
  border-radius: 4px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.result-name {
  line-height: 3;
  padding-left: 15px;
  color: #2e3e4d;
  font-size: 18px;
}
