<div class="card-column">
  <div class="customer-view">
    <div class="cardhead">
      <h3>Customers</h3>
      <p>30/30 seat lefts</p>
    </div>
    <div class="cardbody d-flex">
      <div class="d-flex customer-div">
        <h6 style="color: #007D49;">Paid</h6>
        <p *ngIf="on" class="big-no">0</p>
        <p *ngIf="!on" class="big-no">6</p>
        Customers
      </div>
      <div class="d-flex customer-div">
        <h6 style="color: #805500">Partial Paid</h6>
        <p class="big-no">0</p>
        Customers
      </div>
      <div class="d-flex customer-div">
        <h6 style="color: #8C1E1C">Unpaid</h6>
        <p class="big-no">0</p>
        Customers
      </div>
    </div>
    <div class="cardfoot">
      <div class="d-flex justify-content-between pt-3">
        <p class="enroll" *ngIf="on">Must enroll students to this course</p>
        <div *ngIf="!on" class="d-flex ml-3">
          <span *ngFor="let propic of propics" class="propic">
            <img
              src="https://brainlitz-dev.s3.amazonaws.com/staging/stgbl-cw1/profile/157925970534929407006_original.jpg"
            />
          </span>
          <span class="propic">
            + 1
          </span>
        </div>
        <button
          class="detail-btn"
          (click)="toggle()"
          [ngClass]="{ white: !on }"
        >
          Enroll customer
        </button>
      </div>
    </div>
  </div>

  <div class="attendance-view">
    <div class="cardhead">
      <h3>Attendance</h3>
    </div>
    <div class="cardbody d-flex" style="flex-direction: column;">
      <div class="d-flex justify-content-between">
        <span><img src="../../../../assets/img/chevron-right-s.png"/></span>
        <span>12 Jan 2020</span>
        <span><img src="../../../../assets/img/chevron-left-s.png"/></span>
      </div>
      <div class="d-flex justify-content-center">
        <div class="d-flex present">
          <div class="d-flex data">
            <span class="attendance-no">20</span>
            <span>Present</span>
          </div>
        </div>
        <div class="d-flex absent">
          <div class="d-flex data">
            <span class="attendance-no">0</span>
            <span>Absent</span>
          </div>
        </div>
        <div class="d-flex nodata">
          <div class="d-flex data">
            <span class="attendance-no">0</span>
            <span>No data</span>
          </div>
        </div>
      </div>
    </div>
    <div class="cardfoot">
      <div style="float: right">
        <button class="detail-btn white">
          Set attendance
        </button>
      </div>
    </div>
  </div>

  <div class="tasks-view">
    <div class="cardhead">
      <h3>Tasks</h3>
      <span class="spaninline">
        <p class="m-0">SW</p>
      </span>
    </div>
    <div class="cardbody">
      <div class="d-flex">
        <div class="d-flex task-div">
          <div class="d-flex task-status">
            <p class="big-no">0</p>
            <span class="task-label"> SCHEDULED</span>
          </div>
          <h6>task assigned</h6>
        </div>
        <div class="d-flex task-div">
          <div class="d-flex task-status">
            <p class="big-no">0</p>
            <span class="task-label"> CUSTOM</span>
          </div>
          <h6>tasks assigned</h6>
        </div>
      </div>
    </div>
    <div class="cardfoot">
      <div style="float: right">
        <button class="detail-btn" routerLink="../../../assignTask">
          Assign task
        </button>
      </div>
    </div>
  </div>
  <!-- ****For later sprint ****-->

  <!-- <div class="leaderboard-view">
    <div class="cardhead">
      <h3>Leaderboard</h3>
      <span class="spaninline">
        <p class="m-0">SW</p>
      </span>
    </div>
    <div class="cardbody">
      body
    </div>
    <div class="cardfoot">
      foot
    </div>
  </div> -->
</div>

<!--**** For later sprint ****-->

<!-- <div class="mastery-view">
  <h3>Masteries reports</h3>
  <span class="spaninline">
    <p class="m-0">SW</p>
  </span>
  <div class="d-flex">
    <div class="mastery-type">
      1
    </div>
    <div class="mastery-type">
      2
    </div>
  </div>
</div> -->
