<div
  class="mastery-view"
  [ngClass]="{ hide: !sparkwerkz, 'no-m': Nomasteryflag }"
  *ngIf="loadingMastery == false"
>
  <div class="mastery-view-head" [ngClass]="{ 'no-mh': Nomasteryflag }">
    <h3>Masteries reports</h3>
    <span class="spaninline">
      <!-- <p class="m-0">SW</p> -->
      <img src="../../../../assets/img/tiny-brainlitz.svg" />
    </span>
    <!-- <div class="d-flex">
    <div class="mastery-type">
      1
    </div>
    <div class="mastery-type">
      2
    </div>
  </div> -->
    <h6 *ngIf="Nomasteryflag" class="p-3">
      There is no masteries report for this course yet.
    </h6>
    <div *ngIf="!Nomasteryflag" class="bd-example">
      <div
        id="carouselExampleCaptions"
        class="carousel slide"
        data-ride="carousel"
        data-interval="false"
      >
        <ol class="carousel-indicators">
          <li
            *ngFor="let li of outerArray; let i = index"
            data-target="#carouselExampleCaptions"
            attr.data-slide-to="{{ i }}"
            [ngClass]="{ active: i == 0 }"
          ></li>
        </ol>
        <div class="carousel-inner">
          <div
            *ngFor="let li1 of outerArray; let j = index"
            class="carousel-item"
            [ngClass]="{ active: j == 0 }"
            (touchstart)="swipe($event, 'start')"
            (touchend)="swipe($event, 'end')"
            (mousedown)="test($event, 'down')"
            (mouseup)="test($event, 'up')"
          >
            <div class="d-flex swiper">
              <div
                *ngFor="let li2 of li1; let k = index"
                class="mastery-type pb-3"
              >
                <div class="mastery-head p-3">
                  <h3>{{ li2.name }}</h3>
                </div>
                <div class="mastery-body d-flex p-3">
                  <div class="d-flex flex-column" class="masteries-stats">
                    <div class="percentage d-flex justify-content-between">
                      <span class="struggle">
                        <h4>{{ li2.masteryCountInPercentage.STRUGGLE }}%</h4>
                        <p>struggling</p>
                      </span>
                      <span class="fine">
                        <h4>{{ li2.masteryCountInPercentage.INPROGRESS }}%</h4>
                        <p>doing fine</p>
                      </span>
                    </div>
                    <div class="percentage d-flex justify-content-between">
                      <span class="mastered">
                        <h4>{{ li2.masteryCountInPercentage.MASTERED }}%</h4>
                        <p>mastered</p> </span
                      ><span class="notstarted">
                        <h4>{{ li2.masteryCountInPercentage.NEW }}%</h4>
                        <p>not started</p>
                      </span>
                    </div>
                  </div>
                  <div class="canvas-div">
                    <div
                      *ngIf="
                        masteryStudentCount != null || masteryStudentCount != ''
                      "
                      class="child-div mb-2"
                    >
                      <!-- <h6 class="stu-no">{{ masteryStudentCount }}</h6>
                      <p class="stu" *ngIf="masteryStudentCount > 1">
                        students
                      </p> -->
                      <p
                        class="stu"
                        *ngIf="
                          masteryStudentCount == 1 || masteryStudentCount == 0
                        "
                      >
                        student
                      </p>
                    </div>
                    <div
                      *ngIf="
                        li2.masteryCount != null || masteryStudentCount != ''
                      "
                      class="child-div"
                    >
                      <h6 class="mast-no">{{ li2.masteryCount }}</h6>
                      <p class="mast" *ngIf="li2.masteryCount > 1">masteries</p>
                      <p
                        class="mast"
                        *ngIf="li2.masteryCount == 1 || li2.masteryCount == 0"
                      >
                        mastery
                      </p>
                    </div>
                    <canvas
                      width="100%"
                      height="100%"
                      id="canvas{{ j }}{{ k }}"
                      style="position: absolute;"
                      class="canvas-size"
                    ></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleCaptions"
          role="button"
          id="prev"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleCaptions"
          role="button"
          id="next"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <!-- <div style="border: 1px solid #d3d3d3;" *ngFor="let wrapper of testObjArr; let i=index">
          <div *ngFor="let chart of wrapper; let j=index">
            {{i}}{{j}}
          </div>
        </div>

        <h2>Test</h2>
        <div *ngFor="let item of myArray; let i = index; let even = even;">
          <div *ngIf="even">{{ myArray[i] }} {{ myArray[i+1] }}</div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="mastery-view-footer" [ngClass]="{ 'no-mf': Nomasteryflag }">
    <button class="detail-btn white" (click)="goToMasteryReport()">
      More detail
    </button>
  </div>
</div>
<!-- loading for mastery report -->
<div
  class="mastery-view"
  [ngClass]="{ hide: !sparkwerkz }"
  *ngIf="loadingMastery == true"
>
  <div class="mastery-view-head">
    <div class="bd-example">
      <content-loader>
        <svg:rect x="20" y="20" rx="0" ry="0" width="80%" height="4px" />
        <svg:rect x="30" y="30" rx="0" ry="0" width="78%" height="4px" />
        <svg:rect x="30" y="40" rx="0" ry="0" width="78%" height="4px" />
        <svg:rect x="30" y="50" rx="0" ry="0" width="78%" height="4px" />
        <svg:rect x="25" y="60" rx="0" ry="0" width="79%" height="4px" />
        <svg:rect x="25" y="70" rx="0" ry="0" width="79%" height="4px" />
        <svg:rect x="25" y="80" rx="0" ry="0" width="79%" height="4px" />
        <svg:rect x="20" y="90" rx="0" ry="0" width="80%" height="4px" />
        <svg:rect x="20" y="100" rx="0" ry="0" width="80%" height="4px" />
      </content-loader>
    </div>
  </div>
  <div class="mastery-view-footer">
    <button class="btn detail-btn white" [disabled]="loadingMastery == true">
      More detail
    </button>
  </div>
</div>
<!-- loadign for mastery report -->
<div
  class="card-column"
  [ngClass]="{ orphan: !sparkwerkz, orphan2: coursetype == 'ONLINE' }"
  *ngIf="loading == false"
>
  <div class="customer-view">
    <div class="cardhead">
      <h3>Customers</h3>
      <!-- <p>30 / 30 seats left</p> -->
    </div>
    <div class="cardbody d-flex" style="height: 60%;flex-direction: column;">
      <div *ngIf="pplLists?.length == 0">
        <p class="enroll">No student in this course yet</p>
      </div>
      <div *ngIf="pplLists?.length > 0">
        <div class="d-flex justify-content-between mb-4">
          <div class="c-enroll">
            <h3>{{ enrolledcount }}</h3>
            <span>customers currently enrolled</span>
          </div>
          <div
            class="d-flex flex-column c-unpaid"
            [ngClass]="{ 'c-enroll': unpaid > 0, nodisplay: unpaid == 0 }"
          >
            <span>
              <h3 class="c-h3">{{ unpaid }}</h3>
              invoice
            </span>
            <span>Unpaid</span>
          </div>
        </div>
        <div>
          <div *ngIf="!on" class="d-flex ml-3 overflow">
            <span
              ngbTooltip="{{ ppl.fullName }}"
              *ngFor="let ppl of customerlist"
              class="propic"
            >
              <img
                *ngIf="ppl.fullName != ''"
                [ngClass]="{ hide: !ppl.profilePic }"
                ngbTooltip="{{ ppl.fullName }}"
                src="{{ ppl.profilePic }}"
              />
              <img
                *ngIf="ppl.fullName == ''"
                ngbTooltip="{{ ppl.email }}"
                src="{{ ppl.profilePic }}"
              />
            </span>
            <span *ngIf="pplLists.length > 8" class="propic">
              + {{ seat_taken - 8 }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="cardfoot" style="height: 20%;">
      <button
        class="detail-btn"
        (click)="enrollCustomer(courseId)"
        [ngClass]="{
          white: !on,
          notallowed: seat_left == 0 && coursetype == 'REGULAR'
        }"
        [disabled]="seat_left == 0 && coursetype == 'REGULAR'"
      >
        <!-- (click)="toggle()" -->
        Enroll customer
      </button>
    </div>
  </div>

  <div *ngIf="coursetype != 'ONLINE'" class="attendance-view">
    <div class="cardhead">
      <h3>Attendance</h3>
    </div>
    <div class="cardbody d-flex" style="flex-direction: column; height: 55%">
      <div *ngIf="lessonList.attendance == ''">
        <p class="enroll">No lesson in this course yet</p>
      </div>
      <div
        *ngIf="lessonList.attendance != ''"
        class="d-flex justify-content-between mb-3"
      >
        <span [ngClass]="{ notallowed: attandanceIndex == 0 }"
          ><img
            (click)="previousDate()"
            src="../../../../assets/img/chevron-right-s.png"
            [ngClass]="{ disabled: !prevflag }"
        /></span>
        <span *ngIf="lessonList.length != 0">{{
          lessonList[attandanceIndex].lessonStartDate | utcDateoverview
        }}</span>
        <span
          [ngClass]="{ notallowed: attandanceIndex == lessonList.length - 1 }"
          ><img
            (click)="nextDate()"
            src="../../../../assets/img/chevron-left-s.png"
            [ngClass]="{ disabled: !nextflag }"
        /></span>
      </div>
      <div
        *ngIf="lessonList.attendance != ''"
        class="d-flex justify-content-center"
      >
        <div class="d-flex present">
          <div class="d-flex data">
            <span class="attendance-no">{{
              lessonList[attandanceIndex].present
            }}</span>
            <span>Present</span>
          </div>
        </div>
        <div class="d-flex absent">
          <div class="d-flex data">
            <span class="attendance-no">{{
              lessonList[attandanceIndex].absent
            }}</span>
            <span>Absent</span>
          </div>
        </div>
        <div class="d-flex nodata">
          <div class="d-flex data">
            <span class="attendance-no">{{
              lessonList[attandanceIndex].total
            }}</span>
            <span>Total</span>
          </div>
        </div>
      </div>
    </div>
    <div class="cardfoot" style="height: 25%;">
      <button
        class="detail-btn"
        [ngClass]="{ white: lessonList.attendance != '' }"
        (click)="goToAttendance()"
      >
        Set attendance
      </button>
    </div>
  </div>

  <div class="tasks-view" [ngClass]="{ hide: !sparkwerkz }">
    <div class="cardhead">
      <h3>Tasks</h3>
      <span class="spaninline">
        <!-- <p class="m-0">SW</p> -->
        <img src="../../../../assets/img/tiny-brainlitz.svg" />
      </span>
    </div>
    <div class="cardbody d-flex flex-column justify-content-center">
      <div class="d-flex">
        <div class="d-flex task-div">
          <div class="d-flex task-status">
            <h2 class="big-no">{{ custom }}</h2>
            <span class="task-label caption-u"> CUSTOM</span>
            <span *ngIf="custom > 1" class="light-body-m pl-3"
              >tasks assigned</span
            >
            <span *ngIf="custom < 2" class="light-body-m pl-3"
              >task assigned</span
            >
          </div>
        </div>
        <!-- <div class="d-flex task-div">
          <div class="d-flex task-status">
            <h2 class="big-no">{{ scheduled }}</h2>
            <span class="task-label"> SCHEDULED</span>
          </div>
          <h6>task assigned</h6>
        </div>
        <div class="d-flex task-div">
          <div class="d-flex task-status">
            <h2 class="big-no">{{ custom }}</h2>
            <span class="task-label"> CUSTOM</span>
          </div>
          <h6>tasks assigned</h6>
        </div> -->
      </div>
    </div>
    <div class="cardfoot">
      <button
        class="detail-btn"
        routerLink="../../../assignTask"
        [ngClass]="{ white: scheduled != 0 || custom != 0 }"
        (click)="goToAssignTask()"
      >
        Assign task
      </button>
    </div>
  </div>
  <!-- ****Cancelled ****-->

  <!-- <div class="leaderboard-view" [ngClass]="{ hide: !sparkwerkz }">
    <div class="cardhead d-flex justify-content-between">
      <div>
        <h3>Leaderboard</h3>
        <span class="spaninline">
          <p class="m-0">SW</p>
        </span>
      </div>
      <div class="lb-date">
        1 Sep 2019 - 7 Sep 2019
      </div>
    </div>
    <div class="cardbody p-0 d-flex" style="height: 60%;">
      <div class="lb-div1">
        <div class="lb-small d-flex">
          <div class="lb-sp mt-5-3 mb-2">
            <img
              src="https://brainlitz-dev.s3.amazonaws.com/staging/stgbl-cw1/profile/157292910591462220624_original.jpg" />
            <div class="lb-pos">2</div>
          </div>
          <div class="lb-label">
            <span>
              <h6 class="mb-0">Aubrey Simmmons</h6>
            </span>
            <span>
              <h5>1127 SP</h5>
            </span>
          </div>
        </div>
        <div class="rank1"></div>
      </div>
      <div class="lb-div2">
        <div class="lb-small d-flex">
          <div class="lb-lp mt-0 mb-2">
            <img
              src="https://brainlitz-dev.s3.amazonaws.com/staging/stgbl-cw1/profile/157982363101344860215_original.jpg" />
            <div class="lb-pos">1</div>
          </div>
          <div class="lb-label">
            <span>
              <h6 class="mb-0">Gladys Conold</h6>
            </span>
            <span>
              <h5>1427 SP</h5>
            </span>
          </div>
        </div>
        <div class="rank2"></div>
      </div>
      <div class="lb-div3">
        <div class="lb-small d-flex">
          <div class="lb-sp mt-8 mb-2">
            <img
              src="https://brainlitz-dev.s3.amazonaws.com/staging/stgbl-cw1/profile/157890494085346223685_original.jpg" />
            <div class="lb-pos">3</div>
          </div>
          <div class="lb-label">
            <span>
              <h6 class="mb-0">Claire Murphy</h6>
            </span>
            <span>
              <h5>1027 SP</h5>
            </span>
          </div>
        </div>
        <div class="rank3"></div>
      </div>
    </div>
    <div class="cardfoot" style="height: 20%;">
      <div style="float: right">
        <button class="detail-btn white">
          See more
        </button>
      </div>
    </div>
  </div> -->
</div>

<!-- apo loading -->

<!-- <div class="card-column" [ngClass]="{ orphan: !sparkwerkz }" *ngIf="loading == true">
  <div class="customer-view">
    <content-loader>
      <svg:rect x="20" y="20" rx="0" ry="0" width="100px" height="10px" />
      <svg:rect x="30" y="70" rx="0" ry="0" width="40px" height="10px" />
      <svg:rect x="300" y="70" rx="0" ry="0" width="60px" height="10px" />
      <svg:rect x="300" y="90" rx="0" ry="0" width="40px" height="10px" />
      <svg:rect x="30" y="90" rx="0" ry="0" width="200px" height="10px" />
    </content-loader>
  </div>

  <div class="attendance-view">
    <content-loader>
      <svg:rect x="20" y="20" rx="0" ry="0" width="100px" height="10px" />
      <svg:rect x="30" y="70" rx="0" ry="0" width="40px" height="10px" />
      <svg:rect x="300" y="70" rx="0" ry="0" width="60px" height="10px" />
      <svg:rect x="300" y="90" rx="0" ry="0" width="40px" height="10px" />
      <svg:rect x="30" y="90" rx="0" ry="0" width="200px" height="10px" />
    </content-loader>
  </div>

  <div class="tasks-view" [ngClass]="{ hide: !sparkwerkz }">
    <content-loader>
      <svg:rect x="20" y="20" rx="0" ry="0" width="100px" height="10px" />
      <svg:rect x="30" y="70" rx="0" ry="0" width="40px" height="10px" />
      <svg:rect x="300" y="70" rx="0" ry="0" width="60px" height="10px" />
      <svg:rect x="300" y="90" rx="0" ry="0" width="40px" height="10px" />
      <svg:rect x="30" y="90" rx="0" ry="0" width="200px" height="10px" />
    </content-loader>
  </div>
</div> -->

<div
  class="card-column"
  [ngClass]="{ orphan: !sparkwerkz }"
  *ngIf="loading == true"
>
  <div class="customer-view">
    <div class="cardhead"></div>
    <div class="cardbody d-flex" style="height: 60%;flex-direction: column;">
      <content-loader>
        <svg:rect x="20" y="20" rx="0" ry="0" width="100px" height="10px" />
        <svg:rect x="30" y="70" rx="0" ry="0" width="40px" height="10px" />
        <svg:rect x="300" y="70" rx="0" ry="0" width="60px" height="10px" />
        <svg:rect x="300" y="90" rx="0" ry="0" width="40px" height="10px" />
        <svg:rect x="30" y="90" rx="0" ry="0" width="200px" height="10px" />
      </content-loader>
    </div>
    <div class="cardfoot" style="height: 20%;">
      <button class="detail-btn">
        <!-- (click)="toggle()" -->
        Enroll customer
      </button>
    </div>
  </div>

  <div *ngIf="coursetype != 'ONLINE'" class="attendance-view">
    <div class="cardhead"></div>
    <div class="cardbody d-flex" style="flex-direction: column; height: 55%">
      <content-loader>
        <svg:rect x="20" y="20" rx="0" ry="0" width="100px" height="10px" />
        <svg:rect x="30" y="70" rx="0" ry="0" width="40px" height="10px" />
        <svg:rect x="300" y="70" rx="0" ry="0" width="60px" height="10px" />
        <svg:rect x="300" y="90" rx="0" ry="0" width="40px" height="10px" />
        <svg:rect x="30" y="90" rx="0" ry="0" width="200px" height="10px" />
      </content-loader>
    </div>
    <div class="cardfoot" style="height: 25%;">
      <button class="detail-btn">
        Set attendance
      </button>
    </div>
  </div>

  <div class="tasks-view" [ngClass]="{ hide: !sparkwerkz }">
    <div class="cardhead"></div>
    <div class="cardbody">
      <content-loader>
        <svg:rect x="10" y="20" rx="0" ry="0" width="100px" height="10px" />
        <svg:rect x="20" y="40" rx="0" ry="0" width="40px" height="10px" />
      </content-loader>
    </div>
    <!-- <div class="cardfoot">
      <button class="detail-btn">
        Assign task
      </button>
    </div> -->
  </div>
</div>
