<div class="customer-tab pt-3">
  <div
    class="d-flex flex-row lesson-list"
    *ngIf="loading == true"
    style="width: 1200px; height: 75px;"
  >
    <content-loader>
      <svg:rect x="0" y="0" rx="0" ry="0" width="100%" height="100%" />
    </content-loader>
  </div>
  <div class="d-flex flex-row lesson-list" *ngIf="loading == false">
    <div *ngIf="LASD != null" class="timeline">
      <div
        [ngStyle]="{ left: i * 80 + 'px' }"
        class="single-date"
        *ngFor="let timeline of attendanceList?.lessons; let i = index"
        [ngClass]="{
          today:
            (timeline.startDate | timelineDate) == (todayDate | timelineDate),
          'disable-add': timeline.startDate > todayDate,
          'disable-cursor': isRescheduleLesson || isNewLesson,
          'day-highlight':
            lastSelectedObj != null && lastSelectedObj._id == timeline._id
        }"
      >
        <!-- <pre>{{timeline | json}}</pre> -->
        <div
          *ngIf="timeline.startDate < todayDate"
          (click)="checkAttendance(timeline.startDate, timeline, cancelUI, i)"
        >
          <div
            *ngIf="
              (timeline.startDate | timelineDate) != (todayDate | timelineDate)
            "
            (click)="checkAttendance(timeline.startDate, timeline, cancelUI, i)"
          >
            <b class="body-m text-c300"
              >{{ timeline.startDate | timelineDate }}
            </b>
            <p class="small text-c100 mb-0">
              {{ timeline.startDate | timelineDay }}
              <span *ngIf="timeline.cancel == true" class="makeup-icon">C</span>
              <span
                *ngIf="timeline.rescheduledLesson == true"
                class="makeup-icon"
              >
                R
              </span>
            </p>
          </div>
        </div>
        <div
          *ngIf="
            (timeline.startDate | timelineDate) == (todayDate | timelineDate)
          "
          (click)="checkAttendance(timeline.startDate, timeline, cancelUI, i)"
        >
          <div>
            <b class="body-m text-c300">{{
              timeline.startDate | timelineDate
            }}</b>
            <p class="small text-c100 mb-0">
              {{ timeline.startDate | timelineDay }}
              <span *ngIf="timeline.cancel == true" class="makeup-icon">C</span>
              <span
                *ngIf="timeline.rescheduledLesson == true"
                class="makeup-icon"
              >
                R
              </span>
            </p>
          </div>
        </div>
        <div *ngIf="timeline.startDate > todayDate">
          <div
            *ngIf="
              (timeline.startDate | timelineDate) != (todayDate | timelineDate)
            "
            (click)="checkAttendance(timeline.startDate, timeline, cancelUI, i)"
          >
            <b class="body-m text-c300">{{
              timeline.startDate | timelineDate
            }}</b>
            <p class="small text-c100 mb-0">
              {{ timeline.startDate | timelineDay }}
              <span *ngIf="timeline.cancel == true" class="makeup-icon">C</span>
              <span
                *ngIf="timeline.rescheduledLesson == true"
                class="makeup-icon"
              >
                R
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <button
      *ngIf="detailLists.type == 'FLEXY'"
      class="btn btn-newLesson"
      (click)="addNewLesson()"
      [disabled]="isRescheduleLesson"
    >
      Add new lesson
    </button>
  </div>

  <!-- end lesson list -->

  <div *ngIf="loading == false" class="mt-20">
    <div *ngIf="!isRescheduleLesson && !isNewLesson">
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-column">
          <span class="selected_date h3-strong text-c300">{{
            LASD | utcDateAndDay
          }}</span>
          <div class="d-flex  light-body-l" style="margin-bottom:15px">
            <span>
              {{ selectedLesson?.startDate | utcTime }} -
              {{ selectedLesson?.endDate | utcTime }}
            </span>
          </div>
          <!--  *ngIf="showCancelButton == true" -->
          <div class="d-flex">
            <button
              class="d-flex btn assign_relief_button align-items-center body-m text-c100 bg-s0"
              *ngIf="disableCancel == false && reliefTeacher == null"
              (click)="onClickAssignRelief(reliefModal, selectedLesson)"
              [disabled]="disableCancel == true"
            >
              <span
                ><img
                  src="../../../assets/icons/assignReliefIcon.svg"
                  alt=""/></span
              >Assign relief teacher
            </button>
            <button
              class="d-flex btn reschedule_button align-items-center body-m text-c100 bg-s0"
              *ngIf="disableCancel == false && reliefTeacher == null"
              (click)="rescheduleLesson()"
            >
              <span><img src="../../../assets/icons/Calendar.svg" alt=""/></span
              >Reschedule
            </button>
            <button
              class="d-flex btn cancel_class_button align-items-center body-m text-c100 bg-s0"
              *ngIf="
                disableCancel == false &&
                reliefTeacher == null &&
                activeCourseInfo.CUSTOMER?.length > 0
              "
              (click)="cancelClass(content)"
              [disabled]="disableCancel == true || reliefTeacher != null"
            >
              <span><img src="../../../assets/icons/Minus.svg" alt=""/></span
              >Cancel lesson
            </button>
            <button
              class="d-flex btn cancel_class_button align-items-center body-m text-c100 bg-s0"
              *ngIf="
                activeCourseInfo.CUSTOMER?.length < 1 &&
                disableCancel == false &&
                reliefTeacher == null
              "
              (click)="deleteLesson(lessonDelete)"
            >
              <!--    (click)="deleteLesson()" -->
              <span><img src="../../../assets/icons/Minus.svg" alt=""/></span
              >Delete lesson
            </button>
          </div>
          <!--   disableCancel == false && -->
          <!--        showCancelButton == true -->
          <div
            (click)="onClickReliefDropdown($event)"
            (document:click)="closeReliefDropdown($event)"
            class="d-flex align-items-center justify-content-between relief-teacher-block"
            *ngIf="reliefTeacher != null"
          >
            <div class="d-flex align-items-center justify-content-center">
              <div class="relief-img-wrap ml-2">
                <img src="{{ reliefTeacher?.profilePic }}" />
              </div>
              <div class="relief-name pl-3">
                <label class="mb-0">Relief Teacher</label>
                <h5>
                  {{ reliefTeacher?.preferredName }}
                </h5>
              </div>
            </div>
            <div>
              <span
                class="fa fa-angle-down d-flex justify-content-center flex-column icon user-down pr-3"
              ></span>
            </div>
            <div
              *ngIf="showReliefPopup"
              class="popup pl-3 pr-3 body-l text-c300"
              id="relief-popup"
            >
              <div _ngcontent-c4="" class="carret-box"></div>
              <div
                class="pt-3 pb-2 br-bottom"
                (click)="onClickAssignRelief(reliefModal, selectedLesson)"
              >
                <label class="mb-0">Change relief teacher</label>
              </div>
              <div class="pt-2 pb-3">
                <label class="mb-0">Withdraw relief teacher</label>
              </div>
            </div>
          </div>
          <!-- &&
              showCancelButton == true -->
          <div
            class="d-flex"
            *ngIf="disableCancel == true && reliefTeacher == null"
          >
            <div class="d-flex align-items-center relief-name">
              <h5 class="mb-0">Cancelled Class</h5>
            </div>
            <div class="d-flex justify-content-center align-items-center pl-2">
              <div class="cc-icon-wrap">
                <div class="icon-wrap">
                  <img src="./assets/images/withdraw-ico@2x.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div
            class="d-flex justify-content-center align-items-center bg-g25 att-circle"
          >
            <div>
              <p class="present_count body-xl text-g300">
                {{ presentStudent }}
              </p>
              <span class="text-g300 small">Present</span>
            </div>
          </div>
          <div
            class="d-flex justify-content-center align-items-center bg-r50 att-circle"
          >
            <div>
              <p class="absent_count body-xl text-r300">{{ absentStudent }}</p>
              <span class="small text-r300">Absent</span>
            </div>
          </div>
          <div
            class="d-flex justify-content-center align-items-center bg-s30 att-circle"
          >
            <div>
              <p
                class="total_count text-c300 body-xl"
                *ngIf="activeCourseInfo.CUSTOMER"
              >
                {{ activeCourseInfo.CUSTOMER.length }}
              </p>
              <span class="small text-c300">Total</span>
            </div>
          </div>
        </div>
      </div>
      <div class="student-lists row " *ngIf="loading == false">
        <div
          *ngFor="let user of activeCourseInfo.CUSTOMER"
          class="col-xs-6 col-sm-4 col-md-4 col-lg-3 col-xs-3"
        >
          <!-- {{user.attendance}} -->
          <div
            (click)="showAttendanceBox($event, user.userId)"
            (document:click)="closeDropdown($event)"
            class="d-flex flex-row single-student align-items-center"
            [ngClass]="{
              'no-data-alert': user.attendance == null,
              'present-alert': user.attendance == true,
              'absent-alert': user.attendance == false,
              'active-alert': attdBox == true && this.uId == user.userId
            }"
          >
            <div class="align-self-center justify-content-center pl-2">
              <div class="std-img-wrap">
                <img src="{{ user.profilePic }}" />
              </div>
            </div>
            <div class="single-user-info d-flex">
              <p *ngIf="user.preferredName" class="text-c100 body-m">
                {{
                  user.preferredName.length > 20
                    ? (user.preferredName | slice: 0:20) + '...'
                    : user.preferredName
                }}
              </p>
              <p *ngIf="user.preferredName == ''" class="text-c100 body-m">
                {{
                  user.email.length > 15
                    ? (user.email | slice: 0:15) + '...'
                    : user.email
                }}
              </p>
            </div>
            <div class="pl-1" *ngIf="user.isMakeupStudent">
              <img src="../../../../assets/icons/makeup-student.svg" />
            </div>
            <div class="d-flex ml-auto pr-3">
              <span
                class="fa fa-angle-down d-flex justify-content-center flex-column icon user-down"
                [ngClass]="{
                  'text-white': attdBox == true && this.uId == user.userId
                }"
              ></span>
            </div>
          </div>
          <div
            class="att-box"
            *ngIf="
              attdBox == true &&
              this.uId == user.userId &&
              (!disableCancel || detailLists.type == 'FLEXY')
            "
          >
            <div class="carret-box"></div>
            <li
              *ngIf="!disableCancel"
              [ngClass]="{
                'attendance-wrap': detailLists.type == 'FLEXY',
                'pb-3': detailLists.type == 'FLEXY',
                'mb-3': detailLists.type == 'FLEXY'
              }"
            >
              <div id="divToHide">
                <div class="pb-3">Take Attendance</div>
                <div class="d-flex" id="divToHide">
                  <div
                    id="divToHide"
                    class="present-wrap"
                    [ngClass]="{
                      'attendance-radio': user.attendance == true
                    }"
                  >
                    <label id="divToHide" class="radio-present mb-0">
                      <p
                        class="mb-0"
                        [ngClass]="{ 'present-text': user.attendance }"
                      >
                        Present
                      </p>
                      <input
                        type="radio"
                        name="radio"
                        (click)="
                          onClickRadio('present', user.userId, content, user)
                        "
                        [checked]="user.attendance == true"
                      />
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div
                    id="divToHide"
                    class="absent-wrap"
                    [ngClass]="{
                      'absent-radio': user.attendance == false
                    }"
                  >
                    <label id="divToHide" class="radio-absent mb-0">
                      <p
                        class="mb-0"
                        [ngClass]="{ 'absent-text': user.attendance }"
                      >
                        Absent
                      </p>
                      <input
                        type="radio"
                        name="radio"
                        (click)="
                          onClickRadio('absent', user.userId, content, user)
                        "
                        [checked]="user.attendance == false"
                      />
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
              </div>
            </li>
            <!-- && showCancelButton == true -->
            <button
              *ngIf="detailLists.type == 'FLEXY'"
              (click)="getReschedule(reschedule, user)"
              class="btn w-100 reschedule-btn p-0"
            >
              Reschedule
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- <div *ngIf="loading == true" class="student-lists row ">
      <div
        class="col-xs-6 col-sm-4 col-md-4 col-lg-3 col-xs-3 d-flex align-items-center"
      >
        <content-loader>
          <svg:rect x="0" y="0.5" rx="0" ry="0" width="100%" height="80" />
        </content-loader>
      </div>
      <div
        class="col-xs-6 col-sm-4 col-md-4 col-lg-3 col-xs-3 d-flex align-items-center"
      >
        <content-loader>
          <svg:rect x="0" y="0.5" rx="0" ry="0" width="100%" height="80" />
        </content-loader>
      </div>
    </div> -->

    <div class="overlayModal" *ngIf="showcb" (click)="clickOverlay()"></div>
    <ng-template #reschedule let-modal>
      <div class="overlayModal" *ngIf="showcb" (click)="clickOverlay()"></div>
      <div class="flexiModal">
        <div class="innerFlexiModal" *ngIf="isReschedule">
          <div class="d-flex" style="margin: 20px 20px 0px 32px;">
            <!-- <div class="d-flex back" (click)="backtoCustomer()">
            <i class="fa fa-angle-left flexiBackicon"></i>
            <p class="mb-0 font-medium ">Add customer</p>
          </div> -->
            <p class="reschedule-title">Enroll lesson</p>
            <button
              (click)="cancelModal()"
              aria-label="Close"
              class="modal-close ml-auto"
              type="button"
            >
              <span class="closemark">
                <div class="closemark_stem"></div>
                <div class="closemark_kick"></div>
              </span>
              <!-- <span aria-hidden="true" >×</span> -->
            </button>
          </div>
          <app-reschedule
            [reScheduleData]="resechduleList"
            [selectedCustomer]="selectedCustomer"
            (defaultCount)="defaultCount($event)"
            (checkObjArr)="checkObj($event)"
            [course]="detailLists"
            (unavaiableLen)="getlen($event)"
            [showcb]="showcb"
            (passDataconflictBoxShow)="conflictBoxShow($event)"
          >
          </app-reschedule>
        </div>
        <div
          class="modal-footer d-flex justify-content-between"
          style="padding: 18px 25px 18px 25px;box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.08);"
        >
          <div class="d-flex flex-column">
            <div>
              <p class="defaultLessonCount">
                Default lessons count: {{ dcount }}
              </p>
              <p class="textCount">Number of lessons required:</p>
              <div class="selectedCountBox">
                <p class="selectedTest">
                  Selected lessons:
                  {{ checkArr.length - unavaiablelessons.length }}
                </p>
              </div>
            </div>
            <!-- <div class="defaultDiv">

        </div> -->
          </div>

          <div class="">
            <button
              type="button"
              class="btn modal-cancel-btn"
              (click)="cancelModal()"
            >
              Cancel
            </button>
            <button
              type="submit"
              class="btn btn-submit"
              (click)="confirmReschedule(confirm_Reschedule)"
            >
              Confirm
            </button>
          </div>
        </div>
      </div>
    </ng-template>

    <div *ngIf="isRescheduleLesson" class="mt-20 mb-4">
      <app-reschedule-lesson
        (cancelReschedule)="cancelRescheduleLesson($event)"
        (updatedlessonObj)="updatedLessonObj($event)"
        [courseDetail]="detailLists"
        [LASD]="LASD"
        [lessonId]="currentDateObj"
        [defineType]="defineType"
      ></app-reschedule-lesson>
    </div>

    <div *ngIf="isNewLesson" class="mt-20 mb-4">
      <app-reschedule-lesson
        (cancelReschedule)="cancelRescheduleLesson($event)"
        (updatedlessonObj)="updatedLessonObj($event)"
        [courseDetail]="detailLists"
        [LASD]="LASD"
        [defineType]="defineType"
      ></app-reschedule-lesson>
    </div>

    <ng-template #content let-modal>
      <div class="modal-header">
        <div class="d-flex flex-column ">
          <h3 class="makeup-pass-title" *ngIf="this.modalType != 'absent'">
            Cancel lesson
          </h3>
          <h3 class="makeup-pass-title" *ngIf="this.modalType == 'absent'">
            Absent
          </h3>
          <!-- <p class="makeup-pass-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
          <!-- <p
            *ngIf="activeCourseInfo.CUSTOMER.length == 0"
            class="makeup-pass-text warning-text"
          >
            Please register students into the class to issue makeup pass
          </p> -->
        </div>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="cancelModal()"
        >
          <span class="closemark">
            <div class="closemark_stem"></div>
            <div class="closemark_kick"></div>
          </span>
        </button>
      </div>
      <div class="makeup-style">
        <div class="row">
          <div class="d-flex col-md-6">
            <div class="toggle-wrap" (click)="this.isGlobal = !isGlobal">
              <label class="switch">
                <input
                  type="checkbox"
                  (click)="isGlobal = !this.isGlobal"
                  [checked]="isGlobal"
                />
                <span class="slider round"></span>
              </label>
            </div>
            <label class="switch-label" for="online">Issue makeup pass</label>
          </div>
          <div class="d-flex  col-md-6">
            <div class="toggle-wrap" (click)="addExtraLesson = !addExtraLesson">
              <label class="switch">
                <input
                  type="checkbox"
                  (click)="addExtraLesson = !addExtraLesson"
                  [checked]="addExtraLesson"
                />
                <span class="slider round"></span>
              </label>
            </div>
            <label class="switch-label" for="online">Add extra lesson</label>
          </div>
        </div>
        <div class="w-100 d-flex">
          <div class="input-wrap p-0" style="width:80%;margin-right:20px">
            <div
              *ngIf="isGlobal && this.modalType == 'absent'"
              class="mb-0 mt-2 form-group"
            >
              <label for="name" class="input-label">Name</label>
              <input
                type="text"
                class="form-control create-input"
                placeholder="Type makeup pass name here"
                name="name"
                [(ngModel)]="makeupForm.name"
                required
                #name="ngModel"
              />
            </div>
            <div
              *ngIf="isGlobal && this.modalType == 'absent'"
              class="mb-0 mt-2 form-group"
            >
              <label for="name" class="input-label">Reason</label>
              <textarea
                class="form-control create-input"
                rows="4"
                placeholder="Got any reasons?"
                name="reason"
                [(ngModel)]="makeupForm.reason"
                #reason="ngModel"
                required
              ></textarea>
            </div>
          </div>
          <div
            *ngIf="
              makeupLists.length > 0 && this.modalType == 'absent' && isGlobal
            "
            class="d-flex flex-column makeup-side"
            style="width:50%;"
          >
            <h1 class="release-text container">Released makeup passes</h1>
            <div class="" *ngFor="let makeup of makeupLists">
              <!--for valid start-->
              <div class="col-md-12 av-block claimed-height">
                <!-- [ngClass]="{'claimed-height': makeup.passType === 'claimed'}" -->
                <div class="single-makeup claimed-height">
                  <div
                    class="makeup-head"
                    [ngClass]="{
                      'claimed-header': makeup.passType === 'claimed',
                      'expired-header': makeup.passType === 'expired'
                    }"
                  >
                    <p>
                      <span *ngIf="makeup.passType === 'available'">
                        Valid until
                        <span class="valid-date"
                          >{{ makeup.expirationDate.day }}
                          {{ makeup.expirationDate.month - 1 | TTmonth }}
                          {{ makeup.expirationDate.year }}</span
                        >
                      </span>
                      <span *ngIf="makeup.passType === 'claimed'">
                        <span>
                          <img
                            src="../../../assets/icons/badge_tick.svg"
                            alt=""
                          />
                        </span>
                        Claimed pass
                      </span>
                      <span *ngIf="makeup.passType === 'expired'">
                        <span>
                          <img
                            src="../../../assets/icons/badge_minus.svg"
                            alt=""
                          />
                        </span>
                        Expired pass
                      </span>
                    </p>
                  </div>
                  <div class="makeup-body">
                    <h5 class="makeup-title">{{ makeup.name }}</h5>
                    <p class="makeup-des">{{ makeup.reason }}</p>
                    <div class="makeup-box">
                      <p>
                        Issued on {{ makeup.issueDate.day }}
                        {{ makeup.issueDate.month - 1 | TTmonth }}
                        {{ makeup.issueDate.year }}
                      </p>
                      <div class="issue-box d-flex flex-column">
                        <strong class="makeup-course-name"
                          >{{ makeup.course.name }}
                        </strong>
                        <label *ngIf="makeup.course.type !== 'ONLINE'">
                          <span
                            >{{ makeup.course.startTime.hr | timeFormat }} :
                            {{ makeup.course.startTime.min | timeFormat }}
                            {{ makeup.course.startTime.meridiem }}</span
                          >
                          -
                          <span
                            >{{ makeup.course.endTime.hr | timeFormat }} :
                            {{ makeup.course.endTime.min | timeFormat }}
                            {{ makeup.course.endTime.meridiem }}</span
                          ></label
                        >
                      </div>
                      <div *ngIf="makeup.passType === 'claimed'">
                        <p>
                          Issued on {{ makeup.claimedDateFor.day }}
                          {{ makeup.claimedDateFor.month - 1 | TTmonth }}
                          {{ makeup.claimedDateFor.year }}
                        </p>
                        <div class="issue-box d-flex flex-column">
                          <strong class="makeup-course-name">{{
                            makeup.makeupCourse.name
                          }}</strong>
                          <label *ngIf="makeup.course.type !== 'ONLINE'">
                            <span
                              >{{
                                makeup.makeupCourse.startTime.hr | timeFormat
                              }}
                              :
                              {{
                                makeup.makeupCourse.startTime.min | timeFormat
                              }}
                              {{ makeup.makeupCourse.startTime.meridiem }}</span
                            >
                            -
                            <span
                              >{{ makeup.makeupCourse.endTime.hr | timeFormat }}
                              :
                              {{ makeup.makeupCourse.endTime.min | timeFormat }}
                              {{ makeup.makeupCourse.endTime.meridiem }}</span
                            ></label
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="left-scoope"></div>
                  <div class="right-scoope"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-wrap mt-3">
          <div
            class="row w-100 users-wrap-box"
            *ngIf="this.modalType != 'absent'"
          >
            <div
              *ngFor="let user of activeCourseInfo.CUSTOMER"
              class="col-xs-6 col-sm-3 col-md-3 col-lg-3"
            >
              <div
                class="d-flex flex-row justify-content-center align-items-center bg-primary single-student-modal "
              >
                <div class="d-flex pl-2 mr-2">
                  <span class="checkmark">
                    <div class="checkmark_stem"></div>
                    <div class="checkmark_kick"></div>
                  </span>
                </div>
                <div class="d-flex mr-auto  justify-content-center ">
                  <h4
                    *ngIf="user.preferredName != ''"
                    class="text-white align-self-center mb-0"
                    style="font-size:14px!important; word-break: break-all; "
                  >
                    {{
                      user.preferredName.length > 20
                        ? (user.preferredName | slice: 0:20) + '...'
                        : user.preferredName
                    }}
                  </h4>
                  <h4
                    *ngIf="user.preferredName == ''"
                    class="text-white align-self-center mb-0"
                    style="font-size:14px!important; word-break: break-all; "
                  >
                    {{
                      user.email.length > 20
                        ? (user.email | slice: 0:20) + '...'
                        : user.email
                    }}
                  </h4>
                </div>
                <div class="pr-2">
                  <div class="std-img-wrap1 justify-content-end">
                    <img src="{{ user.profilePic }}" class="user-pic" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="row w-100 users-wrap-box"
            *ngIf="this.modalType == 'absent'"
          >
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
              <div
                class="d-flex flex-row justify-content-center align-items-center bg-primary single-student-modal "
              >
                <div class="d-flex pl-2 mr-2">
                  <span class="checkmark">
                    <div class="checkmark_stem"></div>
                    <div class="checkmark_kick"></div>
                  </span>
                </div>
                <div class="d-flex mr-auto  justify-content-center ">
                  <h4
                    *ngIf="absentInfo.preferredName != ''"
                    class="text-white align-self-center mb-0"
                    style="font-size:14px!important; word-break: break-all; "
                  >
                    {{
                      absentInfo.preferredName.length > 20
                        ? (absentInfo.preferredName | slice: 0:20) + '...'
                        : absentInfo.preferredName
                    }}
                  </h4>
                  <h4
                    *ngIf="absentInfo.preferredName == ''"
                    class="text-white align-self-center mb-0"
                    style="font-size:14px!important; word-break: break-all; "
                  >
                    {{
                      absentInfo.email.length > 20
                        ? (absentInfo.email | slice: 0:20) + '...'
                        : absentInfo.email
                    }}
                  </h4>
                </div>
                <div class="pr-2">
                  <div class="std-img-wrap1 justify-content-end">
                    <img src="{{ absentInfo.profilePic }}" class="user-pic" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <textarea
        *ngIf="textAreaOption && isGlobal"
        name=""
        id=""
        class="text-reason"
        placeholder="Type reason... "
        rows="4"
        [(ngModel)]="reasonValue"
      ></textarea>
      <div class="modal-footer">
        <div
          class="mr-auto add-reason"
          *ngIf="!textAreaOption && this.modalType != 'absent' && isGlobal"
          (click)="showTextarea()"
        >
          Add makeup pass reason
        </div>
        <button class="btn btn-cancel-crt" (click)="modalClose()">
          Cancel
        </button>
        <button
          *ngIf="this.modalType != 'absent'"
          class="btn btn-done-crt"
          (click)="cancelClassFun(currentDateObj)"
          [disabled]="activeCourseInfo.CUSTOMER?.length == 0"
        >
          Confirm
        </button>
        <button
          *ngIf="this.modalType == 'absent' && !isGlobal"
          class="btn btn-done-crt"
          (click)="absentClass()"
          [disabled]="activeCourseInfo.CUSTOMER?.length == 0"
        >
          Confirm
        </button>

        <button
          *ngIf="this.modalType == 'absent' && isGlobal"
          class="btn btn-done-crt"
          (click)="absentClass(makeupForm, absentInfo.userId)"
          [disabled]="makeupForm.reason == null || makeupForm.name == null"
        >
          Confirm
        </button>
      </div>
    </ng-template>

    <ng-template #reliefModal let-c="close" let-d="dismiss">
      <app-assign-relief
        [courseInfo]="detailLists"
        [lessonInfo]="selectedLesson"
        (closed)="cancelReliefModal()"
        [scheduleRelief]="false"
      ></app-assign-relief>
    </ng-template>

    <ng-template #lessonDelete>
      <div class="modal-header">
        <h3 class="modal-title">Delete lesson</h3>
        <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body apg-confirm">
        <p>
          Are you sure want to delete lesson for {{ LASD | utcDate }}?
          <span class="target"></span>
          <!-- <span style="color: red;">"{{deleteAPG}}"</span> -->
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn modal-cancel-btn"
          (click)="cancelLessonDelete()"
        >
          No
        </button>
        <button
          type="submit"
          class="btn modal-delete-btn"
          (click)="confirmLessonDelete()"
        >
          Yes
        </button>
      </div>
    </ng-template>

    <ng-template #confirm_Reschedule>
      <div class="modal-header">
        <h3 class="modal-title">Confirm reschedule?</h3>
      </div>
      <div class="modal-body apg-confirm">
        All the remaining lessons for the student will be discarded. Are you
        sure?
      </div>
      <div class="modal-footer pt-2 pb-2">
        <button
          type="button"
          class="btn modal-cancel-btn"
          (click)="cancelConfirm()"
        >
          No
        </button>
        <button
          type="submit"
          class="btn modal-delete-btn"
          (click)="rescheduleConfirm()"
        >
          Yes
        </button>
      </div>
    </ng-template>
  </div>
  <!-- loading == true -->
  <div *ngIf="loading == true" class="mt-20">
    <div class="d-flex justify-content-between">
      <div class="d-flex flex-column">
        <div style="height: 40px;">
          <content-loader>
            <svg:rect x="0" y="0.5" rx="0" ry="0" width="150px" height="10px" />
            <svg:rect
              x="0"
              y="15px"
              rx="0"
              ry="0"
              width="150px"
              height="10px"
            />
          </content-loader>
        </div>
        <div class="d-flex">
          <button
            class="d-flex btn assign_relief_button align-items-center body-m text-c100 bg-s0"
          >
            <span
              ><img
                src="../../../assets/icons/assignReliefIcon.svg"
                alt=""/></span
            >Assign relief teacher
          </button>
          <button
            class="d-flex btn reschedule_button align-items-center body-m text-c100 bg-s0"
          >
            <span><img src="../../../assets/icons/Calendar.svg" alt=""/></span
            >Reschedule
          </button>
          <button
            class="d-flex btn cancel_class_button align-items-center body-m text-c100 bg-s0"
          >
            <span><img src="../../../assets/icons/Minus.svg" alt=""/></span
            >Cancel lesson
          </button>
        </div>
      </div>
      <div class="d-flex">
        <div
          class="present_student d-flex justify-content-center align-items-center"
        >
          <div>
            <p class="present_count"></p>
            <span class="present_text">Present</span>
          </div>
        </div>
        <div
          class="absent_student d-flex justify-content-center align-items-center"
        >
          <div>
            <p class="absent_count"></p>
            <span class="absent_text">Absent</span>
          </div>
        </div>
        <div
          class="total_student d-flex justify-content-center align-items-center"
        >
          <div>
            <p class="total_count"></p>
            <span class="total_text">Total</span>
          </div>
        </div>
      </div>
    </div>
    <div class="student-lists row ">
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 col-xs-3">
        <div class="person-card">
          <content-loader>
            <svg:rect
              x="0"
              y="0.5"
              rx="30"
              ry="30"
              width="48px"
              height="48px"
            />
            <svg:rect x="60" y="14" rx="0" ry="0" width="80%" height="20px" />
          </content-loader>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 col-xs-3">
        <div class="person-card">
          <content-loader>
            <svg:rect
              x="0"
              y="0.5"
              rx="30"
              ry="30"
              width="48px"
              height="48px"
            />
            <svg:rect x="60" y="14" rx="0" ry="0" width="80%" height="20px" />
          </content-loader>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 col-xs-3">
        <div class="person-card">
          <content-loader>
            <svg:rect
              x="0"
              y="0.5"
              rx="30"
              ry="30"
              width="48px"
              height="48px"
            />
            <svg:rect x="60" y="14" rx="0" ry="0" width="80%" height="20px" />
          </content-loader>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 col-xs-3">
        <div class="person-card">
          <content-loader>
            <svg:rect
              x="0"
              y="0.5"
              rx="30"
              ry="30"
              width="48px"
              height="48px"
            />
            <svg:rect x="60" y="14" rx="0" ry="0" width="80%" height="20px" />
          </content-loader>
        </div>
      </div>
    </div>
  </div>
</div>
