.today-container {
  padding: 30px 20px 30px 40px;
  width: 100%;
}

p.backtxt {
  font-family: 'Inter-UI-Medium', Arial, sans-serif !important;
  color: #2e3d4d;
  font-size: 16px;
  margin: 0;
  padding: 2px 5px;
}

.left-arrow {
  font-size: 25px;
  float: left;
}

.back-button {
  background: none !important;
  border: none !important;
  cursor: pointer;
  padding: 0;
}
.today-date {
  color: #2e3d4d;
  font-weight: 600;
  font-size: 24px;
  font-family: 'Inter-UI-SemiBold', Arial, sans-serif;
  padding-top: 15px;
}

.right-arrow {
  font-size: 25px;
  float: left;
}

p.course-name {
  font-size: 20px;
  color: #007fff;
  font-family: 'Inter-UI-SemiBold', Arial, sans-serif;
  cursor: pointer;
}

.course-code {
  color: #004080;
  font-size: 12px;
  background: #cce5ff;
  padding: 3px 8px 0px 8px;
  border-radius: 25px;
  margin-left: 10px;
  height: 24px;
  font-family: 'Inter-UI-SemiBold', Arial, sans-serif;
  /* margin-top: 6px; */
}

span.course-time {
  color: #64707d;
  font-size: 16px;
  font-family: 'Inter-UI-Medium', Arial, sans-serif;
  padding: 5px 0px;
}
.course-duration {
  font-family: 'Inter-UI-Medium', Arial, sans-serif;
  color: #64707d;
  line-height: 0.5;
  position: relative;
  margin-top: 3px;
  font-size: 14px;
  background: #f2f4f5;
  margin-left: 5px;
  padding: 9px;
  margin-bottom: 0;
  border-radius: 25px;
  display: table;
}

.count-box {
  border-radius: 4px;
  font-family: 'Inter-UI-SemiBold', Arial, sans-serif;
  padding: 10px;
  text-align: center;
  margin-left: 20px;
  width: 80px;
}

.present {
  background: #c2f2d6;
  color: #004d20;
}

.absent {
  background: #ffdbd9;
  color: #7d1e19;
}
.total {
  background: #edeff0;
  color: #64707d;
}

.d-flex.today-coruse {
  border-bottom: 1px solid #edeff0;
  padding-bottom: 20px;
  padding-top: 20px;
}

.img-wrap.align-self-center {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background: #ddd;
  width: 48px;
  height: 48px;
}

.img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
p.positon {
  color: #64707d;
  font-family: 'Inter-UI-semibold', Arial, sans-serif;
  font-size: 12px;
  margin-bottom: 2px;
}

p.teacher-name {
  color: #2e3d4d;
  font-family: 'Inter-UI-semibold', Arial, sans-serif;
  font-size: 14px;
  white-space: nowrap;
}

.d-flex.student-box {
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 16px;
}

p.student-name {
  color: #2e3d4d;
  font-family: 'Inter-UI-semibold', Arial, sans-serif;
  font-size: 16px;
  padding: 10px 26px 0px 12px;
}

div#divToHide {
  height: 32px;
}

.checkmark {
  display: inline-block;
  transform: rotate(45deg);
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-present input:checked ~ .checkmark:after,
.radio-absent input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-present .checkmark:after,
.radio-absent .checkmark:after {
  right: 3px;
  bottom: 3px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #00662b;
}

.radio-absent .checkmark:after {
  background: #801f19;
  right: 3px !important;
}

.radio-absent .checkmark {
  border: 1.5px solid #ff3d33 !important;
}

.card-columns {
  column-count: 2;
}

.card {
  border: none;
}

.present-wrap {
  border: 2px solid #00b34a;
  border-radius: 25px;
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
}
.absent-wrap {
  border: 2px solid #ff3d33;
  border-radius: 25px;
  margin-left: 18px;
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
}

.radio-present,
.radio-absent {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}

.radio-present p {
  padding: 0px 10px;
  font-size: 14px;
  line-height: 2.2;
  color: #00b34a;
}

.radio-absent p {
  padding: 0px 10px;
  font-size: 14px;
  line-height: 2.2;
  color: #f23a30;
}

.radio-present input,
.radio-absent input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.radio-present .checkmark,
.radio-absent .checkmark {
  position: absolute;
  top: 0;
  left: 7px;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border: 1.5px solid #00b34a;
  border-radius: 50%;
  top: 7px;
}

.attendance-radio,
.absent-radio {
  border-radius: 25px;
  border: none !important;
}
.attendance-radio {
  background: #c2f2d6;
}

.absent-radio {
  background: #ffdbd9;
}
.present-text {
  color: #004d20 !important;
}
.absent-text {
  color: #801f19 !important;
}

.radio-present input:checked ~ .checkmark {
  background-color: #fff;
  border: 1.5px solid #00662b;
}

.radio-absent input:checked ~ .checkmark {
  background-color: #fff;
  border: 1.5px solid #801f19 !important;
}

.d-flex.teacher-box.mb-4 {
  overflow: overlay;
}
