<app-header></app-header>

<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="inner-wrapper w-100">
    <div class="today-container">
      <button type="button" class="d-flex back-button" (click)="backToCourse()">
        <i class="fa fa-angle-left left-arrow"></i>
        <p class="backtxt">Courses</p>
      </button>
      <div class="today-date">
        {{ todayDate | utcDateAndDay }}
      </div>
      <div *ngIf="isEmptyLesson == true" class="margin-top20">
        <span calss="no-data-text">There is no lessons for today</span>
      </div>
      <div
        class="today-courselist"
        *ngIf="todayCourse != undefined && isEmptyLesson == false"
      >
        <div
          class="d-flex today-coruse"
          *ngFor="let tcourse of todayCourse.courses; let i = index"
        >
          <!-- <div class="list-downarrow" (click)="expandTodayCourse()">
            <i class="fa fa-angle-right right-arrow"></i>
          </div> -->
          <div class="w-100 ">
            <div class="d-flex justify-content-between pl-2 mb-3">
              <div class="d-flex flex-column">
                <div
                  class="d-flex align-items-center"
                  style="margin-bottom:10px;"
                >
                  <p
                    class="course-name mb-0"
                    (click)="getcourseDetail(tcourse._id)"
                  >
                    {{ tcourse.name }}
                  </p>

                  <span class="course-code">
                    {{ tcourse.courseCode }}
                  </span>
                </div>
                <div
                  class="d-flex"
                  *ngIf="
                    tcourse.lessonDuration.startDate != undefined ||
                    tcourse.lessonDuration.endDate != undefined
                  "
                >
                  <span class="course-time">
                    {{ tcourse.lessonDuration.startDate | utcTime }} -{{
                      tcourse.lessonDuration.endDate | utcTime
                    }}
                  </span>
                  <span class="course-duration">
                    {{ tcourse.lessonDuration | lessonDuration }}
                  </span>
                </div>
              </div>
              <div class="d-flex course-attance">
                <div class="count-box present">
                  <p class="student-txt present mb-0">
                    {{ tcourse.attendance.present }}
                  </p>
                  <p class="student-txt present mb-0">Present</p>
                </div>
                <div class="count-box absent">
                  <p class="student-txt absent mb-0">
                    {{ tcourse.attendance.absent }}
                  </p>
                  <p class="student-txt absent mb-0">Absent</p>
                </div>
                <div class="count-box total">
                  <p class="student-txt total mb-0">
                    {{ tcourse.attendance.total }}
                  </p>
                  <p class="student-txt total mb-0">Total</p>
                </div>
              </div>
            </div>
            <div class="expand-list">
              <div class="d-flex teacher-box mb-4">
                <div class="d-flex">
                  <div>
                    <div class="img-wrap align-self-center">
                      <img src="{{ tcourse.teacher.profilePic }}" />
                    </div>
                  </div>

                  <!-- 
                  <div
                    class="d-flex flex-wrap flex-column justify-content-center pl-2 pt-1"
                  > -->
                  <!-- <p class="positon">Senior Teacher</p> -->
                  <div>
                    <p class="teacher-name pl-2 pt-2">
                      {{ tcourse.teacher.fullName }}
                    </p>
                  </div>

                  <!-- </div> -->
                </div>
                <div
                  class="d-flex ml-3"
                  *ngFor="let assTeacher of tcourse.assistants"
                >
                  <div>
                    <div class="img-wrap align-self-center">
                      <img src="{{ assTeacher.userDetails.profilePic }}" />
                    </div>
                  </div>

                  <!-- <div
                    class="d-flex flex-wrap flex-column justify-content-center pl-2 pt-1"
                  > -->
                  <!-- <p class="positon">Senior Teacher</p> -->
                  <div>
                    <p class="teacher-name pl-2 pt-2">
                      {{ assTeacher.userDetails.fullName }}
                    </p>
                  </div>

                  <!-- </div> -->
                </div>
              </div>
              <div class="card-columns student-list ">
                <div
                  class="card  mb-4"
                  *ngFor="let student of tcourse.students; let j = index"
                >
                  <div
                    class="d-flex justify-content-between student-box align-items-center"
                  >
                    <div class="d-flex">
                      <div>
                        <div class="img-wrap align-self-center">
                          <img src="{{ student.userDetails.profilePic }}" />
                        </div>
                      </div>

                      <p class="student-name mb-0">
                        {{ student.userDetails.fullName }}
                      </p>
                    </div>
                    <div class="d-flex" id="divToHide">
                      <div
                        id="divToHide"
                        class="present-wrap"
                        [ngClass]="{
                          'attendance-radio':
                            student.todayLesson.attendance == true
                        }"
                      >
                        <label id="divToHide" class="radio-present mb-0">
                          <p
                            class="mb-0"
                            [ngClass]="{
                              'present-text': student.todayLesson.attendance
                            }"
                          >
                            Present
                          </p>
                          <input
                            type="radio"
                            name="radio{{ i }}{{ j }}"
                            (click)="onClickRadio(null, 'present', student, i)"
                            [checked]="student.todayLesson.attendance == true"
                          />
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div
                        id="divToHide"
                        class="absent-wrap"
                        [ngClass]="{
                          'absent-radio':
                            student.todayLesson.attendance == false
                        }"
                      >
                        <label id="divToHide" class="radio-absent mb-0">
                          <p
                            class="mb-0"
                            [ngClass]="{
                              'absent-text':
                                student.todayLesson.attendance == false
                            }"
                          >
                            Absent
                          </p>
                          <input
                            type="radio"
                            name="radio{{ i }}{{ j }}"
                            (click)="
                              onClickRadio(makeupModal, 'absent', student, i)
                            "
                            [checked]="student.todayLesson.attendance == false"
                          />
                          <span class="checkmark"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #makeupModal let-c="close" let-d="dismiss">
      <div class="modal-header">
        <div class="d-flex flex-column ">
          <h3 class="makeup-pass-title">
            Absent
          </h3>
          <!-- <p class="makeup-pass-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
          <!-- <p
            *ngIf="pplLists.CUSTOMER.length == 0"
            class="makeup-pass-text warning-text"
          >
            Please register students into the class to issue makeup pass
          </p>
        </div> -->
        </div>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="closemakeupmodal()"
        >
          <span class="closemark">
            <div class="closemark_stem"></div>
            <div class="closemark_kick"></div>
          </span>
        </button>
      </div>
      <div class="makeup-style">
        <div class="d-flex">
          <div class="toggle-wrap" (click)="this.isGlobal = !isGlobal">
            <label class="switch">
              <input
                type="checkbox"
                (click)="isGlobal = !this.isGlobal"
                [checked]="isGlobal"
              />
              <span class="slider round"></span>
            </label>
          </div>
          <label class="switch-label" for="online">Issue makeup pass</label>
        </div>

        <div class="d-flex w-100" *ngIf="isGlobal">
          <div class="input-wrap p-0" style="width:80%;margin-right:20px">
            <div *ngIf="isGlobal" class="mb-0 mt-2 form-group">
              <label for="name" class="input-label">Name</label>
              <input
                type="text"
                class="form-control create-input"
                placeholder="Type makeup pass name here"
                name="name"
                [(ngModel)]="makeupForm.name"
                required
                #name="ngModel"
              />
            </div>
            <div *ngIf="isGlobal" class="mb-0 mt-2 form-group">
              <label for="name" class="input-label">Reason</label>
              <textarea
                class="form-control create-input"
                rows="4"
                placeholder="Got any reasons?"
                name="reason"
                [(ngModel)]="makeupForm.reason"
                #reason="ngModel"
                required
              ></textarea>
            </div>
          </div>
          <!-- <form class="form-wrap" novalidate #makeupF="ngForm" style="width:80%">
            <div class="modal-body">
              <div class="col-md-12 input-wrap">
                <div class="form-group">
                  <label for="name" class="input-label">Name</label>
                  <input type="text" class="form-control create-input" placeholder="Type makeup pass name here" name="name"
                    [(ngModel)]="makeupForm.name" required #name="ngModel" />
                </div>
                <div class="form-group">
                  <label for="reason" class="input-label">Reason</label>
                  <textarea class="form-control create-input" rows="4" placeholder="Got any reasons?" name="reason"
                    [(ngModel)]="makeupForm.reason" #reason="ngModel" required></textarea>
                </div>
              </div>
            </div>
       
          </form> -->
          <div
            *ngIf="makeupLists.length > 0"
            class="d-flex flex-column makeup-sidebar"
            style="width:50%;"
          >
            <h1 class="release-text container">Released makeup passes</h1>
            <div class="" *ngFor="let makeup of makeupLists">
              <!--for valid start-->
              <div class="col-md-12 av-block claimed-height">
                <!-- [ngClass]="{'claimed-height': makeup.passType === 'claimed'}" -->
                <div class="single-makeup claimed-height">
                  <div
                    class="makeup-head"
                    [ngClass]="{
                      'claimed-header': makeup.passType === 'claimed',
                      'expired-header': makeup.passType === 'expired'
                    }"
                  >
                    <p>
                      <span *ngIf="makeup.passType === 'available'">
                        Valid until
                        <span class="valid-date"
                          >{{ makeup.expirationDate.day }}
                          {{ makeup.expirationDate.month - 1 | TTmonth }}
                          {{ makeup.expirationDate.year }}</span
                        >
                      </span>
                      <span *ngIf="makeup.passType === 'claimed'">
                        <span>
                          <img
                            src="../../../assets/icons/badge_tick.svg"
                            alt=""
                          />
                        </span>
                        Claimed pass
                      </span>
                      <span *ngIf="makeup.passType === 'expired'">
                        <span>
                          <img
                            src="../../../assets/icons/badge_minus.svg"
                            alt=""
                          />
                        </span>
                        Expired pass
                      </span>
                    </p>
                  </div>
                  <div class="makeup-body">
                    <h5 class="makeup-title">{{ makeup.name }}</h5>
                    <p class="makeup-desc">{{ makeup.reason }}</p>
                    <div class="makeup-box">
                      <p>
                        Issued on {{ makeup.issueDate.day }}
                        {{ makeup.issueDate.month - 1 | TTmonth }}
                        {{ makeup.issueDate.year }}
                      </p>
                      <div class="issue-box d-flex flex-column">
                        <strong class="makeup-course-name"
                          >{{ makeup.course.name }}
                        </strong>
                        <label *ngIf="makeup.course.type !== 'ONLINE'">
                          <span
                            >{{ makeup.course.startTime.hr | timeFormat }} :
                            {{ makeup.course.startTime.min | timeFormat }}
                            {{ makeup.course.startTime.meridiem }}</span
                          >
                          -
                          <span
                            >{{ makeup.course.endTime.hr | timeFormat }} :
                            {{ makeup.course.endTime.min | timeFormat }}
                            {{ makeup.course.endTime.meridiem }}</span
                          ></label
                        >
                      </div>
                      <div *ngIf="makeup.passType === 'claimed'">
                        <p>
                          Issued on {{ makeup.claimedDateFor.day }}
                          {{ makeup.claimedDateFor.month - 1 | TTmonth }}
                          {{ makeup.claimedDateFor.year }}
                        </p>
                        <div class="issue-box d-flex flex-column">
                          <strong class="makeup-course-name">{{
                            makeup.makeupCourse.name
                          }}</strong>
                          <label *ngIf="makeup.course.type !== 'ONLINE'">
                            <span
                              >{{
                                makeup.makeupCourse.startTime.hr | timeFormat
                              }}
                              :
                              {{
                                makeup.makeupCourse.startTime.min | timeFormat
                              }}
                              {{ makeup.makeupCourse.startTime.meridiem }}</span
                            >
                            -
                            <span
                              >{{ makeup.makeupCourse.endTime.hr | timeFormat }}
                              :
                              {{ makeup.makeupCourse.endTime.min | timeFormat }}
                              {{ makeup.makeupCourse.endTime.meridiem }}</span
                            ></label
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="left-scoope"></div>
                  <div class="right-scoope"></div>
                </div>
              </div>
              <!--for valid end-->
            </div>
          </div>
        </div>
        <div class="d-flex flex-wrap mt-3">
          <div class="row w-100 users-wrap-box">
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
              <div
                class="d-flex flex-row justify-content-center align-items-center bg-primary single-student-modal "
              >
                <div class="d-flex pl-2 mr-2">
                  <span class="checkmark">
                    <div class="checkmark_stem"></div>
                    <div class="checkmark_kick"></div>
                  </span>
                </div>
                <div class="d-flex mr-auto  justify-content-center ">
                  <h4
                    *ngIf="studentDetail.preferredName != ''"
                    class="text-white align-self-center mb-0"
                    style="font-size:14px!important; word-break: break-all; "
                  >
                    {{
                      studentDetail.preferredName.length > 20
                        ? (studentDetail.preferredName | slice: 0:20) + '...'
                        : studentDetail.preferredName
                    }}
                  </h4>
                  <!-- <h4 *ngIf="user.preferredName == ''" class="text-white align-self-center mb-0"
                            style="font-size:14px!important; word-break: break-all; ">
                            {{
                                    user.email.length > 20
                                      ? (user.email | slice: 0:20) + '...'
                                      : user.email
                                  }}
                          </h4> -->
                </div>
                <div class="pr-2">
                  <div class="std-img-wrap1 justify-content-end">
                    <img
                      src="{{ studentDetail.profilePic }}"
                      class="user-pic"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn modal-cancel-btn"
          (click)="closemakeupmodal()"
        >
          Cancel
        </button>
        <button
          type="submit"
          *ngIf="isGlobal"
          class="btn btn-submit"
          (click)="issuePass(makeupForm, studentDetail._id)"
          [disabled]="makeupForm.reason == null || makeupForm.name == null"
        >
          Confirm
        </button>
        <button
          *ngIf="!isGlobal"
          class="btn btn-submit"
          (click)="issuePass()"
          type="submit"
        >
          Confirm
        </button>
      </div>
    </ng-template>
  </div>
</div>
