.assignmodal-title,
.selected-name,
.result-name {
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
}

.lType,
.lesson-time,
.cInfo {
  font-family: 'Inter-UI-Medium', Arial, sans-serif;
}

.modal-wrap {
  height: 780px;
}

.assign-modal-body {
  max-height: 565px;
  overflow: overlay;
}

.assign-modal-header,
.assign-modal-body {
  padding: 16px 32px 6px 32px !important;
}

.assign-modal-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.08);
}

.closeBtn {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

.date-wrap {
  background: #cce5ff;
  border-radius: 50px;
  padding: 2px 10px;
  color: #004080;
  font-size: 14px;
  line-height: 1.8;
}

.assignmodal-title {
  font-size: 28px;
  color: #2e3d4d;
}

.cInfo-dot-wrap2 {
  position: relative;
}

.cInfo-dot2 {
  background: #d4d5d6;
  position: absolute;
  top: 10px;
}

.cInfo-dot2 {
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

.cInfo-dot2 {
  top: 14px;
}

.search-wrapper {
  display: flex;
  background: #f2f4f5;
  padding: 12px 0px;
  color: #788796;
}

.search-icon {
  padding: 0px 14px;
  line-height: 1.5;
}

.input-search {
  width: 100%;
  border: none;
  background: none;
  outline: none;
}

.search-result {
  padding: 15px 0px;
  border-bottom: 1px solid #edeff0;
  cursor: pointer;
}

.circular-img {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  background: #ddd;
}

.circular-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.result-wrapper {
  height: 350px;
  overflow: overlay;
  padding: 0px 15px;
  border-radius: 4px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.result-name {
  line-height: 3;
  padding-left: 15px;
  color: #2e3e4d;
  font-size: 18px;
}

.cName {
  padding: 0px 12px;
  line-height: 2;
}

.lType {
  color: #64707d !important;
  font-size: 14px;
}

.add-teacher-icon {
  width: 285px;
  float: right;
  margin-top: 60px;
  padding-right: 20px;
}

.add-teacher-icon img {
  width: 100%;
}

.assign-text {
  color: #64707d;
  font-size: 28px;
  font-family: 'Inter-UI-SemiBold', Arial, sans-serif;
  width: 60%;
  margin-top: 110px;
}

.selected-name {
  color: #2e3d4d;
  font-size: 16px;
}

.lh-3 {
  line-height: 3;
}

.conflict-wrapper {
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 20px 0px;
  justify-content: space-between;
}

.conflict-col1,
.conflict-col2,
.conflict-col3,
.conflict-col4 {
  width: 23%;
  border-left: 1px solid #f2f4f5;
  padding-left: 20px;
}

.conflict-col2 {
  width: 31%;
}

.conflict-col1 {
  border: 0;
}

.lesson-time {
  font-size: 12px;
  color: #64707d;
}

.cInfo {
  color: #64707d !important;
  font-size: 14px;
}

.button-submit {
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  border: none;
  height: 45px;
  border-radius: 3px;
  width: 100px;
  background-color: #1682fb;
  color: #ffffff;
  cursor: pointer;
}

.hideStaff {
  display: none !important;
}

.btn-cancel {
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #2e3d4d;
  width: 123px;
  height: 44px;
  background: #ffffff;
  border-radius: 4px;
  border: 0;
  min-width: 90px;
  margin-right: 20px;
}
.btn-cancel:hover {
  background: #f2f4f5;
}
.btn-cancel:focus {
  outline: none;
  box-shadow: none;
}
