<!-- <app-header *ngIf="!isCategory && !isPlan" [ngClass]="{'stick': isSticky == true}"></app-header> -->

<button (click)="xxx()">click me</button>
<div class="form-group">
	<label for="exampleInputFile">Upload Profile</label>
	<div class="demo-wrap upload-demo">
	  	<div class="container tab-pad">
	        <div class="grid">
	          <div class="col-1-2">
	            <div class="actions">
	              <a class="btn file-btn">
	                <input type="file" class="upload-jpg form-control" id="upload" #cropper (change)='uploadCropImg($event)' value="Choose a file"
	                  accept="image/*" />
	              </a>
	              <button *ngIf="blankCrop"class="upload-result result-color" id="sizeDisable" (click)="cropResult()" [value]="blankCrop">Crop</button>
	            </div>
	          </div><br />
	          <div class="upload-demo-wrap">
	            <div id="upload-demo"></div>
	          </div>
	        </div>
	  	</div>
	</div>
</div>