<div class="" style="margin:0px 40px 0px 32px;">
  <div class="d-flex">
    <div class="col-md-4 p-0">
      <div class="d-flex">
        <div class="reschedule-img-div">
          <div class="reschedule-img-wrap">
            <img src="{{ selectedCustomer.profilePic }}" />
          </div>
        </div>
        <div class="reschedule-name-div">
          <p class="reschedule-name">{{ selectedCustomer.preferredName }}</p>
          <label class="reschedule-email">{{ selectedCustomer.email }}</label>
        </div>
      </div>
    </div>
    <div class="col-md-4 modal-cfees">
      <h5 class="mt-03 reschedule-modal-duration">
        <i class="fa fa-map-marker" style="font-size:15px"></i>
        {{ course.location.name }}
      </h5>
      <b class="reschedule-name">{{ course.name }}</b>
    </div>
    <div class="col-md-4 modal-cfees">
      <!-- <h5 *ngFor="let day of detailLists.repeatDays | weekDays">
          {{ day }}
        </h5> -->
      <h5
        class="reschedule-day"
        *ngFor="let day of course.repeatDays | weekDays"
      >
        {{ day }}
      </h5>
      <!-- <div class="modal-duration">{{ detailLists.duration.startDate | utcTime }} - {{ detailLists.duration.endDate
          | utcTime }}</div> -->
      <div
        class="reschedule-modal-duration"
        *ngIf="course.duration != undefined"
      >
        {{ course.duration.startDate | utcTime }} -
        {{ course.duration.endDate | utcTime }}
      </div>
    </div>
  </div>
  <div class="d-flex teacher-gp">
    <div class="reschedule-img-div teacherImg">
      <div class="reschedule-img-wrap teacherImg-wrap">
        <img src="{{ teacherDetail.profilePic }}" />
      </div>
    </div>
    <div class="reschedule-teacher-div">
      <!-- <p class="reschedule-teacher-position">Senior Teacher</p> -->
      <label class="reschedule-teacher-name">{{
        teacherDetail.fullName
      }}</label>
    </div>
  </div>
</div>

<div class="flexiMid" id="flexiMid">
  <div class="row lessonBoxgp">
    <div
      class="col-lg-2 col-md-3 lessonbox"
      *ngFor="let obj of reScheduleLists"
    >
      <div
        class="lessonbox-inner"
        (click)="lessonCheck(obj._id, obj)"
        *ngIf="
          obj.hasConflict == false &&
          obj.isAvaiable == true &&
          obj.isCheck == true
        "
        [ngStyle]="
          lessonObjArr.indexOf(obj) != -1
            ? { background: ' #007FFF' }
            : { background: '#FFFFFF' }
        "
      >
        <div class="d-flex">
          <div class="checkBox" *ngIf="lessonObjArr.indexOf(obj) != -1">
            <i class="fa fa-check checkIcon"></i>
          </div>
          <div class="uncheckBox" *ngIf="lessonObjArr.indexOf(obj) == -1"></div>
          <div class="showDate">
            <p
              class="date"
              [ngClass]="{ checkedDate: lessonObjArr.indexOf(obj) != -1 }"
            >
              {{ obj.startDate | utcShortDate }}
            </p>
            <p
              class="day"
              [ngClass]="{ checkedDext: lessonObjArr.indexOf(obj) != -1 }"
            >
              {{ obj.startDate | utcFullDay }}
            </p>
          </div>
        </div>
        <div
          class="statusBox"
          [ngClass]="{ checkStudent: lessonObjArr.indexOf(obj) != -1 }"
        >
          <p class="statusText">{{ obj.enrolledStudentCount }} students</p>
        </div>
      </div>
      <div
        class="lessonbox-inner-disable"
        *ngIf="
          obj.hasConflict == false &&
          obj.isAvaiable == true &&
          obj.isCheck == false
        "
      >
        <div class="d-flex">
          <div class="checkBox" *ngIf="lessonObjArr.indexOf(obj) != -1">
            <i class="fa fa-check checkIcon"></i>
          </div>
          <div class="uncheckBox" *ngIf="lessonObjArr.indexOf(obj) == -1"></div>
          <div class="showDate">
            <p
              class="date"
              [ngClass]="{ checkedDate: lessonObjArr.indexOf(obj) != -1 }"
            >
              {{ obj.startDate | utcShortDate }}
            </p>
            <p
              class="day"
              [ngClass]="{ checkedDext: lessonObjArr.indexOf(obj) != -1 }"
            >
              {{ obj.startDate | utcFullDay }}
            </p>
          </div>
        </div>
        <div
          class="statusBox statusBox-disabled"
          [ngClass]="{ checkStudent: lessonObjArr.indexOf(obj) != -1 }"
        >
          <p class="statusText">{{ obj.enrolledStudentCount }} students</p>
        </div>
      </div>
      <div
        class="lessonbox-skipped"
        *ngIf="obj.isAvaiable == false && obj.hasConflict == false"
      >
        <div class="d-flex">
          <div class="checkBox">
            <i class="fa fa-check checkIcon"></i>
          </div>
          <!-- <div class="uncheckBox" *ngIf="lessonObjArr.indexOf(obj) == -1"></div> -->
          <div class="showDate">
            <p class="date checkedDate">
              {{ obj.startDate | utcShortDate }}
            </p>
            <p class="day checkedDext">
              {{ obj.startDate | utcFullDay }}
            </p>
          </div>
        </div>
        <div
          class="statusBox"
          [ngClass]="{ checkStudent: lessonObjArr.indexOf(obj) != -1 }"
        >
          <p class="statusText">{{ obj.enrolledStudentCount }} students</p>
        </div>
      </div>
      <div
        class="lessonbox-conflict"
        id="lessonbox-conflict"
        *ngIf="obj.hasConflict"
      >
        <div class="d-flex justify-content-between">
          <div class="d-flex">
            <div class="exIcon">
              <i class="fa fa-exclamation-circle exclamationIcon"></i>
            </div>
            <div class="showDate">
              <p class="date">{{ obj.startDate | utcShortDate }}</p>
              <p class="day">{{ obj.startDate | utcFullDay }}</p>
            </div>
          </div>
          <!-- <div class="downArrow" (click)="showConflictBox($event, obj)">
          <i class="fa fa-angle-down downIcon"></i>
        </div> -->
        </div>

        <div class="statusBox">
          <p class="statusText">Skip: Conflict</p>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="rescheduleCircle" (click)="loadmoreReschedule()">
      <i class="fa fa-plus circlePlus"></i>
    </div>
    <p class="previousDate">Load More</p>
  </div>
</div>
