<div class="h-100">
  <div class="w-100 h-100">
    <div class="header">
      <div class="back-wrapper">
        <div class="d-flex back" (click)="backToCourses(); backClicked()">
          <i class="fa fa-angle-left left-arrow"></i>
          <p class="mb-0 back-txt">Back</p>
        </div>
      </div>
      <p class="header-txt">Reviews</p>
    </div>

    <div id="navbar">
      <a
        class="nav-link"
        [ngClass]="{ active: activeType == 'New' }"
        (click)="clickMsgType((activeType = 'New'))"
      >
        New({{ reviewList.length }})
        <div
          class="border-design"
          [ngClass]="{ active: activeType == 'New' }"
        ></div>
      </a>
      <a
        class="nav-link"
        [ngClass]="{ active: activeType == 'Approved' }"
        (click)="activeType = 'Approved'"
      >
        Approved
        <div
          class="border-design"
          [ngClass]="{ active: activeType == 'Approved' }"
        ></div>
      </a>
      <a
        class="nav-link"
        [ngClass]="{ active: activeType == 'Rejected' }"
        (click)="activeType = 'Rejected'"
      >
        Rejected
        <div
          class="border-design"
          [ngClass]="{ active: activeType == 'Rejected' }"
        ></div>
      </a>
    </div>

    <div class="d-flex content-wrapper">
      <div class="message-list" id="message-list">
        <div
          class="d-flex message-preview"
          *ngFor="let list of reviewList; let i = index"
          [ngClass]="{ active: activeIndex == i }"
          (click)="showMessageDetail(list, i)"
        >
          <div class="d-flex message-content">
            <div class="msg-con" *ngIf="!list.teacherOnly">
              <img src="../../../assets/img/Union.svg" />
            </div>
            <div class="msg-con" *ngIf="list.teacherOnly">
              <img src="../../../assets/img/lock.svg" />
            </div>
            <div class="">
              <p class="txt-msg" *ngIf="!list.teacherOnly">MESSAGE</p>
              <p class="txt-msg privateNote" *ngIf="list.teacherOnly">
                PRIVATE NOTES
              </p>
              <p class="txt-name">{{ list.sender.preferredName }}</p>
              <p class="txt-for">For: {{ list.student.preferredName }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="message-detail">
        <div class="d-flex all-fix" id="all-fix">
          <div class="d-flex justify-content-end btn-gp">
            <button class="btn all-reject">
              Reject all({{ reviewList.length }})
            </button>
            <button class="btn all-approve">
              Approve all({{ reviewList.length }})
            </button>
          </div>
        </div>

        <div
          class="d-flex flex-column justify-content-center align-items-center"
        >
          <div class="detail-wrapper">
            <div class="d-flex msg-title">
              <div class="msg-con">
                <img src="../../../assets/img/Union.svg" />
              </div>
              <div class="msg-title">Message</div>
            </div>
            <div class="d-flex box-wrapper">
              <div class="d-flex col-md-6">
                <div class="profile-pic">
                  <img src="{{ activeObj.sender.profilePic }}" />
                </div>
                <div class="d-flex flex-column nameWrapper">
                  <p class="lbl-text">From</p>
                  <p class="txt-name">{{ activeObj.sender.preferredName }}</p>
                </div>
              </div>
              <div class="d-flex col-md-6">
                <div class="profile-pic">
                  <img src="{{ activeObj.student.profilePic }}" />
                </div>
                <div class="d-flex flex-column nameWrapper">
                  <p class="lbl-text" *ngIf="!activeObj.teacherOnly">To</p>
                  <p class="lbl-text" *ngIf="activeObj.teacherOnly">For</p>

                  <p class="txt-name">{{ activeObj.student.preferredName }}</p>
                </div>
              </div>
            </div>
            <p class="msg-subject">Course: {{ activeObj.title }}</p>
            <p class="msg-body">
              {{ activeObj.message }}
            </p>
            <div class="msg-img" *ngIf="activeObj.photo">
              <img src="{{ activeObj.photo }}" />
            </div>
            <div></div>
          </div>
        </div>
        <div class="d-flex justify-content-between review-footer">
          <div class="d-flex direction-wrapper">
            <div class="arr-left mr-4" (click)="goToPrev()">
              <img src="../../../assets/img/arrow_left.svg" />
            </div>
            <div class="arr-right" (click)="goToNex()">
              <img src="../../../assets/img/arrow_right.svg" />
            </div>
          </div>
          <div class="comfirm-wrapper">
            <button class="btn btn-reject">Reject</button>
            <button class="btn btn-approve">Approve</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
