.noti-wrapper{
	padding-top: 40px;
}
.tool-checked{	
	margin-right: 0;
	flex: auto;
}
.tool-checked label{
	border: 1px solid #4392f1;
	border-right: 0;
	padding: 8px 6px;
	color: #4392f1;
	font-size: 16px;
	flex: auto;
	text-align: center;
}
.tool-checked:last-child label{
	border-right: 1px solid #4392f1;
	border-radius: 0 3px 3px 0;
}
.tool-checked:first-child label{
	border-radius: 3px 0 0 3px;
}
input[type="radio"] {
    display:none;
}
input[type="radio"]:checked{

}
.radio-selected{
	background: #4392f1;
	color: #fff !important;
}
.lable-title{
	font-family: 'Montserrat-Medium','Arial', sans-serif !important;
	font-size: 18px;
	color: #5e5e5e;
}
.notif .form-group{
	margin-bottom: 30px;
}
.title-heading{
	font-size: 27px;
	color: #5e5e5e;
	margin-bottom: 40px;
	padding-left: 15px;
	font-family: 'Montserrat-Medium','Arial', sans-serif !important;
}
.user-count{
	padding: 25px 65px;
    background: #ece8ef;
    display: table;
    border-radius: 5px;
    margin-top: 5em;
    margin-left: 3em;
}
.user-count p{
	margin-bottom: 0;
	font-size: 32px;
	min-height: 48px;
	min-width: 22px;
}
.choose-cat{	
	/*width: 95.5% !important;*/
}
.noti-sidebar{
	padding-top: 20px;
    padding-right: 0;
    padding-left: 0;
    border-right: 1px solid #dedede;
}
.noti-tab.active{
	background: #e6ecf2;
	color: #4292f1;
}
.noti-tab{
	background: #fff;
	padding: 14px 12px;
	border-radius: 0;
	outline: none;
	font-family: 'Montserrat-Medium','Arial', sans-serif !important;
}
.noti-tab:focus{
	outline: none;
	box-shadow: none;
}