<app-header [ngClass]="{ stick: isSticky == true }"></app-header>
<!-- <div class="d-flex flex-column h-100 justify-content-center align-items-center"> -->
<div class="d-flex flex-row h-100 w-100 content-wrapper">
  <div class="noti-sidebar h-100" id="noti-sidebar">
    <div
      class="side-bar-wrap bg-s20"
      [ngClass]="{
        'p-top': isSticky == true,
        'mid-top': isMidStick == true,
        'p-stick': isFixed == false
      }"
    >
      <div
        *ngIf="notiSidebar.length > 0"
        [ngClass]="{ active: notiType == 'send' || notiType == 'view' }"
        class="tab-wrap noti-tab-wrap"
      >
        <button
          class="btn noti-tab w-100 bg-s20 body-m text-c300"
          (click)="clickTab('dropdown')"
        >
          <span class="btnSpan">
            <img
              *ngIf="notiType == 'send' || notiType == 'view'"
              class="setting-icon"
              src="./assets/images/sidebar-notification.svg"
            />
            <img
              *ngIf="notiType != 'send' && notiType != 'view'"
              class="setting-icon"
              src="./assets/images/sidebar-notification@2x.png"
            />
            <span>Notification</span>
          </span>
        </button>
        <ul
          *ngIf="notiSidebar.length > 1"
          [ngClass]="{
            down:
              isdropdown == true && (notiType == 'send' || notiType == 'view')
          }"
          class="noti-dropdown"
        >
          <li
            class="body-m text-c300"
            [ngClass]="{ activetab: notiType == 'send' }"
            (click)="clickTab('send')"
          >
            Send notification
          </li>
          <li
            class="body-m text-c300"
            [ngClass]="{ activetab: notiType == 'view' }"
            (click)="clickTab('view')"
          >
            Sent history
          </li>
        </ul>
      </div>
      <!-- <div [ngClass]="{'active': notiType == 'send'}" class="tab-wrap">
					<button class="btn noti-tab w-100" (click)="clickTab('send')">
						<span class="btnSpan">
								<img *ngIf="notiType == 'send'" class="setting-icon" src="./assets/images/sidebar-notification_a@2x.png">
								<img *ngIf="notiType != 'send'" class="setting-icon" src="./assets/images/sidebar-notification@2x.png">
							<span>Send notification</span>
						</span>
					</button>
				</div>
				<div [ngClass]="{'active': notiType == 'view'}" class="tab-wrap">
					<button class="btn noti-tab w-100" (click)="clickTab('view')">
						<span class="btnSpan">
								<img *ngIf="notiType == 'view'" class="setting-icon" src="./assets/images/sidebar-notification_a@2x.png">
								<img *ngIf="notiType != 'view'" class="setting-icon" src="./assets/images/sidebar-notification@2x.png">
							<span>View sent history</span>
						</span>
					</button>
				</div> -->
      <div
        *ngIf="apgSidebar.length > 0"
        [ngClass]="{ active: notiType == 'apg' }"
        class="tab-wrap"
      >
        <button
          class="btn noti-tab w-100 bg-s20 body-m text-c300"
          (click)="clickTab('apg')"
        >
          <span class="btnSpan">
            <img
              *ngIf="notiType == 'apg'"
              class="setting-icon"
              src="./assets/images/tracking_module-active.svg"
            />
            <img
              *ngIf="notiType != 'apg'"
              class="setting-icon"
              src="./assets/images/tracking_module.svg"
            />
            <span class="setting-label">Tracking module</span>
          </span>
        </button>
      </div>
      <div
        *ngIf="quizwerkzSidebar.length > 0"
        [ngClass]="{ active: notiType == 'quizwerkz' }"
        class="tab-wrap"
      >
        <button
          class="btn noti-tab w-100 bg-s20 body-m text-c300"
          (click)="clickTab('quizwerkz')"
        >
          <span class="btnSpan">
            <img
              *ngIf="notiType == 'quizwerkz'"
              class="setting-icon"
              src="./assets/images/resource-active.svg"
            />
            <img
              *ngIf="notiType != 'quizwerkz'"
              class="setting-icon"
              src="./assets/images/resource.svg"
            />
            <span>Resources</span>
          </span>
        </button>
      </div>
      <div
        *ngIf="testWerkz.length > 0"
        [ngClass]="{ active: notiType == 'testWerkz' }"
        class="tab-wrap"
      >
        <button
          class="btn noti-tab w-100 bg-s20 body-m text-c300"
          (click)="clickTab('testWerkz')"
        >
          <span class="btnSpan">
            <img
              *ngIf="notiType == 'testWerkz'"
              class="setting-icon"
              src="./assets/images/testwerkz-active.svg"
            />
            <img
              *ngIf="notiType != 'testWerkz'"
              class="setting-icon"
              src="./assets/images/testwerkz.svg"
            />
            <span>TestWerkz</span>
          </span>
        </button>
      </div>
      <div
        *ngIf="calendarSidebar.length > 0"
        [ngClass]="{ active: notiType == 'calendar' }"
        class="tab-wrap"
      >
        <button
          class="btn noti-tab w-100 bg-s20 body-m text-c300"
          (click)="clickTab('calendar')"
        >
          <span class="btnSpan">
            <img
              *ngIf="notiType == 'calendar'"
              class="setting-icon"
              src="./assets/images/Calendar-active.svg"
            />
            <img
              *ngIf="notiType != 'calendar'"
              class="setting-icon"
              src="./assets/images/Calendar.svg"
            />
            <span>Calendar</span>
          </span>
        </button>
      </div>
      <div
        *ngIf="calendarSidebar.length > 0"
        [ngClass]="{ active: notiType == 'credential' }"
        class="tab-wrap"
      >
        <button
          class="btn noti-tab w-100 bg-s20 body-m text-c300"
          (click)="clickTab('credential')"
        >
          <span class="btnSpan">
            <img
              *ngIf="notiType == 'credential'"
              class="setting-icon"
              src="./assets/icons/key-active.svg"
            />
            <img
              *ngIf="notiType != 'credential'"
              class="setting-icon"
              src="./assets/icons/key.svg"
            />
            <span>Login credentials</span>
          </span>
        </button>
      </div>
      <div
        *ngIf="calendarSidebar.length > 0"
        [ngClass]="{ active: notiType == 'makeup' }"
        class="tab-wrap"
      >
        <button
          class="btn noti-tab w-100 bg-s20 body-m text-c300"
          (click)="clickTab('makeup')"
        >
          <span class="btnSpan">
            <img
              *ngIf="notiType == 'makeup'"
              class="setting-icon"
              src="./assets/images/makeup-active.svg"
            />
            <img
              *ngIf="notiType != 'makeup'"
              class="setting-icon"
              src="./assets/images/makeup.svg"
            />
            <span>Makeup pass</span>
          </span>
        </button>
      </div>
    </div>
  </div>
  <!-- <div class="d-flex flex-column w-100 align-items-center"> -->

  <div
    class="heading-margin d-flex flex-column align-items-center no-padding large-col"
    id="large-col"
  >
    <div
      class="d-flex flex-column w-100 h-100 main-wrapper"
      *ngIf="notiType == 'send' && notiSidebarDemo.send != ''"
    >
      <!-- <div class="d-flex flex-column">
								<div class="d-flex flex-row">
								<h2 class="title-heading margin-heading">Send notification</h2>
								<span class="location-name">{{locationName}}</span>
							</div>
							</div> -->
      <div class="d-flex mt-3">
        <h2
          style="margin-right: 5px;"
          class="title-heading h1-strong text-c300 pull-left"
        >
          Send notification
        </h2>
        <div class="mt-2">
          <label
            class="location-name small"
            [ngStyle]="{
              color: gtxtColor,
              background: gbgColor
            }"
            >{{ locationName }}</label
          >
        </div>

        <!-- [ngStyle]="{
            color: gtxtColor,
            background: gbgColor
          }" -->
      </div>
      <div>
        <p class="input-recommend body-m text-c100">
          Send custom notifications to your users either as email or push
          notification via the app.
        </p>
      </div>
      <div class="d-flex flex-row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
          <form novalidate #notiForm="ngForm" class="notif">
            <div class="form-group">
              <label for="address" class="sub-title body-xl text-c300"
                >Send to</label
              >
              <div class="d-flex tool-box">
                <div
                  class="form-check form-check-inline tool-checked bg-s0"
                  [ngClass]="{ selected: isChecked == 'allcustomer' }"
                >
                  <label class="form-check-label light-body-l text-b100">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="type"
                      id="type1"
                      value="allcustomer"
                      [(ngModel)]="item.type"
                      #type="ngModel"
                      [checked]="true"
                      (click)="somethingChanged('allcustomer')"
                    />
                    Customers
                  </label>
                </div>
                <div
                  [ngClass]="{ selected: isChecked == 'allstaff' }"
                  class="form-check form-check-inline tool-checked light-body-l text-b100 bg-s0"
                >
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="type"
                      id="type2"
                      value="allstaff"
                      [(ngModel)]="item.type"
                      #type="ngModel"
                      (click)="somethingChanged('allstaff')"
                    />
                    Staffs
                  </label>
                </div>
                <div
                  [ngClass]="{ selected: isChecked == 'category' }"
                  class="form-check form-check-inline tool-checked light-body-l text-b100 bg-s0"
                >
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="type"
                      id="type3"
                      value="category"
                      [(ngModel)]="item.type"
                      #type="ngModel"
                      (click)="somethingChanged('category')"
                    />
                    Category
                  </label>
                </div>
                <div
                  [ngClass]="{ selected: isChecked == 'course' }"
                  class="form-check form-check-inline tool-checked light-body-l text-b100 bg-s0"
                >
                  <label class="form-check-label ">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="type"
                      id="type4"
                      value="course"
                      [(ngModel)]="item.type"
                      #type="ngModel"
                      (click)="somethingChanged('course')"
                    />
                    Selected course
                  </label>
                </div>
                <div
                  class="form-check form-check-inline tool-checked light-body-l text-b100 bg-s0"
                >
                  <label
                    [ngClass]="{ selected: isChecked == 'user' }"
                    class="form-check-label"
                  >
                    <input
                      class="form-check-input"
                      type="radio"
                      name="type"
                      id="type5"
                      value="user"
                      [(ngModel)]="item.type"
                      #type="ngModel"
                      (click)="somethingChanged('user')"
                    />
                    Selected user
                  </label>
                </div>
              </div>
            </div>

            <div *ngIf="isChecked == 'category'" class="form-group choose-cat">
              <label for="typeahead-focus">Search for a category:</label>
              <input
                id="typeahead-focus"
                type="text"
                class="form-control remove-outline"
                name="itemID"
                [(ngModel)]="item.itemID"
                #itemID="ngModel"
                (focus)="focusSearch($event, 'category')"
                (focusout)="hideSearch($event)"
                (input)="changeSearch($event.target.value, 'category')"
                (keyup)="searchStart($event, 'category')"
                autocomplete="off"
              />
              <!-- <input
											id="typeahead-focus"
											type="text"
											class="form-control"
											name="itemID"
											[(ngModel)]="item.itemID"
											#itemID="ngModel"
											(focus)="focus$.next($event.target.value)"
											(click)="click$.next($event.target.value)"
											[ngbTypeahead]="search"
											#instance="ngbTypeahead"
											(ngModelChange)="valuechange($event, 'category')"
											[disabled]="categoryLists == undefined"
										/> -->
            </div>
            <div
              style="top: 225px;"
              class="search-result-box"
              *ngIf="isFousCategory == true"
            >
              <div
                class="single-result"
                (click)="selectData(category._id, category.name, 'category')"
                *ngFor="let category of categoryLists"
              >
                {{ category.name }}
              </div>
            </div>
            <div *ngIf="isChecked == 'course'" class="form-group">
              <label for="typeahead-focus">Search for a course:</label>
              <input
                id="typeahead-focus"
                type="text"
                class="form-control remove-outline"
                name="itemID"
                [(ngModel)]="item.itemID"
                #itemID="ngModel"
                (focus)="focusSearch($event, 'course')"
                (focusout)="hideSearch($event)"
                (input)="changeSearch($event.target.value, 'course')"
                (keyup)="searchStart($event, 'course')"
                autocomplete="off"
              />
              <!-- <input
											id="typeahead-focus"
											type="text"
											class="form-control"
											name="itemID"
											[(ngModel)]="item.itemID"
											#itemID="ngModel"
											(focus)="focus$.next($event.target.value)"
											(click)="click$.next($event.target.value)"
											[ngbTypeahead]="search"
											#instance="ngbTypeahead"
											(ngModelChange)="valuechange($event, 'course')"
											[disabled]="courseLists == undefined"
										/> -->
            </div>
            <div
              class="search-result-box"
              style="top: 225px;"
              *ngIf="isFousCourse == true"
            >
              <div
                class="single-result"
                (click)="selectData(course._id, course.name, 'course')"
                *ngFor="let course of courseLists"
              >
                {{ course.name }}
              </div>
            </div>

            <div *ngIf="isChecked == 'user'" class="form-group">
              <label for="typeahead-focus">Search for a user:</label>
              <input
                id="typeahead-focus"
                type="text"
                class="form-control remove-outline"
                name="itemID"
                [(ngModel)]="item.itemID"
                #itemID="ngModel"
                (focus)="focusSearch($event, 'user')"
                (focusout)="hideSearch($event)"
                (input)="changeSearch($event.target.value, 'user')"
                (keyup)="searchStart($event, 'user')"
                autocomplete="off"
              />
              <!-- <input
											id="typeahead-focus"
											type="text"
											class="form-control"
											name="itemID"
											[(ngModel)]="item.itemID"
											#itemID="ngModel"
											(focus)="focus$.next($event.target.value)"
											(click)="click$.next($event.target.value)"
											[ngbTypeahead]="search"
											#instance="ngbTypeahead"
											(ngModelChange)="valuechange($event, 'user')"
											[disabled]="userLists == undefined"
										/> -->
            </div>
            <div class="search-result-box" *ngIf="isFous == true">
              <div
                class="single-result"
                (click)="selectData(user.userId, user.preferredName, 'user')"
                *ngFor="let user of userLists"
              >
                {{ user.preferredName }}
              </div>
            </div>

            <div *ngIf="isChecked != 'user'" class="form-group">
              <div
                *ngIf="isChecked == 'allcustomer'"
                class="form-check  body-l text-c300"
              >
                <label class="form-check-label">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    name="active"
                    [checked]="!checkActive"
                    (change)="checkedActive($event, 'active')"
                  />
                  Includes inactive customers
                </label>
              </div>
              <div
                *ngIf="isChecked == 'allstaff'"
                class="form-check body-l text-c300"
              >
                <label class="form-check-label">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    name="activestaff"
                    [checked]="!checkActive"
                    (change)="checkedActive($event, 'active')"
                  />
                  <!-- "All user" with "Includes non-teaching staffs" -->
                  Includes inactive staffs
                </label>
              </div>
              <div
                *ngIf="isChecked == 'category'"
                class="form-check body-l text-c300"
              >
                <label class="form-check-label">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    name="activecategory"
                    [checked]="!checkActive"
                    (change)="checkedActive($event, 'active')"
                  />
                  <!-- "All user" with "Includes withdrawn students" -->
                  Includes inactive customers
                </label>
              </div>
              <div
                *ngIf="isChecked == 'course'"
                class="form-check body-l text-c300"
              >
                <label class="form-check-label">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    name="activecourse"
                    [checked]="!checkActive"
                    (change)="checkedActive($event, 'active')"
                  />
                  <!-- "All user" with "Includes withdrawn students" -->
                  Includes inactive customers
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="d-flex justify-content-between">
                <label for="address" class="body-xl text-c300">Subject</label>
                <div class="limit-word">
                  <span>{{ wordLength }}/60characters</span>
                </div>
              </div>
              <input
                type="text"
                class="form-control input-create text-c300 bg-s0 body-m"
                placeholder="Type subject line here..."
                name="subject"
                [(ngModel)]="item.subject"
                #subject="ngModel"
                (focus)="focusMethod($event, 'subject', $event.target.value)"
                (blur)="blurMethod($event, 'subject')"
                (input)="changeMethod($event.target.value)"
                maxlength="60"
                required
              />
              <div
                *ngIf="subject.errors && (subject.dirty || subject.touched)"
                class="alert alert-danger"
              >
                <div [hidden]="!subject.errors.required">
                  Subject is required!
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="d-flex justify-content-between">
                <label for="address" class="body-xl text-c300">Message</label>
                <!-- <div class="limit-word1">
                  <span>{{ wordLength }}/280characters</span>
                </div> -->
              </div>
              <textarea
                class="form-control input-create text-c300 bg-s0 body-m"
                rows="5"
                placeholder="Write message"
                name="message"
                [(ngModel)]="item.message"
                #message="ngModel"
                (focus)="focusMethod($event, 'msg', $event.target.value)"
                (blur)="blurMethod($event, 'msg')"
                (input)="changeMethod($event.target.value)"
                required
              ></textarea>
              <div
                *ngIf="message.errors && (message.dirty || message.touched)"
                class="alert alert-danger"
              >
                <div [hidden]="!message.errors.required">
                  Message is required!
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="address" class="body-xl text-c300"
                >Message type</label
              >
              <div class="d-flex flex-row">
                <div
                  class="col-md-6 d-flex flex-row switch-col "
                  *ngFor="let notiType of notiTypes; let i = index"
                >
                  <label class="text-c300 body-l">{{ notiType.name }}</label>
                  <div class="toggle-wrap">
                    <label class="radio-switch">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        name="notiType"
                        value="{{ notiType.name }}"
                        [checked]="notiType.checked"
                        (change)="checkedOptions(notiType, $event)"
                        required
                      />
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <div>
                <div class="info-message bg-s20 body-m text-c300">
                  The message will be sent to ({{ userCount }}) of
                  <span *ngIf="isChecked == 'allcustomer'">Customers</span>
                  <span *ngIf="isChecked == 'allstaff'">Staffs</span>
                  <span *ngIf="isChecked == 'category'">Category</span>
                  <span *ngIf="isChecked == 'course'">Selected course</span>
                  <span *ngIf="isChecked == 'user'">Selecte user</span>
                </div>
              </div>
              <button
                type="submit"
                (click)="sendNoti(item)"
                class="btn btn-create bg-b100 text-s0 "
                [disabled]="
                  !notiForm.valid || userCount === 0 || checkedType.length == 0
                "
              >
                Send
              </button>
            </div>
          </form>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <!--<div
            class="user-count bg-g25 text-g100"
            [ngClass]="userCount == 0 ? 'no-user' : ''"
          >
            <h4 class="h1-strong">{{ userCount }}</h4>
            <label class="body-m">ယူဆာများ</label>
          </div>-->
          <div
            class="flex-column user-count-outer"
            style="cursor: pointer;"
            (click)="openUserList(showUserListModal)"
            *ngIf="userCount != 0"
          >
            <div class="user-count-info flex-column">
              <div class="user-number">
                {{ userCount }}
              </div>
              <div class="user-text" *ngIf="userCount == 1">
                USER
              </div>
              <div class="user-text" *ngIf="userCount > 1">
                USERS
              </div>
            </div>
            <div class="eye-icon">
              <img style="padding: 10px" src="assets/icons/eye-open-icon.svg" />
            </div>
          </div>

          <div class="flex-column user-count-outer" *ngIf="userCount == 0">
            <div class="user-count-info flex-column">
              <div class="user-number-zero">
                0
              </div>
              <div class="user-text-zero">
                USER
              </div>
            </div>
            <div class="eye-icon">
              <img
                style="padding: 10px"
                src="assets/icons/eye-close-icon.svg"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="d-flex flex-column w-100 h-100 main-wrapper"
      *ngIf="notiType == 'view' && notiSidebarDemo.view != ''"
    >
      <h3 class="title-heading margin-heading h1-strong text-c300">
        Sent history
      </h3>
      <div
        class="notiGroup-wrap"
        *ngFor="let notiGroup of notiLists | groupBy: 'sentdate'"
      >
        <h5
          *ngIf="notiGroup.key == today"
          class="title-padding body-l text-c300 bg-s0"
        >
          Today, {{ notiGroup.key | date }}
        </h5>
        <h5
          *ngIf="notiGroup.key == yesterday"
          class="title-padding body-l text-c300 bg-s0"
        >
          Yesterday, {{ notiGroup.key | date }}
        </h5>
        <h5
          *ngIf="notiGroup.key != today && notiGroup.key != yesterday"
          class="title-padding body-l text-c300 bg-s0"
        >
          {{ notiGroup | getDay }}, {{ notiGroup.key | date }}
        </h5>
        <div
          class="history-wrap"
          *ngFor="let noti of notiGroup.value; let isLast = last"
        >
          <div class="flex-wrap">
            <div class="col-sm-2 oo" [ngClass]="{ notlast: !isLast }">
              <div class="same-label"></div>
              <label class="sentTime body-l text-c100">{{
                noti.senttime | convertTimeFormat
              }}</label>
            </div>
            <div
              [ngClass]="{
                borderOne: !isLast,
                borderTwo: isLast,
                'horizontal-line': isLast
              }"
              class="col-sm-10 noti-info"
            >
              <div class="same-label small text-c100">
                Sent to
              </div>
              <div class="user-info">
                <span class="text-c300">{{ noti.group.name }}</span>
                <span
                  *ngIf="noti.count > 1"
                  class="count-wrap bg-s20 small text-c100"
                  >{{ noti.count }} users</span
                >
                <span
                  *ngIf="noti.count == 1"
                  class="count-wrap bg-s20 small text-c100"
                  >{{ noti.count }} user</span
                >
                <span class="social-links">
                  <a
                    ><i id="mobile" class="fa fa-mobile" aria-hidden="true"></i
                  ></a>
                </span>
                <span class="social-links">
                  <a><i id="envelope" class="fa fa-envelope-o"></i></a>
                </span>
              </div>
              <div class="subject-wrap light-body-m text-c100 bg-s20">
                <div class="xxx" [ngClass]="{ notlast: !isLast }">
                  <div class="xx1" [ngClass]="{ line1: isLast }"></div>
                  <div class="xx2" [ngClass]="{ line1: isLast }"></div>
                </div>
                <div class="noti-subject">
                  <div class="noti-title body-m text-c100">
                    {{ noti.title }}
                  </div>
                  <read-more [text]="noti.message"></read-more>
                </div>
              </div>
              <div class="sender-info text-c100 small ">
                <span>Sent by</span>
                <ul>
                  <li>
                    <span id="senderName text-c300">{{
                      noti.sender.preferredName
                    }}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        *ngIf="notiLists.length >= 20"
        class="body-m btn-div text-b100 bg-s0 justify-content-center d-flex"
      >
        <button
          class="btn load-more remove-outline text-b100 bg-s0"
          (click)="showMore(notiLists.length)"
        >
          Load more
        </button>
      </div>
    </div>
    <div
      class="d-flex flex-column main-wrapper w-100 h-100"
      *ngIf="notiType == 'apg'"
    >
      <app-apg class="w-100 control-apg"></app-apg>
    </div>
    <div
      class="d-flex flex-column main-wrapper w-100 h-100"
      *ngIf="notiType == 'quizwerkz'"
    >
      <app-quizwerkz class="control-apg"></app-quizwerkz>
    </div>
    <div
      class="d-flex flex-column main-wrapper w-100 h-100"
      *ngIf="notiType == 'calendar'"
    >
      <app-calendar class="control-apg"></app-calendar>
    </div>
    <div
      class="d-flex flex-column main-wrapper w-100 h-100"
      *ngIf="notiType == 'credential'"
    >
      <app-credential
        style="height: 100%;"
        class="control-apg"
      ></app-credential>
    </div>
    <div
      class="d-flex flex-column main-wrapper w-100 h-100"
      *ngIf="notiType == 'makeup'"
    >
      <app-makeup-pass
        style="height: 100%;"
        class="control-apg"
      ></app-makeup-pass>
    </div>
    <div
      class="d-flex flex-column main-wrapper w-100 h-100"
      *ngIf="notiType == 'testWerkz'"
    >
      <app-testwerkz class="control-apg"></app-testwerkz>
    </div>
  </div>
  <!-- </div> -->
</div>
<!-- </div> -->
<!-- <block-ui message="Deafult Message"></block-ui> -->

<ng-template #showUserListModal let-c="close" let-d="dismiss">
  <div *ngIf="showUserList == true">
    <div class="d-flex flex-column justify-content-between">
      <div
        class="d-flex flex-column justify-content-between"
        style="padding: 32px 32px 0 32px !important;"
      >
        <div class="d-flex justify-content-between">
          <div>Send to</div>
          <div>
            <button
              (click)="closeModal('close')"
              aria-label="Close"
              class="modal-close ml-auto"
              type="button"
            >
              <span class="closemark">
                <div class="closemark_stem"></div>
                <div class="closemark_kick"></div>
              </span>
            </button>
          </div>
        </div>
        <div>
          <div class="modal-title text-c300 d-flex mr-auto">
            <span class="text-b100" *ngIf="userCount == 1">
              {{ userCount }} user</span
            >
            <span class="text-b100" *ngIf="userCount > 1">
              {{ userCount }} users</span
            >
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="row mt-3 mb3 list-scroll" style="padding: 32px">
          <div
            class="col-xs-6 col-sm-4 col-md-4 col-lg-3 col-xs-3"
            style="padding: 0px 10px 15px 10px !important;"
            *ngFor="let users of userList"
          >
            <div class="student-card d-flex flex-row" *ngIf="users">
              <div class="img-div">
                <div
                  class="img-wrap"
                  *ngIf="
                    users.profilePic &&
                    users.profilePic != undefined &&
                    users.profilePic != 'undefined'
                  "
                >
                  <img [src]="users.profilePic" />
                </div>
                <div
                  class="img-wrap"
                  *ngIf="
                    users.profilePic == undefined ||
                    users.profilePic == 'undefined'
                  "
                >
                  <img
                    src="https://brainlitz.s3.amazonaws.com/default/default_profile_pic.png"
                  />
                </div>
              </div>
              <div class="student-name" *ngIf="users.preferredName">
                {{
                  users.preferredName.length > 15
                    ? (users.preferredName | slice: 0:15) + '...'
                    : users.preferredName
                }}
              </div>
              <div
                class="student-name"
                *ngIf="users.preferredName == undefined && users.fullName"
              >
                {{
                  users.fullName.length > 15
                    ? (users.fullName | slice: 0:15) + '...'
                    : users.fullName
                }}
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex modal-footer">
          <button
            class="btn font-medium button-done"
            (click)="closeModal('close')"
          >
            Done
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
