.single-noti{
	border-bottom: 1px solid #dcdcdc;
	margin-bottom: 20px;
	padding: 5px 20px;
	color: #6f6f6f;
}
.single-noti span {
    font-weight: bold;
    font-family: 'Montserrat-Regular','Arial', sans-serif !important;
    font-size: 1.1em;
    color: #060606;
}
.noti-wrapper{
	padding-top: 40px;
}
.tool-checked{	
	margin-right: 0;
	flex: auto;
}
.tool-checked label{
	border: 1px solid #4392f1;
	border-right: 0;
	padding: 8px 6px;
	color: #4392f1;
	font-size: 16px;
	flex: auto;
	text-align: center;
}
.tool-checked:last-child label{
	border-right: 1px solid #4392f1;
	border-radius: 0 3px 3px 0;
}
.tool-checked:first-child label{
	border-radius: 3px 0 0 3px;
}
input[type="radio"] {
    display:none;
}
input[type="radio"]:checked{

}
.tool-checked.selected,
.tool-checked label.selected{
	background: #4392f1;
	color: #fff;
}
.selected label{
	color: #fff !important;	
}
.lable-title{
	font-family: 'Montserrat-Medium','Arial', sans-serif !important;
	font-size: 18px;
	color: #5e5e5e;
}
.notif .form-group{
	margin-bottom: 30px;
}
.title-heading{
	font-size: 27px;
	color: #5e5e5e;
	margin-bottom: 40px;
	padding-left: 15px;
	font-family: 'Montserrat-Medium','Arial', sans-serif !important;
}
.user-count{
	padding: 25px 65px;
    background: #ece8ef;
    display: table;
    border-radius: 5px;
    margin-top: 5em;
    margin-left: 3em;
}
.user-count p{
	margin-bottom: 0;
	font-size: 32px;
	min-height: 48px;
	min-width: 22px;
}
.choose-cat{	
	/*width: 95.5% !important;*/
}
.noti-sidebar{
	padding-top: 20px;
    padding-right: 0;
    padding-left: 0;
    border-right: 1px solid #dedede;
}
.tab-wrap{
	padding: 9px 0px;
	position: relative;
}
.active .noti-tab::after,
.active .noti-tab::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	left: 0;
}
.active .noti-tab::before {    
    border-bottom: 5px solid #4292f1;
    border-right: 3px solid transparent;
    top: 5px;
}
.active .noti-tab::after {  
   	border-top: 5px solid #4292f1;
   	border-right: 3px solid transparent;
   	bottom: 5px;
}
.active{
	background: #e6ecf2;
}
.active .noti-tab{
	background: #e6ecf2;
	color: #4292f1;
	border-left: 3px solid #4292f1;
}
.noti-tab{
	padding: 7px 12px;
	border-radius: 0;
	outline: none;
	border-left: 3px solid transparent;
	font-family: 'Montserrat-Medium','Arial', sans-serif !important;
}
.noti-tab:focus{
	outline: none;
	box-shadow: none;
}

@media (max-width: 1066px) {
	.tool-checked label{
		height: 66px;
	}
}