.disable-click {
  pointer-events: none;
}

.search-result-box {
  height: 300px;
  overflow: overlay;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  padding: 0 16px;
  border-radius: 0 0 4px 4px;
  position: absolute;
  width: 100%;
  top: 24.5%;
  background: #fff;
  z-index: 9;
}
.limit-type-wordcount{
  display:none;
  font-size: 14px;
  font-family: 'Montserrat-Medium','Arial', sans-serif !important;
  color: #0080ff;
}
.single-result {
  cursor: pointer;
  padding: 7px 0;
}

.stoke-1,
.stoke-2,
.icon-apg,
.stoke-2-first,
.stoke-2-sec {
  background: #edeff0;
}

.stoke-1 {
  padding: 4px;
  width: 96px;
}

.stoke-2,
.stoke-2-first,
.stoke-2-sec {
  margin-top: 12px;
  padding: 8px;
}

.stoke-2 {
  width: 128px;
}

.icon-apg {
  width: 28px;
  height: 28px;
  border-radius: 100%;
}

.stoke-wrap {
  margin-right: 20px;
  margin-bottom: 32px;
}

.stoke-2-first,
.stoke-2-sec {
  width: 58px;
}

.stoke-2-first {
  margin-right: 12px;
}

.main-wrapper {
  height: 80vh;
  /* cursor-on */
  padding: 0 15px;
}

.cancel-back {
  font-size: 16px;
  font-family: 'Montserrat-Medium', Arial, sans-serif;
  color: #2e3d4d !important;
  cursor: pointer;
}

.apg-share-bottom {
  position: fixed;
  width: 100%;
  border-top: 1px solid #eee;
  bottom: 0;
  left: 0;
  padding: 10px;
  background: #fff;
}

.shareApgLoadMore {
  padding-top: 6%;
  padding-bottom: 6%;
}

.apg-share-content {
  margin-top: 20px;
  padding-bottom: 20px;
}

.share-input .label-checked {
  background: #fff;
  border: 2px solid #3d5266;
  border-radius: 50%;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  margin-top: 3px;
  float: left;
}

.sticky-menu {
  position: fixed;
  width: 74.9%;
  z-index: 1;
  padding: 15px;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  top: 0px;
  background: #fff;
  box-shadow: 0 1px 5px 1px rgba(221, 221, 221, 0.6);
}

.stickywrap {
  top: 63px;
}

.apg-type,
.single-apg h4,
.apg-longterm,
.module-input label,
.input-label,
.input-recommend,
.modal-title,
.target {
  font-family: 'Montserrat-Semibold', Arial, sans-serif;
}

.input-recommend {
  font-size: 14px;
  color: #64707d;
}

.create-input:hover {
  background: #f7f9fa;
}

.input-wrap {
  padding-left: 0;
}

.input-wrap .form-group {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.radio-form-group{
  border-bottom: 0px !important;
}
.create-input:focus{
  -webkit-box-shadow: 0 1px 3px 2px rgba(213, 213, 213, 0.3);
  -moz-box-shadow: 0 1px 3px 2px rgba(213, 213, 213, 0.3);
  box-shadow: 0 1px 3px 2px rgba(213, 213, 213, 0.3);
}

.create-input {
  font-family: 'Montserrat-Regular', 'Arial', sans-serif !important;
  border-radius: .25rem;
  border: none;
  margin-bottom: 15px;
  padding: .6rem .75rem;
  margin-left: -.75rem;
  width: 103%;
  margin-top: 4px;
}

.apg-share,
.btn-action {
  font-family: 'Montserrat-Regular', Arial, sans-serif;
  background: transparent;
  border: none;
  cursor: pointer;
}

.card-columns {
  column-count: 2;
}

.btn-create {
  color: #fff;
  background-color: #1682fb;
  border: none;
  height: 45px;
  margin-right: 15px;
  border-radius: 3px;
}

.input-search-bg {
  padding: 12px 0 12px 12px !important;
  background: #f2f4f5;
  border: none;
  z-index: auto !important;
}

.btn-design {
  padding: 12px;
  background: #f2f4f5;
  border: none;
  border-radius: 4px !important;
  color: #788796;
  cursor: pointer;
}

.title-heading {
  font-size: 27px;
  padding-left: 15px;
  font-family: 'Montserrat-Semibold', Arial, sans-serif;
  color: #2e3e4d;
}

.apg-longterm {
  color: #64707d;
  line-height: 0.5;
  padding-left: 20px;
  position: relative;
  padding-top: 15px;
  font-size: 14px;
}

.apg-longterm::before {
  width: 4px;
  height: 4px;
  position: absolute;
  left: 10px;
  content: '';
  background: #64707d;
  border-radius: 50%;
}

.mt-30 {
  margin-top: 30px;
}

.apg-wrapper {
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 20px;
}

.apg-wrapper .card {
  border: none;
  margin-bottom: 0;
}

.apg-box .input-label {
  cursor: pointer;
}

.apg-box {
  padding: 24px;
  max-height: 152px;
  min-height: 152px;
  cursor: pointer;
}

.apg-box,
.single-apg {
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: 0.3s all ease-out;
}

.apg-box:hover,
.single-apg:hover {
  -webkit-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1) !important;
  -ms-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1) !important;
}

.single-apg {
  margin-bottom: 20px;
  margin-top: 5px;
}

.apg-type {
  margin-bottom: 0;
  font-size: 12px;
  color: #64707d;
}

.single-apg h4 {
  color: #2e3e4d;
  margin-bottom: 6px;
}

.single-apg .apg-desc {
  color: #64707d;
  font-family: 'Montserrat-Regular', Arial, sans-serif;
  font-size: 14px;
  text-align: justify;
}

.apg-scroll {
  max-height: 75px;
  overflow: overlay;
  /*color: #64707d;
    display: block;
    max-height: 75px;
    overflow-y: scroll;
    text-align: justify;*/
}

.info-section {
  padding: 20px 20px 0;
}

.btn-section {
  border-top: 1px solid #edeff0;
  padding: 10px;
}

.apg-share {
  color: #0080ff;
  font-size: 14px;
}

.btn-action:first-child {
  color: orange;
}

.btn-action {
  font-size: 14px;
  color: red;
}

.heading-margin {
  margin-top: 23px;
}

.form-footer {
  position: fixed;
  /* width: 100%; */
  bottom: 0;
  padding: 20px;
  right: 0;
  background: #fff;
}

.back-wrap {
  padding: 23px 15px 15px;
}

.back-to {
  font-family: 'Montserrat-Medium', Arial, sans-serif;
  color: #2e3d4d !important;
  padding-left: 0 !important;
  cursor: pointer;
  font-size: 16px;
}

.back-to i,
.back-to p {
  float: left;
}

.back-to i {
  float: left;
  font-size: 23px;
}

.back-to p {
  float: left;
  margin-bottom: 0;
  line-height: 1.6;
  margin-left: 4px;
}

.apg-form {
  padding: 20px 15px;
}

.single-apg h4,
.module-input label,
.share-input label,
.input-label {
  font-size: 18px;
}

.input-label {
  margin-bottom: 0;
}

.share-input label {
  cursor: pointer;
  width: 100%;
  border: none;
  padding: 15px 20px;
  text-align: left;
  font-size: 18px;
  -webkit-box-shadow: 0 1px 5px 1px rgba(221, 221, 221, 0.6);
  box-shadow: 0 1px 5px 1px rgba(221, 221, 221, 0.6);
  margin-bottom: 1.7em;
  border-radius: 3px;
}

.module-input label {
  cursor: pointer;
  width: 100%;
  border: none;
  padding: 16px 22px;
  text-align: left;
  -webkit-box-shadow: 0 1px 5px 1px rgba(221, 221, 221, 0.5);
  box-shadow: 0 1px 5px 1px rgba(221, 221, 221, 0.5);
  margin-bottom: 1.7em;
  border-radius: 3px;
  transition: 0.3s all ease-out;
}

.module-input:hover label {
  cursor: pointer;
  -webkit-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1) !important;
  -ms-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1) !important;
}

.module-input input[type="radio"],
.share-input input[type="radio"] {
  display: none;
}

.module-input .label-checked {
  background: #fff;
  border: 2px solid #3d5266;
  border-radius: 50%;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 16px;
  right: 22px;
}

.module-img {
  display: block;
  padding: 20px 0 10px;
  min-height: 77px;
}

.module-input label.selected,
.share-input label.selected {
  background: #1683FB;
  color: #fff;
  box-shadow: 0 1px 5px 1px rgb(22, 131, 251);
}

.module-input label.selected .label-checked,
.share-input label.selected .label-checked {
  border: 2px solid #fff;
  box-shadow: inset 0 0px 0px 2px rgb(22, 131, 251);
}

.btn-submit,
.btn-cancel {
  font-family: 'Montserrat-Medium', 'Arial', sans-serif;
  border: none;
  height: 45px;
  border-radius: 3px;
  width: 100px;
}

.btn-submit {
  color: #fff;
  background-color: #1682fb;
  margin-left: 15px;
}

.btn-cancel {
  background-color: #f2f4f5;
}

.btn-create {
  font-family: 'Montserrat-Medium', 'Arial', sans-serif;
  color: #fff;
  background-color: #1682fb;
  border: none;
  height: 45px;
  border-radius: 3px;
}

.modal-title {
  font-size: 20px;
  color: #2e3d4d;
}

.apg-confirm p {
  color: #64707d;
}

.modal-cancel-btn,
.modal-delete-btn {
  font-size: 16px;
  font-family: 'Montserrat-Regular', Arial, sans-serif;
  border-radius: 3px;
  height: 44px;
  min-width: 90px;
}

.modal-delete-btn {
  background: #ff3d33;
  color: #fff;
}

.modal-cancel-btn {
  color: #2e3d4d;
}

.modal-header {
  border-bottom: none;
  padding-bottom: 0;
  padding-top: 24px;
}

.modal-footer {
  border-top: none;
  padding-top: 0;
}

.target {
  color: #ff3d33;
}



.tab-wrap {
  width: 50%;
}

.tab-wrap button {
  background: #ddd;
  padding: 15px 0;
}

.tab-wrap button:focus {
  box-shadow: none;
}


.active .noti-tab {
  color: #4292f1;
  background: #e6ecf2;
  border-left: 2px solid;
}

.noti-tab {
  border-radius: 0;
}

.height-scroll {
  overflow-y: overlay;
  height: 120px;
  padding: 0 20px;
}

.height-scroll-template {
  overflow-y: overlay;
  height: 492px;
  padding: 0 20px;
}

.scroll {
  height: 500px;
  overflow-y: overlay;
  margin-top: 30px;
}

.pd-lft-rht {
  padding: 0 20px;
}

.mr-lft-20 {
  margin-left: 20px;
}

.required:after {
  content: " *";
  color: red;
}

.load-more1 {
  /* padding-left: 25%; */
}

.load-more {
  position: fixed;
  z-index: 1;
  width: 85%;
  background: #fff;
  border-top: 1px solid #eee;
  padding: 10px;
  bottom: 0;
  right: 0;
  text-align: center;
}

.load-more1 button,
.load-more button {
  color: #0080ff;
  font-size: 14px;
  font-family: 'Montserrat-Semibold', Arial, sans-serif;
}


.evaluation-Name {
  font-size: 18px;
  color: #2e3e4d;
  font-family: 'Montserrat-Semibold', Arial, sans-serif;
}

.icon {
  display: inline-block;
  width: 16px;
  line-height: 16px;
  background: #8fa1b3;
  border-radius: 10px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-family: Montserrat-SemiBold;
  font-weight: 600;
}

.add-requirement {
    padding-left: 84px;
    color: #007fff;
    font-size: 16px;
    margin: 0px !important;
    font-family: 'Montserrat-Regular', Arial, sans-serif;
    background: none;
    border: none;
    outline: none;
}
.add-requirement:disabled{
    opacity: 0.65;
    cursor: not-allowed !important;
}

.downIcon {
  padding-left: 16px;
  padding-right: 15px;
}

.toggle-wrap {
  padding-left: 40px;
}

.pass-label {
  font-family: 'Montserrat-Regular', Arial, sans-serif;
  color: #64707d;
  font-size: 14px;
}

.pass-mark-input {
  border-radius: 8px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  width: 48px;
  height: 24px;
  border: none;
  color: #64707d;
  font-size: 14px;
  margin-left: 78px;
  text-align: center;
  font-family: 'Montserrat-SemiBold', Arial, sans-serif;
}

.pass-mark-input::-webkit-inner-spin-button,
.pass-mark-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pass-mark {
  padding-bottom: 4px;
  margin-bottom: 0px !important;
  color: #64707d;
  font-size: 14px;
  font-family: 'Montserrat-SemiBold', Arial, sans-serif;
}

.add-new-skill {
  font-family: 'Montserrat-Medium', Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #0080ff;
  padding-left: 20px;
  cursor:pointer;
  margin-bottom:0px;
  padding-top: 20px;
  padding-bottom: 80px;
}
.container.requirement{
  padding-left:30px !important;
}
.evaluation-name {
  width: 476px;
  font-size: 16px;
  border: none;
  font-family: 'Montserrat-Regular', Arial, sans-serif;
  border-bottom: 1px solid #edeff0;
  padding-bottom: 24px;
}

.skill-name {
  padding-left: 12px;
  font-family: 'Montserrat-Regular', Arial, sans-serif;
  font-size: 16px;
  background: transparent;
  border: none;
  padding-bottom: 16px;
  padding-top: 16px;
}

.inform-wrapper {
  width: 476px;
  padding-top: 32px;
  padding-bottom: 20px;
}

.inform-text {
  font-size: 14px;
  color: #64707d;
  font-weight: 500;
  font-family: 'Montserrat-Medium', Arial, sans-serif;
}

.requirement-name {
  resize: none;
  border: none;
  border-bottom: 1px solid #edeff0;
  width: 396px;
  padding-top: 20px;
  padding-bottom: 20px;
    overflow: hidden;
    resize:none;
}

.requirement-wrapper {
  min-height: 100px;
  overflow: auto;
  max-height: 200px;
  overflow: auto;
}

.skill-requirement-wrapper {
  width: 480px;
 margin-left:2px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.1);
}
.skill-header{
  -webkit-border-top-left-radius: 8px;
-webkit-border-top-right-radius: 8px;
-moz-border-radius-topleft: 8px;
-moz-border-radius-topright: 8px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
}
.skill-name:focus,
.evaluation-name:focus,
.requirement-name:focus,
.pass-mark-input:focus {
  outline: none;
  box-shadow: none;
}

.min_input:focus,
.max_input:focus {
  outline: none;
  /* box-shadow: none; */
}

.close-search {
  position: relative;
  right: 0px;
  top: 18px;
  width: 16px;
  height: 16px;
  background: #d4d5d6;
  border-radius: 50%;
  z-index: 99;
  -ms-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  cursor: pointer;
}

/* .close-search:hover,
  .close-search:focus{
    box-shadow: 0 0 0 11px #f2f4f5!important;
  } */
.close-search:before,
.close-search:after {
  position: absolute;
  left: 7px;
  content: ' ';
  height: 9px;
  width: 2px;
  background-color: #fff;
  top: 3px;
}

.close-search:before {
  transform: rotate(45deg);
}

.close-search:after {
  transform: rotate(-45deg);
}


.close-search1 {
  position: relative;
  left: 444px;
  top: 19px;
  width: 16px;
  height: 16px;
  background: #d4d5d6;
  border-radius: 50%;
  z-index: 99;
  -ms-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  cursor: pointer;
}

/* .close-search1:hover,
  .close-search1:focus{
    box-shadow: 0 0 0 11px #f2f4f5!important;
  } */
.close-search1:before,
.close-search1:after {
  position: absolute;
  left: 7px;
  content: ' ';
  height: 9px;
  width: 2px;
  background-color: #fff;
  top: 3px;
}

.close-search1:before {
  transform: rotate(45deg);
}

.close-search1:after {
  transform: rotate(-45deg);
}

.cursor-on {
  cursor: pointer;
  height: 60px;
  /* margin-bottom: 50px; */
}

.remove-outline:focus {
  outline: none;
  box-shadow: none;
  background: none;
}

.remove-outline {
  background: none;
}

.pad-bottom {
  /*padding-bottom: 100px;*/
  margin-bottom: 70px;
}

.input-search-bg:focus {
  outline: none;
  box-shadow: none;
}

@media (max-width: 360px) {
  .card-columns {
    column-count: 1;
  }
}

@media (min-width: 1300px) {
  .card-columns {
    column-count: 2;
  }

}

@media (min-width: 2000px) {
  .card-columns {
    column-count: 2;
  }

  /* .col-xxl{
        width: 25%;
        flex: 0 0 25%;
        max-width: 25%;
    } */
}


.switch {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 20px;
  margin-top: 8px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "\2012";
  color: #d8dbde;
  height: 14px;
  width: 14px;
  left: 1px;
  top: 1px;
  background-color: #64707d;
  -webkit-transition: .4s;
  transition: .4s;
  text-align: center;
  vertical-align: middle;
  background-position: center;
  line-height: 1;
  font-size: 14px;
  font-weight: 900;
}

input:checked+.slider {
  border: 2px solid #0080ff;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3 !important;
}

input:checked+.slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
  background: #0080ff;
  content: "";
  background-image: url(/assets/img/tick.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
  border: 2px solid #64707d;
}

.slider.round:before {
  border-radius: 50%;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
  background: white;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.08);
  -moz-box-shadow: 2px 2px 2px 2px   rgba(0,0,0,0.08);
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.08);
  border-radius: 5px;
  cursor : all-scroll;

}

/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}

/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

/* added to the source element while its mirror is dragged */
.gu-transit {
  /* display:none !important; */
  /* opacity: 0; */
  background:white;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.img-wrapper {
  width:32px;
  position: relative;
  /* width: 48px; */
}

.move-sign {
  margin: 0;
  padding:10px;
  position: absolute;
  /* height: 32px; */
  top: 50%;
  transform: translate(0, -50%);
  cursor:all-scroll;
}
.group-handle-wrapper{
  padding-left:5px;
}
.group-handle {
  margin: 0;
  padding:10px;
  position: absolute;
  /* height: 32px; */
  top: 50%;
  transform: translate(0, -50%);
  cursor:all-scroll;
}
.selection-wrapper.gu-transit{
  display:none;
}
.requirement.gu-transit{
  opacity: 0;
}
.skill-requirement-wrapper.gu-transit{
 opacity : 0.5;
}
.requirement.gu-mirror{
  height:70px !important;
  padding:0px;
  margin:0px;
  overflow: hidden;
}

/* ///////radio////// */
.type-input {
  margin-right:36px;
  width: 100px;
  height: 86px;
  display: inline-block;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.1);

}
.radio-wrapper{
  margin-left:12px;
}
.radio-group{
  margin-top: 32px;
  display:flex;
}
.activeRadio{
  background: #007fff;
  color:white;
}
.activeRadio>.radio-wrapper>.huey-child{
  color:white;
}
.huey{
  margin-top:12px;
  line-height: 18px;
  margin-bottom: 0px !important;
  font-family: 'Montserrat-Semibold', Arial, sans-serif;

}
.huey-child{
  font-family: 'Montserrat-Medium', Arial, sans-serif;
  font-size: 12px;
  color:#64707d;
}
.form-radio{
  visibility: hidden;
  margin-top:12px;
  display:block;
  width:12px;
}
.activeRadio .label-checked{
  border: 2px solid #fff;
  -webkit-box-shadow: inset 0 0px 0px 2px rgb(22, 131, 251);
  box-shadow: inset 0 0px 0px 2px rgb(22, 131, 251);
  /*background-position: center;*/
}
.label-checked {
  background: #fff;
  border: 2px solid #3d5266;
  border-radius: 50%;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  float: left;
}

.form-radio:checked{
  visibility: hidden;

  background: white;
	border : 3px solid blue;
}
.requirement-box{
  font-size:18px;
  line-height: 22px;
  color: #2e3e4d;
  font-family: 'Montserrat-Semibold', Arial, sans-serif;
}
.input-result{
  margin-top:32px;
}
.data-value:focus{
  box-shadow: none;
  outline: none;
}
.data-value{
 font-family: 'Montserrat-Regular', 'Arial', sans-serif !important;
  border-radius: .25rem;
  border: none;
  margin-bottom: 15px;
  padding: .6rem .75rem;
  margin-left: -.75rem;
  width: 456px;
  margin-top: 4px;
  padding-bottom: 0px;
  padding-top: 20px;
}
.data-close {
  position: relative;
  /* left: 444px; */
  /* top: 19px; */
  width: 16px;
  height: 16px;
  background: #d4d5d6;
  border-radius: 50%;
  z-index: 99;
  -ms-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  cursor: pointer;
}
.data-close:before,
.data-close:after {
  position: absolute;
  left: 7px;
  content: ' ';
  height: 9px;
  width: 2px;
  background-color: #fff;
  top: 3px;
}

.data-close:before {
  transform: rotate(45deg);
}

.data-close:after {
  transform: rotate(-45deg);
}
.data-list-title{
  width: 72px;
  font-family:'Montserrat-SemiBold', 'Arial', sans-serif !important;
  font-size: 18px;
  color:#2e3e4d;
}
.newValue{
  width: 151px;
  font-family: 'Montserrat-Medium', 'Arial', sans-serif !important;
  font-size: 16px;
  color: #0080ff;
  padding-top: 20px;
  padding-left: 44px;
}
.requirements-wrapper{
  max-height: 480px;
  overflow: auto;
  width:800px;

}
/* input#apg_rangeId {
  -webkit-appearance: none;
  width: 312px;
  height: 8px;
  background: #edeff0;
  border-radius: 4px;
  margin: 12px 22px 12px 22px;
}

input#apg_rangeId::-webkit-slider-thumb {
   -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #d4d5d6; 
  height: 16px;
  width: 16px;
  -webkit-appearance: none;
  appearance: none;
  background: #0080ff;
  border-radius: 50%;
  box-shadow: 5px 0 0 -6px #e3e4e6, 6px 0 0 -6px #e3e4e6, 7px 0 0 -6px #e3e4e6, 8px 0 0 -6px #e3e4e6, 9px 0 0 -6px #e3e4e6, 10px 0 0 -6px #e3e4e6, 11px 0 0 -6px #e3e4e6, 12px 0 0 -6px #e3e4e6, 13px 0 0 -6px #e3e4e6, 14px 0 0 -6px #e3e4e6, 15px 0 0 -6px #e3e4e6, 16px 0 0 -6px #e3e4e6, 17px 0 0 -6px #e3e4e6, 18px 0 0 -6px #e3e4e6, 19px 0 0 -6px #e3e4e6, 20px 0 0 -6px #e3e4e6, 21px 0 0 -6px #e3e4e6, 22px 0 0 -6px #e3e4e6, 23px 0 0 -6px #e3e4e6, 24px 0 0 -6px #e3e4e6, 25px 0 0 -6px #e3e4e6, 26px 0 0 -6px #e3e4e6, 27px 0 0 -6px #e3e4e6, 28px 0 0 -6px #e3e4e6, 29px 0 0 -6px #e3e4e6, 30px 0 0 -6px #e3e4e6, 31px 0 0 -6px #e3e4e6, 32px 0 0 -6px #e3e4e6, 33px 0 0 -6px #e3e4e6, 34px 0 0 -6px #e3e4e6, 35px 0 0 -6px #e3e4e6, 36px 0 0 -6px #e3e4e6, 37px 0 0 -6px #e3e4e6, 38px 0 0 -6px #e3e4e6, 39px 0 0 -6px #e3e4e6, 40px 0 0 -6px #e3e4e6, 41px 0 0 -6px #e3e4e6, 42px 0 0 -6px #e3e4e6, 43px 0 0 -6px #e3e4e6, 44px 0 0 -6px #e3e4e6, 45px 0 0 -6px #e3e4e6, 46px 0 0 -6px #e3e4e6, 47px 0 0 -6px #e3e4e6, 48px 0 0 -6px #e3e4e6, 49px 0 0 -6px #e3e4e6, 50px 0 0 -6px #e3e4e6, 51px 0 0 -6px #e3e4e6, 52px 0 0 -6px #e3e4e6, 53px 0 0 -6px #e3e4e6, 54px 0 0 -6px #e3e4e6, 55px 0 0 -6px #e3e4e6, 56px 0 0 -6px #e3e4e6, 57px 0 0 -6px #e3e4e6, 58px 0 0 -6px #e3e4e6, 59px 0 0 -6px #e3e4e6, 60px 0 0 -6px #e3e4e6, 61px 0 0 -6px #e3e4e6, 62px 0 0 -6px #e3e4e6, 63px 0 0 -6px #e3e4e6, 64px 0 0 -6px #e3e4e6, 65px 0 0 -6px #e3e4e6, 66px 0 0 -6px #e3e4e6, 67px 0 0 -6px #e3e4e6, 68px 0 0 -6px #e3e4e6, 69px 0 0 -6px #e3e4e6, 70px 0 0 -6px #e3e4e6, 71px 0 0 -6px #e3e4e6, 72px 0 0 -6px #e3e4e6, 73px 0 0 -6px #e3e4e6, 74px 0 0 -6px #e3e4e6, 75px 0 0 -6px #e3e4e6, 76px 0 0 -6px #e3e4e6, 77px 0 0 -6px #e3e4e6, 78px 0 0 -6px #e3e4e6, 79px 0 0 -6px #e3e4e6, 80px 0 0 -6px #e3e4e6, 81px 0 0 -6px #e3e4e6, 82px 0 0 -6px #e3e4e6, 83px 0 0 -6px #e3e4e6, 84px 0 0 -6px #e3e4e6, 85px 0 0 -6px #e3e4e6, 86px 0 0 -6px #e3e4e6, 87px 0 0 -6px #e3e4e6, 88px 0 0 -6px #e3e4e6, 89px 0 0 -6px #e3e4e6, 90px 0 0 -6px #e3e4e6, 91px 0 0 -6px #e3e4e6, 92px 0 0 -6px #e3e4e6, 93px 0 0 -6px #e3e4e6, 94px 0 0 -6px #e3e4e6, 95px 0 0 -6px #e3e4e6, 96px 0 0 -6px #e3e4e6, 97px 0 0 -6px #e3e4e6, 98px 0 0 -6px #e3e4e6, 99px 0 0 -6px #e3e4e6, 100px 0 0 -6px #e3e4e6, 101px 0 0 -6px #e3e4e6, 102px 0 0 -6px #e3e4e6, 103px 0 0 -6px #e3e4e6, 104px 0 0 -6px #e3e4e6, 105px 0 0 -6px #e3e4e6, 106px 0 0 -6px #e3e4e6, 107px 0 0 -6px #e3e4e6, 108px 0 0 -6px #e3e4e6, 109px 0 0 -6px #e3e4e6, 110px 0 0 -6px #e3e4e6, 111px 0 0 -6px #e3e4e6, 112px 0 0 -6px #e3e4e6, 113px 0 0 -6px #e3e4e6, 114px 0 0 -6px #e3e4e6, 115px 0 0 -6px #e3e4e6, 116px 0 0 -6px #e3e4e6, 117px 0 0 -6px #e3e4e6, 118px 0 0 -6px #e3e4e6, 119px 0 0 -6px #e3e4e6, 120px 0 0 -6px #e3e4e6, 121px 0 0 -6px #e3e4e6, 122px 0 0 -6px #e3e4e6, 123px 0 0 -6px #e3e4e6, 124px 0 0 -6px #e3e4e6, 125px 0 0 -6px #e3e4e6, 126px 0 0 -6px #e3e4e6, 127px 0 0 -6px #e3e4e6, 128px 0 0 -6px #e3e4e6, 129px 0 0 -6px #e3e4e6, 130px 0 0 -6px #e3e4e6, 131px 0 0 -6px #e3e4e6, 132px 0 0 -6px #e3e4e6, 133px 0 0 -6px #e3e4e6, 134px 0 0 -6px #e3e4e6, 135px 0 0 -6px #e3e4e6, 136px 0 0 -6px #e3e4e6, 137px 0 0 -6px #e3e4e6, 138px 0 0 -6px #e3e4e6, 139px 0 0 -6px #e3e4e6, 140px 0 0 -6px #e3e4e6, 141px 0 0 -6px #e3e4e6, 142px 0 0 -6px #e3e4e6, 143px 0 0 -6px #e3e4e6, 144px 0 0 -6px #e3e4e6, 145px 0 0 -6px #e3e4e6, 146px 0 0 -6px #e3e4e6, 147px 0 0 -6px #e3e4e6, 148px 0 0 -6px #e3e4e6, 149px 0 0 -6px #e3e4e6, 150px 0 0 -6px #e3e4e6, 151px 0 0 -6px #e3e4e6, 152px 0 0 -6px #e3e4e6, 153px 0 0 -6px #e3e4e6, 154px 0 0 -6px #e3e4e6, 155px 0 0 -6px #e3e4e6, 156px 0 0 -6px #e3e4e6, 157px 0 0 -6px #e3e4e6, 158px 0 0 -6px #e3e4e6, 159px 0 0 -6px #e3e4e6, 160px 0 0 -6px #e3e4e6, 161px 0 0 -6px #e3e4e6, 162px 0 0 -6px #e3e4e6, 163px 0 0 -6px #e3e4e6, 164px 0 0 -6px #e3e4e6, 165px 0 0 -6px #e3e4e6, 166px 0 0 -6px #e3e4e6, 167px 0 0 -6px #e3e4e6, 168px 0 0 -6px #e3e4e6, 169px 0 0 -6px #e3e4e6, 170px 0 0 -6px #e3e4e6, 171px 0 0 -6px #e3e4e6, 172px 0 0 -6px #e3e4e6, 173px 0 0 -6px #e3e4e6, 174px 0 0 -6px #e3e4e6, 175px 0 0 -6px #e3e4e6, 176px 0 0 -6px #e3e4e6, 177px 0 0 -6px #e3e4e6, 178px 0 0 -6px #e3e4e6, 179px 0 0 -6px #e3e4e6, 180px 0 0 -6px #e3e4e6, 181px 0 0 -6px #e3e4e6, 182px 0 0 -6px #e3e4e6, 183px 0 0 -6px #e3e4e6, 184px 0 0 -6px #e3e4e6, 185px 0 0 -6px #e3e4e6, 186px 0 0 -6px #e3e4e6, 187px 0 0 -6px #e3e4e6, 188px 0 0 -6px #e3e4e6, 189px 0 0 -6px #e3e4e6, 190px 0 0 -6px #e3e4e6, 191px 0 0 -6px #e3e4e6, 192px 0 0 -6px #e3e4e6, 193px 0 0 -6px #e3e4e6, 194px 0 0 -6px #e3e4e6, 195px 0 0 -6px #e3e4e6, 196px 0 0 -6px #e3e4e6, 197px 0 0 -6px #e3e4e6, 198px 0 0 -6px #e3e4e6, 199px 0 0 -6px #e3e4e6, 200px 0 0 -6px #e3e4e6, 201px 0 0 -6px #e3e4e6, 202px 0 0 -6px #e3e4e6, 203px 0 0 -6px #e3e4e6, 204px 0 0 -6px #e3e4e6, 205px 0 0 -6px #e3e4e6, 206px 0 0 -6px #e3e4e6, 207px 0 0 -6px #e3e4e6, 208px 0 0 -6px #e3e4e6, 209px 0 0 -6px #e3e4e6, 210px 0 0 -6px #e3e4e6, 211px 0 0 -6px #e3e4e6, 212px 0 0 -6px #e3e4e6, 213px 0 0 -6px #e3e4e6, 214px 0 0 -6px #e3e4e6, 215px 0 0 -6px #e3e4e6, 216px 0 0 -6px #e3e4e6, 217px 0 0 -6px #e3e4e6, 218px 0 0 -6px #e3e4e6, 219px 0 0 -6px #e3e4e6, 220px 0 0 -6px #e3e4e6, 221px 0 0 -6px #e3e4e6, 222px 0 0 -6px #e3e4e6, 223px 0 0 -6px #e3e4e6, 224px 0 0 -6px #e3e4e6, 225px 0 0 -6px #e3e4e6, 226px 0 0 -6px #e3e4e6, 227px 0 0 -6px #e3e4e6, 228px 0 0 -6px #e3e4e6, 229px 0 0 -6px #e3e4e6, 230px 0 0 -6px #e3e4e6, 231px 0 0 -6px #e3e4e6, 232px 0 0 -6px #e3e4e6, 233px 0 0 -6px #e3e4e6, 234px 0 0 -6px #e3e4e6, 235px 0 0 -6px #e3e4e6, 236px 0 0 -6px #e3e4e6, 237px 0 0 -6px #e3e4e6, 238px 0 0 -6px #e3e4e6, 239px 0 0 -6px #e3e4e6, 240px 0 0 -6px #e3e4e6;
  margin-top: -6px;
}

input#apg_rangeId::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
input#apg_rangeId:focus {
  box-shadow: none;
  outline: none;
} */

input.max_input, input.min_input {
  width: 62px;
  height: 32px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  border: 0px;
  border-radius: 16px;
  background: #ffff;
  text-align: center;
}

.max-range-box:hover, .min-range-box:hover {
  background: none;
}

.slider-form{
  width: 476px;
}

.min_input::-webkit-inner-spin-button,
.min_input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.max_input::-webkit-inner-spin-button,
.max_input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* .duration-progress {
  background: #fff; 
  box-shadow: 0px 4px 31px 1px rgba(1,0,0,0.3)!important;
  width: 362px;
  position: absolute;  
  z-index: 9;
  border-radius: 4px;
} */


input#apg_rangeId{
  background: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 312px;
  /* height: 8px; */
  padding-right: 0;
  cursor: pointer;
  margin-left: 22px;
  margin-right: 22px;
  padding-top: 10px;
}

input#apg_rangeId2{
  background: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 312px;
  /* height: 8px; */
  padding-right: 0;
  cursor: pointer;
  height: 26px;
  margin-right: 22px;
  padding-top: 4px;
}


input#apg_rangeId2:focus{
  box-shadow: none;
  outline: none;
}


input#apg_rangeId2::-webkit-slider-runnable-track {
  background: #007fff;
  content: "";
  height: 8px;
  pointer-events: none;
  border: 2px solid #edeff0;
  border-radius: 4px;
}

/* input#apg_rangeId::-webkit-slider-runnable-track{
  background: #007fff;
  content: "";
  height: 8px;
  pointer-events: none;
  border: 2px solid #edeff0;
  border-radius: 4px;
} */

input#apg_rangeId2::-webkit-slider-thumb{
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
          appearance: none;
  background-image: url(../../../assets/img/slider-holder-hold.png);
  border-radius: 50%;
  box-shadow: 5px 0 0 -8px #edeff0, 6px 0 0 -8px #edeff0, 7px 0 0 -8px #edeff0, 8px 0 0 -8px #edeff0, 9px 0 0 -8px #edeff0, 10px 0 0 -8px #edeff0, 11px 0 0 -8px #edeff0, 12px 0 0 -8px #edeff0, 13px 0 0 -8px #edeff0, 14px 0 0 -8px #edeff0, 15px 0 0 -8px #edeff0, 16px 0 0 -8px #edeff0, 17px 0 0 -8px #edeff0, 18px 0 0 -8px #edeff0, 19px 0 0 -8px #edeff0, 20px 0 0 -8px #edeff0, 21px 0 0 -8px #edeff0, 22px 0 0 -8px #edeff0, 23px 0 0 -8px #edeff0, 24px 0 0 -8px #edeff0, 25px 0 0 -8px #edeff0, 26px 0 0 -8px #edeff0, 27px 0 0 -8px #edeff0, 28px 0 0 -8px #edeff0, 29px 0 0 -8px #edeff0, 30px 0 0 -8px #edeff0, 31px 0 0 -8px #edeff0, 32px 0 0 -8px #edeff0, 33px 0 0 -8px #edeff0, 34px 0 0 -8px #edeff0, 35px 0 0 -8px #edeff0, 36px 0 0 -8px #edeff0, 37px 0 0 -8px #edeff0, 38px 0 0 -8px #edeff0, 39px 0 0 -8px #edeff0, 40px 0 0 -8px #edeff0, 41px 0 0 -8px #edeff0, 42px 0 0 -8px #edeff0, 43px 0 0 -8px #edeff0, 44px 0 0 -8px #edeff0, 45px 0 0 -8px #edeff0, 46px 0 0 -8px #edeff0, 47px 0 0 -8px #edeff0, 48px 0 0 -8px #edeff0, 49px 0 0 -8px #edeff0, 50px 0 0 -8px #edeff0, 51px 0 0 -8px #edeff0, 52px 0 0 -8px #edeff0, 53px 0 0 -8px #edeff0, 54px 0 0 -8px #edeff0, 55px 0 0 -8px #edeff0, 56px 0 0 -8px #edeff0, 57px 0 0 -8px #edeff0, 58px 0 0 -8px #edeff0, 59px 0 0 -8px #edeff0, 60px 0 0 -8px #edeff0, 61px 0 0 -8px #edeff0, 62px 0 0 -8px #edeff0, 63px 0 0 -8px #edeff0, 64px 0 0 -8px #edeff0, 65px 0 0 -8px #edeff0, 66px 0 0 -8px #edeff0, 67px 0 0 -8px #edeff0, 68px 0 0 -8px #edeff0, 69px 0 0 -8px #edeff0, 70px 0 0 -8px #edeff0, 71px 0 0 -8px #edeff0, 72px 0 0 -8px #edeff0, 73px 0 0 -8px #edeff0, 74px 0 0 -8px #edeff0, 75px 0 0 -8px #edeff0, 76px 0 0 -8px #edeff0, 77px 0 0 -8px #edeff0, 78px 0 0 -8px #edeff0, 79px 0 0 -8px #edeff0, 80px 0 0 -8px #edeff0, 81px 0 0 -8px #edeff0, 82px 0 0 -8px #edeff0, 83px 0 0 -8px #edeff0, 84px 0 0 -8px #edeff0, 85px 0 0 -8px #edeff0, 86px 0 0 -8px #edeff0, 87px 0 0 -8px #edeff0, 88px 0 0 -8px #edeff0, 89px 0 0 -8px #edeff0, 90px 0 0 -8px #edeff0, 91px 0 0 -8px #edeff0, 92px 0 0 -8px #edeff0, 93px 0 0 -8px #edeff0, 94px 0 0 -8px #edeff0, 95px 0 0 -8px #edeff0, 96px 0 0 -8px #edeff0, 97px 0 0 -8px #edeff0, 98px 0 0 -8px #edeff0, 99px 0 0 -8px #edeff0, 100px 0 0 -8px #edeff0, 101px 0 0 -8px #edeff0, 102px 0 0 -8px #edeff0, 103px 0 0 -8px #edeff0, 104px 0 0 -8px #edeff0, 105px 0 0 -8px #edeff0, 106px 0 0 -8px #edeff0, 107px 0 0 -8px #edeff0, 108px 0 0 -8px #edeff0, 109px 0 0 -8px #edeff0, 110px 0 0 -8px #edeff0, 111px 0 0 -8px #edeff0, 112px 0 0 -8px #edeff0, 113px 0 0 -8px #edeff0, 114px 0 0 -8px #edeff0, 115px 0 0 -8px #edeff0, 116px 0 0 -8px #edeff0, 117px 0 0 -8px #edeff0, 118px 0 0 -8px #edeff0, 119px 0 0 -8px #edeff0, 120px 0 0 -8px #edeff0, 121px 0 0 -8px #edeff0, 122px 0 0 -8px #edeff0, 123px 0 0 -8px #edeff0, 124px 0 0 -8px #edeff0, 125px 0 0 -8px #edeff0, 126px 0 0 -8px #edeff0, 127px 0 0 -8px #edeff0, 128px 0 0 -8px #edeff0, 129px 0 0 -8px #edeff0, 130px 0 0 -8px #edeff0, 131px 0 0 -8px #edeff0, 132px 0 0 -8px #edeff0, 133px 0 0 -8px #edeff0, 134px 0 0 -8px #edeff0, 135px 0 0 -8px #edeff0, 136px 0 0 -8px #edeff0, 137px 0 0 -8px #edeff0, 138px 0 0 -8px #edeff0, 139px 0 0 -8px #edeff0, 140px 0 0 -8px #edeff0, 141px 0 0 -8px #edeff0, 142px 0 0 -8px #edeff0, 143px 0 0 -8px #edeff0, 144px 0 0 -8px #edeff0, 145px 0 0 -8px #edeff0, 146px 0 0 -8px #edeff0, 147px 0 0 -8px #edeff0, 148px 0 0 -8px #edeff0, 149px 0 0 -8px #edeff0, 150px 0 0 -8px #edeff0, 151px 0 0 -8px #edeff0, 152px 0 0 -8px #edeff0, 153px 0 0 -8px #edeff0, 154px 0 0 -8px #edeff0, 155px 0 0 -8px #edeff0, 156px 0 0 -8px #edeff0, 157px 0 0 -8px #edeff0, 158px 0 0 -8px #edeff0, 159px 0 0 -8px #edeff0, 160px 0 0 -8px #edeff0, 161px 0 0 -8px #edeff0, 162px 0 0 -8px #edeff0, 163px 0 0 -8px #edeff0, 164px 0 0 -8px #edeff0, 165px 0 0 -8px #edeff0, 166px 0 0 -8px #edeff0, 167px 0 0 -8px #edeff0, 168px 0 0 -8px #edeff0, 169px 0 0 -8px #edeff0, 170px 0 0 -8px #edeff0, 171px 0 0 -8px #edeff0, 172px 0 0 -8px #edeff0, 173px 0 0 -8px #edeff0, 174px 0 0 -8px #edeff0, 175px 0 0 -8px #edeff0, 176px 0 0 -8px #edeff0, 177px 0 0 -8px #edeff0, 178px 0 0 -8px #edeff0, 179px 0 0 -8px #edeff0, 180px 0 0 -8px #edeff0, 181px 0 0 -8px #edeff0, 182px 0 0 -8px #edeff0, 183px 0 0 -8px #edeff0, 184px 0 0 -8px #edeff0, 185px 0 0 -8px #edeff0, 186px 0 0 -8px #edeff0, 187px 0 0 -8px #edeff0, 188px 0 0 -8px #edeff0, 189px 0 0 -8px #edeff0, 190px 0 0 -8px #edeff0, 191px 0 0 -8px #edeff0, 192px 0 0 -8px #edeff0, 193px 0 0 -8px #edeff0, 194px 0 0 -8px #edeff0, 195px 0 0 -8px #edeff0, 196px 0 0 -8px #edeff0, 197px 0 0 -8px #edeff0, 198px 0 0 -8px #edeff0, 199px 0 0 -8px #edeff0, 200px 0 0 -8px #edeff0, 201px 0 0 -8px #edeff0, 202px 0 0 -8px #edeff0, 203px 0 0 -8px #edeff0, 204px 0 0 -8px #edeff0, 205px 0 0 -8px #edeff0, 206px 0 0 -8px #edeff0, 207px 0 0 -8px #edeff0, 208px 0 0 -8px #edeff0, 209px 0 0 -8px #edeff0, 210px 0 0 -8px #edeff0, 211px 0 0 -8px #edeff0, 212px 0 0 -8px #edeff0, 213px 0 0 -8px #edeff0, 214px 0 0 -8px #edeff0, 215px 0 0 -8px #edeff0, 216px 0 0 -8px #edeff0, 217px 0 0 -8px #edeff0, 218px 0 0 -8px #edeff0, 219px 0 0 -8px #edeff0, 220px 0 0 -8px #edeff0, 221px 0 0 -8px #edeff0, 222px 0 0 -8px #edeff0, 223px 0 0 -8px #edeff0, 224px 0 0 -8px #edeff0, 225px 0 0 -8px #edeff0, 226px 0 0 -8px #edeff0, 227px 0 0 -8px #edeff0, 228px 0 0 -8px #edeff0, 229px 0 0 -8px #edeff0, 230px 0 0 -8px #edeff0, 231px 0 0 -8px #edeff0, 232px 0 0 -8px #edeff0, 233px 0 0 -8px #edeff0, 234px 0 0 -8px #edeff0, 235px 0 0 -8px #edeff0, 236px 0 0 -8px #edeff0, 237px 0 0 -8px #edeff0, 238px 0 0 -8px #edeff0, 239px 0 0 -8px #edeff0, 240px 0 0 -8px #edeff0, 241px 0 0 -8px #edeff0, 242px 0 0 -8px #edeff0, 243px 0 0 -8px #edeff0, 244px 0 0 -8px #edeff0, 245px 0 0 -8px #edeff0, 246px 0 0 -8px #edeff0, 247px 0 0 -8px #edeff0, 248px 0 0 -8px #edeff0, 249px 0 0 -8px #edeff0, 250px 0 0 -8px #edeff0, 251px 0 0 -8px #edeff0, 252px 0 0 -8px #edeff0, 253px 0 0 -8px #edeff0, 254px 0 0 -8px #edeff0, 255px 0 0 -8px #edeff0, 256px 0 0 -8px #edeff0, 257px 0 0 -8px #edeff0, 258px 0 0 -8px #edeff0, 259px 0 0 -8px #edeff0, 260px 0 0 -8px #edeff0, 261px 0 0 -8px #edeff0, 262px 0 0 -8px #edeff0, 263px 0 0 -8px #edeff0, 264px 0 0 -8px #edeff0, 265px 0 0 -8px #edeff0, 266px 0 0 -8px #edeff0, 267px 0 0 -8px #edeff0, 268px 0 0 -8px #edeff0, 269px 0 0 -8px #edeff0, 270px 0 0 -8px #edeff0, 271px 0 0 -8px #edeff0, 272px 0 0 -8px #edeff0, 273px 0 0 -8px #edeff0, 274px 0 0 -8px #edeff0, 275px 0 0 -8px #edeff0, 276px 0 0 -8px #edeff0, 277px 0 0 -8px #edeff0, 278px 0 0 -8px #edeff0, 279px 0 0 -8px #edeff0, 280px 0 0 -8px #edeff0, 281px 0 0 -8px #edeff0, 282px 0 0 -8px #edeff0, 283px 0 0 -8px #edeff0, 284px 0 0 -8px #edeff0, 285px 0 0 -8px #edeff0, 286px 0 0 -8px #edeff0, 287px 0 0 -8px #edeff0, 288px 0 0 -8px #edeff0, 289px 0 0 -8px #edeff0, 290px 0 0 -8px #edeff0, 291px 0 0 -8px #edeff0, 292px 0 0 -8px #edeff0, 293px 0 0 -8px #edeff0, 294px 0 0 -8px #edeff0, 295px 0 0 -8px #edeff0, 296px 0 0 -8px #edeff0, 297px 0 0 -8px #edeff0, 298px 0 0 -8px #edeff0, 299px 0 0 -8px #edeff0, 300px 0 0 -8px #edeff0, 301px 0 0 -8px #edeff0, 302px 0 0 -8px #edeff0, 303px 0 0 -8px #edeff0, 304px 0 0 -8px #edeff0, 305px 0 0 -8px #edeff0, 306px 0 0 -8px #edeff0, 307px 0 0 -8px #edeff0, 308px 0 0 -8px #edeff0, 309px 0 0 -8px #edeff0, 310px 0 0 -8px #edeff0, 311px 0 0 -8px #edeff0, 312px 0 0 -8px #edeff0;
  margin-top: -8px;
  border: 1px solid #00bfff;
  background-repeat: no-repeat;
  background-size:18px;
}

input#apg_rangeId::-webkit-slider-thumb{
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
          appearance: none;
  background: #d4d5d6;
  border-radius: 50%;
  box-shadow: 5px 0 0 -8px #edeff0, 6px 0 0 -8px #edeff0, 7px 0 0 -8px #edeff0, 8px 0 0 -8px #edeff0, 9px 0 0 -8px #edeff0, 10px 0 0 -8px #edeff0, 11px 0 0 -8px #edeff0, 12px 0 0 -8px #edeff0, 13px 0 0 -8px #edeff0, 14px 0 0 -8px #edeff0, 15px 0 0 -8px #edeff0, 16px 0 0 -8px #edeff0, 17px 0 0 -8px #edeff0, 18px 0 0 -8px #edeff0, 19px 0 0 -8px #edeff0, 20px 0 0 -8px #edeff0, 21px 0 0 -8px #edeff0, 22px 0 0 -8px #edeff0, 23px 0 0 -8px #edeff0, 24px 0 0 -8px #edeff0, 25px 0 0 -8px #edeff0, 26px 0 0 -8px #edeff0, 27px 0 0 -8px #edeff0, 28px 0 0 -8px #edeff0, 29px 0 0 -8px #edeff0, 30px 0 0 -8px #edeff0, 31px 0 0 -8px #edeff0, 32px 0 0 -8px #edeff0, 33px 0 0 -8px #edeff0, 34px 0 0 -8px #edeff0, 35px 0 0 -8px #edeff0, 36px 0 0 -8px #edeff0, 37px 0 0 -8px #edeff0, 38px 0 0 -8px #edeff0, 39px 0 0 -8px #edeff0, 40px 0 0 -8px #edeff0, 41px 0 0 -8px #edeff0, 42px 0 0 -8px #edeff0, 43px 0 0 -8px #edeff0, 44px 0 0 -8px #edeff0, 45px 0 0 -8px #edeff0, 46px 0 0 -8px #edeff0, 47px 0 0 -8px #edeff0, 48px 0 0 -8px #edeff0, 49px 0 0 -8px #edeff0, 50px 0 0 -8px #edeff0, 51px 0 0 -8px #edeff0, 52px 0 0 -8px #edeff0, 53px 0 0 -8px #edeff0, 54px 0 0 -8px #edeff0, 55px 0 0 -8px #edeff0, 56px 0 0 -8px #edeff0, 57px 0 0 -8px #edeff0, 58px 0 0 -8px #edeff0, 59px 0 0 -8px #edeff0, 60px 0 0 -8px #edeff0, 61px 0 0 -8px #edeff0, 62px 0 0 -8px #edeff0, 63px 0 0 -8px #edeff0, 64px 0 0 -8px #edeff0, 65px 0 0 -8px #edeff0, 66px 0 0 -8px #edeff0, 67px 0 0 -8px #edeff0, 68px 0 0 -8px #edeff0, 69px 0 0 -8px #edeff0, 70px 0 0 -8px #edeff0, 71px 0 0 -8px #edeff0, 72px 0 0 -8px #edeff0, 73px 0 0 -8px #edeff0, 74px 0 0 -8px #edeff0, 75px 0 0 -8px #edeff0, 76px 0 0 -8px #edeff0, 77px 0 0 -8px #edeff0, 78px 0 0 -8px #edeff0, 79px 0 0 -8px #edeff0, 80px 0 0 -8px #edeff0, 81px 0 0 -8px #edeff0, 82px 0 0 -8px #edeff0, 83px 0 0 -8px #edeff0, 84px 0 0 -8px #edeff0, 85px 0 0 -8px #edeff0, 86px 0 0 -8px #edeff0, 87px 0 0 -8px #edeff0, 88px 0 0 -8px #edeff0, 89px 0 0 -8px #edeff0, 90px 0 0 -8px #edeff0, 91px 0 0 -8px #edeff0, 92px 0 0 -8px #edeff0, 93px 0 0 -8px #edeff0, 94px 0 0 -8px #edeff0, 95px 0 0 -8px #edeff0, 96px 0 0 -8px #edeff0, 97px 0 0 -8px #edeff0, 98px 0 0 -8px #edeff0, 99px 0 0 -8px #edeff0, 100px 0 0 -8px #edeff0, 101px 0 0 -8px #edeff0, 102px 0 0 -8px #edeff0, 103px 0 0 -8px #edeff0, 104px 0 0 -8px #edeff0, 105px 0 0 -8px #edeff0, 106px 0 0 -8px #edeff0, 107px 0 0 -8px #edeff0, 108px 0 0 -8px #edeff0, 109px 0 0 -8px #edeff0, 110px 0 0 -8px #edeff0, 111px 0 0 -8px #edeff0, 112px 0 0 -8px #edeff0, 113px 0 0 -8px #edeff0, 114px 0 0 -8px #edeff0, 115px 0 0 -8px #edeff0, 116px 0 0 -8px #edeff0, 117px 0 0 -8px #edeff0, 118px 0 0 -8px #edeff0, 119px 0 0 -8px #edeff0, 120px 0 0 -8px #edeff0, 121px 0 0 -8px #edeff0, 122px 0 0 -8px #edeff0, 123px 0 0 -8px #edeff0, 124px 0 0 -8px #edeff0, 125px 0 0 -8px #edeff0, 126px 0 0 -8px #edeff0, 127px 0 0 -8px #edeff0, 128px 0 0 -8px #edeff0, 129px 0 0 -8px #edeff0, 130px 0 0 -8px #edeff0, 131px 0 0 -8px #edeff0, 132px 0 0 -8px #edeff0, 133px 0 0 -8px #edeff0, 134px 0 0 -8px #edeff0, 135px 0 0 -8px #edeff0, 136px 0 0 -8px #edeff0, 137px 0 0 -8px #edeff0, 138px 0 0 -8px #edeff0, 139px 0 0 -8px #edeff0, 140px 0 0 -8px #edeff0, 141px 0 0 -8px #edeff0, 142px 0 0 -8px #edeff0, 143px 0 0 -8px #edeff0, 144px 0 0 -8px #edeff0, 145px 0 0 -8px #edeff0, 146px 0 0 -8px #edeff0, 147px 0 0 -8px #edeff0, 148px 0 0 -8px #edeff0, 149px 0 0 -8px #edeff0, 150px 0 0 -8px #edeff0, 151px 0 0 -8px #edeff0, 152px 0 0 -8px #edeff0, 153px 0 0 -8px #edeff0, 154px 0 0 -8px #edeff0, 155px 0 0 -8px #edeff0, 156px 0 0 -8px #edeff0, 157px 0 0 -8px #edeff0, 158px 0 0 -8px #edeff0, 159px 0 0 -8px #edeff0, 160px 0 0 -8px #edeff0, 161px 0 0 -8px #edeff0, 162px 0 0 -8px #edeff0, 163px 0 0 -8px #edeff0, 164px 0 0 -8px #edeff0, 165px 0 0 -8px #edeff0, 166px 0 0 -8px #edeff0, 167px 0 0 -8px #edeff0, 168px 0 0 -8px #edeff0, 169px 0 0 -8px #edeff0, 170px 0 0 -8px #edeff0, 171px 0 0 -8px #edeff0, 172px 0 0 -8px #edeff0, 173px 0 0 -8px #edeff0, 174px 0 0 -8px #edeff0, 175px 0 0 -8px #edeff0, 176px 0 0 -8px #edeff0, 177px 0 0 -8px #edeff0, 178px 0 0 -8px #edeff0, 179px 0 0 -8px #edeff0, 180px 0 0 -8px #edeff0, 181px 0 0 -8px #edeff0, 182px 0 0 -8px #edeff0, 183px 0 0 -8px #edeff0, 184px 0 0 -8px #edeff0, 185px 0 0 -8px #edeff0, 186px 0 0 -8px #edeff0, 187px 0 0 -8px #edeff0, 188px 0 0 -8px #edeff0, 189px 0 0 -8px #edeff0, 190px 0 0 -8px #edeff0, 191px 0 0 -8px #edeff0, 192px 0 0 -8px #edeff0, 193px 0 0 -8px #edeff0, 194px 0 0 -8px #edeff0, 195px 0 0 -8px #edeff0, 196px 0 0 -8px #edeff0, 197px 0 0 -8px #edeff0, 198px 0 0 -8px #edeff0, 199px 0 0 -8px #edeff0, 200px 0 0 -8px #edeff0, 201px 0 0 -8px #edeff0, 202px 0 0 -8px #edeff0, 203px 0 0 -8px #edeff0, 204px 0 0 -8px #edeff0, 205px 0 0 -8px #edeff0, 206px 0 0 -8px #edeff0, 207px 0 0 -8px #edeff0, 208px 0 0 -8px #edeff0, 209px 0 0 -8px #edeff0, 210px 0 0 -8px #edeff0, 211px 0 0 -8px #edeff0, 212px 0 0 -8px #edeff0, 213px 0 0 -8px #edeff0, 214px 0 0 -8px #edeff0, 215px 0 0 -8px #edeff0, 216px 0 0 -8px #edeff0, 217px 0 0 -8px #edeff0, 218px 0 0 -8px #edeff0, 219px 0 0 -8px #edeff0, 220px 0 0 -8px #edeff0, 221px 0 0 -8px #edeff0, 222px 0 0 -8px #edeff0, 223px 0 0 -8px #edeff0, 224px 0 0 -8px #edeff0, 225px 0 0 -8px #edeff0, 226px 0 0 -8px #edeff0, 227px 0 0 -8px #edeff0, 228px 0 0 -8px #edeff0, 229px 0 0 -8px #edeff0, 230px 0 0 -8px #edeff0, 231px 0 0 -8px #edeff0, 232px 0 0 -8px #edeff0, 233px 0 0 -8px #edeff0, 234px 0 0 -8px #edeff0, 235px 0 0 -8px #edeff0, 236px 0 0 -8px #edeff0, 237px 0 0 -8px #edeff0, 238px 0 0 -8px #edeff0, 239px 0 0 -8px #edeff0, 240px 0 0 -8px #edeff0, 241px 0 0 -8px #edeff0, 242px 0 0 -8px #edeff0, 243px 0 0 -8px #edeff0, 244px 0 0 -8px #edeff0, 245px 0 0 -8px #edeff0, 246px 0 0 -8px #edeff0, 247px 0 0 -8px #edeff0, 248px 0 0 -8px #edeff0, 249px 0 0 -8px #edeff0, 250px 0 0 -8px #edeff0, 251px 0 0 -8px #edeff0, 252px 0 0 -8px #edeff0, 253px 0 0 -8px #edeff0, 254px 0 0 -8px #edeff0, 255px 0 0 -8px #edeff0, 256px 0 0 -8px #edeff0, 257px 0 0 -8px #edeff0, 258px 0 0 -8px #edeff0, 259px 0 0 -8px #edeff0, 260px 0 0 -8px #edeff0, 261px 0 0 -8px #edeff0, 262px 0 0 -8px #edeff0, 263px 0 0 -8px #edeff0, 264px 0 0 -8px #edeff0, 265px 0 0 -8px #edeff0, 266px 0 0 -8px #edeff0, 267px 0 0 -8px #edeff0, 268px 0 0 -8px #edeff0, 269px 0 0 -8px #edeff0, 270px 0 0 -8px #edeff0, 271px 0 0 -8px #edeff0, 272px 0 0 -8px #edeff0, 273px 0 0 -8px #edeff0, 274px 0 0 -8px #edeff0, 275px 0 0 -8px #edeff0, 276px 0 0 -8px #edeff0, 277px 0 0 -8px #edeff0, 278px 0 0 -8px #edeff0, 279px 0 0 -8px #edeff0, 280px 0 0 -8px #edeff0, 281px 0 0 -8px #edeff0, 282px 0 0 -8px #edeff0, 283px 0 0 -8px #edeff0, 284px 0 0 -8px #edeff0, 285px 0 0 -8px #edeff0, 286px 0 0 -8px #edeff0, 287px 0 0 -8px #edeff0, 288px 0 0 -8px #edeff0, 289px 0 0 -8px #edeff0, 290px 0 0 -8px #edeff0, 291px 0 0 -8px #edeff0, 292px 0 0 -8px #edeff0, 293px 0 0 -8px #edeff0, 294px 0 0 -8px #edeff0, 295px 0 0 -8px #edeff0, 296px 0 0 -8px #edeff0, 297px 0 0 -8px #edeff0, 298px 0 0 -8px #edeff0, 299px 0 0 -8px #edeff0, 300px 0 0 -8px #edeff0, 301px 0 0 -8px #edeff0, 302px 0 0 -8px #edeff0, 303px 0 0 -8px #edeff0, 304px 0 0 -8px #edeff0, 305px 0 0 -8px #edeff0, 306px 0 0 -8px #edeff0, 307px 0 0 -8px #edeff0, 308px 0 0 -8px #edeff0, 309px 0 0 -8px #edeff0, 310px 0 0 -8px #edeff0, 311px 0 0 -8px #edeff0, 312px 0 0 -8px #edeff0;
  margin-top: -8px;
  border: 1px solid #d4d5d6;
}

input#apg_rangeId2::-moz-range-track {
  width: 317px;
  height: 8px;
}


input#apg_rangeId2::-moz-range-thumb {
  height: 20px;
  width: 20px;
  background: #007fff;
  border-radius: 50%;
  border: 2px solid #d4d5d6;
  position: relative;
}


/* input#apg_rangeId:hover::-webkit-slider-thumb,input#apg_rangeId:focus::-webkit-slider-thumb{
  background-image: url(../../../../src/assets/img/slider-holder-hold.png);
  width: 28px;
  height: 28px;
  } */
input#apg_rangeId:disabled {
  cursor: not-allowed;
}

.gap-box {
  margin-top: 24px;
}

.box {
  width: 40px;
    height: 35px;
    background-color: #007fff;
    color: #fff;
    /* padding: 20px; */
    position: relative;
    /* margin: 40px; */
    float: left;
    border: solid 1px #007fff;
    border-radius: 8px;
    display: none;
    text-align: center;
}

.box.arrow-top {
  margin-top: -84px;
  margin-bottom: 21px;

  /* margin-left: -32px; */
}

.box.arrow-top:after {
  content: " ";
  position: absolute;
  right: 4px;
  bottom: -12px;
  border-top: 18px solid #007fff;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: none;
}

.divslider{
  display: flex;
    flex-direction: column;
    padding-left: 22px;
}

input#apg_rangeId2:active + #arrowBox {
  display: block;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.no-pl{
    padding-left: 0px;
}

/* data apg list css */
.apgBoxHead {
  display: flex;
  flex-direction: row;
}

span.textapgType {
  font-size: 12px;
  font-weight: 600;
  color: #64707d;
  line-height: 1.33;
}

span.textapgType.selected {
  color: #fff;
}


span.textTempName {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
  color: #2e3e4d;
}


span.textTempName.selected,span.textUnitName.selected,span.textUnit.selected {
  color: #fff;
}

.showType {
  width: 116px;
  height: 32px;
  border-radius: 16px;
  background-color: #f2f4f5;
  padding: 2px 3px 2px 10px;
}

span.inputText {
  font-size: 14px;
  color: #64707d;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  font-weight: 600;
}


.d-flex.justify-content-between.numberType,.d-flex.justify-content-between.rangeType {
  padding-top: 26px;
}

span.textUnitName {
  font-size: 16px;
  font-weight: 500;
  color: #64707d;
}

span.textUnit {
  font-size: 16px;
  font-weight: 600;
  color: #2e3d4d;
}

ul.listGroup {
  font-size: 14px;
  font-weight: 500;
  color: #64707d;
  padding: 0;
}

li.optionlist {
  border-bottom: solid 1px #edeff0;
  height: 38px;
}

.radioType {
  margin-top: 14px;
  margin-left: 18px;
}

