.tab-wrap {
	width: 50%;
}
.tab-wrap button {
	background: #ddd;
    padding: 15px 0;
}
.tab-wrap button:focus {
	box-shadow: none;
}


.active .noti-tab {
    color: #4292f1;
    background: #e6ecf2;
    border-left: 2px solid;
}

.noti-tab {
	border-radius: 0;
}

.height-scroll {
	overflow-y: scroll;
    height: 120px;
    padding: 0 20px;
}

.height-scroll-template {
    overflow-y: scroll;
    height: 492px;
    padding: 0 20px;
}

.scroll {
	height: 500px;
    overflow-y: scroll;
    margin-top: 30px;
}

.pd-lft-rht {
    padding: 0 20px;
}