<button type="button" class="btn btn-primary" (click)="open(content)">Create APG</button>
<ng-template #content let-c="close" let-d="dismiss">
	<form #apgForm="ngForm" novalidate>
		<div class="modal-header">
			<h4 class="modal-title">Create APG</h4>
			<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			    <span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
	  	  	<div class="form-group">
  	  			<div *ngIf="createButton">
	  	  			<input type="radio" id="custom" name="type" [checked]="customCheck" (click)="radioEvent($event, 'custom')"
	  	  			>
			    	<label for="custom">Create as AP</label>
		    	</div>
		    	<div *ngIf="customAP" class="form-group" [ngClass]="{'mr-lft-20': createButton == true}">
		    		<div class="form-group">
			  	    	<label for="fname">Name</label> 	
			  	    	<input type="text" class="form-control" placeholder="Enter name" name="name" [(ngModel)]="apgField.name" #apgName="ngModel" required>
			  	    	<div *ngIf="apgName.errors && (apgName.dirty || apgName.touched)" class="alert alert-danger">
					        <div [hidden]="!apgName.errors.required">Name is required!</div>
					    </div>
			  	  	</div>
			  	  	<div class="form-group">
			  	    	<label for="fname">Description</label> 	
			  	    	<textarea class="form-control" rows="4" placeholder="Description" name="desc" [(ngModel)]="apgField.description" #apgDesc="ngModel">  	    		
			  	    	</textarea>
			  	  	</div>
			  	  	<div class="form-group">
			  	  		<label class="required">Choose module</label>
			  	  		<div class="height-scroll">
			  	  			<div *ngFor="let module of moduleList; let i=index;">
					    		<input type="radio" id="{{module._id}}" value="{{module._id}}" name="moduleId" [checked]="checkedModuleID.indexOf(module._id) != -1" [(ngModel)]="apgField.moduleId" (click)="moduleAP(module._id)" ngModel>
					    		<label for="{{module._id}}"> {{module.name}}</label>
					    	</div>
			  	  		</div>
			  	  	</div>
		  	  		<div>
		  	  			<input type="radio" id="newAP" name="ap" (click)="radioEvent($event, 'newap')">
				    	<label for="newAP"> New AP create</label>
				    	<div *ngIf="newAPshow" style="margin-left: 20px;">
				    		<div *ngFor="let newAP of newAPList; let i=index;">
					    		<input type="checkbox" id="{{newAP._id}}" (click)="checkedAP(newAP._id, $event)" value="{{newAP._id}}" name="newAP" [checked]="newAP.checked">
					    		<label for="{{newAP._id}}"> {{newAP.name}}</label>
					    	</div>
				    	</div>
				    	<div *ngIf="newAP" style="margin-left: 20px;">
				    		<p *ngIf="!apgField.moduleId" style="text-align: center; color: red;">If you want to create new AP, you must choose a module.</p>
				    		<form #apForm="ngForm" novalidate>
				    			<div class="form-group">
					    			<input type="text" class="form-control" placeholder="Name" [(ngModel)]="apField.name" name="name"  #apName="ngModel" required>
					    			<div *ngIf="!newAPshow" >
					    				<div *ngIf="apName.errors && (apName.dirty || apName.touched)" class="alert alert-danger">
								        	<div [hidden]="!apName.errors.required">Name is required!</div>
								       
								    	</div>
								    </div>	
					    		</div>	
					    		<div class="form-group">
					    			<textarea class="form-control" rows="2" placeholder="Description" [(ngModel)]="apField.desc" name="desc"  #apDesc="ngModel" required>		
					    			</textarea>
					    			<div *ngIf="!newAPshow" >
					    				<div *ngIf="apDesc.errors && (apDesc.dirty || apDesc.touched)" class="alert alert-danger">
								        	<div [hidden]="!apDesc.errors.required">Description is required!</div>
								        </div>
								    </div>
					    		</div>
				    		</form>
				    		<button type="submit" class="btn btn-primary btn-not-allowed" [disabled]="!apForm.valid" style="margin-bottom: 20px;" (click)="createAP(apForm.value)">Create AP</button>	
				    	</div>
		  	  		</div>
		  	  		<div>
		  	  			<input type="radio" id="existAP" name="ap" [checked]="customCheck" (click)="radioEvent($event, 'existap')">
				    	<label for="existAP">Existing AP</label>
				    	<div *ngIf="existAP" class="height-scroll">
				    		<p *ngIf="!apgField.moduleId" style="text-align: center; color: red;">You have to choose a module first to get access point lists.</p>
			  	  			<div *ngFor="let ap of moduleAPList; let i=index;" style="float: left;margin-right: 15px;">
					    		<input type="checkbox" id="{{ap._id}}" value="{{ap._id}}" (click)="checkedAP(ap._id, $event)" name="ap" [checked]="checkedAPid.indexOf(ap._id) != -1">
					    		<label for="{{ap._id}}"> {{ap.name}}</label>
					    	</div>
			  	  		</div>
		  	  		</div>
		  	  	</div>	
	  	  		<div *ngIf="createButton">
	  	  			<input type="radio" id="title-1" name="type" (click)="radioEvent($event, 'template')" [checked]="templateChecked">
			    	<label for="title-1">Create from template</label>
			    	<div *ngIf="templateAPG" class="height-scroll-template">
		  	  			<div *ngFor="let template of templateList; let i=index;" style="float: left;margin-right: 15px;">
			    		<input type="radio" id="{{template._id}}" value="{{template._id}}" name="templateId" [checked]="checkedTemplateID.indexOf(template._id) != -1" ngModel [(ngModel)]="apgField.templateId">
			    		<label for="{{template._id}}"> {{template.name}}</label>
				    	</div>
		  	  		</div>
	  	  		</div>
	  	  	</div>	
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-light1" (click)="c('Close click')">Cancel</button>
		    <button type="submit" *ngIf="createButton" class="btn btn-primary btn-not-allowed" (click)="createAPG(apgForm.value, 'create')" [disabled]="!apgForm.valid || (apArray.length == 0 && !apgField.templateId)">Create</button>
		    <button type="submit" [disabled]="!apgForm.valid || apArray.length == 0" *ngIf="updateButton" class="btn btn-primary btn-not-allowed" (click)="createAPG(apgForm.value, 'update')">Update</button>
		</div>	
	</form>
</ng-template>	

<div class="d-flex" style="margin-top:40px;">
	<div [ngClass]="{'active': viewType == 'apg'}" class="tab-wrap">      
	  <button class="btn noti-tab w-100" (click)="clickTab('apg')">View all apg</button>
	</div>
	<div [ngClass]="{'active': viewType == 'ap'}" class="tab-wrap">     
	  <button class="btn noti-tab w-100" (click)="clickTab('ap')">View all ap</button>
	</div>
</div>

<div *ngIf="viewType == 'apg'" class="col-md-12 scroll">
	<h2 *ngIf="emptyAPG" style="text-align: center;">APG has not been created yet.</h2>
	<div class="overflow">
		<ul class="list-group-flush" style="padding-left: 0;">  
		  <li id="{{apg._id}}" class="list-group-item" *ngFor="let apg of apgList; let i = index" [attr.data-index]="i">
			{{i + 1}}-{{ apg.name }} 		
			<button type="button" class="btn btn-secondary float-right btn-sm margin-left" (click)="onclickDelete(apg._id,alertDelete)">Delete</button>
			<button type="button" style="margin-right: 10px;" class="btn btn-secondary float-right btn-sm margin-left" (click)="editAPG(apg._id,content)">Edit</button>
			<button type="button" style="margin-right: 10px;" class="btn btn-secondary float-right btn-sm margin-left" (click)="clickConvert(apg._id, cTemplate)">Convert Template</button>
		  </li>
		</ul>
	</div>
</div>	
<div *ngIf="viewType == 'ap'" class="col-md-12 scroll">
	<h2 *ngIf="emptyAP" style="text-align: center;">AP has not been created yet.</h2>
	<div class="overflow">
		<ul class="list-group-flush" style="padding-left: 0;">  
		  <li class="list-group-item" *ngFor="let ap of apList; let i = index" [attr.data-index]="i">
			{{i + 1}}-{{ ap.name }} 		
		  </li>
		</ul>
	</div>
</div>	

<ng-template #cTemplate let-c="close" let-d="dismiss">
	<form #convertForm="ngForm" novalidate>
	  	<div class="modal-header">
		    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
		      <span aria-hidden="true">&times;</span>
		    </button>
	  	</div>
	  	<div class="modal-body" style="min-height: 100px;">
		    <div class="form-group">
		    	<label for="fname">Name</label> 	
		    	<input type="text" class="form-control" placeholder="Enter name" name="name" [(ngModel)]="convertField.name" #templateName="ngModel" required>
		    	<div *ngIf="templateName.errors && (templateName.dirty || templateName.touched)" class="alert alert-danger">
		        	<div [hidden]="!templateName.errors.required">Name is required!</div>
		    	</div>
		  	</div>
	  	</div>
	  	<div class="modal-footer">
	    	<button type="button" class="btn btn-light1" (click)="c('Close click')">Cancel</button>
	    	<button type="submit" class="btn btn-primary btn-not-allowed" [disabled]="!convertForm.valid" (click)="convertTemplate(convertId, convertForm.value)">Convert</button>
	  	</div>
	</form>
</ng-template>

<ng-template #alertDelete let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="min-height: 100px;">
    <h4>Are You sure you want to delete? <span style="color: red;">"{{deleteAPG}}"</span></h4>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light1" (click)="c('Close click')">Cancel</button>
    <button type="submit" class="btn btn-danger" (click)="apgDelete(deleteId)">Delete</button>
  </div>
</ng-template>

