
.disable-click{
    pointer-events: none;
}
.search-result-box{
  height: 300px;
  overflow: overlay;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  padding: 0 16px;
  border-radius: 0 0 4px 4px;
  position: absolute;
  width: 100%;
  top: 24.5%;
  background: #fff;
  z-index: 9;
}
.single-result{
  cursor: pointer;
  padding: 7px 0;
}
.stoke-1,
.stoke-2,
.icon-apg,
.stoke-2-first,
.stoke-2-sec {    
    background: #edeff0;    
}
.stoke-1{
    padding: 4px;
    width: 96px;
}
.stoke-2,
.stoke-2-first,
.stoke-2-sec{
    margin-top: 12px;
    padding: 8px;
}
.stoke-2{
    width: 128px;
}
.icon-apg {
    width: 28px;
    height: 28px;
    border-radius: 100%;
}
.stoke-wrap{
    margin-right: 20px;
    margin-bottom: 32px;
}
.stoke-2-first,
.stoke-2-sec{
    width: 58px;
}
.stoke-2-first{
    margin-right: 12px;
}
.main-wrapper{
    height: 80vh;
    /* cursor-on */
    padding: 0 15px;
}
.cancel-back{
    font-size: 16px;
    font-family: 'Montserrat-Medium',Arial,sans-serif;
    color: #2e3d4d !important;
    cursor: pointer;
}
.apg-share-bottom{
    position: fixed;
    width: 100%;
    border-top: 1px solid #eee;
    bottom: 0;
    left: 0;
    padding: 10px;
    background: #fff;
}
.shareApgLoadMore{
    padding-top: 6%;
    padding-bottom: 6%;
}
.apg-share-content{
    margin-top: 20px;
    padding-bottom: 20px;
}
.share-input .label-checked{
    background: #fff;
    border: 2px solid #3d5266;
    border-radius: 50%;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    margin-top: 3px;
    float: left;
}

.sticky-menu{
    position: fixed;
    width: 74.9%;
    z-index: 1;
    padding: 15px;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    top: 0px;
    background: #fff;
    box-shadow: 0 1px 5px 1px rgba(221, 221, 221, 0.6);
}
.stickywrap{
    top: 63px;
}
.apg-type,
.single-apg h4,
.apg-longterm,
.module-input label,
.input-label,
.input-recommend,
.modal-title,
.target{
    font-family: 'Montserrat-Semibold',Arial,sans-serif;
}
.input-recommend{
    font-size: 14px;
    color: #64707d;
}
.create-input:hover{
    background: #f7f9fa;
}
.input-wrap{
    padding-left: 0;
}
.input-wrap .form-group{
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.create-input:focus{
  -webkit-box-shadow: 0 1px 3px 2px rgba(213, 213, 213, 0.3);
  -moz-box-shadow: 0 1px 3px 2px rgba(213, 213, 213, 0.3);
  box-shadow: 0 1px 3px 2px rgba(213, 213, 213, 0.3);
}
.create-input{
    font-family: 'Montserrat-Regular','Arial', sans-serif !important;
    border-radius: .25rem;
    border: none;
    margin-bottom: 15px;
    padding: .6rem .75rem;
    margin-left: -.75rem;
    width: 103%;
    margin-top: 4px;
}
.apg-share,
.btn-action{
    font-family: 'Montserrat-Regular',Arial,sans-serif;
    background: transparent;
    border: none;
    cursor: pointer;
}
.card-columns{
    column-count: 2;
}
.btn-create{
  color: #fff;
  background-color: #1682fb;
  border: none;
  height: 45px;
  margin-right: 15px;
  border-radius: 3px;
}
.input-search-bg{
    padding: 12px 0 12px 12px !important;
    background: #f2f4f5;
    border: none;
    z-index: auto !important;
}
.btn-design{
  padding: 12px;
  background: #f2f4f5;
  border: none;
  border-radius: 4px !important;
  color: #788796;
  cursor: pointer;
}
.title-heading{
    font-size: 27px;
    padding-left: 15px;
    font-family: 'Montserrat-Semibold',Arial,sans-serif;
    color: #2e3e4d;
}
.apg-longterm{
    color: #64707d;
    line-height: 0.5;
    padding-left: 20px;
    position: relative;
    padding-top: 15px;
    font-size: 14px;
}
.apg-longterm::before {
    width: 4px;
    height: 4px;
    position: absolute;
    left: 10px;
    content: '';
    background: #64707d;
    border-radius: 50%;
}
.mt-30{
    margin-top: 30px;
}
.apg-wrapper{
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 20px;
}
.apg-wrapper .card{
    border: none;
    margin-bottom: 0;
}
.apg-box .input-label{
    cursor: pointer;
}
.apg-box{
    padding: 24px;
    max-height: 152px;
    min-height: 152px;
    cursor: pointer;
}
.apg-box,
.single-apg{
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    transition: 0.3s all ease-out;
}
.apg-box:hover,
.single-apg:hover{
  -webkit-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1) !important;
  -ms-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1) !important;
}
.single-apg{
    margin-bottom: 20px;
    margin-top: 5px;
}
.apg-type{
    margin-bottom: 0;
    font-size: 12px;
    color: #64707d;    
}
.single-apg h4{
    color: #2e3e4d;
    margin-bottom: 6px;
}
.single-apg .apg-desc{
    color: #64707d;
    font-family: 'Montserrat-Regular',Arial,sans-serif;
    font-size: 14px;
    text-align: justify;
}
.apg-scroll{
    max-height: 75px;
    overflow: overlay;
    /*color: #64707d;
    display: block;
    max-height: 75px;
    overflow-y: scroll;
    text-align: justify;*/
}
.info-section{
    padding: 20px 20px 0;
}
.btn-section {
    border-top: 1px solid #edeff0;
    padding: 10px;
}
.apg-share{
    color: #0080ff;    
    font-size: 14px;
}
.btn-action:first-child{
    color: orange;
}
.btn-action{
    font-size: 14px;
    color: red;
}
.heading-margin{
    margin-top: 23px;
}
.form-footer{
  position: fixed;
    width: 100%;
  bottom: 0;
  padding: 20px;
  left: 0;
  background: #fff;
}
.back-wrap{
    padding: 23px 15px 15px;
}
.back-to{
    font-family: 'Montserrat-Medium', Arial,sans-serif;
    color: #2e3d4d !important;
    padding-left: 0 !important;
    cursor: pointer;
    font-size: 16px;
}
.back-to i,
.back-to p{
  float: left;
}
.back-to i{
  float: left;
    font-size: 23px;
}
.back-to p{
  float: left;
  margin-bottom: 0;
  line-height: 1.6;
  margin-left: 4px;
}
.apg-form{
    padding: 20px 15px;
}
.single-apg h4,
.module-input label,
.share-input label,
.input-label{    
    font-size: 18px;
}
.input-label{
    margin-bottom: 0;
}
.share-input label{
    cursor: pointer;
    width: 100%;
    border: none;
    padding: 15px 20px;
    text-align: left;
    font-size: 18px;
    -webkit-box-shadow: 0 1px 5px 1px rgba(221, 221, 221, 0.6);
    box-shadow: 0 1px 5px 1px rgba(221, 221, 221, 0.6);
    margin-bottom: 1.7em;
    border-radius: 3px;
}
.module-input label{
    cursor: pointer;
    width: 100%;
    border: none;
    padding: 16px 22px;
    text-align: left;
    -webkit-box-shadow: 0 1px 5px 1px rgba(221, 221, 221, 0.5);
    box-shadow: 0 1px 5px 1px rgba(221, 221, 221, 0.5);
    margin-bottom: 1.7em;
    border-radius: 3px;
    transition: 0.3s all ease-out;
}
.module-input:hover label{
    cursor: pointer;
  -webkit-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1) !important;
  -ms-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1) !important;
}
.module-input input[type="radio"],
.share-input input[type="radio"]{
    display: none;
}
.module-input .label-checked{
    background: #fff;
    border: 2px solid #3d5266;
    border-radius: 50%;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 16px;
    right: 22px;
}
.module-img {
    display: block;
    padding: 20px 0 10px;
    min-height: 77px;
}
.module-input label.selected,
.share-input label.selected{
    background: #1683FB;
    color: #fff;
    box-shadow: 0 1px 5px 1px rgb(22, 131, 251);
}

.module-input label.selected .label-checked,
.share-input label.selected .label-checked{
    border: 2px solid #fff;
    box-shadow: inset 0 0px 0px 2px rgb(22, 131, 251);
}
.btn-submit,
.btn-cancel{
    font-family: 'Montserrat-Medium','Arial', sans-serif;
    border: none;
    height: 45px;
    border-radius: 3px;
    width: 100px;
}
.btn-submit{
    color: #fff;
    background-color: #1682fb;
    margin-left: 15px;
}
.btn-cancel{
    background-color: #f2f4f5;
}
.btn-create{
    font-family: 'Montserrat-Medium','Arial', sans-serif;
    color: #fff;
    background-color: #1682fb;
    border: none;
    height: 45px;
    border-radius: 3px;
}
.modal-title{
    font-size: 20px;
    color: #2e3d4d;
}
.apg-confirm p{
    color: #64707d;
}
.modal-cancel-btn,
.modal-delete-btn{
    font-size: 16px;
    font-family: 'Montserrat-Regular',Arial,sans-serif;
    border-radius: 3px;
    height: 44px;
    min-width: 90px;
}
.modal-delete-btn{
    background: #ff3d33;
    color: #fff;
}
.modal-cancel-btn{
    color: #2e3d4d;
}
.modal-header{
  border-bottom: none;
  padding-bottom: 0;
  padding-top: 24px;
}
.modal-footer{
  border-top: none;
  padding-top: 0;
}
.target{
    color: #ff3d33;
}



.tab-wrap {
	width: 50%;
}
.tab-wrap button {
	background: #ddd;
    padding: 15px 0;
}
.tab-wrap button:focus {
	box-shadow: none;
}


.active .noti-tab {
    color: #4292f1;
    background: #e6ecf2;
    border-left: 2px solid;
}

.noti-tab {
	border-radius: 0;
}

.height-scroll {
	overflow-y: overlay;
    height: 120px;
    padding: 0 20px;
}

.height-scroll-template {
    overflow-y: overlay;
    height: 492px;
    padding: 0 20px;
}

.scroll {
	height: 500px;
    overflow-y: overlay;
    margin-top: 30px;
}

.pd-lft-rht {
    padding: 0 20px;
}

.mr-lft-20 {
    margin-left: 20px;
}

.required:after { 
    content:" *"; 
    color: red;
}
.load-more1{
    /* padding-left: 25%; */
}
.load-more{
    position: fixed;
    z-index: 1;
    width: 85%;
    background: #fff;
    border-top: 1px solid #eee;
    padding: 10px;
    bottom: 0;
    right: 0;
    text-align: center;
}
.load-more1 button,
.load-more button{
  color: #0080ff;
  font-size: 14px;
  font-family: 'Montserrat-Semibold', Arial,sans-serif;
}


.evaluation-Name{
    font-size: 18px;
    color: #2e3e4d;
    font-family:'Montserrat-Semibold',Arial,sans-serif;
}
.icon{
    display: inline-block;
    width: 16px;
    line-height: 16px;
    background: #8fa1b3;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    font-family: Montserrat-SemiBold;
    font-weight: 600;
}
.add-requirement{
    padding-left: 36px;
    /* padding-top: 20px;
   
    padding-bottom: 20px; */
    color: #007fff;
    font-size: 16px;
    margin: 0px!important;
    font-family: 'Montserrat-Regular',Arial,sans-serif;
}

.downIcon{
    padding-left: 16px;
}
.toggle-wrap{
    padding-left: 40px;
}
.pass-label{
    font-family: 'Montserrat-Regular',Arial,sans-serif;
    color: #64707d;
    font-size: 14px;
}
.pass-mark-input{
    border-radius: 8px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    width: 48px;
    height: 24px;
    border: none;
    color: #64707d;
    font-size: 14px;
    margin-left: 78px;
    text-align: center;
    font-family: 'Montserrat-SemiBold',Arial,sans-serif;
}
.pass-mark-input::-webkit-inner-spin-button, 
.pass-mark-input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.pass-mark{
    padding-bottom: 4px;
    margin-bottom: 0px!important;
    color: #64707d;
    font-size: 14px;
    font-family: 'Montserrat-SemiBold',Arial,sans-serif;
}
.add-new-skill{
    font-family: 'Montserrat-Medium',Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #0080ff;
    padding-left: 20px;
    padding-top: 20px;
}
.evaluation-name{
    width: 476px;
    font-size: 16px;
    border: none;
    font-family: 'Montserrat-Regular',Arial,sans-serif;
    border-bottom: 1px solid #edeff0;
    padding-bottom: 24px;
}
.skill-name{
    padding-left: 12px;
    font-family:  'Montserrat-Regular',Arial,sans-serif;
    font-size: 16px;
    background: transparent;
    border: none;
    padding-bottom: 21px;
    padding-top: 16px;
}
.inform-wrapper{
    width: 476px;
    padding-top:32px;
    padding-bottom:20px;
}
.inform-text{
    font-size: 14px;
    color: #64707d;
    font-weight: 500;
    font-family: 'Montserrat-Medium',Arial,sans-serif;
}
.requirement-name{
    border: none;
    border-bottom: 1px solid #edeff0;
    width: 396px;
    padding-top: 20px;
    padding-bottom: 20px;

}
.requirement-wrapper{
   min-height: 100px; 
   overflow: auto;
   max-height: 200px; 
   overflow: auto;
}
.skill-requirement-wrapper{
    width: 480px;
    /* height:215px; */
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}
.skill-name:focus,.evaluation-name:focus,.requirement-name:focus,.pass-mark-input:focus{
 outline: none;
 box-shadow: none;
}
.close-search {
    position: relative;
    right: 17px;
    top: 18px;
    width: 16px;
    height: 16px;
    background: #d4d5d6;
    border-radius: 50%;  
    z-index: 99;
    -ms-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    cursor: pointer;
  }
  /* .close-search:hover,
  .close-search:focus{
    box-shadow: 0 0 0 11px #f2f4f5!important;
  } */
  .close-search:before, .close-search:after {
    position: absolute;
    left: 7px;
    content: ' ';
    height: 9px;
    width: 2px;
    background-color: #fff;
    top: 3px;
  }
  .close-search:before {
    transform: rotate(45deg);
  }
  .close-search:after {
    transform: rotate(-45deg);
  }


.close-search1 {
    position: relative;
    left: 444px;
    top: 19px;
    width: 16px;
    height: 16px;
    background: #d4d5d6;
    border-radius: 50%;  
    z-index: 99;
    -ms-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    cursor: pointer;
  }
  /* .close-search1:hover,
  .close-search1:focus{
    box-shadow: 0 0 0 11px #f2f4f5!important;
  } */
  .close-search1:before, .close-search1:after {
    position: absolute;
    left: 7px;
    content: ' ';
    height: 9px;
    width: 2px;
    background-color: #fff;
    top: 3px;
  }
  .close-search1:before {
    transform: rotate(45deg);
  }
  .close-search1:after {
    transform: rotate(-45deg);
  }

.cursor-on{
    cursor: pointer;
    height: 60px;
    /* margin-bottom: 50px; */
}
.remove-outline:focus{
    outline: none;
    box-shadow: none;
    background: none;
}
.remove-outline{
    background: none;
}

.pad-bottom{
    /*padding-bottom: 100px;*/
    margin-bottom: 70px;
}

.input-search-bg:focus{
    outline: none;
    box-shadow: none;
}
@media (max-width: 360px){
    .card-columns{
        column-count: 1;
    }
}
@media (min-width: 1300px){
    .card-columns{
        column-count: 2;
    }
    
}
@media (min-width: 2000px){
    .card-columns{
        column-count: 2;
    }
    /* .col-xxl{
        width: 25%;
        flex: 0 0 25%;
        max-width: 25%;
    } */
}


.switch {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 20px;
    margin-top: 8px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #fff;
      -webkit-transition: .4s;
      transition: .4s;
  }
  
  .slider:before {
      position: absolute;
      content: "\2012";
      color: #d8dbde;
      height: 14px;
      width: 14px;
      left: 1px;
      top: 1px;
      background-color: #64707d;
      -webkit-transition: .4s;
       transition: .4s; 
      text-align: center;
      vertical-align: middle;
      background-position: center;
      line-height: 1;
      font-size: 14px;
      font-weight: 900;
  }
  
  input:checked + .slider {
    border: 2px solid #0080ff;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3!important;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
    background: #0080ff;
    content: "";
    background-image: url(/assets/img/tick.png);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
  }
  
  /* Rounded sliders */
 
  .slider.round {
    border-radius: 34px;
    border: 2px solid #64707d;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
