<!-- <div class="sticky-menu" [ngClass]="{'stickywrap' : navIsFixed == true}">
  <div class="d-flex justify-content-between">
    <div class="mr-auto">
		<div class="d-flex flex-row">
			<h2 class="title-heading">APG</h2>
			<span class="apg-longterm">Access Point Group</span>
		</div>
	</div>
	<button type="button" class="btn btn-create" (click)="creatnew()">Add new APG</button> 
  </div>
</div> -->
<div id="mainapg" class="main-wrapper pad-bottom" *ngIf="ismodule == false && iscreate == false  && isshare == false && shareAPG == false && apCreate == false">
  <div *ngIf="apgPermission.length > 0" class="d-flex justify-content-between heading-margin">
    <div class="mr-auto">
      <div class="d-flex flex-row">
        <h2 class="title-heading">APG</h2>
        <span class="apg-longterm">Access Point Group</span>
      </div>
    </div>
    <button *ngIf="apgDemo.addAPG != ''" type="button" class="btn btn-create" (click)="addNewAPG()">Add new APG</button>
  </div>
  <div class="input-group col-md-12 mt-30">
    <input class="form-control py-2 input-search-bg" type="search" placeholder="Search APG" id="example-search-input"
      (input)="userSearch($event.target.value, 'APG','','')" autocomplete="off">
    <!-- <input 
        class="form-control py-2 input-search-bg" 
        type="search" 
        placeholder="Search APG" 
        id="example-search-input"
        (input)="changeSearch($event.target.value, 'apg','','')"
        autocomplete="off"
        > -->
    <span class="input-group-append">
      <button class="bt btn-design btn-outline-secondary" type="button">
        <i class="fa fa-search search-size"></i>
      </button>
    </span>
  </div>
  <div class="apg-wrapper card-columns">
    <div class="card " *ngFor="let apg of apgList; let i = index">
      <div class="single-apg">
        <div class="info-section">
          <p class="apg-type" *ngIf="apg.module">
            {{ apg.module.name }}
          </p>
          <p class="apg-type" *ngIf="!apg.module"> - </p>
          <h4>{{apg.name}}</h4>
          <div class="apg-scroll">
            <p class="apg-desc">{{apg.description}}</p>
          </div>
        </div>
        <div class="d-flex justify-content-between btn-section">
          <button class="apg-share remove-outline" (click)="apgPublicShare(apg._id)">Share</button>
          <div>
            <button class="btn-action remove-outline" (click)="onclickUpdate(apg._id)">Edit</button> | <button class="btn-action remove-outline"
              (click)="onclickDelete(apg._id,alertDelete)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="apgList.length >=20  && result != 0 && iscreate == false && ismodule == false && shareAPG == false && isshare == false && apCreate == false"
  class="load-more">
  <!-- <div *ngIf="apgList.length >=20 && ismodule == false && iscreate == false && isshare == false && shareAPG == false && result != 0 && apgDemo.viewAPG != ''" class="load-more"> -->
  <button class="btn remove-outline" (click)="showmore('apg',apgList.length)">load more</button>
</div>

<div class="main-wrapper" *ngIf="ismodule == true || isshare == true || iscreate == true || shareAPG == true || apCreate == true">
  <div class="back-wrap">
    <div class="d-flex back-to" *ngIf="ismodule == true || isUpdate == true" (click)="goToBack('type')">
      <i class="fa fa-angle-left"></i>
      <p>APG</p>
    </div>
    <div class="d-flex back-to" *ngIf="isshare == true && isUpdate == false" (click)="goToBack('create')">
      <i class="fa fa-angle-left"></i>
      <p>Pick APG type</p>
    </div>


    <!-- <a class="back-to" *ngIf="ismodule == true || isUpdate == true" (click)="goToBack('type')">< APG</a> -->
    <!-- <a class="back-to" *ngIf="isshare == true && isUpdate == false" (click)="goToBack('create')">< Pick APG type</a> -->

    <div class="d-flex justify-content-between" *ngIf="iscreate == true  && isUpdate == false">
      <div class="back-to" (click)="goToBack('share')">
        <i class="fa fa-angle-left"></i>
        <p>Creating progress APG</p>
      </div>
      <!-- <a class="back-to" (click)="goToBack('share')">< Creating progress APG</a> -->
      <a class="cancel-back" (click)="cancelapg()">Cancel</a>
    </div>

    <div class="d-flex justify-content-between" *ngIf="shareAPG == true  && isUpdate == false">
      <div class="back-to" (click)="goToBack('share')">
        <i class="fa fa-angle-left"></i>
        <p>Creating progress APG</p>
      </div>
      <!-- <a class="back-to" (click)="goToBack('share')">< Creating progress APG</a> -->
      <a class="cancel-back" (click)="cancelapg()">Cancel</a>
    </div>
  </div>
  <div class="location-group">
    <h3 *ngIf="ismodule == true" class="title-heading">Pick APG type</h3>
    <p *ngIf="ismodule == true" class="input-recommend" style="padding-left: 15px">
      APG or Access Point Group is where a Teacher will be able to mark the progress or improvement of each student.
      APG serves as a central point to view the student’s progress by all parties. It can be in the form of Progress
      Bar or Badges.
    </p>
    <!-- <h3 *ngIf="isshare == true && isUpdate == false && apCreate == false && iscreate== false" class="title-heading">Creating progress APG</h3>
    <h3 *ngIf="apCreate == true && iscreate == false" class="title-heading">Creating evaluation APG</h3> -->
    <h3 *ngIf="isshare == true && isUpdate == false" class="title-heading">Creating {{apgType}} APG</h3>
    <h3 *ngIf="iscreate == true && isUpdate == false" class="title-heading">Create {{apgType}} APG</h3>
    <h3 *ngIf="iscreate == true && isUpdate == true" class="title-heading">Update APG</h3>
    <h3 *ngIf="shareAPG == true && isUpdate == false" class="title-heading">Shared APGs</h3>
  </div>
  <div class="apg-form">
    <form #createDataApgForm="ngForm">
      <div *ngIf="iscreate == true && apCreate == true">
        <div class="d-flex flex-column">
          <div class="d-flex flex-row">
            <div class="d-flex flex-column">
              <label class="evaluation-Name"> Evaluation Name</label>
              <input type="text" placeholder="Type skill name here" class="evaluation-name" name="name" required
                [(ngModel)]="model.name" #name="ngModel">
            </div>
          </div>
          <div class="inform-wrapper">
            <span class="icon">i</span> <span class="inform-text">Some information about how do skill and requirement
              create with multiple lines</span>
          </div>
          <div dragula="COLUMNS" class="requirements-wrapper" [(dragulaModel)]="templateAccessPointGroup" drag-scroll>
            <div class="skill-requirement-wrapper mb-3" *ngFor="let item of templateAccessPointGroup; let i=index" id="skill-requirement-id-{{i}}">
              <div class="d-flex flex-column skill-header" style="background:#f2f4f5;" id="skillHeader{{i}}">
                <div *ngIf="templateAccessPointGroup && templateAccessPointGroup.length > 1" class="close-search1"
                  (click)="mainAccessPointClear(item)"></div>
                <div class="d-flex">
                  <span class="img-wrapper group-handle-wrapper">

                    <img class="group-handle" src="../../../assets/images/disable-holder.svg">
                  </span>
                  <input type="text" placeholder="Type skill name here" class="skill-name" name=" {{'skillName' + i }}"
                    required [(ngModel)]="item.name" required>
                  <!-- <input type="text" placeholder="Type skill name here" class="skill-name" name="skillName" required [(ngModel)]="item.name" #skillName="ngModel" required> -->
                </div>
                <div class="d-flex align-items-center">
                  <div class="toggle-wrap">
                    <label class="switch">
                      <input type="checkbox" (click)="checkMarkToggle(item,i)" [checked]="item.options">
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <p style="padding-left:12px;" class="pass-mark">Use passing mark</p>
                </div>
                <div class=" pb-3" [ngClass]="{'d-none':!item.options}" id="passMark{{i}}">
                  <input type="number" class="pass-mark-input" (input)="minAndMax($event,item.data.evaluation.passMark, i)"
                    name="{{'passMark' + i}}" [(ngModel)]="item.data.evaluation.passMark">
                  <label class="pl-2 pass-label">% to pass</label>
                </div>
              </div>
              <div id="requirement-inner-box-{{i}}" class="requirement-inner-box" (scroll)="requirementInnerBox($event,i)"
                dragula={{i}} [(dragulaModel)]="item.data.evaluation.details">
                <div class="d-flex container requirement" *ngFor="let test of item.data.evaluation.details; let x = index"
                  style="padding-left:40px;" id="requirement{{x}}">
                  <span class="img-wrapper">
                    <img class="move-sign" *ngIf="item.data.evaluation.details.length > 1" src="../../../assets/images/disable-holder.svg">
                    <img class="move-sign" *ngIf="item.data.evaluation.details.length == 1" src="../../../assets/images/single-holder.svg">
                  </span> <textarea rows=1 type="text" name="{{'requirement'+ x + i}}" id="{{'box'+ x + i}}"
                    placeholder="Type requirement here" class="requirement-name" [(ngModel)]="test.requirement"
                    required (input)="autoResize($event,i)"></textarea>
                  <!-- <span class="pr-3"></span>	<textarea type="text" name="requirement" placeholder="Type requirement here" class="requirement-name" [(ngModel)]="test.requirement" #requirement="ngModel" required></textarea> -->
                  <div *ngIf="item.data.evaluation.details && item.data.evaluation.details.length > 1" class="close-search"
                    (click)="subAccessPointClear(test,item,i,x)"></div>
                </div>
              </div>

              <div class="d-flex align-items-center cursor-on" id="skillFooter{{i}}">
                <div *ngIf="item.upDownOptions" id="downupArrow{{i}}">
                  <div *ngIf="item.upOptions" class="downIcon" (click)="pushUpClick(i)">
                    <img class="downIcon" src="./assets/images/push-up.png">
                  </div>
                  <div *ngIf="item.DownOptions" class="downIcon" (click)="pushDownClick(i)">
                    <img class="downIcon" src="./assets/images/push-down.png">
                  </div>
                </div>
                <button class="add-requirement" (click)="subAccessPointAdd(item,i)" [disabled]="item.name == ''">
                  Add new requirement
                </button>
              </div>
            </div>
            <p class="add-new-skill cursor-on" (click)="mainAccessPointAdd()">Add new Skill</p>

          </div>
          <!-- <p class="add-new-skill" (click)="mainAccessPointAdd()">Add new Skill</p> -->
        </div>
        <div class="d-flex justify-content-end form-footer">
          <button type="button" class="btn btn-cancel" (click)="cancelapg()">Cancel</button>
          <button type="button" class="btn btn-submit" (click)="createEvaluateApgs(model, false)" [disabled]="!createDataApgForm.valid">Create</button>
        </div>
      </div>
    </form>
    <div *ngIf="iscreate == true && dataApCreate">
      <div class="col-md-12 col-lg-8 input-wrap">
        <div class="form-group ">
          <div class="d-flex justify-content-between">
            <label class="form-title input-label" for="address">Data name</label>
            <div class="limit-wordcount">
              <span>{{wordLength}}/60characters</span>
            </div>
          </div>
          <input type="text" class="form-control create-input" placeholder="Type preffered name here" name="name"
            maxlength="60" [(ngModel)]="model.name" (focus)="focusMethod($event,'name', $event.target.value)" (blur)="blurMethod($event,'name')"
            (input)="changeMethod($event.target.value)" required #name="ngModel">
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div [hidden]="!name.errors.required">
              Name is required!
            </div>
          </div>
        </div>
        <div class="form-group radio-form-group">
          <div class="d-flex justify-content-between">
            <label class="form-title input-label" for="address">Input type</label>

            <!-- <div class="limit-wordcount1">
              <span>{{wordLength}}/280characters</span>
            </div>
          </div>
          <textarea class="form-control create-input" rows="3" placeholder="Type description here" name="description"
            [(ngModel)]="model.description" (focus)="focusMethod($event,'msg', $event.target.value)" (blur)="blurMethod($event,'msg')"
            (input)="changeMethod($event.target.value)" maxlength="280" #description="ngModel"></textarea> -->
            <!-- <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
            <div [hidden]="!description.errors.required">
              Description is required!
            </div>
          </div> -->
          </div>
          <div class="radio-group">
            <!-- <div class="type-input" [class.activeRadio]="selectedRadio == 'input-box'" (click)="radioSelect('input-box')"> -->
            <div class="type-input" [class.activeRadio]="selectedRadio == 'Number'" (click)="radioSelect('Number')">
              <div class="radio-wrapper">
                <div class="label-checked"></div>

                <input type="radio" class="form-radio" name="radio" [(ngModel)]="selectedRadio" value="input-box" />

                <div class="huey">Input box</div>
                <div class="huey-child">Number</div>
              </div>


            </div>

            <!-- <div class="type-input" [class.activeRadio]="selectedRadio == 'slider'" (click)="radioSelect('slider')"> -->
            <div class="type-input" [class.activeRadio]="selectedRadio == 'Range'" (click)="radioSelect('Range')">
              <div class="radio-wrapper">
                <div class="label-checked"></div>

                <input type="radio" class="form-radio" name="radio" [(ngModel)]="selectedRadio" value="slider" />

                <div class="huey">Slider</div>
                <div class="huey-child">Number</div>
              </div>

            </div>
            <div class="type-input" [class.activeRadio]="selectedRadio == 'Radio'" (click)="radioSelect('Radio')">
              <div class="radio-wrapper">
                <div class="label-checked"></div>
                <input type="radio" name="radio" class="form-radio" [(ngModel)]="selectedRadio" value="selection" />

                <label class="huey">Selection</label>
                <br>
                <div class="huey-child">Text</div>
              </div>


            </div>
          </div>

        </div>
        <div class="input-result">
          <div *ngIf="selectedRadio == 'Number'">
            <div class="form-group ">
              <div class="d-flex justify-content-between">
                <label class="form-title input-label" for="address">Measurement unit</label>
                <div class="limit-type-wordcount">
                  <span>{{wordLength}}/6characters</span>
                </div>
              </div>
              <input type="text" class="form-control create-input" placeholder="E.g. cm or mm" name="input-method"
                maxlength="6" [(ngModel)]="templateAccessPointGroup.data.unit" (focus)="focusMethod($event,'input_method', $event.target.value)"
                (blur)="blurMethod($event,'input_method')" (input)="changeMethod($event.target.value)" required
                #input_method="ngModel">
              <div *ngIf="input_method.invalid && (input_method.dirty || input_method.touched)" class="alert alert-danger">
                <div [hidden]="!input_method.errors.required">
                  Measurement unit is required!
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="selectedRadio == 'Range'">
            Slider
          </div>
          <div *ngIf="selectedRadio == 'Radio'">
            <h4 class="data-list-title"> Data list</h4>
            <div *ngFor="let dataValue of templateAccessPointGroup.data.inputTypeProperties.options;let i=index;trackBy:trackByFn">
              <!-- <input type="text" class="data-value" placeholder="Type data value here"> -->
              <div class="d-flex">
                <span class="pr-3 img-wrapper">
                  <!-- <img class="move-sign"  src="../../../assets/images/disable-holder.svg"> -->
                  <img class="move-sign" src="../../../assets/images/single-holder.svg">
                </span>
                <div class="form-group">
                  <input type="text" class="form-control data-value" placeholder="Type data value here" [(ngModel)]="templateAccessPointGroup.data.inputTypeProperties.options[i]"
                    name="dataValue" required>
                </div>
                <div class="data-close" *ngIf=" templateAccessPointGroup.data.inputTypeProperties.options.length > 1"
                  (click)="dataValueClear(i)"></div>
              </div>
            </div>
            <span class="newValue" (click)="addDataValue()">Add new data value </span>
          </div>
        </div>
        <div class="d-flex justify-content-end form-footer">
          <button type="button" class="btn btn-cancel" (click)="cancelapg()">Cancel</button>
          <button *ngIf="isUpdate == false" type="button" class="btn btn-submit" (click)="createDataApg()" [disabled]="(model.name==undefined || model.name.length == 0) || checkValidation(templateAccessPointGroup.data.inputTypeProperties.options) ||  valid==false">Create</button>
          <button *ngIf="isUpdate == true" type="button" class="btn btn-submit" [disabled]="!createapgForm.valid"
            (click)="createapgs(model, true, currentID)">Update</button>
        </div>
      </div>
    </div>
    <form novalidate #createapgForm="ngForm">
      <div class="row" *ngIf="ismodule == true">
        <div *ngFor="let module of moduleList; let i=index;" class="module-input col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl"
          [ngClass]="{'disable-click': module.name=='Badge'}">
          <label class="form-check-label" [ngClass]="{'selected': ischecked == module._id}">
            <div class="module-img">
              <img *ngIf="ischecked != module._id" class="setting-icon" src="./assets/img/{{module.name}}-type.png"
                class="img-fluid">
              <img *ngIf="ischecked == module._id" class="setting-icon" src="./assets/img/{{module.name}}-type_a.png"
                class="img-fluid">
            </div>
            <div class="label-checked"></div>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="module._id" value="{{module.name}}"
              (click)="chooseModuleType(module._id, module.name)"> {{module.name}}
          </label>
        </div>
      </div>
      <div *ngIf="isshare == true">
        <div class="d-flex flex-row">
          <div class="col-sm-4 col-md-5 col-lg-5 col-xxl">
            <div (click)="createNewAPG('create',apgType)" class="d-flex apg-box justify-content-center flex-column">
              <div class="d-flex flex-row">
                <div class="stoke-wrap">
                  <div class="stoke-1"></div>
                  <div class="stoke-2"></div>
                </div>
                <div class="icon-apg"></div>
              </div>
              <label style="line-height: 1" class="form-title input-label" for="address">Create new {{apgType}} APG</label>
            </div>
          </div>
          <div class="col-sm-4 col-md-5 col-lg-5 col-xxl" [ngClass]="{'disable-click': apgType=='Assessment'}">
            <div (click)="createNewAPG('share',apgType)" class="d-flex apg-box justify-content-center flex-column">
              <div class="d-flex flex-row">
                <div class="stoke-wrap">
                  <div class="stoke-1"></div>
                  <div class="d-flex flex-row justify-content-between">
                    <span class="stoke-2-first"></span>
                    <span class="stoke-2-sec"></span>
                  </div>
                </div>
                <div class="icon-apg"></div>
              </div>
              <label style="line-height: 1" class="form-title input-label" for="address">Create using publicly shared
                {{apgType}} APG</label>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="iscreate == true && apCreate == false && dataApCreate == false ">
        <div class="col-md-8 input-wrap">
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <label class="form-title input-label" for="address">APG name</label>
              <div class="limit-wordcount">
                <span>{{wordLength}}/60characters</span>
              </div>
            </div>
            <p class="input-recommend">We recommend to set APG name as same as Course name.</p>
            <input type="text" class="form-control create-input" placeholder="Type preffered name here" name="name"
              maxlength="60" [(ngModel)]="model.name" (focus)="focusMethod($event,'name', $event.target.value)" (blur)="blurMethod($event,'name')"
              (input)="changeMethod($event.target.value)" required #name="ngModel">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
              <div [hidden]="!name.errors.required">
                Name is required!
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <label class="form-title input-label" for="address">Description</label>
              <div class="limit-wordcount1">
                <span>{{wordLength}}/280characters</span>
              </div>
            </div>
            <textarea class="form-control create-input" rows="3" placeholder="Type description here" name="description"
              [(ngModel)]="model.description" (focus)="focusMethod($event,'msg', $event.target.value)" (blur)="blurMethod($event,'msg')"
              (input)="changeMethod($event.target.value)" maxlength="280" #description="ngModel"></textarea>
            <!-- <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
              <div [hidden]="!description.errors.required">
                Description is required!
              </div>
            </div> -->
          </div>
        </div>
        <div class="d-flex justify-content-end form-footer">
          <button type="button" class="btn btn-cancel" (click)="cancelapg()">Cancel</button>
          <button *ngIf="isUpdate == false" type="button" class="btn btn-submit" (click)="createapgs(model, false)"
            [disabled]="!createapgForm.valid">Create</button>
          <button *ngIf="isUpdate == true" type="button" class="btn btn-submit" [disabled]="!createapgForm.valid"
            (click)="createapgs(model, true, currentID)">Update</button>
        </div>
      </div>
      <div *ngIf="dataApg == 'Data'">

        <div class="col-md-8 input-wrap">
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <label class="form-title input-label" for="address">APG name</label>
              <div class="limit-wordcount">
                <span>{{wordLength}}/60characters</span>
              </div>
            </div>
            <p class="input-recommend">We recommend to set APG name as same as Course name.</p>
            <input type="text" class="form-control create-input" placeholder="Type preffered name here" name="name"
              maxlength="60" [(ngModel)]="model.name" (focus)="focusMethod($event,'name', $event.target.value)" (blur)="blurMethod($event,'name')"
              (input)="changeMethod($event.target.value)" required #name="ngModel">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
              <div [hidden]="!name.errors.required">
                Name is required!
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <label class="form-title input-label" for="address">Description</label>
              <div class="limit-wordcount1">
                <span>{{wordLength}}/280characters</span>
              </div>
            </div>
            <textarea class="form-control create-input" rows="3" placeholder="Type description here" name="description"
              [(ngModel)]="model.description" (focus)="focusMethod($event,'msg', $event.target.value)" (blur)="blurMethod($event,'msg')"
              (input)="changeMethod($event.target.value)" maxlength="280" #description="ngModel"></textarea>
            <!-- <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
              <div [hidden]="!description.errors.required">
                Description is required!
              </div>
            </div> -->
          </div>
        </div>
        <div class="d-flex justify-content-end form-footer">
          <button type="button" class="btn btn-cancel" (click)="cancelapg()">Cancel</button>
          <button *ngIf="isUpdate == false" type="button" class="btn btn-submit" (click)="createapgs(model, false)"
            [disabled]="!createapgForm.valid">Create</button>
          <button *ngIf="isUpdate == true" type="button" class="btn btn-submit" [disabled]="!createapgForm.valid"
            (click)="createapgs(model, true, currentID)">Update</button>
        </div>
      </div>
      <div *ngIf="shareAPG == true">
        <div class="input-group w-100">
          <input class="form-control py-2 input-search-bg" type="search" placeholder="Search APG" id="template-search-input"
            (input)="changeSearch($event.target.value, 'template')" autocomplete="off">
          <span class="input-group-append">
            <button class="bt btn-design btn-outline-secondary" type="button">
              <i class="fa fa-search search-size"></i>
            </button>
          </span>
        </div>
        <div class="row apg-share-content">
          <div *ngFor="let temp of templateList; let i=index;" class="share-input col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xxl">
            <label class="form-check-label" [ngClass]="{'selected': sharechecked == temp._id}">
              <div class="label-checked"></div>
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="temp._id" value="{{temp.name}}"
                (click)="chooseShareAPG(temp._id, temp.name)"> {{temp.name}}
            </label>
          </div>
        </div>

        <div class="d-flex justify-content-end apg-share-bottom">
          <div class=" align-self-end ">
            <button *ngIf="isUpdate == false" type="button" class="btn btn-submit" (click)="setShareAPG(temp)">Create</button>
          </div>
        </div>
        <div class="d-flex justify-content-center shareApgLoadMore">
          <div *ngIf="templateList.length >= 20 && result.length != 0 " class="load-more1">
            <button class="btn remove-outline" (click)="showMoreTemplate(templateList.length)">load more</button>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>


<ng-template #alertDelete let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title">Confirm delete?</h3>
    <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      	<span aria-hidden="true">&times;</span>
    	</button> -->
  </div>
  <div class="modal-body apg-confirm">
    <p>Are You sure you want to delete <span class="target">"{{deleteAPG}}"</span>? You won't back it return.
      <!-- <span style="color: red;">"{{deleteAPG}}"</span> -->
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn modal-cancel-btn" (click)="cancelapg('Close click')">Cancel</button>
    <button type="submit" class="btn modal-delete-btn" (click)="apgDelete(deleteId)">Delete</button>
  </div>
</ng-template>
