.overlay {
    background: rgba(217, 217, 217, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
}
.blury{
	filter: blur(5px);
}
h3.category-h3{
	font-family: 'Montserrat-Medium', Arial,sans-serif;
	margin-bottom: 1.3em;
	color: #2f3d4c;
}
.category-btn input{
	background: #f2f4f5;    
}

.editcagetory-item input{
	position: relative;
}

.category-btn input,
.cagetory-item label,
.editcagetory-item input{
	width: 100%;
	border: none;
	padding: 15px 20px;
	text-align: left;
	font-size: 18px;
	box-shadow: 0 1px 5px 1px rgba(221, 221, 221, 0.6);
	margin-bottom: 1.7em;
	border-radius: 3px;
}
.cagetory-item label{
	padding-left: 0.8em;
}
.cagetory-item input[type="radio"]{
	display: none;
}
.cagetory-item .label-checked{
	background: #fff;
	border: 2px solid #2f3d4c;
    border-radius: 50%;
    margin-right: 10px;
    width: 19px;
    height: 19px;
    margin-top: 3px;
    float: left;
}
.cagetory-item label.selected{
	background: #1683FB;
	color: #fff;
	box-shadow: 0 1px 5px 1px rgb(22, 131, 251);
}

.cagetory-item label.selected .label-checked{
	border: 2px solid #fff;
	box-shadow: inset 0 0px 0px 2px rgb(22, 131, 251);
}
.cagetory-item .form-check{
	padding: 0;
}

/*.scrollable
{
    overflow-y: scroll;
}
 .margin-left{
    margin-left: 20px !important;
}*/


.back-to{
	font-family: 'Montserrat-Medium', Arial,sans-serif;
	color: #6a7279;
	padding-left: 0 !important;
}
.pl-0{
	padding-left: 0 !important;
}
.category-edit,
.category-done {
    padding: 7px 30px;
    width: 105px;
}
.category-done{
	background: #1682fb;
	color: #fff;
}
.category-btn-group{
	display: none !important;
	position: absolute;
	right: 15px;
	top: 65px;
}
.category-btn-group .btn{
	background: #fff;
	z-index: 999;
	border-radius: 0;
	box-shadow: 0 1px 5px 1px rgba(221, 221, 221, 0.6);
	padding: 5px 12px;
}
.category-btn-group .btn:first-child{
	margin-right: 13px;
}
.category-btn input.onfocus,
.editcagetory-item input.onfocus{
	z-index: 99 !important;
	position: relative;
	background: #fff;
	box-shadow: 0 1px 5px 1px rgba(195, 195, 195, 0.6);
}
.showbtns{
	display: block !important;
	z-index: 99 !important;
}
.category-btn input:focus .category-btn-group{
	display: block !important;
	z-index: 99 !important;
}