<app-header [ngClass]="{ stick: isSticky == true }"></app-header>

<div class="d-flex flex-column justify-content-center align-items-center ">
  <div
    *ngIf="!staffLoading && staffPermission.length > 0"
    class="inner-wrapper"
  >
    <div class="display-flex mr-top-menu">
      <div class="col-md-10 p-0">
        <div class="d-flex flex-row">
          <h3 class="text-c300">Staff</h3>
          <div class="mt-2">
            <div
              class="location-name small"
              [ngStyle]="{
                color: gtxtColor,
                background: gbgColor
              }"
            >
              {{ locationName }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 p-0">
        <button
          *ngIf="staffDemo.addStaff != ''"
          type="button"
          class="btn bg-b100 text-s0 create-button-pos"
          (click)="goCreateForm('create')"
        >
          Add new staff
        </button>
      </div>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-10 col-xl-12 p-0">
      <p class="input-recommend body-m text-c100">
        This is the list of your ‘Staff’ that may include teachers, trainers
        etc. Click on a ‘staff’ to see their profile details
      </p>
    </div>

    <div
      *ngIf="staffPermission[0] != undefined"
      class="col-md-12 p-0"
      style="margin-top: 35px;"
    >
      <div class="input-group col-md-12 p-0">
        <input
          class="form-control py-2 input-search-bg bg-s20 body-l"
          type="search"
          placeholder="Search staff here"
          id="staff-search-input"
          (input)="userSearch2($event.target.value, 'staff', '', '')"
          (keyup.enter)="userSearch($event.target.value, 'staff', '', '')"
          autocomplete="off"
        />
        <span
          class="input-group-append"
          (click)="userSearch(searchword, 'staff', '', '')"
        >
          <button class="btn btn-design bg-s20 cursor-on" type="button">
            <i class="fa fa-search search-size text-c75 body-xl"></i>
          </button>
        </span>
      </div>
    </div>
    <div class="row display-flex user-group">
      <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 mr-box display-block"
        *ngFor="let staff of staffLists; let i = index"
      >
        <div
          class="box-design d-flex flex-row align-items-center"
          (click)="showDetails(staff, staff.userId)"
        >
          <div class="profileimg-wrap">
            <div class="circular-image">
              <img
                *ngIf="staff.profilePic == 'undefined'"
                src="assets/img/user.svg"
              />
              <img
                *ngIf="staff.profilePic != 'undefined'"
                src="{{ staff.profilePic }}"
              />
            </div>
          </div>
          <div class="info-side d-flex flex-column justify-content-center">
            <div>
              <label
                class="staff-label small text-c300"
                *ngIf="staff.permission"
                >{{ staff.permission.name }}</label
              >
            </div>
            <h5 class="body-xl text-c300">
              {{
                staff.preferredName.length > 20
                  ? (staff.preferredName | slice: 0:20) + '...'
                  : staff.preferredName
              }}
            </h5>
            <p class="info-mail body-m text-c100">{{ staff.email }}</p>
            <p class="info-about" *ngIf="staff.about == 'undefined'">
              -
            </p>
            <p
              class="info-about body-m text-c100"
              *ngIf="staff.about != 'undefined'"
            >
              <!-- <span>{{staff.about}}</span> -->
              {{
                staff.about.length > 48
                  ? (staff.about | slice: 0:48) + '...'
                  : staff.about
              }}
            </p>
          </div>
          <div *ngIf="staffDemo.viewStaff != ''" class="right-arrow ml-auto">
            <i class="fa fa-angle-right text-c75"></i>
          </div>
        </div>
      </div>

      <div
        *ngIf="staffListLoading"
        class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 mr-box display-block"
      >
        <content-loader>
          <svg:rect x="0" y="0" rx="2" ry="2" width="100%" height="60" />
          <svg:rect x="0" y="70" rx="2" ry="2" width="100%" height="60" />
        </content-loader>
      </div>
    </div>
  </div>

  <div *ngIf="staffLoading" class="inner-wrapper">
    <div
      class="d-flex mr-top-menu justify-content-between"
      style="height: 60px"
    >
      <div style="width: 50%">
        <content-loader>
          <svg:rect x="0" y="0" rx="0" ry="0" width="50%" height="40px" />
        </content-loader>
      </div>
      <div style="width: 50%">
        <content-loader>
          <svg:rect x="60%" y="0" rx="0" ry="0" width="40%" height="40px" />
        </content-loader>
      </div>
    </div>
    <content-loader>
      <svg:rect x="0" y="5" rx="0" ry="0" width="70%" height="10" />
      <svg:rect x="0" y="18" rx="0" ry="0" width="50%" height="8" />
      <svg:rect x="0" y="40" rx="2" ry="2" width="100%" height="20" />
      <svg:rect x="0" y="70" rx="2" ry="2" width="100%" height="60" />
    </content-loader>
    <content-loader>
      <svg:rect x="0" y="10" rx="2" ry="2" width="100%" height="60" />
      <svg:rect x="0" y="80" rx="2" ry="2" width="100%" height="60" />
    </content-loader>
  </div>

  <div
    *ngIf="staffLists.length >= 20 && result?.length > 0"
    class="d-flex justify-content-center load-more bg-s0"
  >
    <button
      class="text-b100 body-m bg-s0"
      style="border:none;outline: none;cursor: pointer;"
      (click)="showMore('staff', staffLists.length)"
    >
      load more
    </button>
  </div>
</div>
