.header-question {
  border-bottom: 1px solid #edeef0;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.closemark {
  display: inline-block;
  width: 30px;
  height: 16px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.closemark_stem,
.closemark_kick {
  position: absolute;
  width: 2px;
  height: 24px;
  background-color: #3d5266;
  left: 16px;
  top: -2px;
}

.closemark_kick {
  transform: rotate(90deg);
}

.hide {
  display: none !important;
}

.green-txt {
  color: #00a653;
}

.modal-hg {
  max-height: 75vh;
  overflow: scroll;
}

.ans-box {
  border: 1px solid #edeef0;
  border-radius: 4px;
  background: #ffffff;
  padding: 12px;
}

.correct-box {
  border: 2px solid #00a653;
}
