.sw-wrap {
  font-family: 'Inter-UI-Medium', Arial, sans-serif;
  font-style: normal;
  font-feature-settings: 'tnum' on, 'lnum' on, 'ss01' on, 'zero' on, 'ss02' on,
    'ss03' on, 'case' on;
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
  background: #ffbf00;
  color: #ffffff;
  border-radius: 8px;
  padding: 0px 5px;
  margin-left: 8px;
}

.split-line {
  border: 1px solid #e3e4e6;
}

.footer {
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.08);
  /* width: 100vw; */
  height: 63px;
  /* margin-left: -30px !important; */
  padding: 0px 20px;
  background: #fff;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
.color-wrap {
  margin-right: 16px;
}
.color-box {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  margin-right: 8px;
}
.color-txt {
  word-break: break-all;
}

.btn-detail {
  box-shadow: 1px 2px 16px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  width: 121px;
}

.pb-24 {
  padding-bottom: 24px;
}
.fine {
  color: #d4d5d6;
  padding-bottom: 20px;
}
.mastered {
  color: #4fdd00;
  padding-bottom: 20px;
}
.notstarted {
  color: #d3d3d3;
  padding-bottom: 20px;
}
.w-90 {
  width: 90%;
}
.w-50 {
  width: 50%;
}
.dotted {
  width: 5px;
  height: 5px;
  background: #5c6773;
  border-radius: 50%;
  margin: 8px;
}
