.mastery-title {
  font-family: 'Inter-UI-Medium', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: 'tnum' on, 'lnum' on, 'ss01' on, 'zero' on, 'ss02' on,
    'ss03' on, 'case' on;
  color: #363f4d;
}
.sw-wrap {
  font-family: 'Inter-UI-Medium', Arial, sans-serif;
  font-style: normal;
  font-feature-settings: 'tnum' on, 'lnum' on, 'ss01' on, 'zero' on, 'ss02' on,
    'ss03' on, 'case' on;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  background: #ffbf00;
  color: #ffffff;
  border-radius: 8px;
  padding: 0px 5px;
  margin-left: 8px;
}
.light-txt {
  font-family: 'Inter-UI-Medium', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-feature-settings: 'tnum' on, 'lnum' on, 'ss01' on, 'zero' on, 'ss02' on,
    'ss03' on, 'case' on;
  color: #5c6773;
  padding-top: 8px;
}
