<section id="container" class="d-flex flex-column h-100 w-100">
    <header id="header">
      <div class="col-md-12 header-br" *ngIf="showHeader">
        <app-header class="d-flex header-top top-header"></app-header>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4  d-flex justify-content-end pos-logout">
          <button class="btn dropdown-toggle" type="button" (click)="logoff()">
            Admin
          </button> 
        </div>
      </div>
      <app-sidebar class="d-flex" *ngIf="showSidebar"></app-sidebar>
      
    </header>
    <div id="content" class="d-flex flex-row h-100 w-100">
      <!-- <aside [hidden]="isLogin" class="overflow left-sidebar col-md-2" *ngIf="showSidebar">
        <app-sidebar></app-sidebar>
      </aside> -->
      <section id="main-content-wrapper" class="w-100 overflow">
        <main>
          <router-outlet></router-outlet> 
        </main>
      </section>
    </div>
</section>