.overlay {
    background: rgba(217, 217, 217, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}
.blury{
  filter: blur(9px);
}
.main-wrapper{
    padding: 0 15px;
}
.edit-calnedar-btn,
ul.calendar-year li{
  font-family: 'Montserrat-Medium',Arial,sans-serif;
}
.title-heading,
.single-calendar h4,
.input-label{
	font-family: 'Montserrat-Semibold',Arial,sans-serif;
}
.title-heading{
    font-size: 27px;
    padding-left: 15px;
    color: #2e3e4d;
}
.heading-margin{
    margin-top: 23px;
}
.btn-create{
  color: #fff;
  background-color: #1682fb;
  border: none;
  height: 45px;
  margin-right: 15px;
  border-radius: 3px;
}
.single-calendar{
	cursor: pointer;
	-ms-box-shadow: 0 1px 3px 2px rgba(213, 213, 213, 0.3);
	-webkit-box-shadow: 0 1px 3px 2px rgba(213, 213, 213, 0.3);
	box-shadow: 0 1px 3px 2px rgba(213, 213, 213, 0.3);
	border-radius: 4px;
	margin-bottom: 20px;
	margin-top: 5px;
	padding: 16px;
	margin-left: 0;
	margin-right: 0;
}
.single-calendar h4{
	color: #2e3e4d;
	font-size: 18px;
	margin-bottom: 0;
}
.calendar-group{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
}
.right-arrow{
	font-size: 26px;
	line-height: 0;
	color: #d4d5d6;
	cursor: pointer;
}
.pl-zero{
	padding-left: 0 !important;
}
ul.calendar-year{
	padding: 0;
	margin: 0;
	margin-bottom: 2px;
}
ul.calendar-year li{
	color: #64707d;
	font-size: 14px;
	float: left;
	padding-right: 30px;
}
ul.calendar-year li:first-child{
	list-style: none;
}
.back-wrap{
    padding: 23px 15px 15px;
}
.back-to{
    font-family: 'Montserrat-Regular', Arial,sans-serif;
    color: #6a7279;
    padding-left: 0 !important;
    cursor: pointer;
    font-size: 16px;
}
.calendar-form{
    padding: 20px 15px;
}
.btn-submit,
.btn-cancel{
    border: none;
    height: 45px;
    border-radius: 3px;
    width: 100px;
}
.btn-submit{
    color: #fff;
    background-color: #1682fb;
    margin-left: 15px;
}
.btn-cancel{
    background-color: #f2f4f5;
}
.input-wrap{
    padding-left: 0;
}
.create-input:hover{
    background: #f7f9fa;
}
.input-wrap .form-group{
    /*border-bottom: 1px solid rgba(0,0,0,.1);*/
}
.create-input:focus{
  -webkit-box-shadow: 0 1px 3px 2px rgba(213, 213, 213, 0.3);
  -moz-box-shadow: 0 1px 3px 2px rgba(213, 213, 213, 0.3);
  box-shadow: 0 1px 3px 2px rgba(213, 213, 213, 0.3);
}
.create-input{
    font-family: 'Montserrat-Regular','Arial', sans-serif !important;
    border-radius: .25rem;
    border: none;
    margin-bottom: 15px;
    padding: .6rem .75rem;
    margin-left: -.75rem;
    width: 103%;
    margin-top: 4px;
}
.input-label{    
    font-size: 18px;
    color: #2e3e4d;
    margin-bottom: 0;
}
.form-footer{
	position: fixed;
    bottom: 0;
    padding: 20px 0;
    right: 30px;
}
.tool-box{
	display: table;
  	border: 2px solid #0080ff;
  	border-radius: 4px;
    margin-bottom: 16px;
    margin-top: 13px;
}
.tool-checked{	
	margin-right: 0;
	flex: auto;
  border-right: 2px solid #0080ff;
}
.tool-checked:last-child{
  border-right: none;
}
.tool-checked label{	
	border-right: 0;
	padding: 13px 20px;
	color: #0080ff;
	font-size: 16px;
	flex: auto;
	text-align: center;
  	font-family: 'Montserrat-Regular',Arial,sans-serif;
}
.tool-checked.selected,
.tool-checked label.selected{
	background: #0080ff;
	color: #fff;
}
.selected label{
	color: #fff !important;	
}
.tool-checked input[type="radio"] {
    display:none;
}
.edit-calnedar-btn{
  color: #2e3d4d;
  font-size: 16px; 
  cursor: pointer; 
}
.closemark {
    display:inline-block;
    width: 11px;
    height: 15px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
.closemark_stem ,
.closemark_kick {
  position: absolute;
  width: 2px;
  height: 13px;
  background-color: #425568;
  left: 5px;
  top: 3px;
}

.closemark_kick {
    transform: rotate(90deg);
}

.checkmark {
    display:inline-block;
    width: 11px;
    height: 15px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.checkmark_stem {
    position: absolute;
    width: 2px;
    height: 13px;
    background-color: #425568;
    left: 6px;
    top: 1px;
}

.checkmark_kick {
    position: absolute;
    width: 6px;
    height: 2px;
    background-color: #425568;
    left: 2px;
    top: 12px;
}
.edit-section{
  position: absolute;
  bottom: -42px;
  right: 8px;
  z-index: 99;
}
.pt-7{
  padding-top: 7px;
}
.mb-zero{
  margin-bottom: 0;
  z-index: 999;
}
.edit-input-wrap input{
  -moz-box-shadow: 0 1px 5px 1px rgba(221, 221, 221, 0.6);
  -webkit-box-shadow: 0 1px 5px 1px rgba(221, 221, 221, 0.6);
  box-shadow: 0 1px 5px 1px rgba(221, 221, 221, 0.6);
}
.edit-input-wrap input:focus{
  -moz-box-shadow: 0 1px 5px 1px rgba(195, 195, 195, 0.6);
  -webkit-box-shadow: 0 1px 5px 1px rgba(195, 195, 195, 0.6);
  box-shadow: 0 1px 5px 1px rgba(195, 195, 195, 0.6);
}






.height-scroll {
	height: 200px;
    overflow-y: scroll;
}
/*holiday*/
.holiday-wrap{
  padding: 15px 0px;
    border-bottom: 1px solid #edeff0;
}
.medium-16{
  font-size: 16px;
    font-family: 'Montserrat-Medium','Arial', sans-serif;
    color: #2e3d4d;
}
.semi-16{
  color: #2e3e4d;
  font-size: 16px;
  font-family: 'Montserrat-SemiBold','Arial', sans-serif;
}
.semi-day-12{
  color: #64707d;
  font-size: 12px;
  font-family: 'Montserrat-SemiBold','Arial', sans-serif;
}
.btn-edit{
  font-size: 14px;
    color: #ff9500;
    font-family: 'Montserrat-Medium','Arial', sans-serif;
}
.circle1{
  border: 2px solid #007fff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  float: left;
}
.circle1{
  border: 2px solid #007fff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  float: left;
}

.circle2{
  border: 2px solid #ff3d33;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  float: left;
}

.circle3{
  border: 2px solid #788796;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  float: left;
}

.circle1.plus:before,
.circle1.plus:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #007fff;
}

.circle3.plus:before,
.circle3.plus:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #788796;
}

.circle1.plus:before, .circle3.plus:before{
    width: 2px;
    margin: 2px auto;
}
.circle1.plus:after, .circle3.plus:after{
    margin: auto 2px;
    height: 2px;
}
.holiday-create{
  padding: 15px 0px;
}
.btn-span{
  color: #0080ff!important;
  font-family: 'Montserrat-SemiBold','Arial', sans-serif;
  font-size: 16px;
}

.dropdown-arrow {
  font-size: 12px;
  padding-left: 10px;
  color: #0080ff;
}

.year-dropdown{
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
  position: absolute;
  z-index: 99;
  padding: 0px 15px;
  /*top: 55px;
  right: 15px;*/
  top: 240px;
  display: none;
  background: #fff;
  color: #2e3d4d !important;
}
.year-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;
}

.yearDropdown-wrap ul li,
.yearDropdown-wrap1 ul li{
  border-bottom: 1px solid #e3e4e6;
  padding: 10px 0px;
}

.yearDropdown-wrap ul li:last-child,
.yearDropdown-wrap1 ul li:last-child {
  border-bottom: none;
}

.yearDropdown-wrap .year-dropdown,
.yearDropdown-wrap1 .year-dropdown1 {
  box-shadow: 0px 2px 30px 1px rgba(1,0,0,0.2);
  border: none;
}

.input-day{
  border: 0;
  padding: 7px;
  background: #f2f4f5;
  outline: none;
}
.input-day:focus{
  box-shadow: 0 1px 3px 2px rgba(213, 213, 213, 0.3);
  background: #ffffff;
}
.input-name{
  outline: none;
  border: 0;
}
.input-wrap{
  border-bottom: 1px solid #edeff0;
  padding: 15px 0px;
}
.btns-wrap{
  padding-top: 30px;
  /*float: right;*/
}
.btn-cancel{
  background: #f2f4f5;
  color: #2e3d4d;
  margin-right: 20px
}
.btn-Primary{
  background: #007fff;
  color: #ffffff;
  border: none;
  height: 45px;
  border-radius: 3px;
  width: 100px;
}
.btn-inner-wrap{
  margin-left: auto;
}
.btn-delete{
  border: 0;
  padding: 10px 0px;
  background: #fff;
  color: #ff3d33;
  font-family: 'Montserrat-Medium',Arial,sans-serif;
  font-size: 16px;
}