<div class="min-scroll main-wrapper">
  <div [ngClass]="{'overlay': isfocus == true}"></div>
  <div *ngIf="iscreate == false && isHoliday == false && calendarPermission.length > 0">
    <div class="d-flex justify-content-between heading-margin">
      <div class="mr-auto">
        <div class="d-flex flex-row">
          <h2 class="title-heading">Calendar</h2>
        </div>
      </div>
      <button *ngIf="calendarDemo.createCalendar != ''" type="button" class="btn btn-create" (click)="creatnew()">Add new calendar</button>
    </div>  
    <div class="row calendar-group">
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3" *ngFor="let calendar of calendarLists">
        <div class="d-flex flex-column single-calendar" (click)="singleCalendarInfo(calendar._id)">
          <ul class="calendar-year">
            <li *ngFor="let year of calendar.year"> {{year}}</li>
            <li class="noliststyle" *ngIf="calendar.year == null || calendar.year == ''">-</li>
          </ul>
          <div class="d-flex justify-content-between">            
            <h4>{{calendar.name}}</h4>            
            <div class="right-arrow">
              <i class="fa fa-angle-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="iscreate == true">
    <div class="back-wrap d-flex">
      <!-- <a class="back-to" (click)="cancel()">< Calendar</a> -->  
      <div class="back-to" (click)="cancel()">
        <i class="fa fa-angle-left"></i>
        <p>Calendar</p>
      </div>
    </div>
    <div class="calendar-form-wrap">
      <h3 class="title-heading">Create calendar</h3>
      <div class="calendar-form">
        <form novalidate #calendarForm="ngForm">
          <div class="col-md-8 input-wrap">
            <div class="form-group input-border">
              <div class="d-flex justify-content-between">
                <label class="input-label" for="name">Calendar name</label>
                <div class="limit-wordcount">
                  <span>{{wordLength}}/80characters</span>
                </div>
              </div>  
              <input type="text" class="form-control create-input" placeholder="Type full name here" name="name" 
                [(ngModel)]="formField.name" 
                (focus)="focusMethod($event, $event.target.value)" (blur)="blurMethod($event)" (input)="changeMethod($event.target.value)"
                maxlength="80" required #name="ngModel">
              <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                <div [hidden]="!name.errors.required">
                  Name is required!
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="input-label" for="name">Year</label>
              <div class="tool-box">
                <div class="form-check form-check-inline tool-checked" *ngFor="let list of yearLists; let i = index">
                    <label [ngClass]="{'selected': isChecked == list}" class="form-check-label">
                      <input class="form-check-input" type="radio" name="year" id="year_{{list}}" value="{{list}}" [(ngModel)]="formField.year" #year="ngModel" [checked]='true'
                      (click)="chooseYear(list)"> {{list}}
                    </label>
                  </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end form-footer">
            <button type="submit" class="btn btn-cancel" (click)="cancel()">Cancel</button>
            <button type="submit" [disabled]="!calendarForm.valid" class="btn btn-submit" (click)="createCalendar(formField)">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div *ngIf="isHoliday == true">
    <div class="back-wrap d-flex justify-content-between" [ngClass]="{'blury': isfocus == true}">      
      <div class="back-to" (click)="cancel()">
        <i class="fa fa-angle-left"></i>
        <p>Calendar</p>
      </div>
      <a class="edit-calnedar-btn" (click)="editOn()">Edit calendar</a>
    </div>
    <div class="calendar-form-wrap">
      <div [ngClass]="{'blury': isfocus == true}" class="yearDropdown-wrap" style="padding: 0px 15px">
        <!-- <div>
          <select>
            <option *ngFor="let year of yearLists">{{year}}</option>
          </select>
        </div> -->
        <div class="show-dropdown" (click)="dropDown()">
          <span class="btn-span">{{selectedYear}}</span> <i class="fa fa-chevron-down dropdown-arrow"></i>
        <span class="caret"></span></div>
        <div>
          <ul class="year-dropdown">
            <li *ngFor="let year of yearLists">
              <span (click)="onClickYear(year)">{{ year }}</span>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <h3 *ngIf="isNameEdit == false" class="title-heading pt-7">{{calendarName}}</h3>
        <div *ngIf="isNameEdit == true" class="col-md-8 edit-input-wrap">

          <!-- <form novalidate #editForm="ngForm">
            <div class="d-flex justify-content-end">
              <div class="limit-wordcount">
                <span>{{wordLength}}/80characters</span>
              </div>
            </div>
            <input type="text" class="form-control create-input mb-zero" placeholder="Type full name here" name="name" 
            [(ngModel)]="formField.name" 
            (focus)="focusMethod($event, $event.target.value)" (blur)="blurMethod($event)" (input)="changeMethod($event.target.value)" maxlength="80" required #name="ngModel">
            <div class="edit-section">
              <button type="submit" class="btn" (click)="editOff()">
                <span class="closemark">
                    <div class="closemark_stem"></div>
                    <div class="closemark_kick"></div>
                </span>
              </button>
              <button type="submit" class="btn" (click)="editSingleCalendar(currentID)" [disabled]="!editForm.valid">
                <span class="checkmark">
                    <div class="checkmark_stem"></div>
                    <div class="checkmark_kick"></div>
                </span>
              </button>
            </div>
          </form> -->

          <div class="limit-wordcount1">
            <span>{{wordLength}}/80characters</span>
          </div>
          <input type="text" class="form-control create-input mb-zero" placeholder="Type full name here" name="name" 
          [(ngModel)]="formField.name" 
          (focus)="focusMethod($event, $event.target.value)" 
          (blur)="blurMethod($event)"
          maxlength="80" 
          (input)="changeMethod($event.target.value)" required 
          #name="ngModel">

          <div class="edit-section">
            <button type="submit" class="btn" (click)="editOff()">
              <span class="closemark">
                  <div class="closemark_stem"></div>
                  <div class="closemark_kick"></div>
              </span>
            </button>
            <button type="submit" class="btn" (click)="editSingleCalendar(currentID)" [disabled]="formField.name == ''">
              <span class="checkmark">
                  <div class="checkmark_stem"></div>
                  <div class="checkmark_kick"></div>
              </span>
            </button>
          </div>

        </div>
      </div>
      <div [ngClass]="{'blury': isfocus == true}" style="padding: 0px 15px">
        <!-- <div class="d-flex justify-content-between holiday-wrap">
          <div>
            <div class="semi-16">{{this.showYear.start}}</div>
            <div class="semi-day-12">Mon</div>
          </div>
          <div class="d-flex flex-column justify-content-center medium-16">
            Memorial day
          </div>
          <div class="d-flex flex-column justify-content-center btn-edit">
            Edit
          </div>
        </div> -->
        <div class="d-flex justify-content-between holiday-wrap" *ngFor="let item of holidaysArr">
          <div class="d-flex child1">
            <div>
              <div class="font16 color-2 input-label">{{ item.start | utcDate }}</div>
              <div class="font12 color-6 input-label">{{ item.start | TTday }}</div>
            </div>
            <span class="span-dash" *ngIf="!item.sameDate">-</span>
            <div *ngIf="!item.sameDate">
              <div class="font16 color-2 input-label">{{ item.end | utcDate }}</div>
              <div class="font12 color-6 input-label">{{item.end | TTday}}</div>
            </div>
          </div>
          <div class="d-flex flex-column justify-content-center edit-calnedar-btn child2">
            {{item.name}}
          </div>
          <div *ngIf="calendarDemo.editHoliday != ''" class="d-flex flex-column justify-content-center btn-edit child3" (click)="editHolidays(item._id,contentCreate)">
            <span>Edit</span>
          </div>
        </div>
       <!--  <div *ngFor="let item of calendarHolidays | mapToIterable">
          {{item.key}}:{{item.val}}
        </div> -->
        <div *ngIf="calendarDemo.addHoliday != ''" class="holiday-create" (click)="onClickCreate(contentCreate)">
          <div class="circle1 plus"></div>
          <span class="btn-span">Creating new holiday</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="calendarLists.length >=20 && iscreate == false && isHoliday == false>= 20 " class="d-flex justify-content-center load-more">
  <button class="btn" (click)="showMore(calendarLists.length)">load more</button>
</div>

<ng-template #contentCreate let-c="close" let-d="dismiss">
  <div class="modal-body modal-wrap">
    <h3 class="input-label color-2" *ngIf="!isEdit">Create Holiday</h3>
    <h3 class="input-label color-2" *ngIf="isEdit">Update Holiday</h3>
    <form #holidayForm="ngForm">
      <div class="input-wrap">
        <label class="color-6 font16">Date</label>
        <!-- <div class="input-group input-daterange">
            <input type="text" class="form-control" value="2012-04-05">
            <div class="input-group-addon">to</div>
            <input type="text" class="form-control" value="2012-04-19">
        </div> -->
        <div class="datepicker-wrap d-flex">
          <div class="xxx-start">
            <input 
            id="dpStart"
            class="input-day text-container" 
            type="text" 
            placeholder="First Day" 
            name="start" 
            required 
            [(ngModel)]="model.start" 
            (click)="start.toggle()" 
            (ngModelChange)="setMinDate($event)" 
            [maxDate]="maxDate"
            (navigate)="currentMonth($event)"
            [autoClose]="true" 
            ngbDatepicker 
            (dateSelect)="onDateSelect($event)" 
            #start="ngbDatepicker"
            (document:click)="closeFix($event, start)"
            readonly>
          </div>
          <!-- <span *ngIf="showText" [ngClass]="{'show':showText}" id="clearBtn1" class="clearBtn">First Day</span> -->
          <span class="center-span">
          To</span>
          <div class="xxx-end">
            <input 
            id="dpEnd"
            class="input-day" type="test" placeholder="Last Day" required (ngModelChange)="setMaxDate($event)" 
            [minDate]="minDate" [autoClose]="true" name="end" 
            [(ngModel)]="model.end" 
            (click)="end.toggle()" ngbDatepicker #end="ngbDatepicker" 
            (document:click)="closeFixEnd($event, end)"
            (navigate)="currentMonth($event)"
            readonly>
          </div>
        </div>
      </div>
      <div class="input-wrap">
        <div class="d-flex justify-content-between">
          <label class="color-6 font16">Holiday name</label>
          <div class="limit-wordcount">
            <span>{{wordLength}}/60characters</span>
          </div>
        </div>
        <div>
          <input class="input-name" type="text" placeholder="Type holiday name" name="name" (focus)="focusMethod($event, $event.target.value)" (blur)="blurMethod($event)" (input)="changeMethod($event.target.value)" maxlength="60" [(ngModel)]="model.name" required #holidayName="ngModel">
          <div *ngIf="holidayName.invalid && (holidayName.dirty || holidayName.touched)" class="alert alert-danger mb-0">
              <div [hidden]="!holidayName.errors.required">
                Display name is required!
              </div>
          </div>
        </div>
      </div>
      <div class="btns-wrap d-flex">
        <div>
          <button class="btn-delete" *ngIf="isEdit && calendarDemo.deleteHoliday != ''" (click)="deleteHoliday(this.model._id)">Delete</button>
        </div>
        <div class="btn-inner-wrap">
          <button type="button" class="btn btn-cancel" (click)="cancelModal()">Cancel</button>
          <button *ngIf="!isEdit" type="submit" class="btn btn-Primary btnC" (click)="createHoliday()" [disabled]="!holidayForm.form.valid">Create</button>
          <button *ngIf="isEdit" type="submit" class="btn btn-Primary btnC" (click)="updateHolidays()" [disabled]="!holidayForm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-light1" (click)="c('Close click')">Cancel</button>
    <button type="submit" class="btn btn-danger">Create</button>
  </div> -->
</ng-template>