<div>
	<button type="button" class="btn btn-primary" (click)="open(content)">+ create Calendar</button>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  	<div class="modal-header">
	    <h4 class="modal-title">Create Calendar</h4>
	    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
	      <span aria-hidden="true">&times;</span>
	    </button>
  	</div>
  	<form novalidate #calendarForm="ngForm">
	  	<div class="modal-body">
		  	<div class="form-group">
		      <label for="name">Name</label>   
		      <input type="text" class="form-control" [(ngModel)]="calendarName" name="name">
		    </div>
		    <div class="form-group">
		    	<label>Holiday Lists</label>
		    	<div *ngFor="let holidayDate of holidayLists" >
		    		<input type="checkbox" id="{{holidayDate._id}}" (change)="ChangeValue($event)" value="{{holidayDate._id}}" >
		    		<label for="{{holidayDate._id}}"> {{holidayDate.name}}</label>
		    	</div>
		    	<!-- <select  class="form-control" name="holidayDate._id" (change)="ChangeValue($event)" multiple>
			    	<option *ngFor="let holidayDate of holidayLists" [value]="holidayDate._id">{{holidayDate.name}}</option>
			    </select> -->
		    </div>
	  	</div>
	  	<div class="modal-footer">
	  	  <button type="submit" class="btn btn-danger" (click)="c('Close click')">Close</button>
	  	  <button type="submit" class="btn btn-primary" (click)="createCalendar(calendarForm.value)" >Create</button>
	  	</div>
  	</form>
</ng-template>