.data-height {
  max-height: 360px;
}
.noBg-apg-header {
  padding: 15px 20px 0px 20px;
}

.apg-scroll {
  overflow: overlay;
}

@-moz-document url-prefix() {
  .apg-scroll {
    overflow: auto;
  }
}
.padding-lr {
  padding: 0px 20px;
}

.test-circle {
  border-radius: 50%;
  font-size: 12px;
  min-width: 20px;
  min-height: 20px;
  width: 20px;
  height: 20px;
  text-align: center !important;
  font-family: 'IBM-Plex-Bold', Arial, sans-serif;
  align-items: center;
}

.circle {
  display: flex;
  align-items: center;
  height: 20px !important;
  border-radius: 12px;
  padding-top: 20px;
  text-align: center !important;
  font-family: 'IBM-Plex-Bold', Arial, sans-serif;
  font-size: 12px;
  padding: 0px 15px;
  width: 28px !important;
  justify-content: center;
}

.circle-apg {
  background: #e3e4e6;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: 10px 0px 10px 10px;
}
.detail-line {
  border-bottom: 1px solid #edeff0;
}

.apg-grade {
  text-align: justify;
  margin-bottom: 16px;
}
.hide-border {
  border-bottom: none;
  margin-bottom: 0px !important;
}
.gradename {
  padding-left: 16px;
}
.btn-section {
  border-top: 1px solid #edeff0;
  padding: 10px;
}

.status-wrapper-share {
  display: inline;
}
.apg-status {
  display: inline !important;
  animation-name: example;
  animation-duration: 1.5s;
}

.apg-share,
.btn-action {
  background: transparent;
  border: none;
  cursor: pointer;
}

.remove-outline:focus {
  outline: none;
  box-shadow: none;
  background: none;
}

.remove-outline {
  background: none;
}
