<div class="container">
  <div *ngIf="!createFlag">
    <div class="d-flex justify-content-between">
      <div class="h1-strong text-c300">Subscription</div>
      <button (click)="createToggle()" class="btn bg-b100 body-m text-s0">
        Add new subscription
      </button>
    </div>
    <div *ngIf="subscriptionList.length == 0" class="d-flex no-plan">
      <img src="../../../assets/images/content_creation.png" />
      <div class="h3-strong text-c300" style="margin-top: 32px">
        No subscription plans yet.
      </div>
      <div class="light-body-m text-c100" style="margin-top: 8px">
        Please add new subscription to start
      </div>
    </div>
    <div *ngIf="subscriptionList.length > 0" class="sub-container">
      <div class="sub-cards" *ngFor="let sub of subscriptionList">
        <div class="h4-strong text-c100">{{ sub.name }}</div>
        <div class="d-flex">
          <div class="d-flex flex-column" style="margin-right: 72px;">
            <div class="light-body-m text-c100">
              <span class="h2-strong text-c300">{{ sub.lessonCount }}</span>
              lessons
            </div>
            <div class="light-body-m text-c300">
              Available for <b>{{ sub.duration }} days</b>
            </div>
          </div>
          <div class="d-flex flex-column" style="margin-top: 4px;">
            <div class="light-body-m text-c100">Price</div>
            <div class="h3-strong text-c300">S$ {{ sub.price }}</div>
          </div>
        </div>
        <div class="light-body-m text-c100 desc">
          {{ sub.description }}
        </div>
        <div
          class="d-flex justify-content-between sub-footer"
          style="margin-top: 16px;"
        >
          <div
            (click)="viewSubscribersModal(viewSubscribers, sub)"
            class="body-m text-b100 cursor"
          >
            View subscriber
          </div>
          <div class="d-flex">
            <div
              (click)="editSub(sub)"
              class="body-m text-y200 cursor"
              style="padding: 0px 8px"
            >
              Edit
            </div>
            <!-- <div class="body-m text-r100 cursor" style="padding: 0px 8px;">
              Delete
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="create-plan" *ngIf="createFlag">
    <div (click)="createToggle()" class="body-l text-c300 cursor">
      <i class="fa fa-angle-left body-xl text-c200"></i> Subscription
    </div>
    <div class="h1-strong text-c300" style="margin-top: 16px;">
      Create new subscription
    </div>
    <div style="margin-top: 40px;" style="max-width: 480px;">
      <div class="h4-strong text-c300">Subscription name</div>
      <input
        class="mt-8 input-field"
        placeholder="Type subscription name"
        type="text"
        [(ngModel)]="subInfo.name"
      />
    </div>
    <div class="mt-32" style="max-width: 480px;">
      <div class="h4-strong text-c300">Description</div>
      <textarea
        class="mt-8 input-field"
        placeholder="Type description"
        [(ngModel)]="subInfo.description"
      ></textarea>
    </div>
    <div class="mt-32" class="d-flex" style="max-width: 480px;">
      <div style="margin-right: 32px;">
        <div class="h4-strong text-c300">Lesson count</div>
        <input
          class="input-field"
          placeholder="Type lesson count"
          type="text"
          [(ngModel)]="subInfo.lessonCount"
        />
      </div>
      <div>
        <div class="h4-strong text-c300">Validity</div>
        <div class="d-flex">
          <input
            class="input-field validity"
            type="number"
            placeholder="0"
            [(ngModel)]="subInfo.duration"
          />
          <div class="days h5-strong text-c100">days</div>
        </div>
      </div>
    </div>
    <div class="mt-32" style="max-width: 480px;">
      <div class="h4-strong text-c300">Price</div>
      <div class="d-flex mt-8">
        <div class="dollar h5-strong text-c100">S$</div>
        <input
          class="input-field price"
          type="number"
          placeholder="0.00"
          [(ngModel)]="subInfo.price"
        />
      </div>
    </div>
    <div class="d-flex" style="float: right; margin-top: 40px;">
      <button
        (click)="createToggle()"
        class="cancel-btn sub-btn h4-strong text-b100 cursor"
        style="margin-right: 24px;"
      >
        Cancel
      </button>
      <button
        *ngIf="!updateFlag"
        class="btn bg-b100 body-m text-s0 sub-btn"
        (click)="createSub()"
      >
        Create
      </button>
      <button
        *ngIf="updateFlag"
        class="btn bg-b100 body-m text-s0 sub-btn"
        (click)="updateSub()"
      >
        Update
      </button>
    </div>
  </div>
</div>
<ng-template #viewSubscribers let-c="close" let-d="dismiss">
  <div class="viewSub-container">
    <div class="d-flex justify-content-between">
      <div class="d-flex flex-column">
        <div class="body-l text-c100">{{ selectedSub.name }}'s</div>
        <div class="h1-strong text-c300">Subscriber</div>
      </div>
      <div class="d-flex lesson">
        <div class="d-flex flex-column">
          <div class="light-body-m text-b100">
            <span class="h3-strong text-b200">{{
              selectedSub.lessonCount
            }}</span>
            lessons
          </div>
          <div class="small text-b100">
            Available for <b>{{ selectedSub.duration }} days</b>
          </div>
        </div>
        <div class="d-flex flex-column">
          <div class="small text-b100">Price</div>
          <div class="h4-strong text-b200">S$ {{ selectedSub.price }}</div>
        </div>
      </div>
    </div>
    <div class="head-container">
      <div style="margin-top: 40px;" class="d-flex sub-head align-item-center">
        <div class="d-flex" style="width: 50%;">
          <div class="hash caption-u text-s70">#</div>
          <div class="caption-u text-c100">Customer</div>
        </div>
        <div style="width: 25%;" class="caption-u text-c100">
          Subscribed date
        </div>
        <div style="width: 25%;" class="caption-u text-c100">
          Expiry date
        </div>
      </div>

      <div
        [ngClass]="{
          'checked-lesson': checkboxFlag[i] == true
        }"
        (click)="checkLesson(i)"
        class="d-flex sub-body align-item-center"
        *ngFor="let sub of subscriberList; let i = index"
      >
        <div class="d-flex align-item-center" style="width: 50%;">
          <div class="hash">
            <input
              class="lesson-cb"
              type="checkbox"
              [(ngModel)]="checkboxFlag[i]"
            />
          </div>
          <div class="d-flex align-item-center">
            <img class="temp-icon" src="{{ sub.userDetails.profilePic }}" />
            <div class="body-m text-b100" style="margin-left: 3.25px;">
              {{ sub.userDetails.preferredName }}
            </div>
          </div>
        </div>
        <div style="width: 25%;" class="light-body-m text-c300">
          {{ sub.createdDate | date: 'dd LLL yyyy' }}
        </div>
        <div style="width: 25%;" class="light-body-m text-c300">
          {{ sub.expireDate | date: 'dd LLL yyyy' }}
        </div>
      </div>
    </div>
    <div class="d-flex Viewsub-footer justify-content-between">
      <div class="d-flex align-item-center cursor">
        <input class="lesson-cb" type="checkbox" [(ngModel)]="selectAllFlag" />
        <div
          class="body-l text-c300"
          style="margin-left: 16px;"
          (click)="selectAll()"
        >
          Select All
        </div>
      </div>
      <div>
        <button (click)="resubscribe()" class="btn bg-b100 body-m text-s0">
          Re-subscribe
        </button>
        <button (click)="closeModal()" class="close-btn body-m text-c100">
          Close
        </button>
      </div>
    </div>
  </div>
</ng-template>
