.sticky-back-user {
  position: fixed;
  width: 100%;
  z-index: 999 !important;
  padding: 10px 30px;
  left: 0;
  right: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  top: -80px;
  box-shadow: 0 1px 5px 1px rgba(221, 221, 221, 0.6);
}

.sticky-back-user.sticky-bar {
  top: 0;
}

h3 {
  word-wrap: break-word;
}

.back-button {
  background: none !important;
  border: none !important;
  cursor: pointer;
  padding: 0;
}

.back-button:focus,
.cancel-button:focus {
  outline: none !important;
}

.cancel-button {
  padding: 10px 20px !important;
  border: none;
  cursor: pointer;
  margin-right: 32px;
}

.create-button {
  padding: 10px 20px !important;
  border: none;
}

.back-staff-txt {
  margin: 0;
  padding: 2px 5px;
}

.fl-txt-rt {
  float: right;
}

.inner-wrapper-detail {
  padding: 30px;
  width: 100%;
}

@media only screen and (min-width: 1366px) {
  .inner-wrapper,
  .inner-wrapper-detail {
    width: 1080px !important;
  }
  .button-group {
    width: 1080px !important;
    margin: 0 auto;
    left: unset !important;
  }
}

.mr-bt-top {
  margin: 15px 0 35px 0;
}

.form-wrap textarea:hover,
.form-wrap input:hover {
  background: #f7f9fa;
}

.form-wrap textarea,
.form-wrap input {
  border-radius: 0.25rem;
  border: none;
  padding: 0.6rem 0.75rem;
  margin-left: -0.75rem;
  width: 103%;
}

.customer-delete-modal {
  width: 320px;
  height: 212px;
  background: #ffffff;
  border-radius: 4px;
}

.enroll_title {
  padding: 24px 24px 0px 24px;
}

.h3-strong {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.text-c300 {
  color: #363f4d;
}

.modal-title {
  margin-bottom: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.light-body-l {
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
}

.autoEnroll-body {
  padding: 20px 24px 0px 24px;
}

.autoEnroll-footer {
  border: none;
}

.modal-footer {
  /*padding: 24px 32px;*/
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal-cancel-btn {
  border-radius: 3px;
  height: 44px;
  cursor: pointer;
  min-width: 90px;
  padding: 6px 12px;
  margin: 0px 4px 0px 0px;
}

.modal-delete-btn {
  border-radius: 3px;
  height: 44px;
  cursor: pointer;
  min-width: 90px;
  padding: 6px 12px;
  margin: 0px 0px 0px 4px;
}

.form-wrap textarea:focus,
.form-wrap input:focus {
  -webkit-box-shadow: 0 1px 3px 2px rgba(213, 213, 213, 0.3);
  -moz-box-shadow: 0 1px 3px 2px rgba(213, 213, 213, 0.3);
  box-shadow: 0 1px 3px 2px rgba(213, 213, 213, 0.3);
}

.form-wrap::placeholder {
  color: #788796 !important;
}

.pad-bottom {
  padding-bottom: 60px;
}

.form-divider {
  border-bottom: 1px solid #edeff0;
  padding-bottom: 20px;
}

.label-txt {
  padding-bottom: 16px;
}

/* .label-txt span {
  font-size: 14px;
  color: #64707d;
} */

.limit-wordcount,
.limit-wordcount1,
.limit-wordcount2 {
  display: none;
  position: absolute;
  right: 0;
}

.plus-circle {
  background: url(../../../../assets/icons/plus_sign.svg);
  width: 32px;
  height: 32px;
  border-radius: 100%;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-position: center;
}

.cursor-on {
  cursor: pointer;
}

.addEmail-text {
  padding-left: 16px;
}

.input-wrap {
  margin: 13px 0px;
}

.input-day {
  border: 0;
  padding: 8px 15px;
  /*width: 90%;*/
  outline: none;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.input-day {
  width: 100%;
}

.startInput,
.endInput,
.timeInput {
  padding-left: 42px;
}

.square-box,
.rounded-box {
  text-align: center;
  width: 16px;
  height: 16px;
  border: 2px solid #788796;
  /*border-radius: 50%;*/
  /*background: #ffffff;*/
  /*background: #8fa1b3;*/
  cursor: pointer;
}

.square-box,
.square-checked {
  border-radius: 4px;
}

.square-checked,
.rounded-checked {
  text-align: center;
  width: 17px;
  height: 17px;
  /*border-radius: 50%;*/
  cursor: pointer;
  border: 2px solid #0065f2;
}

.rounded-checked,
.rounded-box {
  border-radius: 50%;
  position: relative;
}

.box-label {
  padding-left: 5px;
  cursor: pointer;
}

.radio-checked {
  border-radius: 50%;
  width: 9px;
  height: 9px;
  position: absolute;
  left: 2px;
  top: 2px;
}

.rounded-checked {
  display: inline-block;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.regular-checkbox {
  display: none;
}

.profile-box {
  /*background: #f2f4f5;*/
  border: 1px solid #e3e4e6;
  /*width: 220px;*/
  width: 337px;
  max-height: 405px;
  height: 404px;
  text-align: center;
  min-height: 282px;
  position: absolute;
  border-radius: 10px;
  cursor: pointer;
  right: 15px;
  /*padding: 24px;*/
  padding: 10px 10px 0 10px;
}

.profile-box p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /*position: absolute;*/
  /*bottom: 5px;*/
  /*left: 55px;*/
}

.circular-wrap {
  padding: 55px;
  border-radius: 4px;
  margin-top: 10px;
}

.circular-profile {
  display: inline-block;
  /*position: relative;*/
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 50%;
  background: #ddd;
  border: 20px solid #fff;
  /*position: absolute;*/
  /*bottom: 55px;*/
  /*left: 31px;*/
}

.circular-profile img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.frame-upload {
  padding: 10px 10px 0 10px;
  border: 1px solid #e3e4e6;
  float: right;
  border-radius: 10px;
}

.mr-button {
  margin-left: -10px;
  margin-right: -10px;
}

.crop-box {
  padding: 5px 0 5px 0;
}

.crop-box button {
  border: none;
  background: none;
  padding: 5px 60px;
  cursor: pointer;
}

.crop-box button:focus {
  outline: none;
}

.br-right {
  border-right: 1px solid gray;
}

.pwd-container {
  margin-top: 430px;
  position: absolute;
  width: 337px;
  right: 15px;
  text-align: center;
}

/* .btn-pwd {
  font-family: 'Inter-UI-SemiBold', Arial, sans-serif;
  width: 200px;
} */

.button-group {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 20px;
  left: 0;
}
.btn-delete {
  position: absolute;
  width: 128px;
  height: 48px;
  left: 20px;
  background: #fff;
  border: 1px solid #edeff0;
  border-radius: 12px;
  box-sizing: border-box;
  box-shadow: 1px 2px 16px rgba(0, 0, 0, 0.08);
  color: #e63c39;
}
