<app-header [ngClass]="{ stick: isSticky == true }"></app-header>

<div class="content-wrapper">
  <div *ngIf="!detailLoading" class="main-wrapper">
    <div class="top-profile-wrap">
      <div class="d-flex heading-space">
        <div class="back" (click)="backToStaff()">
          <i
            class="fa fa-angle-left"
            style="color: #3d5266;font-size: 20px;"
          ></i
          ><span>Staff</span>
        </div>
        <div class="ml-auto d-flex align-items-center">
          <!-- <div class="d-flex g-inner-wrap">
            <div>
              <label class="switch">
                <input
                  type="checkbox"
                  (change)="JourApprov()"
                  [checked]="staffDetail.user.journalApprove"
                />
                <span class="slider round nocur"></span>
              </label>
            </div>
            <label class="switch-label cre-email" for="online"
              >Auto Journal Approval</label
            >
          </div>
-->
          <div
            class="d-flex auto-enroll align-items-center justify-content-between"
            [ngClass]="{ autoEnrollTrue: userArchive }"
          >
            <label class="switch-label mt-0" for="online" *ngIf="userArchive"
              >Archive</label
            >
            <label class="switch-label mt-0" for="online" *ngIf="!userArchive"
              >Unarchive</label
            >
            <div class="toggle-wrap d-flex align-items-center mr-2 ">
              <label
                class="switch"
                *ngIf="userArchive"
                style="margin-top: 8px;"
              >
                <input type="button" (click)="staffArchive(false)" />
                <span
                  class="slider round"
                  [ngClass]="{
                    'checked-slider': true
                  }"
                ></span>
              </label>
              <label
                *ngIf="!userArchive"
                class="switch"
                style="margin-top: 8px;"
              >
                <input type="button" (click)="staffArchive(true)" />
                <span class="slider round"></span>
              </label>
            </div>
          </div>
          <span class="back" (click)="getSingleInfo()">Edit profile</span>
        </div>
      </div>

      <div class="half-profile-wrap">
        <div class="circular-image big-circular-image">
          <img src="{{ staffDetail.user.profilePic }}" />
        </div>
      </div>
    </div>

    <div class="row section-wrap">
      <div class="d-flex flex-column profile-left col-md-4 col-xl-3 col-lg-3">
        <div class="infoGp-wrap">
          <h5 class="staff-name">{{ staffDetail.user.preferredName }}</h5>
          <p class="info-mail staff-email mb-0">
            {{ staffDetail.user.email }}
          </p>
        </div>
        <div
          class="infoGp-wrap mb-0"
          style="border-bottom: 1px dotted #7A8A99;"
        >
          <p *ngIf="staffDetail.user.about != ''" class="mb-0 staff-p">
            {{ staffDetail.user.about }}
          </p>
          <p *ngIf="staffDetail.user.about == ''" class="mb-0 staff-p">
            -
          </p>
        </div>
        <div class="infoGp-wrap">
          <label class="info-mail">Full name</label>
          <p class="mb-0 info-p">{{ staffDetail.user.fullName }}</p>
        </div>
        <div *ngIf="staffDetail.user.details">
          <div
            *ngFor="let detail of staffDetail.user.details"
            class="infoGp-wrap"
            [ngClass]="{ hide: detail.value.length == 0 }"
          >
            <label class="info-mail">
              {{ detail.name }}
            </label>
            <div *ngIf="detail.dataType == 'Date'">
              <span class="mb-0 info-p" *ngIf="detail.value.length != 0">
                {{ detail.value | todayDate2 }}
              </span>
              <span class="info-mail" *ngIf="detail.value.length != 0">
                ({{
                  detail.year > 1
                    ? detail.year + ' years, '
                    : detail.year > 0
                    ? detail.year + ' year, '
                    : ''
                }}{{
                  detail.day > 1 ? detail.day + ' days' : detail.day + ' day'
                }})
              </span>
            </div>
            <div *ngIf="detail.dataType != 'Date'">
              <p class="mb-0 info-p" *ngIf="detail.value.length != 0">
                {{ detail.value }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-column profile-right col-md-8 col-xl-9 col-lg-9">
        <div class="d-flex tab-border">
          <button
            [ngClass]="{
              activeTab: activeTab == 'Classes'
            }"
            class="btn classes-tab"
            (click)="clickTab('Classes')"
          >
            Classes
          </button>
          <button
            [ngClass]="{ activeTab: activeTab == 'Absent' }"
            class="btn leave-tab"
            (click)="clickTab('Absent')"
          >
            Absent
          </button>
        </div>

        <!-- for classess  start-->
        <div *ngIf="activeTab == 'Classes'" class="pb-20">
          <app-class-tab
            [regionId]="regionID"
            [userId]="userId"
            [locationId]="locationID"
            (showLoading)="showLoadingFun($event)"
          ></app-class-tab>
        </div>
        <!-- for classess end -->
        <!-- for leave start -->
        <div *ngIf="activeTab == 'Absent'" class="mt-3 pb-20">
          <app-leave-details
            [staffObj]="staffObj"
            (showLoading)="showLoadingFun($event)"
          ></app-leave-details>
        </div>

        <!-- for leave end -->
      </div>
    </div>
  </div>

  <!-- loading start -->
  <div *ngIf="detailLoading" class="main-wrapper w-100">
    <div class="top-profile-wrap">
      <div class="heading-space w-100" style="height: 180px">
        <content-loader
          [primaryColor]="'rgba(255, 255, 255, 0.25)'"
          [secondaryColor]="'rgba(0, 0, 0, 0.25)'"
        >
          <svg:rect x="0" y="0" rx="3" ry="3" width="20%" height="10" />
          <svg:rect x="70%" y="0" rx="3" ry="3" width="30%" height="15" />
          <svg:rect x="0" y="30" rx="50%" ry="50%" width="50" height="50" />
          <svg:rect x="65%" y="30" rx="3" ry="3" width="20%" height="5" />
          <svg:rect x="65%" y="40" rx="3" ry="3" width="35%" height="10" />
        </content-loader>
      </div>
    </div>
    <div class="row section-wrap">
      <div class="d-flex flex-column profile-left col-md-4 col-xl-3 col-lg-3">
        <list-content-loader class="mt-4"></list-content-loader>
        <bullet-list-content-loader class="mt-3"></bullet-list-content-loader>
        <list-content-loader class="mt-4"></list-content-loader>
        <bullet-list-content-loader class="mt-3"></bullet-list-content-loader>
        <list-content-loader class="mt-4"></list-content-loader>
      </div>
      <div class="col-md-8 col-xl-9 col-lg-9 d-flex flex-column profile-right">
        <bullet-list-content-loader></bullet-list-content-loader>
      </div>
    </div>
  </div>
  <!-- loading end -->
</div>
