<app-header *ngIf="!showFormCreate" [ngClass]="{'stick': isSticky == true}"></app-header>
<!-- <div *ngIf="!showFormCreate" class="full-width">
	<div class="sticky-menu" [ngClass]="{'stickywrap' : navIsFixed == true}">
		<div class="display-flex mr-top-menu">
			<div class="col-md-4 pad-0">
				<h3>Customers</h3>
			</div>
			<div class="col-md-8 pad-0">
				<button type="button" class="btn btn-primary create-button-pos" (click)="goCreateForm()">Add new customer</button>
			</div>
		</div>
	</div>
</div>	 -->
<div *ngIf="!showFormCreate && !showCustDetail" class="inner-wrapper" [ngClass]="{'pdactive': isSticky == true}">
	<div class="d-flex mr-top-menu">
		<div class="col-md-4 pad-0">
			<h3>Customers</h3>
		</div>
		<div class="col-md-8 pad-0">
			<button type="button" class="btn btn-primary create-button-pos" (click)="goCreateForm()">Add new customer</button>
		</div>
	</div>
	<div class="col-md-12 pad-0" style="margin-top: 35px;">
		<div class="input-group col-md-12 pad-0">
		    <input 
		    	class="form-control py-2 input-search-bg" 
		    	type="search" 
		    	placeholder="Search customer here" 
		    	id="customer-search-input"
		    	(focusout)="clearSearch($event)"
		    	(input)="userSearch($event.target.value, 'cutomer')"
        		autocomplete="off"
		    >
		    <span class="input-group-append">
		        <button class="bt btn-design btn-outline-secondary" type="button">
		            <i class="fa fa-search search-size"></i>
		        </button>
		     </span>
		</div>
	</div>
	<div class="row display-flex user-group">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 mr-box display-block" *ngFor="let customer of customerLists; let i = index">
			<div class="box-design d-flex flex-row align-items-center" (click)="showDetails(customer, customer.userId)">
				<div class="profileimg-wrap">
					<div class="circular-image">
						<img *ngIf="customer.profilePic == 'undefined'" src="assets/img/user.svg">
						<img *ngIf="customer.profilePic != 'undefined'" src="{{customer.profilePic}}">
					</div>
				</div>
				<div class="info-side d-flex flex-column justify-content-center">
					<h5 style="margin-bottom: 0.3rem">{{customer.preferredName}}</h5>
					<p class="info-mail" style="margin-bottom: 0.8rem">{{customer.email}}</p>
					<p class="info-about" *ngIf="customer.about == 'undefined'">-</p>
					<p class="info-about" *ngIf="customer.about != 'undefined'">{{ (customer.about.length>40)? (customer.about | slice:0:40)+'..':(customer.about) }}</p>
				</div>
				<div class="ml-auto right-arrow">
					<i class="fa fa-angle-right"></i>
				</div>
			</div>
		</div>
	</div>
</div>
<div *ngIf="customerLists.length >= 20 && !showFormCreate && !showCustDetail" class="d-flex justify-content-center load-more">
	<button class="btn" (click)="showMore('customer', customerLists.length)">load more</button>
</div>

<div *ngIf="showCustDetail" class="content-wrapper" [ngClass]="{'pdactive': isSticky == true}">
	<div class="main-wrapper">
		<div class="d-flex heading-space">
			<div class="back" (click)="backToCustomer()">
				<i class="fa fa-angle-left" style="color: #3d5266;font-size: 20px;"></i><span>Customers</span>
			</div>
			<div class="ml-auto">
				<span class="back" (click)="getSingleInfo(editId)">Edit Profile</span>
			</div>
		</div>
		<div class="user-info-wrap d-flex -justify-content-between">
			<div class="d-flex col-left">
					<div class="img-wrap">
						<div class="circular-image">
							<img *ngIf="custDetail.user.profilePic == 'undefined'" src="assets/img/user.svg">
							<img *ngIf="custDetail.user.profilePic != 'undefined'" src="{{custDetail.user.profilePic}}">
						</div>
					</div>
					<div class="pad-left-15" style="width: 80%">
						<div class="infoGp-wrap">
						<!-- <p>{{custDetail.user.profilePic}}</p> -->
							<h5>{{custDetail.user.preferredName}}</h5>
							<p class="info-mail mb-0">{{custDetail.user.email}}</p>
						</div>
						<div class="infoGp-wrap mb-0">
							<p *ngIf="custDetail.user.about" class="mb-0">
								{{ custDetail.user.about }}
							</p>
							<p *ngIf="!custDetail.user.about" class="mb-0">
								-
							</p>
						</div>
						<div *ngIf="custDetail.user.guardians?.length > 0" class="infoGp-wrap" style="border-top: 1px dotted #64707d;">
							<label class="info-mail">Gurdians</label>
							<div class="guardian-main-wrap">
								<div *ngFor="let gurdian of custDetail.user.guardians" class="g-inner-wrap">
						        	<div class="small-circular-image">
							        	<img *ngIf="gurdian.profilePic == undefined || gurdian.profilePic == ''" src="assets/img/user.svg">
										<img *ngIf="gurdian.profilePic != undefined" src="{{gurdian.profilePic}}">
						        	</div>

						        	<span>{{ (gurdian.fullname == null )? ("-") : (gurdian.fullname) }}</span>
								</div>
					    	</div>
							<!-- <div class="" style="overflow-x: scroll;">
								<div class="gurdian-wrap" *ngFor="let gurdian of custDetail.user.guardians">
									<div class="small-circular-image">
										<img *ngIf="gurdian.profilePic == undefined || gurdian.profilePic == ''" src="assets/img/user.svg">
										<img *ngIf="gurdian.profilePic != undefined" src="{{gurdian.profilePic}}">
									</div>
									<p>{{ (gurdian.fullname == null )? ("-") : (gurdian.fullname) }}</p>
								</div>
							</div> -->
								<!-- <div class="d-flex gurdian-wrap" *ngFor="let gurdian of custDetail.user.guardians">
									<div *ngIf="gurdian.length<=0">
										-
									</div>
									<div class="small-circular-image">
										<img src="{{gurdian.profilePic}}">

									</div>
									<div class="d-flex justify-content-center flex-column info-p padL-5">
										{{ (gurdian.fullname == null )? ("-") : (gurdian.fullname) }}
									</div>
								</div> -->
							
						</div>
					</div>
					<div>
						
					</div>
			</div>
			<div class="pad-left-15 col-right">
				<div>
					<div class="infoGp-wrap">
						<label class="info-mail">Full name</label>
						<p class="mb-0 info-p">{{ custDetail.user.fullname }}</p>
					</div>
					<!-- <div class="d-flex infoGp-wrap info-wrap">
						<div class="timetable-col">
							<label class="info-mail">Date of birth</label>
							<p class="mb-0 info-p">-</p>
						</div>
						<div class="timetable-col">
							<label class="info-mail">Gender</label>
							<p class="mb-0 info-p">-</p>
						</div>
					</div>
					<div class="d-flex infoGp-wrap info-wrap">
						<div class="timetable-col">
							<label class="info-mail">Weight</label>
							<p class="mb-0 info-p">-</p>
						</div>
						<div class="timetable-col">
							<label class="info-mail">Height</label>
							<p class="mb-0 info-p">-</p>
						</div>
					</div> -->
				</div>
			</div>
		</div>
		<div class="btn-wrap">
			<div></div>
		</div>
		<div>
			<div class="d-flex title-space">
				<div class="d-flex flex-column justify-content-center">
					<h6 class="mb-0">Classes</h6>
				</div>
				<button (click)="callEnrollModal(classEnrollModal, custDetail.user.userId)" class="ml-auto enroll-btn">Enroll new class</button>
			</div>
			<div>
				<div class="list-wrapper">
					<div class="btn-wrap no-item" *ngIf="custDetail.courses?.length<=0">
						There is no course for this customer!
					</div>
					<div class="child" *ngFor="let course of custDetail.courses| slice:0:[selectedId.indexOf('course') != -1 ? custDetail.courses.length : 2]">
						<label class="class-label-12"><i class="fa fa-map-marker" style="font-size:12px;padding-right: 4px"></i>{{ course.location.name }}</label>
						<p class="info-p">{{ course.name }}</p>
						<div class="d-flex info-wrap">
							<div class="timetable-col">
								<label class="class-label-14 mb-0" *ngFor="let day of course.repeatDays | weekDays">{{ day }}</label>
								<p class="medium-label-14 mb-0">{{ course.duration.startDate | utcTime }} - {{ course.duration.endDate | utcTime }}</p>
							</div>
							<div class="d-flex timetable-col day-wrap info-wrap">
								<div class="timetable-col">
									<label class="medium-label-14 mb-0">From</label>
									<p class="class-label-14 mb-0">{{ course.startDate | date }}</p>
								</div>
								<div class="timetable-col">
									<label *ngIf = "course.endDate" class="medium-label-14 mb-0">To</label>
									<label *ngIf = "course.lessonCount" class="medium-label-14 mb-0"></label>
									<p *ngIf = "course.endDate" class="class-label-14 mb-0">{{ course.endDate | date }}</p>
									<p *ngIf = "course.lessonCount" class="class-label-14 mb-0">{{ course.lessonCount }} Lessons</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="btn-wrap">
				<div *ngIf="custDetail.courses?.length>2">
					<button *ngIf="selectedId.indexOf('course') == -1" class="btn-showmore pad-0" (click)="showMoreItem('course')"><span>Show More</span><i class="fa fa-angle-down" aria-hidden="true"></i></button>
				</div>
				<div></div>
			</div>
		</div>
		<div class="d-flex">
			<div class="firstCol">
				<div *ngFor="let widget of custDetail.widgets">
					<h6 class="title-space">{{ widget.name }}</h6>
					<div class="btn-wrap no-item" *ngIf="widget.APG.length<=0">
						There is no {{ widget.name }} for this customer!
					</div>
					<div>
						<div class="list-wrapper">
							<div *ngFor="let apg of widget.APG|slice:0:[selectedId.indexOf(widget._id) != -1 ? widget.APG.length : 2]">
								<div>
									<div class="child">
										<label class="info-p">{{ apg.name }}</label>
										<div *ngFor="let accessPoint of apg.accessPoints">
											<div class="bar-wrapper">
												<ngb-progressbar [value]="accessPoint.score" height="0.3rem"></ngb-progressbar>
											</div>
											<span class="class-label-12">{{ accessPoint.score }}% accomplished</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="btn-wrap">
						<div *ngIf="widget.APG.length > 2"> 
							<button *ngIf="selectedId.indexOf(widget._id) == -1" class="btn-showmore pad-0" (click)="showMoreItem(widget._id)"><span>Show More {{widget.name}}</span><i class="fa fa-angle-down" aria-hidden="true"></i></button>
						</div>
						<div></div>
					</div>
				</div>
				<div>
					<h6 class="title-space">Ratings and reviews</h6>
					<div>
						<div class="btn-wrap no-item"*ngIf="custDetail.ratings?.length<=0">
							There is no Rating and review for this customer!
						</div>
						<div class="card-columns">
							<div *ngFor="let rating of custDetail.ratings| slice:0:[selectedId.indexOf('rating') != -1 ? custDetail.ratings?.length : 2]" class="card card-wrap">
								<div class="d-flex">
									<star-rating-comp class="custDetail-rating" [readOnly]="true" [starType]="'svg'" [rating]="rating.rating"></star-rating-comp>
									<span class="ml-auto medium-label-12">{{ rating.updatedDate | date }}</span>
								</div>
								<p class="medium-label-14" style="color: #2e3d4d"><read-more class="cust-readmore" [text]="rating.message"></read-more></p>
								<div class="d-flex info-wrap">
									<div class="timetable-col d-flex">
										<div class="small-circular-image">
											<img src="{{ rating.teacher_info.profilePic }}">
										</div>
										<div class="padL-5">
											<label class="medium-label-12 mb-0">Teacher</label>
											<p class="teacher-label-12 mb-0">{{ rating.teacher_info.preferredName }}</p>
										</div>
									</div>
									<div class="timetable-col course-wrap info-wrap">
										<label class="medium-label-12 mb-0">Course</label>
										<p class="teacher-label-12 mb-0">{{ rating.course_info.name }}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="btn-wrap">
						<div *ngIf="custDetail.ratings?.length>2">
							<button *ngIf="selectedId.indexOf('rating') == -1" class="btn-showmore pad-0" (click)="showMoreItem('rating')"><span>Show More</span><i class="fa fa-angle-down" aria-hidden="true"></i></button>
						</div>
					</div>
				</div>
			</div>
			<div class="secondCol">
				<div class="inner-secondCol">
					<h6>Activity</h6>
					<div class="no-item"*ngIf="custDetail.journals?.length<=0">
						There is no activity for this customer!
					</div>
					<div style="overflow: scroll;" [style.height.px]="divHeight">
						<div class="activity-wrapper" *ngFor="let activity of custDetail.journals| slice: 0:[selectedId.indexOf('activity') != -1 ? custDetail.journals?.length : 2]">
							<div class="d-flex">
								<div class="teacher-label-12" style="width: 100%">{{ activity.message }}</div>
								<div class="icon-img">
									
								</div>
							</div>
							<label class="medium-label-12 mb-0">{{ activity.time }}</label>
						</div>
						<div>
							<div *ngIf="custDetail.journals?.length>4">
								<button *ngIf="selectedId.indexOf('activity') == -1" class="btn-showmore pad-0" style="font-size: 14px" (click)="showMoreItem('activity')"><span>See all activities</span><i class="fa fa-angle-right" aria-hidden="true"></i></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div *ngIf="showFormCreate" class="sticky-back-user" [ngClass]="{'sticky-bar' : isCreateFix == true}">
	<button type="button" class="back-button display-flex" (click)="backToCustomer()">
		<i class="fa fa-angle-left left-arrow"></i> <p class="back-staff-txt fl-txt-rt">Customers</p>
	</button>
</div>

<div class="inner-wrapper-detail" *ngIf="showFormCreate">
	<button type="button" class="back-button display-flex" (click)="backToCustomer()">
		<i class="fa fa-angle-left left-arrow"></i> <p class="back-staff-txt fl-txt-rt">Customers</p>
	</button>
	<div class="col-md-12 pad-0 mr-bt-top">
		<h3>Create Customers account</h3>
	</div>
	<form class="form-wrap" novalidate #customerForm="ngForm">
		<div class="row display-flex">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 pad-bottom">
				<div class="form-group form-divider">
					<div class="d-flex justify-content-between">
						<label for="prename" class="label-txt">What should we call you? <br> <span>e.g. How your call you or like your preferred name</span></label> 
						<div class="limit-wordcount">
							<span>{{wordLength}}/60characters</span>
						</div>
					</div>	
		  	    	<input type="text" class="form-control " placeholder="Type preferred name here" name="preferredName" [(ngModel)]="formFieldc.preferredName" #preferredName="ngModel" (focus)="focusMethod($event, $event.target.value)" (blur)="blurMethod($event)" (input)="changeMethod($event.target.value)" maxlength="60" required>
		  	    	<div *ngIf="preferredName.invalid && (preferredName.dirty || preferredName.touched)" class="alert alert-danger">
				        <div [hidden]="!preferredName.errors.required">
				          Display name is required!
				        </div>
				    </div>
		  	  	</div>
		  	  	<div class="form-group form-divider">
		  	    	<label for="firstName" class="label-txt">First name</label> 	
		  	    	<input type="text" class="form-control" placeholder="Type first name here" name="firstName" [(ngModel)]="formFieldc.firstName" #firstName="ngModel" required>
		  	    	<div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)" class="alert alert-danger">
				        <div [hidden]="!firstName.errors.required">
				          First name is required!
				        </div>
				    </div>
		  	  	</div>
		  	  	<div class="form-group form-divider">
		  	    	<label for="lastName" class="label-txt">Last name</label> 	
		  	    	<input type="text" class="form-control" placeholder="Type last name here" name="lastName" [(ngModel)]="formFieldc.lastName" #lastName="ngModel" required>
		  	    	<div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)" class="alert alert-danger">
				        <div [hidden]="!lastName.errors.required">
				          Last name is required!
				        </div>
				    </div>
		  	  	</div>
		  	  	<div class="form-group form-divider">
		  	    	<label for="email" class="label-txt">Email address</label> 	
		  	    	<input type="email" class="form-control" placeholder="Type email address here" (keyup)="validateEmail(formFieldc.email)"  name="email" [(ngModel)]="formFieldc.email" #email="ngModel">
		  	    	<div *ngIf="emailAlert" class="alert alert-danger">
		  	    		Please provide a valid email
		  	    	</div>
		  	  	</div>
		  	  	<div class="form-group form-divider">
		  	    	<label for="password" class="label-txt">Password</label> 	
		  	    	<input type="password" class="form-control" placeholder="Type password here" name="password" [(ngModel)]="formFieldc.password" #password="ngModel">
		  	    	<div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger">
				        <div [hidden]="!password.errors.required">
				          Password is required!
				        </div>
				    </div>
		  	  	</div>
		  	  	<div class="form-group form-divider">
		  	    	<label for="guardmail" class="label-txt">Guardian email</label> 	
		  	    	<input type="email" class="form-control" placeholder="Type guardian email here" name="guardianEmail" [(ngModel)]="formFieldc.guardianEmail" (keyup)="validateGuarmail(formFieldc.guardianEmail)"
		  	    	#guardianEmail="ngModel">
		  	    	<div *ngIf="guardianAlert" class="alert alert-danger">
		  	    		Please provide a valid email!
		  	    	</div>
		  	  	</div>
		  	  	
		  	  	<div class="form-group form-divider">
		  	    	<label for="about" class="label-txt">About</label> 	
		  	    	<textarea class="form-control" rows="3" placeholder="Type about here" name="about" [(ngModel)]="formFieldc.about" #about="ngModel"></textarea>
		  	  	</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
				<label for="upload">
					<div *ngIf="!imgDemoSlider" class="profile-box label-txt">
						<div class="form-group">
							<label for="upload" class="profile-label">Profile</label><br>
							<div class="circular-wrap">
								<div class="circular-profile">
									<img *ngIf="isupdate == false" src="assets/img/user.svg">
									<img *ngIf="isupdate == true" src="{{returnProfile}}">
								</div>	
							</div>
							<div class="demo-wrap upload-demo">
		          	<div class="container">
			            <div class="grid">
		              	<div class="col-1-2">
		                	<div class="actions">
		                		<a class="btn file-btn">
		                  		<input 
		                  			type="file" 
		                  			class="upload-jpg form-control" 
		                  			id="upload" 
		                  			#cropper 
		                  			(change)='uploadCropImg($event)'
		                  			value="Choose a file" 
		                  			accept="image/*" 
		                  			style="display:none" />
		                		</a>
		                	</div>
		              	</div>
			            </div>
		       			</div>
					    </div>
						  <p>Update photo</p>	
						</div>
					</div>
				</label>
				<div class="frame-upload">
					<div class="upload-demo-wrap">
		              	<div id="upload-demo"></div>
		            </div>
		            <div class="row mr-button">
		            	<div class="col-md-6 crop-box" style="border-bottom-left-radius: 10px;">
			            	<div class="br-right">
			            		<button *ngIf="blankCrop" class="upload-result btn1" (click)="backToUpload()">Cancel</button>
			            	</div>
			            </div>
		            	<div class="col-md-6 crop-box" style="border-bottom-right-radius: 10px;">
			            	<button *ngIf="blankCrop" class="upload-result btn2" id="sizeDisable" (click)="cropResult()" [value]="blankCrop">Crop</button>
			            </div>
		            </div>
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-end button-group">
			<button type="button" class="bt cancel-button" (click)="back()" >Cancel</button>
        	<button *ngIf="isupdate == false" type="submit" (click)="createUser(formFieldc, 'create')" class="btn create-button" [disabled]="!customerForm.valid || (emailAlert || !formFieldc.email || !formFieldc.password ) && (guardianAlert || !formFieldc.guardianEmail)">Create
			</button>
			<button *ngIf="isupdate == true" type="submit" (click)="createUser(formFieldc, 'edit')" class="btn create-button" [disabled]="!customerForm.valid || (emailAlert || !formFieldc.email || !formFieldc.password ) && (guardianAlert || !formFieldc.guardianEmail)">Update
			</button>
		</div>
	</form>
</div>
<ng-template #classEnrollModal let-c="close" let-d="dismiss">
  <div class="d-flex modal-header">
    <h3 class="modal-title d-flex mr-auto">Enroll new class</h3>
    <div class="d-flex flex-column justify-content-center align-items-center mr-auto">
  		<div class="user-image">
  			<img *ngIf="custDetail.user.profilePic == undefined" src="assets/img/user.svg">
  			<img *ngIf="custDetail.user.profilePic != undefined" src="{{custDetail.user.profilePic}}">
  		</div>    	
    	<p class="user-name">{{custDetail.user.preferredName}}</p>
    </div>
    <button (click)="closeModel()" aria-label="Close" class="modal-close ml-auto" type="button">
    	<span class="closemark">
    	    <div class="closemark_stem"></div>
    	    <div class="closemark_kick"></div>
    	</span>
	    <!-- <span aria-hidden="true" >×</span> -->
	</button>
  </div>
  <form novalidate #cfees="ngForm">
  	<div class="modal-body confirm-text">
  		<div class="d-flex flex-column mt-37" style="position: relative;">
	      <div class="d-flex">
	        <input 
	          class="form-control py-2 input-search-bg" 
	          type="search" 
	          placeholder="Search customers" 
	          id="example-search-input" 
	          name="search" 
	          #search="ngModel" 
	          [(ngModel)]="searchData.searchText" 
	          (input)="changeSearch($event.target.value, custDetail.user.userId)">
	        <span class="input-group-append">
	          <button class="bt btn-design btn-outline-secondary" type="button">
	              <i class="fa fa-search search-size"></i>
	          </button>
	        </span>
	      </div>
	    </div>
	    <div class="mt-20 class-group">
		    <div class="card-columns pd-zero">
		    	<div class="card" *ngFor="let course of availableCourses; let i = index">
		    		<div class="single-class">
		    			<div class="class-info-head">
	  						<h5 class="mt-03">
	  				      <i class="fa fa-map-marker" style="font-size:15px"></i>
	  				      {{course.location.name}}
	  				    </h5>
	  				    <b>{{course.name}}</b>
		    			</div>
		    			<div class="class-info-body">
		    				<div class="class-body-one row">
			    				<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
			    					<div *ngIf="course.paymentPolicy.courseFee != null">
			    						<h5>Course fee</h5>
			    						<sup>$</sup><b>{{course.paymentPolicy.courseFee}}</b>
			    					</div>
			    					<div *ngIf="course.paymentPolicy.proratedLessonFee != null" class="mt-16">
			    						<h5>Prorate class fee</h5>
			    						<sup>$</sup><b>{{course.paymentPolicy.proratedLessonFee}}</b>
			    					</div>
			    				</div>
			    				<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 pl-zero">
				    				<div>
				    					<div *ngIf="course.paymentPolicy.deposit">
				    						<h5>Deposit</h5>
				    						<sup>$</sup><b>{{course.paymentPolicy.deposit.amount}}</b>
				    					</div>
				    				</div>
			    					<div class="mt-16" *ngIf="course.paymentPolicy.miscFee != null">
			    						<h5>Miscellaneous fee</h5>
			    						<sup>$</sup><b>{{course.paymentPolicy.miscFee}}</b>
			    					</div>
			    				</div>
			    			</div>
			    			<div class="class-body-two row">
			    				<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
			    					<b *ngFor="let day of course.repeatDays | weekDays">{{day}}</b>
			    					<h5>{{ course.duration.startDate | utcTime }} - {{ course.duration.endDate | utcTime }}</h5>
			    				</div>
			    				<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 pl-zero">	
			    					<div class="d-flex detail-fees">
			    						<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 pl-zero pr-03">
			    							<h5>From</h5>
			    							<b>{{course.startDate | utcDate}}</b>
			    						</div>
			    						<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 pl-zero pr-zero">
			    							
			    							<h5 *ngIf="course.endDate != null" class="mt-03">To</h5>
			    							<h5 *ngIf="course.endDate == null" class="pt-13"></h5>
			    							<b *ngIf="course.endDate">{{course.endDate | utcDate}}</b>
			    							
			    							<b *ngIf="course.endDate == null">{{ course.lessonCount }} Lessons</b>
			    							
			    						</div>
			    					</div>
			    				</div>
			    			</div>
		    			</div>
		    			<div class="row d-flex justify-content-center class-info-footer">
		    				<button class="btn" (click)="enrollUser(course._id)">Enroll on this course</button>
		    			</div>
		    		</div>
		    	</div>
		    </div>
	    	<div *ngIf="availableCourses.length >= 20" class="load-more1 d-flex justify-content-center">
	    		<button class="btn" (click)="showMoreAC(availableCourses.length, custDetail.user.userId)">load more</button>
	    	</div>
	    </div>
  	</div>  	
  </form>
</ng-template>


<block-ui message="Deafult Message"></block-ui> 