<div style="padding: 30px 50px;">
	<button type="button" class="btn btn-primary" data-toggle="modal" (click)="open1(staffModal)">
		+ Create Staff
	</button>
	<button type="button" class="btn btn-primary" data-toggle="modal" (click)="open2(customerModal)">
		+ Create Customer
	</button>
</div>

<!-- Staff Modal -->
<ng-template #staffModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Create Staff</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
	      <span aria-hidden="true">&times;</span>
	    </button>
    </div>
    <form novalidate #s="ngForm">
  		<div class="modal-body">
      	<div class="form-group">
  	    	<label for="fname">First Name</label> 	
  	    	<input type="text" class="form-control" placeholder="Enter user name" name="fname" [(ngModel)]="formFields.firstName" #fname="ngModel">
  	  	</div>
  	  	<div class="form-group">
  	    	<label for="lname">Last Name</label> 	
  	    	<input type="text" class="form-control" placeholder="Enter user name" name="lname" [(ngModel)]="formFields.lastName" #lname="ngModel">
  	  	</div>
  	  	<div class="form-group">
  	    	<label for="dname">Display Name</label> 	
  	    	<input type="text" class="form-control" placeholder="Enter user name" name="preferredName" [(ngModel)]="formFields.preferredName" #preferredName="ngModel" maxlength="15" required>
  	    	<span style="color:red" *ngIf="formFields.preferredName?.length >= 15 ">
			      Display Name cannot be more than 15 characters long.
			</span>
			<div *ngIf="preferredName.errors && (preferredName.dirty || preferredName.touched)" class="alert alert-danger">
		        <div [hidden]="!preferredName.errors.required">
		          Display name is required!
		        </div>
		    </div>
  	  	</div>
  	  	
  	  	<div class="form-group">
  	    	<label for="mail">Email</label> 	
  	    	<input type="email" (keyup)="validateEmail(formFields.email)" class="form-control" placeholder="Enter user name" name="mail" [(ngModel)]="formFields.email" required #mail="ngModel">
  	    	<div *ngIf="emailAlert" class="alert alert-danger">
  	    		Please provide a valid email
  	    	</div>
  	    	<div *ngIf="!emailAlert">
  	    		<div *ngIf="mail.errors && (mail.dirty || mail.touched)" class="alert alert-danger">
			        <div [hidden]="!mail.errors.required">
			          Email is required!
			        </div>
			    </div>
  	    	</div>
  	  	</div>
  	  	<div class="form-group" *ngIf="notShowEdit">
		  	<label for="pwd">Password</label>
		  	<input type="password" class="form-control" placeholder="Enter password" name="pwd" [(ngModel)]="formFields.pwd" required #password="ngModel">
			<div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger">
		        <div [hidden]="!password.errors.required">
		          Password is required!
		        </div>
		    </div>
		</div>
				<!-- <div class="form-group">
					<label for="gender">Gender</label><br>
					<div class="form-check form-check-inline">
					  <input class="form-check-input" type="radio" value="male" name="gender" id="gender-male" [(ngModel)]="stuffs.gender" #male="ngModel">
					  <label class="form-check-label" for="gender-male">Male</label>
					</div>
					<div class="form-check form-check-inline">
					  <input class="form-check-input" type="radio" value="female" name="gender" id="gender-female" [(ngModel)]="stuffs.gender" #female="ngModel">
					  <label class="form-check-label" for="gender-female">Female</label>
					</div>
				</div> -->
			<div class="form-group">
				<label>Permission as</label><br>
				<div class="form-check form-check-inline" *ngFor="let user of permissionLists; let i = index;" >
					<input type="radio" id="{{user._id}}" value="{{user._id}}" name="role" [(ngModel)]="formFields.permission" [checked]="permissionId.indexOf(user._id) != -1" #permis="ngModel" required>
				  	<label for={{user._id}} class="form-check-label mr-lt">{{user.name}}</label>
				  	<div *ngIf="permis.errors && (permis.dirty || permis.touched)" class="alert alert-danger">
				        <div [hidden]="!permis.errors.required">
				          Permission is required!
				        </div>
				    </div>
				</div>
			</div>	
		  	<div class="form-group">
		  		<label for="exampleInputFile">Upload Profile</label>
				<div class="demo-wrap upload-demo">
		          	<div class="container tab-pad">
			            <div class="grid">
			              <div class="col-1-2">
			                <div class="actions">
			                  <a class="btn file-btn">
			                    <input type="file" class="upload-jpg form-control" id="upload" #cropper (change)='uploadCropImg($event)' value="Choose a file"
			                      accept="image/*" />
			                  </a>
			                  <button *ngIf="blankCrop"class="upload-result result-color" id="sizeDisable" (click)="cropResult()" [value]="blankCrop">Crop</button>
			                </div>
			              </div><br />
			              <div class="upload-demo-wrap">
			                <div id="upload-demo"></div>
			              </div>
			            </div>
		          	</div>
	        	</div>
		  	</div>
    	</div>
      	<div class="modal-footer">
	      	<button type="button" class="btn btn-light1" (click)="c('Close click')">Cancel</button>
	        <button [hidden]="!createButton" type="submit" (click)="createUser(s.value, 'staff', 'create')" class="btn btn-primary" [disabled]="s.invalid || emailAlert">Create</button>
	    <!--     <button [hidden]="!updateButton" type="submit" (click)="createUser(s.value, 'staff', 'update')" class="btn btn-primary" [disabled]="s.invalid">Update</button> -->
      	</div>
	</form>
</ng-template>
<block-ui message="Deafult Message"></block-ui>
<!-- Customer Modal -->
<ng-template #customerModal let-c="close" let-d="dismiss">
		<div class="modal-header">
      	<h4 class="modal-title">Create Customer</h4>
      	<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
	    	<span aria-hidden="true">&times;</span>
		</button>
		</div>
		<form novalidate #f="ngForm">
      	<div class="modal-body">
    		<div class="form-group">
	  	    	<label for="fname">First Name</label> 	
	  	    	<input type="text" class="form-control" placeholder="Enter user name" name="fname" [(ngModel)]="formFieldc.firstName" #fname="ngModel">
	  	  	</div>
	  	  	<div class="form-group">
	  	    	<label for="lname">Last Name</label> 	
	  	    	<input type="text" class="form-control" placeholder="Enter user name" name="lname" [(ngModel)]="formFieldc.lastName" #lname="ngModel">
	  	  	</div>
	  	  	<div class="form-group">
	  	    	<label for="dname">Display Name</label> 	
	  	    	<input type="text" class="form-control" placeholder="Enter user name" name="preferredName" [(ngModel)]="formFieldc.preferredName" #preferredName="ngModel" required maxlength="15">
	  	    	<span style="color:red" *ngIf="formFieldc.preferredName?.length >= 15 ">
				      Display Name cannot be more than 15 characters long.
				</span>
				<div *ngIf="preferredName.errors && (preferredName.dirty || preferredName.touched)" class="alert alert-danger">
			        <div [hidden]="!preferredName.errors.required">
			          Display name is required!
			        </div>
			    </div>
	  	  	</div>
	  	  	<div class="form-group">
	  	    	<label for="mail">Email</label> 	
	  	    	<input type="email" (keyup)="validateEmail(formFieldc.email)" class="form-control" placeholder="Enter email" name="mail" [(ngModel)]="formFieldc.email" #mail="ngModel">
	  	    	<div *ngIf="emailAlert" class="alert alert-danger">
	  	    		Please provide a valid email!
	  	    	</div>
	  	  	</div>
		  	<div class="form-group">
				<label for="pwd">Password</label>
				<input type="password" class="form-control" placeholder="Enter password" name="pwd" [(ngModel)]="formFieldc.pwd" required #pwd="ngModel">
				<div *ngIf="pwd.errors && (pwd.dirty || pwd.touched)" class="alert alert-danger">
			        <div [hidden]="!pwd.errors.required">
			          Password is required!
			        </div>
			    </div>
			</div>
			<div class="form-group">
	  	    	<label for="gmail">Guardian Email</label>
	  	    		<input type="email" class="form-control" (keyup)="validateGuarmail(formFieldc.guardianEmail)" placeholder="Enter guardian mail" name="guardianmail" [(ngModel)]="formFieldc.guardianEmail" #gmail="ngModel">
	  	    	<div *ngIf="guardianAlert" class="alert alert-danger">
	  	    		Please provide a valid email!
	  	    	</div>
	  	  	</div>
	  	  	<div *ngIf="atLeastOneMail" class="alert alert-danger" style="margin-top:10px;">
  	    		Email or Guardian Email is required!
  	    	</div>
	  	  <!-- 	<div class="form-group">
				<label for="gender">Gender</label><br>
				<div class="form-check form-check-inline">
				   <input class="form-check-input" type="radio" value="male" name="gender" id="custom-male" [(ngModel)]="formFieldc.gender" #male="ngModel">
				   <label class="form-check-label" for="custom-male">Male</label>
				</div>
				<div class="form-check form-check-inline">
				   <input class="form-check-input" type="radio" value="female" name="gender" id="custom-female" [(ngModel)]="formFieldc.gender" #female="ngModel">
				   <label class="form-check-label" for="custom-female">Female</label>
				</div>
			</div> -->
			<div class="form-group">
				<label for="exampleInputFile">Upload Profile</label>
				<div class="demo-wrap upload-demo">
		          	<div class="container tab-pad">
			            <div class="grid">
		              	<div class="col-1-2">
		                	<div class="actions">
		                		<a class="btn file-btn">
		                  		<input type="file" class="upload-jpg form-control" id="upload" #cropper (change)='uploadCropImg($event)' value="Choose a file" accept="image/*" />
		                		</a>
		                		<button *ngIf="blankCrop"class="upload-result result-color" id="sizeDisable" (click)="cropResult()" [value]="blankCrop">Crop</button>
		                	</div>
		              	</div><br />
				            <div class="upload-demo-wrap">
				              <div id="upload-demo"></div>
				            </div>
			            </div>
		       		 </div>
			    </div>
		  	</div>
		</div>
    	<div class="modal-footer">
       	<button type="button" class="btn btn-light1" (click)="c('Close click')">Cancel</button>
        	<button [hidden]="!createButton" type="submit" (click)="createUser(f.value, 'customer', 'create')" class="btn btn-primary" [disabled]="f.invalid">Submit
			</button>
	<!-- 		<button [hidden]="!updateButton" type="submit" (click)="updateUser(f.value, 'customer', 'update')" class="btn btn-primary" [disabled]="f.invalid">Update</button> -->
      	</div>
	</form>
</ng-template>

<div class="d-flex flex-row h-100 w-100" style="display: flex;">
	<div class="col-md-2 noti-sidebar tab-pad">
		<div class="d-flex flex-column justify-content-center">
			<div [ngClass]="{'active': userType == 'all'}" class="tab-wrap">			
				<button class="btn noti-tab w-100 shadow-remove" (click)="clickTab('all')">All Users</button>
			</div>
			<div [ngClass]="{'active': userType == 'customer'}" class="tab-wrap">			
				<button class="btn noti-tab w-100 shadow-remove" (click)="clickTab('customer')">Customers</button>
			</div>
			<div [ngClass]="{'active': userType == 'staff'}" class="tab-wrap">			
				<button class="btn noti-tab w-100 shadow-remove" (click)="clickTab('staff')">Staffs</button>
			</div>
		</div>
	</div>
	<div *ngIf="userType == 'all'" class="col-md-10 min-scroll">
		<ul class="list-group-flush">
			<li class="list-group-item" *ngFor="let user of userLists; let i = index">
				<div class="count-pos">{{i+1}}- </div>
				<span *ngIf="user.preferredName != undefined">Name: {{user.preferredName}}</span>
				<span *ngIf="user.preferredName == undefined">Name: -</span>
				<div class="bt-mr">
					<span>
						Email: <input class="usermail" id="{{user.userId}}" type="text" value="{{user.email}}">
					</span>
					<span *ngIf="user.email" class="bt-copy" (click)="copyText(user.userId)">
						<img style="width: 25px;" src="./assets/img/clipboard.png" placement="top" ngbTooltip="Copy email">
					</span>
					<!-- <button class="btn btn-secondary flt-right" (click)="edit(user.userId, 'all', '')">Edit</button> -->
					<!-- <button class="btn btn-info bt-copy" (click)="copyText(user.userId)">Copy</button> -->
				</div>
			</li>
		</ul>
	</div>
	<div *ngIf="userType == 'customer'" class="col-md-10 min-scroll">
		<ul class="list-group-flush">
			<li class="list-group-item" *ngFor="let customer of customerLists; let i = index">
				<div class="count-pos">{{i+1}}- </div>
				<span *ngIf="customer.preferredName != undefined">Name: {{customer.preferredName}}</span>
				<span *ngIf="customer.preferredName == undefined">Name: -</span>
				<div class="bt-mr">
					<span>
						Email: <input class="usermail" id="{{customer.userId}}" type="text" value="{{customer.email}}">
					</span>
					<span *ngIf="customer.email" class="bt-copy" (click)="copyText(customer.userId)">
						<img style="width: 25px;" src="./assets/img/clipboard.png" placement="top" ngbTooltip="Copy email">
					</span>
					<!-- <button class="btn btn-secondary flt-right" (click)="edit(customer.userId, 'customer', customerModal)">Edit</button> -->
					<!-- <button class="btn btn-info bt-copy" (click)="copyText(customer.userId)">Copy</button> -->
				</div>
			</li>
		</ul>
	</div>
	<div *ngIf="userType == 'staff'" class="col-md-10 min-scroll">
		<ul class="list-group-flush">
			<li class="list-group-item" *ngFor="let staff of staffLists; let i = index">
				<div class="count-pos">{{i+1}}- </div>
				<span *ngIf="staff.preferredName != undefined">Name: {{staff.preferredName}}</span>
				<span *ngIf="staff.preferredName == undefined">Name: -</span>
				<div class="bt-mr">
					<span>
						Email: <input class="usermail" id="{{staff.userId}}" type="text" value="{{staff.email}}">
					</span>
					<span *ngIf="staff.email" class="bt-copy" (click)="copyText(staff.userId)">
						<img style="width: 25px;" src="./assets/img/clipboard.png" placement="top" ngbTooltip="Copy email">
					</span>
					<!-- <button class="btn btn-secondary flt-right" (click)="edit(staff.userId, 'staff', staffModal)">Edit</button> -->
					<!-- <button class="btn btn-info bt-copy" (click)="copyText(staff.userId)">Copy</button> -->
				</div>
			</li>
		</ul>
	</div>	
</div>





