.body
{
    position: fixed; 
    overflow-y: hidden;
    width: 100%;
}

.scrollable
{
      overflow-y: scroll;
      height: 100vh;
 }
 .margin-left{
    margin-left: 20px !important;
}



.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.modal-dialog {
    width: 100%;
}

.modal-body {
    min-height: 600px;
    overflow-x: scroll;
    max-height: 600px;
}

.upload-result {
    margin-left: 13px;
}
.usermail{
    outline: none;
    border: none transparent;
}

.tab-wrap{
    padding: 9px 0px;
    position: relative;
    outline: none;
}

.noti-sidebar {
    padding-top: 20px;
    padding-right: 0;
    padding-left: 0;
    border-right: 1px solid #dedede;
}

.active {
    background: #e6ecf2;
}
.active .noti-tab {
    background: #e6ecf2;
    color: #4292f1;
    border-left: 3px solid #4292f1;
}

.min-scroll {
    min-height: 350px; 
    overflow: scroll;
    border-left: 1px solid #dedede; 
}

.mr-lt {
    margin-left: 10px;
}

.count-pos {
    float: left; 
    margin: 0 10px 10px 0;
}

.bt-copy {
    position: absolute;
    right: 0;
    bottom: 10px;
}

.list-group-flush li span {
    padding-right: 40px;
}

.tab-pad {
    padding: 0;
}