ul.nav-style{
	padding: 0;
	margin: 0;
	display: block;
}
ul.nav-style li,
ul.nav-style li a{
	transition: 0.4s all ease-out;
}

ul.nav-style li:hover{
	background: #8a48c0;
}
ul.nav-style li a{
	color: #c7b6e0;
}
ul.nav-style li:hover a{
	color: #fff;
}
li.nav-item {
    padding: 5px 15px;
    border-bottom: 1px solid #672396;
}
