<ul class="nav navbar-nav nav-style">
	<li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/region">Region</a></li>
	<li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/dashboard">Dashboard</a></li>
	<li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/location">Location</a></li>
	<li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/user">user</a></li>
	<li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/category">Category</a></li>
	<li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/courseplan">Course plan</a></li>
	<li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/course">Course</a></li>
	<li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/holidays">Holidays</a></li>
	<li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/calendar">Calendar</a></li>
	<li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/quizwerkz">Quizwerkz</a></li>
	<li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/tools">Tools</a></li>
	<li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/report">Report</a></li>
</ul>
