<ul class="nav navbar-nav nav-style" routerLinkActive="active">
	<li class="nav-item"><a class="nav-link" routerLink="dashboard">dashboard</a></li>
	<li class="nav-item"><a class="nav-link" routerLink="location">location</a></li>
	<li class="nav-item"><a class="nav-link" routerLink="user">user</a></li>
	<li class="nav-item"><a class="nav-link" routerLink="category">category</a></li>
	<li class="nav-item"><a class="nav-link" routerLink="courseplan">course plan</a></li>
	<li class="nav-item"><a class="nav-link" routerLink="course">course</a></li>
	<li class="nav-item"><a class="nav-link" routerLink="holidays">holidays</a></li>
	<li class="nav-item"><a class="nav-link" routerLink="calendar">calendar</a></li>
</ul>
