.img-width {
	width: 2.1rem; 
	cursor: pointer;
}
.margin-left{
	margin-left: 20px !important;
}
.input-group-append .btn-outline-secondary {
	padding: 0 5px;
}
.bold-text{
	font-weight: bold;
	font-family: 'Montserrat-Regular';
	font-size: 18px;
}