@import '../../../assets/css/main.min.css';
.setting {
  height: 56px;
  background: #f7f9fa;
  align-items: center;
}
.tdy-btn {
  width: 84px;
  height: 40px;
  background: #f7f9fa;
  border: 1px solid #d4d5d6;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 0 10px 0 10px;
}
.arrow {
  margin: 0 10px 0 10px;
}
.setting-date {
  margin: 0 10px 0 10px;
}
.category {
  margin: 0 10px 0 10px;
}
.heading {
  height: 56px;
  display: grid;
  grid-template-columns: 72px repeat(7, 1fr);
  grid-gap: 1px 1px;
  border-top: 1px solid #e8e9eb;
  border-left: 1px solid #e8e9eb;
  text-align: center;
}
.dates {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.white {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.white:hover {
  background: #f2f3f5;
}
.schedule-container {
  display: grid;
  grid-gap: 1px 1px;
  background: #e8e9eb;
  border: 1px solid #e8e9eb;
}
.extra {
  display: grid;
  background: #e8e9eb;
  border: 1px solid #e8e9eb;
  border-top: 0;
}
.schedule {
  min-height: 86px;
  display: grid;
  grid-template-columns: 72px repeat(7, 1fr);
  grid-gap: 1px 1px;
  text-align: center;
}
.s-c {
  border-right: 1px solid #e8e9eb;
  margin-right: -1px;
}
.staff {
  background: #f7f9fa;
  margin-bottom: -1px;
  margin-top: -1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overlayModal {
  background: rgba(39, 49, 70, 0.4);
  position: fixed !important;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.btn {
  outline: none;
}

.modal-close:focus {
  outline: none;
}

.modal-close {
  opacity: 1;
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.fee-box .closemark {
  display: inline-block;
  width: 11px;
  height: 15px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.fee-box .closemark_stem,
.fee-box .closemark_kick {
  position: absolute;
  width: 2px;
  height: 13px;
  background-color: #425568;
  left: 5px;
  top: 3px;
}

.fee-box .closemark_kick {
  transform: rotate(90deg);
}

.fee-box .checkmark {
  display: inline-block;
  width: 11px;
  height: 15px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.fee-box .checkmark_stem {
  position: absolute;
  width: 2px;
  height: 13px;
  background-color: #425568;
  left: 6px;
  top: 1px;
}

.fee-box .checkmark_kick {
  position: absolute;
  width: 6px;
  height: 2px;
  background-color: #425568;
  left: 2px;
  top: 12px;
}

.checkmark {
  display: inline-block;
  /* margin-right: 8px; */
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: white;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.checkmark_stem {
  position: absolute;
  width: 3px;
  height: 10px;
  background-color: #007fff;
  left: 7px;
  top: 2px;
}

.checkmark_kick {
  position: absolute;
  width: 2px;
  height: 3px;
  background-color: #007fff;
  left: 5px;
  top: 9px;
}

.closemark {
  display: inline-block;
  width: 30px;
  height: 16px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.closemark_stem,
.closemark_kick {
  position: absolute;
  width: 2px;
  height: 16px;
  background-color: #3d5266;
  left: 16px;
  top: -2px;
}

.closemark_kick {
  transform: rotate(90deg);
}

.closemark_stem1,
.closemark_kick1 {
  position: absolute;
  width: 2px;
  height: 24px;
  background-color: #3d5266;
  left: 5px;
  top: -21px;
}

.closemark_kick1 {
  transform: rotate(90deg);
}

.close-tabModal {
  width: 40px;
}

.close-tabModal span {
  float: right;
}

/* .my-modal{
  border-radius: 16px;
  top: 50%;
  left: 50%;
  width: 560px;
  position: absolute;
  background: slateblue;
} */

.my-modal {
  position: fixed;
  width: 560px;
  min-height: 202px;
  /* height: 200px; */
  z-index: 115;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* box-shadow: 0px 1px 0px #E3E4E5; */
}

.my-modal-header {
  background: #f7f9fa;
  padding: 26px;
  height: 100px;
  border-radius: 16px 16px 0px 0px;
  border-bottom: 1px solid #e3e4e5;
}

.my-modal-body {
  width: 100%;
  background: #ffffff;
  padding: 26px;
  max-height: 540px;
  border-radius: 0px 0px 16px 16px;
  overflow: overlay;
}

.flex-column {
  flex-direction: column;
}

.img-wrap {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background: #ddd;
  margin-right: 16px;
  float: left;
}

.img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.tab-cell {
  display: table-cell;
  vertical-align: bottom;
  height: 100%;
}

.add-course {
  margin-left: 15px;
  line-height: 5;
  float: left;
}

.staff-info {
  float: left;
}

.action-location {
  padding-top: 25px;
  margin-top: 25px;
  border-top: 1px solid #e3e4e5;
}

.course-details {
  margin-right: 24px;
  color: #0065f2;
  cursor: pointer;
}
.new-course {
  color: #0065f2;
  cursor: pointer;
}

.modal-wrapper {
  background: rgba(39, 49, 70, 0.4);
  position: fixed !important;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}
