<!-- <app-header [ngClass]="{ stick: isSticky == true }"></app-header> -->

<!-- write your code -->
<div class="setting d-flex">
  <div style="margin-left: 20px; height: 40px;">
    <button class="btn tdy-btn body-m">Today</button>
    <span class="arrow"
      ><img src="../../../assets/img/chevron-right-s.png"
    /></span>
    <span class="arrow"
      ><img src="../../../assets/img/chevron-left-s.png"
    /></span>
    <span class="setting-date">23 Feb ’20 - 29 Feb ’20</span>
    <span class="category">All category</span>
  </div>
</div>
<div class="heading">
  <div class="staff s-c">Staff</div>
  <div class="dates">Sun</div>
  <div class="dates">Mon</div>
  <div class="dates">Tue</div>
  <div class="dates">Wed</div>
  <div class="dates">Thurs</div>
  <div class="dates">Fri</div>
  <div class="dates">Sat</div>
</div>
<div class="schedule-container">
  <div class="schedule">
    <div class="staff">Lu</div>
    <div class="white">111111</div>
    <div class="white">222222</div>
    <div class="white">333333</div>
    <div class="white">444444</div>
    <div class="white">555555</div>
    <div class="white">666666</div>
    <div class="white">777777</div>
  </div>
  <div class="schedule">
    <div class="staff">Lu</div>
    <div class="white">111111</div>
    <div class="white">222222</div>
    <div class="white">333333</div>
    <div class="white">444444</div>
    <div class="white">555555</div>
    <div class="white">666666</div>
    <div class="white">777777</div>
  </div>
  <div class="schedule">
    <div class="staff">Lu</div>
    <div class="white">111111</div>
    <div class="white">222222</div>
    <div class="white">333333</div>
    <div class="white">444444</div>
    <div class="white">555555</div>
    <div class="white">666666</div>
    <div class="white">777777</div>
  </div>
  <div class="schedule">
    <div class="staff">Lu</div>
    <div class="white">111111</div>
    <div class="white">222222</div>
    <div class="white">333333</div>
    <div class="white">444444</div>
    <div class="white">555555</div>
    <div class="white">666666</div>
    <div class="white">777777</div>
  </div>
</div>
<div class="extra">
  <div class="schedule">
    <div class="staff"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
  </div>
  <div class="schedule">
    <div class="staff"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
  </div>
  <div class="schedule">
    <div class="staff"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
  </div>
  <div class="schedule">
    <div class="staff"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
  </div>
  <div class="schedule">
    <div class="staff"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
  </div>
  <div class="schedule">
    <div class="staff"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
  </div>
</div>
<!-- write your code -->

<!-- mycode -->
<div class="overlayModal" *ngIf="showPopUp" (click)="clickOverlay()"></div>
<button class="btn btn-submit" (click)="showPopUpFunc(scheduleDetails)">
  click me
</button>
<block-ui message="Deafult Message"></block-ui>

<ng-template #scheduleDetails let-c="close" let-d="dismiss">
  <div class="d-flex modal-header" style="border-radius: 16px 16px 0px 0px;">
    <div class="imgwrap">Image</div>
    <div class="staff-info">Info</div>
    <span>Add new course</span>
    <button
      (click)="cancelModal()"
      aria-label="Close"
      class="modal-close ml-auto"
      type="button"
    >
      <span class="closemark">
        <div class="closemark_stem"></div>
        <div class="closemark_kick"></div>
      </span>
    </button>
  </div>
</ng-template>

<!-- mycode -->
