<p>
	pagenotfound works!
</p>
<div class="container-fluid">
	<div class="row">
		
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-3 block">
					<a href="#">manager</a>
				</div>
				<div class="col-md-3 block">
					<a href="#">stuff</a>
				</div>
				<div class="col-md-3 block">
					<a href="#">teacher</a>
				</div>
				<div class="col-md-3 block">
					<a href="#">customer</a>
				</div>
			</div>
			<div class="row">
				<button type="button" class="btn btn-outline-primary">+customer</button>
				<button type="button" class="btn btn-outline-primary">+stuff</button>

			</div>
			<ul class="list-group scroll">
				<li class="list-group-item">Cras justo odio
					<button type="button" class="btn btn-link">delete</button>
					<button type="button" class="btn btn-link">edit</button>
				</li>
				<li class="list-group-item">Cras justo odio
					<button type="button" class="btn btn-link">delete</button>
					<button type="button" class="btn btn-link">edit</button>
				</li>
				<li class="list-group-item">Cras justo odio
					<button type="button" class="btn btn-link">delete</button>
					<button type="button" class="btn btn-link">edit</button>
				</li>
				<li class="list-group-item">Cras justo odio
					<button type="button" class="btn btn-link">delete</button>
					<button type="button" class="btn btn-link">edit</button>
				</li>
				<li class="list-group-item">Cras justo odio
					<button type="button" class="btn btn-link">delete</button>
					<button type="button" class="btn btn-link">edit</button>
				</li>
			</ul>
		</div>
	</div>
</div>