<app-header [ngClass]="{ stick: isSticky == true }" [activeTab]="active">
</app-header>
<!-- <div
  class="d-flex flex-column justify-content-center align-items-center cust-bg"
> -->
<div class="cust-bg">
  <div class="inner-wrapper w-100">
    <div class="back-wrap d-flex justify-content-between">
      <div class="back-to  " (click)="backToCourses()">
        <i class="fa fa-angle-left text-c200"></i>
        <p class="text-c300 body-l">Courses</p>
      </div>
      <button
        class="btn edit-course-btn text-c300 body-l"
        (click)="editCourse(courseId)"
      >
        Edit course
      </button>
    </div>
    <div>
      <div
        class="display-flex"
        *ngIf="loading == true"
        style="min-height:50px;"
      >
        <content-loader>
          <svg:rect x="0" y="0" rx="0" ry="0" width="700px" height="10px" />
          <svg:rect x="0" y="15" rx="0" ry="0" width="70px" height="10px" />
          <svg:rect x="0" y="30" rx="0" ry="0" width="40px" height="10px" />
        </content-loader>
      </div>
      <div class="display-flex" *ngIf="loading == false">
        <div class="col-md-8 detail-info">
          <label class="body-l text-c100">{{
            detailLists.coursePlan.name
          }}</label>
          <h1 class="h1-strong text-c300">
            {{ detailLists.name
            }}<span class="body-l bg-b25 text-b300">{{
              detailLists.courseCode
            }}</span>
          </h1>
          <p class="text-c100 body-l">{{ detailLists.description }}</p>
        </div>
        <div class="col-md-4 pad-0 d-flex row-reverse">
          <div class="d-flex">
            <div class="circleimg">
              <img
                class="img-size"
                src="{{ detailLists.teacher.profilePic }}"
              />
            </div>
            <div class="flex-column">
              <p class="small text-c100 m-0">Teacher</p>
              <p class="body-l text-c300">
                {{ detailLists.teacher.preferredName }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- wave card -->
      <div class="d-flex flex-row " *ngIf="loading == true">
        <div
          class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 pl-zero course-bg"
        >
          <div class="cdetail">
            <content-loader>
              <svg:rect x="0" y="0" rx="0" ry="0" width="90%" height="10px" />
              <svg:rect x="0" y="20" rx="0" ry="0" width="90%" height="10px" />
            </content-loader>
          </div>
        </div>
        <div
          class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 pl-zero course-bg"
        >
          <div class="cdetail">
            <content-loader>
              <svg:rect x="0" y="0" rx="0" ry="0" width="90%" height="10px" />
              <svg:rect x="0" y="20" rx="0" ry="0" width="90%" height="10px" />
            </content-loader>
          </div>
        </div>
        <div
          class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 pl-zero course-bg"
        >
          <div class="cdetail">
            <content-loader>
              <svg:rect x="0" y="0" rx="0" ry="0" width="90%" height="10px" />
              <svg:rect x="0" y="20" rx="0" ry="0" width="90%" height="10px" />
            </content-loader>
          </div>
        </div>
        <div
          class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 pl-zero course-bg"
        >
          <div class="cdetail">
            <content-loader>
              <svg:rect x="0" y="0" rx="0" ry="0" width="90%" height="10px" />
              <svg:rect x="0" y="20" rx="0" ry="0" width="90%" height="10px" />
            </content-loader>
          </div>
        </div>
      </div>

      <div class="d-flex flex-row " *ngIf="loading == false">
        <div
          class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 pl-zero course-bg"
        >
          <div class="cdetail">
            <p class="text-c100 light-body-m">Location</p>
            <p class="locationTxt body-m text-c300">
              {{ detailLists.location.name }}
            </p>
          </div>
        </div>
        <div
          *ngIf="courseType != 'ONLINE'"
          class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 pl-zero course-bg"
        >
          <div class="cdetail">
            <h5
              *ngFor="let day of detailLists.repeatDays | weekDays"
              class="text-c300 body-m"
            >
              {{ day }}
            </h5>
            <p class="text-c100 light-body-m">
              {{ detailLists.duration.startDate | utcTime }} -
              {{ detailLists.duration.endDate | utcTime }}
            </p>
          </div>
        </div>
        <div
          class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 pl-zero course-bg"
        >
          <div class="cdetail">
            <p class="light-body-m text-c100">Lesson count</p>
            <h5
              class="body-m text-c300"
              *ngIf="
                detailLists.type !== 'FLEXY' && detailLists.lessonCount == null
              "
            >
              {{ detailLists.actualLessonCount }}
              <span *ngIf="detailLists.actualLessonCount > 1"> Lessons </span>
              <span *ngIf="detailLists.actualLessonCount <= 1"> Lesson </span>
              <!-- {{
              detailLists.type == 'FLEXY'
                ? detailLists.defaultlessonCount
                : detailLists.actualLessonCount
            }} -->
            </h5>
            <h5
              *ngIf="
                detailLists.type !== 'FLEXY' && detailLists.lessonCount != null
              "
            >
              <!-- {{
              detailLists.type == 'FLEXY'
                ? detailLists.defaultlessonCount
                : detailLists.lessonCount
            }} -->
              {{ detailLists.lessonCount }}
              Lessons
            </h5>
            <h5 *ngIf="detailLists.type === 'FLEXY'">
              {{ detailLists.actualLessonCount }}
              Lessons
            </h5>
          </div>
        </div>
        <div
          class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 pd-zero course-bg"
        >
          <div class="d-flex cdetail">
            <div class="col-md-6 pd-zero">
              <p class="text-c100 light-body-m">From</p>
              <h5 class="text-c300 body-m">
                {{ detailLists.startDate | utcDate }}
              </h5>
            </div>
            <div class="col-md-6 pd-zero">
              <p *ngIf="detailLists.endDate" class="text-c100 light-body-m">
                To
              </p>
              <h5 *ngIf="detailLists.endDate" class="text-c300 body-m">
                {{ detailLists.endDate | utcDate }}
              </h5>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-column mt-32">
        <div class="d-flex c-border">
          <!-- <button
            class="btn course-tab text-c300 body-l"
            routerLinkActive="active"
            routerLink="overview"
          >
            Overview
          </button> -->
          <button
            class="btn course-tab text-c300 body-l"
            routerLinkActive="active"
            routerLink="customers"
          >
            Customers
          </button>
          <button
            class="btn course-tab text-c300 body-l"
            routerLinkActive="active"
            routerLink="attendance"
            *ngIf="courseType != 'ONLINE'"
          >
            Attendance
          </button>
          <button
            class="btn course-tab text-c300 body-l"
            routerLinkActive="active"
            routerLink="prev-lessons"
            *ngIf="courseType != 'ONLINE'"
          >
            Prev Lessons
          </button>
          <button
            *ngIf="detailLists.sparkWerkz?.sparkWerkzCourse == true"
            class="btn course-tab text-c300 body-l"
            routerLinkActive="active"
            routerLink="tasks"
          >
            Tasks
            <span class="spaninline"
              ><img src="../../../../assets/img/tiny-brainlitz.svg"
            /></span>
          </button>
          <!-- <button
            *ngIf="detailLists.sparkWerkz?.sparkWerkzCourse == true"
            class="btn course-tab"
            routerLinkActive="active"
            routerLink="leaderboard"
          >
            Leaderboard
            <span class="spaninline"
              ><img src="../../../../assets/img/tiny-brainlitz.svg"
            /></span>
          </button> -->
          <button
            *ngIf="detailLists.sparkWerkz?.sparkWerkzCourse == true"
            class="btn course-tab text-c300 body-l"
            routerLinkActive="active"
            routerLink="masteries-report"
          >
            Masteries reports
            <span class="spaninline"
              ><img src="../../../../assets/img/tiny-brainlitz.svg"
            /></span>
          </button>
          <!-- <button
            [ngClass]="{ active: activeTab == 'APG' || notiType == 'view' }"
            class="btn course-tab"
            (click)="clickTab('APG', 'course')"
            [disabled]="disabledTab"
          >
            Tracking Module
          </button> -->
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
