<app-header
  [ngClass]="{ stick: isSticky == true }"
  (newItemEvent)="reviewToggle($event)"
  [activeTab]="active"
></app-header>
<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="inner-wrapper w-100">
    <div class="back-wrap d-flex justify-content-between">
      <div class="back-to " routerLink="/course">
        <i class="fa fa-angle-left"></i>
        <p>Courses</p>
      </div>
      <button class="btn edit-course-btn">
        Edit course
      </button>
    </div>
    <div>
      <div class="display-flex">
        <div class="col-md-8 detail-info">
          <label>{{ detailLists.coursePlan.name }}</label>
          <h4>
            {{ detailLists.name }}<span>{{ detailLists.courseCode }}</span>
          </h4>
          <p>{{ detailLists.description }}</p>
        </div>
        <div class="col-md-4 pad-0 d-flex row-reverse">
          <div class="d-flex">
            <div class="circleimg">
              <img
                class="img-size"
                src="{{ detailLists.teacher.profilePic }}"
              />
            </div>
            <div class="flex-column">
              <p class="cap1">Teacher</p>
              <p class="cap2">{{ detailLists.teacher.preferredName }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-row ">
        <div
          class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 pl-zero course-bg"
        >
          <div class="cdetail">
            <p>Location</p>
            <p class="locationTxt">
              {{ detailLists.location.name }}
            </p>
          </div>
        </div>
        <div
          class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 pl-zero course-bg"
        >
          <div class="cdetail">
            <h5 *ngFor="let day of detailLists.repeatDays | weekDays">
              {{ day }}
            </h5>
            <p>
              {{ detailLists.duration.startDate | utcTime }} -
              {{ detailLists.duration.endDate | utcTime }}
            </p>
          </div>
        </div>
        <div
          class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 pl-zero course-bg"
        >
          <div class="cdetail">
            <p>Lesson count</p>
            <h5
              *ngIf="
                detailLists.type !== 'FLEXY' && detailLists.lessonCount == null
              "
            >
              {{ detailLists.actualLessonCount }}
              <span *ngIf="detailLists.actualLessonCount > 1"> Lessons </span>
              <span *ngIf="detailLists.actualLessonCount <= 1"> Lesson </span>
              <!-- {{
              detailLists.type == 'FLEXY'
                ? detailLists.defaultlessonCount
                : detailLists.actualLessonCount
            }} -->
            </h5>
            <h5
              *ngIf="
                detailLists.type !== 'FLEXY' && detailLists.lessonCount != null
              "
            >
              <!-- {{
              detailLists.type == 'FLEXY'
                ? detailLists.defaultlessonCount
                : detailLists.lessonCount
            }} -->
              {{ detailLists.lessonCount }}
              Lessons
            </h5>
            <h5 *ngIf="detailLists.type === 'FLEXY'">
              {{ detailLists.actualLessonCount }}
              Lessons
            </h5>
          </div>
        </div>
        <div
          class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 pd-zero course-bg"
        >
          <div class="d-flex cdetail">
            <div class="col-md-6 pd-zero">
              <p>From</p>
              <h5>{{ detailLists.startDate | utcDate }}</h5>
            </div>
            <div class="col-md-6 pd-zero">
              <p *ngIf="detailLists.endDate">To</p>
              <h5 *ngIf="detailLists.endDate">
                {{ detailLists.endDate | utcDate }}
              </h5>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-column mt-32">
        <div class="d-flex c-border">
          <button
            class="btn course-tab"
            routerLinkActive="active"
            routerLink="overview"
          >
            Overview
          </button>
          <button
            class="btn course-tab"
            routerLinkActive="active"
            routerLink="customers"
          >
            Customers
          </button>
          <button
            class="btn course-tab"
            routerLinkActive="active"
            routerLink="attendance"
          >
            Attendance
          </button>
          <button
            class="btn course-tab"
            routerLinkActive="active"
            routerLink="tasks"
          >
            Tasks
            <span class="spaninline"><p class="m-0">SW</p></span>
          </button>
          <button
            class="btn course-tab"
            routerLinkActive="active"
            routerLink="leaderboard"
          >
            Leaderboard
            <span class="spaninline"><p class="m-0">SW</p></span>
          </button>
          <button
            class="btn course-tab"
            routerLinkActive="active"
            routerLink="masteries-report"
          >
            Masteries reports
            <span class="spaninline"><p class="m-0">SW</p></span>
          </button>
          <!-- <button
            [ngClass]="{ active: activeTab == 'APG' || notiType == 'view' }"
            class="btn course-tab"
            (click)="clickTab('APG', 'course')"
            [disabled]="disabledTab"
          >
            Tracking Module
          </button> -->
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
