.greater-than{
  top: 65px;
}
.less-than{
  top: 165px;
}
.forElse{
  top: 165px;
}

.btn-create {
  font-family: 'Inter-UI-Medium', 'Arial', sans-serif;
  color: #fff;
  background-color: #1682fb;
  border: none;
  height: 45px;
  border-radius: 3px;
}

.limit-type-wordcount {
  display: none;
  font-size: 14px;
  font-family: 'Inter-UI-Medium', 'Arial', sans-serif !important;
  color: #0080ff;
}

.back-to {
  font-family: 'Inter-UI-Medium', Arial, sans-serif;
  font-size: 16px;
  color: #2e3d4d !important;
  padding-left: 0 !important;
  cursor: pointer;
}

.back-to i,
.back-to p {
  float: left;
}

.back-to i {
  float: left;
  font-size: 23px;
}

.back-to p {
  float: left;
  margin-bottom: 0;
  line-height: 1.6;
  margin-left: 4px;
}

.stickywrap {
  top: -60px !important;
}

.sticky-menu {
  position: fixed;
  width: 100%;
  z-index: 999 !important;
  padding: 10px 30px;
  left: 0;
  right: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  top: -80px;
  background: #fff;
  box-shadow: 0 1px 5px 1px rgba(221, 221, 221, 0.6);
}

.sticky-menu.sticky {
  top: 0;
}

.mb-20 {
  margin-bottom: 20px;
}

.load-more {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 20px;
  right: 0;
  background: #fff;
}

.load-more button:focus {
  box-shadow: none;
}

.load-more button {
  background: #fff;
  color: #0080ff;
  font-size: 14px;
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
}

.load-more button:focus {
  outline: none;
}

.limit-word {
  display: none;
  font-size: 14px;
  font-family: 'Inter-UI-Medium', 'Arial', sans-serif !important;
  color: #0080ff;
  position: absolute;
  top: -26px;
  z-index: 9;
  right: 0;
}

.createForm-wrap{
  margin-bottom: 120px;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.closemark {
  display: inline-block;
  width: 11px;
  height: 15px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.closemark_stem,
.closemark_kick {
  position: absolute;
  width: 2px;
  height: 13px;
  background-color: #425568;
  left: 5px;
  top: 3px;
}

.closemark_kick {
  transform: rotate(90deg);
}

.checkmark {
  display: inline-block;
  width: 11px;
  height: 15px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.checkmark_stem {
  position: absolute;
  width: 2px;
  height: 13px;
  background-color: #425568;
  left: 6px;
  top: 1px;
}

.checkmark_kick {
  position: absolute;
  width: 6px;
  height: 2px;
  background-color: #425568;
  left: 2px;
  top: 12px;
}

header {
  position: relative;
}

.overflow {
  overflow-y: none !important;
}

.inner-wrapper {
  padding: 15px 30px 30px 30px;
}

.sticky-menu {
  position: fixed;
  width: 100%;
  z-index: 999 !important;
  padding: 10px 30px;
  left: 0;
  right: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  top: -80px;
  background: #fff;
  box-shadow: 0 1px 5px 1px rgba(221, 221, 221, 0.6);
}

.sticky-menu.sticky {
  top: 0;
}

.overlay {
  background: rgba(217, 217, 217, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
}

.blury {
  filter: blur(9px);
}

h3.category-h3,
.category-h5 {
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
  color: #2f3d4c;
}

.d-wrapper {
  top: 0;
  width: 100%;
  -webkit-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

h3.category-h3 {
  top: 45px;
  margin-bottom: 1.3em;
  -webkit-transition: all 0.75s ease-in-out;
  -ms-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

.d-wrapper,
h3.category-h3 {
  position: absolute;

}

.stickywrap {
  top: -60px !important;
}

.category-h5 {
  font-size: 1.1rem;
}

.category-btn input {
  background: #f2f4f5;
}

.editcategory-item input {
  position: relative;
}

.category-btn input,
.editcategory-item input {
  padding: 20px;
}

.category-btn input,
.cagetory-item label,
.editcategory-item input {
  width: 100%;
  border: none;
  text-align: left;
  font-size: 18px;
  box-shadow: 0 1px 5px 1px rgba(221, 221, 221, 0.6);
  margin-bottom: 1.7em;
  border-radius: 3px;
}

.cagetory-item label {
  padding: 15px 20px;
  padding-left: 0.8em;
  cursor: pointer;
  -ms-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.cagetory-item label:hover,
.category-btn input:hover {
  -webkit-box-shadow: 0 1px 5px 2px rgba(221, 221, 221, 0.6) !important;
  -ms-box-shadow: 0 1px 5px 2px rgba(221, 221, 221, 0.6) !important;
  box-shadow: 0 1px 5px 2px rgba(221, 221, 221, 0.6) !important;
}

.cagetory-item label:hover .label-checked {
  border: 2px solid #1f2a35;
}

.cagetory-item input[type="radio"] {
  display: none;
}

.cagetory-item .label-checked {
  background: #fff;
  border: 2px solid #3d5266;
  border-radius: 50%;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  margin-top: 3px;
  float: left;
}

.cagetory-item label.selected {
  background: #1683FB;
  color: #fff;
  box-shadow: 0 1px 5px 1px rgb(22, 131, 251);
}

.cagetory-item label.selected .label-checked {
  border: 2px solid #fff;
  box-shadow: inset 0 0px 0px 2px rgb(22, 131, 251);
}

.cagetory-item .form-check {
  padding: 0;
}
.inform-text{
  font-size: 14px;
  font-family: 'InterUI-Medium',Arial, sans-serif;
  color: #64707d;
  font-weight: 500;
}
.setting-text{
  font-size: 14px;
  font-weight: 500;
  color:#2e3d4d;
  font-family: 'InterUI-Medium',Arial, sans-serif;
}

.back-to {
  font-family: 'Inter-UI-Medium', Arial, sans-serif;
  font-size: 16px;
  color: #2e3d4d !important;
  padding-left: 0 !important;
  cursor: pointer;
}

.back-to i,
.back-to p {
  float: left;
}

.back-to i {
  float: left;
  font-size: 23px;
}

.back-to p {
  float: left;
  margin-bottom: 0;
  line-height: 1.6;
  margin-left: 4px;
}

.pl-0 {
  padding-left: 0 !important;
}

.category-edit,
.category-edit1,
.category-done {
  padding: 7px 30px;
  width: 105px;
  font-family: 'Inter-UI-Medium', Arial, sans-serif;
}

.category-edit1,
.category-edit:hover {
  background: #f2f4f5;
}

.category-edit {
  background: #fff;
}

.category-edit,
.category-edit1 {
  color: #2e3d4d;
}

.category-done {
  background: #1682fb;
  color: #fff;
}

.category-btn-group {
  display: none !important;
  position: absolute;
  right: 15px;
  top: 69px;
}

.category-btn-group .btn {
  background: #fff;
  z-index: 999;
  border-radius: 0;
  box-shadow: 0 1px 5px 1px rgba(221, 221, 221, 0.6);
  padding: 5px 12px;
}

.category-btn-group .btn:first-child {
  margin-right: 13px;
}

.category-btn input.onfocus,
.editcategory-item input.onfocus {
  z-index: 99 !important;
  position: relative;
  background: #fff;
  box-shadow: 0 1px 5px 1px rgba(195, 195, 195, 0.6);
}

.showbtns {
  display: block !important;
  z-index: 99 !important;
}

.category-btn input:focus .category-btn-group {
  display: block !important;
  z-index: 99 !important;
}

.cat-label {
  max-height: 67px;
  min-height: 67px;
  padding: 0;
}

.create-btn {
  height: 67px;
}

#inp::placeholder {
  color: #64707d !important;
  opacity: 1;
  /* Firefox */
}

#inp:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #64707d !important;
}

#inp::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #64707d !important;
}

.assessment-title {
  font-size: 28px;
  font-family: 'InterUI-SemiBold', Arial, sans-serif;
  font-weight: 600;
  color: #2e3d4d;
  margin-bottom: 36px;
  margin-top: 16px;
}

.input-label {
  font-family: 'InterUI-SemiBold', Arial, sans-serif;
  font-size: 18px;
  color: #2e3e4d;
  font-weight: 600;
}

.form-side {
  /* width: 75%; */
  height: 100vh;
}
#conceptWrapper{

}
.setting-sidebar {
  border-left: 1px solid #edeff0;
  position: fixed;
  width: 256px;
  max-width: 256px;
  right: 0px;
  height: 100vh;
  -ms-transition: 300ms linear;
  transition: 300ms linear;
}

.name-input-wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.selfAssessmentName:focus {
  -webkit-box-shadow: 0 1px 3px 2px rgba(213, 213, 213, 0.3);
  -moz-box-shadow: 0 1px 3px 2px rgba(213, 213, 213, 0.3);
  box-shadow: 0 1px 3px 2px rgba(213, 213, 213, 0.3);
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #8fa1b3;
  border-radius: 10px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-family: Inter-UI-SemiBold;
  font-weight: 600;
}

.selfAssessmentName {
  font-family: 'Inter-UI-Regular', 'Arial', sans-serif !important;
  border-radius: .25rem;
  border: none;
  margin-bottom: 15px;
  padding: 12px 6px 12px 6px;
  margin-top: 4px;
}

.btn-cancel {
  font-family: 'Inter-UI-Medium', 'Arial', sans-serif;
  border: none;
  height: 45px;
  border-radius: 3px;
  width: 100px;
}

.form-footer {
  position: fixed;
  width: 82%;
  bottom: 0;
  padding: 20px;
  right: 0;
  background: #fff;
}

.btn-cancel {
  background: #f2f4f5;
}

.btn-submit {
  color: #fff;
  background-color: #1682fb;
  margin-left: 15px;
  padding: 10px;
}


/* pd-blog Wai-Yan Start */
.pd-blog{
  max-width: 480px;
  min-height: 233px;
  border-radius: 8px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.pd-name-wrapper{
  background: #f2f4f5;
  border-radius: 8px;
  padding: 20px;
}
.pd-blog-wrapper{
  padding-left: 20px;
  padding-right: 7px;
}
.question-section{
  padding: 0px 0px 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.pd-icon-wrapper{
  width: 45px;
  height: 24px;
  border-radius: 12px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #007fff;
}
.check-icon-wrapper{
  width: 45px;
  height: 24px;
  border-radius:4px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #007fff;
}
.flex-icon{
  width: 12px;
  height: 14px;
  margin: 8px;
}
.pd-No{
  color: #fff;
}
.pd-name{
  background: inherit;
  border: none;
}
.question-name{
  resize: none;
  overflow: hidden;
  border: none;
  height: 40px;
  padding-top: 14px;
  background: inherit;
}
.add-new-question{
  padding: 20px;
}
.add-new-question p{
  color:#007fff;
  font-family: 'InterUI-Regular',Arial, sans-serif;
  font-size: 16px;
}
.pd-name:focus,.question-name:focus,.answer-input:focus,.randomize-count:focus{
  outline: none!important;
}
.pd-name-input-wrapper{
  width: 90%;
  padding-left: 20px;
  position: relative;
}
.answer-input{
  border: none;
  padding-left: 16px;
  color: #8fa1b3;
  font-family: 'InterUI-Regular',Arial, sans-serif;
  font-size: 16px;
}
.plus-sign{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}
.plus-sign-video{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}
.close-sign{
  width: 32px;
  height: 32px;
  border-radius: 50%;
 
}
.close-sign:hover{
  background: #f2f4f5;
}
.pd-setting{
  color:#2e3d4d;
  font-family: 'InterUI-SemiBold',Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

/* Switch Button Start */
.switch {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 20px;
  margin-top: 8px;
}

.switch input {display:none;}

.slider {
  position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "\2012";
    color: #d8dbde;
    height: 14px;
    width: 14px;
    left: 1px;
    top: 1px;
    background-color: #64707d;
    -webkit-transition: .4s;
     transition: .4s; 
    text-align: center;
    vertical-align: middle;
    background-position: center;
    line-height: 1;
    font-size: 14px;
    font-weight: 900;
}

input:checked + .slider {
  border: 2px solid #0080ff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3!important;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
  background: #0080ff;
  content: "";
  background-image: url(/assets/img/tick.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
}
.slider.round {
  border-radius: 34px;
  border: 2px solid #64707d;
}

.slider.round:before {
  border-radius: 50%;
}
/* Switch Button end */
.plus-sign span{
  font-size: 25px;
  color:#007fff;
}
.plus-sign-video span{
  font-size: 23px;;
  color:#007fff;
}
.randomize-count{
  width: 32px;
  height: 24px;
  border-radius: 12px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: none;
  text-align: center;
}
.new-pd-text{
  font-size: 16px;
  font-family: 'InterUI-Regular',Arial, sans-serif;
  color:#007fff;
}
.question-checkbox {
  display: block;
  top: 6px;
  position: relative;
  padding-left: 35px;
  cursor: pointer;

  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.question-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.answer-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  border-radius:50%;
  width: 16px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #007fff;
}

/* When the checkbox is checked, add a blue background */
.question-checkbox input:checked ~ .answer-checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.answer-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.question-checkbox input:checked ~ .answer-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.question-checkbox .answer-checkmark:after {
  left: 4px;
  top: 2px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* pd-blog Wai-Yan End */

.pd-header{
  max-height:300px;
  max-width:100%;
  background: lemonchiffon;
}
.pd-wrapper{
  border:1px solid grey;
}
.pd-header>img{
  max-height:100px;
}

/* start image upload modal css */
.d-flex.justify-content-center.drop_zone {
  padding-top: 100px;
}

button.btn.btn-submit.insertBtn {
  width: 90px;
  height: 44px;
  /* opacity: 0.5; */
}
.modal-body.img_upload {
  width: 912px;
  height: 524px;
  border: dashed 2px #d4d5d6;
  margin: 32px 32px 32px 22px;
}

img.img_drop {
  width: 108px;
  height: 90px;
  margin-left: 60px;
}

label.drop_drap_txt {
  font-size: 20px;
  color: #64707d;
  margin-left: 60px;
  margin-top: 16px;
  margin-bottom: unset;
}


span.drop_sp {
  font-size: 14px;
  font-weight: 500;
  color: #64707d;
  margin-left: 53px;  
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

button.btn.btn-submit.uploadImgBtn {
  width: 200px;
  height: 44px;
  background: #007fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  margin-top: 48px;
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
i.fa.fa-check {
  color: #ffffff00;
  position: absolute;
  font-size: 10px;
}
i.fa.fa-trash {
  position: absolute;
  right: 0;
  padding-top: 9px;
  padding-right: 10px;
  opacity: 0;
  color: white;
  z-index: 2;
}

/* eixt image */
.modal-body.eimg_upload {
  height: 672px;
}

.d-flex.drop_zone_middle_eixtData {
  width: 912px;
  height: 160px;
  border: dashed 2px #d4d5d6;
  padding: 32px 0px 32px 150px;
}

label.edrop_drap_txt {
  font-size: 20px;
  color: #64707d;
  margin-left: 60px;
  margin-top: 16px;
  margin-bottom: unset;
}

span.edrop_sp {
  font-size: 14px;
  font-weight: 500;
  color: #64707d;
  margin-left: 53px;
}

button.btn.btn-submit.uploadImgBtn.exit-img {
  margin-top: 23px;
}

.d-flex.flex-column.lblGp {
  padding-right: 128px;
}
/* .imgDiv {
  width: 138px;
  height: 138px;
  border-radius: 4px;
  padding: 0;
} */
p.g_title {
  font-size: 24px;
  font-weight: 600;
}
.inner-imgDiv {
  width: 138px;
  height: 138px;
  border: solid 1px #edeff0;
  border-radius: 4px;
}
.row.imgGp {
  overflow: overlay;
  max-height: 400px;
}
.imgDiv{
  margin-top: 16px;
}

img.gShowImag {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.d-flex.flex-column.gallery {
  padding-top: 20px;
}
p.g_title {
  font-size: 24px;
  font-weight: 600;
  color: #2e3d4d;
}
.d-flex.flex-column.gallery {
  padding-top: 24px;
}
.Imgoverlay {
  position: absolute;
  top: 0;
  width: 136px;
  height: 100%;
  /* background: rgba(0, 0, 0, 0); */
  transition: background 0.5s ease;
  border-radius: 4px;
}
/* end image upload modal css */

/* for video upload modal start */
.video-drop-wrapper{
  height: 160px;
  margin: 32px;
  border: dashed 2px #d4d5d6;
}
/* for video upload modal end */

/*for tooltip and contenteditable div*/
.question{
  outline: none;
}

.question:empty:before {
  content:attr(data-placeholder)!important;
  color: #788796;
}

.question-wrap{
  width:90%;
  padding-left:20px;
}

.tooltip-wrap{
  background: #2e3e4d;
  position: absolute;
  top: -20px;
  z-index: 999;
  border-radius: 4px;
}
.bd-left{
  border-left: 1px solid #fff;
}
.answer-tooltip-wrap{
  background: #2e3e4d;
  width: 44px;
  position: absolute;
  z-index: 999;
  left: 30px;
  top: -36px;
  border-radius: 4px;
}
.ans-image{
  position: absolute;
  top: 3px;
  left: 100px;
  border-radius: 50%;
  display : none;
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.4);
}
.answer-img{
  max-width: 120px;
  max-height: 120px;
  background: #f2f4f5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
  background: #ccc;
}
.answer-img-wrapper{
  width: 120px;
  border-radius: 4px;
  position: relative;
  height: 120px;
  background-color: #ccc;
}
.tooltip-wrap button{
  background: none;
  border: none;
  margin: 3px 0px;
}
.answer-tooltip-wrap button{
  background: none;
  border: none;
  margin: 3px 3px;
}

.carret-box {
  width: 20px;
  height: 20px;
  border-top: solid 10px #2e3e4d;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
  position: absolute;
  left: 10px;
  top: 32px;
}
.answer-carret-box{
  width: 20px;
  height: 20px;
  border-top: solid 10px #2e3e4d;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
  position: absolute;
  left: 4px;
  top: 32px;
}
.delete-btnWrap{
  position: fixed;
  bottom: 85px;
  width: 256px;
}
.delete-btnWrap button{
  background: #ffdbd9;
  color: #99251f;
  font-size: 14px;
  outline: none;
  border: none;
  width: 90%;
  padding: 7px 0px;
  border-radius: 4px;
}

.innerPd{
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.imgWrap{
  background: #f2f4f5;
}

.img-pd{
  position: absolute;
  right: 4px;
  top: 4px;
  border-radius: 50%;
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.4);
  display:none;
}

.editablePDImg{
  /*width: 100%;*/
  max-height: 120px;
  max-width: 120px;
}

.img-wrapper{
  justify-content: space-around;
}
.answer-text{
  color: #0080ff;
  font-family: 'InterUI-Medium',Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
}
@media only screen and (min-width:1366px) {
  .inner-wrapper {
    width: 1080px !important;
    margin: 0 auto;
  }

}
@media (min-width: 700px) and (max-width: 2000px) {
  #conceptWrapper{
    width: 85%!important;
  }
}

@media (min-width: 500px) and (max-width: 900px) {
  .form-side{
    width: 65%!important;
  }
}
@media only screen and (min-width: 910px){
  .form-side{
    width: 75%!important;
  }
}
/* #testtt input[type="checkbox"] {
  display: none;
} */

/* test */
.dropzone {
  min-height: 400px;
  min-width: 400px;
  display: table;
  width: 100%;
  background-color: #eee;
  border: dotted 1px #aaa;
}

.text-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.centered {
  font-family: sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  text-align:center;
}

.trashDiv{
  display: none;
}
.img-span {
  z-index: 1001;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding-top: 9px;
}
.img-span-wrapper{
  display: inline-block;
    max-width: 120px;
    max-height: 120px;
    position: relative;
}
.card-columns {
  column-count: 2;
}
.pdLR-30{
  padding: 0px 30px;
}
.pad-15{
 padding: 15px 15px 0px 15px;
}
.card{
  border: none;
}
.single-concept{
  border: solid 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
  max-height: 312px;
}
.btnEdit-wrap{
  border-top: 1px solid #edeff0;
  padding: 5px;
}
.btn-edit,.btn-delete{
  background: none;
  border: none;
  outline: none;
  font-family: 'Inter-UI-Regular', Arial, sans-serif;
  font-size: 14px;
}
.btn-edit{
  color: orange;
}
.btn-delete{
  color: #ff3d33;
  cursor: pointer;
}
.conceptName,.tag-name,.testwerkzTitle,.cTitle{
  font-family: 'Inter-UI-Semibold', Arial, sans-serif;
}
.pd-text{
  font-family: 'InterUI-Medium',Arial, sans-serif;
}
.conceptName,.cTitle{
  color: #2e3e4d;
  font-size: 18px;
}
.cTitle{
  line-height: 2.5;
}
.tag-name{
  font-size: 12px;
  color: #64707d;
}
.testwerkzTitle{
  font-size: 27px;
  padding-left: 30px;
  color: #2e3e4d;
}
.pd-text{
  font-size: 14px;
  color: #64707d;
}
.pdLine-wrap{
  border-bottom: 1px solid #edeff0;
  padding: 10px 0px;
}
.pdlist-wrap{
  max-height: 195px;
  overflow: overlay;
}
div.pdLine-wrap:last-child{
  border-bottom: none;
}
.imgWrap{
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.imgWrap img{
  max-height: 120px;
  max-width: 120px;
}

.modal-delete-btn{
  background: #ff3d33;
  color: #fff;
}
.target{
    color: #ff3d33;
}
