<!-- For Concept Group List Start -->
<div *ngIf="conceptList" class="d-flex justify-content-end pr-5 w-100 mt-1">
  <button class="btn btn-create" (click)="goToTestWerkz()"> Add new tag Werkz </button>
</div>
<div [ngClass]="{'overlay': isfocus == true || iseditfocus == true}"></div>
<!-- For test List End -->

<!-- For test list create and Edit Start -->
<div *ngIf="testWerkzCategory">
    <header [ngClass]="{'blury': isfocus == true || iseditfocus == true}" style="height: 115px;" class="pl-5">
      <div class="d-flex pr-5 d-wrapper" [ngClass]="{'stickywrap' : navIsFixed == true}">
        <div class="mr-auto p-2 pl-0 pb-0" (click)="backToList()">
          <div class="back-to d-flex">
            <i class="fa fa-angle-left"></i>
            <p>Back</p>
          </div>
        </div> 
        <div class="pr-5">
          <button *ngIf="isEditComplete == false" class="btn category-edit" (click)="edit()" class="btn category-edit">Edit</button>
          <button *ngIf="isEditComplete == true" class="btn category-done " (click)="editComplete()">Done</button>
        </div>
      </div>
      <h3 class="category-h3" [ngClass]="{'stickywrap' : navIsFixed == true}">Pick TagWerkz</h3>
    </header>
  <div>
      <!-- <p class="card-text" [style.display]="'none'">hola</p> -->
      <div class="row pr-5 pl-5 justify-content-start mb-20">
        <div class="col-md-4 category-btn">
          <form novalidate #tagWerkz="ngForm">
            <div class="d-flex justify-content-between">
              <div class="limit-word">
                <span>{{wordLength}}/60characters</span>
              </div>
            </div>
            <input 
              type="text" id="inp"
              [ngClass]="{'onfocus': isfocus == true}"
              class="form-control create-btn" 
              placeholder="+ Create new tagwerkz" 
              name="name" 
              [(ngModel)]="item.name" 
              required 
              #name="ngModel"
              (focus)="focusFunction('create','', $event.target.value )" 
              (blur)="blurMethod($event, 'create')"
              (input)="changeMethod($event.target.value)"
              *ngIf="isEditComplete == false"
              maxlength="60">
              <input 
              type="text" id="inp"
              [ngClass]="{'onfocus': isfocus == true, 'blury': iseditfocus == true}"
              class="form-control" 
              placeholder="+ Create new TagWerkz" 
              name="name" 
              (focus)="focusFunction('create')"
              *ngIf="isEditComplete == true" 
              disabled>
            <div class="d-flex justify-content-end category-btn-group" [ngClass]="{'showbtns': isfocus == true}"> 
              <button type="submit" class="btn" (click)="close('create')">
                <span class="closemark">
                    <div class="closemark_stem"></div>
                    <div class="closemark_kick"></div>
                </span>
              </button>
              <button type="submit" class="btn" (click)="createCategory(item)" [disabled]="!tagWerkz.valid">
                <span class="checkmark">
                    <div class="checkmark_stem"></div>
                    <div class="checkmark_kick"></div>
                </span>
              </button>
            </div>
          </form>
        </div>
        <div class="col-md-4 cagetory-item" *ngFor="let category of test; let i = index">
          <form novalidate #tagWerkz="ngForm">
            <div *ngIf="isEditComplete == false" class="form-check">
              <label class="form-check-label cat-label d-flex flex-column justify-content-center" [ngClass]="{'selected': ischecked == category._id, 'blury': isfocus == true}">
                <div>
                    <div class="label-checked"></div>
                    <input class="form-check-input"
                        type="radio" 
                        name="inlineRadioOptions" 
                        id="category._id"                                         
                        (click)="somethingChanged(category._id, category.name)"
                        value="{{category.name}}"> {{category.name}}
                </div>
              </label>
            </div>
            <div *ngIf="isEditComplete == true" class="editcategory-item">
              <div class="d-flex justify-content-between">
                <div class="limit-word limit-{{category._id}}">
                  <span>{{wordLength}}/60characters</span>
                </div>
              </div>          
              <input
                type="text" 
                id="category._id"
                class="form-control" 
                [ngClass]="{'onfocus': editValue == category._id, 'blury': (iseditfocus == true && editValue != category._id)}"            
                name="name" 
                [(ngModel)]="category.name" 
                required 
                #name="ngModel"
                (focus)="focusFunction('edit',category._id, $event.target.value)"
                (blur)="blurMethod($event, 'create')"
                (input)="changeMethod($event.target.value)"
                maxlength="60">
              <div class="d-flex justify-content-end category-btn-group" [ngClass]="{'showbtns': editValue == category._id}"> 
                <button type="submit" class="btn" (click)="close('edit', category._id)">
                  <span class="closemark">
                      <div class="closemark_stem"></div>
                      <div class="closemark_kick"></div>
                  </span>
                </button>
                <button type="submit" class="btn" (click)="updateCategory(item, category.name)" [disabled]="!tagWerkz.valid">
                  <span class="checkmark">
                      <div class="checkmark_stem"></div>
                      <div class="checkmark_kick"></div>
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- <div  class="d-flex justify-content-center load-more">
      <button class="btn" (click)="showMore()">load more</button>
    </div> -->
</div>
<!-- For test list create and Edit End -->

<!-- For Concept Create Start -->
<div *ngIf="conceptCreate">
  <div class="w-100  h-100">
      <div class="w-100 d-flex mt-1 h-100">
          <div class="pl-3 col-md-8 col-xl-8 p-0 form-side">
            <div class="align-items-center d-flex flex-column w-100">
              <div class="">
                <div class="mr-auto p-2 pl-0 pb-0" (click)="backToTestWerkz()">
                  <div class="back-to pt-2 d-flex">
                    <i class="fa fa-angle-left"></i>
                    <p>Back</p>
                  </div>
                </div> 
                <h3 class="assessment-title">Creating SelfAssessment Apg</h3>
                <div class="form-group  name-input-wrapper col-11 pr-0 pl-0">
                  <div class="d-flex justify-content-between">
                    <label class="form-title input-label" for="address"> SelfAssessment Name </label>
                    <!-- <div class="limit-type-wordcount">
                      <span>{{wordLength}}/60characters</span>
                    </div> -->
                  </div>
                  <input type="text" class="form-control selfAssessmentName col-12" placeholder="Type SelfAssessment name here" name="name"
                    maxlength="60" [(ngModel)]="concept.name"  (focus)="focusMethod($event,'name', $event.target.value)" (blur)="blurMethod($event,'input_method')" 
                    (input)="changeMethod($event.target.value)"  required #name="ngModel">
                  <!-- <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                    <div [hidden]="!name.errors.required">
                      Name is required!
                    </div>
                  </div> -->
                </div>
                <div class="inform-wrapper p-0">
                 <p class="icon"> <span class="icon">i</span> </p> <span class="inform-text">Some information about how  do PD and QUESTION 
                    create with multiple lines</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Note Setting Max-width = 256px -->
          <div class="col-4 p-0 setting-sidebar">
            <div class="pt-2">
              Setting Here
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end form-footer">
          <button type="button" class="btn btn-cancel" (click)="cancelapg()">Cancel</button>
          <button *ngIf="isUpdate == false" type="button" class="btn btn-submit" >Create</button>
          <button *ngIf="isUpdate == true" type="button" class="btn btn-submit" >Update</button>
        </div>
</div>
<!-- For Concept Create End -->
<block-ui message="Deafult Message"></block-ui>