<!-- For Concept Group List Start -->
<div *ngIf="conceptList" class="d-flex justify-content-end pr-5 w-100 mt-1">
  <button class="btn btn-create" (click)="goToTestWerkz()"> Add new tag </button>
</div>
<div [ngClass]="{'overlay': isfocus == true || iseditfocus == true}"></div>
<!-- For test List End -->

<!-- testing for markdown -->
<!-- <div id="editor1" contenteditable="true">
     The quick brown fox jumped over the lazy dog.
  </div>
  <button (click)="turn()">turn</button>
  <div contenteditable="true">
     For Editor 2 The quick brown fox jumped over the lazy dog.
  </div>
  <div contenteditable="true"> 
    For Editor 3 The quick brown fox jumped over the lazy dog.
  </div>
  <fieldset>
    <button class="fontStyle" onclick="document.execCommand('italic',false,null);" title="Italicize Highlighted Text"><i>I</i>
    </button>
    <button class="fontStyle" onclick="document.execCommand( 'bold',false,null);" title="Bold
     Highlighted Text"><b>B</b>
    </button>
    <button class="fontStyle" onclick="document.execCommand( 'underline',false,null);"><u>U</u>
    </button>
    <button type="button" class="btn btn-submit" (click)=openImgModal(imgModal)>Image Upload</button>
  </fieldset>
 -->

<!-- For test list create and Edit Start -->
<div *ngIf="testWerkzCategory">
  <header [ngClass]="{'blury': isfocus == true || iseditfocus == true}" style="height: 115px;" class="pl-5">
    <div class="d-flex pr-5 d-wrapper" [ngClass]="{'stickywrap' : navIsFixed == true}">
      <div class="mr-auto p-2 pl-0 pb-0" (click)="backToList()">
        <div class="back-to d-flex">
          <i class="fa fa-angle-left"></i>
          <p>Back</p>
        </div>
      </div>
      <div class="pr-5">
        <button *ngIf="isEditComplete == false" class="btn category-edit" (click)="edit()" class="btn category-edit">Edit</button>
        <button *ngIf="isEditComplete == true" class="btn category-done " (click)="editComplete()">Done</button>
      </div>
    </div>
    <h3 class="category-h3" [ngClass]="{'stickywrap' : navIsFixed == true}">Pick Tag</h3>
  </header>
  <div>
    <!-- <p class="card-text" [style.display]="'none'">hola</p> -->
    <div class="row pr-5 pl-5 justify-content-start mb-20">
      <div class="col-md-4 category-btn">
        <!-- <form novalidate #tagWerkz="ngForm"> -->
        <div class="d-flex justify-content-between">
          <div class="limit-word">
            <span>{{wordLength}}/60characters</span>
          </div>
        </div>
        <input type="text" id="inp" [ngClass]="{'onfocus': isfocus == true}" class="form-control create-btn"
          placeholder="+ Create new tag" name="name" autocomplete="off" [(ngModel)]="tagWerkz.name" required #name="ngModel"
          (focus)="focusFunction('create','', $event.target.value )" (blur)="blurMethod($event, 'create')" (input)="changeMethod($event.target.value)"
          *ngIf="isEditComplete == false" maxlength="60">
        <input type="text" id="inp" [ngClass]="{'onfocus': isfocus == true, 'blury': iseditfocus == true}" class="form-control"
          placeholder="+ Create new tag" name="name" autocomplete="off" (focus)="focusFunction('create')" *ngIf="isEditComplete == true"
          disabled>
        <div class="d-flex justify-content-end category-btn-group" [ngClass]="{'showbtns': isfocus == true}">
          <button type="submit" class="btn" (click)="close('create')">
            <span class="closemark">
              <div class="closemark_stem"></div>
              <div class="closemark_kick"></div>
            </span>
          </button>
          <button type="submit" class="btn" (click)="createTagWerkz(tagWerkz)" [disabled]=" tagWerkz.name == '' || tagWerkz.name.length < 0 || tagWerkz.name.length == 0 ">
            <span class="checkmark">
              <div class="checkmark_stem"></div>
              <div class="checkmark_kick"></div>
            </span>
          </button>
        </div>
        <!-- </form> -->
      </div>
      <div class="col-md-4 cagetory-item" *ngFor="let tag of tagsWerkzList; let i = index">
        <!-- <form novalidate #tagWerkz="ngForm"> -->
        <div *ngIf="isEditComplete == false" class="form-check">
          <label class="form-check-label cat-label d-flex flex-column justify-content-center" [ngClass]="{'selected': ischecked == tag._id, 'blury': isfocus == true}">
            <div>
              <div class="label-checked"></div>
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="tag._id" (click)="somethingChanged(tag._id, tag.name)"
                value="{{tag.name}}"> {{tag.name}}
            </div>
          </label>
        </div>
        <div *ngIf="isEditComplete == true" class="editcategory-item">
          <div class="d-flex justify-content-between">
            <div class="limit-word limit-{{tag._id}}">
              <span>{{wordLength}}/60characters</span>
            </div>
          </div>
          <input type="text" id="tag._id" class="form-control" [ngClass]="{'onfocus': editValue == tag._id, 'blury': (iseditfocus == true && editValue != tag._id)}"
            name="name" [(ngModel)]="tag.name" autocomplete="off" required #name="ngModel" (focus)="focusFunction('edit',tag._id, $event.target.value)"
            (blur)="blurMethod($event, 'create')" (input)="changeMethod($event.target.value)" maxlength="60">
          <div class="d-flex justify-content-end category-btn-group" [ngClass]="{'showbtns': editValue == tag._id}">
            <button type="submit" class="btn" (click)="close('edit', tag._id)">
              <span class="closemark">
                <div class="closemark_stem"></div>
                <div class="closemark_kick"></div>
              </span>
            </button>
            <button type="submit" class="btn" (click)="updateTagWerkz(tag)" [disabled]="tag.name.length == 0">
              <span class="checkmark">
                <div class="checkmark_stem"></div>
                <div class="checkmark_kick"></div>
              </span>
            </button>
          </div>
        </div>
        <!-- </form> -->
      </div>
    </div>
  </div>
  <!-- <div  class="d-flex justify-content-center load-more">
      <button class="btn" (click)="showMore()">load more</button>
    </div> -->
</div>
<!-- For test list create and Edit End -->

<!-- For Concept Create Start -->
<div *ngIf="conceptCreate">
  <div class="w-100  h-100">
    <div class="w-100 d-flex mt-1 h-100" [ngClass]="{'justify-content-center': classCreate == true, 'align-items-center':classCreate == true}"
      id="conceptWrapper">
      <div class="pl-3 p-0 form-side">
        <div class=" d-flex flex-column w-100" [ngClass]="{'align-items-center': classCreate == true}">
          <div class="createForm-wrap">
            <div class="mr-auto p-2 pl-0 pb-0" (click)="backToTestWerkz()">
              <div class="back-to pt-2 d-flex">
                <i class="fa fa-angle-left"></i>
                <p>Back</p>
              </div>
            </div>
            <h3 class="assessment-title">Creating Concept</h3>
            <div class="form-group  name-input-wrapper col-11 pr-0 pl-0">
              <div class="d-flex justify-content-between">
                <label class="form-title input-label" for="address"> Concept name </label>
                <div class="limit-type-wordcount">
                  <span>{{wordLength}}/60characters</span>
                </div>
              </div>

              <input type="text" class="form-control selfAssessmentName col-12" autocomplete="off" placeholder="Type Concept name here"
                name="name" maxlength="60" [(ngModel)]="concept.name" (focus)="focusMethod($event,'name', $event.target.value)"
                (blur)="blurMethod($event,'name')" (input)="changeMethod($event.target.value)" required #name="ngModel">
              <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                <div [hidden]="!name.errors.required">
                  Name is required!
                </div>
              </div>
            </div>
            <div class="inform-wrapper p-0">
              <p class="icon"> <span class="icon">i</span> </p> <span class="inform-text">Some information about how do
                PD and QUESTION
                create with multiple lines</span>
            </div>
            <!-- <ng-template #content let-modal>
                <div class="modal-header">
                  <h4 class="modal-title">Modal title</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>One fine body&hellip;</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                </div>
              </ng-template>  -->
              <!-- Thiha Soe UI Start -->
            <!-- <div *ngFor="let pd of concepts; let i = index">
              <div class="pd-wrapper">
                <div class="pd-header">
                  <span>{{i+1}}</span>
                  <medium-editor dragula="COLUMNS" [(editorModel)]="pd.pdName" #pdtag [editorOptions]="{'toolbar': {'buttons': ['bold', 'italic', 'underline', 'image']}}"
                    (input)="onInput(imgModal,$event,pdtag,'pd')"></medium-editor>
                </div>
                <div class="pd-body">
                  <div *ngFor="let question of pd.question; let j = index">
                    <span>{{j+1}}</span>

                    <medium-editor [(editorModel)]="question.questionName" #questiontag (click)="onClickEditor(question)"
                      [editorPlaceholder]="placeholderVar" [editorOptions]=toolBarOptions (input)="onInput(imgModal,$event,questiontag,'question',j)"></medium-editor>
                    <button (click)="addQuestion(i)">Add question</button>
                    <div *ngFor="let answer of question.answers;let k = index">
                      <div class="answer-wrapper">
                        <medium-editor [(editorModel)]="answer.answer" #answertag (click)="onClickEditor(answer)"
                          [editorPlaceholder]="placeholderVar" [editorOptions]=toolBarOptions (input)="onInput(imgModal,$event,answertag,'answer',j,k)"></medium-editor>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
               <!-- Thiha Soe UI End -->

            <!-- test markdown -->
            <!-- <fieldset>
              <button class="fontStyle" onclick="document.execCommand('italic',false,null);" title="Italicize Highlighted Text"><i>I</i>
              </button>
              <button class="fontStyle" onclick="document.execCommand( 'bold',false,null);" title="Bold Highlighted Text"><b>B</b>
              </button>
              <button class="fontStyle" onclick="document.execCommand( 'insertorderedlist',false,null);">List</button>
              <button type="button" class="btn btn-submit" (click)=openImgModal(imgModal)>Image Upload</button>
              <button type="button" (click)="turn()">
                turn
              </button>
            </fieldset> -->
            <!-- <div class="d-flex">
              
            </div> -->
            <!-- <button (click)="turn()">Turn</button> -->

               <!-- Wai Yan UI Start -->
            <!-- <div *ngFor="let pd of pdLists; let i = index"> -->
            <div *ngFor="let pd of performanceDemands; let i = index">
              <div class="d-flex flex-column pd-blog mb-2">
                <!-- for header start -->
                <div class="pd-name-wrapper d-flex container align-items-center">
                  <div *ngIf="this.focusPlace == ('pd'+i)" class="pd-icon-wrapper align-items-center d-flex">
                    <img src="../../../assets/images/thunder-flash-w.png" alt="" class="flex-icon">
                    <span class="pd-No">{{i+1}}</span>
                  </div>
                  <div *ngIf="this.focusPlace != ('pd'+i)" class="pd-icon-wrapper bg-white align-items-center d-flex">
                    <img src="../../../assets/images/un-thunder-flash-w.png" alt="" class="flex-icon">
                    <span class="pd-No" style="color:#64707d;">{{i+1}}</span>
                  </div>
                  <div class="pd-name-input-wrapper"> 
                    <div class="answer-tooltip-wrap" *ngIf="this.focusPlace == ('pd'+i)">
                      <button (click)="openImgModal(imgModal,'multiple')"><img src="assets/img/text-edit-image.png"></button>
                      <div class="answer-carret-box"></div>
                    </div>
                    <!-- <div id="pd-{{i}}" contenteditable="true" (focus)="onFocus('pd',i,'','')"></div> -->
                    <input type="text" name="" id="" placeholder="type performance demand name here" class="w-100 pd-name" (focus)="onFocus('pd',i,'','')">
                    <!-- <textarea name="" id="" class="w-100 pd-name" (input)="autoResize($event)"></textarea> -->
                  </div>
                </div> 
              <!-- for header End -->

                <div class="pd-blog-wrapper">
                  <div *ngFor="let question of pd.question; let j = index" class="w-100 question-section d-flex">
                    <div *ngIf="this.focusPlace == ('q'+i+j)" class="check-icon-wrapper align-items-center mt-3 d-flex">
                      <img src="../../../assets/images/checked-rect.png" alt="" class="flex-icon">
                      <span class="pd-No">{{j+1}}</span>
                    </div>  
                    <div *ngIf="this.focusPlace != ('q'+i+j)" class="check-icon-wrapper bg-white align-items-center mt-3 d-flex">
                      <img src="../../../assets/images/check-rect.png" alt="" class="flex-icon">
                      <span class="pd-No" style="color:#64707d;">{{j+1}}</span>
                    </div>  
                    <div class="pd-name-input-wrapper question-wrap d-flex flex-column">
                      <div class="tooltip-wrap" *ngIf="this.focusPlace == ('q'+i+j)">
                        <button onclick="document.execCommand('bold',false,null);"><img src="assets/img/text-edit-bold.png"></button>
                        <button onclick="document.execCommand( 'italic',false,null);"><img src="assets/img/text-edit-italic.png"></button>
                        <button onclick="document.execCommand( 'insertorderedlist',false,null);">L</button>
                        <button (click)="openImgModal(imgModal,'multiple')"><img src="assets/img/text-edit-image.png"></button>
                         <div class="carret-box"></div>
                      </div>
                      <div id="q-{{i}}{{j}}" class="mt-3 question" contenteditable="true" data-placeholder="Type question here" (focus)="onFocus('question',i,j,'')"></div>
                      <!-- <textarea name="" id="" class="w-100 question-name" placeholder="type question here" (input)="autoResize($event)"></textarea> -->
                      <div class="" style="padding-top: 20px;" *ngFor="let answer of question.answers;let index = index;">  
                        <!-- <label class="question-checkbox">
                            <input type="checkbox" checked="checked">
                            <span class="answer-checkmark"></span>
                          </label> -->
                          <!-- <img src="{{ }}" alt=""> -->
                          <div *ngIf="answer.imgUrl.length > 0" >
                              <img src="{{answer.imgUrl}}" alt="" class="answer-img">
                          </div> 
                          <div class="d-flex flex-column" style="position:relative;">
                                <div class="answer-tooltip-wrap" *ngIf="answer.showTooltip" >
                                <!-- <div class="answer-tooltip-wrap" *ngIf="this.answerTootips == (i + j + index + 'a')" > -->
                                    <button (click)="answerOpenImgModal(imgModal,'single',i,j,index)"><img src="assets/img/text-edit-image.png"></button>
                                      <div class="answer-carret-box"></div>
                                  </div>
                                <div class="d-flex">
                                  <div *ngIf="index == 0 && answer.correctness == 100" (click) = "trueAnswer(i,j,index) "><img src="../../../assets/img/answerIcon/aChoice_a.svg" alt=""></div>
                                  <div *ngIf="index == 0 && answer.correctness == 0" (click) = "trueAnswer(i,j,index) "><img src="../../../assets/img/answerIcon/aChoice.svg" alt=""></div>
        
                                  <div *ngIf="index == 1 && answer.correctness == 100" (click) = "trueAnswer(i,j,index) "><img src="../../../assets/img/answerIcon/b_choice_a.png" alt="" style="width:20px;height:20px;"></div>
                                  <div *ngIf="index == 1 && answer.correctness == 0" (click) = "trueAnswer(i,j,index) "><img src="../../../assets/img/answerIcon/bChoice.svg" alt=""></div>
        
                                  <div *ngIf="index == 2 && answer.correctness == 100" (click) = "trueAnswer(i,j,index) "><img src="../../../assets/img/answerIcon/cChoice_a.svg" alt=""></div>
                                  <div *ngIf="index == 2 && answer.correctness == 0" (click) = "trueAnswer(i,j,index) "><img src="../../../assets/img/answerIcon/cChoice.svg" alt=""></div>
        
                                  <div *ngIf="index == 3 && answer.correctness == 100" (click) = "trueAnswer(i,j,index) "><img src="../../../assets/img/answerIcon/dChoice_a.svg" alt=""></div>
                                  <div *ngIf="index == 3 && answer.correctness == 0" (click) = " trueAnswer(i,j,index)"><img src="../../../assets/img/answerIcon/dChoice.svg" alt=""></div>
        
                                  <div *ngIf="index == 4 && answer.correctness == 100" (click) = "trueAnswer(i,j,index) "><img src="../../../assets/img/answerIcon/eChoice_a.svg" alt=""></div>
                                  <div *ngIf="index == 4 && answer.correctness == 0" (click) = "trueAnswer(i,j,index) "><img src="../../../assets/img/answerIcon/eChoice.svg" alt=""></div>
        
                                  <div *ngIf="index == 5 && answer.correctness == 100" (click) = " trueAnswer(i,j,index)"><img src="../../../assets/img/answerIcon/fChoice_a.svg" alt=""></div>
                                  <div *ngIf="index == 5 && answer.correctness == 0" (click) = " trueAnswer(i,j,index)"><img src="../../../assets/img/answerIcon/fChoice.svg" alt=""></div>
        
                                  <div *ngIf="index == 6 && answer.correctness == 100" (click) = "trueAnswer(i,j,index) "><img src="../../../assets/img/answerIcon/gChoice_a.svg" alt=""></div>
                                  <div *ngIf="index == 6 && answer.correctness == 0" (click) = "trueAnswer(i,j,index) "><img src="../../../assets/img/answerIcon/gChoice.svg" alt=""></div>
        
                                  <div *ngIf="index == 7 && answer.correctness == 100" (click) = "trueAnswer(i,j,index) "><img src="../../../assets/img/answerIcon/hChoice_a.svg" alt=""></div>
                                  <div *ngIf="index == 7 && answer.correctness == 0" (click) = " trueAnswer(i,j,index)"><img src="../../../assets/img/answerIcon/hChoice.svg" alt=""></div>
                                  <input type="text" class="bg-white w-100 answer-input" placeholder="choice"  (focusout) = "hideTooltip('hideTooltip',i,j,index)" (focus)="onFocus('answer',i,j,index)" (keydown)="onKeydown($event,i ,j)">
                                </div>
                          </div>
                         
                      </div>
                    </div>
                  </div>
                </div>
                <div class="add-new-question">
                  <p (click)="addQuestion(i)" class="mb-0">Add new question</p>
                </div>
              </div>
            </div> 
              <!-- Wai Yan UI End -->

            <div class="d-flex pl-3 mt-3">
              <p  (click)="addPd()" class="plus-sign d-flex justify-content-center align-items-center">
                <span>+</span>
              </p>
              <p (click)="addPd()" class="mb-0 mt-1 pl-3 new-pd-text">Add new performance demand</p>
            </div>

          </div>
        </div>
      </div>
      <!-- Note Setting Max-width = 256px -->
      <div class="col-4 p-0 setting-sidebar" *ngIf="showSettingSidebar" [ngClass]="{'greater-than': greterThan,'less-than': lessThan,'forElse': forElse }">
        <div class="pt-2 d-flex flex-column">
          <div class="d-flex p-3">
            <div class="pd-icon-wrapper align-items-center d-flex">
              <img src="../../../assets/images/thunder-flash-w.png" alt="" class="flex-icon">
              <span class="pd-No">{{this.focusType.no + 1}}</span>
            </div>
            <p class="mr-auto pl-3 pd-setting" *ngIf="focusType.type == 'pd'"> PD Setting  </p> 
            <p class="mr-auto pl-3 pd-setting" *ngIf="focusType.type == 'question' || focusType.type == 'answer'"> Question Setting </p> 
            <p  (click)="closeSetting()" class="close-sign d-flex justify-content-center align-items-center">
              <span><img src="../../../assets/img/settingclose/settings-close.png" alt=""></span>
            </p>
          </div>
          <div class="p-3">
            <div *ngIf="this.focusType.type == 'pd'" class="d-flex justify-content-between w-100" style="border-bottom: 1px solid #edeff0;">
              <p class="setting-text">Description</p>
              <div class="toggle-wrap" (click)="this.isGlobal = !isGlobal">
                <label class="switch">
                  <input type="checkbox" (click)="isGlobal = !this.isGlobal" [checked]="isGlobal">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
            <div *ngIf="focusType.type == 'question' || focusType.type == 'answer'" class="d-flex justify-content-between w-100" style="border-bottom: 1px solid #edeff0;">
              <p class="setting-text">Pick multiple</p>
              <div class="toggle-wrap">
                <label class="switch">
                  <input type="checkbox"  (click)="pickMultipleAns(this.focusType)" [checked]="performanceDemands[focusType.parentIdx].question[focusType.no].pickMultiple">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
            <div class="d-flex justify-content-between mt-3 w-100" style="border-bottom: 1px solid #edeff0;">
              <div class="d-flex align-items-center">
                <p><i class="fa fa-angle-right"></i></p> 
                <p class="pl-2 setting-text"> Video</p> 
              </div>
              <p class="plus-sign-video d-flex justify-content-center align-items-center">
                <span>+</span>
              </p>
            </div>
            <div *ngIf="this.focusType.type == 'pd'" class="d-flex justify-content-between mt-3 w-100" style="border-bottom: 1px solid #edeff0;">
              <p class="setting-text">Randomize count</p>  
              <input type="text" class="randomize-count" placeholder="0">
            </div>
            <div *ngIf="focusType.type == 'question' || focusType.type == 'answer'" class="d-flex justify-content-between mt-3 w-100" style="border-bottom: 1px solid #edeff0;">
              <p class="setting-text">Duplicate question</p>  
              <input type="text" class="randomize-count" placeholder="0">
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center delete-btnWrap">
          <button *ngIf="focusType.type == 'pd' && performanceDemands?.length>1" (click)="delete(focusType)">Delete</button>
          <button *ngIf="(focusType.type == 'question' || focusType.type == 'answer') && performanceDemands[focusType.parentIdx].question.length>1" (click)="delete(focusType)">Delete</button>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-end form-footer">
      <button type="button" class="btn btn-cancel" (click)="cancelConcept()">Cancel</button>
      <button type="button" class="btn btn-submit" (click)="openImgModal(imgModal,'multiple')">Image Upload</button>
      <!-- <button type="button" class="btn btn-submit" (click)="openImgModal(imgModal,'single')">SingleImage Upload</button> -->
      <button *ngIf="isUpdate == false" type="button" class="btn btn-submit">Create</button>
      <button *ngIf="isUpdate == true" type="button" class="btn btn-submit">Update</button>
    </div>
  </div>

  <!-- For Concept Create End -->
  <block-ui message="Deafult Message"></block-ui>

  <!-- modal for image upload -->
  <ng-template #imgModal let-modal>
    <!-- <div class="modal-header">
    
    </div> -->
    <div class="modal-body img_upload" *ngIf="contentArr.length == 0">
      <div class="d-flex justify-content-center drop_zone">
        <div class="d-flex flex-column drop_zone_middle">
          <img src="../../../assets/img/image-drop.png" class="img_drop">
          <label class="drop_drap_txt">Drag & drop</label>
          <span class="drop_sp">image anywhere or</span>
          <div class="upload-btn-wrapper">
            <button class="btn btn-submit uploadImgBtn">Upload image</button>
            <input type="file" name="imgFile" accept="image/x-png,image/gif,image/jpeg" (change)="onloadImg($event)" />
          </div>
        </div>
      </div>

    </div>
    <div class="modal-body eimg_upload" *ngIf="contentArr.length != 0">
      <div class="d-flex drop_zone_middle_eixtData">
        <img src="../../../assets/img/image-drop.png" class="eimg_drop">
        <div class="d-flex  flex-column lblGp">
          <label class="edrop_drap_txt">Drag & drop</label>
          <span class="edrop_sp">image anywhere or</span>
        </div>
        <div class="upload-btn-wrapper">
          <button class="btn btn-submit uploadImgBtn exit-img">Upload image</button>
          <input type="file" name="imgFile" *ngIf="modelType == 'multiple'" accept="image/x-png,image/gif,image/jpeg" (change)="onloadImg($event)" multiple/>
          <input type="file" *ngIf="modelType == 'single'" name="imgFile" accept="image/x-png,image/gif,image/jpeg" (change)="onloadImg($event)" single/>
        </div>
        
      </div>
      <div class="d-flex flex-column gallery">
        <p class="g_title">Image gallery</p>
        <div class="row imgGp">
          <div class="col-md-2 imgDiv" *ngFor="let img of ImgArr;let i=index;">
            <div class="inner-imgDiv" (click)="onslectedImgDiv(i,img)" id="img-{{i}}" (mouseenter)="onImgMouseEvent($event,i)"
            (mouseleave)="onImgMouseEvent($event,i)">
              <div id="cricle{{i}}"><i _ngcontent-c1="" class="fa fa-check" id="check{{i}}"></i></div>
              <div (click)="onremoveClick(img._id)"><i _ngcontent-c1="" class="fa fa-trash" id="trash{{i}}"></i></div>
              <img src={{img.url}} class="gShowImag">
              <div class="Imgoverlay" id="Imgoverlay{{i}}"></div>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="modal-footer">
      <a class="cancelbtn" (click)="cancelModal()">Cancel</a>
      <button type="button" class="btn btn-submit insertBtn" *ngIf="selectedImgArr.length !=0" (click)="insertImg()">Insert</button>
      <button type="button" class="btn btn-submit insertBtn" *ngIf="selectedImgArr.length ==0" disabled=true>Insert</button>
    </div>
  </ng-template>