.modal-body {
	min-height: 450px;
}

.modal-body ul li {
	list-style: none;
}

.fl-rt{
	float: left;
}

.fields-mr {
	margin: 15px auto;
}
.fields-mr label{
	width: 30%;
	vertical-align: top;
} 

.back-modal {
	cursor: pointer;
}

.makeup-group input {
	margin-right: 15px; 
}
.makeup-group input[type=number] {
	width: 10%;
}