<div *ngIf="goBackCat" (scroll)="onScroll($event)">
	<div class="inner-wrapper">
		<header>
			<div class="d-flex d-wrapper" [ngClass]="{'stickywrap' : navIsFixed == true}">
				<div class="mr-auto p-2 pl-0 pb-0">
					<div class="back-modal" (click)="back()">
				      <i class="fa fa-angle-left"></i>
				      <p>Pick Category</p>
				    </div>
			    </div>
			    <div class="p-2">
					<div class="d-flex flex-row courseplan-info">
						<p>#{{checkedName}}</p><span class="sticky-dot">&#183;</span>		
						<h5>Course plan</h5>
					</div>
				</div>
				<div class="ml-auto">
					<button type="button" class="btn sticky-cancel" (click)="cancel()">Cancel</button>
				</div>
		    </div>
		</header>
		
	</div>
	<form #parentForm="ngForm" novalidate>
		<div class="sticky-menu" [ngClass]="{'sticky' : navIsFixed == true}">
		    <div class="d-flex">
				<div class="mr-auto p-2 pl-0 pb-0">
					<div class="back-modal" (click)="back()">
				      <i class="fa fa-angle-left"></i>
				      <p>Pick Category</p>
				    </div>
			    </div>
			    <div class="p-2">
					<div class="d-flex flex-row courseplan-info">
						<p>#{{checkedName}}</p><span class="sticky-dot">&#183;</span>		
						<h5>Course plan</h5>
					</div>
				</div>
				<div class="ml-auto">
					<button type="button" class="btn sticky-cancel" (click)="cancel()">Cancel</button>
				</div>
		  	</div>
		</div>
		<div class="progress-box-wrap">
			<ol class="progress" data-steps="8">
			    <li id="step1">
			        <span class="step">
			        	<span>1</span>
			        </span>
			    </li>
			    <li id="step2">
			        <span class="step">
			        	<span>2</span>
			        </span>
			    </li>
			    <li id="step3">
			        <span class="step">
			        	<span>3</span>
			        </span>
			    </li>
			    <li id="step4">
			        <span class="step">
			        	<span>4</span>
			        </span>
			    </li>
			    <li id="step5">
			        <span class="step">
			        	<span>5</span>
			        </span>
			    </li>
			    <li id="step6">
			        <span class="step">
			        	<span>6</span>
			        </span>
			    </li>
			    <li id="step7">
			        <span class="step">
			        	<span>7</span>
			        </span>
			    </li>
			</ol>
		</div>
		<div *ngIf="step1">
			<form class="form-wrap" #childForm1="ngForm" novalidate>
				<div class="inside-data-wrapper">
					<div class="col-md-12">
						<p class="step-font">Step 1</p>
						<h5 class="all-title-font text-font-align">Plan information</h5>
					</div>
					<div class="display-style" style="padding-top: 40px;">
						<div class="col-md-6">
							<div>
								<div class="d-flex justify-content-between">
									<label for="course_name" class="all-title-font">Plan name</label>
									<div class="limit-wordcount">
										<span>{{wordLength}}/60characters</span>
									</div>
								</div>
								<input class="form-control br-bshadow-none all-left-box-10" type="text" [(ngModel)]='formField.name' (focus)="focusMethod($event,'name', $event.target.value)" (blur)="blurMethod($event,'name')" maxlength="60" (input)="changeMethod($event.target.value)" name="coursename" placeholder="Type plan name here" autocomplete="off"#cpName="ngModel" required>
								<div *ngIf="cpName.invalid && (cpName.dirty || cpName.touched)" class="alert alert-danger alert-m-right">
							        <div [hidden]="!cpName.errors.required">
							          Course plan name is required!
							        </div>
							    </div>
								<hr class="limit-hr-length">
							</div>
							<div class="mr-top">
								<label for="seat" class="all-title-font">Seats</label>
								<input type="number" placeholder="0" class="form-control br-bshadow-none all-left-box-10" (keypress)="numberOnly($event, 'seats')" [(ngModel)]='formField.seats' min="0" name="seats" #cpSeat="ngModel"> 
								<!-- <div *ngIf="cpSeat.invalid && (cpSeat.dirty || cpSeat.touched)" class="alert alert-danger alert-m-right">
							        <div [hidden]="!cpSeat.errors.required">
							          Number of seates is required!
							        </div>
							    </div> -->
								<hr class="limit-hr-length">
							</div> 
						</div>
						<div class="col-md-6">
							<div>
								<div class="d-flex justify-content-between">
									<label style="padding-left: 10px;" for="desc" class="all-title-font">Description</label>
									<div class="limit-wordcount1">
										<span>{{wordLength}}/280characters</span>
									</div>
								</div>
								<textarea class="form-control br-bshadow-none" rows="5" [(ngModel)]='formField.description' (focus)="focusMethod($event,'msg', $event.target.value)" (blur)="blurMethod($event,'msg')" maxlength="280" (input)="changeMethod($event.target.value)" name="description" #cpDesc="ngModel" placeholder="Type message here"></textarea>
								<!-- <div *ngIf="cpDesc.invalid && (cpDesc.dirty || cpDesc.touched)" class="alert alert-danger">
							        <div [hidden]="!cpDesc.errors.required">
							          Description is required!
							        </div>
							    </div> -->
								<hr class="limit-hr-length">
							</div>
						</div> 
					</div>
				</div>
				<div class="button-wrapper">
					<button type="button" class="btn sticky-create" [disabled]="!childForm1.valid" (click)="continueStep('step1', childForm1.value)">Continue</button>
					<button type="button" [hidden]="step1" class="back-btn" (click)="backStep()"> < Back</button>
				</div>
			</form>
		</div>
		<div *ngIf="step2">
			<form class="form-wrap" #childForm2="ngForm" novalidate>
				<div class="inside-data-wrapper">
					<div class="col-md-12">
						<p class="step-font">Step 2</p>
						<div class="display-style">
							<h5 class="all-title-font title-br-rt">Makeup policy</h5>
							<div class="radio-pos">
								<label class="switch">
									<input type="checkbox" [(ngModel)]='formField.makeupPolicy.allowMakeupPass' name="allowmakeup" #makeupcheck="ngModel">
									<span class="slider round" [ngClass]="{'activeRadio': formField.makeupPolicy.allowMakeupPass == true}"></span>
								</label>
							</div>
						</div>
						<div *ngIf="formField.makeupPolicy.allowMakeupPass != true" style="padding-top: 40px;">
							<p class="option-text">Switch <span>on</span><br>to add Makeup class.</p>
						</div>
						<div *ngIf="formField.makeupPolicy.allowMakeupPass == true">
							<div class="display-style" style="padding-top: 40px;">
								<div class="col-md-6" style="padding: 0;">
									<div>
										<label class="all-title-font"> Validation duration after class </label>
										<input type="number" class="form-control all-left-box-10 br-bshadow-none" (keypress)="numberOnly($event, 'makeupDuration')" [(ngModel)]='formField.makeupPolicy.maxDayPerPass' min="0" id="makeupass" name="makeuppass" #makeuppass="ngModel" placeholder="0 day">
										<!-- <div *ngIf="makeuppass.invalid && (makeuppass.dirty || makeuppass.touched)" class="alert alert-danger alert-m-right">
									        <div [hidden]="!makeuppass.errors.required">
									          Validation duration after class is required!
									        </div>
									    </div> -->
										<hr class="limit-hr-length">
									</div>
								</div>
								<div class="col-md-6" style="padding-right: 0;">
									<div>
										<label class="all-title-font" style="padding-left: 20px;"> Number of days per user </label>
										<input type="number" class="form-control br-bshadow-none all-m-left10" (keypress)="numberOnly($event, 'makeupUser')" [(ngModel)]="formField.makeupPolicy.maxPassPerUser" min="0" id="makeupuser" name="makeupuser" placeholder="0 day" #makeupuser="ngModel" >
										<!-- <div *ngIf="makeupuser.invalid && (makeupuser.dirty || makeupuser.touched)" class="alert alert-danger alert-m-left">
									        <div [hidden]="!makeupuser.errors.required">
									          Number of days per user is required!
									        </div>
									    </div> -->
										<hr class="limit-hr-length all-m-left10">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="button-wrapper">
					<button type="button" class="btn sticky-create" [disabled]="!childForm2.valid" (click)="continueStep('step2',childForm2.value)">Continue</button>
					<button type="button" [hidden]="!step2" class="back-modal back-to" (click)="backStep('step2')"> < Back</button>
				</div>
			</form>
		</div>	
		<div *ngIf="step3">
			<form #childForm3="ngForm" novalidate>
				<div class="inside-data-wrapper">
					<div class="col-md-12">
						<p class="step-font">Step 3</p>
						<h5 class="all-title-font text-font-align">Payment policy</h5>
					</div>
					<div class="display-style" style="padding-top: 40px;">
						<div class="col-md-6">
							<div>
								<label class="all-title-font"> Course fee </label>
								<div style="margin-left: -10px;">
									<label class="sr-only" for="inlineFormInputGroupcourseFee">0</label>
									<div class="input-group input-group-bg mb-2 mr-sm-2">
									    <div class="input-group-prepend">
									      <div class="input-group-text cfee-bg">S$</div>
									    </div>
									    <input type="number" class="form-control" id="inlineFormInputGroupcourseFee" (keypress)="numberOnly($event, 'courseFee')" (click)='toKnowFocus("cFee")' [(ngModel)]="formField.paymentPolicy.courseFee" (mouseleave)="leaveHover($event)" (mouseenter)="enterHover($event)" min="0" placeholder="0" name="courseFee" #courseFee="ngModel" >			    
									</div>
								</div>
								<!-- <div *ngIf="courseFee.invalid && (courseFee.dirty || courseFee.touched)" class="alert alert-danger alert-m-right">
							        <div [hidden]="!courseFee.errors.required">
							          Course fee is required!
							        </div>
							    </div> -->
								<hr class="limit-hr-100">
							</div>
						</div>
					</div>
				</div>
				<div class="button-wrapper">
					<button type="button" class="btn sticky-create" [disabled]="!childForm3.valid" (click)="continueStep('step3',childForm3.value)">Continue</button>
					<button type="button" [hidden]="!step3" class="back-modal back-to" (click)="backStep('step3')"> < Back</button>
				</div>
			</form>
		</div>
		<div *ngIf="step4">
			<form #childForm4="ngForm" novalidate>
				<div class="inside-data-wrapper">
					<div class="col-md-12">
						<p class="step-font">Step 4</p>
						<h5 class="all-title-font text-font-align">Lesson</h5>
					</div>
					<div class="display-style" style="padding-top: 40px;">
						<div class="col-md-6">
							<label class="all-title-font"> Duration </label>
							<input type="number" placeholder="{{readyOnlyRange}}" class="form-control br-bshadow-none hoverReadonly all-left-box-10" [(ngModel)]='formField.lesson.duration' min="1" id="duration" name="lesson_duration" readonly #durationLesson="ngModel" (click)="durationProgress($event)" style="background: none;">
							<div class="bg-box duration-progress">
								<div id="rectangle"></div>
								<div class="gap-box">
									<label>
										<div class="col-md-4 max-range">{{rangeHr}} hr</div>
										<input class="max-range-box" type="range" id="hrDuration" name="pointsHr" min="0" max="24" (input)="ChangedRangeValue($event.target.value, 'hr')" [(ngModel)]="rangeHr">
									</label>
								</div>
								<div class="gap-range-min">
									<label>
										<div class="col-md-4 min-range">{{rangeMin}} min</div>
										<input class="min-range-box" type="range" id='minDuration' name="pointsMin" min="0" max="59" step="1" (input)="ChangedRangeValue($event.target.value, 'min')" [(ngModel)]="rangeMin" [disabled]="overDurationHr">	
										 <p *ngIf="overDurationHr" class="alert-duration">Lesson Duration has only 24 hr, so can not choose minute. </p>				
									</label>
								</div>
							</div>
							<hr class="limit-hr-length">	
						</div>
						<!-- <div class="col-md-6" style="padding-right: 0;">
							<div>
								<label class="all-title-font" style="padding-left: 10px;">Holiday Calendar</label>
								<select class="form-control br-bshadow-none" name="holidayCalendar" [(ngModel)]="formField.holidayCalendarId" style="font-size: 16px; height: auto;">
									<option disabled="true" [value]="'disabledHoliday'">None</option>
									<option *ngFor="let holidayCalendar of holidayCalendarLists" [value]="holidayCalendar._id">{{holidayCalendar.name}}</option>
								</select>	
								 <i class="fa fa-chevron-down down-arrow2"></i>	
							 	<hr class="limit-hr-length">	
							</div> 		
						</div> -->
						<div class="col-md-6" style="padding-right: 0;">
							<div>
								<label class="all-title-font" style="padding-left: 10px;">Holiday Calendar</label>
								<div>
									 <div class="form-group has-feedback" (click)="holidayDropdown()">
								    	<input class="form-control br-bshadow-none"  name="holiday"  type="text" [(ngModel)]="formField.holidayCalendarName" placeholder="None" autocomplete="off"><span class="fa fa-angle-down holiday-downicon"></span>
								     </div>
								     <div class="dropdown-wrap">
							          <!-- <div *ngIf="locationMenuShow == false" class="carret"></div> -->
							          <ul class="holiday-dropdown">
							            <li *ngFor="let holidayCalendar of holidayCalendarLists" (click)="chooseHoliday(holidayCalendar)">
							              <span>{{holidayCalendar.name}}</span>
							            </li>
							          </ul>
							        </div>
								</div>
							</div>
							<hr class="limit-hr-length">
						</div>
					</div>
				</div>
				<div class="button-wrapper">
					<!-- <button type="button" class="btn sticky-create" [disabled]="timeInminutes == undefined || timeInminutes == 0 || formField.holidayCalendarId == 'disabledHoliday'" (click)="continueStep('step4', childForm4.value)">Continue</button> -->
					<button type="button" class="btn sticky-create" [disabled]="timeInminutes == undefined || timeInminutes == 0 " (click)="continueStep('step4', childForm4.value)">Continue</button>
					<button type="button" [hidden]="!step4" class="back-modal back-to" (click)="backStep('step4')"> < Back</button>
				</div>
			</form>
		</div>	
		<div *ngIf="step5">
			<form #childForm5="ngForm" novalidate>
				<div class="inside-data-wrapper">
					<div class="col-md-12">
						<p class="step-font">Step 5</p>
						<div class="display-style">
							<h5 class="all-title-font title-br-rt">QuizWerkz Book</h5>
							<div class="radio-pos-book">
								<label class="switch">
									<input type="checkbox" [(ngModel)]='formField.allowPagewerkz' id="allowpw" name="allowpagewerkz">
									<span class="slider round" [ngClass]="{'activeRadio': formField.allowPagewerkz == true}"></span>
								</label> 
							</div>
						</div>
						<div *ngIf="formField.allowPagewerkz != true" style="padding-top: 40px;">
							<p class="option-text">Switch <span>on</span><br>to add QuizWerkz book.</p>
						</div>
					</div>
					<div class="col-md-12" *ngIf="formField.allowPagewerkz == true" style="padding-top: 40px;padding-left: 6px;">
						<drag-scroll class="drag-wrapper">
				    		<div *ngFor="let pdf of pdfList; let i=index;" class="book-range">
				    			<label for="{{pdf._id}}" class="book-label" [ngClass]="{'drag-active-bg': pdfId.indexOf(pdf._id) != -1}">
									<img drag-scroll-item src="{{pdf.cover}}" width="125" height="180" style="margin-bottom: 10px;">
									<input type="checkbox" id="{{pdf._id}}" value="{{pdf._id}}" (click)="ChangeValue(pdf._id,$event, 'pdf')" name="pdf" [checked]="pdfId.indexOf(pdf._id) != -1">
					    			<div class="book-name">{{pdf.name}}</div>
								</label>
					    	</div>
						</drag-scroll>	
					</div>
				</div>
				<!-- <hr class="limit-hr-100 mr-top-20"> -->
				<div class="button-wrapper">
					<!-- <button type="button" class="btn sticky-create" [disabled]="pdfId?.length == 0 || formField.allowPagewerkz != true" (click)="continueStep('step5', childForm5.value)">Continue</button> -->
					<button type="button" class="btn sticky-create"  (click)="continueStep('step5', childForm5.value)">Continue</button>
					<button type="button" [hidden]="!step5" class="back-modal back-to" (click)="backStep('step5')"> < Back</button>
					<span class="show-count">{{pdfId.length}} books picked</span>
				</div>
			</form>
		</div>
		<div *ngIf="step6">
			<form #childForm6="ngForm" novalidate>
				<div *ngIf="showSearchAPG" class="inside-data-wrapper"> 
					<div class="col-md-12">
						<p class="step-font">Step 6</p>
						<h3 class="all-title-font" style="float: left;">APG</h3><span class="sticky-dot-large">&#183;</span><p class="small-caption">Access Point Group</p>	
					</div>
					<div class="custom-dropdown-width input-group col-md-12 all-title-font">
						<ng-template #rt let-r="result" let-t="term">
						  	<div class="circle1 plus"></div>
						  	<ngb-highlight [result]="r.name" [term]="t" ></ngb-highlight>
						  	<div style="padding-left: 35px; padding-bottom: 15px; color: #64707d; font-family: Montserrat-SemiBold; font-size: 12px;">{{r.type}}</div>
						  	<hr class="hr-style">
						</ng-template>
						<!-- <input 
							id="typeahead-focus"
							type="text" 
							placeholder="Search APG to add to this Course Plan"
							class="form-control input-search-bg" 
							name="searchbox" 
							[(ngModel)]="model"
							(focus)="focusSearch($event)"
							(focusout)="hideSearch($event)"
							(input)="changeSearch($event.target.value)"
							autocomplete="off" 
						/> -->
						<!-- <input id="typeahead-focus" 
						type="text" placeholder="Search APG to add to this Course Plan" 
						class="form-control input-search-bg" 
						[(ngModel)]="model" 
						[ngbTypeahead]="search" 
						[resultTemplate]="rt" name="searchbox" 
						(selectItem)="selectedItem($event)" 
						[inputFormatter]="SearchBoxEmpty"
						(ngModelChange)="valuechange($event)"/>
					    <span class="input-group-append">
					        <button class="bt btn-design btn-outline-secondary" type="button">
					            <i class="fa fa-search search-size"></i>
					        </button>
					    </span> -->
					    <div class="input-group w-100">
			  			    <input class="form-control py-2 input-search-bg" type="search" placeholder="Search APG" 
				            id="template-search-input" (focus)="focusSearch($event)" (focusout)="hideSearch($event)"
				            (input)="changeSearch($event.target.value, 'apg')"
				            autocomplete="off"
				            >
			  			    <span class="input-group-append">
			  			        <button class="bt btn-design btn-outline-secondary" type="button">
			  			            <i class="fa fa-search search-size"></i>
			  			        </button>
			  			     </span>
			  			</div>
					    <div>
						    <div class="search-result-box" *ngIf="isfocus == true">
						    	<div class="single-result" (click)="selectData(apg._id, apg.name)" *ngFor="let apg of apgList">
						    		<div class="d-flex">
						    			<div class="circle1 plus"></div>
						    			<div>
						    				<div>{{apg.name}}</div>
						    				<div class="step-font font-12">progress</div>
						    			</div>
						    		</div>
						    	</div>
						    </div>
				        	<div *ngIf="showfixedcreate == true" class="fixedText">
				    		    <div class="top-line">
				    				<button type="button" class="bt btn-apg" (click)="goToModule()">
				    					<div class="circle3 plus"></div>Create new APG
				    				</button>
				    			</div>
				    		</div>
					    </div>

					    <!-- <div *ngIf="showfixedcreate == true" class="fixedText">
						    <div class="top-line">
								<button type="button" class="bt btn-apg" (click)="goToModule()">
									<div class="circle3 plus"></div>Create new APG
								</button>
							</div>
						</div> -->
					</div>
					<div class="col-md-12 pl-zero" *ngIf="showfixedcreate == true">
					    <!-- <div style="
					    height: 341px;
					    border: 1px solid #eee;
					    border-radius: 0 0 4px 4px;
					    position: absolute;
					"></div> -->
					</div>
					<div *ngIf="model=='' && createdAPGstore?.length <= 0" class="display-style col-md-12" style="margin-top: 30px;">
						<div class="col-md-6 img-pos">
							<img src="assets/img/apg-list-default.png">
						</div>
						<div class="col-md-6">
							<div class="txt-default">
								<h3>Add APG to this Course Plan</h3>
							</div>
							<div class="arrow-pos">
								<img src="assets/img/arrow.png">
							</div>
						</div>
					</div>
					<div *ngIf="selectedAPGlists == true" class="col-md-12 pl-zero">
						<div class="wrap-height">
							<div *ngFor="let cAPG of createdAPGstore">
								<div class="group-text">
									<!-- {{cAPG|json}} -->
									<button type="button" class="bt btn-apg" (click)="removeSelectedAPG(cAPG)">
										<div class="circle2 minus"></div>
										<div class="all-title-font">{{cAPG.name}}</div>
										<div style="padding-left: 35px; padding-bottom: 15px; color: #64707d; font-family: Montserrat-SemiBold; font-size: 12px;">{{cAPG.type}}</div>
									</button>	
								</div>
								<hr class="hr-style">
							</div>
						</div>
					</div>
				</div>	
				<div *ngIf="showModule" class="inside-data-wrapper">	
					<div class="col-md-12">
						<p class="back" (click)="backSearhAPG('back')"><i class="fa fa-angle-left left-arrow"></i><span>APG</span></p>
						<h3 class="all-title-font">Pick APG type</h3>
					</div>
					<div class="row pad-15">
				  		<div *ngFor="let module of moduleList; let i=index;" class="module-input col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xxl" [ngClass]="{'disable-click': module.name=='Badge'}">
				  			<label class="form-check-label" [ngClass]="{'selected': ischecked == module._id}">
				  				<div class="module-img">
			            			<img *ngIf="ischecked != module._id" class="setting-icon" src="./assets/images/{{module.name}}-type.png" class="img-fluid">
			            			<img *ngIf="ischecked == module._id" class="setting-icon" src="./assets/images/{{module.name}}-type_a.png" class="img-fluid">
				  				</div>
				  			  	<div class="label-checked"></div>
				  			  	<input class="form-check-input"
				  			    type="radio" 
				  			    name="inlineRadioOptions" 
				  			    id="module._id"
				  			    value="{{module.name}}"
				  			    (click)="chooseModuleType(module._id, module.name)"> {{module.name}}
				  			</label>
				  		</div>
			  		</div>
				</div>
				<div *ngIf="createAPGform">
					<form class="form-wrap" #apgCreateForm="ngForm" novalidate>
						<div class="inside-data-wrapper">
							<div class="col-md-12">
								<p class="back" (click)="backModule()"><i class="fa fa-angle-left left-arrow"></i><span>Shared APGs</span></p>
								<h3 class="all-title-font">Create APG</h3>
							</div>
							<div class="col-md-6" style="padding-top: 40px;">
								<!-- <p>APG name <br><span>We recommend to set APG name as same as Course name.</span></p> -->
								<div class="d-flex justify-content-between">
					              <label class="form-title input-label all-title-font" for="address">APG name</label>  
					              <div class="limit-wordcount">
					                <span class="count-color">{{wordLength}}/60characters</span>
					              </div>
					            </div>
					            <p class="input-recommend">We recommend to set APG name as same as Course name.</p>
								<input class="form-control br-bshadow-none all-left-box-10" type="text" [(ngModel)]='formAPG.name' name="name" placeholder="Name" maxlength="60" [(ngModel)]="model.name" (focus)="focusMethod($event,'name', $event.target.value)" (blur)="blurMethod($event,'name')" (input)="changeMethod($event.target.value)" #apgName="ngModel" required>
								<div *ngIf="apgName.invalid && (apgName.dirty || apgName.touched)" class="alert alert-danger alert-m-right">
							        <div [hidden]="!apgName.errors.required">
							          APG name is required!
							        </div>
							    </div>	
								<hr class="limit-hr-length">
								<div class="d-flex justify-content-between">
					              <label class="form-title input-label all-title-font" for="address">Description</label>
					              <div class="limit-wordcount1">
					                <span class="count-color">{{wordLength}}/280characters</span>
					              </div>
					            </div>
								<textarea class="form-control br-bshadow-none all-left-box-10" rows="5" style="margin-bottom: 15px;" [(ngModel)]='formAPG.description' name="description" (focus)="focusMethod($event,'msg', $event.target.value)" (blur)="blurMethod($event,'msg')" (input)="changeMethod($event.target.value)" maxlength="280" #apgDesc="ngModel" placeholder="Type description here"></textarea>
								<!-- <div *ngIf="apgDesc.invalid && (apgDesc.dirty || apgDesc.touched)" class="alert alert-danger alert-m-right">
							        <div [hidden]="!apgDesc.errors.required">
							          APG description is required!
							        </div>
							    </div>	 -->
								<hr class="limit-hr-length">
							</div>
						</div>	
						<div class="d-flex justify-content-end button-wrapper">
							<button type="button" class="bt cancel-button" (click)="backSearhAPG('cancel')" >Cancel</button>
				        	<button type="submit" (click)="createAPGs(apgCreateForm.value)" [disabled]="!apgCreateForm.valid" class="btn create-button" >Create
							</button>
						</div>
					</form>
				</div>
				<div *ngIf="!showModule && !createAPGform">
					<!-- <hr> -->
					<div class="button-wrapper">
						<button type="button" class="btn sticky-create" (click)="continueStep('step6', createdAPGstore)">Continue</button>
						<button type="button" [hidden]="!step6" class="back-modal back-to" (click)="backStep('step6')"> < Back</button>
					</div>
				</div>
			</form>
		</div>
		<div *ngIf="step7">
			<div class="inside-data-wrapper pad-100">
				<div class="col-md-12">
					<p class="step-font">Step 7</p>
					<h5 class="all-title-font text-font-align">Optional fields</h5>
				</div>
				<div class="col-md-12" style="padding-top: 40px;">
					<label for="age" class="all-title-font parent-box-name">Age</label>
					<div class="display-style">
						<div class="col-md-6" style="padding-left: 0;">
							<label class="all-title-font"> From </label>
							<input type="number" placeholder="0 year" class="form-control br-bshadow-none all-left-box-10" (keypress)="numberOnly($event, 'ageFrom')" [(ngModel)]="formField.age.min" (input)="restrictMaxNumberInput($event, maxData, 'age')" min="1" id="age" name="minage" #minData="ngModel">
							<div *ngIf="restrictFirstInput" class="alert alert-danger alert-m-right m-top-15">Must be Lower than "To" Age</div>
						</div>
					 	<div class="col-md-6" style="padding-right: 0;">
					 		<label class="all-title-font" style="padding-left: 20px;"> To </label>
					 		<input type="number" placeholder="0 year" class="form-control br-bshadow-none all-m-left10" (keypress)="numberOnly($event, 'ageTo')" [(ngModel)]="formField.age.max" min="1" (input)="restrictMinNumberInput($event, minData, 'age')" id="age" name="maxage" #maxData="ngModel">
					 		<div *ngIf="restrictLastInput" class="alert alert-danger alert-m-left m-top-15">Must be greater than "From" Age</div>
					 	</div>
					</div>
					<hr class="limit-hr-100">
				</div>
				<div class="col-md-12" style="padding-top: 40px;">
					<label for="age" class="all-title-font parent-box-name">Payment policy</label>
					<div class="display-style">
						<!-- <div class="col-md-4" style="padding: 0;">
							<label class="all-title-font">Deposit</label>
							<select class="form-control br-bshadow-none all-left-box-10" name="deposit" [(ngModel)]="depositModel">
								<option [value]="depositModel" disabled="true">S$ 0</option>
								<option *ngFor="let deposit of depositLists" value="{{deposit._id}}">S$ {{deposit.amount}}</option>
							</select>
							<i class="fa fa-chevron-down down-arrow1"></i>
						</div> -->
						<div class="col-md-4" style="padding: 0;">
							<label class="all-title-font">Deposit</label>
							<div>
								 <div class="form-group has-feedback" (click)="depositDropdown()">
								 	<div>
								 		<span class="deposit-sign">S$</span>
							    		<input class="form-control br-bshadow-none all-left-box-10 pad-left-40"  name="UserName"  type="text" [(ngModel)]="formField.depositAmount" autocomplete="off"><span class="fa fa-angle-down down-icon"></span>
						    		</div>
							     </div>
							     <div class="dropdown-wrap">
						          <ul class="new-dropdown">
						            <li *ngFor="let deposit of depositLists" (click)="chooseDeposit(deposit)">
						              <span>{{deposit.amount}}</span>
						            </li>
						          </ul>
						        </div>
							</div>
						</div>
						<div class="col-md-4">
							<label class="all-title-font" style="padding-left: 10px;"> Miscellaneous fee </label>
						    <div class="inner-divleft-pad">
						    	<label class="sr-only" for="inlineFormInputGroupmisFee">0</label>
								<div class="input-group input-group-bg mb-2 mr-sm-2">
								    <div class="input-group-prepend">
								      <div class="input-group-text misfee-bg">S$</div>
								    </div>
								    <input type="number" class="form-control" id="inlineFormInputGroupmisFee" (click)='toKnowFocus("misFee")' (keypress)="numberOnly($event, 'miscelFee')" placeholder="0" (mouseleave)="leaveHover($event)" (mouseenter)="enterHover($event)" [(ngModel)]="formField.paymentPolicy.miscFee" min="0" name="miscFee" #miscfee="ngModel">
								</div>
						    </div>
						</div>
						<div class="col-md-4">
							<div class="display-style">
								<label class="all-title-font">Prorate class fee</label> <br />
								<div class="radio-pos-payment">
									<label class="switch">
										<input type="checkbox" [(ngModel)]="formField.paymentPolicy.allowProrated" min="0" name="allowProrated" #allow="ngModel">
										<span class="slider round" [ngClass]="{'activeRadio': formField.paymentPolicy.allowProrated == true}"></span>
									</label>
								</div>	
							</div>
						</div>
					</div>
					<hr class="limit-hr-100">
				</div>
				<div class="col-md-12" style="padding-top: 40px;">
					<label for="duration" class="all-title-font parent-box-name">Lesson</label>
					<div class="display-style">
						<div class="col-md-6" style="padding: 0;">
							<label class="all-title-font"> Minimum </label>
							<div class="inner-div-pad">
								<input type="number" placeholder="0 lesson" class="form-control br-bshadow-none all-left-box-10" (keypress)="numberOnly($event, 'lessmin')" [(ngModel)]="formField.lesson.min" min="1" (input)="restrictMaxNumberInput($event, maxLesson, 'lesson')" name="minDuration" #minLesson="ngModel">
								<div *ngIf="restrictFirstLessInput" class="alert alert-danger alert-m-right m-top-15">Must be Lower than "Maximum" Lesson</div>
							</div>
						</div> 
						<div class="col-md-6">	
							<label class="all-title-font" style="padding-left: 20px;"> Maximum </label>
							<div class="inner-divleft-pad">
								<input type="number" placeholder="0 lesson" class="form-control br-bshadow-none all-m-left10" (keypress)="numberOnly($event, 'lessmax')" [(ngModel)]="formField.lesson.max" min="1" (input)="restrictMinNumberInput($event, minLesson, 'lesson')" name="maxDuration" #maxLesson="ngModel">
								<div *ngIf="restrictLastLessInput" class="alert alert-danger alert-m-left m-top-15">Must be greater than "Minimum" Age</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <hr class="limit-hr-100 mr-top-20"> -->
			<div class="button-wrapper">
				<button type="submit" class="btn sticky-create" (click)="createdPlan(parentForm.value)" [disabled]="!parentForm.valid || timeInminutes == undefined || timeInminutes == 0">Create</button>
				<button type="button" [hidden]="!step7" class="back-modal back-to" (click)="backStep('step7')"> < Back</button>
			</div>
		</div>
		
	<!-- 	<div class="all-box-lt">
			<div class="display-style">
				<div class="col-md-6">
					<label for="course_name" class="all-title-font">Plan name</label>
					<input class="form-control br-bshadow-none all-left-box-10" type="text" [(ngModel)]='formField.name' name="coursename" placeholder="Type plan name here" #cpName="ngModel" required>
					<div class="mr-top">
						<label for="seat" class="all-title-font">Seats</label>
						<input type="number" placeholder="0" class="form-control br-bshadow-none all-left-box-10" (keypress)="numberOnly($event, 'seats')" [(ngModel)]='formField.seats' min="0" name="seats" required #cpSeat="ngModel"> 
					</div> 
				</div>
				<div class="col-md-6">
					<label style="padding-left: 10px;" for="desc" class="all-title-font">Description</label>
					<textarea class="form-control br-bshadow-none" rows="7" [(ngModel)]='formField.description' name="description" #cpDesc="ngModel" placeholder="Type message here" required></textarea>
				</div> 
			</div>
			<div class="col-md-12">
				<label for="makeup_policy" class="title-color">Makeup policy</label>
					<div class="radio-pos" style="left: 230px;">
						<label class="switch">
							<input type="checkbox" [(ngModel)]='formField.makeupPolicy.allowMakeupPass' name="allowmakeup" #makeupcheck="ngModel" >
							<span class="slider round" [ngClass]="{'activeRadio': formField.makeupPolicy.allowMakeupPass == true}"></span>
						</label>
					</div>	
					<div class="display-style">
						<div class="col-md-6" style="padding: 0;">
							<label class="all-title-font"> Validation duration after class </label>
							<div class="inner-div-pad">
								<input type="number" class="form-control all-left-box-10 br-bshadow-none" (keypress)="numberOnly($event, 'makeupDuration')" [(ngModel)]='formField.makeupPolicy.maxDayPerPass' min="0" id="makeupass" name="makeuppass" #makeuppass="ngModel" placeholder="0 day" required>
							</div>
						</div>
						<div class="col-md-6" style="padding-right: 0;">
							<label class="all-title-font" style="padding-left: 10px;"> Number of days per user </label>
							<div>
								<input type="number" class="form-control br-bshadow-none" (keypress)="numberOnly($event, 'makeupUser')" [(ngModel)]="formField.makeupPolicy.maxPassPerUser" min="0" id="makeupuser" name="makeupuser" placeholder="0 day" #makeupuser="ngModel" required>
							</div>
						</div>
					</div>
			</div>
			<div class="col-md-12 mr-top">
				<label for="payment_policy" class="title-color">Payment policy</label>
				<div class="display-style">
					<div class="col-md-3" style="padding: 0;">
						<label class="all-title-font">Deposit</label>
						<div class="inner-div-pad">
							<select class="form-control br-bshadow-none all-left-box-10" name="deposit" [(ngModel)]="depositModel" required>
								<option [value]="'disabledDeposit'" disabled="true">S$ 0</option>
								<option *ngFor="let deposit of depositLists" value="{{deposit._id}}">S$ {{deposit.amount}}</option>
							</select>
							<i class="fa fa-chevron-down down-arrow1"></i>
						</div>
					</div>
					<div class="col-md-3">
						<label class="all-title-font" style="padding-left: 10px;"> Course fee </label>
						<div class="inner-divleft-pad">
							<label class="sr-only" for="inlineFormInputGroupcourseFee">0</label>
							<div class="input-group mb-2 mr-sm-2">
							    <div class="input-group-prepend">
							      <div class="input-group-text cfee-bg">S$</div>
							    </div>
							    <input type="number" class="form-control" id="inlineFormInputGroupcourseFee" (keypress)="numberOnly($event, 'courseFee')" (click)='toKnowFocus("cFee")' [(ngModel)]="formField.paymentPolicy.courseFee" min="0" placeholder="0" name="courseFee" #courseFee="ngModel" required>
							</div>
						</div>
					</div>
				
					<div class="col-md-3">
						<label class="all-title-font" style="padding-left: 10px;"> Miscellaneous fee </label>
					    <div class="inner-divleft-pad">
					    	<label class="sr-only" for="inlineFormInputGroupmisFee">0</label>
							<div class="input-group mb-2 mr-sm-2">
							    <div class="input-group-prepend">
							      <div class="input-group-text misfee-bg">S$</div>
							    </div>
							    <input type="number" class="form-control" id="inlineFormInputGroupmisFee" (click)='toKnowFocus("misFee")' (keypress)="numberOnly($event, 'miscelFee')" placeholder="0" [(ngModel)]="formField.paymentPolicy.miscFee" min="0" name="miscFee" #miscfee="ngModel" required>
							</div>
					    </div>
					</div>
					<div class="col-md-3">
						<label class="all-title-font">Prorate class fee</label> <br />
						<div class="radio-pos-payment">
							<label class="switch">
								<input type="checkbox" [(ngModel)]="formField.paymentPolicy.allowProrated" min="0" name="allowProrated" #allow="ngModel">
								<span class="slider round" [ngClass]="{'activeRadio': formField.paymentPolicy.allowProrated == true}"></span>
							</label>
						</div>	
					</div>
				</div>
			</div>
			<div class="col-md-12 mr-top">
				<label for="age" class="title-color">Age <span class="optional-dot">&#183;</span><span class="optional-pos">Optional</span></label>
				<div class="display-style">
					<div class="col-md-6" style="padding: 0;">
						<label class="all-title-font"> From </label>
						<div class="inner-div-pad">
							<input type="number" placeholder="0 year" class="form-control br-bshadow-none all-left-box-10" (keypress)="numberOnly($event, 'ageFrom')" [(ngModel)]="formField.age.min" (input)="restrictMaxNumberInput($event, maxData, 'age')" min="1" id="age" name="minage" #minData="ngModel">
						</div>
					</div>
				 	<div class="col-md-6" style="padding-right: 0;">
				 		<label class="all-title-font" style="padding-left: 10px;"> to </label>
				 		<div>
				 			<input type="number" placeholder="0 year" class="form-control br-bshadow-none" (keypress)="numberOnly($event, 'ageTo')" [(ngModel)]="formField.age.max" min="1" (input)="restrictMinNumberInput($event, minData, 'age')" id="age" name="maxage" #maxData="ngModel">
				 		</div>
				 	</div>
				</div>
			</div>
			<div class="col-md-12 mr-top">
				<label for="duration" class="title-color">Lesson</label>
				<div class="display-style">
					<div class="col-md-3" style="padding: 0;">
						<label class="all-title-font"> Minimum </label>
						<div class="inner-div-pad">
							<input type="number" placeholder="0 lesson" class="form-control br-bshadow-none all-left-box-10" (keypress)="numberOnly($event, 'lessmin')" [(ngModel)]="formField.lesson.min" min="1" (input)="restrictMaxNumberInput($event, maxLesson, 'lesson')" name="minDuration" #minLesson="ngModel" required>
						</div>
					</div> 
					<div class="col-md-3">	
						<label class="all-title-font" style="padding-left: 10px;"> Maximum </label>
						<div class="inner-divleft-pad">
							<input type="number" placeholder="0 lesson" class="form-control br-bshadow-none" (keypress)="numberOnly($event, 'lessmax')" [(ngModel)]="formField.lesson.max" min="1" (input)="restrictMinNumberInput($event, minLesson, 'lesson')" name="maxDuration" #maxLesson="ngModel" required>
						</div>
					</div>
					<div class="col-md-3">
						<label class="all-title-font" style="padding-left: 10px;"> Duration </label>
						<input type="number" placeholder="{{readyOnlyRange}}" class="form-control br-bshadow-none hoverReadonly" [(ngModel)]='formField.lesson.duration' min="1" id="duration" name="lesson_duration" readonly #durationLesson="ngModel" (click)="durationProgress($event)" style="background: none;">
						<div class="bg-box duration-progress">
							<div id="rectangle"></div>
							<div class="gap-box">
								<label>
									<div class="col-md-4 max-range">{{rangeHr}} hr</div>
									<input class="max-range-box" type="range" id="hrDuration" name="pointsHr" min="0" max="24" (input)="ChangedRangeValue($event.target.value, 'hr')" [(ngModel)]="rangeHr">
								</label>
							</div>
							<div class="gap-range-min">
								<label>
									<div class="col-md-4 min-range">{{rangeMin}} min</div>
									<input class="min-range-box" type="range" id='minDuration' name="pointsMin" min="0" max="60" step="1" (input)="ChangedRangeValue($event.target.value, 'min')" [(ngModel)]="rangeMin" [disabled]="overDurationHr">	
									 <p *ngIf="overDurationHr" class="alert-duration">Lesson Duration has only 24 hr, so can not choose minute. </p>				
								</label>
							</div>
						</div>
					</div>	
				</div>
			</div>
			<div class="col-md-12 mr-top">
				<label for="allowpw" class="title-color">Pagewerkz book</label>
				<div class="radio-pos left-gap">
					<label class="switch">
						<input type="checkbox" [(ngModel)]='formField.allowPagewerkzBooks' id="allowpw" name="allowpagewerkz">
						<span class="slider round" [ngClass]="{'activeRadio': formField.allowPagewerkzBooks == true}"></span>
					</label>
				</div>	
			    	<drag-scroll class="drag-wrapper">
			    		<div *ngFor="let pdf of pdfList; let i=index;" class="book-range">
			    			<label for="{{pdf._id}}" class="book-label" [ngClass]="{'drag-active-bg': pdfId.indexOf(pdf._id) != -1}">
								<img drag-scroll-item src="{{pdf.cover}}" width="150" height="200" style="margin-bottom: 10px;">
								<input type="checkbox" id="{{pdf._id}}" value="{{pdf._id}}" (click)="ChangeValue(pdf._id,$event, 'pdf')" name="pdf" [checked]="pdfId.indexOf(pdf._id) != -1">
				    			<div class="book-name">{{pdf.name}}</div>
							</label>
				    	</div>
					</drag-scroll>				
			</div> 
			<div class="col-md-6" style="clear: both; padding-top: 25px;">
				<label class="all-title-font">Holiday Calendar</label>
				<select class="form-control br-bshadow-none all-left-box-10" name="holidayCalendar" [(ngModel)]="formField.holidayCalendarId" style="font-size: 16px;">
					<option disabled="true" [value]="'disabledHoliday'">None</option>
					<option *ngFor="let holidayCalendar of holidayCalendarLists" [value]="holidayCalendar._id">{{holidayCalendar.name}}</option>
				</select>	
				 <i class="fa fa-chevron-down down-arrow2"></i>			
			</div>
		</div> -->
	</form>		
	<block-ui message="Deafult Message"></block-ui>

</div>

<!-- <header>
			<div class="d-flex d-wrapper" [ngClass]="{'stickywrap' : navIsFixed == true}">
				<div class="mr-auto">
					<div class="back-modal" (click)="back()">
			          <i class="fa fa-angle-left"></i>
			          <p>Pick Category</p>
			        </div>
				</div>
				<div>
					<div class="d-flex flex-row">
						<p>#{{checkedName}}</p><span class="sticky-dot">&#183;</span>		
							<h5>Course plan</h5>
					</div>
				</div>
				<div class="ml-auto">
					<button type="button" class="btn sticky-cancel" (click)="cancel()">Cancel</button>
				</div>
			</div>
		</header> -->
