<div *ngIf="goBackCat"  class="inner-wrapper" (scroll)="onScroll($event)">
	<header>
	    <div class="header-wrap">
	    	<div class="d-flex d-wrapper" [ngClass]="{'stickywrap' : navIsFixed == true}">
		      <div class="mr-auto p-2 pl-0">
		        <a class="back-to" (click)="back()">< Pick category</a>
		      </div> 
		      	<div>
		      		<button type="button" style="padding: 12px;" class="btn slide-cancel" (click)="cancel()">Cancel</button>
		      	</div>
		      	<div [hidden]="!createButton">
		    		<button type="submit" style="color: #0080F9; background: #fff; padding: 12px 0;" class="btn btn-not-allowed"  (click)="createdPlan(subCatForm.value)" [disabled]="!subCatForm.valid || timeInminutes == undefined || timeInminutes == 0" >Create</button>
		    	</div>
		    </div>

		    <p class="category-name" [ngClass]="{'stickywrap' : navIsFixed == true}">#{{checkedName}}</p>
			<h3 class="category-h3" [ngClass]="{'stickywrap' : navIsFixed == true}">Course plan</h3>
	    </div>
	</header>
<!-- <div class="mb-30">
<button class="btn btn-lg btn-outline-primary bt-color" (click)="cplan()">+ Course Plan</button>
</div> -->
	<!-- <div *ngIf="showModal == true">
		<form #mainCatForm="ngForm" novalidate>
			<div class="modal-header">
			    <h4 class="modal-title">Choose Category</h4>
			    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			      <span aria-hidden="true">&times;</span>
			    </button>
			</div>
		  	<div class="modal-body" style="padding: 40px 20px;">
		  		<label *ngIf="courseCategories==0" style="color: red;">Firstly, Category must be created before course plan.</label>
		    	<ul class="ul-pad">
				    <li *ngFor="let cate of courseCategories">
					    <div class="col-md-4 fl-rt">
						    <input type="radio" id="{{cate._id}}" [(ngModel)]='checked' (click)="checkedData(cate._id)" name="cate" value="{{cate.name}}">
						    <label for="{{cate._id}}" class="limit-text">	
						    	{{cate.name}}
					    	</label>
					    	<span class="checkmark"></span>
					    </div>
					</li>
				</ul>
		  	</div>
		  	<div class="modal-footer">
		    	<button type="button" class="btn btn-light1" (click)="c('Close click')">Cancel</button>
		    	<button type="submit" class="btn btn-primary btn-not-allowed" [disabled]="!checked" (click)="selectedRadioId(checkedCatId)">Select</button>
		  	</div>
		</form>	
	</div> -->
	<div> 
		<form #subCatForm="ngForm" novalidate>
			<div class="sticky-menu" [ngClass]="{'sticky' : navIsFixed == true}">
			    <div class="display-style">
					<div class="col-md-4 ul-pad">
						<button type="button" class="back-modal" (click)="back()"> < Pick Category</button>
					</div>	
					<div class="col-md-4 title-mr display-style">
						<p>#{{checkedName}}</p><span class="sticky-dot">&#183;</span>		
						<h5>Course plan</h5>
			    		<!-- <h5 style="position: absolute;left: 90px;">Course plan</h5> -->
			    	</div>
			    	<div class="col-md-4" style="padding: 0;">
				    	<div [hidden]="!createButton">
				    		<button type="submit" class="btn btn-not-allowed sticky-create" (click)="createdPlan(subCatForm.value)" [disabled]="!subCatForm.valid || timeInminutes == undefined || timeInminutes == 0">Create</button>
				    	</div>
				    <!-- 	<div [hidden]="!updateButton">
				    		<button type="submit" class="btn btn-primary btn-not-allowed" [disabled]="!subCatForm.valid" (click)="updatedPlan(subCatForm.value)">Update</button>
				    	</div> -->
				    	<button type="button" class="btn sticky-cancel" (click)="cancel()">Cancel</button>
			    	</div>
			  	</div>
			</div>
			<div class="all-box-lt">
				<div class="display-style">
					<div class="col-md-6">
						<label for="course_name" class="all-title-font">Plan name</label>
						<input class="form-control br-bshadow-none all-left-box-10" type="text" [(ngModel)]='formField.name' name="coursename" placeholder="Type plan name here" #cpName="ngModel" required>
						<div class="mr-top">
							<label for="seat" class="all-title-font">Seats</label>
							<input type="number" placeholder="0" class="form-control br-bshadow-none all-left-box-10" (keypress)="numberOnly($event, 'seats')" [(ngModel)]='formField.seats' min="0" name="seats" required #cpSeat="ngModel"> 
						</div> 
					</div>
					<div class="col-md-6">
						<label style="padding-left: 10px;" for="desc" class="all-title-font">Description</label>
						<textarea class="form-control br-bshadow-none" rows="7" [(ngModel)]='formField.description' name="description" #cpDesc="ngModel" placeholder="Type message here" required></textarea>
					</div> 
				</div>
				<div class="col-md-12">
					<label for="makeup_policy" class="title-color">Makeup policy</label>
						<div class="radio-pos" style="left: 230px;">
							<label class="switch">
								<input type="checkbox" [(ngModel)]='formField.makeupPolicy.allowMakeupPass' name="allowmakeup" #makeupcheck="ngModel" >
								<span class="slider round" [ngClass]="{'activeRadio': formField.makeupPolicy.allowMakeupPass == true}"></span>
							</label>
						</div>	
						<div class="display-style">
							<div class="col-md-6" style="padding: 0;">
								<label class="all-title-font"> Validation duration after class </label>
								<div class="inner-div-pad">
									<input type="number" class="form-control all-left-box-10 br-bshadow-none" (keypress)="numberOnly($event, 'makeupDuration')" [(ngModel)]='formField.makeupPolicy.maxDayPerPass' min="0" id="makeupass" name="makeuppass" #makeuppass="ngModel" placeholder="0 day" required>
								</div>
							</div>
							<div class="col-md-6" style="padding-right: 0;">
								<label class="all-title-font" style="padding-left: 10px;"> Number of days per user </label>
								<div>
									<input type="number" class="form-control br-bshadow-none" (keypress)="numberOnly($event, 'makeupUser')" [(ngModel)]="formField.makeupPolicy.maxPassPerUser" min="0" id="makeupuser" name="makeupuser" placeholder="0 day" #makeupuser="ngModel" required>
								</div>
							</div>
						</div>
				</div>
				<div class="col-md-12 mr-top">
					<label for="payment_policy" class="title-color">Payment policy</label>
					<div class="display-style">
						<div class="col-md-3" style="padding: 0;">
							<label class="all-title-font">Deposit</label>
							<div class="inner-div-pad">
								<select class="form-control br-bshadow-none all-left-box-10" name="deposit" [(ngModel)]="depositModel" required>
									<option [value]="'disabledDeposit'" disabled="true">S$ 0</option>
									<option *ngFor="let deposit of depositLists" value="{{deposit._id}}">S$ {{deposit.amount}}</option>
								</select>
								<i class="fa fa-chevron-down down-arrow1"></i>
							</div>
						</div>
						<div class="col-md-3">
							<label class="all-title-font" style="padding-left: 10px;"> Course fee </label>
							<div class="inner-divleft-pad">
								<label class="sr-only" for="inlineFormInputGroupcourseFee">0</label>
								<div class="input-group mb-2 mr-sm-2">
								    <div class="input-group-prepend">
								      <div class="input-group-text cfee-bg">S$</div>
								    </div>
								    <input type="number" class="form-control" id="inlineFormInputGroupcourseFee" (keypress)="numberOnly($event, 'courseFee')" (click)='toKnowFocus("cFee")' [(ngModel)]="formField.paymentPolicy.courseFee" min="0" placeholder="0" name="courseFee" #courseFee="ngModel" required>
								</div>
							</div>
						</div>
					
						<div class="col-md-3">
							<label class="all-title-font" style="padding-left: 10px;"> Miscellaneous fee </label>
						    <div class="inner-divleft-pad">
						    	<label class="sr-only" for="inlineFormInputGroupmisFee">0</label>
								<div class="input-group mb-2 mr-sm-2">
								    <div class="input-group-prepend">
								      <div class="input-group-text misfee-bg">S$</div>
								    </div>
								    <input type="number" class="form-control" id="inlineFormInputGroupmisFee" (click)='toKnowFocus("misFee")' (keypress)="numberOnly($event, 'miscelFee')" placeholder="0" [(ngModel)]="formField.paymentPolicy.miscFee" min="0" name="miscFee" #miscfee="ngModel" required>
								</div>
						    </div>
						</div>
						<div class="col-md-3">
							<label class="all-title-font">Prorate class fee</label> <br />
							<div class="radio-pos-payment">
								<label class="switch">
									<input type="checkbox" [(ngModel)]="formField.paymentPolicy.allowProrated" min="0" name="allowProrated" #allow="ngModel">
									<span class="slider round" [ngClass]="{'activeRadio': formField.paymentPolicy.allowProrated == true}"></span>
								</label>
							</div>	
						</div>
					</div>
				</div>
				<div class="col-md-12 mr-top">
					<label for="age" class="title-color">Age <span class="optional-dot">&#183;</span><span class="optional-pos">Optional</span></label>
					<div class="display-style">
						<div class="col-md-6" style="padding: 0;">
							<label class="all-title-font"> From </label>
							<div class="inner-div-pad">
								<input type="number" placeholder="0 year" class="form-control br-bshadow-none all-left-box-10" (keypress)="numberOnly($event, 'ageFrom')" [(ngModel)]="formField.age.min" (input)="restrictMaxNumberInput($event, maxData, 'age')" min="1" id="age" name="minage" #minData="ngModel">
							</div>
						</div>
					 	<div class="col-md-6" style="padding-right: 0;">
					 		<label class="all-title-font" style="padding-left: 10px;"> to </label>
					 		<div>
					 			<input type="number" placeholder="0 year" class="form-control br-bshadow-none" (keypress)="numberOnly($event, 'ageTo')" [(ngModel)]="formField.age.max" min="1" (input)="restrictMinNumberInput($event, minData, 'age')" id="age" name="maxage" #maxData="ngModel">
					 		</div>
					 	</div>
					</div>
				</div>
				<div class="col-md-12 mr-top">
					<label for="duration" class="title-color">Lesson</label>
					<div class="display-style">
						<div class="col-md-3" style="padding: 0;">
							<label class="all-title-font"> Minimum </label>
							<div class="inner-div-pad">
								<input type="number" placeholder="0 lesson" class="form-control br-bshadow-none all-left-box-10" (keypress)="numberOnly($event, 'lessmin')" [(ngModel)]="formField.lesson.min" min="1" (input)="restrictMaxNumberInput($event, maxLesson, 'lesson')" name="minDuration" #minLesson="ngModel" required>
							</div>
						</div> 
						<div class="col-md-3">	
							<label class="all-title-font" style="padding-left: 10px;"> Maximum </label>
							<div class="inner-divleft-pad">
								<input type="number" placeholder="0 lesson" class="form-control br-bshadow-none" (keypress)="numberOnly($event, 'lessmax')" [(ngModel)]="formField.lesson.max" min="1" (input)="restrictMinNumberInput($event, minLesson, 'lesson')" name="maxDuration" #maxLesson="ngModel" required>
							</div>
						</div>
						<div class="col-md-3">
							<label class="all-title-font" style="padding-left: 10px;"> Duration </label>
							<input type="number" placeholder="{{readyOnlyRange}}" class="form-control br-bshadow-none hoverReadonly" [(ngModel)]='formField.lesson.duration' min="1" id="duration" name="lesson_duration" readonly #durationLesson="ngModel" (click)="durationProgress($event)" style="background: none;">
							<div class="bg-box duration-progress">
								<div id="rectangle"></div>
								<div class="gap-box">
									<label>
										<div class="col-md-4 max-range">{{rangeHr}} hr</div>
										<input class="max-range-box" type="range" id="hrDuration" name="pointsHr" min="0" max="24" (input)="ChangedRangeValue($event.target.value, 'hr')" [(ngModel)]="rangeHr">
									</label>
								</div>
								<div class="gap-range-min">
									<label>
										<div class="col-md-4 min-range">{{rangeMin}} min</div>
										<input class="min-range-box" type="range" id='minDuration' name="pointsMin" min="0" max="60" step="1" (input)="ChangedRangeValue($event.target.value, 'min')" [(ngModel)]="rangeMin" [disabled]="overDurationHr">	
										 <p *ngIf="overDurationHr" class="alert-duration">Lesson Duration has only 24 hr, so can not choose minute. </p>				
									</label>
								</div>

							</div>
						</div>	
					</div>
				</div>
				<div class="col-md-12 mr-top">
					<label for="allowpw" class="title-color">Pagewerkz book</label>
					<div class="radio-pos left-gap">
						<label class="switch">
							<input type="checkbox" [(ngModel)]='formField.allowPagewerkzBooks' id="allowpw" name="allowpagewerkz">
							<span class="slider round" [ngClass]="{'activeRadio': formField.allowPagewerkzBooks == true}"></span>
						</label>
					</div>	
				    	<drag-scroll class="drag-wrapper">
				    		<div *ngFor="let pdf of pdfList; let i=index;" class="book-range">
				    			<label for="{{pdf._id}}" class="book-label" [ngClass]="{'drag-active-bg': pdfId.indexOf(pdf._id) != -1}">
									<img drag-scroll-item src="{{pdf.cover}}" width="150" height="200" style="margin-bottom: 10px;">
									<input type="checkbox" id="{{pdf._id}}" value="{{pdf._id}}" (click)="ChangeValue(pdf._id,$event, 'pdf')" name="pdf" [checked]="pdfId.indexOf(pdf._id) != -1">
					    			<div class="book-name">{{pdf.name}}</div>
								</label>
					    	</div>
						</drag-scroll>				
				</div> 
				<div class="col-md-6" style="clear: both; padding-top: 25px;">
					<label class="all-title-font">Holiday Calendar</label>
					<select class="form-control br-bshadow-none all-left-box-10" name="holidayCalendar" [(ngModel)]="formField.holidayCalendarId" style="font-size: 16px;">
						<option disabled="true" [value]="'disabledHoliday'">None</option>
						<option *ngFor="let holidayCalendar of holidayCalendarLists" [value]="holidayCalendar._id">{{holidayCalendar.name}}</option>
					</select>	
					 <i class="fa fa-chevron-down down-arrow2"></i>			
				</div>
			</div>
		</form>		
	</div>
<block-ui message="Deafult Message"></block-ui>

<!-- <div class="overflow">
	<ul class="list-group-flush">  
	  <li id="{{courseplan._id}}" class="list-group-item" *ngFor="let courseplan of courseplanLists; let i = index" [attr.data-index]="i">
		{{i + 1}}-{{ courseplan.name }} 		
		<button type="button" class="btn btn-secondary float-right btn-sm margin-left" (click)="onclickDelete(courseplan,confirmDelete1)">Delete</button>
		<button type="button" style="margin-right: 10px;" class="btn btn-secondary float-right btn-sm margin-left" (click)="editcPlan(content, courseplan._id)">Edit</button>
		<button type="button" style="margin-right: 10px;" class="btn btn-secondary float-right btn-sm margin-left" (click)="viewPlan(view, courseplan._id)">View</button>
	  </li>
	</ul>
</div> -->

<!-- <ng-template #view let-c="close" let-d="dismiss">
  <div class="modal-header">
  	<h4 class="modal-title">Course Plan View</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body view" *ngIf="viewCplan">
  	<div><label>Category Name:</label> <span>{{checkedName}}</span></div>
    <div><label>Course Name:</label> <span>{{viewCplan.name}}</span> </div>
    <div><label>Description:</label> <span>{{viewCplan.description}}</span></div>
    <div><label>Seats:</label> <span>{{viewCplan.seats}}</span></div>
    <div><label>MakeupPolicy</label> 
    	<div>
    		<span>AllowMakeupPass: {{viewCplan.makeupPolicy.allowMakeupPass}}</span>
    	</div>
    	<div>
    		<span>MaxDayPerPass: {{viewCplan.makeupPolicy.maxDayPerPass}}</span>
    	</div>
    	<div>
    		<span>MaxPassPerUser: {{viewCplan.makeupPolicy.maxPassPerUser}}</span>
    	</div>
    </div>
    <div><label>PaymentPolicy</label> 
    	<div>
    		<span>AllowProrated: {{viewCplan.paymentPolicy.allowProrated}}</span>
    	</div>
    	<div>
    		<span>Deposit: {{depositName}}</span>
    	</div>
    	<div>
    		<span>CourseFee: {{viewCplan.paymentPolicy.courseFee}}</span>
    	</div>
    	<div>
    		<span>ProratedLessonFee: {{viewCplan.paymentPolicy.proratedLessonFee}}</span>
    	</div>
    	<div>
    		<span>MiscFee: {{viewCplan.paymentPolicy.miscFee}}</span>
    	</div>
    </div>
    <div><label>Age</label>
    	<div><span>From: {{viewCplan.age.min}}</span></div>
    	<div><span>To: {{viewCplan.age.max}}</span></div>
    </div>
    <div><label>Lesson</label>
    	<div><span>Min: {{viewCplan.lesson.min}}</span></div>
    	<div><span>Max: {{viewCplan.lesson.max}}</span></div>
    	<div><span>Duration: {{viewCplan.lesson.duration}}</span></div>
    </div>
    <div>
    	<label>AllowPagewerkzBooks:</label> <span>{{viewCplan.allowPagewerkzBooks}}</span>
    </div>
    <div>
    	<label>Pdf:</label> <span>{{pdfName}}</span>
    </div>
    <div>
    	<label>Holiday:</label> <span>{{holidayCalendarName}}</span>
    </div>
    <div>
    	<label>AccessPointGroup:</label> <span>{{apgName}}</span>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light1" (click)="c('Close click')">Cancel</button>
  </div>
</ng-template> -->
<!-- 
<ng-template #confirmDelete1 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="min-height: 100px;">
    <h4>Are You sure you want to delete?</h4>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light1" (click)="c('Close click')">Cancel</button>
    <button type="submit" class="btn btn-danger" (click)="confirmDelete(selectcPlan,confirmDelete2)">Delete</button>
  </div>
</ng-template>

<ng-template #confirmDelete2 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="min-height: 100px;">
    <h4>We are going to delete <span style="color: red;">"{{selectcPlan.name}}"</span></h4>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light1" (click)="c('Close click')">Cancel</button>
    <button type="submit" class="btn btn-danger" (click)="deleteCoursePlan(selectcPlan._id)">Confirm</button>
  </div>
</ng-template> -->
</div>
