.ul-pad, .all-box-lt .col-md-6, .all-box-lt .col-md-4, .all-box-lt .col-md-3 {
	padding: 0;
}

/*.hideFlex {
	display: block;
}*/

.modal-body {
/*	min-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 600px;*/
}

.modal-body ul li {
	list-style: none;
}

.fl-rt{
	float: left;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fl-rt input, .fl-rt label {
	cursor: pointer;
	padding-left: 10px;
}
.fl-rt input {
	display: none;
}

.fields-mr {
	margin: 15px auto;
}
.fields-mr label{
	width: 30%;
	vertical-align: top;
	float: left;
	font-weight: bold;
} 

.form-control {
	width: 70%;
}

.back-modal {
	cursor: pointer;
	outline: none;
	padding: 3px 0px;
	background: transparent;
	border: none;
	margin-bottom: 10px;
	font-size: 13px;
}

.makeup-group input {
	margin-right: 15px; 
}
.makeup-group input[type=number] {
	/*width: 10%;*/
}
.makeup-group select {
	margin-bottom: 10px;
	/*width: 15%;*/
}
.makeup-group .col-md-4 {
	float: left;
	font-size: 14px;
}

.all-box-lt .col-md-12 {
	float: right;
	padding: 0;
}

.all-box-lt .col-md-12:last-child {
	margin-bottom: 50px;
}

.loading-align {
	margin: 150px auto;
    width: 50px;
}

.bt-color {
	color: #703bc1;
	border: 1px solid #4c3bc1;
	font-size: 16px;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle, .bt-color:hover, .bt-color:focus, .btn-danger:hover, .btn-danger:focus {
	background: none;
	box-shadow: none;
	outline: none;
}

.checkmark {
	position: absolute;
    top: 3px;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #703bc1;
    cursor: pointer;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
	border-radius: 50%;
	background: #703bc1;
}

input:checked ~ .checkmark {
    background-color: #fff;
}

input:checked ~ .checkmark:after {
    display: block;
    background: #703bc1;
}

.btn-danger {
	background: #fcfcfc;
    color: #000;
    border: 1px solid #888;
    padding: 9px 8px;
}

.btn-danger:active {
	background: none !important;
	border: none !important;
	color: #000 !important;
	outline: none !important;
	box-shadow: none !important;
}

.view label {
	font-weight: bold;
}

.view span {
	font-size: 14px;
}

.br-bshadow-none {
	border: none; 
	box-shadow: none;
	padding: 0;
}

.all-box-lt {
	margin-top: 40px;
}

.title-mr p {
	margin-bottom: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button, select { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.switch {
  	position: relative;
  	display: inline-block;
  	/*width: 60px;
  	height: 34px;*/
  	width: 27px;
    height: 12px;
}

.switch input {display:none;}

.slider {
  	position: absolute;
  	cursor: pointer;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	/*background-color: #ccc;*/
  	background-color: #fff;
  	-webkit-transition: .4s;
  	transition: .4s;
  	content: '-'
}

.slider:before {
  	position: absolute;
  	/*content: "";*/
  	height: 16px;
	width: 16px;
	/*left: -15px;*/
	left: -2px;
	bottom: -4px;
	background-color: #64707d;
	-webkit-transition: .4s;
	transition: .4s;
	content: '';
	/*color: #fff;*/
}

.activeRadio.slider:before {
	left: -15px;
}

input:checked + .slider {
  	background: #b7cfe6;
}

input:focus + .slider {
  	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  	-webkit-transform: translateX(26px);
  	-ms-transform: translateX(26px);
  	transform: translateX(26px);
  	background-color: #2196F3;
}


input:-webkit-input-placeholder {
    font-size: 10px !important;
}

/* Rounded sliders */
.slider.round {
  	border-radius: 34px;
  	border: 2px solid #b7cfe6;
}

.slider.round:before {
  	border-radius: 50%;
}	

.bookcover-wrap {
	clip: rect(0px, 150px, 200px, 0px);
    display: block;
    max-width: 100%;
}

.radio-pos {
	position: absolute;
    left: 170px;
    top: 7px;
}

.title-color {
	color: #0080ff; 
	font-weight: bold;
}

.mr-top {
	margin-top: 25px;
}

.display-style {
	display: flex;
}

#rectangle::after{
	content: "";
    position: absolute;
     -webkit-transform: translate(30px, 20px) rotate(180deg); 
    transform: translate(30px, 20px) rotate(180deg);
    top: 18px;
    left: 130px;
    border-width: 10px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    position:relative;
    border-radius: 50%;
    background: #0080ff;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type='range']::-moz-range-track {
    border-radius: 5px;
    background-color: #E71D49;
    height: 6px;
    border: 1px dotted transparent !important;
}

input[type='range']::-moz-range-thumb {
    border-radius: 20px;
    background-color: #fff;
    border:none;
    height: 20px;
    box-shadow: 3px 2px 3px #000;
    width: 20px;
}

/*input[type="range"]::-webkit-range-progress {
  background-color: #43e5f7; 
}
input[type="range"]::-webkit-range-track {  
  background-color: #9a905d;
}*/



