.ul-pad {
	padding: 0;
}

/*.hideFlex {
	display: block;
}*/

.modal-body {
/*	min-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 600px;*/
}

.modal-body ul li {
	list-style: none;
}

.fl-rt{
	float: left;
	overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fl-rt input, .fl-rt label {
	cursor: pointer;
	padding-left: 10px;
}
.fl-rt input {
	display: none;
}

.fields-mr {
	margin: 15px auto;
}
.fields-mr label{
	width: 30%;
	vertical-align: top;
	float: left;
	font-weight: bold;
} 

.back-modal {
	cursor: pointer;
	outline: none;
	padding: 3px 0px;
	background: transparent;
	border: none;
	margin-bottom: 10px;
	font-size: 13px;
  font-family: 'Montserrat-Medium', Arial,sans-serif;
}

.makeup-group input {
	margin-right: 15px; 
}
.makeup-group input[type=number] {
	/*width: 10%;*/
}
.makeup-group select {
	margin-bottom: 10px;
	/*width: 15%;*/
}
.makeup-group .col-md-4 {
	float: left;
	font-size: 14px;
}

.loading-align {
	margin: 150px auto;
  width: 50px;
}

.bt-color {
	color: #703bc1;
	border: 1px solid #4c3bc1;
	font-size: 16px;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle, .bt-color:hover, .bt-color:focus, .btn-danger:hover, .btn-danger:focus {
	background: none;
	box-shadow: none;
	outline: none;
}

.checkmark {
	position: absolute;
  top: 3px;
  left: 0;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #703bc1;
  cursor: pointer;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
	border-radius: 50%;
	background: #703bc1;
}

input:checked ~ .checkmark {
    background-color: #fff;
}

input:checked ~ .checkmark:after {
    display: block;
    background: #703bc1;
}

.btn-danger {
	background: #fcfcfc;
    color: #000;
    border: 1px solid #888;
    padding: 9px 8px;
}

.btn-danger:active {
	background: none !important;
	border: none !important;
	color: #000 !important;
	outline: none !important;
	box-shadow: none !important;
}

.view label {
	font-weight: bold;
}

.view span {
	font-size: 14px;
}

.br-bshadow-none {
	border: none; 
	box-shadow: none;
	/*margin-left: -10px;*/
}

.all-box-lt {
  margin-left: -15px;
  margin-right: -15px;
}

.title-mr p {
	margin-bottom: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button, select { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.switch {
  	position: relative;
  	display: inline-block;
  	/*width: 60px;
  	height: 34px;*/
  	width: 27px;
    height: 12px;
}

.switch input {display:none;}

.slider {
  	position: absolute;
  	cursor: pointer;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	/*background-color: #ccc;*/
  	background-color: #fff;
  	-webkit-transition: .4s;
  	transition: .4s;
  	content: '';
    font-size: 12px;
}

.slider:before {
  position: absolute;
  height: 16px;
	width: 16px;
	left: -2px;
	bottom: -4px;
	background-color: #64707d;
	-webkit-transition: .4s;
	transition: .4s;
	content: '\2012';
  /*font-size: 33px;*/
  /*text-align: center;
  vertical-align: middle;
  line-height: 0.36;
  color: #fff;*/
  color: #fff;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  line-height: 1.3;
  background-position: center;
}

.activeRadio.slider:before {
	left: -15px;
}

input:checked + .slider {
  	background: #b7cfe6;
}

input:focus + .slider {
  	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
	background-color: #2196F3;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  line-height: 1.3;
  content: '';
  background-image: url('/assets/img/tick.png');
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
}

/*.checkmark-custom {
  display: inline-block;
  cursor: pointer;
  width: 22px;
  height:22px;
  -ms-transform: rotate(45deg); 
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}*/

/*.checkmark_stem {
  position: absolute;
  width: 2px;
  height: 9px;
  background-color: #fff;
  left: 14px;
  top: -5px;
}

.checkmark_kick {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #fff;
  left: 12px;
  top: 2px;
}*/

input:-webkit-input-placeholder {
    font-size: 10px !important;
}

/* Rounded sliders */
.slider.round {
  	border-radius: 34px;
  	border: 2px solid #b7cfe6;
}

.slider.round:before {
  	border-radius: 50%;
}	

.bookcover-wrap {
	clip: rect(0px, 150px, 200px, 0px);
    display: block;
    max-width: 100%;
}

.radio-pos {
	position: absolute;
  left: 146px;
  top: 5px;
}

.radio-pos-payment {
  position: absolute; 
  top: 5px; 
  right: 0;
}

.title-color {
	color: #0080ff; 
/*font-weight: bold;*/
  font-family: 'Montserrat-Medium', Arial,sans-serif; 
}

.mr-top {
	margin-top: 25px;
}

.display-style {
	display: flex;
}
.display-style p {
  color: #64707d;
}

#rectangle::after{
  content: "";
  position: absolute;
   -webkit-transform: translate(30px, 20px) rotate(180deg); 
  transform: translate(30px, 20px) rotate(180deg);
  top: -40px;
  left: 130px;
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.duration-progress input {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 60px;
  overflow: hidden;
  width: 240px;
  cursor: pointer;
}

.duration-progress input:focus {
  box-shadow: none;
  outline: none;
}

.duration-progress input::-webkit-slider-runnable-track {
  background: #0080ff;
  content: '';
  height: 2px;
}

.duration-progress input::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  -webkit-appearance: none;
  appearance: none;
  background: #0080ff;
  border-radius: 50%;
  box-shadow: 5px 0 0 -6px #e3e4e6, 6px 0 0 -6px #e3e4e6, 7px 0 0 -6px #e3e4e6, 8px 0 0 -6px #e3e4e6, 9px 0 0 -6px #e3e4e6, 10px 0 0 -6px #e3e4e6, 11px 0 0 -6px #e3e4e6, 12px 0 0 -6px #e3e4e6, 13px 0 0 -6px #e3e4e6, 14px 0 0 -6px #e3e4e6, 15px 0 0 -6px #e3e4e6, 16px 0 0 -6px #e3e4e6, 17px 0 0 -6px #e3e4e6, 18px 0 0 -6px #e3e4e6, 19px 0 0 -6px #e3e4e6, 20px 0 0 -6px #e3e4e6, 21px 0 0 -6px #e3e4e6, 22px 0 0 -6px #e3e4e6, 23px 0 0 -6px #e3e4e6, 24px 0 0 -6px #e3e4e6, 25px 0 0 -6px #e3e4e6, 26px 0 0 -6px #e3e4e6, 27px 0 0 -6px #e3e4e6, 28px 0 0 -6px #e3e4e6, 29px 0 0 -6px #e3e4e6, 30px 0 0 -6px #e3e4e6, 31px 0 0 -6px #e3e4e6, 32px 0 0 -6px #e3e4e6, 33px 0 0 -6px #e3e4e6, 34px 0 0 -6px #e3e4e6, 35px 0 0 -6px #e3e4e6, 36px 0 0 -6px #e3e4e6, 37px 0 0 -6px #e3e4e6, 38px 0 0 -6px #e3e4e6, 39px 0 0 -6px #e3e4e6, 40px 0 0 -6px #e3e4e6, 41px 0 0 -6px #e3e4e6, 42px 0 0 -6px #e3e4e6, 43px 0 0 -6px #e3e4e6, 44px 0 0 -6px #e3e4e6, 45px 0 0 -6px #e3e4e6, 46px 0 0 -6px #e3e4e6, 47px 0 0 -6px #e3e4e6, 48px 0 0 -6px #e3e4e6, 49px 0 0 -6px #e3e4e6, 50px 0 0 -6px #e3e4e6, 51px 0 0 -6px #e3e4e6, 52px 0 0 -6px #e3e4e6, 53px 0 0 -6px #e3e4e6, 54px 0 0 -6px #e3e4e6, 55px 0 0 -6px #e3e4e6, 56px 0 0 -6px #e3e4e6, 57px 0 0 -6px #e3e4e6, 58px 0 0 -6px #e3e4e6, 59px 0 0 -6px #e3e4e6, 60px 0 0 -6px #e3e4e6, 61px 0 0 -6px #e3e4e6, 62px 0 0 -6px #e3e4e6, 63px 0 0 -6px #e3e4e6, 64px 0 0 -6px #e3e4e6, 65px 0 0 -6px #e3e4e6, 66px 0 0 -6px #e3e4e6, 67px 0 0 -6px #e3e4e6, 68px 0 0 -6px #e3e4e6, 69px 0 0 -6px #e3e4e6, 70px 0 0 -6px #e3e4e6, 71px 0 0 -6px #e3e4e6, 72px 0 0 -6px #e3e4e6, 73px 0 0 -6px #e3e4e6, 74px 0 0 -6px #e3e4e6, 75px 0 0 -6px #e3e4e6, 76px 0 0 -6px #e3e4e6, 77px 0 0 -6px #e3e4e6, 78px 0 0 -6px #e3e4e6, 79px 0 0 -6px #e3e4e6, 80px 0 0 -6px #e3e4e6, 81px 0 0 -6px #e3e4e6, 82px 0 0 -6px #e3e4e6, 83px 0 0 -6px #e3e4e6, 84px 0 0 -6px #e3e4e6, 85px 0 0 -6px #e3e4e6, 86px 0 0 -6px #e3e4e6, 87px 0 0 -6px #e3e4e6, 88px 0 0 -6px #e3e4e6, 89px 0 0 -6px #e3e4e6, 90px 0 0 -6px #e3e4e6, 91px 0 0 -6px #e3e4e6, 92px 0 0 -6px #e3e4e6, 93px 0 0 -6px #e3e4e6, 94px 0 0 -6px #e3e4e6, 95px 0 0 -6px #e3e4e6, 96px 0 0 -6px #e3e4e6, 97px 0 0 -6px #e3e4e6, 98px 0 0 -6px #e3e4e6, 99px 0 0 -6px #e3e4e6, 100px 0 0 -6px #e3e4e6, 101px 0 0 -6px #e3e4e6, 102px 0 0 -6px #e3e4e6, 103px 0 0 -6px #e3e4e6, 104px 0 0 -6px #e3e4e6, 105px 0 0 -6px #e3e4e6, 106px 0 0 -6px #e3e4e6, 107px 0 0 -6px #e3e4e6, 108px 0 0 -6px #e3e4e6, 109px 0 0 -6px #e3e4e6, 110px 0 0 -6px #e3e4e6, 111px 0 0 -6px #e3e4e6, 112px 0 0 -6px #e3e4e6, 113px 0 0 -6px #e3e4e6, 114px 0 0 -6px #e3e4e6, 115px 0 0 -6px #e3e4e6, 116px 0 0 -6px #e3e4e6, 117px 0 0 -6px #e3e4e6, 118px 0 0 -6px #e3e4e6, 119px 0 0 -6px #e3e4e6, 120px 0 0 -6px #e3e4e6, 121px 0 0 -6px #e3e4e6, 122px 0 0 -6px #e3e4e6, 123px 0 0 -6px #e3e4e6, 124px 0 0 -6px #e3e4e6, 125px 0 0 -6px #e3e4e6, 126px 0 0 -6px #e3e4e6, 127px 0 0 -6px #e3e4e6, 128px 0 0 -6px #e3e4e6, 129px 0 0 -6px #e3e4e6, 130px 0 0 -6px #e3e4e6, 131px 0 0 -6px #e3e4e6, 132px 0 0 -6px #e3e4e6, 133px 0 0 -6px #e3e4e6, 134px 0 0 -6px #e3e4e6, 135px 0 0 -6px #e3e4e6, 136px 0 0 -6px #e3e4e6, 137px 0 0 -6px #e3e4e6, 138px 0 0 -6px #e3e4e6, 139px 0 0 -6px #e3e4e6, 140px 0 0 -6px #e3e4e6, 141px 0 0 -6px #e3e4e6, 142px 0 0 -6px #e3e4e6, 143px 0 0 -6px #e3e4e6, 144px 0 0 -6px #e3e4e6, 145px 0 0 -6px #e3e4e6, 146px 0 0 -6px #e3e4e6, 147px 0 0 -6px #e3e4e6, 148px 0 0 -6px #e3e4e6, 149px 0 0 -6px #e3e4e6, 150px 0 0 -6px #e3e4e6, 151px 0 0 -6px #e3e4e6, 152px 0 0 -6px #e3e4e6, 153px 0 0 -6px #e3e4e6, 154px 0 0 -6px #e3e4e6, 155px 0 0 -6px #e3e4e6, 156px 0 0 -6px #e3e4e6, 157px 0 0 -6px #e3e4e6, 158px 0 0 -6px #e3e4e6, 159px 0 0 -6px #e3e4e6, 160px 0 0 -6px #e3e4e6, 161px 0 0 -6px #e3e4e6, 162px 0 0 -6px #e3e4e6, 163px 0 0 -6px #e3e4e6, 164px 0 0 -6px #e3e4e6, 165px 0 0 -6px #e3e4e6, 166px 0 0 -6px #e3e4e6, 167px 0 0 -6px #e3e4e6, 168px 0 0 -6px #e3e4e6, 169px 0 0 -6px #e3e4e6, 170px 0 0 -6px #e3e4e6, 171px 0 0 -6px #e3e4e6, 172px 0 0 -6px #e3e4e6, 173px 0 0 -6px #e3e4e6, 174px 0 0 -6px #e3e4e6, 175px 0 0 -6px #e3e4e6, 176px 0 0 -6px #e3e4e6, 177px 0 0 -6px #e3e4e6, 178px 0 0 -6px #e3e4e6, 179px 0 0 -6px #e3e4e6, 180px 0 0 -6px #e3e4e6, 181px 0 0 -6px #e3e4e6, 182px 0 0 -6px #e3e4e6, 183px 0 0 -6px #e3e4e6, 184px 0 0 -6px #e3e4e6, 185px 0 0 -6px #e3e4e6, 186px 0 0 -6px #e3e4e6, 187px 0 0 -6px #e3e4e6, 188px 0 0 -6px #e3e4e6, 189px 0 0 -6px #e3e4e6, 190px 0 0 -6px #e3e4e6, 191px 0 0 -6px #e3e4e6, 192px 0 0 -6px #e3e4e6, 193px 0 0 -6px #e3e4e6, 194px 0 0 -6px #e3e4e6, 195px 0 0 -6px #e3e4e6, 196px 0 0 -6px #e3e4e6, 197px 0 0 -6px #e3e4e6, 198px 0 0 -6px #e3e4e6, 199px 0 0 -6px #e3e4e6, 200px 0 0 -6px #e3e4e6, 201px 0 0 -6px #e3e4e6, 202px 0 0 -6px #e3e4e6, 203px 0 0 -6px #e3e4e6, 204px 0 0 -6px #e3e4e6, 205px 0 0 -6px #e3e4e6, 206px 0 0 -6px #e3e4e6, 207px 0 0 -6px #e3e4e6, 208px 0 0 -6px #e3e4e6, 209px 0 0 -6px #e3e4e6, 210px 0 0 -6px #e3e4e6, 211px 0 0 -6px #e3e4e6, 212px 0 0 -6px #e3e4e6, 213px 0 0 -6px #e3e4e6, 214px 0 0 -6px #e3e4e6, 215px 0 0 -6px #e3e4e6, 216px 0 0 -6px #e3e4e6, 217px 0 0 -6px #e3e4e6, 218px 0 0 -6px #e3e4e6, 219px 0 0 -6px #e3e4e6, 220px 0 0 -6px #e3e4e6, 221px 0 0 -6px #e3e4e6, 222px 0 0 -6px #e3e4e6, 223px 0 0 -6px #e3e4e6, 224px 0 0 -6px #e3e4e6, 225px 0 0 -6px #e3e4e6, 226px 0 0 -6px #e3e4e6, 227px 0 0 -6px #e3e4e6, 228px 0 0 -6px #e3e4e6, 229px 0 0 -6px #e3e4e6, 230px 0 0 -6px #e3e4e6, 231px 0 0 -6px #e3e4e6, 232px 0 0 -6px #e3e4e6, 233px 0 0 -6px #e3e4e6, 234px 0 0 -6px #e3e4e6, 235px 0 0 -6px #e3e4e6, 236px 0 0 -6px #e3e4e6, 237px 0 0 -6px #e3e4e6, 238px 0 0 -6px #e3e4e6, 239px 0 0 -6px #e3e4e6, 240px 0 0 -6px #e3e4e6;
  margin-top: -6px;
}

.duration-progress input:disabled {
  cursor: not-allowed;
}

.bg-box {
  background: #fff; 
  /*box-shadow: -13px -3px 94px -12px rgba(0,0,0,0.33); */
  box-shadow: 0px 4px 31px 1px rgba(1,0,0,0.3);
  width: 362px;
  display: none;
  position: absolute;
  right: 15%;
  bottom: -122px;
  z-index: 9;
}

.sticky-menu{
  position: fixed;
  width: 100%;
  z-index: 15;
  padding: 0 30px;
  padding: 10px 30px;
  left: 0;
  right: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  top: -100px;
  background: #fff;
  box-shadow: 0 1px 5px 1px rgba(221, 221, 221, 0.6);
  font-family: 'Montserrat-Medium', Arial,sans-serif; 
}

.sticky-menu.sticky {
    top: 0;
}

.drag-wrapper input[type=checkbox]{
  display: none;
}

drag-scroll {
  height: 300px;
}

.drag-active-bg {
  background: #cce6ff;
  color: #0080ff;
  border-radius: 4px;
}

.disabled-cursor {
  cursor: not-allowed;
}

.alert-duration {
  position: absolute;
  bottom: 0px;
  left: 30px;
  color: red;
  background: #fff;
}

.book-name {
  white-space: pre-wrap;
  font-family: 'Montserrat-Medium', Arial,sans-serif; 
}

.min-range {
  position: absolute; 
  left: 30px; 
  bottom: 20px;
}

.min-range-box {
  position: absolute; 
  bottom: 3px; 
  left: 100px;
}

.max-range-box {
  position: absolute; 
  bottom: 52px; 
  left: 100px;
}

.max-range {
  position: absolute; 
  left: 30px;
}

.gap-range-min {
  margin-top: 10px; 
  padding: 15px 0;
}

.gap-box {
  padding: 15px 0;
}

.book-range {
  float: left; 
  padding-right: 25px;
  color: #64707d;
}

.book-label {
  padding: 10px; 
  font-size: 14px;
}

select, ::-webkit-input-placeholder {
  color: #788796 !important;
}


textarea {
  resize: none;
}

.left-gap {
  left: 200px !important;
}

input:focus, .sticky-cancel:focus {
  outline: none;
  box-shadow: none;
}

.optional-dot {
  color: #64707d;
  font-size: 28px;
  position: absolute;
  bottom: 68px;
  left: 52px;
}

.optional-pos {
  color: #64707d;
  position: absolute;
  bottom: 78px;
  left: 69px;
  font-weight: bold;
  font-size: 12px;
}

h3.category-h3{
  top: 70px;
  margin-bottom: 1.3em;
  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

h3.category-h3{
  font-family: 'Montserrat-Medium', Arial,sans-serif; 
  color: #2f3d4c;
}

h3.category-h3, .category-name, .d-wrapper {
  position: absolute;
  
}

.category-name{
  top: 50px;
  margin-bottom: 1.3em;
  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
  font-family: 'Montserrat-SemiBold', Arial,sans-serif; 
  color: #64707d;
}

.sticky-dot {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  color: #788796;
  font-size: 30px;
  margin-top: -13px;
}

.stickywrap{
  top: -60px !important;
}

.sticky-cancel {
  float: right; 
  background: none; 
  /*margin-right: 20px;*/
  color: #2e3d4d;
}

.sticky-create {
  float: right; 
  color: #ffffff; 
  background: #007fff;
  margin-right: -5px;
}

.back-to{
  font-family: 'Montserrat-Medium',Arial,sans-serif;
  color: #2e3d4d !important;
  padding-left: 0 !important;
  cursor: pointer;
}
.pl-0{
  padding-left: 0 !important;
}

.d-wrapper {   
  top: 10px; 
  width: 100%;
  -webkit-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  font-family: 'Montserrat-Medium', Arial,sans-serif;
}

.inner-wrapper {
  position: relative;
}

.all-title-font {
  font-family: "Montserrat-SemiBold",Arial,sans-serif;
  color: #2e3e4d;
}

textarea, input, select {
  font-family: "Montserrat-Regular", Arial,sans-serif;
}

.slide-cancel {
  background: #fff !important;
  color: #2e3e4d;
}

.slide-cancel:focus {
  box-shadow: none;
}

.input-group {
  width: 100%;
}

#inlineFormInputGroupcourseFee, #inlineFormInputGroupmisFee {
  border-color: #fff;
}

.input-group-text {
  background: #fff;
  border-color: #fff;
}

.input-group:hover:not(:focus) .form-control, input:hover, textarea:hover, input:read-only:hover, select:hover ,#inlineFormInputGroupcourseFee:hover, #inlineFormInputGroupmisFee:hover {
  background: #f7f9fa;
}

.input-group:hover .input-group-text {
  background: #edeff0;
}

input:focus, textarea:focus, select:focus {
  box-shadow: 0 1px 5px 1px rgba(221, 221, 221, 0.6);
  background: #1A000000;
}

.input-group .form-control:focus {
  box-shadow: 0 1px 5px 1px rgba(221, 221, 221, 0.6);
  background: #1A000000 !important;
}

.hoverReadonly:hover {
  background: #f7f9fa !important;
}

.hoverReadonly:focus {
  background: #1A000000 !important;
}

.focus-bg {
    background: #788796 !important;
    color: #fff !important;
}

select:hover + .down-arrow2, select:focus + .down-arrow2, select:hover + .down-arrow1, select:focus + .down-arrow1 {
  color: #788796;
}

.all-left-box-10 {
  margin-left: -10px;
}

.down-arrow1 {
  position: absolute;
  right: 46px;
  bottom: 21px;
  font-size: 12px;
  color: #fff;
}

.down-arrow2 {
  position: absolute;
  right: 40px;
  bottom: 12px;
  font-size: 12px;
  color: #fff;
}

.inner-div-pad{
  /*padding: 6px 15px 6px 0px;*/
  padding-right: 18px;
}
.inner-divleft-pad {
  /*padding: 6px 0px 6px 10px;*/
  padding-right: 10px;
}

.header-wrap {
  position: relative; 
  /*margin-top: -20px;*/
}

.fa.right-arrow {
  font-size: 31px !important;
  color: #888 !important;
}

.progress-box-wrap {
  box-shadow: 0 6px 15px -9px rgba(184,184,184,1);
  border-top: 1px solid #edeff0;
  padding: 20px 0;
}

/* Progress Tracker v2 */
/*ol.progress[data-steps="2"] li { width: 49%; }
ol.progress[data-steps="3"] li { width: 33%; }
ol.progress[data-steps="4"] li { width: 24%; }
ol.progress[data-steps="5"] li { width: 19%; }
ol.progress[data-steps="6"] li { width: 16%; }
ol.progress[data-steps="8"] li { width: 12%; }
ol.progress[data-steps="9"] li { width: 11%; }*/

.progress {
    width: 100%;
    list-style: none;
    list-style-image: none;
    margin: 20px 0 20px 0;
    padding: 0;
    /*background: none;*/
    overflow: unset !important;
    font-size: 18px;
    height: 0.2em;
}

.progress li {
    float: left;
    /*text-align: center;*/
    position: relative;
    margin-top: -21px;
    width: 1000px;
}

.progress li:last-child {
  width: auto;
}

.progress li.active {
  margin-top: -18px;
}

.progress .step {
    color: #fff;
    /*border: 3px solid #e3e4e6;*/
    background-color: #e3e4e6;
    border-radius: 50%;
    line-height: 2.6;
    width: 2.5em;
    height: 2.5em;
    display: inline-block;
    z-index: 0;
    text-align: center;
}

.progress .step span {
    /*opacity: 0.3;*/
}

.progress .active .name,
.progress .active .step span {
    opacity: 1;
}

.progress .step:before {
    content: "";
    display: block;
    background-color: #e3e4e6;
    height: 0.2em;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.progress .step:after {
    content: "";
    display: block;
    background-color: #e3e4e6;
    height: 0.2em;
    width: 50%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    right: 0;
}

.progress li:first-of-type .step:before {
    display: none;
}

.progress li:last-of-type .step:after {
    display: none;
}

.progress .done .step,
.progress .done .step:before,
.progress .done .step:after,
.progress .active .step,
.progress .active .step:before {
    background-color: #0080ff;
}

.progress .active .step {
  border: 8px solid #cce6ff;
  width: 2.9em;
  height: 2.9em;
  line-height: 2em;
}

@media only screen and (max-width: 768px){
  .down-arrow1 {
    bottom: 45px;
  }
}




