<app-header [ngClass]="{'stick': isSticky == true , 'hide': hideMenu}"></app-header>

<div class="d-flex flex-column justify-content-center align-items-center ">
	<div *ngIf="!showFormCreate && !showStaffDetail && staffPermission.length > 0" class="inner-wrapper" [ngClass]="{'pdactive': isSticky == true}">
		<div class="display-flex mr-top-menu">
			<div class="col-md-4 pad-0">
				<div class="d-flex flex-row">
					<h3>Staffs</h3>
					<span class="location-name">{{locationName}}</span>
				</div>
			</div>
			<div class="col-md-8 pad-0">
				<button *ngIf="staffDemo.addStaff != ''" type="button" class="btn btn-primary create-button-pos" (click)="goCreateForm('create')">Add new staff</button>
			</div>
		</div>
		<div class="col-sm-9 col-md-9 col-lg-10 col-xl-12 pad-0">
			<p class="input-recommend">
					This is the list of your ‘Staffs’ that may include teachers, trainers etc. Click on a ‘staff’ to see their profile details
			</p>
		</div>
		
		<div *ngIf="staffPermission[0] != undefined" class="col-md-12 pad-0" style="margin-top: 35px;">
			<div class="input-group col-md-12 pad-0">
				<input 
					class="form-control py-2 input-search-bg" 
					type="search" 
					placeholder="Search staff here"
					id="staff-search-input"
					(input)="userSearch($event.target.value, 'staff','','')"
					autocomplete="off"
					>
				<span class="input-group-append">
					<button class="bt btn-design btn-outline-secondary" type="button">
						<i class="fa fa-search search-size"></i>
					</button>
				 </span>
			</div>
		</div>
		<div class="row display-flex user-group">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 mr-box display-block" *ngFor="let staff of staffLists; let i = index">
				<div class="box-design d-flex flex-row align-items-center" (click)="showDetails(staff, staff.userId)">
					<div class="profileimg-wrap">
					<div class="circular-image">
						<img *ngIf="staff.profilePic == 'undefined'" src="assets/img/user.svg">
						<img *ngIf="staff.profilePic != 'undefined'" src="{{staff.profilePic}}">
					</div>
					</div>
					<div class="info-side d-flex flex-column justify-content-center">
						<div><label class="staff-label">Staff</label></div>
						<h5> {{ (staff.preferredName.length > 20)? (staff.preferredName | slice:0:20)+'...':(staff.preferredName) }}</h5>
						<p class="info-mail">{{staff.email}}</p>
						<p class="info-about" *ngIf="staff.about == 'undefined'">
							-
						</p>
						<p class="info-about" *ngIf="staff.about != 'undefined'">
							<!-- <span>{{staff.about}}</span> -->
							{{ (staff.about.length>48)? (staff.about | slice:0:48)+'...' : (staff.about) }}
						</p>
					</div>
					<div *ngIf="staffDemo.viewStaff != ''" class="right-arrow ml-auto">
						<i class="fa fa-angle-right"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="staffLists.length >= 20 && !showFormCreate && result?.length>0" class="d-flex justify-content-center load-more">
		<button class="btn" (click)="showMore('staff', staffLists.length)">load more</button>
	</div>

	<div *ngIf="showStaffDetail" class="content-wrapper">
		<div class="main-wrapper">
			<div class="d-flex heading-space">
				<div class="back" (click)="backToStaff()">
					<i class="fa fa-angle-left" style="color: #3d5266;font-size: 20px;"></i><span>Staffs</span>
				</div>
				<div class="ml-auto">
					<span class="back" (click)="getSingleInfo(editId)">Edit Profile</span>
				</div>
			</div>
	
			<div class="user-info-wrap d-flex -justify-content-between">
				<div class="d-flex col-left">
						<div class="img-wrap">
							<div class="circular-image">
								<img src="{{staffDetail.user.profilePic}}">
							</div>
						</div>
						<div class="pad-left-15" style="width: 80%">
							<div class="infoGp-wrap">
								<h5>{{staffDetail.user.preferredName}}</h5>
								<p class="info-mail mb-0">{{staffDetail.user.email}}</p>
							</div>
							<div class="infoGp-wrap mb-0">
								<p *ngIf="staffDetail.user.about != ''" class="mb-0 info-p">
									{{ staffDetail.user.about }}
								</p>
								<p *ngIf="staffDetail.user.about ==''" class="mb-0 info-p">
									-
								</p>
							</div>
						</div>
						<div>
							
						</div>
				</div>
				<div class="pad-left-15 col-right">
					<div>
						<div class="infoGp-wrap">
							<label class="info-mail">Full name</label>
							<p class="mb-0 info-p">{{ staffDetail.user.fullName }}</p>
							<!-- <p class="mb-0 info-p">{{ staffDetail.user.firstName }} <span style="padding: 1px"></span>{{staffDetail.user.lastName}}</p> -->
						</div>
						<div class="d-flex info-wrap details-list-wrap">
							<div *ngIf="staffDetail.user.details" class="list-wrapper detail-list">
								<div *ngFor="let detail of staffDetail.user.details" class="child-detail">
									<label class="info-mail">{{detail.name}}</label>
									<p class="mb-0 info-p">{{detail.value}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="btn-wrap">
					<div></div>
				</div>
			</div>
		</div>
	</div>	

	
</div>

<div *ngIf="showFormCreate" class="sticky-back-user" [ngClass]="{'sticky-bar' : isCreateFix == true}">
	<button type="button" class="back-button display-flex" (click)="back()">
		<i class="fa fa-angle-left left-arrow"></i> <p class="back-staff-txt">Staffs</p>
	</button>
</div>

<div class="inner-wrapper-detail" *ngIf="showFormCreate">
	<button type="button" class="back-button display-flex" (click)="back()">
		<i class="fa fa-angle-left left-arrow"></i> <p class="back-staff-txt">Staffs</p>
	</button>
	<div class="col-md-12 pad-0 mr-bt-top">
		<h3>Create staff account</h3>
	</div>
	<form class="form-wrap" novalidate #createForm="ngForm">
		<div class="row display-flex">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-7">
				<div class="form-group form-divider">
					<div class="d-flex justify-content-between">
						<label for="" class="label-txt">What should we call you? <br> <span>e.g. How your call you or like your preferred name</span></label> 
						<div class="limit-wordcount">
							<span>{{wordLength}}/15characters</span>
						</div>
					</div>
					<input type="text" class="form-control " placeholder="Type preferred name here" name="preferredName" [(ngModel)]="formFields.preferredName" #preferredName="ngModel" (focus)="focusMethod($event,'name', $event.target.value)" (blur)="blurMethod($event,'name')" maxlength="15" (input)="changeMethod($event.target.value)" required>
					<div *ngIf="preferredName.invalid && (preferredName.dirty || preferredName.touched)" class="alert alert-danger">
						<div [hidden]="!preferredName.errors.required">
							Display name is required!
						</div>
					</div>
				</div>
				<div class="form-group form-divider">
					<div class="d-flex justify-content-between">
						<label for="firstname" class="label-txt">Full name</label> 	
						<div class="limit-wordcount2">
							<span>{{wordLength}}/60characters</span>
						</div>
					</div>
					<input type="text" class="form-control" placeholder="Type full name here" name="fullName" [(ngModel)]="formFields.fullName" #fullName="ngModel"  (focus)="focusMethod($event,'fullname', $event.target.value)" (blur)="blurMethod($event,'fullname')" maxlength="60" (input)="changeMethod($event.target.value)" required>
					<div *ngIf="fullName.errors && (fullName.dirty || fullName.touched)" class="alert alert-danger">
						<div [hidden]="!fullName.errors.required">
							Full name is required!
						</div>
					</div>
				</div>
				<div class="form-group form-divider">
					<div class="d-flex justify-content-between">
						<label for="about" class="label-txt">About</label> 	
						<div class="limit-wordcount1">
							<span>{{wordLength}}/280characters</span>
						</div>
					</div>
					<textarea class="form-control" rows="3" placeholder="Type about here" name="about" (focus)="focusMethod($event, 'about', $event.target.value)" (blur)="blurMethod($event, 'about')" maxlength="280" (input)="changeMethod($event.target.value)" [(ngModel)]="formFields.about" #about="ngModel"></textarea>
				</div>
				<div class="form-group form-divider">
					<label for="" class="label-txt">Email address</label> 	
					<input type="email" class="form-control" placeholder="Type email address here" (keyup)="validateEmail(formFields.email)" name="email" [(ngModel)]="formFields.email" #email="ngModel" required>
					<div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
						<div [hidden]="!email.errors.required">
							Email is required!
						</div>
					</div>
					<div *ngIf="emailAlert" class="alert alert-danger">
						Please provide a valid email
					</div>
				</div>
				<div *ngIf="!isupdate" class="form-group form-divider">
					<label for="" class="label-txt">Password</label> 	
					<input type="password" class="form-control" placeholder="Type password here" name="password" [(ngModel)]="formFields.password" #password="ngModel" required>
					<div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger">
						<div [hidden]="!password.errors.required">
							Password is required!
						</div>
					</div>
				</div>
				<div *ngIf="isupdate" class="form-group form-divider">				
					<div class="d-flex flex-row">
						<label for="" class="label-txt">Change Password</label>
						<div class="toggle-wrap">
						<label class="switch">
							<input type="checkbox" (change)="changePassword(isPasswordChange)" [checked]="false">
							<span class="slider round"></span>
						</label>
						</div>
					</div>
					<div *ngIf="isPasswordChange">	
						<input type="password" class="form-control" placeholder="Type password here" name="password" [(ngModel)]="formFields.password" #password="ngModel" required>
						<div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger">
							<div [hidden]="!password.errors.required">
								Password is required!
							</div>
						</div>
					</div>
				</div>
				<div class="form-group form-divider" *ngFor="let field of customFields;">
					<label for="guardmail" class="label-txt">{{ field.name }}</label>
					<input *ngIf="field.dataType == 'Number'" type="number" placeholder="{{ field.description }}" name="{{field.name}}" [(ngModel)]="field.value">
					<textarea *ngIf="field.dataType != 'Number'" class="form-control" rows="3" placeholder="{{ field.description }}" name="{{field.name}}" [(ngModel)]="field.value"></textarea>
				</div>
				<div *ngIf="!isupdate" class="col-md-12 pad-bottom">
					<div style="border-bottom: 1px solid #e3e4e6;"  class="form-group" ngFor="let user of permissionLists">
						<label class="label-txt radio" style="padding-bottom: 10px">Permission as</label> 	
						<div class="d-flex flex-wrap">
							<div class="permission-width1" *ngFor="let user of permissionLists; let i = index;" >
								<label for={{user._id}} style="cursor: pointer; position: relative;">
									<div class="permission-box permission-name">
										<input type="radio" id="{{user._id}}" value="{{user._id}}" name="role" [(ngModel)]="formFields.permission" #permission="ngModel" (click)="checkUser(user._id, $event)"><br>
										<span class="capitalize">{{user.name|lowercase}}</span>
										<span class="check"></span>
									</div>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-5" style="display: block;">
				<label for="upload">
					<div *ngIf="!imgDemoSlider" class="profile-box label-txt">
						<div class="form-group">
							<label for="upload" class="profile-label">Profile</label><br>
							<div class="circular-wrap">
								<div class="circular-profile">
								  <img *ngIf="isupdate == false" src="assets/img/user.svg">
								  <img *ngIf="isupdate == true" src="{{returnProfile}}">
								</div>
							</div>
							<div class="demo-wrap upload-demo">
								<div class="container">
									<div class="grid">
										<div class="col-1-2">
											<div class="actions">
												<a class="btn file-btn">
													<input type="file" class="upload-jpg form-control" id="upload" #cropper (change)='uploadCropImg($event)'
													value="Choose a file" accept="image/*" style="display:none" />
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<p>Update photo</p>
						</div>
					</div>		
				</label>
				<div class="frame-upload">
					<div class="upload-demo-wrap">
						<div id="upload-demo"></div>
					</div>
					<div class="row mr-button">
						<div class="col-md-6 crop-box" style="border-bottom-left-radius: 10px;">
							<div class="br-right">
								<button *ngIf="blankCrop" class="upload-result btn1" (click)="backToUpload()">Cancel</button>
							</div>
						</div>
			            <div class="col-md-6 crop-box" style="border-bottom-right-radius: 10px;">
			              <button *ngIf="blankCrop" class="upload-result btn2" id="sizeDisable" (click)="cropResult()" [value]="blankCrop">Crop</button>
			            </div>
					</div>
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-end button-group">
			<button *ngIf="isupdate == false" type="button" class="bt cancel-button" (click)="back()" >Cancel</button>
			<button *ngIf="isupdate == true" type="button" class="bt cancel-button" (click)="backToDetails()" >Cancel</button>
			<button *ngIf="isupdate  == false" type="submit" (click)="createUser(formFields, 'create')" class="btn create-button" [disabled]="!createForm.form.valid || permissionCount== false || emailAlert">Create
			</button>
			<button *ngIf="isupdate  == true" type="submit" (click)="createUser(formFields, 'edit')" class="btn create-button" [disabled]="!createForm.form.valid || emailAlert">Update
			</button>
		</div>
	</form>
</div>
<block-ui message="Deafult Message"></block-ui> 