/* You can add global styles to this file, and also import other style files */
/*@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";*/

@import '../node_modules/croppie/croppie.css';
@import '../node_modules/ng5-toastr/bundles/ng5-toastr.min.css';
@import '~font-awesome/css/font-awesome.css';
@import 'intl-tel-input/build/css/intlTelInput.css';
@font-face {
  font-family: 'Montserrat-Light';
  src:  url('assets/fonts/Montserrat-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Medium';
  src:  url('assets/fonts/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Regular';
  src:  url('assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Semibold';
  src:  url('assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
}

html,
body{
    height: 100%;
    font-family: 'Montserrat-Light','Arial', sans-serif !important;
}
.inner-wrapper{
  padding: 30px;
  overflow-y: scroll;
}
main{
    height: 100%;
}
/*.overflow{*/
	/*overflow-y: auto; */
	/*min-height: 0px;*/
/*}*/
.btn-primary{
	color: #5e5e5e !important;
	background-color: transparent !important;
	border: 1px solid #4292f1 !important;
	padding: 9px !important;
  min-width: 155px;
}
.mb-30{
  margin-bottom: 30px;
}

@keyframes slideInFromTop {
  0% {
    top: -100px;
  }
  100% {
    top: 5px;
  }
}
.animation-wrap {
  animation: 0.3s linear 0s slideInFromTop;
}

.modal-title {
	text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

::placeholder { 
  color: #c4c4c4 !important;
  
}

:-ms-input-placeholder { 
  color: #c4c4c4 !important;
  
}

::-ms-input-placeholder {
    color: #c4c4c4 !important;
    
}

.select2-container .select2-selection--single{
  height: 38px !important;
  padding-top: 3px !important;
  border: 1px solid #ced4da !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  top: 5px !important;
}
.btn-light1{
  padding: 9px !important;
  min-width: 155px;
  border: 1px solid #ccc !important;
}

.btn-danger {
  color: red !important;
  background-color: transparent !important;
  border: 1px solid red !important;
  padding: 9px !important;
  min-width: 155px;
}

.btn-not-allowed {
  cursor: not-allowed;
}
app-dashboard,
app-tools,
app-users{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.rating {
  justify-content: left !important;
}

.info-group .rating {
  margin-left: -6px;
}

svg.star-filled.default-star-filled-icon {
  fill: #888 !important;
  border-radius: #ddd !important;
}

.star svg{
  fill: #888 !important;
}

.iti-arrow{
  left: 87px;
  margin-top: -4px !important;
}
.intl-tel-input{
  display: block;
  /*padding: 0 100px;*/
}
.intl-tel-input .selected-flag{
  position: absolute;
  width: 90px !important;
}
.intl-tel-input .country-list{
  top: 35px;
  width: 250px;
}
.intl-tel-input .selected-flag .iti-flag{
  top: -5px;
}
/*.stickywrap .first-row {
  display: none !important;
}*/
/*.stickywrap .sidebar-wrap {
    position: fixed;
    z-index: 99;
    width: 100%;
    background: #fff;
    top: 0;
}*/
.stick #header{
  -ms-transform: translateY(-85px) !important;
  transform: translateY(-85px) !important;
}
.stick .sidebar-wrap{
  -moz-box-shadow: 0 1px 8px 0px rgba(187, 186, 186, 0.4);
  -ms-box-shadow: 0 1px 8px 0px rgba(187, 186, 186, 0.4);
  box-shadow: 0 1px 8px 0px rgba(187, 186, 186, 0.4);
}
.side-bar-wrap{
  position: fixed;
  width: inherit;
  height: 100%;
  border-right: 1px solid #dedede;
  transition: height 300ms linear, transform 300ms linear;
}