/* You can add global styles to this file, and also import other style files */
/*@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";*/

@import '../node_modules/croppie/croppie.css';
@import '../node_modules/ng5-toastr/bundles/ng5-toastr.min.css';
@import '~font-awesome/css/font-awesome.css';
@import 'intl-tel-input/build/css/intlTelInput.css';
@font-face {
  font-family: 'Montserrat-Light';
  src:  url('assets/fonts/Montserrat-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Medium';
  src:  url('assets/fonts/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Regular';
  src:  url('assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Semibold';
  src:  url('assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
}

html,
body{
    height: 100%;
    font-family: 'Montserrat-Light','Arial', sans-serif !important;
}
.inner-wrapper{
  padding: 30px;
  overflow-y: scroll;
}
main{
    height: 100%;
}
/*.overflow{*/
	/*overflow-y: auto; */
	/*min-height: 0px;*/
/*}*/
.btn-primary{
	color: #5e5e5e !important;
	background-color: transparent !important;
	border: 1px solid #4292f1 !important;
	padding: 9px !important;
  min-width: 155px;
}
.mb-30{
  margin-bottom: 30px;
}

@keyframes slideInFromTop {
  0% {
    top: -100px;
  }
  100% {
    top: 5px;
  }
}
.animation-wrap {
  animation: 0.3s linear 0s slideInFromTop;
}

.modal-title {
	text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

::placeholder { 
  color: #c4c4c4 !important;
  
}

:-ms-input-placeholder { 
  color: #c4c4c4 !important;
  
}

::-ms-input-placeholder {
    color: #c4c4c4 !important;
    
}

.select2-container .select2-selection--single{
  height: 38px !important;
  padding-top: 3px !important;
  border: 1px solid #ced4da !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  top: 5px !important;
}
.btn-light1{
  padding: 9px !important;
  min-width: 155px;
  border: 1px solid #ccc !important;
}

.btn-danger {
  color: red !important;
  background-color: transparent !important;
  border: 1px solid red !important;
  padding: 9px !important;
  min-width: 155px;
}

.btn:disabled {
  cursor: not-allowed !important;
}
app-login,
app-dashboard,
app-tools{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.rating {
  justify-content: left !important;
  margin-top: 2px!important;
  margin-bottom: 6px!important;
}

.info-group .rating {
  margin-left: -6px;
}

svg.star-filled.default-star-filled-icon {
  fill: #788796 !important;
  border-radius: #ddd !important;
}

.star svg{
  fill: #788796 !important;
  width: 15px !important;
}

.star{
  width: 17px!important;
  height: 17px!important;
}


.iti-arrow{
  left: 87px;
  margin-top: -4px !important;
}
.intl-tel-input{
  display: block;
  /*padding: 0 100px;*/
}
.intl-tel-input .selected-flag{
  position: absolute;
  width: 90px !important;
}
.intl-tel-input .country-list{
  top: 35px;
  width: 250px;
}
.intl-tel-input .selected-flag .iti-flag{
  top: -5px;
}
/*.stickywrap .first-row {
  display: none !important;
}*/
/*.stickywrap .sidebar-wrap {
    position: fixed;
    z-index: 99;
    width: 100%;
    background: #fff;
    top: 0;
}*/
.stick #header{
  -ms-transform: translateY(-85px) !important;
  transform: translateY(-85px) !important;
}
.stick .sidebar-wrap{
  -moz-box-shadow: 0 1px 8px 0px rgba(187, 186, 186, 0.4);
  -ms-box-shadow: 0 1px 8px 0px rgba(187, 186, 186, 0.4);
  box-shadow: 0 1px 8px 0px rgba(187, 186, 186, 0.4);
}
.side-bar-wrap{
  background: #f2f4f5;
  position: fixed;
  width: inherit;
  height: 100%;
  z-index: 9;
  /*border-right: 1px solid #dedede;*/
  transition: height 300ms linear, transform 300ms linear;
}

.drag-wrapper .drag-scroll-content {
  width: 100% !important;
}
/*===timezone picker===*/
ng2-timezone-picker.newpick .select2-selection__arrow{
  display:none!important;
}
.newpick .select2-selection--single{
  border: 0!important;
  border-color: transparent!important;
}
.newpick .select2-selection__rendered{
  color: #2e3e4d;
  font-size: 16px;
  font-family: 'Montserrat-SemiBold','Arial', sans-serif;
  font-weight: 900;
}

.custom-dropdown .dropdown-menu {
  right: 0;
  left: unset !important;
  top: 138% !important;
  padding: 0 15px;
  color: #2e3d4d !important;
}

/*===timezone picker Edit===*/
ng2-timezone-picker.editTimezone .select2-selection--single{
  background-color: #f2f4f5!important;
  outline: none;
}
ng2-timezone-picker.editTimezone .select2-selection__rendered{
  color: #2e3d4d;
  font-size: 16px;
  font-family: 'Montserrat-Medium','Arial', sans-serif;
}
ng2-timezone-picker.editTimezone .select2-selection__arrow b{
  display: none;
}
ng2-timezone-picker.editTimezone .select2-selection__arrow::before{
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  content: '';
  display: inline-block;
  height: 0.55em;
  right: 0.15em;
  position: relative;
  top: 7px;
  transform: rotate(135deg);
  vertical-align: top;
  width: 0.55em;
  color: #3d5266;
}

/*.modal-dialog{
    width: 320px !important;
    top: 30%;
}*/

@media (min-width: 576px){
   .modal-dialog {
       /*max-width: 500px;*/
       max-width: 320px !important;
       margin: 0 auto !important;
       top: 30%;
   } 
}

/*===back to top button===*/
span.scrollup{
  width: 46px;
  height: 46px;
  line-height: 46px;
  font-size: 24px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  background-color: #0080ff;
  position: fixed;
  right: 60px;
  cursor: pointer;
  opacity: 0;
  bottom: 0;
  transition: all 0.75s ease-in-out;
}

span.scrollup.show{
  opacity: 1;
  bottom: 60px;
}

span.scrollup:before {
    content: '';
    width: 64px;
    height: 64px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #0080ff;
    opacity: .3;
    position: absolute;
    top: -9px;
    left: -9px;
    transform: scale(0.5);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
span.scrollup.show:hover:before {
    transform: scale(1);
}

.custom-dropdown-width .dropdown-menu {
    height: 365px;
    overflow: scroll;
    right: 15px;
    padding: 0;
    margin: 0;
    box-shadow: 0px 4px 12px -1px rgba(221,221,221,1);
    border: none;
    border-top: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: unset;
    border-top-right-radius: unset;
}
.custom-dropdown-width .dropdown-menu .dropdown-item {
    padding: 15px 20px 0 20px !important;
    cursor: pointer;
}

.custom-dropdown-width .dropdown-menu .dropdown-item.active {
  background-color: #f2f4f5;
  color: unset;
}

.custom-dropdown-width .dropdown-menu .dropdown-item:focus {
  outline: none;
}

