.font-medium{
  font-family: 'Montserrat-Medium',Arial,sans-serif;
}
.font-semi{
  font-family: 'Montserrat-Semibold',Arial,sans-serif;
}
textarea, input, select {
  font-family: "Montserrat-Regular", Arial,sans-serif;
}
header div{
  height: 1.4rem;
}
.create-container{
  /*overflow: hidden;*/
}
.header-wrapper{
  padding: 20px 30px;
}
.courseInfo p{
  color: #64707d;
  font-size: 12px;
  line-height: 1.7
}
.courseInfo h5{
  font-size: 16px;
  color: #2e3e4d;
}
.back p{
  font-size: 16px;
  color: #2e3e4d;
  cursor: pointer;
}
.back i{
  font-size: 21px;
  padding-right: 4px;
}
.btn-cancel{
  padding: 0;
  border: none;
  outline: none;
  color: #2e3d4d;
  cursor: pointer;
  font-size: 16px;
  background: #fff;
}
.sticky-dot {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  color: #788796;
  font-size: 30px;
  margin-top: -13px;
}
.progress-box-wrap {
  box-shadow: 0 6px 15px -9px rgba(184,184,184,1);
  border-top: 1px solid #edeff0;
  padding: 10px 30px;
  /*padding: 30px;
  height: 7.2em;*/
}
.progress {
    width: 100%;
    list-style: none;
    list-style-image: none;
    margin: 25px 0 25px 0;
    padding: 0;
    /*background: none;*/
    overflow: unset !important;
    font-size: 18px;
    height: 0.2em;
}

.progress li {
    float: left;
    /*text-align: center;*/
    position: relative;
    margin-top: -17px;
    width: 1000px;
}

.progress li:last-child {
  width: auto;
}

.progress li.active {
  margin-top: -22px;
}

.progress .step {
    color: #fff;
    /*border: 3px solid #e3e4e6;*/
    background-color: #e3e4e6;
    border-radius: 50%;
    line-height: 2;
    width: 2em;
    height: 2em;
    display: inline-block;
    z-index: 0;
    text-align: center;
}

.progress .step span {
    /*opacity: 0.3;*/
}

.progress .active .name,
.progress .active .step span {
    opacity: 1;
}

.progress .step:before {
    content: "";
    display: block;
    background-color: #e3e4e6;
    /*height: 0.2em;*/
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.progress .step:after {
    content: "";
    display: block;
    /*background-color: #e3e4e6;*/
    /*height: 0.2em;*/
    width: 50%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    right: 0;
}

.progress li:first-of-type .step:before {
    display: none;
}

.progress li:last-of-type .step:after {
    display: none;
}

.progress .done .step,
.progress .done .step:before,
.progress .done .step:after,
.progress .active .step,
.progress .active .step:before {
    background-color: #0080ff;
}

.progress .active .step {
  border: 6px solid #cce6ff;
  width: 2.6em;
  height: 2.6em;
  line-height: 2em;
}

.progress li.done {
  background: #007fff;
  margin-top: 1px;
}

.progress li.done .step{
  position: absolute;
  bottom: -15px;
}

.inside-data-wrapper {
  padding: 50px 60px;
  min-height: 600px;
}

.inside-data-wrapper input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px #fff inset;
  -moz-box-shadow: 0 0 0 100px #fff inset;
  box-shadow: 0 0 0 100px #fff inset !important;
}

.step-font, .txt-default, .small-caption {
  font-family: 'Montserrat-SemiBold', Arial,sans-serif; 
  color: #64707d;
}
.all-title-font {
  font-family: "Montserrat-SemiBold",Arial,sans-serif;
  color: #2e3e4d;
  font-size: 18px;
}
.text-font-align {
  font-size: 28px;
  line-height: 0.8;
}
.br-bshadow-none {
  border: none; 
  box-shadow: none;
  /*margin-left: -10px;*/
}
.all-left-box-10 {
  margin-left: -10px;
}
.alert-m-right{
  margin-right: 20px;
}
.limit-hr-length {
  width: 98%;
  margin-right: 15px;
}
.hoverReadonly:focus, select:focus, input:focus, textarea:focus {
  box-shadow: 0 1px 5px 1px rgba(221, 221, 221, 0.6);
  background: #1A000000 !important;
}
.sticky-create {
  float: right; 
  color: #ffffff; 
  background: #007fff;
  cursor: pointer;
}
.sticky-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px 30px;
}
.input-day{
  border: 0;
  padding: 8px 15px;
  width: 300px;
  background: #f2f4f5;
  outline: none;
  box-shadow: 0 1px 3px 2px rgba(213, 213, 213, 0.3);
  background: #ffffff;
}
.input-day::placeholder {
  color: #2e3d4d;
  font-size: 14px;
  font-family: 
}
.tool-box{
  display: table;
  border: 2px solid #0080ff;
  border-radius: 4px;
  margin-bottom: 16px;
  margin-top: 13px;
}
.tool-box input{
  display: none;
}
.tool-box label{
  width: 150px;
  padding: 8px 0px;
  text-align: center;
  font-size: 14px;
  color: #0080ff;
}

.selected{
  background: #0080ff;
  color: #fff!important;
}
.input-wrap{
  margin: 13px 0px;
}
.duration{
  background: #d3d3d3;
  width: 60px;
  padding: 6px;
  text-align: center;
  border-radius: 50px 50px;
}