<ng-template id="myModal" #content let-c="close" let-d="dismiss">
	<div *ngIf="!showCourse">
	  <div class="modal-header" style="text-align: center;">
	    <h4 style="text-align: center;">Choose Course Plan</h4>
	    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
	      <span aria-hidden="true">&times;</span>
	    </button>
	  </div>
	  <div class="modal-body">
	    <ul class="item-list">
		     <li *ngFor="let plan of coursePlanTest">
		     	<label>
		     		<input type="radio" name="cplan" value="{{plan._id}}" #cplan [(ngModel)]="choosePlan">
		     		{{plan.name}}
		     	</label> 
		     </li>
		</ul>
	  </div>
	  <div class="modal-footer">
	    <button type="button" class="btn btn-danger" (click)="c('Close click')">Close</button>
	    <button type="button" class="btn btn-primary" (click)="showCourseModal(choosePlan,course)">Submit</button>
	  </div>
	</div>
	<div *ngIf="showCourse">
		<div class="modal-header">
			<button (click)="back()">Back</button>
			<h4 class="modal-title">Choose Course Plan</h4>
			<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
		      <span aria-hidden="true">&times;</span>
		    </button>
		</div>
		<div class="modal-body">
			<form (ngSubmit)="onSubmit()" #heroForm="ngForm">
				<div class="form-group">
					<label for="alterEgo">coursePlanId</label>
					<input type="text" class="form-control" id="coursePlanId" [(ngModel)]="model.coursePlanId" name="coursePlanId" #coursePlanId="ngModel">
					<!-- <div [hidden]="teacherId.valid || teacherId.pristine" class="alert alert-danger">
					  Teacher ID is required
					</div> -->
				</div>
				<div class="form-group">
					<label for="alterEgo">courseName</label>
					<input type="text" class="form-control" id="name" [(ngModel)]="model.courseName" name="name" #name="ngModel">
					<!-- <div [hidden]="teacherId.valid || teacherId.pristine" class="alert alert-danger">
					  Teacher ID is required
					</div> -->
				</div>
				<div class="form-group calendar-wrap">
					<div class="flex-item" >
				      <input type="text" name="txt" class="image" placeholder="Start Date" name="dp" [(ngModel)]="model.startDate" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
  					  <div class="overlay" (click)="d.toggle()"><img src="./assets/img/calendar.png"></div>
				    </div>
				    <div class="flex-item">
				      <input type="text" name="txt" class="image" placeholder="End Date" name="dp" [(ngModel)]="model.endDate" ngbDatepicker #n="ngbDatepicker" (click)="n.toggle()">
  					  <div class="overlay" (click)="n.toggle()"><img src="./assets/img/calendar.png"></div>
				    </div>
				</div>
				<div class="form-group">
					<select class="form-control" id="user"
			        required [(ngModel)]="model.teacherId" name="user" #user="ngModel">
			          <option value="" disabled="true">Select teacher Id</option>
			          <option *ngFor="let user of users" [value]="user.userId">{{user.userId}}</option>
			        </select>
			        {{model.teacherId}}
				</div>
				<div class="form-group">
					<label for="alterEgo">Course Code</label>
					<input type="text" class="form-control" id="courseCode" [(ngModel)]="model.courseCode" name="courseCode">
				</div>
				<div class="form-group">
					<select class="form-control" id="user"
			        required [(ngModel)]="model.locationId" name="location" #location="ngModel">
			          <option value="" disabled="true">Select Location</option>
			          <option *ngFor="let location of locationList" [value]="location._id">{{location.name}}</option>
			        </select>
			        {{model.locationId}}
				</div>
				<div class="form-group">
					<label for="alterEgo">Room</label>
					<input type="text" class="form-control" id="room" [(ngModel)]="model.room" name="room">
				</div>
				<div class="form-group">
					<label for="alterEgo">Reserved Number of Seat</label>
					<input type="number" class="form-control" id="regionId" [(ngModel)]="model.reservedNumSeat" name="regionId">
				</div>
				<div class="form-group">
					<label for="alterEgo">Description</label>
					<input type="text" class="form-control" id="description" [(ngModel)]="model.description" name="description" #description="ngModel">
					<!-- <div [hidden]="description.valid || description.pristine"
					     class="alert alert-danger">
					  Description is required
					</div> -->
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-danger" (click)="c('Close click')">Close</button>
			<button type="button" class="btn btn-primary" (click)="createCourse()">Submit</button>
		</div>
	</div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Course Create</button>
<pre>{{courseObj | json}}</pre>

