<div class="mb-30">
	<button type="button" class="btn btn-primary " (click)="open(content, isEdit=false)">+ create Template</button>
</div>
<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
    <h4 *ngIf="isUpdate == false" class="modal-title">Create Template</h4>
    <h4 *ngIf="isUpdate == true" class="modal-title">Update Template</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form novalidate #templateForm="ngForm">
  	<div class="modal-body">
  		<div class="form-group">
  			<label for="name">Name</label>   
  			<input type="text" class="form-control" placeholder="location name" name="name" [(ngModel)]="item.name" required #name="ngModel">
  		</div>
  		<div class="form-group">
  			<label for="description">Description</label>   
  			<textarea class="form-control" rows="3" placeholder="Address" name="description" [(ngModel)]="item.description" required #description="ngModel"></textarea>
  		</div>
      <div class="form-group">
        <label for="desc">Module</label>  
        <div> 
          <div class="form-check form-check-inline" *ngFor="let module of moduleLists; let i = index">
            <label *ngIf="module._id != null" class="form-check-label">
              <input class="form-check-input" 
                type="radio" 
                name="moduleId" 
                value="{{module._id}}" 
                [(ngModel)]="item.moduleId"
                #moduleId="ngModel"
                required> {{module.name}}
            </label>
          </div>
        </div>
      </div>
  		<div class="form-group">
  			<label for="desc">AP lists</label>   
  			<div>
  				<div class="form-check form-check-inline" *ngFor="let aplist of apLists; let i = index">
  				  <label class="form-check-label">
                <input class="form-check-input" 
                type="checkbox" 
                name="AP" 
                value="{{aplist.name}}" 
                [checked]="aplist.checked"
                (change)="checkedOptions(aplist, $event)"
                required> {{aplist.name}}
  				  </label>
  				</div>
  			</div>
  		</div>
  	</div>
  	<div class="modal-footer">
  	  <button type="submit" class="btn btn-light1" (click)="c('Close click')">Close</button>
  	  <button *ngIf="isUpdate == false" type="submit" class="btn btn-primary" (click)="createTemplate(item, false)" [disabled]="!templateForm.valid">Create</button>
  	  <button *ngIf="isUpdate == true" type="submit" class="btn btn-primary" (click)="createTemplate(item, true, currentId)">Update</button>
  	</div>
  </form>
</ng-template>

<ng-template #deletemodal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 *ngIf="isUpdate == false" class="modal-title">Delete Template</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete <span class="bold-text">"{{templateName}}"</span></p>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-light1" (click)="c('Close click')">Cancel</button>
    <button type="submit" class="btn btn-primary" (click)="deleteTemplate(currentID)" >Delete</button>
  </div>
</ng-template>

<ng-template #sharemodal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 *ngIf="ispublic == false" class="modal-title">Share Template</h4>
    <h4 *ngIf="ispublic == true" class="modal-title">Unshare Template</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form novalidate #shareForm="ngForm">
    <div class="modal-body">
      <p *ngIf="ispublic != true">Are you sure you want to share the following template to public</p>
      <p *ngIf="ispublic == true">You have already shared this template to public. Do you want to unshare the template.</p>
      <div>
        <p>{{singleTemplateName}}</p>
        <p>{{singleTemplateDesc}}</p>
      </div>
      <div class="form-group">
        <div class="form-check">
            <label class="form-check-label" *ngIf="ispublic != true">
              <input type="checkbox" class="form-check-input" 
                name="public" 
                [(ngModel)]="item.public"
                [checked]="item.public" 
                #public="ngModel"
                >
              Enable public to share this template
            </label>
            <label class="form-check-label" *ngIf="ispublic == true">
              <input type="checkbox" class="form-check-input" 
                name="public" 
                [(ngModel)]="item.public"
                [checked]="item.public" 
                #public="ngModel"
                disabled 
                >
              Enable public to share this template
            </label>
        </div> 
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-light1" (click)="c('Close click')">Cancel</button>
      <button *ngIf="ispublic != true" type="submit" class="btn btn-primary" (click)="shareTemplate(item, true)" [disabled]="!shareForm.valid || item.public == false">Share</button>
      <button *ngIf="ispublic == true" type="submit" class="btn btn-primary" (click)="shareTemplate(item, false)">Unshare</button>
    </div>
  </form>
</ng-template>

<block-ui message="Deafult Message"></block-ui>

<div class="scrollable container">
  <h2 *ngIf="isempty == true">No template has created yet</h2>
	<ul class="list-group-flush">
    <li class="list-group-item" *ngFor="let temp of tempLists; let i = index">
      {{i+1}}- {{temp.name}}
      <button type="button" class="btn btn-secondary float-right btn-sm margin-left" (click)="deleteModal(deletemodal, temp._id, temp.name)">Delete</button>
      <button type="button" class="btn btn-secondary float-right btn-sm margin-left" (click)="editTemplate(temp._id, content)">Edit</button>
      <button *ngIf="temp.public == false" type="button" class="btn btn-secondary float-right btn-sm margin-left" (click)="shareModal(sharemodal, temp._id)">Share</button>
      <button *ngIf="temp.public == true" type="button" class="btn btn-secondary float-right btn-sm margin-left" (click)="shareModal(sharemodal, temp._id)">Unshare</button>
    </li>
   
  </ul>
</div>
