.show {
  display: block !important;
}

ul.noti-dropdown {
  list-style: none;
  display: block;
  margin: 0;
  -ms-transition: 300ms linear;
  transition: 300ms linear;
  display: none;
}
ul.noti-dropdown li:last-child {
  border-bottom: 1px solid #e3e4e6;
}
ul.noti-dropdown li {
  cursor: pointer;
  margin-left: 23px;
  border-top: 1px solid #e3e4e6;
  padding: 16px 0;
  margin-right: 20px;
}

.noti-dropdown .active {
  color: #4292f1;
}

.main-content {
  margin-left: 240px;
  width: 100%;
  overflow-x: hidden;
}

@media only screen and (min-width: 1366px) {
  .main-content {
    margin-left: 320px;
  }
}
